<template>
  <div id="contact-show" class="d-flex flex-column full-width position-relative">
    <bread-crumb-component :showSettingsButton="false"
      without-form="none" title="Contacts" titleLink="/contacts"
      :subtitle="contact.name" class="bread-div" id="">
    </bread-crumb-component>
    <div class="main-scrollable-area position-relative">
       <div v-if="viewState == 'LOADING'" class="full-height row justify-content-center align-items-center">
        <div><img style="width: 30px; height: 30px;" src="@/assets/img/rolling_anim.svg"/></div>
      </div>
      <!-- <div v-else-if="contactsViewState == 'ERROR'" class="full-height d-flex flex-column justify-content-center align-items-center">
          <div>Failed to fetch contact</div>
          <button @click="fetchContacts" class="retry-btn">Retry</button>
      </div> -->
      <customer-info class="full-height"></customer-info>
      <sliding-panel :wider="true">
        <tabbed-view-contacts></tabbed-view-contacts>
      </sliding-panel>
    </div>
  <!-- <two-pane-container :collapsible="true" style="flex: 1;">
    <customer-info slot="pane-one"></customer-info>
    <tabbed-view-contacts slot="pane-two"></tabbed-view-contacts>
  </two-pane-container> -->
</div>
</template>

<script>
//import Repository from '../../../services/Repository.js'
import { mapGetters, mapActions } from 'vuex'
import leftChevron from '../../../assets/img/left_chevron.png'
import rightChevron from '../../../assets/img/right_chevron.png'
import BreadCrumbComponent from '@/components/BreadCrumbComponent'
import CustomerInfo from '@/components/CustomerInfo'
import SlidingPanel from '@/components/SlidingPanel'
import TabbedViewContacts from '@/components/TabbedViewContacts'
import store from '@/store'
import updateFarmerChannel from '@/channels/updateFarmerChannel'
import Contact from '@/models/Contact.js'
export default {
  name: 'ContactShow',
  props: ['id'],
  components: {
    'bread-crumb-component': BreadCrumbComponent,
    'customer-info': CustomerInfo,
    'sliding-panel': SlidingPanel,
    'tabbed-view-contacts': TabbedViewContacts,
  },
  created () {
    // this.$store.dispatch('findContact', this.id)
    //  .then(() => {console.log("fetched")}) ;
    
  },
  beforeRouteEnter (to, from, next) {
    let contactId = to.params.id
    // if current agent is the same dont refetch data
    if(store.getters.initialDataState == 'LOADED'){
      store.dispatch('findContact', to.params.id)
    }
    next()    
  },
  beforeRouteUpdate (to, from, next) {
    let contactId = to.params.id
    // if current agent is the same dont refetch data
    store.dispatch('findContact', to.params.id)
    next()
  },
  mounted () {
    if(this.contact && this.contact.id){
      updateFarmerChannel.subscribe(this.contact.id, this.onFarmerUpdated)
    }
  },
  watch: {
    contact (newValue, oldValue) {
      if(oldValue && oldValue.id){
        updateFarmerChannel.unsubscribe(oldValue.id, this.onFarmerUpdated)
      }
      if(newValue && newValue.id){
        updateFarmerChannel.subscribe(newValue.id, this.onFarmerUpdated)
      }
    }
  },
  beforeDestroy(){
    if(this.contact && this.contact.id){
      updateFarmerChannel.unsubscribe(this.contact.id, this.onFarmerUpdated)
    }
  },
  computed: {
    ...mapGetters({
      contact: 'currentContact',
      initialDataState: 'initialDataState',
      viewState: 'currentContactViewState'
    })
  },
  data () {
    return {
    }
  },
  methods: {
    fetchInitialData ({store, route}) {
      return store.dispatch('findContact', route.params.id)
    },
    onFarmerUpdated (data) {
      if(data && this.contact && this.contact.id == data.id){
        this.$store.commit('SET_CONTACT', new Contact(data))
        this.$notify.info(`${data.first_name} updated`)
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style  lang="scss">
@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixins';


</style>

<style lang="scss" scoped>
  // #contact-show{
  //   .drawer{
  //     width: 30%;
  //     right: -30%;

  //      &.on {
  //       //width: 0px;
  //       animation: slideInHere .2s ease-in-out both;
  //     }

  //     &.off {
  //       //width: 30%
  //       animation: slideOutHere .2s ease-in-out both;
  //     }
  //   }


  // }

  // @keyframes slideInHere {
  //   0%   { right: -30%; }
  //   100% { right: 0; }
  // }
  // @keyframes slideOutHere {
  //   0%   { right: 0; }
  //   100% { right: -30%; }
  // }
</style>
