<template>
  <div>

    <div class="slide-panel slider" id="add-edit-user">

        <div class="row padding-ten">
            <div class="col-5 " id="menu">
                <h5>New User</h5>
            </div>
        </div>
        <div class="dividerL"></div>
        <div class="row" >
            <div class="col-4 no-margin no-padding flex-column" style="border-right:2px solid #f0f0f0;">
                <div class="input-group">
                    <input style="height:30px; font-size:12px" type="text" class="form-control" name="email" placeholder="Search a field">
                    <span class="input-group-addon white-background"><i class="glyphicon glyphicon-search"></i></span>
                </div>
                <div style="width: 100%" class="panel-group white-background" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading user-header">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span>
                                    <img src="/assets/images/add (1).png" alt="">
                                </span>Basic Information</a> 
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <a class="black-text" @click="scrollToSegment('address')">Address</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a class="black-text" @click="scrollToSegment('phone')">Phone Number</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a class="black-text" href="">Social Profiles</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a class="black-text" href="">Identity Information</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a class="black-text" href="">Employee</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="panel panel-default">
                        <div class="panel-heading white-background">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span><img src="/assets/images/add (1).png" alt="">
                                </span>Images</a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse"></div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading white-background">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span><img src="/assets/images/add (1).png" alt="">
                                </span>Third Party Services</a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse"></div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading white-background">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span><img src="/assets/images/add (1).png" alt="">
                                </span>Branch</a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse"></div>
                    </div> -->
                </div>
            </div>
            <div id="basic-info" class="col-8 no-margin no-padding">
                <h5 style="padding-left:20px;line-height: 5vh">BASIC INFORMATION</h5>
                <div id="basic-scroll" class="scroll" style="height:calc(100% - 5vh);">
                    <!-- <div v-for="(parent, ind) in products.sections"> -->
                    <form v-on:submit.prevent="" >
                    
                    <div class="p-0 mb-4">
                        <div>
                          <input-form v-model="form.first_name" title="First Name"   placeholder="First name"></input-form>
                          <p v-if="form.first_name==''" class="error p-0 m-0">This field is required</p>
                        </div>
                    </div>
                    <div class="p-0 mb-4">
                        <div>
                          <input-form v-model="form.surname" title="Surname"   placeholder="Surname"></input-form>
                          <p v-if="form.surname==''" class="error p-0 m-0">This field is required</p>
                        </div>
                    </div>
                    <div class="p-0 mb-4">
                        <div>
                          <input-form v-model="form.other_names" title="Othernames"   placeholder="Othernames"></input-form>
                        </div>
                    </div>
                     <div class="p-0 mb-4">
                          <div  class="input-form m-0">
                            <div class="form-group black-text m-0">
                              <label class="mb-1">Date Of Birth</label> 

                              <datepicker
                                  calendar-button-icon="fa fa-calendar"
                                  :bootstrap-styling="true"
                                  placeholder="date of birth"
                                  v-model="form.dob"
                                  :calendar-button="false"  :value="form.dob">
                                </datepicker>
                            </div>
                            </div>
                        
                    </div>
                    <div class="p-0 mb-4">
                        <div>
                          <input-form v-model="form.email_address" title="Email Address"   placeholder="Email Address"></input-form>
                        </div>
                    </div>
                    <div class="p-0 mb-4">
                        <div>
                          <input-form title="Place Of Birth" placeholder="Place of Birth"></input-form>
                        </div>
                    </div>
                    <div class="p-0 mb-4">
                        <div>
                          <input-form v-model="form.code" title="Code"   placeholder="Code"></input-form>
                        </div>
                    </div>
                    <div class="p-0 mb-4">
                        <label for="town">User Group</label>
                        <!-- <select style="width:100%" v-model="form.group">
                            <option v-for="option in user_roles" v-bind:value="option.id">
                                {{option.name}}
                            </option>
                        </select> -->
                        <v-select
                            :allowOtherValues="false"
                            :taggable = false
                            :searchable="true"
                            label="name"
                            :clearable="false"
                            :orange="false" 
                            modelPath="id"
                            v-model="form.group_assigned_id"
                            :options="user_roles">
                        </v-select>
                    </div>
                    <div data-form-segment="address" >
                            <div class="form-subheader form-header d-flex flex-row align-items-center">
                                <h6 class="uppercase medium no-padding no-margin">Address</h6>
                                <div class="dividerS"></div>
                            </div>
                        <div v-for="(address, index) in  form.addresses"> 
                          <div v-if="index > 0" class="d-flex justify-content-between" style="margin: 10px 0;">
                            <div>Address {{index + 1}}</div>
                            <div @click="removeAddress(index)">remove</div>
                          </div>
                          <div class="p-0 mb-4">
                              <div>
                                <input-form v-model="address.house_number" title="House Number"   placeholder="House Number"></input-form>
                              </div>
                          </div>
                          <div class="p-0 mb-4">
                              <div>
                                <input-form v-model="address.street" title="Street"   placeholder="Street"></input-form>
                              </div>
                          </div>
                          <div class="p-0 mb-4">
                              <div>
                                <input-form v-model="address.suburb" title="Suburb"   placeholder="Suburb"></input-form>
                              </div>
                          </div>
                          <div class="p-0 mb-4">
                            <div>
                              <input-form v-model="address.city" title="City"   placeholder="City"></input-form>
                            </div>
                        </div>
                        <div class="p-0 mb-4">
                            <div>
                              <input-form v-model="address.post_code" title="PostCode"   placeholder="PostCode"></input-form>
                            </div>
                        </div>
                        <div class="p-0 mb-4">
                            <div>
                                <label for="">Region</label>
                                <v-select
                                    :allowOtherValues="false"
                                    :taggable = false
                                    :searchable="true"
                                    label="name"
                                    :clearable="false"
                                    :orange="false" 
                                    modelPath="id"
                                    v-model="address.region"
                                    :options="regions">
                                </v-select>
                              <!-- <select-form :options="regions" v-model="address.region" title="Region"   placeholder="PostCode"></select-form> -->
                            </div>
                        </div>
                        </div>
                        <div class="d-flex flex-row justify-content-end">
                          <button v-if="form.addresses.length < 2" @click="addAddress" class="blue btn add-more book">
                            Add Another Address
                          </button>
                        </div>
                        

                    </div>
                    <div data-form-segment="phone" >
                            <div class="form-subheader form-header d-flex flex-row align-items-center">
                                <h6 class="uppercase medium no-padding no-margin">Phone Number</h6>
                                <div class="dividerS"></div>
                            </div>
                        <div v-for="(phone, index) in  form.phone_numbers">
                          <div v-if="index > 0" class="d-flex justify-content-between" style="margin: 10px 0;">
                            <div>Phone Number {{index + 1}}</div>
                            <div @click="removePhone(index)">remove</div>
                          </div>
                          <div class="p-0 mb-4">
                              <div>
                                <input-form v-model="phone.carrier" title="Carrier"   placeholder="Carrier"></input-form>
                              </div>
                          </div>
                          <div class="p-0 mb-4">
                              <div>
                                <input-form v-model="phone.number" title="Phone"   placeholder="Phone"></input-form>
                                <p v-if="phone.number.length<10 || phone.number.length>10" class="error p-0 m-0">The phone number should be 10 digits</p>
                              </div>
                          </div>
                          
                        
                        </div>
                        <div class="d-flex flex-row justify-content-end">
                          <button v-if="form.phone_numbers.length < 2" @click="addPhone" class="blue btn add-more book">
                          Add Another Phone Number
                          </button>

                        </div>
                        
                    </div>
                    </form>

                </div>
                <!-- <div class="scroll" style="height:calc(100% - 5vh);">
                    <form action="">
                        <div class="form-group black-text">
                            <label for="first-name">First Name</label>
                            <input v-model="firstName" id="first-name" type="text" class="form-control">
                            <p v-if="firstName==''" class="error p-0 m-0">This field is required</p>
                        </div>
                        <div class="form-group black-text">
                            <label for="last-name">Last Name</label>
                            <input v-model="lastName" id="last-name" type="text" class="form-control">
                            <p v-if="lastName==''" class="error p-0 m-0">This field is required</p>
                        </div>
                        <div class="form-group black-text">
                            <label for="middle-name">Middle Name</label>
                            <input v-model="middleName" id="middle-name" type="text" class="form-control">
                        </div>
                        <div class="form-group black-text">
                            <label for="dob">Date of Birth</label>
                            <div class="input-group">
                                <!-- <date-picker :value="state.date"  id="date-picker-date" v-model="DateType" style="width:100% !important"></date-picker> --
                                <input v-model="DateType" id="dob" type="text" class="form-control" name="dob" placeholder="dd/mm/yyyy">
                                <span class="input-group-addon white-background"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </div>
                        <div class="form-group black-text">
                            <label for="middle-name">Email</label>
                            <input v-model="Email" id="middle-name" type="text" class="form-control">
                            <p v-if="Email==''" class="error p-0 m-0">This field is required</p>
                        </div>
                        <div class="form-group black-text">
                            <label for="town">User Group</label>
                            <select style="width:100%" v-model="Group">
                                <option v-for="option in user_roles" v-bind:value="option.id">
                                    {{option.name}}
                                </option>
                            </select>
                        </div>
                    </form>
                    <div data-form-segment="location" class="form-header d-flex flex-row align-items-center">
                        <h6 class="uppercase medium no-padding no-margin">LOCATION</h6>
                        <div class="dividerS"></div>
                    </div>
                    <form  action="">
                        <div class="form-group black-text">
                            <label for="address">District</label>
                            <select style="width:100%" v-model="Branch">
                                <option v-for="option in branches" v-bind:value="option.branch_code">
                                    {{option.name}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group black-text">
                            <label for="town">Region</label>
                            <select style="width:100%" v-model="Region">
                                <option v-for="option in options" v-bind:value="option.id">
                                    {{option.name}}
                                </option>
                            </select>
                        </div>
                        
                        <div class="form-group black-text">
                            <label for="post-code">Post Code</label>
                            <input id="post-code" type="text" class="form-control">
                        </div>
                        <div class="form-group black-text">
                            <label for="country">Country</label>
                            <input id="country" type="text" class="form-control">
                        </div>
                    </form>
                    <div data-form-segment="contact-details" class="form-header d-flex flex-row align-items-center">
                        <h6 class="uppercase medium no-padding no-margin">CONTACT DETAILS</h6>
                        <div class="dividerS"></div>
                    </div>
                    <form action="">
                        <div class="form-group black-text">
                            <label for="phone">Primary Phone Number</label>
                            <input v-model="phone" id="phone" type="text" class="form-control">
                            <p v-if="phone==''" class="error p-0 m-0">This field is required</p>
                        </div>
                    </form> 
                </div> -->
            </div>
        </div>
        <div class="row text-right" id="button-panel">
            <button @click="cancel" class="btn">Cancel</button>
            <button @click="save" class="btn orange">
                <img :class="[{show: isPosting}, 'loading-img']" src="@/assets/img/spinner.svg">
                Save</button>
        </div>
    </div>

  </div>
</template>

<script>
import * as events from '@/utils/constants/events'
import Datepicker from 'vuejs-datepicker'
import axios from 'axios'
import Noty  from 'noty'
import {API_URL, FAKE_API_URL, BEIGE_BACKEND,ngrok_url, CURRENT_URL} from '../../../../utils/Constants.js'
import { mapGetters } from 'vuex'
import store from '../../../../store/index'
export default {
  name: 'AddEditUser',
  props: ['title','id','display','name','forApproval'],
  components: {
       'date-picker': Datepicker
    },
  data () {
    return {
        isPosting: false,
        Branch:'',
        Region: 0,
        Group: '',
        firstName: '',
        lastName: '',
        regions:null,
        middleName: '',
        phone:0,
        District:'',
        selected: '',
        options:[],
        accessToken: '',
        branches: [],
        user_roles: [],
        Email: '',
        Bank: null,
        DateType:null,
        state : {
            date: new Date(2016, 9,  16)
        },
        form: {
            first_name: "",
            surname: "",
            other_names: "",
            dob: "",
            place_of_birth: "",
            code: "",
            type: "",
            supplier: 13,
            active: true,
            email_address:"",
            group:"",
            addresses: [
            {
                house_number: "",
                street: "",
                description: "",
                city: "",
                suburb: "",
                region: "",
                post_code: ""
            }	
            ],
            phone_numbers: [
            {
                carrier: "",
                primary: true,
                ported: false,
                number: ""
            }
            ]
        }
    }
  },
  created: function(){
    let uri = `${BEIGE_BACKEND}/regions?account_code=gsma`;
    let flopay = 'https://api.flopay.io/v1/login'
    let branchURL = 'https://api.flopay.io/v1'

    this.$store.dispatch('getRegions')

    axios.get(`${ngrok_url}user_groups?client_code=kuapa`)
        .then(response => {
            this.user_roles =  response.user_groups
           // console.log("User Roles: "+ this.user_roles)
        })
    axios.get(`${ngrok_url}regions?client_code=kuapa`)
        .then(response => {
            this.regions =  response.regions
        })
    //console.log("gfakfg",this.regions)
        
  },
  methods: {
    save () {

        if (this.form.first_name==""||this.form.surname==""||this.form.phone_numbers[0].number.length!=10) {
            this.$notify.error("Please make sure that all fields are correctly filled")
            
        }
         if(this.isPosting == true){
          return
      }
      this.isPosting = true
      let client_code = store.getters.user.client_code
      let access_token = store.getters.token
     
        var name = this.firstName.toString()
        var age = this.DateType - Date.now()
        let admin = {
            first_name: this.form.first_name,
            surname: this.form.surname,
            other_names: this.form.other_names,
            //age: age,
            //name: this.firstName.toString() + " " + this.middleName.toString()+ " "+ this.lastName.toString(),
            region: this.Region,
            email_address: this.form.email_address,
            // role: "admin",
            user_group_id: this.form.group,
            msisdn: this.form.phone_numbers[0].number,
            //branch_code: this.Branch,
            //bank_account_no: this.Bank,
            // client_code:client_code,
            phone: {
                number: this.form.phone_numbers[0].number,
                carrier: this.form.phone_numbers[0].carrier
            }
        }
        let url = `${CURRENT_URL}users`
        // console.info('dant', admin)
        // this.isPosting = false
        // return
        axios.post(url, admin).then((response) => {
            this.isPosting=false
            this.$notify.success("User successfully created")
            this.$bus.$emit("UserCreated");
            this.$store.dispatch("getUsers")
            
        },error => {
          this.$notify.error(error.error) 
          this.isPosting = false
        });
        
      this.close()
    },
    addAddress () {
      this.form.addresses.push(
        {
            house_number: "",
            street: "",
            description: "",
            city: "",
            suburb: "",
            region: "",
            post_code: ""
        }	
      )
    },
    removeAddress (index) {
      this.form.addresses.splice(index, 1)
    },
    addPhone () {
      this.form.phone_numbers.push(
        {
            carrier: "",
            primary: true,
            ported: false,
            number: ""
        }
      )
    },
    removePhone (index) {
      this.form.phone_numbers.splice(index, 1)
    },
    cancel () {
        this.isPosting=false;
      this.close()
    },
    close () {
      let $this = window.$(this.$el)
      window.dd = $this
      this.$bus.$emit(events.SHOW_OVERLAY, false)
      this.$bus.$off(events.CLOSING_OVERLAY)
      $this.find('.slide-panel').removeClass('open')
      window.$('.newContactDisplay.active').removeClass('active')
    },
    scrollToSegment (segment) {
      let $this = window.$(this.$el)
      if(segment == null){
        return;
      }
      let $formSegment = $this.find(`div[data-form-segment=${segment}]`)
      let $tab = $this.find('#basic-scroll')
      let offset = $formSegment.offset().top - $tab.offset().top
      console.error("TAB",$tab)
      console.error(offset)
      console.error($tab.offset().top)
      console.error($formSegment.offset().top)
      $tab.animate({
       scrollTop: offset
      }, 1000)

    }
  },
  computed:{
      ...mapGetters({
          providers:'providers',
          regions : 'regions',
          groups: 'groups'
      })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
    .slider{
        h5{
            font-size: 14px;
            line-height: 8vh;
        }

        // #button-panel{
        //     height: 10vh;
        // }

        button{
            height: 30px;
            padding: 0 10px;
            line-height: 20px;
            font-size: 14px;
        }
    }
    .user-header{
        border-left: 3px solid #ff931e;
        background: #f6ffbd !important;
    }
    input{
      font-size: 14px;
      font-family: "GothamBook",sans-serif;
      padding: 2px 10px;
    }
    .dividerS{
      margin: 0px 20px;
    }
    .error{
        color: red;
        font-size: 9px;
    }
    input:-webkit-autofill{
        background: white !important;
    }
    .add-more{
      font-size: 10px !important;
      background: transparent !important;
      color: #007bff !important;
      text-decoration: underline;
    }
</style>
