<template>
  <div>
    <div class="slide-panel slider" id="add-edit-group">

        <div class="row padding-ten">
          <div class="d-flex flex-row justify-content-between align-items-center w-100 pr-4">
            <div style="padding-left: 7px;" class="col-5 " id="menu">
                <h5>EDIT OR ADD GROUP</h5>
            </div>
            <div>
              <button @click="showNew" id="show-new-group" class="btn orange">Add New Group</button>
            </div>
          </div>
            
        </div> 
        <div class="dividerL"></div>
        <div class="row" >
            <div class="medium col-4 no-margin no-padding flex-column" style="border-right:1px solid #dee2e6;">
                <div style="height:50px; padding-left:20px;background:#fafafa" class="existing-group border-bottom text-uppercase d-flex flex-row align-items-center justify-content-between">
                  Existing Groups
                </div>
                <div class="members">
                  <div v-for="group in usergroups">
                    <div style="height:40px; padding-left: 20px;" @mouseenter="showButtons($event)" @mouseleave="hideButtons($event)" class="d-flex flex-row align-items-center justify-content-between border-bottom">
                      <div @click="showDetails(group)" class="pointer">{{group.name}}</div>
                      <div class="agent-mini-menu">
                          <button @click ="deleteGroup(group.id,group.client_id)" id="dis"  type="button">
                            <img src="../../../../assets/img/garbage.svg" alt=""></button>
                          <button @click="editGroup(group)"  id="edit-agent" class="agent-edit" type="button"> <img  src="../../../../assets/img/edit (2).svg" alt=""></button>
                      </div>
                    </div>
                    <alert-box :sectorId="`${group.id}`" message="Are you sure you want to delete this group?" submit="Delete" cancel="Cancel" :id="`${group.id}${group.client_id}`"></alert-box>
                  </div>
                  
                </div>

                

            </div>
            <div id="basic-info" class="col-8 no-margin no-padding d-flex flex-column">
                
                <group-show ref="group" :privileges="privileges" :activityprivileges="activityprivileges" :contactprivileges="contactprivileges" 
                :agentprivileges="agentprivileges" :administrativeprivileges="administrativeprivileges" 
                :group="currentGroup"></group-show>
              
                
                
            </div>
            
        </div>
        <div class="row text-right" id="button-panel">
            <button @click="cancel" class="btn">Cancel</button>
            <button @click="save" class="btn orange">
              <img :class="[{show: isPosting}, 'loading-img']" src="@/assets/img/spinner.svg">
              Save</button>
        </div>
    </div>

  </div>
</template>

<script>
import * as events from '@/utils/constants/events'
import { mapGetters, mapActions } from 'vuex'
import axios from 'axios'
import Noty from 'noty'
import {API_URL, FAKE_API_URL, ngrok_url} from '../../../../utils/Constants.js'
import store from '../../../../store/index'
export default {
  name: 'AddEditGroup',
  props: ['title','id','display','name','forApproval'],
  data () {
    return {
      groupName:"",
      agentprivileges:[],
      administrativeprivileges:[],
      contactprivileges:[],
      activityprivileges:[],
      privileges: [],
      privilege :[],
      checked:"",
      usergroups:[
      ],
      isPosting: false,
      dashType:[],
      checkedItems:[],
      value:"",
      mode:"new",
      // group to edit
      currentGroup: null
    }
  },
  mounted () {
      this.$bus.$on('hola', this.onHola)
  },
  methods: {
    privilegeSet(msg){
      this.$bus.$on("priviledgeSet",function(payload){
        this.dashType.push(payload) 
      })
    },
    showDetails(group){
      this.mode = 'show'
      this.currentGroup = group
    },
    editGroup (group) {
      this.mode = 'old'
      this.currentGroup = group
      this.$nextTick(() => this.$refs.group.setup())
    },
    showNew(){
      this.mode = "new"
      this.currentGroup = null
      this.$nextTick(() => this.$refs.group.setup())
    },
    showButtons(event) {
      let buttons = window.$(event.target).find('.agent-mini-menu')
      buttons.addClass('show')
    },
    hideButtons (event) {
      let buttons = window.$(event.target).find('.agent-mini-menu')
      buttons.removeClass('show')
    },
    onHola ({id, checked}) {
        
        let i = this.checkedItems.indexOf(id)
        // console.info(index)
        if(checked == false){
            console.info("remove")
            this.checkedItems.splice(i, 1)
        }else if(checked && i == -1){
            this.checkedItems.push(id)
        }
        // this.$event.target.payload
        // this.messages.push(msg);
        // console.error("This is the thing I was looking for",msg)
        // this.$bus.$emit("priviledgeSet", {code: this.event, value: this.value});
    },
    save () {
      if (this.groupName=="") {
            this.$notify.error("Please make sure that all fields are correctly filled")
            
        }
      if(this.isPosting == true){
          return
      }
      this.isPosting = true
      let groupName = this.$refs.group.groupName
    
      let privIds = this.$refs.group.getSelectedPrivilegeIds()
      let client_code = store.getters.user.client_code
      let access_token = store.getters.token
      let groupDetails = {
        client_code: client_code,
        name: groupName,
        description: "A group of "+ groupName,
        privilege_ids: privIds
      }
        
      // Promise.resolve(true).then((response) => {
      //     this.$notify.success("Group Successfully Created")
      //     this.reset()
      //     this.close()
      // },error => {
      //     this.$notify.error("Unsuccessful User Group Creation. Please try again")
      // })
      // .finally(() => this.isPosting = false)
      if(this.mode == 'new'){
        axios.post(`${ngrok_url}user_groups`, groupDetails).then((response) => {
          this.$notify.success("Group Successfully Created")
          this.$nextTick(() => this.$refs.group.reset())
          this.reset()
          this.close()
        },error => {
            this.$notify.error("Unsuccessful User Group Creation. Please try again")
        })
        .finally(() => this.isPosting = false)
      } else{
        axios.put(`${ngrok_url}user_groups/${this.currentGroup.id}`, groupDetails).then((response) => {
          this.$notify.success("Group updated successfully")
          let index = this.usergroups.findIndex(el => el.id == this.currentGroup.id)
          this.usergroups[index] = response.user_group
          this.reset()
          this.$nextTick(() => this.$refs.group.reset())
          this.close()
        },error => {
            this.$notify.error("Unsuccessful User Group Update. Please try agai")
        })
        .finally(() => this.isPosting = false)
      }

      
      // this.checkedItems=[]

    },
    cancel () {
      this.close()
    },
    close () {
      let $this = window.$(this.$el)
      window.dd = $this
      this.$bus.$emit(events.SHOW_OVERLAY, false)
      this.$bus.$off(events.CLOSING_OVERLAY)
      $this.find('.slide-panel').removeClass('open')
      window.$('.newContactDisplay.active').removeClass('active')
    },
    scrollToSegment (segment) {
      let $this = window.$(this.$el)
      if(segment == null){
        return;
      }
      let $formSegment = $this.find(`div[data-form-segment=${segment}]`)
      let $tab = $this.find('#basic-info')
      let offset = $formSegment.offset().top - $tab.offset().top
      console.error($tab)
      console.error(offset)
      console.error($tab.offset().top)
      console.error($formSegment.offset().top)
      $tab.animate({
       scrollTop: offset
      }, 1000)
    },
    reset () {
      this.mode = "new"
      this.$refs.group.groupName = ""
      this.currentGroup = null
    },
    confirmDelete(payload){
        let url = `${CURRENT_URL}user_groups/${payload.sectorId}`

        axios.delete(url)
        .then(data => {
            this.$notify.success("Group Deleted")
            window.$(`#${payload.id}`).modal('hide')
            this.$store.dispatch('getUserGroups')
        }, error => {
            window.$(`#${payload.id}`).modal('hide')
            this.$notify.error("Failed to Delete")
        })
    },
    cancelDelete(payload){
        window.$(`.delete-sector-modal#${payload.id}`).modal('hide')
    },
    deleteGroup(code,id){
        window.$(`.delete-sector-modal#${code}${id}`).modal('show')
    },
  },
  computed: {
    
    ...mapGetters([
      // 'privileges',
      'groups',
      'regions'
    ])
  },
  created: function(){
    let uri = "http://dd795c90.ngrok.io/api/v1/privileges";
    let url = "http://dd795c90.ngrok.io/api/v1/"
    let access_token = store.getters.token

    this.$bus.$on("priviledgeSet", this.privilegeSet)

    axios.get(`${ngrok_url}user_groups?client_code=kuapa`,{headers: {
      "Authorization": `Bearer ${access_token}`
    }
  })
    .then(response => {
        this.usergroups =  response.user_groups
    })
    
    axios.get(`${ngrok_url}/privileges`)
    .then(priviledges => {
        // collect priviledges array into map using priviledge type as the key
        this.privileges = priviledges
        let priviledgesMap = priviledges.reduce((acc, priviledge) => {
          acc[priviledge.privilege_type] = acc[priviledge.privilege_type] || []
          acc[priviledge.privilege_type].push(priviledge)
          return acc
        }, {})
        this.administrativeprivileges =  priviledgesMap["administrative"]
        this.agentprivileges =  priviledgesMap["agent"]
        this.contactprivileges =  priviledgesMap["contact"]
        this.activityprivileges =  priviledgesMap["activity"]
        this.roleprivileges =  priviledgesMap["role"]
        
    })       
  },
  beforeDestroy(){
    this.$bus.$off('hola')
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
    @import '../../../../assets/styles/variables';
    @import '../../../../assets/styles/mixins';
    .slider{
        h5{
            font-size: 14px;
            line-height: 8vh;
        }

        // #button-panel{
        //     height: 10vh;
        // }

        button{
            height: 30px;
            padding: 0 10px;
            line-height: 20px;
            font-size: 14px;
        }
    }
    input{
      font-size: 14px;
      font-family: "GothamBook",sans-serif;
      padding: 2px 10px;
    }
    .dividerS{
      margin: 0px 20px;
    }
    .col-5{
      font-size: 13px;
      color: #353434;
      .existing-group{
        padding: 9px 23px;
        background: #e0e0e0;
        border-bottom: 1px solid #dee2e6;
      }
      .members{
        padding:  0;
        & > div{
          padding: 9px 23px;
          border-bottom: 1px solid #f0f0f0;
        }
      }
    }
    .agent-mini-menu{
        visibility: hidden;
        border: 1px solid #f0f0f0;
        display: flex;
        flex-direction: row;
        position: relative;
        border-radius: 30px;
        &.show{
          visibility: visible;
        }
        button{
            padding: 0;
            margin: 0 5px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            //background: white;
            background: transparent;
            outline: 0;

            img{

                width: 14px;

                &:hover{
                    filter: invert(4) saturate(100%) brightness(100%);
                }
            }

            // &:hover{
            //     background: rgb(230, 227, 227);
            // }
        }
    }
    .new-group-settings{
      font-size: 11px;
      font-family: "GothamBook";
      padding: 20px 20px 0 20px;
      &:first-child{
        padding-top: 10px;
      }
      &:last-child{
        padding-bottom: 10px;
      }
      .header{

        margin-bottom: 5px;
      }
      h6{
        font-size: 14px;
      }
      .dividerS{
        margin-right: 0px;
      }
      .settings-group{
        & > *{
          padding: 5px 0;
        }
      }
      .settings-group:last-child{
        & > div{
          padding-bottom: 0;
        }
      }
    }
    .new-group-name{
      border-bottom: 1px solid #f0f0f0;
    }
    .new-group-settings-panel{
      overflow-y: auto;
      flex: 1;
      @include scrollbar(5px, 1px);
      margin-top: 10px;
      margin-bottom: 10px;
    }
    #show-new-group{
      font-size: 12px;
    }
</style>
