<template>
  <div style="width:100%">
        <div class="d-flex flex-column book" style="flex: 1;width:100%">
            <admin-user-breadcrumb :showFilterButton="false"
              without-form="none" title="Admin Settings" titleLink="/adminsettings/users" 
              :subtitle="adminUser.name" class="bread-div" id="">
            </admin-user-breadcrumb>
            <div class="position-relative main-scrollable-area" id="agent-show-panel" >
                <div class="agent-show-info">
                    <admin-user-info :user="adminUser"></admin-user-info>
                    <!-- <div id="agent-toggle" @mouseover="toggleCollapseButton(true, $event)" @mouseleave="toggleCollapseButton(false, $event)" class="collapse-details-button d-flex align-items-center justify-content-center">
                        <img v-on:click="collapseDetailsPanel($event)" src="../../assets/img/right_chevron.png">
                    </div> -->
                </div>
                <sliding-panel :wider="true">
                     <admin-user-settings></admin-user-settings>
                </sliding-panel>
                <!-- <div class="agent-show-details-panel">
                    <tabbed-view-agents></tabbed-view-agents>
                </div> -->
            </div>
        </div>
  </div>


</template>

<script>
import AgentInfo from '@/components/AgentInfo'
import { mapGetters, mapActions } from 'vuex'
import TabbedViewAgents from '@/components/TabbedViewAgents'
import BreadCrumbComponent from '@/components/BreadCrumbComponent'
//import TabbedViewAgents from '@/components/TabbedViewAgents'
var faker = require('faker');


export default {
  name: 'AdminSettingsUser',
  props: ['id'],
  components: {
    'agent-info': AgentInfo,
    'tabbed-view-agents': TabbedViewAgents,
    'bread-crumb-component': BreadCrumbComponent,
  },
  created () {
    let admin = {
      picture: faker.image.avatar(),
      name: faker.name.findName(),
      email: faker.internet.email(),
      status: faker.random.boolean(),
      group: faker.company.companyName(),
      branch: faker.company.companyName(),
      lastLogin: faker.date.recent(),
      jobTitle: faker.name.jobTitle(),
      phone : 2443236633,
      provider: "mtn",
      balance: 28392893
    }
    this.adminUser = admin
  },
  computed: {
    ...mapGetters({
      agent: 'currentAgent'
    })
  },
  data () {
    return {
        adminUser: {},
        loading: true,
        error: false,
        isDetailsPanelOpen: true,
        agents: null,
    }
  },
  beforeDestroy(){
  },

    // methods: {
    //   collapseDetailsPanel (event) {
    //     let $img = window.$(event.target)
    //     let $this = window.$(this.$el)
    //     let $detailsPanel = $this.find('.agent-details-panel')
    //     let $collapseButtonDiv = $this.find('.collapse-details-button')
    //     if(this.isDetailsPanelOpen){
    //       // close the panel
    //       $detailsPanel.addClass('closed')
    //       $img.attr('src', leftChevron).css('right', '10px')
    //       $collapseButtonDiv.css('right', '-4px')
    //     }else {
    //       $detailsPanel.removeClass('closed')
    //       $img.attr('src', rightChevron).css('right', '-10px')
    //       $collapseButtonDiv.css('right', '-5px')
    //     }
    //     this.isDetailsPanelOpen = !this.isDetailsPanelOpen

    //   },
    //   toggleCollapseButton (isHovered, event) {
    //     if(this.isDetailsPanelOpen){return}
    //     let $img = window.$(event.target).find('img')
    //     if(isHovered){
    //       $img.css('visibility', 'visible')
    //     }
    //     else{
    //       $img.css('visibility', 'hidden')
    //     }
    //   }
    // }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
    @import '../../../../assets/styles/variables';
    @import '../../../../assets/styles/mixins';
    .dropdown{
        display: none;
    }
    #agent-show-panel{
      display: flex;
      flex-direction: row;
      font-family: "GothamBook",sans-serif;

        .drawer{
            top:0;

        }


        @keyframes slideInHere {
            0%   { right: -30%; }
            100% { right: 0; }
        }
        @keyframes slideOutHere {
            0%   { right: 0; }
            100% { right: -30%; }
        }


        .agent-show-info{
            flex-grow: 3;
            width: 75%;
            font-family: "GothamBook",sans-serif;
            transition: all .3s ease-in;
            position: relative;
            // border-right: 1px solid #666666;
            border-right: 1px solid $line-color;
        }
        .agent-show-details-panel{
            flex-grow: 1;
            transition: all .3s ease-in;
            width: 25%;
            height: 80vh;
            &.closed {
            // TBD
            // display: none;
                flex-grow: 0;
                width: 0;
            }
            &.closed > *{
                display: none;
            }
        }

       .collapse-details-button{
            position: absolute;
            z-index: 100;
            width: 10px;
            height: 80%;
            top: 10%;
            right: -5px;

            div{
                position: absolute;
                z-index: 100;
                width: 30px;
                height: 100px;
                right: -10px;
            }
            img{
                cursor: pointer;
                background: $orange;
                padding: 5px;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                position: absolute;
                right: -10px;
                &:hover{
                background: #d48f45;
                color: white;
                }
            }

        }
    }
</style>
