<template>
  <div>

    <div class="slide-panel slider" id="allocate-funds">

        <div class="row padding-ten">
            <div class="col-5 " id="menu">
                <h5>Allocate Funds to User</h5>
            </div>
        </div>
        <div class="dividerL"></div>
        <div style="height:80vh" class="row" >
            <div class="col-5 no-margin no-padding flex-column" style="border-right:2px solid #f0f0f0;">
                <div id="title-input-group" class="input-group">
                    <input style="height:30px; font-size:12px" type="text" class="form-control" name="email" placeholder="Search a field">
                    <span class="input-group-addon white-background"><i class="glyphicon glyphicon-search"></i></span>
                </div>
                <div style="width: 100%" class="panel-group white-background" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading white-background user-header">
                            <h4 class="panel-title pl-2">
                                <a class="text-dark" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span>
                                    <img src="/assets/images/add (1).png" alt="">
                                </span>Allocate Funds</a> 
                            </h4>
                        </div>
                        <!-- <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <a class="black-text" @click="scrollToSegment('location')">Location</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a class="black-text" @click="scrollToSegment('contact-details')">Contact Details</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a class="black-text" href="http://www.jquery2dotnet.com">Social Profiles</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a class="black-text" href="http://www.jquery2dotnet.com">Identity Information</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a class="black-text" href="http://www.jquery2dotnet.com">Employee</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div> -->
                    </div>
                    
                </div>
            </div>
            <div id="basic-info" class="col-7 no-margin no-padding">
                <h5 style="padding-left:20px;line-height: 5vh">ALLOCATE FUNDS</h5>
                <form class="px-3" action="">
                    <div class="form-group black-text">
                        <label for="first-name">Name</label>
                        <v-select  
                          :clearInputOnSelect="false"
                          :clearSearchOnBlur="false"
                          :allowOtherValues="true"
                          :taggable = false
                          v-on:input="recepientChosen" :orange="false" 
                          v-model="userSelected" 
                          v-on:search="searchRecepientPhone"
                          :options="filteredPeopleNames">
                        </v-select>
                    </div> 
                    <div class="form-group black-text">
                        <label for="amount">Amount</label>
                        <div class="input-group mb-3">
                            <div style="height:30px;" class="input-group-prepend">
                                <span style="font-size:11px" class="input-group-text" id="basic-addon1">GHc</span>
                            </div>
                            <input v-model="amount" type="number" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
                            <p v-if="amount==''" class="error p-0 m-0">This field is required</p>
                        </div>
                    </div>
                    <div class="form-group black-text">
                        <label for="amount">Phone Number</label>
                        <input v-model="phoneNumber" id="amount" type="text" class="form-control">
                    </div>
                    <div class="form-group black-text">
                        <label for="amount">Provider</label>
                        <input v-model="provider" id="amount" type="text" class="form-control">
                    </div>
                    <div class="form-group black-text">
                        <label for="dob">Balance</label>
                        <div style="height: 30px" class="border-bottom">
                            <p style="line-height:30px" class="pb-0 pl-1 mb-0"><template v-if="user">GHc{{user.available_eva_balance}}</template></p>
                        </div>
                    </div>
                </form>
                
            </div>
        </div>
        <div class="row text-right" id="button-panel">
            <button @click="cancel" class="btn">Cancel</button>
            <button @click="save" class="btn orange">
                <img :class="[{show: isPostingTransaction}, 'loading-img']" src="@/assets/img/spinner.svg">Save</button>
        </div>
    </div>
 
  </div>
</template>

<script>
import * as events from '@/utils/constants/events'
import {API_URL, FAKE_API_URL, BEIGE_BACKEND, FLOPAY_API_URL,ngrok_url, CURRENT_URL} from '../../../../utils/Constants.js'
import axios from 'axios'
import Noty from 'noty'
import { mapGetters, mapActions } from 'vuex'
import store from '../../../../store/index'
export default {
  name: 'SliderComp',
  props: ['title','display','forApproval','totalAmount'],
  data () {
    return {
        amount:null,
        currentBalance:null,
        ticket:null,
        userSelected:null,
        provider:null,
        phoneNumber:null,
        currentRecepient: null,
        filteredPeople: [],
        isPostingTransaction: false,
        personSidePanelState: "HIDE",
        chosenPerson: null,
        id:null,
        phone:null
    }
  },
  created(){
      let client_code = store.getters.user.client_code
      let access_token = store.getters.token
      //this.currentBalance = this.totalAmount
    //   axios.get(`${ngrok_url}/users?client_codes=${client_code}`,{headers: {
    //       "Authorization": `Bearer ${access_token}`
    //     }
    //   },)
    //     .then(response => {
    //         this.users =  response.users
    //         this.count = response.users.length
    //         console.error("Response data", response.user_groups)
    //         //return new Contact(data)
    //     })

  },
  methods: {
    save () {
        if (this.amount=="") {
            this.$notify.error("Please make sure that all fields are correctly filled")
        }
        if(this.isPostingTransaction == true){
          return
        }
        this.isPostingTransaction = true
        let access_token = store.getters.token
        var senm = parseInt(this.amount) 
        let admin = {
            amount: this.amount,
            type: "backofficer",
            id: this.id
        }
        let allocate = `${CURRENT_URL}users/allocate_eva`
        axios.post(allocate, admin).then((response) => {
            this.isPostingTransaction = false
            this.$notify.success("Funds Successfully Allocated")
            this.$bus.$emit("UserCreated");
            let newEva = parseInt(this.user.available_eva_balance) - this.amount 
            this.$store.commit("setEvaBalance", newEva)
            this.close()
        },error => {
            this.isPostingTransaction = false
            this.$notify.error("Unsuccessful funds Allocation. Please try again")
        });
      
    },
    browse(){
        this.phone = this.users.find(this.userSelected)
        console.log("ALLOCATE PHONE",this.phoneNumber)
    },
    cancel () {
      this.close()
    },
    close () {
      let $this = window.$(this.$el)
      window.dd = $this
      this.$bus.$emit(events.SHOW_OVERLAY, false)
      this.$bus.$off(events.CLOSING_OVERLAY)
      $this.find('.slide-panel').removeClass('open')
      window.$('.newContactDisplay.active').removeClass('active')
    },
    recepientChosen (name) {
        console.info("nom", name)
        this.currentRecepient = this.users.find(person => person.name == name || person.phone == name)
        
        this.phoneNumber = this.currentRecepient.phone_number

        if(this.phoneNumber.toString()[2]=="0")this.provider="Vodafone"
        else if(this.phoneNumber.toString()[2]=="4"||this.phoneNumber.toString()[2]=="5")this.provider="Mtn"
        else if(this.phoneNumber.toString()[2]=="7"||this.phoneNumber.toString()[2]=="6")this.provider="AirtelTigo"
        else this.provider="N/A"

        this.id = this.currentRecepient.id

    },
    searchRecepientPhone (value) {
        // console.info("searching", value)
        this.personSidePanelState = "LOADING"
        if(!value || value.length == 0){
          return
        }
        let params = {name: value}
        let url = `${CURRENT_URL}search_people`
        axios.get(url, {params: params}).then(data => this.filteredPeople = data.people)
    },
    
    
    scrollToSegment (segment) {
      let $this = window.$(this.$el)
      if(segment == null){
        return;
      }
      let $formSegment = $this.find(`div[data-form-segment=${segment}]`)
      let $tab = $this.find('#basic-info')
      let offset = $formSegment.offset().top - $tab.offset().top
      console.error($tab)
      console.error(offset)
      console.error($tab.offset().top)
      console.error($formSegment.offset().top)
      $tab.animate({
       scrollTop: offset
      }, 1000)
    },
  },
  computed: {
    ...mapGetters({
      user: 'user',
      providers:'providers',
      users:'users'
    }),
    filteredPeopleNames () {
        return this.filteredPeople.map(el => el.name).slice(0,6)
    },
    filteredPeopleNumbers () {
        return this.filteredPeople.filter(el => el.phone).map(el => el.phone).slice(0,6)
    }

  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
#allocate-funds{
    .user-header{
        border-left: 3px solid #ff931e;
        background: #f6ffbd !important;
        height: 30px;
        line-height: 20px;
        color: black;
        font-size: 12px;
        padding-left: 20px;
        a{
            color: black;
            font-size: 12px;
        }
    }
}
#title-input-group{
    width: 100%;
    padding: 20px 25px;
}
.slider{
    h5{
        font-size: 14px;
        line-height: 8vh;
    }

    // #button-panel{
    //     height: 10vh;
    // }

    button{
        height: 30px;
        padding: 0 10px;
        line-height: 20px;
        font-size: 14px;
    }
}
input{
    font-size: 14px;
    font-family: "GothamBook",sans-serif;
    padding: 2px 10px;
}
.dividerS{
    margin: 0px 20px;
}
</style>
