<template>
  <div>

    <div class="slide-panel slider edit-user" :id="`edit-user${form.id}`">

        <div class="row padding-ten">
            <div class="col-5 " id="menu">
                <h5>Edit User - {{form.first_name}} {{form.surname}} </h5>
            </div>
        </div>
        <div class="dividerL"></div>
        <div class="row" >
            <div class="col-4 no-margin no-padding flex-column" style="border-right:2px solid #f0f0f0;">
                <div class="input-group">
                    <input style="height:30px; font-size:12px" type="text" class="form-control" name="email" placeholder="Search a field">
                    <span class="input-group-addon white-background"><i class="glyphicon glyphicon-search"></i></span>
                </div>
                <accordion-menu :activeItem="activeMenuItem" class="scroll" :menuItems="menuItems"></accordion-menu>
            </div>
            <div id="basic-info" class="col-8 no-margin no-padding">
                <h5 style="padding-left:20px;line-height: 5vh">BASIC INFORMATION</h5>
                <div data-nf-tab="basic_information" id="basic-scroll" class="scroll" style="height:calc(100% - 5vh);">
                    <form v-on:submit.prevent="" >
                    
                    <div class="p-0 mb-4">
                        <div v-if="mode=='view'" class="form-group black-text">
                            <label>First name</label>
                            <div class="input-detail border">{{form.first_name | notAvailable}}</div>
                        </div>
                        <div v-else>
                            <input-form v-model="form.first_name" title="First Name"   placeholder="First name"></input-form>
                            <p v-if="form.first_name==''" class="error p-0 m-0">This field is required</p>
                        </div>
                    </div>
                    <div class="p-0 mb-4">
                        <div v-if="mode=='view'" class="form-group black-text">
                            <label>Last Name</label>
                            <div class="input-detail border">{{form.surname | notAvailable}}</div>
                        </div>
                        <div v-else>
                          <input-form v-model="form.surname" title="Surname"   placeholder="Surname"></input-form>
                          <p v-if="form.surname==''" class="error p-0 m-0">This field is required</p>
                        </div>
                    </div>
                    <div class="p-0 mb-4">
                        <div v-if="mode=='view'" class="form-group black-text">
                            <label>Other Names</label>
                            <div class="input-detail border">{{form.other_names | notAvailable}}</div>
                        </div>
                        <div v-else>
                          <input-form v-model="form.other_names" title="Othernames"   placeholder="Othernames"></input-form>
                        </div>
                    </div>
                     <div class="p-0 mb-4">

                          <div class="input-form m-0">
                            <div class="form-group black-text m-0">
                              <label class="mb-1">Date Of Birth</label> 
                                <div v-if="mode=='view'" class="input-detail border">{{form.dob | notAvailable}}</div>
                              <datepicker v-else
                                  calendar-button-icon="fa fa-calendar"
                                  :bootstrap-styling="true"
                                  placeholder="date of birth"
                                  v-model="form.dob"
                                  :calendar-button="false"  :value="form.dob">
                                </datepicker>
                            </div>
                            </div>
                        
                    </div>
                    <div class="p-0 mb-4">
                        <div v-if="mode=='view'" class="form-group black-text">
                            <label>Email <Address></Address></label>
                            <div class="input-detail border">{{form.email | notAvailable}}</div>
                        </div>
                        <div v-else>
                          <input-form v-model="form.email" title="Email Address" placeholder="Email Address"></input-form>
                        </div>
                    </div>
                    <div class="p-0 mb-4">
                        <div v-if="mode=='view'" class="form-group black-text">
                            <label>Place of Birth</label>
                            <div class="input-detail border">{{form.place | notAvailable}}</div>
                        </div>
                        <div v-else>
                          <input-form title="Place Of Birth" placeholder="Place of Birth"></input-form>
                        </div>
                    </div>
                    <div class="p-0 mb-4">
                        <div v-if="mode=='view'" class="form-group black-text">
                            <label>Code</label>
                            <div class="input-detail border">{{form.code | notAvailable}}</div>
                        </div>
                        <div v-else>
                          <input-form v-model="form.code" title="Code"   placeholder="Code"></input-form>
                        </div>
                    </div>
                    <div class="p-0 mb-4">
                        <label for="town">User Group</label>
                        <div v-if="mode=='view'" class="input-detail border">{{form.group | notAvailable}}</div>
                        <v-select v-else
                            :allowOtherValues="false"
                            :taggable = false
                            :searchable="true"
                            label="name"
                            :clearable="false"
                            :orange="false" 
                            modelPath="id"
                            v-model="form.group_assigned_id"
                            :options="groups">
                        </v-select>
                    </div>
                    
                        <div data-form-segment="phone-number" >
                        <div class="form-subheader form-header d-flex flex-row align-items-center">
                            <h6 class="uppercase medium no-padding no-margin">Phone Number</h6>
                            <div class="dividerS"></div>
                        </div>
                        <div class="p-0 mb-4">
                            <div v-if="mode=='view'" class="form-group black-text">
                                <label>Phone Number</label>
                                <div class="input-detail border">{{form.msisdn | notAvailable}}</div>
                            </div>
                            <div v-else>
                                <input-form v-model="form.msisdn" title="Phone Number" placeholder="Phone Number"></input-form>
                            </div>
                        </div>
                        </div>
                    </form>

                </div>
               
            </div>
        </div>
        <div class="row text-right" id="button-panel">
            <button @click="cancel" class="btn">Cancel</button>
            <button v-if="mode=='view'" @click="edit" class="btn orange">Edit</button>
            <button v-else @click="save" class="btn orange">
                <img :class="[{show: isPosting}, 'loading-img']" src="@/assets/img/spinner.svg">
                Save</button>
        </div>
    </div>

  </div>
</template>

<script>
import * as events from '@/utils/constants/events'
import Datepicker from 'vuejs-datepicker'
import axios from 'axios'
import Noty  from 'noty'
import {API_URL, FAKE_API_URL, BEIGE_BACKEND,ngrok_url, CURRENT_URL} from '../../../../utils/Constants.js'
import { mapGetters } from 'vuex'
import store from '../../../../store/index'
export default {
  name: 'EditUser',
  props: {
      form:null
  },
  components: {
       'date-picker': Datepicker
    },
  data () {
    return {
        isPosting: false,
        Branch:'',
        Region: 0,
        mode: 'view',
        menuItems: [{name: "Basic Information",
            children: [
                {name: "Phone Number"}
            ]
        },
        ],
        state : {
            date: new Date(2016, 9,  16)
        },
        activeMenuItem: "Basic Information",
    }
  },
  created: function(){
    let uri = `${BEIGE_BACKEND}/regions?account_code=gsma`;
    let flopay = 'https://api.flopay.io/v1/login'
    let branchURL = 'https://api.flopay.io/v1'
        
  },
  methods: {
    edit(){
        this.mode = 'edit'
    },
    save () {

        if (this.form.first_name==""||this.form.surname=="") {
            this.$notify.error("Please make sure that all fields are correctly filled")
            
        }
         if(this.isPosting == true){
          return
      }
      this.isPosting = true
      let client_code = store.getters.user.client_code
      let access_token = store.getters.token
     
        
        let url = `${CURRENT_URL}users/${this.form.id}`
        
        axios.post(url, this.form).then((response) => {
            this.isPosting==false
            this.$notify.success("User successfully updated")
            this.$store.dispatch('getUsers')
            //this.$bus.$emit("UserCreated");
            
        },error => {
          this.$notify.error(error.error)
          this.isPosting = false
        });
        
      this.close()
    },
    menuItemSelected (menuItem) {
        console.info('aalll', menuItem)
        if(menuItem.parent){
          this.scrollToSegment({segment: menuItem.name, tab: menuItem.parent})
        }else{
          if(menuItem.wasActive){
            this.scrollToSegment({segment: null, tab: menuItem.name, animate: true})
          }else{
            this.switchItem({menuItem: menuItem.name, isSource: true, wasWactive: false})
            this.scrollToSegment({segment: null, tab: menuItem.name, animate: false})
          }  
        }
    },
    switchItem({menuItem, isSource, wasActive}){
        this.selectedItem = menuItem.trim().split(/\s+/).join('_').toLowerCase();
        let $this = window.$(this.$el);
        // alert(this.selectedItem)
        // let $tab = $this.find(`#${this.selectedItem}`);
        // alert()
        let $tab = $this.find(`div[data-nf-tab=${this.selectedItem}]`)
        $tab.siblings().addClass('none');
        $tab.siblings().removeClass('block');
        $tab.removeClass('none');
        $tab.addClass('block');
    },
    addAddress () {
      this.form.addresses.push(
        {
            house_number: "",
            street: "",
            description: "",
            city: "",
            suburb: "",
            region: "",
            post_code: ""
        }	
      )
    },
    removeAddress (index) {
      this.form.addresses.splice(index, 1)
    },
    addPhone () {
      this.form.phone_numbers.push(
        {
            carrier: "",
            primary: true,
            ported: false,
            number: ""
        }
      )
    },
    removePhone (index) {
      this.form.phone_numbers.splice(index, 1)
    },
    cancel () {
        this.isPosting=false;
      this.close()
    },
    close () {
      let $this = window.$(this.$el)
      window.dd = $this
      this.$bus.$emit(events.SHOW_OVERLAY, false)
      this.$bus.$off(events.CLOSING_OVERLAY)
      $this.find('.slide-panel').removeClass('open')
      window.$('.newContactDisplay.active').removeClass('active')
    },
    scrollToSegment (segment) {
      let $this = window.$(this.$el)
      if(segment == null){
        return;
      }
      let $formSegment = $this.find(`div[data-form-segment=${segment}]`)
      let $tab = $this.find('#basic-scroll')
      let offset = $formSegment.offset().top - $tab.offset().top
      console.error("TAB",$tab)
      console.error(offset)
      console.error($tab.offset().top)
      console.error($formSegment.offset().top)
      $tab.animate({
       scrollTop: offset
      }, 1000)

    }
  },
  computed:{
      ...mapGetters({
          providers:'providers',
          regions : 'regions',
          groups: 'groups'
      })
  },
  mounted(){
    this.$bus.$on('accordionMenu:ItemSelected', this.menuItemSelected)
  },
  beforeDestroy () {
    this.$bus.$off('accordionMenu:ItemSelected', this.menuItemSelected)
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
    .slider{
        h5{
            font-size: 14px;
            line-height: 8vh;
        }

        // #button-panel{
        //     height: 10vh;
        // }

        button{
            height: 30px;
            padding: 0 10px;
            line-height: 20px;
            font-size: 14px;
        }
    }
    .user-header{
        border-left: 3px solid #ff931e;
        background: #f6ffbd !important;
    }
    input{
      font-size: 14px;
      font-family: "GothamBook",sans-serif;
      padding: 2px 10px;
    }
    .dividerS{
      margin: 0px 20px;
    }
    .error{
        color: red;
        font-size: 9px;
    }
    input:-webkit-autofill{
        background: white !important;
    }
    .add-more{
      font-size: 10px !important;
      background: transparent !important;
      color: #007bff !important;
      text-decoration: underline;
    }
    .edit-user{
        font-family: 'GothamBook'
    }
    .input-detail{
        height: 30px;
        width: 100%;
        line-height: 30px;
        padding-left: 0.75rem;
    }
</style>
