<template>
  <div class="book full-width">
      <bread-crumb-component :showSettingsButton="false"
          without-form="none" title="Agent" titleLink="/agents"
          :subtitle="agentName" class="bread-div" id="">
      </bread-crumb-component>
      <div class="position-relative main-scrollable-area" id="agent-show-panel">
          <template v-if="agent">
            <div class="agent-show-info full-height">
                <agent-info v-bind:agents="agents"></agent-info>
            </div>
            <sliding-panel :wider="true">
                 <tabbed-view-agents></tabbed-view-agents>
            </sliding-panel>
          </template>
          <div v-else>loading</div>
      </div>
  </div>


</template>

<script>
import AgentInfo from '@/components/AgentInfo' 
import { mapGetters, mapActions } from 'vuex'
import TabbedViewAgents from '@/components/TabbedViewAgents'
import BreadCrumbComponent from '@/components/BreadCrumbComponent'
import store from '@/store'
//import TabbedViewAgents from '@/components/TabbedViewAgents'
export default {
  name: 'AgentShow',
  props: ['id'],
  components: {
    'agent-info': AgentInfo,
    'tabbed-view-agents': TabbedViewAgents,
    'bread-crumb-component': BreadCrumbComponent,
  },
  created () {
  },
  computed: {
    ...mapGetters({
      agent: 'currentAgent'
    }),
    // this is only used in the breadcrumb so that null values will have a placeholder
    agentName () {
      return this.agent ? this.agent.name : null
    }
  },
  data () {
    return {
        loading: true,
        error: false,
        isDetailsPanelOpen: true,
        agents: null,
    }
  },
  beforeRouteEnter (to, from, next) {
    store.dispatch('findAgent', to.params.id)
    .then(() => {
      next()
    })
    .catch(error => {
      next(false)
    })
  },
    beforeRouteUpdate (to, from, next) {
    store.dispatch('findAgent', to.params.id)
    .then(() => {
      next()
    })
    .catch(error => {
      next(false)
    })
  },
  mounted () {
    
  }


    // methods: {
    //   collapseDetailsPanel (event) {
    //     let $img = window.$(event.target)
    //     let $this = window.$(this.$el)
    //     let $detailsPanel = $this.find('.agent-details-panel')
    //     let $collapseButtonDiv = $this.find('.collapse-details-button')
    //     if(this.isDetailsPanelOpen){
    //       // close the panel
    //       $detailsPanel.addClass('closed')
    //       $img.attr('src', leftChevron).css('right', '10px')
    //       $collapseButtonDiv.css('right', '-4px')
    //     }else {
    //       $detailsPanel.removeClass('closed')
    //       $img.attr('src', rightChevron).css('right', '-10px')
    //       $collapseButtonDiv.css('right', '-5px')
    //     }
    //     this.isDetailsPanelOpen = !this.isDetailsPanelOpen

    //   },
    //   toggleCollapseButton (isHovered, event) {
    //     if(this.isDetailsPanelOpen){return}
    //     let $img = window.$(event.target).find('img')
    //     if(isHovered){
    //       $img.css('visibility', 'visible')
    //     }
    //     else{
    //       $img.css('visibility', 'hidden')
    //     }
    //   }
    // }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
    @import '../../../assets/styles/variables';
    @import '../../../assets/styles/mixins';
    @import '../../../assets/styles/fonts';
    @import '../../../assets/styles/app';
    @import '../../../assets/styles/_general';
    .dropdown{
        display: none;
    }
    #agent-show-panel{
      display: flex;
      flex-direction: row;
      font-family: "GothamBook",sans-serif;


        .drawer{
            top:0;

        }


        @keyframes slideInHere {
            0%   { right: -30%; }
            100% { right: 0; }
        }
        @keyframes slideOutHere {
            0%   { right: 0; }
            100% { right: -30%; }
        }


        .agent-show-info{
            flex-grow: 3;
            width: 75%;
            font-family: "GothamBook",sans-serif;
            transition: all .3s ease-in;
            position: relative;
            // border-right: 1px solid #666666;
            border-right: 1px solid $line-color;
        }
        .agent-show-details-panel{
            flex-grow: 1;
            transition: all .3s ease-in;
            width: 25%;
            height: 80vh;
            &.closed {
            // TBD
            // display: none;
                flex-grow: 0;
                width: 0;
            }
            &.closed > *{
                display: none;
            }
        }

       .collapse-details-button{
            position: absolute;
            z-index: 100;
            width: 10px;
            height: 80%;
            top: 10%;
            right: -5px;

            div{
                position: absolute;
                z-index: 100;
                width: 30px;
                height: 100px;
                right: -10px;
            }
            img{
                cursor: pointer;
                background: $orange;
                padding: 5px;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                position: absolute;
                right: -10px;
                &:hover{
                background: #d48f45;
                color: white;
                }
            }

        }
    }
</style>
