<template>
  <div id="agent-assigned-services" class="settings-tab">
    <div class="header d-flex align-items-center"><div class="medium">Assigned Services</div></div>
    <div class="content scroll">
      <div v-for="service in services" class="service">
        <div class="service-header">{{service}}</div>
        <div class="service-content">
          <div class="service-table">
            <table class="table">
            <thead>
              <tr>
                <th>sevice name</th>
                <th>transaction limit</th>
                <th >commissions</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="blah in [1,2,3]">
                <td>Cash Deposit</td>
                <td>n/a</td>
                <td class="commision">Class 3</td>
                <td>
                  <!-- <button type="button" class="button icon">
                  </button> -->
                  <div class="d-flex justify-content-end">
                    <div class="divider"></div>
                    <img class="icon" src="../../assets/img/edit (3).svg" alt="">
                    <img class="icon" src="../../assets/img/settings.svg" alt="">
                  </div>

                  <!-- <button type="button" class="button icon">
                  </button> -->
                </td>
              </tr>
            </tbody>
          </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AgentService',
  data () {
    return {
      services: ["Banking", "Mobi-branch", "Mobile Money"]
    }
  }
}
</script> 

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
    @import '../../assets/styles/variables';
    @import '../../assets/styles/mixins';
    @import '../../assets/styles/colors';


    #agent-assigned-services{

      .content{
        .service{
          margin-top: 20px;
          & > .service-header{
            font-family: "GothamMedium",sans-serif;
            height: 35px;
            // font-size: 13px;
            text-transform: uppercase;
            font-weight: normal;
            font-size: 10px;
          }
          .commision{
            color: #6ebbdc;
          }
          .service-table{
            border: 1px solid $gray-deep-1;
            padding: 5px 10px 0 10px;
            border-radius: 5px;
            table{
              margin-bottom: 0;

            }
          }
          tr{
            height: 30px;
          }
          th{
            border-top: none;
            border-bottom: 1px solid $gray-deep-1;
            height: 30px;
          }
          td{
            height: 20px;
          }
          th, td{
            padding: 0 0;
            &:first-child, &:nth-child(2){
              width: 28%;
            }
            &:last-child{
              width: 80px;
              img{
                cursor: pointer;
                margin-left: 10px;
                height: 14px;
                widows: 14px;
              }
              .divider{
                height: 16px;
                border-left: 1px solid $gray-deep-1;
              }
            }
            
          }
        }
      }

    }

</style>
