<template>
  <div id="agent-assign-service" class="settings-tab">
    <div class="header d-flex align-items-center"><div class="medium">Assign a Service</div></div>
    <div class="content scroll">
      <div class="service section">
        <div class="header-3">Select a Service</div>
        <div>
          <select class="form-control">
            <option>Collection</option>
          </select>
        </div>
      </div>
      <div class="sub-service section" >
         <div class="header-3">Select a Sub-service</div>
        <div>
          <select class="form-control">
            <option>Mobibranch</option>
          </select>
        </div>
      </div>
      <div class="configuration section">
        <div class="d-flex align-items-center">
          <div class="uppercase header-3">mobibranch : collection configuration</div>
          <div style="margin-left: 10px;" class="dividerS"></div>
        </div>
        <div class="section-content">
          <div class="form-group">
            <label for="exampleFormControlInput1">Description</label>
            <textarea style="height: unset;" class="form-control"  rows="4"></textarea>
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Transaction Limit</label>
            <input type="text" class="form-control" >
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Daily Limit</label>
            <input type="text" class="form-control" >
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Service Lock Limit</label>
            <input type="text" class="form-control" >
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Agent Commision</label>
            <select class="form-control">
              <option>Class 0</option>
              <option>Class 1</option>
              <option>Class 2</option>
            </select>
          </div>
        
      </div>
        </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AgentService',
  data () {
    return {
      services: ["Banking", "Mobi-branch", "Mobile Money"]
    }
  }
}
</script> 

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
    @import '../../assets/styles/variables';
    @import '../../assets/styles/mixins';
    @import '../../assets/styles/colors';


    #agent-assign-service{
      select{
        width: 100%;
      }
      .content{

      }
      .section{
        margin-top: 10px;
        & > div{
          margin-bottom: 5px;
        }
        &.configuration{
          margin-top: 20px;
          .section-content{
            & > div{
              margin-top: 10px;
              margin-bottom: 0;
            }
          }
        }
      }

    }

</style>
