<template>
  <div id="agent-audit-log" class="settings-tab full-height">
    <div class="header d-flex align-items-center"><div class="medium">Audit trail</div></div>
    <div class="content scroll">
      <div class="audit-item d-flex recent-activity">
        <div class="date-section"></div>
        <div class="indicator-section">
          <div class="divider"></div>

        </div>
        <div class="content-section d-flex align-items-center">
          <div class="medium uppercase" style="font-size: 11px;">Recent Activity</div>
          </div>
      </div>
      <template v-for="num in [1,1,1,1]">
      <!-- date audit item -->
      <div class="audit-item d-flex date-audit-item">
        <div class="date-section">
          <div><div class="date-indicator">Mon, june 25</div></div>
        </div>
        <div class="indicator-section"><div class="divider"></div>
          <div class="indicator orange"></div>  
        </div>
        <div class="content-section d-flex align-items-center">
          
          </div>
      </div>
      <div class="audit-item d-flex blah">
        <div class="date-section"></div>
        <div class="indicator-section"><div class="divider"></div>
          <div class="indicator green"></div>  
        </div>
        <div class="content-section d-flex align-items-center">
          <div class="d-flex justify-content-between full-width">
            <div class="d-flex left align-items-center">
              <div><img class="profile" src="@/assets/img/profile.svg"></div>
              <div>Logged in at Asylum Down-Union</div>
              <div class="indicator gray tiny"></div>
              <div>+233338333333</div>
              <div class="indicator gray tiny"></div>
              <div>3434034</div>
            </div>
            <div class="right">08:30 am</div>
          </div>
          </div>
      </div>
      <div class="audit-item d-flex blah type-two">
        <div class="date-section"></div>
        <div class="indicator-section"><div class="divider">
          <avatar backgroundColor="#e0d700" :size="20" username="Reginald Anderson"></avatar>
        </div>
                
        </div>
        <div class="content-section d-flex align-items-center">
          <div class="d-flex justify-content-between full-width">
            <div class="left">
              <div class="d-flex align-items-center">
                <div><img class="profile" src="@/assets/img/profile.svg"></div>
                <div class="strong">Reginald Anderson</div>
                <div class="indicator gray tiny"></div>
                <div>Account</div>
                <div class="indicator gray tiny"></div>
                <div>+233338333333</div>
              </div>
              <div class="d-flex align-items-center">
                <div class="btn-indicator">PENDING</div>
                <div>Withdrawal by <span class="strong">Harris Chase</span> on field</div>
              </div>
            </div>
            <div class="right d-flex flex-column align-items-end">
              <div>Activity ID:99292WEJ</div>
              <div>08:30 am</div>
            </div>
          </div>
          </div>
      </div>

      <div class="audit-item last d-flex blah type-two">
        <div class="date-section"></div>
        <div class="indicator-section">
          <div class="divider"></div>
          <avatar :size="20" backgroundColor="#db4e7a"  username="Julian Asange"></avatar>
          </div>
        <div class="content-section d-flex align-items-center">
          <div class="d-flex justify-content-between full-width">
            <div class="left">
              <div class="d-flex align-items-center">
                <div><img class="profile" src="@/assets/img/profile.svg"></div>
                <div class="strong">Julian Asange</div>
                <div class="indicator gray tiny"></div>
                <div>Account</div>
                <div class="indicator gray tiny"></div>
                <div>+233338333333</div>
              </div>
              <div class="d-flex align-items-center">
                <div>Deposit by <span class="strong">Harris Chase</span> on field</div>
              </div>
            </div>
            <div class="right d-flex flex-column align-items-end">
              <div>Activity ID:99292WEJ</div>
              <div>08:30 am</div>
            </div>
          </div>
          </div>
      </div>
      <!-- time audit item -->
      <div class="audit-item d-flex time-audit-item">
        <div class="date-section">
          <div><div class="time-indicator">8 hours ago</div></div>
        </div>
        <div class="indicator-section"><div class="divider"></div>
        </div>
        <div class="content-section d-flex align-items-center">
          
          </div>
      </div>
      <div class="audit-item d-flex blah type-three">
        <div class="date-section"></div>
        <div class="indicator-section">
          <div class="divider"></div>
          <div class="search-indicator">
            <img src="@/assets/img/search.svg"/>
            </div> 
          </div>
        <div class="content-section d-flex align-items-center">
          <div class="d-flex justify-content-between full-width">
            <div class="left d-flex">
              <div><img class="profile" src="@/assets/img/profile.svg"></div>
              <div>Searched <span class="strong">Charles Asare</span>, <span>Charles Aboagye</span> and <span class="strong">Charles Abunu</span></div>
            </div>
            <div class="right d-flex flex-column align-items-end">
              <div>08:30 am</div>
            </div>
          </div>
          </div>
      </div>
      <div class="audit-item d-flex blah last">
        <div class="date-section"></div>
        <div class="indicator-section">
          <div class="divider"></div>   
          <div class="indicator gray"></div>     
        </div>
        <div class="content-section d-flex align-items-center">
          <div class="d-flex justify-content-between full-width">
            <div class="d-flex align-items-center left">
              <div>Offline at Asylum Down-Union</div>
              <div class="indicator gray tiny"></div>
              <div>+233338333333</div>
              <div class="indicator gray tiny"></div>
              <div>J83JK3W</div>
            </div>
            <div class="right">08:30 am</div>
          </div>
          </div>
      </div>
      </template>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AuditLog',
  data () {
    return {
    }
  }
}
</script> 

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
    @import '../../assets/styles/variables';
    @import '../../assets/styles/mixins';
    @import '../../assets/styles/colors';


    #agent-audit-log{
      img.profile{
        width: 17px;
      }
      .strong{
        font-family: "GothamMedium",sans-serif;
      }
      .content{
        .audit-item{
          
          
          .date-section{
            width: 60px;
          }
          .indicator-section{
            position: relative;
            width: 0;
            border-left: 1px solid $gray-deep-2;
            .indicator, .vue-avatar--wrapper, .search-indicator{
              position: absolute;
              z-index: 1000;
              top: calc(50% - 3px);
              left: -3px;
            }
            .vue-avatar--wrapper, .search-indicator{
              left: -10px;
              top: calc(50% - 10px);
            }
          }
          .content-section{
            width: calc(100% - 62px);
          }
          &.recent-activity{
            height: 80px;
            .content-section{
              padding-left: 20px;
            }
          }
          &.date-audit-item{
            .date-section{
              position: relative;
              & > div{
                position: absolute;
                top: -7px;
                padding-right: 10px;
              }
              .date-indicator{
                border-radius: 3px;
                border: 1px solid #d0d0d0;
                font-size: 7px;
                padding: 2px;
              }
            }
            .content-section{
              border-bottom: 1px solid orange;
            }
          }
          &.time-audit-item{
            .date-section{
              position: relative;
              & > div{
                position: absolute;
                top: -7px;
                padding-right: 10px;
              }
              .time-indicator{
                font-size: 7px;
                padding: 2px;
              }
            }
            .content-section{
              border-bottom: 1px solid $gray-deep-3;
            }
          }
          &.blah{
            .content-section{
              // all flex divs in left side of content section should wrap
              * {
                flex-wrap: wrap;
              }
              & > div > div:first-child{
                max-width: 75%;
              }
            }
            &.last{
              .content-section{
                & > div{
                  border-bottom: none;
                }
              }
            }
            &.type-two{
              .content-section{
                .left, .right{
                  & > div{
                    margin-bottom: 10px;
                  }
                  & > div:last-child{
                    margin-bottom: 0;
                  }
                }
                .left{
                  & > div{
                    & > div{
                      margin-right: 5px;
                    }
                  }
                }
              }
            }
            .content-section{
              padding-left: 20px;
              & > div{
                padding: 10px 0;
                min-height: 50px;
                border-bottom: 1px solid $gray-deep-2;
                display: flex;
                align-items: center;
                .left{
                  & > *{
                    margin: 0 2px;
                  }
                }
              }
            }
          }
        }
      }

    }

</style>
