 //-----------------------------FONT-FACES-----------------
//  @font-face {
//     font-family: "GothamLight";
//     src: url("GothamLight.eot");
//     src: url("GothamLight.woff")format("woff"),
//         url("GothamLight.otf")format("opentype"),
//         url("GothamLight.ttf")format("truetype"),
//         url("GothamLight.svg")format("svg");
// }

// @font-face {
//     font-family: "GothamMedium";
//     src: url("GothamMedium.eot");
//     src: url("GothamMedium.woff")format("woff"),
//         url("GothamMedium.otf")format("opentype"),
//         url("GothamMedium.ttf")format("truetype"),
//         url("GothamMedium.svg")format("svg");
// }

// @font-face {
//     font-family: "GothamBold";
//     src: url("GothamBold.eot");
//     src: url("GothamBold.woff")format("woff"),
//         url("GothamBold.otf")format("opentype"),
//         url("GothamBold.ttf")format("truetype"),
//         url("GothamBold.svg")format("svg");
// }

// @font-face {
//     font-family: "GothamUltra";
//     src: url("GothamUltra.eot");
//     src: url("GothamUltra.woff")format("woff"),
//         url("GothamUltra.otf")format("opentype"),
//         url("GothamUltra.ttf")format("truetype"),
//         url("GothamUltra.svg")format("svg");
// }

// @font-face {
//     font-family: "GothamBlack";
//     src: url("GothamBlack.eot");
//     src: url("GothamBlack.woff")format("woff"),
//         url("GothamBlack.otf")format("opentype"),
//         url("GothamBlack.ttf")format("truetype"),
//         url("GothamBlack.svg")format("svg");
// }

// @font-face {
//     font-family: "GothamRounded";
//     src: url("GothamRounded.eot");
//     src: url("GothamRounded.woff")format("woff"),
//         url("GothamRounded.otf")format("opentype"),
//         url("GothamRounded.ttf")format("truetype"),
//         url("GothamRounded.svg")format("svg");
// }

@font-face {
    font-family: "GothamRoundedBold";
    src: url("/GothamRounded-Bold.eot");
    src: url("/GothamRounded-Bold.woff")format("woff"),
        url("/GothamRounded-Bold.otf")format("opentype"),
        url("/GothamRounded-Bold.ttf")format("truetype"),
        url("/GothamRounded-Bold.svg")format("svg");
}

@font-face {
    font-family: "GothamRoundedBook";
    src: url("/GothamRounded-Book.eot");
    src: url("/GothamRounded-Book.woff")format("woff"),
        url("/GothamRounded-Book.otf")format("opentype"),
        url("/GothamRounded-Book.ttf")format("truetype"),
        url("/GothamRounded-Book.svg")format("svg");
}

// @font-face {
//     font-family: "GothamRoundedLight";
//     src: url("GothamRounded-Light.eot");
//     src: url("GothamRounded-Light.woff")format("woff"),
//         url("GothamRounded-Light.otf")format("opentype"),
//         url("GothamRounded-Light.ttf")format("truetype"),
//         url("GothamRounded-Light.svg")format("svg");
// }

// @font-face {
//     font-family: "GothamBook";
//     src: url("GothamBook.eot");
//     src: url("GothamBook.woff")format("woff"),
//         url("GothamBook.otf")format("opentype"),
//         url("GothamBook.ttf")format("truetype"),
//         url("GothamBook.svg")format("svg");
// }
