<template>
  <v-popover :boundariesElement="bodyEl">
    <span class="chip disburse flex-row align-center justify-center"><img src="../../assets/img/dollar.svg"/></span>
    <template slot="popover">
      <div class="book content">
          <div class="status">Disbursement</div>
          <div><button class="blue-button">Bank account</button></div>
          <div><button class="blue-button">Mobile wallet</button></div>
          <div><button class="blue-button">Prepaid Card</button></div>
      </div>
    </template>
  </v-popover>
</template>

<script>
import * as events from '@/utils/constants/events'
import Utils from '@/utils/Utils'
export default {
  name: 'LoanDisbursement',
  created () {
    this.bodyEl = document.body
  },
  methods: {
    approve () {
      if(this.commentsShowing){
        alert("saved")
      }
      else{
        this.commentsShowing = true
        window.$(this.$refs.commentsBox).slideDown()
        // .find('textarea').focus()
      }
    }
  },
  data () {
    return {
      bodyEl: null,
      commentsShowing: false
    }
  }
}
</script>
<style lang="scss" scoped>
  .loans-popover-inner{
    transform: translateX(-18px);
  }
  .loans-tooltip-inner{
    
    .content{
      input, textarea{
        width: 100%;
        padding: 5px 10px;
        font-size: 12px;
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          font-size: 8px;
          font-style: italic;
        }
        &::-moz-placeholder { /* Firefox 19+ */
          font-size: 8px;
          font-style: italic;
        }
        &:-ms-input-placeholder { /* IE 10+ */
          font-size: 8px;
          font-style: italic;
        }
        &:-moz-placeholder { /* Firefox 18- */
          font-size: 8px;
          font-style: italic;
        }
      }
      & > * {
        margin-top: 10px;
      }
      & > div:first-child{
        margin-top: 0;
        margin-bottom: 5px;
      }
      .comments-box{
        display: none;
      }
      .approve{
      }
      .status{
        margin-right: 10px;
      }
      .password{
        margin-top: 10px;
        & > input{

        }

      }
    }
  }
</style>
