<template>
  <v-popover>
    <span class="chip cant-approve flex-row align-center justify-center">{{level}}</span>
    <template slot="popover">
      <div class="book content">
        <div class="status">level {{level}} approval pending</div>
        <div class="not-authorized"><button  class="grey-button">Not Authorized</button></div>
      </div>
    </template>
  </v-popover>
</template>

<script>
import * as events from '@/utils/constants/events'
import Utils from '@/utils/Utils'
export default {
  name: 'LoanCantApproveStatus',
  props: ['level']
}
</script>
<style lang="scss">
  .loans-popover-inner{
    .content{
      .status{
        margin-right: 10px;
      }
      .name{
        margin-top: 10px;
        font-size: 12px;
      }
      .not-authorized{
        margin-top: 10px;
      }
    }
  }
</style>
