<template>
  <v-popover>
    <span class="chip can-approve flex-row align-center justify-center">{{level}}</span>
    <template slot="popover"
      popoverWrapperClass="loans-tooltip-inner loans-popover-inner"
                        popoverBaseClass="loans-tooltip loans-popover"
                        placement="bottom"
                        boundariesElement="body"
    >
      <div class="book content">
          <div class="status">Level {{level}} Approval</div>
          <div ref="commentsBox" :class="['comments-box', {showing: commentsShowing}]">
            <div ref="comments" class="comments">
              <textarea placeholder="Enter an approval note here" rows="6" class="book"></textarea>
            </div>
            <div class="password">
              <input type="password" placeholder="Enter Authorization Password"/>
            </div>
          </div>
          <div class="approve"><button @click="approve" class="blue-button">Approve</button></div>
      </div>
    </template>
  </v-popover>
</template>

<script>
import * as events from '@/utils/constants/events'
import Utils from '@/utils/Utils'
export default {
  name: 'LoanCanApproveStatus',
  props: ['level', 'name', 'date'],
  methods: {
    approve () {
      if(this.commentsShowing){
        alert("saved")
      }
      else{
        this.commentsShowing = true
        window.$(this.$refs.commentsBox).slideDown()
        .find('textarea').focus()
      }
    }
  },
  data () {
    return {
      commentsShowing: false
    }
  }
}
</script>
<style lang="scss" scoped>
  .loans-tooltip-inner{
    .content{
      min-width: 230px;
      input, textarea{
        width: 100%;
        padding: 5px 10px;
        font-size: 12px;
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          font-size: 10px;
          font-style: italic;
        }
        &::-moz-placeholder { /* Firefox 19+ */
          font-size: 10px;
          font-style: italic;
        }
        &:-ms-input-placeholder { /* IE 10+ */
          font-size: 10px;
          font-style: italic;
        }
        &:-moz-placeholder { /* Firefox 18- */
          font-size: 10px;
          font-style: italic;
        }
      }
      & > * {
        margin-top: 10px;
      }
      & > div:first-child{
        margin-top: 0;
        margin-bottom: 5px;
      }
      .comments-box{
        display: none;
        textarea{
          min-height: 100px;
        }
      }
      .approve{
      }
      .status{
        margin-right: 10px;
      }
      .password{
        margin-top: 10px;
        & > input{

        }

      }
    }
  }
</style>
