<template>
  <div class="full-width">
    <admin-breadcrumb :showFilterButton="true"
      without-form="none" title="Admin Settings" titleLink="/adminsettings"
      subtitle="Active Towns" userButton="Add Town" :userGroupShow="false" :allocateFunds="false" class="bread-div" id="">
    </admin-breadcrumb>
     <div class="position-relative main-scrollable-area"> 
      <town-table  class="full-height"></town-table>
      <sliding-panel>
         <adminusers-filterpane></adminusers-filterpane>
      </sliding-panel>
    </div>
  </div>
</template>

<script>
  export default {
      name:'AdminTownsShow',
      beforeDestroy(){
      },
      created () {
        this.$store.dispatch('getTowns')
      },
      beforeRouteUpdate (to, from, next) {
        // send this to vuex
        this.$store.dispatch('getTowns')
        next()
      }
  }
</script>
