<template>
  <div class="full-width">
    <admin-breadcrumb :showFilterButton="true" :showRightPanel="false"
      without-form="none" title="Admin Settings" titleLink="/adminsettings"
      subtitle="Client Fields" class="bread-div" id="">
    </admin-breadcrumb>
    <div class="position-relative main-scrollable-area">
      <add-customer-fields  class="full-height"></add-customer-fields>
    </div>
  </div>
</template>

<script>
  import AddCustomerFields from '@/components/AddCustomerFields'
  export default {
      name:'AdminSettingsShow',
      components: {
        'add-customer-fields': AddCustomerFields
      },
      created(){
      },
      beforeDestroy(){
      },
  }
</script>
