  <template>
  <div class="full-width">
    <admin-breadcrumb :showFilterButton="true" :userGroupShow="$auth.canCreateRole()"
      without-form="none" title="Admin Settings" titleLink="/adminsettings"
      subtitle="Active Users" class="bread-div" id="">
    </admin-breadcrumb>
    <div class="position-relative main-scrollable-area"> 
      <admin-table  class="full-height"></admin-table>
      <sliding-panel>
         <adminusers-filterpane></adminusers-filterpane>
      </sliding-panel>
    </div>
  </div>
</template>

<script>
  export default {
      name:'AdminSettingsShow',
      beforeDestroy(){
      },
      methods: {
        canCreateRole () {
          return this.$auth.canCreateRole()
        }
      },
      created () {
        this.$store.dispatch('getUsers')
        canCreateRole = auth.canCreateRole()
      },
      beforeRouteUpdate (to, from, next) {
        // send this to vuex
        this.$store.dispatch('getUsers')
        next()
      }
  }
</script>
