<template>
  <div class="full-width">
    <admin-breadcrumb :showFilterButton="true"
      without-form="none" title="Admin Settings" titleLink="/adminsettings"
      subtitle="Active Districts" userButton="Add District" :userGroupShow="false" :allocateFunds="false" class="bread-div" id="">
    </admin-breadcrumb>
     <div class="position-relative main-scrollable-area"> 
      <district-table  class="full-height"></district-table>
      <sliding-panel>
         <adminusers-filterpane></adminusers-filterpane>
      </sliding-panel>
    </div>
  </div>
</template>

<script>
  export default {
      name:'AdminDistrictsShow',
      beforeDestroy(){
      },
      created () {
        this.$store.dispatch('getDistricts')
      },
      beforeRouteUpdate (to, from, next) {
        // send this to vuex
        this.$store.dispatch('getSectors')
        this.$store.dispatch('getDistricts')
        next()
      }
  }
</script>
