<template>
  <div class="full-width">
    <loans-breadcrumb :showFilterButton="true"
      without-form="none" title="Originate" titleLink="/originate/loan_applications" 
      subtitle="Loan Applications" class="bread-div" id="">
    </loans-breadcrumb>
    <div class="position-relative main-scrollable-area">
      <loans-table ></loans-table>
      <sliding-panel>
         <loans-filter-pane></loans-filter-pane>
      </sliding-panel>
    </div>
  </div>
</template>

<script>
import LoansBreadCrumb from '@/components/LoansBreadCrumb'
import LoansTable from '@/components/LoansTable'
export default {
    name:'LoanApplications',
    components: {
      'loans-breadcrumb': LoansBreadCrumb,
      'loans-table': LoansTable
    }
}
</script>
