// colors
.grey,
.gray{
    &{
        background: lighten($m-grey, 20%);
    }

    &-text{
        color: lighten($m-grey, 20%);
    }
}

.orange{
    &{
        background: $orange;
        color: white;
    }

    &-text{
        color: $orange;
    }

    &.btn{
        &:hover,
        &:focus{
            color: #fff;
        }
    }
}

.blue{
    &{
        background: $blue;
        color: white;
    }

    &-text{
        color: $blue;
    }
}

.red{
    background: red;

}

.green{
    background: rgb(0, 255, 0);
}

.black{
    background: #000;
}
.black-text{
    color: black;
}
.yellow{
    background: rgb(255, 255, 0);
}

.white-background{
    background: #fff;
}
