<template>
  <div style="width:100%">
        <div class="d-flex flex-column book" style="flex: 1;width:100%">
            <!-- <breadcrumb-component
                title="Agent" titleLink="/agents" without-form="none"
                subtitle="Clement Ampong"
                class="bread-div" id=""
                >
            </breadcrumb-component> -->
            <bread-crumb-component
                without-form="none" title="Agent" titleLink="/agents"
                subtitle="Sort agents by" class="bread-div" id="">
            </bread-crumb-component>
            <div id="agent-show-panel" style="height: 87vh;">
                <div class="agent-show-info" style="height: 87vh">
                    <agent-info v-bind:agents="agents"></agent-info>
                    <!-- <div id="agent-toggle" @mouseover="toggleCollapseButton(true, $event)" @mouseleave="toggleCollapseButton(false, $event)" class="collapse-details-button d-flex align-items-center justify-content-center">
                        <img v-on:click="collapseDetailsPanel($event)" src="../../assets/img/right_chevron.png">
                    </div> -->
                </div>
                <div class="agent-show-details-panel">
                    <tabbed-view-agents></tabbed-view-agents>
                </div>
            </div>
        </div>
  </div>
</template>


<script>
   
        import AgentInfo from '@/components/AgentInfo'
        import TabbedViewAgents from '@/components/TabbedViewAgents'
        import BreadCrumbComponent from '@/components/BreadCrumbComponent'
        //import TabbedViewAgents from '@/components/TabbedViewAgents'
        export default {
        name: 'AgentShow',
        components: {
            'agent-info': AgentInfo,
            'tabbed-view-agents': TabbedViewAgents,
            'breadcrumb-component': BreadCrumbComponent
        },
        data () {
            return {
                loading: true,
                error: false,
                isDetailsPanelOpen: true,
                agents: null,
            }
        },
        }
   
</script>
<style lang="sass" scoped>

</style>
