<template>
  <div id="faker-test">
      <p>hey</p>
      {{name}}
  </div>
</template>

<script>
  export default {
    name: 'faker-test',
    data () {
        return {
            name: this.$faker().name.findName(),
            email: this.$faker().internet.email(),
            company: this.$faker().company.companyName()
            
        }
    },
    
    
  }
</script>


<style lang="scss" scoped>
   @import '../assets/styles/_variables';
   @import '../assets/styles/app';
   @import '../assets/styles/_general';
   @import '../assets/styles/fonts';

   #faker-test{
       width: 500px;
       height: 500px;
       border: 1px solid black;
   }
</style>

