<template>
    <div id="info-box" class="position-relative on">
        <div v-on:click="expandInfoBox" class="position-absolute close">&times;</div>
        <div v-for="user in users" id="mini-box">
            <div class="row full-width no-margin">
                <div class="col-5 img-col no-margin no-padding">
                    <img  src="../assets/img/img.jpg" alt="">
                </div>
                <div class="col-7 data-col no-margin no-padding flex-column justify-center">
                    <h6 class="no-margin no-padding">{{user.firstName}} <br><b class="round-book">{{user.lastName}}</b></h6>
                    <p style="font-size: 9px" class="no-margin no-padding">{{user.branch}}</p>
                    <p class="no-margin no-padding">Account - {{user.num}}</p>
                </div>
            </div>
            <!-- <div class="dividerL"></div> -->
            <div style="font-size: 11px;margin-top: 5px" class="row full-width no-margin no-padding">
                <div class="col-6 no-margin no-padding">Deposit</div>
                <div style="color: gray" class="col-6 text-right no-margin no-padding round-book">GHc{{user.deposit}}</div>
            </div>
            <div class="dividerI position-absolute"></div>
        </div>
        
    </div>
</template>


<script >
    
    export default {
        name: 'info-box',
        data () {
            return {
                users: [
                    {firstName: 'Alice',lastName: 'Nunoo',branch: 'Mile 7',num: '91679469',deposit:'825.00'},
                    {firstName: 'Alice',lastName: 'Nunoo',branch: 'Mile 7',num: '91679469',deposit:'825.00'},
                ]
            }
        },
        created: function() {
            // for (var i = 0; i < 1; i++){

            //     var user={
            //         firstName: this.$faker().name.firstName(),
            //         lastName: this.$faker().name.lastName(),
            //         image: this.$faker().image.avatar(),
            //         branch: this.$faker().address.state(),
            //         num: this.$faker().random.number(),
            //         deposit: this.$faker().finance.amount(),
            //         email: this.$faker().internet.email(),
            //         company: this.$faker().company.companyName(),
            //         avatar: this.$faker().internet.avatar()
            //     };

            //     this.users.push(user);
            //     console.log("USERS:", this.users);
            // }
        },
        methods:{
            expandInfoBox:function(){
                //alert("HAHA");
                if(window.$("#info-box").hasClass('on')){
                    window.$("#info-box").toggleClass('off','on')
                }
                else if(window.$("#info-box").hasClass('off')){
                    window.$("#info-box").toggleClass('on','off')
                }
                //window.$("#info-box").css("height","auto");
            }
        }
    }
</script>


<style lang="scss" scoped>
    @import '../assets/styles/_variables';
    @import '../assets/styles/app';
    @import '../assets/styles/_general';
    @import '../assets/styles/fonts';

    .on{
        height: 100px;
    }
    .off{
        height: auto;
    }
    #info-box{
        width: 150px;
        //min-height: 100px;
        //height: 100px;
        overflow: hidden;
        border: 1px solid $line-color;
        padding: 5px;
        margin: 20px 10px;
        background: white;
        border-radius: 4px;
        transition: all 0.5s ease-in;

        .close{
            font-size: 14px;
            font-weight: bold;
            right: 1px;
            top: 1px;
        }
    
        #mini-box{
            overflow: hidden;
            margin: 0;
            //border-bottom: 1px solid black;
            margin-bottom: 10px;
            
            .img-col{
                flex-grow: 1;
                //border: 1px solid;
                img{
                    width: inherit;
                    border-radius: 50%;
                }
            }
            .data-col{
                flex-grow: 3;
                padding-left: 5px;
                padding-top: 5px;
                font-family: "GothamRoundedBook",sans-serif;
                h6{
                    font-size: 13px;
                }
                b{
                    color: gray;
                }
                p:first-child{
                    font-size: 9px;
                }
                p:last-child{
                    font-size: 8px;
                }
            }

            .dividerL{
                margin-left: -15px;
                width: 100%;
                border-top-color: gray 
            }
            .dividerI{
                margin-left: -5px;
                width: 100%;
                border-top:2px solid #f0f0f0;
                margin-top: 5px; 
                //margin-bottom: 5px;
            }
        }
    }
   
</style>

