<template>
    <div id="map-tooltip">
        <div class="row no-margin no-padding">
            <div class="img">
                <img src="" alt="">
            </div>
            <div>
                <h4 class="no-margin">Alice <br> <strong class="gray-text bold book">Nuonoo</strong> </h4>
                <h6 class="no-margin">Mile 7</h6>
                <p class="no-margin">Account-20383468536</p>
            </div>
        </div>
        <div class="dividerI"></div>
        <div class="row no-margin no-padding">
            <div class="bold gray-text">Deposit</div>
            <div class="gray-text">GHs2,500.00</div>
        </div>
    </div>
</template>


<script >
    
    export default {
        name: 'map-diagram',
        data () {
            return {
            hey: 'hey'
            }
        },
    }
</script>


<style lang="scss" scoped>
    @import '../assets/styles/_variables';
    @import '../assets/styles/app';
    @import '../assets/styles/_general';
    @import '../assets/styles/fonts';

    #map-tooltip{
        width: 180px;
        height: auto;
        padding: 10px;
        border: 1px solid $avatar-gray;
        font-family: "GothamBook",sans-serif;

        p{
            font-size: $paragraph;
        }
        h6{
            font-size: $subtext;
        }
        h4{
            font-size: 14px;
        }

        .dividerI{
            width: 100%;
            margin: 5px 0;
        }

        .row{
            display: flex;
            justify-content: space-between;
            flex-direction: row;
        }
        .row:last-child{
            font-size: 10px;
        }

        .img{
            background: blue;
            width: 60px;
            height: 60px;
            border-radius: 50%;
        }
    }
   
</style>

