<template>
  <div id="app">
    <slot></slot>
  </div>
</template>

<script>
  export default {
    name: 'story-book-app',
  }
</script>


<style src="../assets/styles/app.scss" lang="scss"></style>
