<template>
  <div class="position-relative">
    <div ref="overlay" class="item-overlay">
      <circle-loader></circle-loader>
    </div>
    <div class="d-flex flex-row recon-trans justify-content-between align-items-center">
      <avatar :src="agent.picture" username="Lorem Ipsum" color="white" :size="45" ></avatar>
      <div class="last-trans flex-column justify-center">
          <p class="no-padding"><strong style="font-weight: 400" class="medium">{{agent.name}}</strong> - {{agent.branch}}</p>
          <p class="no-margin no-padding">GHc{{agent.cashAtHand}} <strong style="font-weight: 400" class="medium">Cash At Hand</strong>  |  GHc{{agent.transactionNet}} <strong style="font-weight: 400" class="medium">Net Transaction</strong>  |
             {{agent.transactions}} <strong style="font-weight: 400" class="medium">Transactions</strong>  |  {{agent.customers}} <strong style="font-weight: 400" class="medium">Customers</strong>
          </p>
      </div>
      <div class="flex-column justify-center align-right">
          <p class="no-margin no-padding trans-date">4 Mar,2018</p>
          <p class="no-margin no-padding">
              <button @click="signOff" class="no-margin no-padding"><img src="../../../assets/img/file_recon.svg" alt=""></button>
              <button @click="toggleActivities" :class="['toggle-activities', 'no-margin', 'no-padding', {active: activitiesOpened}]"><img src="../../../assets/img/calculator_recon.svg" alt=""></button>
              <button class="no-margin no-padding"><img src="../../../assets/img/cancelled_recon.svg" alt=""></button>
          </p>
      </div>
    </div>
    <div ref="activities" style="display: none;" id="alltrans-table">
        <table class="pointer full-width">
            <thead>
                <tr>
                    <th>Trans Mode- ID</th>
                    <th>Customer Name</th>
                    <th>Trans Type</th>
                    <th>Cash In</th>
                    <th>Cash Out</th>
                    <th>Time</th>
                    <th><span class="chip orange">CSV</span>
                        <span class="chip orange">PDF</span></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="transaction in transactions">
                    <td>{{transaction.id}}</td>
                    <td>{{transaction.name}}</td>
                    <td>{{transaction.type}}</td>
                    <td>{{transaction.cashIn}}</td>
                    <td>{{transaction.cashOut}}</td>
                    <td>{{transaction.date | moment("hh:mm:ss A")}}</td>
                    <td>
                        <span class="recon-tag" >Reconciled</span>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
  </div>
</template>

<script>
var faker = require('faker')
import Noty from 'noty'
export default {
  name: 'ReconciledAgent',
  props: ['agent'],
  data () {
    return {
      transactions: [],
      activitiesOpened: false
    }
  },
  methods: {
    toggleActivities () {
      let $activities = window.$(this.$refs.activities)
      if(this.activitiesOpened){
        $activities.slideUp()
      }else {
        $activities.slideDown()
      }
      this.activitiesOpened = !this.activitiesOpened
    },
    signOff () {
      console.error('signing off')
      let $overlay = window.$(this.$refs.overlay)
      $overlay.addClass('active')
      let that = this
      setTimeout(() => {
        window.$(that.$el).slideUp(400, function () {
          new Noty({text: 'Signoff Successful',type: 'success', timeout: 3000}).show()
          that.$emit('signOff', that.agent)
        })
      }, 3000)
    }
  },
  created: function(){
        // var type = ["deposit","withdrawal"];
        var rand = Math.floor(Math.random() * 1) + 0;
        this.picture1 = faker.image.avatar();

        for(let i = 0; i < 5; i ++){
            let transaction = {
                id: faker.random.number(),
                date: faker.date.recent(),
                name: faker.name.findName(),
                branch: "Adenta, Branch",
                product: "School Fees transaction",
                amount: faker.finance.amount(),
                amount2: faker.finance.amount(),
                riskIQ: faker.random.number(),
                status: "Fully Approved",
                transactionOfficerName: faker.name.findName(),
                picture: faker.image.avatar(),
                accountNumber: faker.random.number(),
                isReconciled: faker.random.boolean(),
                // transType: type[rand],
                type: faker.random.boolean() ? "deposit" : "withdrawal"

            }
            if(faker.random.boolean()){
              transaction.cashIn = faker.finance.amount()
            }
            else{
              transaction.cashOut = faker.finance.amount()
            }
            this.transactions.push(transaction)
        }
  }
}
</script>

<style scoped lang="scss">
.item-overlay{
  display: none;
  position: absolute;
  opacity: 0.9;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #f7f8f8;
  &.active{
    display: block;
  }
}
.sk-fading-circle{
  margin: 10px auto;
}
</style>
