<template>
  <tr :class="[errorClass, 'unreconciled-item']">
  <!-- <tr :class="['red-error', 'unreconciled-item']"> -->
      <td>Account - {{transaction.id}}</td>
      <td>
        {{transaction.name}}
        <div class="group-size" v-if="transaction.isGroup">{{transaction.groupSize}}</div>
      </td>
      <td>{{transaction.type}}</td>
      <td>{{transaction.cashIn}}</td>
      <td>{{transaction.cashOut}}</td>
      <td>{{transaction.date | moment("hh:mm:ss A")}}</td>
      <td>
          <div class="d-flex flex-row align-items-center justify-content-end trans-mini-menu">
            <!-- <template v-if="transaction.error == 1">
              <button  class="small-icon"  ><img src="../../../assets/img/up-and-down-arrows.svg" alt=""></button>
              <button class="small-icon"><img src="../../../assets/img/garbage.svg" alt=""></button>
            </template>
            <template v-else-if="transaction.error == 2">
              <button  class="small-icon"><img src="../../../assets/img/danger.svg" alt=""></button>
              <button  class="small-icon"><img src="../../../assets/img/upload2.svg" alt=""></button>
              <button class="small-icon"><img src="../../../assets/img/garbage.svg" alt=""></button>
            </template>
            <template v-else> -->
              <!-- <button  class="small-icon eye"><img src="../../../assets/img/eye.svg" alt=""></button> -->
              <button style="margin-right: 8px;background:transparent" class="small-icon reset"><img src="../../../assets/img/garbage.svg" alt=""></button>
              <!-- <reverse-transaction></reverse-transaction> -->
              <checkbox :isChecked="allTransactionsChecked" v-on:checked="onChecked" :id="transaction.id"></checkbox>
            <!-- </template> -->

        </div>
      </td>
  </tr>
</template>

<script>
var faker = require('faker');
import Utils from '@/utils/Utils'
export default {
  name: 'UnReconciledAgentItem',
  props: ['transaction', 'allTransactionsChecked'],
  data () {
    return {
    }
  },
  methods: {
    onChecked (checked) {
      this.$emit('checked', checked)
    }
  },
  computed: {
    errorClass () {
      if(this.transaction.hasError){
        switch (this.transaction.error) {
          case 0: return "blue-error"
          case 1: return "red-error"
          case 2: return "gray-error"
        }
      }else{
        return null
      }
    }
  }
}
</script>


<style lang="scss" scoped>
  @import '../../../assets/styles/variables.scss';
  @import '../../../assets/styles/mixins.scss';
  .md-checkbox{
    margin-left: 5px;
  }
  .group-size{
    display: inline-block;
    background: $blue;
    color: white;
    padding: 0 3px;
    margin-left: 10px;
  }
  .trans-mini-menu{
    img{
      width: 16px;
      margin-right: -8px;
    }
    button{
      background: transparent;
      outline: 0px;
      margin-right: 8px;
    }
  }
</style>

<style scoped  lang="scss">
    tr.unreconciled-item{
      &.blue-error{
        td{
          color: blue;
        }
      }
      &.red-error{
        td{
          color: red;
        }
      }
      &.gray-error{
        background: #f4f4f4;
      }
    }



</style>
