<template>
  <div>
    <div class="d-flex flex-row recon-trans justify-content-between align-items-center">
      <avatar :src="agent.picture" username="Lorem Ipsum" color="white" :size="45" ></avatar>
      <div class="last-trans flex-column justify-center">
          <p class="no-padding"><strong>{{agent.name}}</strong> - {{agent.branch}}</p>
          <p class="no-margin no-padding">GHc{{agent.cashAtHand}} <strong>Cash At Hand</strong> | GHc{{agent.transactionNet}} <strong>Net Transaction</strong> |
             {{agent.transactions}} <strong>Transactions</strong> | {{agent.customers}} <strong>Customers</strong>
          </p>
      </div>
      <div class="flex-column justify-center align-right">
          <p class="no-margin no-padding trans-date">4 Mar,2018</p>
          <p class="no-margin no-padding">
              <button @click="toggleActivities" :class="['toggle-activities', 'no-margin', 'no-padding', {active: activitiesOpened}]"><img src="../../../assets/img/calculator_recon.svg" alt=""></button>
              <button class="no-margin no-padding"><img src="../../../assets/img/location.svg" alt=""></button>
          </p>
      </div>
    </div>
    <div ref="activities" style="display: none;" id="alltrans-table">
        <table class="pointer full-width">
            <thead>
                <tr>
                    <th>Trans Mode- ID</th>
                    <th>Customer Name</th>
                    <th>Trans Type</th>
                    <th>Cash In</th>
                    <th>Cash Out</th>
                    <th>Time</th>
                    <th><span class="chip orange">CSV</span>
                        <span class="chip orange">PDF</span>
                        <checkbox v-on:checked="onAllChecked" :isChecked="allTransactionsChecked" :id="agent.id" style="display: inline-block;"></checkbox>
                    </th>
                </tr>
            </thead>
            <tbody>
                <unreconciled-agent-item
                  v-on:checked="checkTransaction"
                  :allTransactionsChecked="otherCheckboxesState"
                   :transaction="transaction"
                   v-for="transaction in transactions"
                   :key="transaction.id">
                 </unreconciled-agent-item>
            </tbody>

        </table>
        <div class="tfoot">
          <button :class="['btn', 'reconcile-button', {disabled: !allTransactionsChecked}]">Reconcile</button>
        </div>
    </div>
  </div>
</template>

<script>
var faker = require('faker');
import Utils from '@/utils/Utils'
import UnReconciledAgentItem from './UnReconciledAgentItem'
export default {
  name: 'UnReconciledAgent',
  props: ['agent'],
  components: {
    'unreconciled-agent-item': UnReconciledAgentItem
  },
  data () {
    return {
      transactions: [],
      activitiesOpened: false,
      noCheckedTransactions: 0,
      allTransactionsChecked: false,
      otherCheckboxesState: false
    }
  },
  computed: {
    noCheckableTransactions () {
      return this.transactions.filter(el => !el.hasError || (el.hasError == true && el.error == 0))
    }
  },
  methods: {
    onAllChecked (checked) {
      this.allTransactionsChecked = checked
      this.otherCheckboxesState = checked
    },
    checkTransaction (checked) {
      if(checked){
        console.error('sgh', checked)
        this.noCheckedTransactions  = this.noCheckedTransactions + 1
      } else {
        this.noCheckedTransactions = this.noCheckedTransactions - 1
      }
      if(this.noCheckedTransactions == this.noCheckableTransactions.length){
        this.allTransactionsChecked = true
      }else{
        this.allTransactionsChecked = false
      }
    },
    toggleActivities () {
      let $activities = window.$(this.$refs.activities)
      if(this.activitiesOpened){
        $activities.slideUp()
      }else {
        $activities.slideDown()
      }
      this.activitiesOpened = !this.activitiesOpened
    }
  },
  created: function(){
        var type = ["deposit","withdrawal"];
        var rand = Math.floor(Math.random() * 1) + 0;
        this.picture1 = faker.image.avatar();

        for(let i = 0; i < 5; i ++){
            let transaction = {
                id: faker.random.number(),
                date: faker.date.recent(),
                name: faker.name.findName(),
                branch: "Adenta, Branch",
                product: "School Fees transaction",
                amount: faker.finance.amount(),
                amount2: faker.finance.amount(),
                riskIQ: faker.random.number(),
                status: "Fully Approved",
                transactionOfficerName: faker.name.findName(),
                picture: faker.image.avatar(),
                accountNumber: faker.random.number(),
                isReconciled: faker.random.boolean(),
                type: faker.random.boolean() ? "deposit" : "withdrawal"
            }
            if(faker.random.boolean()){
              transaction.cashIn = faker.finance.amount()
            }
            else{
              transaction.cashOut = faker.finance.amount()
            }
            if(Utils.randomBoolean(3)){
              transaction.isGroup = true
              transaction.groupSize = Math.floor(Math.random() * 100);
            }
            if(Utils.randomBoolean(7)){
              transaction.hasError = true
            }
            if(transaction.hasError){
              transaction.error = Math.floor(Math.random() * 3)
            }
            this.transactions.push(transaction)
        }
  }
}
</script>

<style scoped lang="scss">
  @import '../../../assets/styles/variables.scss';
  @import '../../../assets/styles/mixins.scss';
  .group-size{
    display: inline-block;
    background: $blue;
    color: white;
    padding: 0 3px;
    margin-left: 10px;
  }
  .reconcile-button{
    &.disabled{
      cursor: not-allowed;
    }
  }
  .md-checkbox{
    margin-left: 5px;
  }

    .tfoot{
        display: flex;
        justify-content: flex-end;
        width: 100%;
        height: 50px;
        align-items: center;
    }
</style>
