<template>
<!-- DEFINES THE MAIN CLIENT PAGE WITH A SIDE NAV, TOP NAV AND A BOTTOM NAV -->
  <!-- <fullscreen ref="fullscreen" :fullscreen.sync="fullscreen" class="fullscreen"> -->
    <div id="fullscreen" class="d-flex flex-row fullscreen" style="overflow:hidden">
        <side-nav class="side-nav"></side-nav>
        <div class="main" style="height: 100vh;">
          <top-nav class="full-width"></top-nav>
          <div class="main-content flex-row d-flex align-items-stretch full-width">
            <router-view></router-view>
          </div>
          <!-- <button class="fullscreen-button border btn justify-center flex-row" type="button" @click="toggle"><img src="../assets/img/expand.png" alt=""></button> -->
          <bottom-nav class="full-width"></bottom-nav>
        </div>
    </div>

  <!-- </fullscreen> -->
</template>

<script>
// import Fullscreen from "vue-fullscreen/src/component.vue";
// import fullscreen from 'vue-fullscreen'
import SideNav from "../components/SideNav.vue"
import TopNav from "../components/TopNav.vue"
import { mapGetters, mapActions } from 'vuex'
import BottomNav from "../components/BottomNav.vue"
import {API_URL, FAKE_API_URL, BEIGE_BACKEND, LEMON_DASHBOARD_GEORGE_URL, LEMON_DASHBOARD_LOCAL_URL} from '../utils/Constants.js'
import axios from 'axios'
import store from '@/store'

export default {
  name: "Clients",
  components: {
    "side-nav": SideNav,
    "bottom-nav": BottomNav,
    "top-nav": TopNav
    // Fullscreen
  },
  mounted() {
    this.$bus.$on("isFullScreen", this.toggle)
  },
  computed: {
    ...mapGetters({
      token: 'token'
    })
  },
  // components: {Fullscreen},
  methods: {
    toggle() {
      console.error('lrrdd')
      var element = document.getElementById('fullscreen')

      if(element.requestFullscreen){
        element.requestFullscreen()
      }else if(element.webkitRequestFullscreen()){
        element.webkitRequestFullscreen()
      }else if(element.msRequestFullscreen()){
        element.msRequestFullscreen()
      }else if( element.mozRequestFullScreen()){
           element.mozRequestFullScreen()
      }else{
        // element.webkitExitFullscreen();
        // element.mozCancelFullScreen();
        // element.msExitFullscreen();
        // element.exitFullscreen()
        document.webkitCancelFullScreen()
        document.mozCancelFullScreen()
        document.msExitFullscreen()
        document.exitFullscreen()
      }

    }
  },
  data() {
    return {
      fullscreen: false
    }
  }
}
</script>

<!-- Add 'scoped' attribute to limit CSS to this component only -->
<style lang="scss" scoped>
.main-content {
  height: calc(100vh - 90px);
}
.main {
  width: calc(100vw - 67px);
}

.side-nav {
  height: 100vh;
  width: 67px;
}

// .fullscreen {
//   background: white !important;
//   overflow: hidden !important;
// }

</style>
<style>
/*for each page beneath the breadcrumb there is  a space with common height*/
/* breadcrumb 6vh */
/* top nav 90px */
.main-scrollable-area {
  height: calc(100vh - calc(90px + 6vh));
}
</style>
