// DEFINES THE LOADING PROGRESS
<template>
  <!-- DEFINES THE LOADING PROGRESS -->
  <div class="in-progress max-height">
    <div class="side-prog">
      <div class="flex-column logo-prog"><img src="../assets/img/lemon logo.svg" alt=""></div>
      <ul class="navprog-items">
        <li>
          <p></p>
        </li>
        <li>
          <p></p>
        </li>
        <li>
          <p></p>
        </li>
        <li>
          <p></p>
        </li>
        <li>
          <p></p>
        </li>
        <li>
          <p></p>
        </li>
      </ul>
    </div>
    <div class="main-prog">
      <div class="top-prog flex-row">
        <div style="width: 50%">
          <div style="width: 80%" class="loading"></div>
        </div>
        <div class="flex-row justify-right" style="width:50%">
           <div class="loading"></div>
           <div class="loading" style="width: 10px"></div>
           <div class="loading" style="width: 10px"></div>
           <div class="loading" style="width: 10px"></div>
        </div>
       
      </div>
      <div class="bread-prog flex-row align-center">
        <div style="width: 50%">
          <div style="width: 50%" class="loading"></div>
        </div>
        <div class="flex-row justify-right" style="width:50%">
           <div class="loading"></div>
        </div>
      </div>
      <div class="center-prog flex-column justify-center align-center">
        <div class="flex-column justify-center align-center">
          <img style="width: 70px;height: 70px" src="../assets/img/Spin-1s-200px.gif" alt="">
          <p>Fetching your data ...</p>
        </div>
      </div>
      <div class="foot-prog flex-row align-center justify-center">
        <div class="loading" style="width: 250px"></div>
      </div>
    </div>
  </div>
</template> 

<script>
export default {
  name: 'InProgress'
}
</script>


<style lang="scss">
  @import '../assets/styles/_variables';
  @import '../assets/styles/mixins';

  .in-progress{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    .side-prog{
      width: 67px;
      //background: blue;
      height: 100vh;
      background: linear-gradient(to bottom right, #343536, #343536);
      
      .logo-prog{
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(0,0,0,0.5);

        img{
          width: 40px; 
          height:40px
        }
      }

      .navprog-items{
        @include precise-height(60px);
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
        //position: relative;
        li{
          //width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 6px 0;
          padding: 0;
          width: 44px;
          height: 44px;
          

          &:first-child{
            background: rgba(0,0,0,.5);
            border-radius: 50%; 
          }

          &:last-child{
            position: absolute;
            bottom: 10px;
          }

          p{
            border-radius: 50%;
            width: 20px !important;
            height: 20px !important;
            background: #999999;
            margin: 0;
            background-image: linear-gradient( 100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 80% );
            background-position: 0 0;
            background-repeat: repeat-y;
            animation: shine 1.5s ease-in infinite;
            background-size: 100px 200px;
          }
          
        }
        
      }
     
      
    }
    .main-prog{
      width: -moz-calc(100% - (67px));
      width: -webkit-calc(100% - (67px));
      width: calc(100% - (67px));
      //display: inline-block;

      .top-prog{
        height: 60px;
        background: white;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0 20px;
      }
      .bread-prog{
        height: 6vh;
        background: #fafafa;
        border-bottom: 1px solid #f0f0f0;
        border-top: 1px solid #f0f0f0;
        padding: 0 20px;
      }

      .center-prog{
        height: -moz-calc(94vh - (90px));
        height: -webkit-calc(94vh - (90px));
        height: calc(94vh - (90px));
      }

      .foot-prog{
        height: 30px;
        background: white;
        width: 100%;
        border-top: 1px solid #f0f0f0;
      }

      .loading{
        width: 200px;
        height: 10px;
        //background: blue;
        background: #f0f0f0;
        border-radius: 25px;
        background-image: linear-gradient( 100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 80% );
        background-position: 0 0;
        background-repeat: repeat-y;
        animation: shine 1.5s ease-in infinite;
        background-size: 100px 200px;
        margin: 0 5px;
      }
    }
  }

  @keyframes fadeIn{
    from{
      opacity: 0
    }to{
      opacity: 1;
    }
  }

  @keyframes shine {
    to {
      background-position: 100% 0, /* move highlight to right */
    }
      
  }
</style>

