<template>
  <div class="sk-fading-circle">
    <img src="../../assets/img/spinner-black.gif"></img>
    <div class="small">Signing Off Transactions</div>
  </div>
</template>

<script>

export default {
  name: 'CircleLoader'
}
</script>

<style lang="scss" scoped>
.sk-fading-circle {
  height: 100%;
  position: relative;
  & > *{
    margin-left: auto;
    margin-right: auto;
  }
  img{
    margin-top: 10px;
    height: 30px;
    width: 30px;
    display: block;
  }
  .small{
    text-align: center;
    font-size: 12px;
  }
}

</style>
