<template>
<div class="accordion-menu-item" :class="{active: active || childActive}">
   <div @click="handleClick">{{menuItem.name}}</div>
   <div class="children" ref="children" :class="{collapsed: !open}" v-if="hasChildren">
     <accordion-menu-item :parentKey="key" :eventNs="eventNs" :isChild="true" :parent="menuItem" class="child" :activeItem="activeItem"  :menuItem="item" v-for="item in menuItem.children"></accordion-menu-item>
   </div>
</div>
</template>


<script>
// emits three events 
// accordionParentItemSelected
// accordionChildItemSelected
// accordionMenuItemSelected
import Utils from '@/utils/Utils'
export default {
  name: "AccordionMenuItem",
  props: {
    'eventNs': null,
    "menuItem": null,
    // {key, name, parent}
    "activeItem": null,
    "parent": null,
    "parentKey": null,
    "isChild": null,
    "topLevel": {
      type: Boolean,
      default: false
    },
    "children": null
  },
  created () {
    this.isParent = this.menuItem.hasOwnProperty('children')
    this.init()
    this.$bus.$on(`accordionMenu:ItemSelected${this.eventNs}`, this.handleMenuItemSelection)
  },
  beforeDestroy () {
    this.$bus.$off(`accordionMenu:ItemSelected${this.eventNs}`, this.handleMenuItemSelection)
  },
  data() {
    return {
      active: false,
      childActive: false,
      isParent: false,
      open: false
    };
  },
  mounted () {
    console.info(this.menuItem.default)
    if(this.menuItem.default){
      console.info(this.menuItem.name, "is default")
      this.setActive()
    }
  },
  methods: {
    init(){
      this.key = this.menuItem.key || this.menuItem.name
      if(!this.activeItem){
        return
      }
      let activeKey = this.activeItem.key 
      let key = this.key 
      let parentKey = this.parentKey 
      if(activeKey == key){
        this.setActive()
        return
      }
      if(Utils.present(this.menuItem.children)){
        let activeChildIndex = this.menuItem.children.findIndex(el => {
          let childKey = el.key || el.name 
          return childKey == activeKey
        })
        if(activeChildIndex > -1){
          this.setChildActive()
          return
        }
      }
      this.setNoneActive()
    },
    setActive () {
      this.active = true
      this.parentActive = false,
      this.childActive = false
      this.open = true
    },
    setChildActive () {
      this.active = false
      this.parentActive = false,
      this.childActive = true
      this.open = true
    },
    setNoneActive () {
      this.active = false
      this.parentActive = false,
      this.childActive = false
      this.open = false
    },
    handleMenuItemSelection ({source, parent}) {
      let key = this.menuItem.key || this.menuItem.name
      let sourceIsChild = parent ? true : false
      console.info('chh', sourceIsChild)
      // if source is a parent and this is active keep it active
      
      if(source == this.parent){
        return
      }
      if(key == source){
        this.setActive()
      }else if(key == parent){
        this.setChildActive()
      }else(
        this.setNoneActive()
      )
    },
    handleClick() {
      let key = this.menuItem.key || this.menuItem.name
      let eventOpts = {source: key, name: this.menuItem.name, wasActive: this.active, wasChildActive: this.childActive}
      if(this.parent){
        let parentKey = this.parent.key || this.parent.name 
        eventOpts.parent = parentKey
        eventOpts.parentName = this.parent.name
      }
      this.$bus.$emit(`accordionMenu:ItemSelected${this.eventNs}`, eventOpts)
      // legacy  
      if(this.parent){
        this.$bus.$emit(`accordionParentItemSelected${this.eventNs}`, {menuItem: this.parent.name, isSource: false, wasActive: this.active});
      }else{
        this.$bus.$emit(`accordionParentItemSelected${this.eventNs}`, {menuItem: this.menuItem.name, isSource: true, wasActive: this.active});
      }
      this.$bus.$emit(`accordionMenuItemSelected${this.eventNs}`, this.menuItem.name);
      
    },
    toggleMenuItem () {

    }
  },
  computed: {
    hasChildren() {
      return Array.isArray(this.menuItem.children) && this.menuItem.children.length > 0;
    } 
  },
  watch: {
    activeItem(newValue) {
      this.init()
    },
    open(newValue) {
      if(!this.isParent){
        return
      }
      let $children = $(this.$refs.children)
      if (newValue) {
        $children.slideDown();
      } else {
        $children.slideUp();
      }
    }
  }
};
</script>


<style lang="scss" scoped>
@import "../assets/styles/variables";
@import "../assets/styles/mixins";

.accordion-menu-item {
  & > .children {
    padding: 3px 0;
    display: none;
  }
  & > div:first-child {
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;
    // margin: 2px 0;
    font-size: 12px;
    cursor: pointer;

    &:hover {
      border-left: 3px solid #ff931e;
      padding-left: calc(1.5rem - 3px);
      background: #f6ffbd;
    }
  }
  &.parent {
    & > div:first-child {
      color: black;
    }
  }
  &.active {
    & > div:first-child {
      border-left: 3px solid #ff931e;
      padding-left: calc(1.5rem - 3px);
      background: #f6ffbd;
    }
  }
  &.active.child {
    & > div:first-child {
      border-left: 3px solid #ff931e;
      padding-left: calc(2.2rem - 3px);
      background: #f6ffbd;
    }
  }
  &.child {
    & > div:first-child {
      padding-left: 2.2rem;
      &:hover {
        padding-left: calc(2.2rem - 3px);
      }
    }
  }
}
</style>

