<template>
<div class="accordion-menu">
  <accordion-menu-item :eventNs="eventNamespace"  class="parent" :isChild="false" :menuItem="item" :activeItem="mActiveItem" v-for="item in menuItems" ></accordion-menu-item>
</div>
</template>


<script> 
    
    export default {
        name: 'AccordionMenu',
        props: ['menuItems', 'initialActiveItem', 'activeItem', 'ns'],
        created () {
          if(this.ns){
            this.eventNamespace = this.ns
          }
          this.mActiveItem = this.activeItem
        },
        data () {
          return {
            eventNamespace: "",
            mActiveItem: null
          }
        },
        mounted () {
          
        },
        methods: {

        },
        watch: {
          activeItem (newVal, oldVal) {
            if(newVal && oldVal && newVal.name != oldVal.name && newVal.parent != oldVal.parent){
              this.mActiveItem = newVal
            }else if(newVal != oldVal){
              this.mActiveItem = newVal
            }            
          }
        }
    }
</script>


<style lang="scss" scoped>
    @import '../assets/styles/variables';
    @import '../assets/styles/mixins';


    
</style>

