<template>
<div>
    <slide-out>
        <div slot="top-panel" class="" id="menu">
            <h5>Active User - Clement </h5>
            <!-- <h5 v-else>Add Agent</h5> -->
        </div>
        <div slot="left-panel">
            <div class="input-group">
                <input style="height:30px; font-size:12px" type="text" class="form-control" name="email" placeholder="Search a field">
                <span class="input-group-addon white-background"><i class="glyphicon glyphicon-search"></i></span>
            </div>
            <ul class="nav nav-tabs flex-column" id="slider-menu">
                <li class="nav-item">
                    <a class="nav-link active pl-4" href="#privileges" aria-controls="services" role="tab" data-toggle="tab">Permissions and Priviledges</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pl-4" href="#settings" aria-controls="services" role="tab" data-toggle="tab">Settings</a>
                </li>
            </ul>
        </div>
        <div slot="right-panel">
            <div class="tab-content p-0 m-0">
                 <!-- PRIVILEGES  -->
                    <div role="tabpanel" style="flex: 1; width: 100%;" class="tab-pane in active flex-column align-items-stretch p-0 m-0" id="privileges">
                        <h5 class="uppercase pl-3 m-0" style="line-height: 5vh">Permissions and Priviledges</h5>
                        <div style="padding-left: 10px" role="tabpanel" class="tab-pane in active" id="services">
                            <p style="font-size: 12px" class="bold black-text pl-1" >ACCESS CONTROLS</p>
                            <priviledges></priviledges>
                        </div>

                    </div>


                    <div style="font-size: 12px" role="tabpanel" class="tab-pane fade p-0 m-0" id="settings">
                        <h5 class="uppercase pl-3 m-0" style="line-height: 5vh">Settings</h5>
                    </div>
            </div>
        </div> 
    </slide-out>
    </div>
</template>


<script>
    import AdminUserSettingsPriviledges from '@/components/AdminUserSettingsPriviledges'
    import * as events from '@/utils/constants/events'
    import Utils from '@/utils/Utils'
    export default {
        name: 'ContactSettings',
        props: {
            display: null,
            forApproval: null,
            agentProp: null,
            mode: {
            type: String,
            default: 'ADD'
            }
        },
        components: {
            'priviledges': AdminUserSettingsPriviledges
        },
        data () {
            return {
                agent: {},
                isOpen: false
            }
        },
        created () {
            if(this.agentProp){
                this.agent = Utils.cloneObject(this.agentProp)
            }
        },
        watch: {
            agentProp (newAgent, oldAgent) {
                if(newAgent){
                    this.agent = Utils.cloneObject(newAgent)
                }
            }
        },
        methods: {
            // save () {
            //     alert("saving")
            //     this.close()
            // },
            // cancel () {
            //     this.close()
            // },
            // close () {
            //     let $this = window.$(this.$el)
            //     window.dd = $this
            //     this.$bus.$emit(events.SHOW_OVERLAY, false)
            //     this.$bus.$off(events.CLOSING_OVERLAY)
            //     $this.find('.slide-panel').removeClass('open')
            //     // window.$('.newContactDisplay.active').removeClass('active')
            //     // reset to uneditted contact before closing
            //     this.agent = Utils.cloneObject(this.agentProp)
            // },
            // scrollToSegment (segment) {
            //     let $this = window.$(this.$el)
            //     if(segment == null){
            //         return;
            //     }
            //     let $formSegment = $this.find(`div[data-form-segment=${segment}]`)
            //     let $tab = $this.find('#basic-info')
            //     let offset = $formSegment.offset().top - $tab.offset().top
            //     console.error($tab)
            //     console.error(offset)
            //     console.error($tab.offset().top)
            //     console.error($formSegment.offset().top)
            //     $tab.animate({
            //     scrollTop: offset
            //     }, 1000)
            // },
            toggleAccordion(){
                this.isOpen = !this.isOpen
            }
            
        },
        mounted(){
            // if(window.$('.nav-link').hasClass('active')){

            // }
        }
    }
</script>


<style lang="scss" scoped>
    @import '../assets/styles/variables';
    @import '../assets/styles/mixins';
    #slider-menu{
        font-size: 12px;
        border: 0px !important;
        li{
            font-size: 12px;
            .nav-link{
                font-size: 12px;
            }
        }
        .nav-tabs .nav-link.active{
            border: 0 !important;
            font-size: 12px !important;
        }

        a.nav-link{
            font-size: 12px !important;
            color: black !important;
            border: 0;
            border-radius: 0px;

            &:active,&:focus,&:hover{
                border-left: 3px solid $orange;
                background: #f6ffbd;;
            }
        }

        .panel-collapse{
            height: auto;
            transition: height 0.2s ease-in;

            td{
                border: 0;
                height: 30px;
            }

            // &.open{
            //     height: auto;
            // }
        }
    }
    .slide-enter-active{
        animation: openHeight 0.4s ease-in;
    }
    .slide.leave.active{
        animation: openHeight 0.4s reverse ease-in;
    }

    @keyframes openHeight {
        from{
            height: 0;
        }to{
            height: 100%;
        }
    }

    .tab-content .tab-pane > *{
        margin: 0px !important;
    }

    
</style>

