<template>
  <!-- THIS COMPONENT IS -->
  <div id="act-comp" class="p-0 m-0">
    <div  v-for="activity in activities">
        <div class="pt-2 d-flex flex-row justify-content-between px-4 my-0">
            <div class="flex-column justify-center">
              <p style="font-size: 10px" class="text-secondary no-margin">USSD | {{activity.ussd}}</p>
              <p style="font-size: 12px" class="text-dark no-margin bold">{{activity.name}}</p>
              <p style="font-size: 10px" class="activity-number no-margin">{{activity.num}} to {{activity.phone}}</p>
            </div>
            <div class="text-right flex-column justify-center">
                <p style="margin-left: 84%;" v-if="activity.status" class="activity-status position-relative active-icon no-padding no-margin"></p>
                <p style="margin-left: 84%;" v-if="!activity.status" class="activity-status position-relative inactive-icon no-padding no-margin"></p>
                <p style="font-size: 12px" class="activity-price text-dark bold round-book no-margin">{{activity.price}}</p>
                <p style="font-size: 10px" class="actvity-date text-secondary no-margin">{{activity.date | moment("DD MMM YYYY")}}</p>
            </div>
        </div>
      <div class="dropdown-divider"></div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ActivityComponent',
  mounted: function() {
    const _this = this
    let model = _this.model
    let status = _this.status
    if(this.status =="true"){
        window.$(".sta-icon").addClass("active-stati");
    }else if(this.status =="false"){
        window.$(".sta-icon").addClass("inactive-stati");
    }else{
        window.$(".sta-icon").addClass("pending-stati");
    }
  },
  data () {
    return {
      model: {name: "Papa Sam", status: "active"},
      activities: []
    }
  },
  created: function() {
      for (var i = 0; i < 10; i++){

          var user={
            ussd: this.$faker().random.number(),
            name: this.$faker().lorem.word(),
            num: this.$faker().random.number(),
            phone: this.$faker().phone.phoneNumberFormat(),
            status: this.$faker().random.boolean(),
            price: this.$faker().random.number(100,2000).toLocaleString('ja-JP', { style: 'currency', currency: 'GHc'}),
            date: this.$faker().date.recent(),
          };

          this.activities.push(user);
      }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
  @import '../assets/styles/_variables';
  @import '../assets/styles/_mixins';
  @import '../assets/styles/_general';

  .round-book{
    font-weight: 100;
    //color: #666;
    color: #333;
    text-transform: uppercase;
  }

  // p{
  //   //border: 1px solid black;
  //   //margin: 0;
  //   height: 12px;
  // }


  .dividerL{
    //border-top: 1px solid $border-deep;
    border-top: 1px solid $line-color;
    width: 110%;
  }
  .activity-status{
      margin-left: 92%;
      height: 12px;
  }

  .active-icon{
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
    background: green;
    margin-left: 40%;
  }
  .inactive-icon{
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
    background: red;
    margin-left: 40%;
  }
  // #act-comp{
  //   margin-right: 4px;
  // }
</style>
