<template>
  <div class="full-height row">
    <div class="col-4 section-column book flex-column d-flex">
      <div class="d-flex flex-row justify-content-between">
        <div>Sections</div>
        <div>
          <img class="plus" @click="addSection()" src="../assets/img/plus.svg">
          <img class="plus" @click="addChildSection()" src="../assets/img/plus.svg">
          <img class="delete" @click="deleteSection()" src="../assets/img/garbage.svg">
        </div>
      </div>
      <div style="flex: 1;" class="d-flex flex-column justify-content-between">
        <sections-tree :selectedSection="selectedSection" :currentSection="currentSection" :sectionsProp="sectionsTree"></sections-tree>
        <div class="save-fields d-flex flex-row justify-content-center"><button @click="saveFields">Done</button></div>
      </div>
    </div>
    <div class="col-8 question-column d-flex flex-column">
      <div class="d-flex flex-row justify-content-end align-items-center book">
        <div style="flex: 1;" class="d-flex justify-content-center">Customer Fields</div>
        <img @click="addQuestion" src="@/assets/img/plus.svg">
      </div>
      <div style="flex: 1; overflow-y: auto;">
        <div class="questions-list book" v-if="currentSection && currentSection.questions">
          <draggable v-model="currentSection.questions" :options="{handle: '.select-drag-circle'}">
          <div  v-for="que in currentQuestions"  class="d-flex flex-row align-items-center">
            <div class=""><div class="select-drag-circle"></div></div>
            <div style="flex: 3;" class="question-text">{{que.title}}</div>
            <div style="flex: 1;" class="question-type">{{que.type.name}}</div>
            <div @click="editQuestion(que)" class="edit-question"><img  src="@/assets/img/edit.svg"></div>
            <div @click="deleteQuestion(que)" class="delete-question"><img  src="@/assets/img/garbage.svg"></div>
          </div>
          </draggable>
        </div>
      </div>
    </div>
    <div ref="sectionDetailsModal" class="modal choose-columns-modal" id="sectionDetailsModal" tabindex="-1" role="dialog" data-operation="">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Section Details</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div><input class="sectionName" v-model="addSectionDetails.name" placeholder="name"/></div>
            <div><input v-model="addSectionDetails.description" placeholder="description"/></div>
          </div>
          <div class="modal-footer">
            <button @click="addSectionOperation == 'addSection'? addSection(addSectionDetails): addChildSection(addSectionDetails)" type="button" class="btn btn-primary">OK</button>
          </div>
        </div>
      </div>
    </div>
    <add-edit-user-field v-on:question-added="questionAdded" v-on:question-editted="questionEditted" :mode="addEditQueMode"   display="none" :questionProp="currentQuestion"></add-edit-user-field>
  </div>
</template>

<script>
import axios from 'axios';
import Utils from '@/utils/Utils'
import * as events from '@/utils/constants/events'
import AddEditUserFieldDialog from '@/pages/client/adminsettings/add_edit_user_fields/AddEditUserFieldDialog'


export default {
  name: 'AddCustomerFields',
  components: {
    'add-edit-user-field': AddEditUserFieldDialog
  },
  mounted () {
    let that = this
    const URL = "http://localhost:4000/api/form_new?name=Originate"
    axios.get(URL)
    .then(response => {
      let form = response.data.form
      if(!form){
        this.formMode = 'ADD'
        this.form = {name: "Originate"}
        this.form.sections = this.sectionsTree
      } else {
        this.formMode = 'EDIT'
        this.form = form
        let sectionsList = []
        let sections = form.sections
        for(let i = 0; i< sections.length; i++){
          this.addSectionToList(sections[i], sectionsList)
        }
        // also keep tree of sections as list
        this.sectionsList = sectionsList
        this.sectionsTree = sections
        this.$bus.$on('sectionSelected', this.sectionSelected)
      }
    })
    // for now just fetch first client and add id to fields to save directly
    axios.get("http://localhost:4000/api/client")
    .then(response => {
      this.client = response.data
    })

  },
  methods: {
    // also keep tree structure of sections received from server as list for easier access
    addSectionToList (section, array) {
      array.push(section)
      if(section.sections && section.sections instanceof Array){
        for(let i = 0; i< section.sections.length; i++){
          this.addSectionToList(section.sections[i], array)
        }
      }
    },
    deleteSection () {
      if(!this.currentSection){
        return
      }
      let array = this.sectionsTree
      if(this.currentSection.parent_id){
        array = this.sectionsList.find(el => el.id == this.currentSection.parent_id)
        array = array.sections
      }
      array.splice(array.indexOf(this.currentSection), 1);
      this.currentSection = null
    },
    deleteQuestion (que) {
      let ques = this.currentSection.questions
      ques.splice(ques.indexOf(que), 1)
    },
    editQuestion (que) {
      this.currentQuestion = que
      this.addEditQueMode = "EDIT"
      this.$bus.$emit(events.SHOW_OVERLAY, true)
      window.$('#edit-user-field-slider.slider').addClass('open');
      this.$bus.$once(events.CLOSING_OVERLAY, function () {
        window.$('#edit-user-field-slider.slider').removeClass('open');
      })
    },
    addQuestion () {
      this.currentQuestion = null
      this.addEditQueMode = "ADD"
      this.$bus.$emit(events.SHOW_OVERLAY, true)
      window.$('#add-user-field-slider.slider').addClass('open');
      this.$bus.$once(events.CLOSING_OVERLAY, function () {
        window.$('#add-user-field-slider.slider').removeClass('open');
      })
    },
    questionEditted (que) {
      let currentQue = this.currentSection.questions.find(el=> el.id == que.id)
      let index = this.currentSection.questions.indexOf(currentQue)
      let ques = this.currentSection.questions
      this.$set(ques, index, que)

    },
    questionAdded (que) {
      que.form_id = 1
      if(!this.currentSection.questions){
        this.$set(this.currentSection, 'questions', [])
      }
      this.currentSection.questions.push(que)
    },
    // recursively reassigns the order property of questions and sections
    // before saving to server
    addSectionOrder (array) {
      if(!(array instanceof Array)){
        return
      }
      array.forEach((el, index)=> {
        el.order = index
        // for now add the client id too for direct saving on server
        el.client_id = this.client.id

        if(el.section_id) {
          delete el["section_id"]
        }
        // if(el.type) {
        //   el.input_type_id = el.type.id
        //   delete el["type"]
        // }
        // if(el.text){
        //   delete el["text"]
        // }
        if(el.sections){
          this.addSectionOrder(el.sections)
        }
        if(el.questions){
          this.addSectionOrder(el.questions)
        }
        if(el.id && typeof(el.id) === 'string' && el.id.startsWith('FAKE')){
          delete el["id"]
        }
        if(el.type){
          if(el.type.id){
            el.question_type_id = el.type.id
          }
          delete el["type"]
        }
      })
    },
    saveFields () {
      //assign orders to sections and fields
      this.addSectionOrder(this.sectionsTree)
      let url = this.formMode === 'ADD'?"http://localhost:4000/api/save_user_fields" : "http://localhost:4000/api/update_user_fields"
      axios.post(url, {form: this.form, form_id: this.form.id})
      .then(response=> {
        console.error(response)
      })
    },
    sectionSelected (section) {
      // if(section.questions){
      //   this.currentSection = this.sectionsList.find(el => section.id == el.id)
      // }
      this.currentSection = section
      this.selectedSection = section
    },
    addSection (sectionDetails) {
      if(!sectionDetails){
        this.addSectionDetails.name = ""
        this.addSectionDetails.description = ""
        this.addSectionOperation = "addSection"
        window.$('#sectionDetailsModal').modal({})
        return
      }
      $('#sectionDetailsModal').modal('hide')
      let selectedSection = this.selectedSection
      let newSection = newSection = {name: sectionDetails.name,
         text: sectionDetails.name, description: sectionDetails.description,
       id: `FAKE-${Utils.randomString()}`}
      if(!(selectedSection && selectedSection.parent_id)){
        this.sectionsList.push(newSection)
        this.sectionsTree.push(newSection)
      }else{
        let parentSection  = this.sectionsList.find(el=> el.id == selectedSection.parent_id)
        newSection.parent_id = parentSection.id
        let currentSectionId = parentSection.sections.indexOf(selectedSection)
        parentSection.sections.splice(currentSectionId + 1, 0, newSection)
      }
    },
    addChildSection (sectionDetails) {
      if(!sectionDetails){
        this.addSectionDetails.name = ""
        this.addSectionDetails.description = ""
        this.addSectionOperation = "addChildSection"
        window.$('#sectionDetailsModal').modal({})
        return
      }
      $('#sectionDetailsModal').modal('hide')
      if(this.selectedSection){
        if(!this.selectedSection.sections){
          this.$set(this.selectedSection, 'sections', [])
        }
          let newSection = newSection = {name: sectionDetails.name,
             text: sectionDetails.name,
             description: sectionDetails.description,
           id: `FAKE-${Utils.randomString()}`, survey_id: 2,
           parent_id: this.selectedSection.id
         }
          this.selectedSection.sections.push(newSection)
          this.sectionsList.push(newSection)
      }
    }
  },
  data () {
    return {
      form: null,
      formMode: null,
      client: {},
      sectionsTree: [],
      sectionsList: [],
      currentSection: null,
      selectedSection: null,
      currentQuestion: null,
      addEditQueMode: "ADD",
      // bound to the modal used in adding new sections
      addSectionDetails: {
        name: "",
        description: ""
      },
      addSectionOperation: ""
    }
  },
  computed: {
    currentQuestions () {
      if(this.currentSection && this.currentSection.questions){
        return this.currentSection.questions
      }
      return []
    }
  }
}
</script>

<style scoped lang="scss">
  .section-column{
    border-right: 1px solid #f0f0f0;
    padding-right: 0;
    font-size: 13px;
    & > div:first-child{
      padding: 10px 0;
      margin: 0 10px;
      border-bottom: 1px solid #f0f0f0;
      img{
        cursor: pointer;
        height: 20px;
        width: 20px;
        margin-left: 5px;
        &.plus{
          padding: 4px;
          border-radius: 50%;
          border: 2px solid #d7d7d7;
        }
        &.delete{
          padding: 1px;
        }
      }
    }
    & > div:last-child{
      margin: 20px 10px 20px 0;

      .save-fields{
        button{
          height: 30px;
          width: 200px;
          border-radius: 4px;
          color: white;
          background: #ffa800;
        }
      }
    }
  }
  .question-column{
    padding-left: 0;
    img{
      width: 20px;
      height: 20px;
      padding: 4px;
      cursor: pointer;
    }
    & > div:first-child{
      margin: 10px;
      padding: 5px 0;
      border-bottom: 1px solid #f0f0f0;
      font-size: 14px;
      img{
        margin-right: 10px;
      }
    }
    & > div:last-child{
      margin: 10px;
    }
    .questions-list{
      font-size: 12px;
      & > div > .flex-row{
        padding: 10px;
        background: #e2e2e2;
        margin: 10px 4px;
        border: 1px solid #989898;
        .select-drag-circle{
          width: 14px;
          height: 14px;
          background: white;
          border-radius: 50%;
          margin-right: 10px;
        }

        .question-text, .question-type{
          padding: 4px;
          background: white;
          border: 1px solid #b2d1d8;
        }
        .delete-question, .edit-question{
          margin-left: 5px;
        }
        .question-type{
          border-left: none;
        }
      }
    }
  }
  #sectionDetailsModal{
    .modal-body{
      & > div{
        margin: 10px;
        input{
          width: 100%;
          padding: 0 10px;
        }
      }
    }
  }
</style>
