<template>
  <div>

    <div class="slide-panel slider" :id="mode == 'EDIT' ? 'edit-contact-slider': 'add-contact-slider' ">
 
        <div class="d-flex flex-row justify-content-between align-items-center padding-ten">
            <div class="" id="menu">
              <h5 v-if="mode == 'EDIT' ">Edit Contact - {{contact.name}}</h5>
              <h5 v-else>Add Contact</h5>
            </div>
            <div class="text-right" id="info" :style="{display: display}">
               <button style="font-size: 12px" class="btn white-background border">Single Contact</button>
               <button style="font-size: 12px" class="btn white-background border">Multiple Contact</button>
               <button style="font-size: 12px" class="btn white-background border">Retrieve Contact</button>
            </div>
            <div class="col-7 text-right" id="approve" :style="{display: forApproval}">
                <button class="btn white-background border">Approve</button>
            </div>
        </div>
        <div class="dividerL"></div>
        <div class="row" >
            <div class="col-4 no-margin no-padding flex-column" style="border-right:2px solid #f0f0f0;">
                <div class="input-group">
                    <input style="height:30px; font-size:12px" type="text" class="form-control" name="email" placeholder="Search a field">
                    <span class="input-group-addon white-background"><i class="glyphicon glyphicon-search"></i></span>
                </div>
                <accordion-menu :menuItems="menuItems"></accordion-menu>
            </div>
            <div id="basic-info" class="col-8 no-margin no-padding">
                <h5 style="padding-left:20px;line-height: 5vh">BASIC INFORMATION</h5>
                <div class="scroll" style="height: calc(100% - 5vh);">
                    <form action="">
                        <div class="form-group black-text">
                            <label for="first-name">First Name</label>
                            <input v-model="contact.firstName" id="first-name" type="text" class="form-control">
                        </div>
                        <div class="form-group black-text">
                            <label for="last-name">Last Name</label>
                            <input v-model="contact.lastName" id="last-name" type="text" class="form-control">
                        </div>
                        <div class="form-group black-text">
                            <label for="middle-name">Middle Name</label>
                            <input v-model="contact.otherName" id="middle-name" type="text" class="form-control">
                        </div>
                        <div class="form-group black-text">
                            <label for="dob">Date of Birth</label>
                            <div class="input-group">
                                <input id="dob" type="text" class="form-control" name="dob">
                                <span class="input-group-addon white-background"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </div>
                    </form>
                    <div data-form-segment="location" class="form-header d-flex flex-row align-items-center">
                        <h6 class="uppercase medium no-padding no-margin">LOCATION</h6>
                        <div class="dividerS"></div>
                    </div>
                    <form  action="">
                        <div class="form-group black-text">
                            <label for="address">Address</label>
                            <input id="address" type="text" class="form-control">
                        </div>
                        <div class="form-group black-text">
                            <label for="city">City</label>
                            <input id="city" type="text" class="form-control">
                        </div>
                        <div class="form-group black-text">
                            <label for="town">Town</label>
                            <input id="town" type="text" class="form-control">
                        </div>
                        <div class="form-group black-text">
                            <label for="post-code">Post Code</label>
                            <input id="post-code" type="text" class="form-control">
                        </div>
                        <div class="form-group black-text">
                            <label for="country">Country</label>
                            <input id="country" type="text" class="form-control">
                        </div>
                    </form>
                    <div data-form-segment="contact-details" class="form-header d-flex flex-row align-items-center">
                        <h6 class="uppercase medium no-padding no-margin">CONTACT DETAILS</h6>
                        <div class="dividerS"></div>
                    </div>
                    <form action="">
                        <div class="form-group black-text">
                            <label for="phone">Primary Phone Number</label>
                            <input id="phone" type="text" class="form-control">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row text-right" id="button-panel">
            <button @click="cancel" class="btn">Cancel</button>
            <button @click="save" class="btn orange">Save</button>
        </div>
    </div>

  </div>
</template>

<script>
import * as events from '@/utils/constants/events'
import Contact from '@/models/Contact'
import Utils from '@/utils/Utils'
export default {
  name: 'AddEditContact',
  props: {
    display: null,
    forApproval: null,
    contactProp: null,
    mode: {
      type: String,
      default: 'ADD'
    }
  },
  mounted(){
    this.$bus.$on('accordionMenuItemSelected', this.menuItemSelected)
  },
  beforeDestroy () {
    this.$bus.$off('accordionMenuItemSelected', this.menuItemSelected)
  },
  data () {
    return {
      contact: new Contact({}),
      menuItems: [{name: "Basic Information", default: true, 
            children: [{name: "Location"}, {name: "Contact Details"},
                {name: "Social Profiles"}, {name: "Identity Information"},
                {name: "Employee"}
            ]
        },
        {name: "Images"}, {name: "Third Party Services"},
        {name: "Branch"}
      ]
    }
  },
  created () {
    if(this.contactProp){
      this.contact = Utils.cloneObject(this.contactProp)
    }
  },
  watch: {
    contactProp (newContact, oldContact) {
      if(newContact){
        this.contact = Utils.cloneObject(newContact)
      }
    }
  },
  methods: {
    menuItemSelected (menuItem) {
        switch (menuItem) {
            case "Location":
                this.scrollToSegment('location')
                break;
            case "Contact Details":
                this.scrollToSegment('contact-details')
                break;
            default:
                break;
        }
    },
    save () {
      alert("saving")
      this.close()
    },
    cancel () {
      this.close()
    },
    close () {
      let $this = window.$(this.$el)
      window.dd = $this
      this.$bus.$emit(events.SHOW_OVERLAY, false)
      this.$bus.$off(events.CLOSING_OVERLAY)
      $this.find('.slide-panel').removeClass('open')
      window.$('.newContactDisplay.active').removeClass('active')
      // reset to uneditted contact before closing
      this.contact = Utils.cloneObject(this.contactProp)
    },
    scrollToSegment (segment) {
      let $this = window.$(this.$el)
      if(segment == null){
        return;
      }
      let $formSegment = $this.find(`div[data-form-segment=${segment}]`)
      let $tab = $this.find('#basic-info')
      let offset = $formSegment.offset().top - $tab.offset().top
      console.error($tab)
      console.error(offset)
      console.error($tab.offset().top)
      console.error($formSegment.offset().top)
      $tab.animate({
       scrollTop: offset
      }, 1000)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
    .slider{
        h5{
            font-size: 14px;
            line-height: 8vh;
        }

        // #button-panel{
        //     height: 10vh;
        // }

        button{
            height: 30px;
            padding: 0 10px;
            line-height: 20px;
            font-size: 14px;
        }
        
    }
    input{
      font-size: 14px;
      font-family: "GothamBook",sans-serif;
      padding: 2px 10px;
    }
    .dividerS{
      margin: 0px 20px;
    }
</style>
