<template>
    <div class="modal fade choose-columns-modal add-edit-town" tabindex="-1" :id="id" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 v-if="mode=='add'" class="modal-title">Add a Town</h4>
                    <h4 v-else class="modal-title">Edit Town</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form class="px-3">
                        <div class="form-group">
                            <label for="district-name">Name</label>
                            <input v-model="form.name" type="text" class="form-control mt-0" id="district-name" aria-describedby="emailHelp">
                            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                        </div>
                        <div class="form-group">
                            <label for="district-code">Code</label>
                            <input v-model="form.code" type="text" class="form-control mt-0" id="district-code">
                        </div>
                        <div class="form-group">
                            <label for="district-sector">District</label>
                            <!-- <select v-model="form.district_id" class="form-control m-0 pl-2">
                                <option disabled value="">Select a district</option>
                                <option :value="district.id" v-for="district in districts">{{district.name}}</option>
                            </select> -->
                            <v-select  
                                :taggable = false
                                maxHeight='200px'
                                label="name" 
                                :orange="false"
                                modelPath="id"
                                :clearable="true"
                            
                                v-model="form.district_id"
                                :options="districts">
                            
                            </v-select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button v-if="mode=='add'" @click="addTown" type="submit" class="btn btn-primary">
                        <img :class="[{show: saving}, 'loading-img']" src="@/assets/img/spinner.svg"> Submit</button>
                    <button v-else @click="editTown" type="submit" class="btn btn-primary">
                        <img :class="[{show: saving}, 'loading-img']" src="@/assets/img/spinner.svg"> Edit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex' 
import * as events from '../utils/constants/events.js'
import {SURNAME, FIRSTNAME,ngrok_url,CURRENT_URL} from '../utils/Constants.js'
import Utils from '../utils/Utils.js'
import axios from 'axios'
import Noty from 'noty'
import store from '@/store/index'
export default {
    name: 'AddEditTown',
    props: {
        mode: {
            default: "add",
            type: String
        },
        id:null,
        form: {},
        //districts:null
    },
    data(){
        return{
            saving: false
        }
    },
    created(){
        this.$store.dispatch('getDistricts')
    },
    computed: {
        ...mapGetters({
            districts: 'districts',
        })
    },
    methods:{
        addTown(){
            if (this.form.name==""||this.form.code==""||this.form.district_id=="") {
                this.$notify.error("Please make sure that all fields are correctly filled")
                
            }
            if(this.saving){
                return
            }
            let access_token = store.getters.token
            this.saving = true
            let url = `${CURRENT_URL}towns`
            let params = this.form 

            axios.post(url, params)
            .then(data => {
                this.saving = false
                this.$notify.success("Town Saved")
                window.$('#addTown').modal('hide')
                this.$store.dispatch('getTowns')
                this.form.name=""
                this.form.code=""
            }, error => {
                this.saving = false
                this.$notify.error("Failed To Save")
            })
        },
        editTown(){
            if(this.saving){
                return
            }
            let access_token = store.getters.token
            this.saving = true
            let url = `${CURRENT_URL}towns/${this.form.id}`
            let params = this.form 

            axios.put(url, params)
            .then(data => {
                this.saving = false
                this.$notify.success("Town Updated")
                window.$(`.add-edit-town#${this.id}`).modal('hide')
                this.$store.dispatch('getTowns')
                
            }, error => {
                this.saving = false
                this.$notify.error("Failed To Update")
            })
        }
    }

}
</script>
<style lang="scss" scoped>
    @import '../assets/styles/variables.scss';
    @import '../assets/styles/mixins.scss';
    button{
        font-size: 12px;
    }
    .add-edit-town{
        font-family: 'GothamBook'
    }
</style>

