<template>
  <div>

    <div class="slide-panel slider" :id="mode == 'EDIT' ? 'edit-loan-slider': 'add-loan-slider' ">

        <div style="padding: 5px 0;" class="d-flex flex-row justify-content-between align-items-center padding-ten">
            <div class="" id="menu" style="width: 50%">
              <h5 v-if="mode == 'EDIT' ">LOAN APPLICATION - {{loan.id}} {{loan.product}}</h5>
              <h5 v-else>Add Loan</h5>
            </div>
            <div class="loan-status flex-row"> 
              <loan-approved-status name="James Ordartey" :level="1"></loan-approved-status>
              <loan-approved-status name="Caleb Tetteh" :level="2"></loan-approved-status>
              <loan-can-approve-status name="Caleb Tetteh" :level="3"></loan-can-approve-status>
              <loan-cant-approve-status :level="4"></loan-cant-approve-status>
              <loan-disbursement></loan-disbursement>
            </div>
            <span class="chip orange">PDF</span>
        </div>
        <div class="dividerL"></div>
        <div class="row" >
            <div class="col-4 no-margin no-padding flex-column" style="border-right:2px solid #f0f0f0;">
                <div class="input-group">
                    <input style="height:30px; font-size:12px" type="text" class="form-control" name="email" placeholder="Search a field">
                    <span class="input-group-addon white-background"><i class="glyphicon glyphicon-search"></i></span>
                </div>
                <div ref="accordion" style="width: 100%" class="panel-group white-background" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading white-background">
                            <h4 class="panel-title">
                                <a class="d-flex flex-row align-items-center"><span>
                                    <img style="width: 20px; height: 20px;" src="../assets/img/admin_info_paper.svg" alt="">
                                </span><div>Notes</div></a>
                            </h4>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading white-background">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-target="#loanCollapseOne" data-parent="#accordion" href="#loanCollapseOne"><span>
                                    <img src="../assets/img/minus.svg" alt="">
                                </span>Basic Information</a>
                            </h4>
                        </div>
                        <div id="loanCollapseOne" class="panel-collapse collapse in show">
                            <div class="panel-body">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <a class="black-text" @click="scrollToSegment('location')">Location</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a class="black-text" @click="scrollToSegment('contact-details')">Contact Details</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a class="black-text" href="http://www.jquery2dotnet.com">Social Profiles</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a class="black-text" href="http://www.jquery2dotnet.com">Identity Information</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a class="black-text" href="http://www.jquery2dotnet.com">Employee</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading white-background">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span><img src="/assets/images/add (1).png" alt="">
                                </span>Images</a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse"></div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading white-background">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span><img src="/assets/images/add (1).png" alt="">
                                </span>Third Party Services</a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse"></div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading white-background">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span><img src="/assets/images/add (1).png" alt="">
                                </span>Branch</a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse"></div>
                    </div>
                </div>
            </div>
            <div id="basic-info" class="col-8 no-margin no-padding">
                <h5 style="padding-left:20px;line-height: 5vh">BASIC INFORMATION</h5>
                <div class="scroll" style="height: calc(100% - 5vh);">
                    <form action="">
                        <div class="form-group black-text">
                            <label for="first-name">Originate Id</label>
                            <input   type="text" class="form-control">
                        </div>
                        <div class="form-group black-text">
                            <label for="first-name">First Name</label>
                            <input   type="text" class="form-control">
                        </div>
                        <div class="form-group black-text">
                            <label for="last-name">Last Name</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group black-text">
                            <label for="middle-name">Middle Name</label>
                            <input  id="middle-name" type="text" class="form-control">
                        </div>
                        <div class="form-group black-text">
                            <label for="dob">Date of Birth</label>
                            <div class="input-group">
                                <input id="dob" type="text" class="form-control" name="dob">
                                <span class="input-group-addon white-background"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </div>
                    </form>
                    <div data-form-segment="location" class="form-header d-flex flex-row align-items-center">
                        <h6 class="uppercase medium no-padding no-margin">LOCATION</h6>
                        <div class="dividerS"></div>
                    </div>
                    <form  action="">
                        <div class="form-group black-text">
                            <label for="address">Address</label>
                            <input id="address" type="text" class="form-control">
                        </div>
                        <div class="form-group black-text">
                            <label for="city">City</label>
                            <input id="city" type="text" class="form-control">
                        </div>
                        <div class="form-group black-text">
                            <label for="town">Town</label>
                            <input id="town" type="text" class="form-control">
                        </div>
                        <div class="form-group black-text">
                            <label for="post-code">Post Code</label>
                            <input id="post-code" type="text" class="form-control">
                        </div>
                        <div class="form-group black-text">
                            <label for="country">Country</label>
                            <input id="country" type="text" class="form-control">
                        </div>
                    </form>
                    <div data-form-segment="contact-details" class="form-header d-flex flex-row align-items-center">
                        <h6 class="uppercase medium no-padding no-margin">CONTACT DETAILS</h6>
                        <div class="dividerS"></div>
                    </div>
                    <form action="">
                        <div class="form-group black-text">
                            <label for="phone">Primary Phone Number</label>
                            <input id="phone" type="text" class="form-control">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row text-right" id="button-panel">
            <button @click="cancel" class="btn">Cancel</button>
            <button @click="save" class="btn orange">Save</button>
        </div> 
    </div>

  </div>
</template> 

<script>
import * as events from '@/utils/constants/events'
import LoanApprovedStatus from './originate/LoanApprovedStatus.vue'
import LoanCanApproveStatus from './originate/LoanCanApproveStatus.vue'
import LoanCantApproveStatus from './originate/LoanCantApproveStatus.vue'
import LoanDisbursement from './originate/LoanDisbursement.vue'
import plusButton from '../assets/img/plus.svg'
import minusButton from '../assets/img/minus.svg'
import Utils from '@/utils/Utils'
export default {
  name: 'AddEditLoan',
  components: {'loan-approved-status': LoanApprovedStatus,
    'loan-can-approve-status': LoanCanApproveStatus,
    'loan-cant-approve-status': LoanCantApproveStatus,
    'loan-disbursement': LoanDisbursement
  },
  mounted () {
    window.$(this.$refs.accordion).find('.collapse').each(function (index, element) {
      window.$(element).on('show.bs.collapse', function () {
        let $img = window.$(`a[data-target='#${element.id}'] img`)
        $img.attr('src', minusButton)
      })
      window.$(element).on('hide.bs.collapse', function () {
        let $img = window.$(`a[data-target='#${element.id}'] img`)
        $img.attr('src', plusButton)
      })
    })
  },
  props: {
    display: null,
    forApproval: null,
    loanProp: null,
    mode: {
      type: String,
      default: 'ADD'
    }
  },
  data () {
    return {
      loan: {}
    }
  },
  created () {
    if(this.loanProp){
      this.loan = Utils.cloneObject(this.loanProp)
    }
  },
  watch: {
    loanProp (newLoan, oldLoan) {
      if(newLoan){
        this.loan = Utils.cloneObject(newLoan)
      }
    }
  },
  methods: {
    save () {
      alert("saving")
      this.close()
    },
    cancel () {
      this.close()
    },
    close () {
      let $this = window.$(this.$el)
      window.dd = $this
      this.$bus.$emit(events.SHOW_OVERLAY, false)
      this.$bus.$off(events.CLOSING_OVERLAY)
      $this.find('.slide-panel').removeClass('open')
      // reset to uneditted loan before closing
      this.loan = Utils.cloneObject(this.loanProp)
    },
    scrollToSegment (segment) {
      let $this = window.$(this.$el)
      if(segment == null){
        return;
      }
      let $formSegment = $this.find(`div[data-form-segment=${segment}]`)
      let $tab = $this.find('#basic-info')
      let offset = $formSegment.offset().top - $tab.offset().top
      console.error($tab)
      console.error(offset)
      console.error($tab.offset().top)
      console.error($formSegment.offset().top)
      $tab.animate({
       scrollTop: offset
      }, 1000)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
    .slider{
        h5{
            font-size: 14px;
            line-height: 8vh;
        }

        // #button-panel{
        //     height: 10vh;
        // }

        button{
            height: 30px;
            padding: 0 10px;
            line-height: 20px;
            font-size: 14px;
        }
    }
    input{
      font-size: 14px;
      font-family: "GothamBook",sans-serif;
      padding: 2px 10px;
    }
    .dividerS{
      margin: 0px 20px;
    }
</style>
<style lang="scss">
  // TODO extract style to global
  .loan-status{
    margin-left: -moz-calc(50% - (250px));
    margin-left: -webkit-calc(50% - (250px));
    margin-left: calc(50% - (250px));
    
    
    & > * {
      margin: 0 3px;
    }
    .v-popover{
      //display: inline-block;
    }
    .chip{
      cursor: pointer;
      font-family: "GothamMedium",sans-serif;
      font-size: 11px;
      &.approved{
        background: #a9acad;
      }
      &.can-approve{
        border: 0.15em solid #50c7ff;
        background: white;
        color: #50c7ff;
      }
      &.cant-approve{
        color: #a9acad;
        background: white;
        border: 0.15em solid #a9acad;
      }
      &.disburse{
        background: white;
        border: 0.15em solid #a9acad;
        img{
          width: 16px;
          height: 16px;
        }
      }
    }
  }
</style>

<style lang="scss">
.loans-tooltip {
  display: block !important;
  z-index: 10000;

  .loans-tooltip-inner { 
    border-radius: 3px;
    padding: 10px;
    background: white;
    color: black;
    border: 1px solid #a9acad;
    font-size: 12px;
    top: 5px;
    

    button{
      padding: 5px 20px;
      border-radius: 3px;
      text-transform: uppercase;
      width: 100%;
      &.blue-button{
        color: white;
        background: #50c7ff;
      }
      &.grey-button{
        color: white;
        background: #b0b4b6;
        cursor: not-allowed;
      }
    }
    .content{
      .status{
        text-transform: uppercase;
        color: #717272;
        font-size: 10px;
      }
    }
  }

    .loans-tooltip-inner:before {
        content: '';
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -9px;
        width: 0; 
        height: 0;
        border-bottom: 9px solid #6D6D6D;
        border-right: 9px solid transparent;
        border-left: 9px solid transparent;
    }
    .loans-tooltip-inner:after {
        content: '';
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -8px;
        width: 0; height: 0;
        border-bottom: 8px solid #FFFFFF;
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;
    }

//   .tooltip-arrow {
//     width: 0;
//     height: 0;
//     border-style: solid;
//     position: absolute;
//     margin: 5px;
//     border: 1px solid #777777;
//     border-color: #acacac;
    
//   }

  &[x-placement^="top"] {
    margin-bottom: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 0 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      bottom: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="bottom"] {
    margin-top: 5px;

    .tooltip-arrow {
      border-width: 0 5px 5px 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
      top: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="right"] {
    margin-left: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 5px 0;
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      left: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[x-placement^="left"] {
    margin-right: 5px;

    .tooltip-arrow {
      border-width: 5px 0 5px 5px;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      right: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s, visibility .15s;
  }

  &[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s;
  }
}
</style>
