<template>
  <div>

    <div class="slide-panel slider" :id="mode == 'EDIT' ? 'edit-agent-slider': 'add-agent-slider' ">

        <div class="d-flex flex-row justify-content-between align-items-center padding-ten">
            <div class="" id="menu">
              <h5 v-if="mode == 'EDIT' ">Edit Agent - {{agent.full_name | name}}</h5>
              <h5 v-else>Add Agent</h5>
            </div>
            <div class="text-right" id="info" :style="{display: display}">
               <!-- <button class="btn white-background border">Single Contact</button>
               <button class="btn white-background border">Multiple Contact</button>
               <button class="btn white-background border">Retrieve Contact</button> -->
            </div>
            <div class="col-7 text-right" id="approve" :style="{display: forApproval}">
                <button class="btn white-background border">Approve</button>
            </div>
        </div>
        <div class="dividerL"></div>

        <div class="row" v-if="products">
            <div class="col-4 no-margin no-padding flex-column" style="border-right:2px solid #f0f0f0;">
                <div class="input-group">
                    <input style="height:30px; font-size:12px" type="text" class="form-control" name="email" placeholder="Search a field">
                    <span class="input-group-addon white-background"><i class="glyphicon glyphicon-search"></i></span>
                </div>
                <accordion-menu  :menuItems="menuItems"></accordion-menu>
            </div>
            <!-- <div id="basic-info" class="col-7 no-margin no-padding">
                <h5 style="padding-left:20px;line-height: 5vh">BASIC INFORMATION</h5>
                <form action="">
                    <div class="form-group black-text">
                        <label for="first-name">First Name</label>
                        <input v-model="agent.firstname" id="first-name" type="text" class="form-control">
                    </div>
                    <div class="form-group black-text">
                        <label for="last-name">Last Name</label>
                        <input v-model="agent.lastname" id="last-name" type="text" class="form-control">
                    </div>
                    <div class="form-group black-text">
                        <label for="middle-name">Middle Name</label>
                        <input  id="middle-name" type="text" class="form-control">
                    </div>
                    <div class="form-group black-text">
                        <label for="dob">Date of Birth</label>
                        <div class="input-group">
                            <input id="dob" type="text" class="form-control" name="dob">
                            <span class="input-group-addon white-background"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </div>
                </form>
                <div data-form-segment="location" class="form-header d-flex flex-row align-items-center">
                    <h6 class="uppercase medium no-padding no-margin">LOCATION</h6>
                    <div class="dividerS"></div>
                </div>
                <form  action="">
                    <div class="form-group black-text">
                        <label for="address">Address</label>
                        <input id="address" type="text" class="form-control">
                    </div>
                    <div class="form-group black-text">
                        <label for="city">City</label>
                        <input id="city" type="text" class="form-control">
                    </div>
                    <div class="form-group black-text">
                        <label for="town">Town</label>
                        <input id="town" type="text" class="form-control">
                    </div>
                    <div class="form-group black-text">
                        <label for="post-code">Post Code</label>
                        <input id="post-code" type="text" class="form-control">
                    </div>
                    <div class="form-group black-text">
                        <label for="country">Country</label>
                        <input id="country" type="text" class="form-control">
                    </div>
                </form>
                <div data-form-segment="contact-details" class="form-header d-flex flex-row align-items-center">
                    <h6 class="uppercase medium no-padding no-margin">CONTACT DETAILS</h6>
                    <div class="dividerS"></div>
                </div>
                <form action="">
                    <div class="form-group black-text">
                        <label for="phone">Primary Phone Number</label>
                        <input id="phone" type="text" class="form-control">
                    </div>
                </form>
            </div> -->
            <div id="basic-info" class="col-8 no-margin no-padding">
                <h5 style="padding-left:20px;line-height: 5vh">BASIC INFORMATION</h5>
                <div class="scroll" style="height:calc(100% - 5vh);">
                    <!-- <div v-for="(parent, ind) in products.sections"> -->
                    <div>
                        <div v-for="value in products.sections[0].questions">

                            <form action="">
                                <div class="p-0" v-if="value.type === 'text'">
                                    <div v-if="mode === 'EDIT'">
                                        <input-form :inputData="value.value" :title="value.name" :placeholder="value.name" :id="value.name"></input-form>
                                    </div>
                                    <div v-else-if="mode === 'ADD'">
                                        <input-form :title="value.name" :placeholder="value.name" :id="value.name"></input-form>
                                    </div>
                                </div>
                                <div class="p-0" v-if="value.type === 'date'">
                                    <date-form :title="value.name" :id="value.name" :inputData="value.value"></date-form>
                                </div>
                                <div class="p-0" v-if="value.type === 'options'">
                                    <select-form :title="value.name" :options="value.options"></select-form>
                                    <!-- <multi-select :title="value.name" :options="value.options"></multi-select> -->
                                </div>
                                <div class="p-0" v-if="value.type === 'number'">
                                    <number-form :title="value.name" :placeholder="value.name" :id="value.name"></number-form>
                                </div>
                                <div class="p-0" style="display: inline-block" v-if="value.type === 'image'">
                                    <image-form :id="value.name" :src="src"></image-form>
                                </div>
                            </form>
                        </div>
                        <div v-for="(child, index) in products.sections[0].subsections" :data-form-segment="child.name" >
                            <div :data-form-segment="child.title" class="form-header d-flex flex-row align-items-center">
                                <h6 class="uppercase medium no-padding no-margin">{{child.title}}</h6>
                                <div class="dividerS"></div>
                            </div>
                            <div v-for="value in child.fields">
                                <form action="">
                                    <div class="p-0" v-if="value.type === 'text'">
                                        <div v-if="mode === 'EDIT'">
                                            <input-form :inputData="value.value" :title="value.name" :placeholder="value.name" :id="value.name"></input-form>
                                        </div>
                                        <div v-else-if="mode === 'ADD'">
                                            <input-form :title="value.name" :placeholder="value.name" :id="value.name"></input-form>
                                        </div>
                                    </div>
                                    <div class="p-0" v-if="value.type === 'date'">
                                        <date-form :title="value.name" :id="value.name" :inputData="value.value"></date-form>
                                    </div>
                                    <div class="p-0" v-if="value.type === 'options'">
                                        <select-form :title="value.name" :options="value.options"></select-form>
                                        <!-- <multi-select :title="value.name" :options="value.options"></multi-select> -->
                                    </div>
                                    <div class="p-0" v-if="value.type === 'number'">
                                        <number-form :title="value.name" :placeholder="value.name" :id="value.name"></number-form>
                                    </div>
                                    <div class="p-0" style="display: inline-block" v-if="value.type === 'image'">
                                        <image-form :id="value.name" :src="src"></image-form>
                                    </div>
                                    <address-form-comp :question="value" v-if="value.type instanceof Object"></address-form-comp>
                                </form>
                            </div>

                        </div>
                    </div>  
                </div>
            </div>
        </div>
        <div class="row text-right" id="button-panel">
            <button @click="cancel" class="btn">Cancel</button>
            <button @click="save" class="btn orange">Save</button>
        </div>
    </div>

  </div>
</template>

<script>
import * as events from '@/utils/constants/events'
import Utils from '@/utils/Utils'
import { mapGetters, mapActions } from 'vuex'
import {API_URL, FAKE_API_URL, BEIGE_BACKEND} from '../utils/Constants.js'
import axios from 'axios'


var faker = require('faker');
export default {
  name: 'AddEditAgent',
  mounted(){
    this.$bus.$on('accordionMenuItemSelected', this.menuItemSelected)
  },
  beforeDestroy () {
    this.$bus.$off('accordionMenuItemSelected', this.menuItemSelected)
  },
  props: {
    display: null,
    forApproval: null,
    agentProp: null,
    mode: {
      type: String,
      default: 'ADD'
    }
  },
  data () {
    return {
      agent: {},
      parents: [],
      // todo infer menu items from sections
      menuItems: [{name: "Basic Information", default: true, 
        children: [
          {name: "Address"},
          {name: "Registered Phone Numbers"},
            {name: "Branches"}
          ]
        },
        {name: "Services"},
        {name: "Products"}
      ],
      src: this.$faker().image.avatar(),
      products: {
        sections: [{title: "Basic Informmation",
                questions: [
                  {type: "text", name: "First Name"},
                  {type: "text", name: "Surname"},
                  {type: "text", name: "Other Names"},
                  {type: "date", name: "Date Of Birth"},
                  {type: "text", name: "Place Of Birth"},
                  {type: "text", name: "Agent Code"}
                  // {type: "text", name: "Agent Type"}
                  // {type: "text", name: "Status"}
   
                ],
                subsections: [{title: "Address", name: "Address", fields: [
                    {name: "Address", type: {
                      fields: [
                        {type: "text", name: "House Number", key: "house_number"},
                        {type: "text", name: "Street Name", key: "street"},
                        {type: "text", name: "Suburb", key: "suburb"},
                        {type: "text", name: "Description", key: "description"},
                        {type: "text", name: "City", key: "city"},
                        {type: "text", name: "Region", key: "region"},
                        {type: "text", name: "Postal Code", key: "post_code"}
                      ],
                      options: {first_required: true}
                    }}
                  ]
                },
                  {
                    title: "Phone Numbers"
                  }
                
                ]                
            }
        ]
      }
    }
  },
  created () {
    this.$store.dispatch('loadCustomerInfo')

    if(this.agentProp){
      this.agent = Utils.cloneObject(this.agentProp)
    }
    for (var i = 0; i < 5; i++){
        var boxes= [];
        var inputT = [];
        var options=[];
        var rand = Math.floor(Math.random() * 5) + 1;
        for(var o = 0; o<rand;o++){
            var op = this.$faker().company.companyName()
            options.push(op)
        }
        for(var x=0 ; x<rand ; x++){
            var input={
                title: this.$faker().name.firstName(),
                dataType: this.$faker().random.boolean() ? "string" : "number",
                type: this.$faker().random.boolean() ? "input" : "select",
            }
            if(input.type == 'select'){
                input.options = options
            }
            inputT.push(input)
        }
        for (var y = 0; y < rand; y++){


            var box={
                title: this.$faker().name.firstName(),
                inputType: inputT
            }
            boxes.push(box)
        }
        var user={
            title: this.$faker().company.companyName(),
            id: this.$faker().random.number(),
            firstName: this.$faker().name.firstName(),
            boxes : boxes,
        };
        user.href = '#'+user.id;
        this.parents.push(user);
    }
    // console.error("YEAAH: ", this.parents)

  },
  watch: {
    agentProp (newAgent, oldAgent) {
      if(newAgent){
        this.agent = Utils.cloneObject(newAgent)
      }
    }
  },
  methods: {
    menuItemSelected (menuItem) {
      switch (menuItem) {
          case "Address":
              this.scrollToSegment(menuItem)
              break;
          
          default:
              break;
      }
    },
    save () {
      let url = `${BEIGE_BACKEND}/agents`
      let params = {}
      axios.post(url, params)
      
      this.close()
    },
    cancel () {
      this.close()
    },
    close () {
      let $this = window.$(this.$el)
      window.dd = $this
      this.$bus.$emit(events.SHOW_OVERLAY, false)
      this.$bus.$off(events.CLOSING_OVERLAY)
      $this.find('.slide-panel').removeClass('open')
      // window.$('.newContactDisplay.active').removeClass('active')
      // reset to uneditted contact before closing
      this.agent = Utils.cloneObject(this.agentProp)
    },
    scrollToSegment (segment) {
      let $this = window.$(this.$el)
      if(segment == null){
        return;
      }
      let $formSegment = $this.find(`div[data-form-segment="${segment}"]`)
      let $tab = $this.find('#basic-info')
      let offset = $formSegment.offset().top - $tab.offset().top
    //   console.error($tab)
    //   console.error(offset)
    //   console.error($tab.offset().top)
    //   console.error($formSegment.offset().top)
      $tab.animate({
       scrollTop: offset
      }, 1000)
    }
  },
  computed: {
    // menuItems () {
    //   if(!Array.isArray(this.sections)){return []}
    //   return this.menuItems.map(section => {
    //     let menuItem = {}
    //     menuItem.name = section.title 
    //   })
    // }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
    .slider{
        h5{
            font-size: 14px;
            line-height: 8vh;
        }

        // #button-panel{
        //     height: 10vh;
        // }
        col-7{
            padding: 0 20px !important;
        }

        button{
            height: 30px;
            padding: 0 10px;
            line-height: 20px;
            font-size: 14px;
        }
    }
    input{
      font-size: 14px;
      font-family: "GothamBook",sans-serif;
      padding: 2px 10px;
    }
    .dividerS{
      margin: 0px 20px;
    }


</style>
