<template>
    <div class="modal fade choose-columns-modal add-edit-soceity" tabindex="-1" :id="id" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 v-if="mode=='add'" class="modal-title">Add a Soceity</h4>
                    <h4 v-else class="modal-title">Edit Soceity</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form class="px-3">
                        <div class="form-group">
                            <label for="soceity-name">Name</label>
                            <input v-model="$v.form.name.$model" type="text" class="form-control mt-0" id="soceity-name" aria-describedby="emailHelp">
                          <div class="error validate" v-if="$v.form.name.$error">Name is required</div>
                        </div>
                        <!-- <div class="form-group">
                            <label for="soceity-code">Code</label>
                            <input v-model="form.code" type="text" class="form-control mt-0" id="soceity-code">
                        </div> -->
                        <div class="form-group">
                            <label for="soceity-district">District</label>
                            <v-select  
                                :taggable = false
                                maxHeight='200px'
                                label="name" 
                                :orange="false"
                                modelPath="id"
                                :clearable="true"
                            
                                v-model="$v.form.district_id.$model"
                                :options="districts">
                            
                            </v-select>
                          <div class="error validate" v-if="$v.form.district_id.$error">District is required</div>                            
                        </div>
                        <div class="form-group black-text">
                          <label for="town">Assigned Purchasing Clerk</label>
                          <v-select  
                            :taggable = false
                            maxHeight='200px'
                            label="name" 
                            :orange="false"
                            :clearable="true"
                            :filter="searchAgents"
                            v-model="$v.agent.$model"                      
                            :filterable="false"
                            @search="onAgentsSearch"
                            :options="agentsList">
                            <template slot="no-options">
                              type to search purchasing clerks..
                            </template>
                          </v-select>
                          <!-- <div class="error validate" v-if="$v.agent.$error">PC is required</div> -->
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button v-if="mode=='add'" @click="addSoceity" type="submit" class="btn btn-primary">
                        <img :class="[{show: saving}, 'loading-img']" src="@/assets/img/spinner.svg"> Submit</button>
                    <button v-else @click="editSoceity" type="submit" class="btn btn-primary">
                        <img :class="[{show: saving}, 'loading-img']" src="@/assets/img/spinner.svg"> Edit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import * as events from "../utils/constants/events.js";
import {
  SURNAME,
  FIRSTNAME,
  ngrok_url,
  CURRENT_URL
} from "../utils/Constants.js";
import Utils from "../utils/Utils.js";
import * as types from "@/store/mutation-types";
import axios from "axios";
import Noty from "noty";
import store from "@/store/index";
var debounce = require('lodash.debounce');
import { required, minLength } from 'vuelidate/lib/validators'

export default {
  name: "AddEditSoceity",
  props: {
    mode: {
      default: "add",
      type: String
    },
    id: null,
    society: null
  },
  data() {
    return {
      saving: false,
      agentsList: [],
      agent: null,
      searchingAgents: false,
      form: null
    };
  },
  watch: {
    society () {
      this.init()
    }
  },
  created() {
    this.init()
    this.$store.dispatch("getDistricts");
    this.$store.dispatch('getAgents');
  },
  computed: {
    ...mapGetters({
      districts: "districts",
      agentsList: 'agents'
    })
  },
  validations: {
    form: {
      name: {required}, 
      district_id: {required}
    },
    agent: {}
  },
  methods: {
    open () {
      $(this.$el).modal('show')
    },
    close () {
      $(this.$el).modal("hide");
    },
    init () {
      if(!this.society){
        this.form = {
            name: "",
            code: "",
            district_id:null,
            agent_id: null
        }
        this.agent = null
      }else{
        this.form = Utils.cloneObject(this.society)
        if(this.society.assigned_agent_id){
          this.agent = {id: this.society.assigned_agent_id, name: this.society.assigned_agent}
        }else{
          this.agent = null
        }
      }
      // this.searchAgents('a')
    },
    searchAgents: debounce((loading, search, vm) => {
      let url = `${CURRENT_URL}agents/search`;
      axios
        .get(url, { params: { name: search } })
        .then(
          data => (vm.agentsList = data.agents)
        ) 
        .catch(() => {})
        .finally(() => {
            loading(false)
          // this.searchingPeople = false
        });
    }, 350),
    onAgentsSearch(search, loading) {
      loading(true);
      this.searchAgents(loading, search, this);
    },
    addSoceity() {
      this.$v.$touch()
      if (this.$v.$invalid) {
        this.$notify.error("Please make sure that all fields are correctly filled")
        return
      }
      else{
        if(this.saving) {
          return;
        }
        this.saving = true;
        let url = `${CURRENT_URL}societies`;
        let params = this.form
        params.agent_id = this.agent_id == null ? null : this.agent_id
        //params.agent_id = this.agent.id
        axios.post(url, params).then(
          data => {
            this.saving = false;
            this.$notify.success("Soceity Saved");
            this.close()
            this.$store.commit("ADD_SOCIETY", data.society);
            this.$store.dispatch("getSoceities");
            this.form.name = "";
            this.form.code = "";
            this.$v.form.district_id.$model = ""
          },
          error => {
            this.saving = false;
            this.$notify.error("Failed To Save");
          }
        );
      }
      
    },
    editSoceity() {
      this.$v.$touch()
      if (this.$v.$invalid) {
        this.$notify.error("Please make sure that all fields are correctly filled")
        return
      }
      if (this.saving) {
        return;
      }
      this.saving = true;
      let url = `${CURRENT_URL}societies/${this.form.id}`;
      let params = this.form;
      params.agent_id = this.agent.id 
      axios.put(url, params).then(
        data => {
          this.saving = false;
          this.$notify.success("Soceity Updated");
          this.close()
          this.$store.dispatch("getSoceities");
        },
        error => {
          this.saving = false;
          this.$notify.error("Failed To Update");
        }
      );
    }
  }
};
</script>
<style lang="scss" scoped>
@import "../assets/styles/variables.scss";
@import "../assets/styles/mixins.scss";
button {
  font-size: 12px;
}
.add-edit-soceity {
  font-family: "GothamBook";
}
</style>

