<template>
    <div class="modal fade choose-columns-modal add-edit-sector" tabindex="-1" :id="id" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 v-if="mode=='add'" class="modal-title">Add a Sector</h4>
                    <h4 v-else class="modal-title">Edit Sector</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form class="px-3">
                        <div class="form-group">
                            <label for="sector-name">Name</label>
                            <input v-model="form.name" type="text" class="form-control mt-0" id="sector-name" aria-describedby="emailHelp">
                        </div>
                        <div class="form-group">
                            <label for="sector-code">Code</label>
                            <input v-model="form.code" type="text" class="form-control mt-0" id="sector-code">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button v-if="mode=='add'" @click="addSector" type="submit" class="btn btn-primary">
                        <img :class="[{show: saving}, 'loading-img']" src="@/assets/img/spinner.svg"> Submit</button>
                    <button v-else @click="editSector" type="submit" class="btn btn-primary">
                        <img :class="[{show: saving}, 'loading-img']" src="@/assets/img/spinner.svg"> Edit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex' 
import * as events from '../utils/constants/events.js'
import {SURNAME, FIRSTNAME,ngrok_url,CURRENT_URL} from '../utils/Constants.js'
import Utils from '../utils/Utils.js'
import axios from 'axios'
import Noty from 'noty'
import store from '@/store/index'
export default {
    name: 'AddEditSector',
    props: {
        mode: {
            default: "add",
            type: String
        },
        id:null,
        form: {},
    },
    data(){
        return{
            saving: false
        }
    },
    methods:{
        addSector(){
            if (this.form.name==""||this.form.code=="") {
                this.$notify.error("Please make sure that all fields are correctly filled")
                
            }
            if(this.saving){
                return
            }
            let access_token = store.getters.token
            this.saving = true
            let url = `${CURRENT_URL}sectors`
            let params = this.form 

            axios.post(url, params)
            .then(data => {
                this.saving = false
                this.$notify.success("Sector Saved")
                window.$('#addSector').modal('hide')
                this.$store.dispatch('getSectors')
                this.form.name=""
                this.form.code=""
            }, error => {
                this.saving = false
                this.$notify.error("Failed To Save")
            })
        },
        editSector(){
            if(this.saving){
                return
            }
            let access_token = store.getters.token
            this.saving = true
            let url = `${CURRENT_URL}sectors/${this.form.id}`
            let params = this.form 

            axios.put(url, params)
            .then(data => {
                this.saving = false
                this.$notify.success("Sector Updated")
                window.$(`.add-edit-sector#${this.id}`).modal('hide')
                this.$store.dispatch('getSectors')
                
            }, error => {
                this.saving = false
                this.$notify.error("Failed To Update")
            })
        }
    }

}
</script>
<style lang="scss" scoped>
    @import '../assets/styles/variables.scss';
    @import '../assets/styles/mixins.scss';
    button{
        font-size: 12px;
    }
    .add-edit-sector{
        font-family: 'GothamBook'
    }
</style>

