<template>
  <div>

    <div ref="slider" class="slide-panel slider" :id="mode == 'EDIT' ? 'edit-agent-slider': 'add-agent-slider' ">

        <div class="d-flex flex-row justify-content-between align-items-center padding-ten">
            <div class="" id="menu">
              <h5 v-if="agentProp">Agent - {{agentProp.name | name}}</h5>
              <h5 v-else>Add Agent</h5>
            </div>
            <div class="text-right" id="info" :style="{display: display}">
               <!-- <button class="btn white-background border">Single Contact</button>
               <button class="btn white-background border">Multiple Contact</button>
               <button class="btn white-background border">Retrieve Contact</button> -->
            </div>
            <div v-if="false" class="col-7 text-right" id="approve" :style="{display: forApproval}">
                <button class="btn white-background border">Approve</button>
            </div>
        </div>
        <div class="dividerL"></div>
        <div class="row">
            <div class="col-4 no-margin no-padding flex-column" style="border-right:2px solid #f0f0f0;">
                <div class="input-group">
                    <input style="height:30px; font-size:12px" type="text" class="form-control" name="email" placeholder="Search a field">
                    <span class="input-group-addon white-background"><i class="glyphicon glyphicon-search"></i></span>
                </div>
                <accordion-menu ns="aeag"  :menuItems="menuItems"></accordion-menu>
            </div>
            <keep-alive>
              <div data-nf-tab="Basic Information" v-if="currentTab == 'basic_information'" id="basic-info" class="col-8 no-margin no-padding">
                <h5 style="padding-left:20px;line-height: 5vh">BASIC INFORMATION</h5>
                <div id="basic-scroll" class="scroll" style="height:calc(100% - 5vh);">
                    <form v-on:submit.prevent="" >
                    <div class="p-0 mb-4">
                        <div v-if="mode=='ADD' || (mode=='EDIT' && editMode=='edit')">
                          <input-form v-model="$v.form.first_name.$model" title="First Name"   placeholder="First name"></input-form>
                          <div class="error validate" v-if="$v.form.first_name.$error">Firstname is required</div>
                        </div>
                        <div v-else class="form-group black-text">
                            <label for="address">First Name</label>
                            <div v-if="editMode=='view'" class="input-detail border">{{form.first_name | notAvailable}}</div>
                            <!-- <input v-else v-model="agent.first_name" id="address" type="text" class="form-control"> -->
                        </div>
                    </div>
    
                    <div class="p-0 mb-4">
                        <div v-if="mode=='ADD' || (mode=='EDIT' && editMode=='edit')">
                          <input-form v-model="$v.form.surname.$model" title="Surname"   placeholder="Surname"></input-form>
                          <div class="error validate" v-if="$v.form.surname.$error">Surname is required</div>
                        </div>
                        <div v-else class="form-group black-text">
                            <label for="address">Last Name</label>
                            <div v-if="editMode=='view'" class="input-detail border">{{form.surname | notAvailable}}</div>
                            <!-- <input v-else v-model="agent.first_name" id="address" type="text" class="form-control"> -->
                        </div>
                    </div>
                    <div class="p-0 mb-4">
                        <div v-if="mode=='ADD' || (mode=='EDIT' && editMode=='edit')">
                          <input-form v-model="form.other_names" title="Othernames"   placeholder="Othernames"></input-form>
                        </div>
                        <div v-else class="form-group black-text">
                            <label for="address">Other Names</label>
                            <div v-if="editMode=='view'" class="input-detail border">{{form.other_names | notAvailable}}</div>
                            <!-- <input v-else v-model="agent.first_name" id="address" type="text" class="form-control"> -->
                        </div>
                    </div>
                     <div class="p-0 mb-4">
                          <div v-if="mode=='ADD' || (mode=='EDIT' && editMode=='edit')"  class="input-form m-0">
                            <div class="form-group black-text m-0">
                              <label class="mb-1">Date Of Birth</label> 

                              <datepicker
                                  calendar-button-icon="fa fa-calendar"
                                  :bootstrap-styling="true"
                                  placeholder="date of birth"
                                  v-model="form.dob"
                                  :open-date="new Date('1980/1/1')"
                                  initial-view="year"
                                  :calendar-button="false"  :value="form.dob">
                                </datepicker>
                            </div>
                          </div>
                          <div v-else class="form-group black-text">
                              <label for="address">Date of Birth</label>
                              <div v-if="editMode=='view'" class="input-detail border">{{form.dob | notAvailable}}</div>
                              <!-- <input v-else v-model="agent.first_name" id="address" type="text" class="form-control"> -->
                          </div>
                        
                    </div>
                    <div class="p-0 mb-4">
                        <div v-if="mode=='ADD' || (mode=='EDIT' && editMode=='edit')">
                          <input-form title="Place Of Birth" v-model="form.place_of_birth"   placeholder="Place of Birth"></input-form>
                        </div>
                    </div>
      
                    
                    <!-- <div class="p-0">
                        <div>
                          <input-form title="Supplier"   placeholder="type"></input-form>
                        </div>
                    </div> -->
                    
                    </form>
                    <div data-form-segment="Address" >
                      <form v-on:submit.prevent="" >
                        <div class="form-subheader form-header d-flex flex-row align-items-center">
                            <h6 class="uppercase medium no-padding no-margin">Address</h6>
                            <div class="dividerS"></div>
                        </div>
                        </form>
                    </div>
                    <form>
                        <div v-for="(address, index) in  form.addresses"> 
                          <div v-if="index > 0" class="d-flex justify-content-between" style="margin: 10px 0;">
                            <div>Address {{index + 1}}</div>
                            <div @click="removeAddress(index)">remove</div>
                          </div>
                          <div class="p-0 mb-4">
                              <div>
                                <input-form v-model="address.house_number" title="House Number"   placeholder="House Number"></input-form>
                              </div>
                          </div>
                          <div class="p-0 mb-4">
                              <div>
                                <input-form v-model="address.street" title="Street"   placeholder="Street"></input-form>
                              </div>
                          </div>
                          <div class="p-0 mb-4">
                              <div>
                                <input-form v-model="address.suburb" title="Suburb"   placeholder="Suburb"></input-form>
                              </div>
                          </div>
                          <div class="p-0 mb-4">
                            <div>
                              <input-form v-model="address.city" title="City"   placeholder="City"></input-form>
                            </div>
                          </div>
                          
                          <div class="p-0 mb-4">
                              <div>
                                <input-form v-model="address.post_code" title="PostCode"   placeholder="PostCode"></input-form>
                              </div>
                          </div>
                          <!-- <div class="p-0 mb-4">
                              <div>
                                <label for="">Region</label>
                                <v-select
                                      :allowOtherValues="false"
                                      :taggable = false
                                      :searchable="true"
                                      label="name"
                                      :clearable="false"
                                      :orange="false" 
                                      modelPath="id"
                                      v-model="form.region_id"
                                      :options="regions.regions">
                                    </v-select>
                              </div>
                          </div> -->
                         
                        </div>
                        <div v-if="mode=='ADD'" class="d-flex flex-row justify-content-end">
                          <button v-if="form.addresses.length < 2" @click="addAddress" class="blue btn add-more book">
                            Add Another Address
                          </button>
                        </div>
                        <div v-if="editMode='edit'" class="d-flex flex-row justify-content-end">
                          <button v-if="!form.addresses" @click="addAddress" class="blue btn add-more book">
                            Add Address
                          </button>
                        </div>
                        

                    </form>
                    <div data-form-segment="Registered Phone Numbers" >
                        <form v-on:submit.prevent="" >
                        <div class="form-subheader form-header d-flex flex-row align-items-center">
                            <h6 class="uppercase medium no-padding no-margin">Primary Phone Number</h6>
                            <div class="dividerS"></div>
                        </div>
                        </form>
                    </div> 
                    <form>
                        <div v-if="mode=='VIEW'" class="form-group black-text">
                            <label for="">Phone Number</label>
                            <div v-if="editMode=='view'" class="input-detail border">{{form.phone | notAvailable}}</div>
                            <input v-else v-model="$v.form.phone.$model" id="address" type="text" class="form-control">
                        </div>
                        <div v-else v-for="(phone, index) in  $v.form.phone_numbers.$each.$iter">
                          <div v-if="index > 0" class="d-flex justify-content-between" style="margin: 10px 0;">
                            <div>Alternate Phone Number {{index + 1}}</div>
                            <div @click="removePhone(index)">remove</div>
                          </div>
                          <div class="p-0 mb-4">
                              <div>
                                <label for="">Carrier</label>
                                <v-select
                                      :allowOtherValues="false"
                                      :taggable = false
                                      :searchable="true"
                                      label="name"
                                      :clearable="false"
                                      :orange="false" 
                                      v-model="phone.carrier.$model"
                                      :options="providers">
                                    </v-select>
                                <!-- <input-form v-model="phone.carrier" title="Carrier"   placeholder="Carrier"></input-form> -->
                              </div>
                              <div class="error validate" v-if="phone.carrier.$error">Carrier is required</div>
                          </div>
                          <div class="p-0 mb-4">
                              <div>
                                <input-form v-model="phone.number.$model" title="Phone" placeholder="Phone"></input-form>
                                <div class="error validate" v-if="phone.number.$error">Phone number must be at least 10 digits</div>
                              </div>
                          </div>
                          <div class="p-0 mb-4">
                              <div class="d-flex flex-row align-items-center">
                                  <div>Ported</div>
                                  <switch-button class="ml-4" v-model="phone.ported.$model"></switch-button>
                              </div>
                          </div>
                        
                        </div>
                        <div v-if="mode=='ADD' && false" class="d-flex flex-row justify-content-end">
                          <button v-if="form.phone_numbers.length < 2" @click="addPhone" class="blue btn add-more book">
                          Add Another Phone Number
                          </button>

                        </div>
                        
                    </form>
                </div>
            </div>
               <div data-nf-tab="Account Settings" v-else-if="currentTab == 'account_settings'" id="basic-info" class="col-8 no-margin no-padding">
                <h5 style="padding-left:20px;line-height: 5vh">ACCOUNT SETTINGS</h5>
                <div id="basic-scroll" class="scroll" style="height:calc(100% - 5vh);">
                    <!-- <div v-for="(parent, ind) in products.sections"> -->
                    <form v-on:submit.prevent="" >
                    <div class="p-0 mb-4">
                        <div v-if="mode=='ADD' || (mode=='EDIT' && editMode=='edit')">
                          <input-form v-model="$v.form.code.$model" title="Code"   placeholder="Code"></input-form>
                           <div class="error validate" v-if="$v.form.code.$error">Code is required</div>
                        </div>
                        <div v-else class="form-group black-text">
                            <label for="address">Code</label>
                            <div v-if="editMode=='view'" class="input-detail border">{{form.code | notAvailable}}</div>
                            <!-- <input v-else v-model="agent.first_name" id="address" type="text" class="form-control"> -->
                        </div>
                    </div>
                    <div class="p-0 mb-4">
                              <div>
                                <label for="">Type</label>
                                <v-select
                                      :allowOtherValues="false"
                                      :taggable = false
                                      :clearable="false"
                                      :orange="false" 
                                      v-model="$v.form.type.$model"
                                      :options="['PC', 'DC']">
                                    </v-select>
                                 <div class="error validate" v-if="$v.form.type.$error">Type is required</div>
                                <!-- <input-form v-model="phone.carrier" title="Carrier"   placeholder="Carrier"></input-form> -->
                              </div>
                    </div>
                    <!-- <div class="p-0">
                        <div>
                          <input-form title="Supplier"   placeholder="type"></input-form>
                        </div>
                    </div> -->
                    <div class="p-0 mb-4">
                              <div class="d-flex flex-row align-items-center">
                                  <div>Active</div>
                                  <switch-button class="ml-4" v-model="form.active"></switch-button>
                              </div>
                    </div>
                    <div class="p-0 mb-4">
                            <div>
                                <label for="">Assigned Town</label>
                                <v-select
                                      :allowOtherValues="false"
                                      :taggable = false
                                      :searchable="true"
                                      label="name"
                                      :clearable="false"
                                      :orange="false" 
                                      modelPath="id"
                                      v-model="$v.form.town_id.$model"
                                      :options="towns">
                                    </v-select>
                                     <div class="error validate" v-if="$v.form.town_id.$error">Must be assigned to town</div>
                              </div>
                          </div>
                            <div class="p-0 mb-4">
                            <div>
                                <label for="">Region</label>
                                <v-select
                                      :allowOtherValues="false"
                                      :taggable = false
                                      :searchable="true"
                                      label="name"
                                      :clearable="false"
                                      :orange="false" 
                                      modelPath="id"
                                      v-model="$v.form.region_id.$model"
                                      :options="regions">
                                </v-select>
                                 <div class="error validate" v-if="$v.form.region_id.$error">Must be assigned to region</div>
                              <!-- <select-form :options="regions" v-model="address.region" title="Region"   placeholder="PostCode"></select-form> -->
                            </div>
                        </div>
                    <!-- <div data-form-segment="phone_number" >
                            <div class="form-subheader form-header d-flex flex-row align-items-center">
                                <h6 class="uppercase medium no-padding no-margin">Services</h6>
                                <div class="dividerS"></div>
                            </div>
                        <div v-if="mode=='ADD' || (mode=='EDIT' && editMode=='edit')" v-for="(service, index) in  backofficerData.services">
                          
                          <div class="settings-group py-2">
                              <div class="d-flex flex-row align-items-center justify-content-between">
                                  <div>- {{service.name}}</div>
                                  <switch-button :value="service.id" :event="service.code"></switch-button>
                              </div>
                          </div>
                        
                        </div>
                       
                        
                    </div> -->
                    </form>

                </div>
            </div>
            </keep-alive>
            
        </div>
        <div class="row text-right" id="button-panel">
            <button @click="cancel" class="btn">Cancel</button>
            <button @click="save" class="btn orange">
              <template v-if="saving">
                <img :class="[{show: saving}, 'loading-img']" src="@/assets/img/spinner.svg">
                Saving
              </template>
              <template v-else>
                Save
              </template>
            </button>
            <!-- <button v-else @click="edit" class="btn orange">Edit</button> -->
            <!-- <button v-if="editMode.toLowerCase()=='edit'" class="btn orange">Save</button> -->
        </div>
    </div>

  </div>
</template>

<script>
import * as events from '@/utils/constants/events'
import Utils from '@/utils/Utils'
import { mapGetters, mapActions } from 'vuex'
import axios from 'axios'
import Noty from 'noty' 
import * as types from '@/store/mutation-types'
import {API_URL, FAKE_API_URL, BEIGE_BACKEND, LEMON_DASHBOARD_LOCAL_URL, CURRENT_URL} from '../utils/Constants.js'
import store from '@/store/index'
import { required, minLength } from 'vuelidate/lib/validators'
import {agentsViewModel} from '@/view-models/agents.js'

var faker = require('faker');
export default {
  name: 'AddEditAgent',
  mounted(){
    this.$bus.$on('accordionMenu:ItemSelectedaeag', this.menuItemSelected)
    this.src = this.$faker().image.avatar()
    this.$bus.$on('hola', this.onHola)
    this.$store.dispatch('getRegions')
    
  },
  beforeDestroy () {
    this.$bus.$off('accordionMenu:ItemSelectedaeag', this.menuItemSelected)
    this.$bus.$off('hola', this.onHola)
  },
  props: {
    display: null,
    forApproval: null,
    agentProp: null,
    mode: {
      type: String,
      default: 'ADD'
    }
  },
  data () {
    return {
      agent: {},
      parents: [],
      // todo infer menu items from sections
      menuItems: [{name: "Basic Information", default: true, 
        children: [
          {name: "Address"},
          {name: "Registered Phone Numbers"},
            
          ]
        },
        {name: "Account Settings"}
      ],
      currentTab: 'basic_information',
      editMode: 'view',
      saving: false,
      src: "",
      form: {}
    }
  },
  validations: {
    form: {
      first_name: {required}, 
      surname: {required},
      phone_numbers: {
        required, minLength: minLength(1),
        $each: {
          number: {minLength: minLength(10), required},
          carrier: {required},
          ported: {}
        }
      },
      code: {required},
      type: {required},
      town_id: {required},
      region_id: {required}
    }
  },
  created () {
    this.$store.dispatch('loadCustomerInfo')

    this.initForm()
    for (var i = 0; i < 5; i++){
        var boxes= [];
        var inputT = [];
        var options=[];
        var rand = Math.floor(Math.random() * 5) + 1;
        for(var o = 0; o<rand;o++){
            var op = this.$faker().company.companyName()
            options.push(op)
        }
        for(var x=0 ; x<rand ; x++){
            var input={
                title: this.$faker().name.firstName(),
                dataType: this.$faker().random.boolean() ? "string" : "number",
                type: this.$faker().random.boolean() ? "input" : "select",
            }
            if(input.type == 'select'){
                input.options = options
            }
            inputT.push(input)
        }
        for (var y = 0; y < rand; y++){


            var box={
                title: this.$faker().name.firstName(),
                inputType: inputT
            }
            boxes.push(box)
        }
        var user={
            title: this.$faker().company.companyName(),
            id: this.$faker().random.number(),
            firstName: this.$faker().name.firstName(),
            boxes : boxes,
        };
        user.href = '#'+user.id;
        this.parents.push(user);
    }
    // console.error("YEAAH: ", this.parents)

  },
  watch: {
    agentProp (newAgent, oldAgent) {
      if(newAgent){
        this.initForm()
      }
    }
  },
  methods: {
    initForm () {
      this.form = agentsViewModel.getForm(this.agentProp)
      // if(this.agentProp){
      //   this.mode = 'EDIT'
      // }else{
      //   this.mode = 'ADD'
      // }
    },
    edit(){
      this.editMode = 'edit'
    },
    onHola ({id, checked}) {
      let selectedServices = this.form.service_ids
      let i = selectedServices.indexOf(id)
      if(checked == false){
          selectedServices.splice(i, 1)
      }else if(checked && i == -1){
          selectedServices.push(id)
      }
        // this.$event.target.payload
        // this.messages.push(msg);
        // console.error("This is the thing I was looking for",msg)
        // this.$bus.$emit("priviledgeSet", {code: this.event, value: this.value});
    },
    addAddress () {
      this.form.addresses.push(
        {
            house_number: "",
            street: "",
            description: "",
            city: "",
            suburb: "",
            region: "",
            post_code: ""
        }	
      )
    },
    removeAddress (index) {
      this.form.addresses.splice(index, 1)
    },
    addPhone () {
      this.form.phone_numbers.push(
        {
            carrier: "",
            primary: true,
            ported: false,
            number: ""
        }
      )
    },
    removePhone (index) {
      this.form.phone_numbers.splice(index, 1)
    },  
    menuItemSelected (menuItem) {
      console.info('aalll', menuItem)
      if(menuItem.parent){
          this.scrollToSegment({segment: menuItem.name, tab: menuItem.parent})
        }else{
          if(menuItem.wasActive || menuItem.wasChildActive){
            this.scrollToSegment({segment: null, tab: menuItem.name, animate: true})
          }else{
            this.switchItem({menuItem: menuItem.name, isSource: true, wasWactive: false})
            this.scrollToSegment({segment: null, tab: menuItem.name, animate: false})
          }  
        }
    },
    switchItem({menuItem, isSource, wasActive}){
        let selectedItem = menuItem.trim().split(/\s+/).join('_').toLowerCase();
        this.currentTab = selectedItem
    },
    scrollToSegment ({segment, tab, animate}) {
      // alert()
      console.info(segment, tab)
      if(animate != false){
        animate = true
      }
      let $this = $(this.$el)
      let $tab = $this.find(`div[data-nf-tab='${tab}'] > .scroll`)
      if($tab.length == 0){
        return 
      }
      // if no segment scroll to top
      
      if(!segment){
        if(animate){
          $tab.animate({
            scrollTop: 0
          })
        }else{
          $tab.scrollTop(0)
        }
        return
      }
      // alert()
      let $formSegment = $tab.find(`div[data-form-segment='${segment}']`)
      console.info('al', $formSegment)
      let currentOffset = $tab.scrollTop()    
      let offset = $formSegment.offset().top - $tab.offset().top
      let newOffset = offset + currentOffset 
      $tab.animate({
          scrollTop: newOffset
        })
    },
    save () {
      // if (true || this.form.first_name==""||this.form.surname==""||this.form.phone_numbers[0].number.length < 10) {
      //       this.$notify.error("Please make sure that all fields are correctly filled")
            
      //   }
      this.$v.$touch()
      if (this.$v.$invalid) {
        this.$notify.error("Form has errors")
        return
      }
      if(this.saving){
        return
      }
      let mode = this.mode
      this.saving = true  
      let params = this.form 
      let id = this.agentProp ? this.agentProp.id : null
      this.$store.dispatch("createEditAgent", {params, id, mode})
      .then(data => {
        this.saving = false
        this.$notify.success(mode == 'EDIT' ? "Agent Updated" : "Agent Saved")
        this.$store.dispatch('getAgents')
        this.close()
      }, error => {
        this.saving = false
        
        this.$notify.error(error.error)
      })
      
    },
    cancel () {
      this.close()
    },
    open () {
      this.$bus.$emit(events.SHOW_OVERLAY, true)
      $(this.$refs.slider).addClass('open');
      this.$bus.$once(events.CLOSING_OVERLAY, () => {
        $(this.$refs.slider).removeClass('open')
      })
    },
    close () {
      this.$bus.$emit(events.SHOW_OVERLAY, false)
      this.$bus.$off(events.CLOSING_OVERLAY)
      $(this.$refs.slider).removeClass('open')
      // window.$('.newContactDisplay.active').removeClass('active')
      // reset to uneditted contact before closing
      Object.assign(this.$data, this.$options.data.apply(this))
      // this.form = this.$options.data().form
      // this.agent = Utils.cloneObject(this.agentProp)
    }
  },
  computed: {
    // menuItems () {
    //   if(!Array.isArray(this.sections)){return []}
    //   return this.menuItems.map(section => {
    //     let menuItem = {}
    //     menuItem.name = section.title 
    //   })
    // }
    ...mapGetters({
      regions: 'regions',
      backofficerData: 'user',
      providers: 'providers',
      towns:'towns'
    })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
    .slider{
        h5{
            font-size: 14px;
            line-height: 8vh;
        }

        // #button-panel{
        //     height: 10vh;
        // }
        col-7{
            padding: 0 20px !important;
        }

        button{
            height: 30px;
            padding: 0 10px;
            line-height: 20px;
            font-size: 14px;
        }
    }
    input{
      font-size: 14px;
      font-family: "GothamBook",sans-serif;
      padding: 2px 10px;
    }
    .dividerS{
      margin: 0px 20px;
    }
    .add-more{
      font-size: 10px !important;
      background: transparent !important;
      color: #007bff !important;
      text-decoration: underline;
    }
    .error{
        color: red;
        font-size: 9px;
    }
    input,.input-detail{
      font-size: 12px;
      font-family: "GothamBook",sans-serif;
      padding-left: 10px;
      line-height: 30px;
    }
    .dividerS{
      margin: 0px 20px;
    }
    .input-detail{
        height: 30px;
        width: 100%;
        
    }

</style>
