<template>
  <div>
  <div v-for="answer in answers">
    <div v-for="value in fields">
      <form action="">
          <div class="p-0" v-if="value.type === 'text'">
              <div v-if="mode === 'EDIT'">
                  <input-form :inputData="value.value" :title="value.name" :placeholder="value.name" :id="value.name"></input-form>
              </div>
              <div v-else-if="mode === 'ADD'">
                  <input-form :title="value.name" :placeholder="value.name" :id="value.name"></input-form>
              </div>
          </div>
          <div class="p-0" v-if="value.type === 'date'">
              <date-form :title="value.name" :id="value.name" :inputData="value.value"></date-form>
          </div>
          <div class="p-0" v-if="value.type === 'options'">
              <select-form :title="value.name" :options="value.options"></select-form>
              <!-- <multi-select :title="value.name" :options="value.options"></multi-select> -->
          </div>
          <div class="p-0" v-if="value.type === 'number'">
              <number-form :title="value.name" :placeholder="value.name" :id="value.name"></number-form>
          </div>
          <div class="p-0" style="display: inline-block" v-if="value.type === 'image'">
              <image-form :id="value.name" :src="src"></image-form>
          </div>
      </form>
  </div>
  </div>
  </div>
</template>

<script>
export default {
  name: 'AddressesFormComp',
  mounted () {
    this.answers.push(this.createNewAnswerModel())
  },
  props: ["question"],
  data () {
    return { 
      answers: []
    }
  },
  computed: {
    fields () {
      return this.question && this.question.type ? this.question.type.fields : []
    }
  },
  methods: {
    createNewAnswerModel () {
      let answerModel = {}
      this.fields.forEach(field => {
        answerModel[field.key] = field.hasOwnProperty("default") ? field.default : null
      })
      return answerModel
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
