<template>
  <div>
    <div class="controls-container pl-1">
      <div class="d-flex flex-row align-items-center">
        <p class="bold black-text">Activity Panel Permission</p>
        <div class="dividerS"></div>
      </div>
      <div style="padding-right: 70px;height:30px;font-size:12px"  class="d-flex flex-row align-items-center justify-content-between py-3">
          <h6 class="no-padding no-margin">- View Transactions</h6>
          <switch-button></switch-button>
      </div>
      <div style="padding-right: 70px;height:30px;font-size:12px"  class="d-flex flex-row justify-content-between align-items-center py-3">
          <h6 class=" no-padding no-margin">- Update Transactions</h6>
          <switch-button></switch-button>
      </div>
      <div style="padding-right: 70px;height:30px;font-size:12px"  class="d-flex flex-row justify-content-between align-items-center py-3">
          <h6 class=" no-padding no-margin">- Reconcile Transactions</h6>
          <switch-button></switch-button>
      </div>
      <div style="padding-right: 70px;height:30px;font-size:12px"  class="d-flex flex-row justify-content-between align-items-center py-3">
          <h6 class=" no-padding no-margin">- Signoff Transactions</h6>
          <switch-button></switch-button>
      </div>
      <div style="padding-right: 70px;height:30px;font-size:12px"  class="d-flex flex-row justify-content-between align-items-center py-3">
          <h6 class=" no-padding no-margin">- View Self Service</h6>
          <switch-button></switch-button>
      </div>
    </div>
    <div class="controls-container pl-1">
      <div class="d-flex flex-row align-items-center">
        <p class="bold black-text">Contact Permission</p>
        <div class="dividerS"></div>
      </div>
        <div style="padding-right: 70px;height:30px;font-size:12px"  class="d-flex flex-row justify-content-between align-items-center py-3">
            <h6 class=" no-padding no-margin">- Create Contact</h6>
            <switch-button></switch-button>
        </div>
        <div style="padding-right: 70px;height:30px;font-size:12px"  class="d-flex flex-row justify-content-between align-items-center py-3">
            <h6 class=" no-padding no-margin">- Update Contact</h6>
            <switch-button></switch-button>
        </div>
        <div style="padding-right: 70px;height:30px;font-size:12px"  class="d-flex flex-row justify-content-between align-items-center py-3">
            <h6 class=" no-padding no-margin">- Delete Contact</h6>
            <switch-button></switch-button>
        </div>
          <div style="padding-right: 70px;height:30px;font-size:12px"  class="d-flex flex-row justify-content-between align-items-center py-3">
            <h6 class=" no-padding no-margin">- View Contact Details</h6>
            <switch-button></switch-button>
        </div>
    </div>
    <div class="controls-container pl-1">
      <div class="d-flex flex-row align-items-center">
        <p class="bold black-text">Originate Permission</p>
        <div class="dividerS"></div>
      </div>
        <div style="padding-right: 70px;height:30px;font-size:12px"  class="d-flex flex-row justify-content-between align-items-center py-3">
            <h6 class=" no-padding no-margin">- Create Loan Application</h6>
            <switch-button></switch-button>
        </div>
        <div style="padding-right: 70px;height:30px;font-size:12px"  class="d-flex flex-row justify-content-between align-items-center py-3">
            <h6 class=" no-padding no-margin">- Level 1 Approval</h6>
            <switch-button></switch-button>
        </div>
        <div style="padding-right: 70px;height:30px;font-size:12px"  class="d-flex flex-row justify-content-between align-items-center py-3">
            <h6 class=" no-padding no-margin">- Level 2 Approval</h6>
            <switch-button></switch-button>
        </div>
        <div style="padding-right: 70px;height:30px;font-size:12px"  class="d-flex flex-row justify-content-between align-items-center py-3">
            <h6 class=" no-padding no-margin">- Underwriters Approval</h6>
            <switch-button></switch-button>
        </div>
        <div style="padding-right: 70px;height:30px;font-size:12px"  class="d-flex flex-row justify-content-between align-items-center py-3">
            <h6 class=" no-padding no-margin">- Loan Disbursement</h6>
            <switch-button></switch-button>
        </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AdminUserSettingsPriviledges',
  data () {
    return {

    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
    @import '../assets/styles/variables';
    @import '../assets/styles/mixins';
    @import '../assets/styles/fonts';
    @import '../assets/styles/client';
    // .col-5{
    //     display: flex;
    //     align-items: center;
    // }

    .dividerS{
      margin-left: 10px;
      margin-right: 10px;
    }
    .controls-container{
      h6{
        font-family: "GothamBook",sans-serif;
        font-size: 12px !important;
      }
    }
    #services{
        height: auto;
        overflow-x: hidden;
        color: #333;
        input{
            border: 1px solid $input-border;
        }

        p{
            font-size: 12px;
            margin: 10px 0;
            color: #333;
        }

        .row{
            padding-right: 50px;
            .card{
                border: 0;
            }

        }
    }

</style>
