<template>
  <div class="breadcrumb d-flex flex-row align-items-center justify-content-between">
    <div class="d-flex flex-row align-center some-space">
      <div class="flex-row align-items-baseline no-padding no-margin">
        <router-link :to="titleLink" tag="b" class="deep-blue-text title no-padding no-margin">{{title}}</router-link>
        <img class="align-self-center" v-if="showSecondBread" style="margin: 0px 10px 0;" src="../assets/img/right-arrow.svg" alt="">
        <b v-if="showSecondBread" style="font-weight: 100;font-size: 12px;margin-right: 10px" class="medium">{{subtitle}}</b>
        <img v-if="showThirdBread" style="margin: 0px 10px 0;" src="../assets/img/right-arrow.svg" alt="">
        <b v-if="showThirdBread" style="font-weight: 100;font-size: 12px;margin-right: 10px" class="medium">{{subsubtitle}}</b>
        <name-filter-dropdown v-if="showDropDown" title='Surname' :filters="[constants.SURNAME, constants.FIRSTNAME]" >
        </name-filter-dropdown>
      </div>
    </div>
    <div v-if="showRightPanel" class="display-flex align-items-center">
        <button @click="addUserClicked" style="cursor:pointer;">{{userButton}}</button>
        <button v-if="userGroupShow" @click="addGroupClicked" style="cursor:pointer;"> Add Group</button> 
        <button class="disabled" style="cursor: not-allowed;" v-if="user && user.can_allocate_eva && allocateFunds" @click="allocateFundsClicked">Allocate Funds</button>

        <!-- <button :class="['filterBot', {activeDrawer: filterActive}]" @click="filterClicked" v-if="showFilterButton" style="cursor:pointer;"><img src="../assets/img/funnel.png" alt=""> Filter</button> -->
    </div>


  </div>
</template>

<script>
import {ASCENDING, DESCENDING, SURNAME, FIRSTNAME} from '../utils/Constants.js'
import {FILTER_BUTTON_CLICKED, ADD_USER, ADD_GROUP,ALLOCATE_FUNDS} from '../utils/constants/events.js'
import {SETTINGS_BUTTON_CLICKED} from '../utils/constants/events.js'
import { mapGetters, mapActions } from 'vuex'
// console.log("bread", SURNAME)
export default {
  name: 'AdminBreadCrumb',
  props: {
    title: null,
    subtitle: null,
    "without-form": null,
    id: null,
    titleLink: null,
    showDropDown: {
      type: Boolean,
      default: false
    },
    allocateFunds:{
      type: Boolean,
      default: true
    },
    showFilterButton: {
      type: Boolean,
      default: false
    },
    userGroupShow:{
      type: Boolean,
      default: true
    },
    userButton:{
      type: String,
      default: "Add User"
    },
    showSettingsButton: {
      type: Boolean,
      default: false
    },
    showRightPanel:{
      type:Boolean,
      default: true
    },
    showSecondBread:{
      type: Boolean,
      default: true
    },
    showThirdBread:{
      type: Boolean,
      default: false
    }
  },
  methods: {
    filterClicked () {
      this.filterActive = !this.filterActive
      this.$bus.$emit(FILTER_BUTTON_CLICKED);
    },
    addUserClicked () {
      console.error("no")
      this.$bus.$emit(ADD_USER);
    },
    addGroupClicked () {
      this.$bus.$emit(ADD_GROUP);
    },
    allocateFundsClicked () {
      return false
      this.$bus.$emit(ALLOCATE_FUNDS);
    },
    
  },
  data () {
    return {
      constants: {"SURNAME": SURNAME, "FIRSTNAME": FIRSTNAME},
      filterActive: false,
      allocationPrivilege:false,
    }
  },
  computed: {
    ...mapGetters({
      user: 'user'
    })
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
  @import '../assets/styles/variables';
  @import '../assets/styles/mixins';
  .breadcrumb{
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0px;
    margin: 0px;
    //border-bottom: 1px solid #666666;
    height: 6vh;
    background: #fafafa;
    border-bottom: 1px solid #f0f0f0;

    span.chip{
      @include pointer;

    }

    img{
      width: 12px;
      height: 12px;
    }

    button{
      font-size: 11px;
      padding: 0 10px;
      line-height: 30px;
      height: 30px;
      margin-left: 10px;
      background: white;
      border: 1px solid #f0f0f0;
      border-radius: 2px;

      img{
        width: 16px;
      }
    }

  }
  .activeDrawer{
    background: $orange!important;
    color: white;

    img{
      filter: invert(1);

    }
  }
  .title{
    cursor: pointer;
    font-weight: bold;
    font-family: "GothamRoundedBook";
    font-size: 13px;
    padding-top: 2px;
    line-height: 4vh;
  }

</style>
