<template>
  <div class="full-height">

    <div id="admin-users-table" class="table-div">
        <table  v-infinite-scroll="loadMore" infinite-scroll-distance="50"
        infinite-scroll-disabled="loadingAgents"
        class="table position-relative">
            <!-- <loading-indicator style="top: 50%;left: 50%;"></loading-indicator> -->
            <thead class="position-relative table">
                <tr>
                    <th>name</th>
                    <th v-for="column in columns.slice(0, 6)">{{column.header}}</th>
                    <th>
                    <button class="button-s" data-toggle="modal" data-target="#myModal"><img style="width: 14px;height: 14px" src="../assets/img/Asset 8.svg" alt=""></button>
                    </th>
                </tr>
            </thead>
            <tbody v-if="userCount == 0">
                <tr>
                    <td style="text-align:center" colspan="8">
                        No Users Available
                    </td>
                </tr>
            </tbody>
            <!-- <div v-if="count == 0" class="d-flex flex-row justify-content-center align-items-center">
                <p>No Users to Display</p>
            </div> -->
            <tbody v-else class="no-margin" style="overflow-y: scroll;height: auto" >
                <!-- TABLE ROW COMPONENT -->
                <tr v-for="admin in sortedAdmins">
                    <td tag="td"  class="pointer" ><avatar :src="admin.picture" v-bind:username="admin.name" color="white" :size="35" ></avatar>{{admin.name}}</td>
                    <td v-for="column in columns.slice(0, 6)">
                        <template  v-if="column.dataField ==  'lastLogin' " >{{admin[column.dataField] | moment("dddd, MMMM Do YYYY")}}</template>
                        <template  v-else >{{admin[column.dataField] | notAvailable}}</template>
                    </td>
                    <td class="dropdown table-menu">
                        <div class="agent-mini-menu">
                            <button @click="deleteUser(admin.id)" id="dis" class="trans" type="button">
                                <img src="../assets/img/garbage.svg" alt=""></button>
                            <button @click="editUser(admin.id)"  id="edit-agent" class="trans agent-edit" type="button"> <img  src="../assets/img/edit (2).svg" alt=""></button>
                            <button class="agent-drop dropdown-toggle" type="button" data-toggle="dropdown">
                                <img src="../assets/img/more.svg" alt="">
                            </button>
                            <!-- <ul class="dropdown-menu dropdown-menu-right">
                                <li><a class="black-text full-width full-height" href="#"><img src="../assets/img/two-contacts.png" alt="">Merge</a></li>
                                <li><a class="black-text full-width full-height" href="#"><img src="../assets/img/adaptation.png" alt="">Re-assign</a></li>
                                <li class="divider"></li>
                                <li @click="deleteUser(admin.id)"><a class="black-text full-width full-height" href="#"><img src="../assets/img/garbage.png" alt="">Delete</a></li>
                            </ul> -->
                        </div>
                    </td>
                    <edit-user :form='admin'></edit-user>
                    <alert-box :sectorId="admin.id" message="Are you sure you want to delete this user?" submit="Delete" cancel="Cancel" :id="admin.id"></alert-box>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tfoot d-flex flex-row justify-content-between align-items-center">
            <p>Showing {{userCount}} of {{userCount}} Users</p>
            <p>Total Users - {{userCount}}</p>
    </div>
    <!-- ----------------------------MODAL ---------------------- -->
    <div class="modal fade choose-columns-modal" tabindex="-1" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Choose your columns</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <select @change="reArrangeColumns(index, $event)" v-for="(column, index) in columns.slice(0, 6)" class="form-control" name='' id='selectR5'>
                                <option :value="index2" :selected="index == index2"  v-for="(column2, index2) in columns">{{column2.header}}</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <!-- <button {{action "reArrange"}} type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
                </div>
            </div>
        </div>
    </div>
    <add-edit-group></add-edit-group> 
    <add-edit-user></add-edit-user>
    <allocate-funds></allocate-funds>
  </div>

</template>

<script>
import { mapGetters, mapActions } from 'vuex' 
import * as events from '../utils/constants/events.js'
import {SURNAME, FIRSTNAME,ngrok_url,CURRENT_URL} from '../utils/Constants.js'
import Utils from '../utils/Utils.js'
import axios from 'axios'
import Noty from 'noty'
var faker = require('faker')
import store from '@/store/index'
// import AddEditUser from '@/pages/client/adminsettings/users/AddEditUser'

export default {
  name: 'AdminTable',
  // components: {
  //   'add-edit-user': AddEditUser
  // },
  created: function(){
    this.$bus.$on(events.FILTER_DROPDOWN_UPDATED, this.updateSortParameters)
    this.$bus.$on(events.ADD_USER, this.addUser)

    this.$bus.$on(events.ADD_GROUP, this.editGroup)
    this.$bus.$on(events.ALLOCATE_FUNDS, this.allocateFunds)
    this.$bus.$on('alertSubmit', this.confirmDelete)
    this.$bus.$on('alertCancel', this.cancelDelete) 
          //let access_token = store.getters.token
    // for(let i = 0; i < 30; i ++){
    //   let admin = {
    //     picture: faker.image.avatar(),
    //     name: faker.name.findName(),
    //     email: faker.internet.email(),
    //     status: faker.random.boolean(),
    //     group: faker.company.companyName(),
    //     lastLogin: faker.date.recent(),
    //     balance: faker.random.number().toLocaleString('ja-JP', { style: 'currency', currency: 'GHc'}),
    //   }
    //   this.admins.push(admin)
    // }

    // axios.get(`${ngrok_url}/users?client_codes=kuapa`, {headers: {
    //     "Authorization": `Bearer ${access_token}`
    //   }
    // })
    // .then(response => {
    //     this.users =  response.users
    //     this.count = response.users.length
    //     console.error("Response data", response.user_groups)
    //     //return new Contact(data)
    // })
    // this.users.forEach(element => {
    //     var rand = Math.floor(Math.random() * 50) + 0;
    //         var random = Math.floor(Math.random() * 100) + 0;
    //         var randomPrice = rand*random;
    //         var rando = Math.floor(Math.random() * 3) + 0;
            
    //     element.email = faker.internet.email()
    //     element.phone = faker.phone.phoneNumber()
    //     element.balance = random.toLocaleString('ja-JP', { style: 'currency', currency: 'GHc'})
    //     //element.code = 
    // });
    // this.users.email = faker.internet.email()
    // this.users.phone = faker.phone.phoneNumber()
    // this.users.balance = faker.random.toLocaleString('ja-JP', { style: 'currency', currency: 'GHc'})
    
  },
  beforeDestroy() {
        this.$bus.$off(events.FILTER_DROPDOWN_UPDATED, this.updateSortParameters);
        this.$bus.$off('alertSubmit', this.confirmDelete)
        this.$bus.$off('alertCancel', this.cancelDelete)
  },
  methods: {
    editGroup () {
      this.$bus.$emit(events.SHOW_OVERLAY, true)
      window.$('#add-edit-group.slider').addClass('open');
      this.$bus.$once(events.CLOSING_OVERLAY, function () {
        window.$('#add-edit-group.slider').removeClass('open');
      })
    },
    allocateFunds () {
      console.error("eddittinf")
      this.$bus.$emit(events.SHOW_OVERLAY, true)
      window.$('#allocate-funds.slider').addClass('open');
      this.$bus.$once(events.CLOSING_OVERLAY, function () {
        window.$('#allocate-funds.slider').removeClass('open');
      })
    },
    addUser () {
      console.info('edit user')
      this.$bus.$emit(events.SHOW_OVERLAY, true)
      window.$('#add-edit-user.slider').addClass('open');
      this.$bus.$once(events.CLOSING_OVERLAY, function () {
        window.$('#add-edit-user.slider').removeClass('open');
      })
    },
    editUser (id) {
      console.info('edit user')
      this.$bus.$emit(events.SHOW_OVERLAY, true)
      window.$(`#edit-user${id}.slider`).addClass('open');
      this.$bus.$once(events.CLOSING_OVERLAY, function () {
        window.$(`#edit-user${id}.slider`).removeClass('open');
      })
    },
    confirmDelete(payload){
        let url = `${CURRENT_URL}users/${payload.sectorId}`

        axios.delete(url)
        .then(data => {
            this.$notify.success("User Deleted")
            window.$(`#${payload.id}`).modal('hide')
            this.$store.dispatch('getUsers')
        }, error => {
            window.$(`#${payload.id}`).modal('hide')
            this.$notify.error("Failed to Delete")
        })
    },
    cancelDelete(payload){
        window.$(`.delete-sector-modal#${payload.id}`).modal('hide')
    },
    deleteUser(code){
        window.$(`.delete-sector-modal#${code}`).modal('show')
    },
    updateSortParameters (params) {
      this.sortParameter.parameter = params.sortParameter
      this.sortParameter.order = params.order
    },
    reArrangeColumns (oldValue, event) {
      let newValue = parseInt(event.target.value)
      Utils.swapArrayElements(this.columns, oldValue, newValue)
    },
    itemChecked (isChecked, checkbox) {
        let $row = window.$(checkbox).parentsUntil('tbody')
        let $mask = $row.find('.contact-mask')
        if(isChecked){
            this.count++
            this.showCheckedMenu = true
            $row.css('background', '#f4f9f9')
        }
        else{
            this.count--
            this.showCheckedMenu = false
            $row.css('background', 'white')
        }
        if(this.count==0){
            this.showCheckedMenu = false
        }else{
            this.showCheckedMenu = true
        }
    },
    loadMore () {
      if(this.firstInfiniteLoaderCall){
        this.firstInfiniteLoaderCall = false
        return
      }
      if(this.currentPage > 4){
        return
      }
      this.loadingAgents = true
      let query = Utils.cloneObject(this.$route.query)
      this.currentPage = this.currentPage + 1
      query.page = this.currentPage
      this.$store.dispatch('loadMoreAgents', query)
      .then(() => this.loadingAgents = false)
    },
    fetchUsers () {
        this.$store.dispatch('getUsers')
    }
  },
  computed: {
    ...mapGetters({
      users: 'users',
      userCount : 'userCount'
    }),
    sortedAdmins () {
      if(this.sortParameter.parameter){
        let sortAttribute = ""
        let order = this.sortParameter.order 
        switch (this.sortParameter.parameter) {
          case SURNAME:
            sortAttribute = "lastname"
            break;
          case FIRSTNAME:
            sortAttribute = "firstname"
            break;
          default:

        }
        this.users.length = this.count

        return this.users.sort((a, b) => {
          return Utils.ascendingDescendingSort(a, b, sortAttribute, order)
        });
      }else{
        return this.users;
      }

    }
  },
  data () {
    return {
      admins: [],
      columns:[
        {header: "EMAIL", dataField: "email"},
        {header: "PHONE", dataField: "msisdn"},
        {header: "GROUP", dataField: "user_group"},
        {header: "CODE", dataField: "id"},
        {header: "BALANCE",dataField:"balance"},
        {header: "STATUS",dataField:"status"}
      ],
      isChecked: false,
      checkedAgents: [],
      sortParameter: {
        parameter: null,
        order: null
      },
      showCheckedMenu: false,
      checkedContacts: [],
      currentPage: 1,
      loadingAgents: false,
      firstInfiniteLoaderCall: true,
    }
  },
  mounted:function(){ 
      this.$bus.$on('UserCreated',this.fetchUsers)
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
    @import '../assets/styles/variables.scss';
    @import '../assets/styles/mixins.scss';

    //@import '../assets/fonts/fonts.scss';


    #admin-users-table{
        overflow: hidden;
        //border-right: 1px solid #666666;
        border-right: 1px solid #f0f0f0;
        font-family: "GothamRoundedMedium";
        overflow-y: auto;
        overflow-x: hidden;
        @include scrollbar(5px, 1px);

        table{

            th,td{
                // height: 60px;
                // font-size: 12px;
                font-family: "GothamRoundedBook",sans-serif;
                text-align: left;

                //border-bottom: 1px solid #999999;

                &:nth-child(1){
                    cursor: pointer;
                    padding-left: 17px !important;
                }

                 &:nth-child(2){
                }
                &:nth-child(3){

                }
                &:nth-child(4){
                    width: 15%;

                }



                // &:nth-child(4){
                //     width: 20% !important;
                // }

                &:last-child{
                    //border: 1px solid black;
                    text-align: right;
                     cursor: pointer;
                }
            }
            th{
                &:nth-child(1){
                    padding-left: 70px!important;
                }
                &:nth-child(3){
                    // padding-left: 55px !important;
                }

                &:last-child{
                    //border: 1px solid black;
                    text-align: right;
                    // padding-right: 10px !important;

                    img{
                        //border: 1px solid black;
                        width: 20px;
                        height: 20px;
                        display: block;

                    }
                }
            }

            tr{
               // background: white;
                &:hover{
                    //background: #fafafa;
                .agent-mini-menu{
                    border: 1px solid #e5e5e5 !important;
                    .trans{
                        visibility: visible !important;
                    }
                    .contact-mask{
                        width: 0px;
                    }
                }
            }
          }
        }





        .agent-mini-menu{
            display: flex;
            flex-direction: row;
            width: 90px;
            position: relative;
            border-radius: 30px;
            float: right;
            margin-right: 8px;

            .trans{
                visibility: hidden;
            }


            // &:hover{
            //     border: 1px solid rgb(179, 178, 178);
            //     .trans{
            //         visibility: visible;
            //     }
            //     .agent-mask{
            //         width: 0px;
            //     }

            // }

            button{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                //background: white;
                background: transparent;
                outline: 0;

                img{
                    width: 14px;

                    &:hover{
                        filter: invert(4) saturate(100%) brightness(100%);
                    }
                }

                // &:hover{
                //     background: rgb(230, 227, 227);
                // }
            }

            .agent-mask{
                //background: white;
                background: transparent;
                width: 61px;
                border-radius: 30px 0 0 30px;
                top: -2px;
                left: -2px;
                height: 34px;
                transition: width 0.5s ease-in;
            }

        }

        .dropdown-toggle::after {
            display: none;
        }

        .dropdown-menu{
            z-index: 50;
            overflow:hidden;
            li{
                a{
                    font-size: 12px;
                    padding-left: 15px;
                    width: 100%;
                    height:100%;
                    img{
                        width: 16px;
                        margin-right: 10px;
                    }

                }
                &:hover{
                    background: #e8e8e8;
                    a{
                        background: transparent;
                    }
                }
            }
        }
        .active-stat{
            background: green;
        }
        .inactive-stat{
            background: red;
        }

        .tfoot{
            width: 100%;
            //height: 5vh;
            //line-height: 5vh;
            height: 50px;
            line-height: 50px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-left: 35px;
            padding-right: 14px;
            font-size: 10px;
            font-family: "GothamLight",sans-serif;
            position: absolute;
            bottom: 0;
            //border-top: 1px solid #666;
            border-top: 1px solid #f0f0f0;
            background: white;
        }
    }

    .divider{
        border-top: 1px solid $border-light;
        margin: 5px 0;
        margin-left: -15%;
        width: 120%;
    }

    .modal-header,.modal-footer{
        background: #fafafa;
        height: 9vh;

    }

    .modal-body{
        select{
            margin: 20px 5%;
            width: 90%;
            border: 1px solid $input-border;
            
        }
    }

    .form-control{
        margin: 15px 5px 15px 0;
        
    }



</style>
