<template>
  <div id="agent-show-details" style="height: 100%">
    <div class="full-height" style="width:100%">
        <div class="row no-margin agent-info nf">
            <div style="border-right: 1px solid #f0f0f0; flex-direction:column;align-items: center" class="col-sm-2 d-flex justify-content-center">
                <img :src="user.picture" alt="" class="user-image img-fluid center-block rounded-circle personal-img">

                <div class="personal-socials center-block">
                    <a href="" class="social">
                        <img src="../assets/img/facebook.png" alt="" class="img-fluid">
                    </a>
                    <a href="" class="social">
                        <img src="../assets/img/twitter.png" alt="" class="img-fluid">
                    </a>
                    <a href="" class="social">
                        <img src="../assets/img/linkedin.png" alt="" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-sm-10">
                <div class="row agent-pos book d-flex flex-row">
                    <h6><strong class="bold">{{user.name}}</strong></h6>
                    <div class="wide-chip-div flex-row justify-center align-center">
                       <p class="baby-blue">Onango Ghana</p> </div>
                    <div class="agent-btn-group" style="padding-right:35px">
                        <div class="btn-group">
                            <button type="button" class="btn btn-outline-secondary icon"><img style="height: 21px; width: 21px;" src="../assets/img/admin_info_paper.svg" alt=""></button>
                        </div>
                        <div class="btn-group">
                            <button id="edit-single-agent" type="button" class="btn btn-outline-secondary icon"><img src="../assets/img/edit (3).svg" alt=""></button>
                            <button type="button" class="btn btn-outline-secondary icon"><img src="../assets/img/garbage (1).svg" alt=""></button>
                        </div>
                        <div class="btn-group">
                            <button @click="ViewActiveUserSettings" type="button" class="btn btn-outline-secondary icon"><img src="../assets/img/settings.svg" alt=""></button>
                        </div>
                    </div>
                </div> 
                <div class="bottom position-relative no-padding">
                <!-- <button type="button" class="agent-edit-button position-absolute" aria-label="Close">
                    <img src="../assets/img/Asset 8.svg" alt="">
                </button> -->
                <a class="agent-edit-button position-absolute" href="">Edit fields</a>
              <div class="row no-margin agent-detailed-info">
                  <div class="col-5 no-padding row">
                    <div class="col-3"><p class="bold">Branch</p></div>
                    <div class="col-5"><p>{{user.branch}}</p></div>
                    <div class="w-100"></div>
                    <div class="col-3"><p class="bold">Email</p></div>
                    <div class="col-5"><p>{{user.email}}</p></div>
                  </div>
                  <div class="col-6 no-padding row">
                      <div class="col-3"><p class="bold">Group</p></div>
                      <div class="col-5"><p>{{user.group}}</p></div>
                      <div class="w-100"></div>
                      <div class="col-3"><p class="bold">Job Title</p></div>
                      <div class="col-5"><p>{{user.jobTitle}}</p></div>
                  </div>
                  <div class="col-1"></div>
                  <!-- <a class="position-absolute" style="color:blue;bottom: 10px;right:10px">View and edit all fields</a> -->
              </div>

          </div>
            </div>
        </div>
        <div style="padding-right: 10px;" class="row no-margin single-agent-date book">
            <div class="inner-div">
                <div style="flex-grow: 2" class="col">
                    <h4 class="medium">User Activity Logs</h4>
                </div>
                <div>
                    <form action="">
                        <label class="no-margin medium" for="start">Start Date</label>
                        <div class="input-group">
                            <input id="transaction-start" type="text" class="form-control" name="email">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </form>
                </div>
                <div>
                    <form action="">
                        <label class="no-margin medium" for="end"> End Date</label>
                        <div class="input-group">
                            <input id="transaction-end" type="text" class="form-control" name="email">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </form>
                </div>
                <div>
                    <span class="chip orange pointer">
                        CSV
                    </span>
                    <span class="chip orange pointer">
                        PDF
                    </span>
                </div>
            </div>
        </div>
        <div  class="tab-content" style="height: calc(100% - 31vh)">
            <div class="full-height"  key="1" role="tabpanel" id="transaction">
               <div class="full-height row no-margin book" id="single-agent-table">
                    <table class="table position-relative">
                        <thead class="position-relative">
                            <th>DATE</th>
                            <th>TIME</th>
                            <th>ACTION</th>
                            <th>DETAILS</th>
                        </thead>
                        <tbody class="normal">
                            <tr v-for="log  in logs">
                              <td>{{ log.date | moment("dddd, MMMM Do YYYY") }}</td>
                              <td>{{ log.date | moment("hh:mm:ss") }}</td >
                                <td>{{ log.action }}</td >
                              <td>{{ log.details}}</td >
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <add-edit-user></add-edit-user>
    <allocate-funds :name="user.name" :provider="user.provider" :phone="user.phone" :totalAmount="user.balance"></allocate-funds>
    <active-user-settings></active-user-settings>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import Pikaday from 'pikaday'
import Moment from 'moment'
import listImg from '../assets/img/transaction-list.svg'
import mapImg from '../assets/img/internet.png'
var faker = require('faker');
import * as events from '../utils/constants/events.js'

export default {
  name: 'AdminUserInfo',
  props: ['user'],
  methods: {
    editUser () {
      console.error("eddittinf")
      this.$bus.$emit(events.SHOW_OVERLAY, true)
      window.$('#add-edit-user.slider').addClass('open');
      this.$bus.$once(events.CLOSING_OVERLAY, function () {
        window.$('#add-edit-user.slider').removeClass('open');
      })
    },
    allocateFunds () {
      console.error("eddittinf")
      this.$bus.$emit(events.SHOW_OVERLAY, true)
      window.$('#allocate-funds.slider').addClass('open');
      this.$bus.$once(events.CLOSING_OVERLAY, function () {
        window.$('#allocate-funds.slider').removeClass('open');
      })
    },
    ViewActiveUserSettings(){
      this.$bus.$emit(events.SHOW_OVERLAY, true)
      window.$('.agent-slider-settings').addClass('open');
      this.$bus.$once(events.CLOSING_OVERLAY, function () {
          window.$('.agent-slider-settings.slider').removeClass('open');
      })
    }
  },
  data () {
    return {
        logs: [],
        transactionsStartDate: null,
        transactionsEndDate: null
    }
  },
  mounted:function(){
        window.$('.newDisplay').click(function(){
            window.$('.newDisplay').removeClass('active');
            window.$('#editSingleAgent.slider').removeClass('open');
        })
        window.$('#edit-single-agent').click(function(){
            window.$('.newDisplay').addClass('active');
            window.$('#editSingleAgent.slider').addClass('open');
        })
        let endDate = Moment()
        let startDate = Moment().subtract(10, 'days')
        this.transactionsStartDate =  new Pikaday({ field: window.$('#transaction-start')[0],
          maxDate: endDate.toDate()
        });
        this.transactionsStartDate.setMoment(startDate)
        this.transactionsEndDate =  new Pikaday({ field: window.$('#transaction-end')[0],
          maxDate: endDate.toDate()
       });
       this.transactionsEndDate.setMoment(endDate)
       console.error(endDate)
  },
  created: function(){
    this.$bus.$on(events.ADD_USER, this.editUser)
    this.$bus.$on(events.ADD_GROUP, this.editUser)
    this.$bus.$on(events.ALLOCATE_FUNDS, this.allocateFunds)
    var act = ['Login','Transaction','Reconciliation','Sign-Off','Auto Logout','Self-Service']
    for (var i = 0; i < 10; i++){
        var rand = Math.floor(Math.random() * 5) + 0;
        let log = {
            date: faker.date.recent(),
            action: act[rand],
            details: faker.lorem.sentence()
        }
        this.logs.push(log);
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
    @import '../assets/styles/variables.scss';
    @import '../assets/styles/mixins.scss';

    $border-light: #999999;
    $border-deep: #666666;
    #agent-show-details{
        // height: 90vh;
        // border-right: 1px solid black;
        .nf-collapsed{
          display: none;
        }
        .single-agent-date{
            height: 9vh;
            justify-content: space-between;
            align-items: center;
            // border-bottom: 1px solid $border-deep;
            border-bottom: 1px solid $line-color;
            border-top: 0;
            .inner-div{
                height: 30px;
                width: 100%;
                display: flex;
                margin-top: 1.5vh;
                //border: 1px solid;

            }

            h4{
                font-size: 16px;
                line-height: 30px
            }

            input,select{
                height: 30px;
                line-height: 30px;
                font-size: 12px
            }

            form{
                padding-right: 20px;
                transform: translateY(-15px);


                label{
                    text-transform: uppercase;
                    font-size: 8px;
                    color: gray;

                }

                .input-group{
                    span{
                        width: 30px;
                        height: 30px;
                        //background: #fafafa;
                        background: $input-group-span;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 15px;
                        border-radius: 0;
                        //border: 1px solid $border-deep;
                        border-left: 0;
                    }
                }
            }
            //padding: 0 0px;
        }
        #single-agent-table{
            overflow: hidden;
            overflow-y: scroll !important;
            //font-size: 10px;
            @include scrollbar(6px, 1px, #e5e5e5, white);
            table{
                th{
                    border-top: 0px;
                }


                th,td{
                    height: 7vh;
                    //font-size: 12px;
                    font-family: "GothamRoundedBook",sans-serif;
                    text-align: left;
                    //border-bottom: 1px solid $border-light;
                    vertical-align: middle !important;

                   &:nth-child(1){
                       padding-left: 15px;
                   }
                   &:last-child{
                     text-align: left;
                   }
                }
                th{
                    text-transform: uppercase;
                    font-size: 10px;
                    font-family: 'GothamRoundedMedium',sans-serif;
                    &:last-child{
                      .el-checkbox{
                        margin-left: 40px;
                        margin-bottom: 0;
                      }
                    }
                }
            }
        }

        .button-click{
            width: 90px;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            text-align: right;
            li{
                border: 0;
                height: 30px;
                //border: 1px solid ;

                button{
                    height: 30px;
                    line-height: 30px;
                    border: 0;
                    //border: 1px solid black;
                    padding: 0 2px;
                    outline: 0;

                    img{
                        //border:1px solid black;
                    }
                }
            }

            button.nav-link.active.show{
                border: 0;

            }

            .nav-tabs{
                border: 0;

            }
            .nav-link:hover{
                border: 0;
                background: transparent;
            }
            div{
                //border-left: 1px solid $border-light;
                border: 1px solid $input-border;
                margin: 0 5px;
            }

            ul{
                width: 400px;
                display: flex;
                flex-direction: row;

                li{

                }
            }

            button{
                background: white;

                img{
                    width: 24px;
                    height: 24px;
                }

                &:hover{
                    background: lightgray;
                }
            }
        }
    }
</style>
<style lang="scss" scoped>
    .agent-pos{
        button{
            outline: 0px;
            // img{
            //     filter: invert(0.8);
            // }


            &:hover{
            //     img{
            //         filter: none;
            //     }

                border: 1px solid #f0f0f0;
                background: #f0f0f0;
                color: white;


            }
        }

    }
  .agent-tabs{
    &-enter,
    &-leave-to {
      opacity: 0
    }

    &-leave,
    &-enter-to {
       opacity: 1
     }

    &-enter-active,
    &-leave-active {
      transition: opacity 300ms
    }
  }
  // .agent-tabs{
  //   &-enter,
  //   &-leave-to {
  //     transform: translateX(-100%);
  //   }
  //
  //   &-leave,
  //   &-enter-to {
  //      transform: translateX(0);
  //    }
  //
  //   &-enter-active,
  //   &-leave-active {
  //     transition: transform 300ms
  //   }
  // }
</style>
