<template>
  <div>
    <div class="tab">
        <!-- <ul  class="nav nav-tabs" role="tablist">
            <li role="presentation" class="nav-item active"><a class="book nav-link" style="font-size: 10px" href="#services" aria-controls="services" role="tab" data-toggle="tab">Services</a></li>
            <li role="presentation" class="nav-item"><a class="book nav-link" style="font-size: 10px" href="#products" aria-controls="products" role="tab" data-toggle="tab">Products</a></li>
            <li role="presentation" class="nav-item"><a class="book nav-link" style="font-size: 10px" href="#log" aria-controls="log" role="tab" data-toggle="tab">Log Audit</a></li>
            <li role="presentation" class="nav-item"><a class="book nav-link" style="font-size: 10px" href="#notes" aria-controls="notes" role="tab" data-toggle="tab">notes</a></li>
        </ul> -->

        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#services" aria-controls="services" role="tab" data-toggle="tab">Permissions and Priviledges</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#settings" aria-controls="services" role="tab" data-toggle="tab">Settings</a>
            </li>
        </ul>

      <!-- Tab panes -->
      <div class="tab-content" style="background: white;">
          <!-- SELF SERVICE -->
          <div style="padding-left: 10px" role="tabpanel" class="tab-pane in active" id="services">
              <p style="font-size: 12px" class="bold black-text" >ACCESS CONTROLS</p>
              <priviledges></priviledges>
          </div>
          <div role="tabpanel" class="tab-pane" id="settings"></div>
      </div>
    </div>

  </div>
</template>

<script>
import AdminUserSettingsPriviledges from '@/components/AdminUserSettingsPriviledges'
export default {
  name: 'AdminUserSettings',
  components: {
    'priviledges': AdminUserSettingsPriviledges
  },
  data () {
    return {

    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
  @import '../assets/styles/variables';
  @import '../assets/styles/mixins';
  @import '../assets/styles/fonts';
  @import '../assets/styles/app';
  @import '../assets/styles/client';

    .tab{
        a{
            font-size: 9px;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 0px;
            padding: 10px;
            color: #666;
            font-family: "GothamRoundedBook",sans-serif;

            &:active,&:focus,&:hover{
                border-bottom: 3px solid $orange;
            }
        }

        li{
            border: 0;
            width: 50%;
        }

        a.nav-link.active.show{
            border: 0;
            border-bottom: 3px solid $orange;
            font-weight: bold;
        }
        a.nav-link.active{
            border: 0;
            border-bottom: 3px solid $orange;
            font-weight: bold;
        }

        .nav-tabs{
            border: 0;
            border-bottom: 2px solid #f0f0f0;
        }
        .nav-link:hover{
            border: 0;
            border-bottom: 3px solid $orange;
        }
    }

    .tab-content{
        padding-left: 10px;
        overflow-x: hidden;
        height: 80vh;
        @include scrollbar(5px, 1px);
        .tabpanel{
            height: inherit;
            padding-left: 10px !important;
        }

       #products{
            font-size: 11px;

            label{
                transform: scale(0.7);
                -webkit-transform: scale(0.7);
                -o-transform: scale(0.7);
                -moz-transform: scale(0.7)
            }
        }

    }
</style>
