<template>
  <div class="full-height">
     <div v-if="agentsViewState == 'LOADING'" class="full-height row justify-content-center align-items-center">
        <div>
          <img style="width: 30px; height: 30px;" src="@/assets/img/rolling_anim.svg"/>
        </div>
    </div>
    <div v-else-if="agentsViewState == 'ERROR'" class="full-height d-flex flex-column justify-content-center align-items-center">
        <div>Failed to fetch agents</div>
        <button @click="fetchAgents" class="retry-btn">Retry</button>
    </div>
    <template v-else>
    <div  id="agents-table" style="overflow-y: auto;" class="table-div" ref="agentsTable">
      <table  class="table-header">
          <thead class="position-relative table">

              <tr>
                <th colspan="9" v-if="showCheckedMenu">
                  <on-checked-menu :active="showCheckedMenu" :class="showCheckedMenu" v-if="showCheckedMenu"></on-checked-menu>
                </th>
                <template v-else>
                  <!-- <th style="width: 40px">
                      <div class="form-group md-checkbox no-label">
                            <input style="display: none" id="all" class="checked" type="checkbox" data-value="all">
                            <label for="all" class="check checked"></label>   
                     </div>
                  </th> -->
                  <th style="text-align:center; width: 40px;">{{$t('agents.state')}}</th>
                  <!-- <th></th> -->
                  <th style="width: 50px;"></th>
                  <th>{{$t('agents.name')}}</th>
                  <th :class="column.class" v-for="column in columns.slice(0, 4)">{{column.header}}</th>
                  <th class="actions">
                  <button class="button-s" data-toggle="modal" data-target="#myModal"><img style="width: 14px;height: 14px" src="../assets/img/Asset 8.svg" alt=""></button>
                  </th>
                </template>
              </tr>

          </thead>
      </table>
      
      <div  class="table-content"  v-infinite-scroll="loadMore"
         infinite-scroll-disabled="loadingAgents"
      >  
        <div v-if="agentsViewState == 'NO-DATA'" class="no-margin full-height row justify-content-center align-items-center">
          <!-- <img  src="@/assets/img/infinity.svg"> -->
          <div class="book">No Data To display</div>
        </div>
        <table  v-else        
        class="table position-relative">
            <tbody  
             class="no-margin"  >
                <!-- TABLE ROW COMPONENT -->

                    <tr v-for="agent in agents">
                        <!-- <td style="width: 40px;" class="padding-ten">
                            <checkbox :hasModel="false" :id="agent.id"></checkbox>
                        
                        </td> -->
                        <td style="text-align:center; width: 40px;padding-right: 10px;">
                            <div v-if="agent.state  == 'active'" class="stat active-stat"></div>
                            <div v-else class="stat inactive-stat"></div>
                        </td>
                        <td style="width: 50px;"><avatar v-bind:username="agent.name" color="white" :size="35" ></avatar></td>
                        <!-- <router-link class="pointer capitalize" tag="td" :to="{name: 'agent', params: {id: agent.id}}"><span class="capitalize">{{agent.name}}</span></router-link> -->
                        <td class="pointer capitalize" @click="showDetailView(agent)"><span class="capitalize">{{agent.name}}</span></td>
                        <td v-for="column in columns.slice(0, 4)" :class="column.class">{{column.header == "STATUS"?(agent[column.dataField] === true? "Active" : "Inactive") :agent[column.dataField] | notAvailable}}</td>
                        <td style="text-align:right;" class="dropdown table-menu actions">
                            <v-popover    placement="left" trigger="hover"
                            popoverInnerClass="agents-table-tooltip-inner agents-table-popover-inner"
                            popoverBaseClass="agents-table-tooltip agents-table-popover"
                            offset="-80"
                            >
                            <button class="tooltip-target agent-drop dropdown-toggle" type="button">
                                <img src="../assets/img/more.svg" alt="">
                            </button>
                            <template slot="popover">
                              <div class="agent-mini-menu">
                                  <button @click="deleteAgent(agent.id)"  id="dis" class="trans" type="button">
                                     <img src="../assets/img/garbage.svg" alt=""></button>
                                  <button @click="editAgent(agent)"  class="trans agent-edit" type="button"> <img src="../assets/img/edit (2).svg" alt=""></button>
                                  <button class="agent-drop" type="button" data-toggle="dropdown">
                                      <img src="../assets/img/more.svg" alt="">
                                  </button>
                                  <!-- <ul class="dropdown-menu dropdown-menu-right">
                                      <li><a class="black-text full-width full-height" href="#"><img src="../assets/img/two-contacts.png" alt="">Merge</a></li>
                                      <li><a class="black-text full-width full-height" href="#"><img src="../assets/img/adaptation.png" alt="">Re-assign</a></li>
                                      <li class="divider"></li>
                                      <li><a class="black-text full-width full-height" href="#"><img src="../assets/img/garbage.png" alt="">Delete</a></li>
                                  </ul> -->
                              </div>
                            </template>
                            </v-popover>
                            <!-- <div class="agent-mini-menu">
                                <button  id="dis" class="trans" type="button">
                                   <img src="../assets/img/mail.svg" alt=""></button>
                                <button @click="editAgent(agent)"  class="trans agent-edit" type="button"> <img src="../assets/img/edit (2).svg" alt=""></button>
                                <button class="agent-drop dropdown-toggle" type="button" data-toggle="dropdown">
                                    <img src="../assets/img/more.svg" alt="">
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a class="black-text full-width full-height" href="#"><img src="../assets/img/two-contacts.png" alt="">Merge</a></li>
                                    <li><a class="black-text full-width full-height" href="#"><img src="../assets/img/adaptation.png" alt="">Re-assign</a></li>
                                    <li class="divider"></li>
                                    <li><a class="black-text full-width full-height" href="#"><img src="../assets/img/garbage.png" alt="">Delete</a></li>
                                </ul>
                            </div> -->
                            
                        <alert-box :sectorId="agent.id" message="Are you sure you want to delete this agent?" 
                         submit="Delete" cancel="Cancel" :id="`agent-delete-${agent.id}`"></alert-box>
                        </td>
                    </tr>
            </tbody>
        </table>
      </div>
    </div>
    <div class="tfoot d-flex flex-row justify-content-between align-items-center">
            <p v-if="agents.length > 0">Showing {{agents.length}} of {{agentsMeta.TotalFilteredRecords}} Agents</p>
            <p v-else>No Agents</p>
            <p>Total Agents - {{agentsMeta.TotalRecords}}</p>
    </div>
    </template>
    <!-- ----------------------------MODAL ---------------------- -->
    <div class="modal fade choose-columns-modal" tabindex="-1" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Choose your columns</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <select @change="reArrangeColumns(index, $event)" v-for="(column, index) in columns.slice(0,4)" class="form-control" name='' id='selectR5'>
                                <option :value="index2" :selected="index == index2"  v-for="(column2, index2) in columns">{{column2.header}}</option>
                            </select>
                            <!-- <select class="form-control" name="" id="selectR2">
                                <option value="Primary Phone Number">Primary Phone Number</option>
                                <option value="Hello">Hello</option>
                                <option value="Hi">Hi</option>
                            </select>
                            <select class="form-control" name="" id="selectR3">
                                <option value="Branch">Branch</option>
                                <option value="Hello">Hello</option>
                                <option value="Hi">Hi</option>
                            </select>
                            <select class="form-control" name="" id="selectR4">
                                <option value="Locality">Locality</option>
                                <option value="Hello">Hello</option>
                                <option value="Hi">Hi</option>
                            </select>
                            <select class="form-control" name="" id="selectR5">
                                <option value="Status">Status</option>
                                <option value="Hello">Hello</option>
                                <option value="Hi">Hi</option>
                            </select> -->
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <!-- <button {{action "reArrange"}} type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
                </div>
            </div>
        </div>
    </div>
    <add-edit-agent mode='EDIT'  display="none" :agentProp="agentToBeEditted"></add-edit-agent>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import * as events from '../utils/constants/events.js'
import {SURNAME, FIRSTNAME, CURRENT_URL} from '../utils/Constants.js'
import Utils from '../utils/Utils.js'
import * as types from '@/store/mutation-types'
import axios from 'axios'

export default {
  name: 'AgentsTable',
  created: function(){
    this.$bus.$on(events.FILTER_DROPDOWN_UPDATED, this.updateSortParameters)
    this.$bus.$on('alertSubmit', this.confirmDelete)
    this.$bus.$on('alertCancel', this.cancelDelete)
    // this.$bus.dispatch("getAgents")
  },
  beforeDestroy() {
        this.$bus.$off(events.FILTER_DROPDOWN_UPDATED, this.updateSortParameters);
        this.$bus.$off('alertSubmit', this.confirmDelete)
        this.$bus.$off('alertCancel', this.cancelDelete)
  },
  methods: {
    fetchAgents () {
     this.$store.dispatch('getAgents')
    },
    confirmDelete(payload){
        let url = `${CURRENT_URL}agents/${payload.sectorId}`

        axios.delete(url)
        .then(data => {
            this.$notify.success("Agent Deleted")
            window.$(`#${payload.id}`).modal('hide')
            this.$store.dispatch('getAgents')
        }, error => {
            window.$(`#${payload.id}`).modal('hide')
            console.log("Error",error)
            this.$notify.error(error.error)
        })
    },
    cancelDelete(payload){
        window.$(`.delete-sector-modal${payload.id}`).modal('hide')
    },
    deleteAgent(code){
        window.$(`.delete-sector-modal#agent-delete-${code}`).modal('show')
    },
    showDetailView (agent) {
        this.$store.commit(types.SET_AGENT, Utils.cloneObject(agent))
        this.$router.push({name: 'agent', params: {id: agent.id}}) 
    },
    editAgent (agent) {
      console.error("yat")
      this.agentToBeEditted = agent
      console.error(this.agentToBeEditted.name)
      this.$bus.$emit(events.SHOW_OVERLAY, true)
      window.$('#edit-agent-slider.slider').addClass('open');
      this.$bus.$once(events.CLOSING_OVERLAY, function () {
        window.$('#edit-agent-slider.slider').removeClass('open');
      })
    },
    updateSortParameters (params) {
      this.sortParameter.parameter = params.sortParameter
      this.sortParameter.order = params.order
      // TODO: move sort parameters completely to vuex,
      // bind to it and remove from data property
      //  if well be using api for sorting
      this.$store.commit(types.SET_AGENT_SORT_PARAMS, params)
      this.$store.dispatch("getAgents", Utils.cloneObject(this.$route.query))

    },
    reArrangeColumns (oldValue, event) {
      let newValue = parseInt(event.target.value)
      Utils.swapArrayElements(this.columns, oldValue, newValue)
    },
    itemChecked (event) {
        let $this = $(event.target)
        let checked = $this.prop('checked')
        window.$this = $this
        checked ? this.checkedRowsCount++ : this.checkedRowsCount--
        let $table = $(this.$refs.agentsTable)
        let $headerCheckbox  = $table.find('input[type="checkbox"]#all')
        // if(this.checkedRowsCount === this.agents.count){
        //   $headerCheckbox.prop('checked', true)
        // }else if(this.checkedRowsCount === 0){
        //   $headerCheckbox.prop('checked', false)
        // }
        let $row = $this.parentsUntil('tbody')
        if(checked){
            $row.css('background', '#f4f9f9')
        }
        else{
            $row.css('background', 'white')
        }
    },
    loadMore () {
      // if(this.firstInfiniteLoaderCall){
      //   this.firstInfiniteLoaderCall = false
      //   return
      // }
      if(this.agentsMeta.Page >= this.agentsMeta.TotalPages ){
        return
      }
      this.loadingAgents = true
      let page = this.agentsMeta.Page + 1
      this.$store.dispatch('loadMoreAgents', page)
      .then(() => this.loadingAgents = false)
    }
  },
  computed: {
    ...mapGetters({
      agents: 'agents',
      agentsState: 'agentsState',
      agentsViewState: 'agentsViewState',
      agentsMeta: 'agentsMeta'
    }),
    showCheckedMenu () {
      return this.checkedRowsCount > 0
    }
  },
  data () {
    return {
      agentToBeEditted: null,
      columns:[
        {header: "PHONE", dataField: "phone", class: "phone"},
        {header: "TOWN", dataField: "town", class: "branch"},
        {header: "TYPE", dataField: "agent_type", class: "branch"},
        {header: "REGION", dataField: "region", class: "region"},
        //{header: "Region", dataField: "region_name", class: "region"},
        // {header: "TYPE", dataField: "agent_type", class: "status"},
        {header: "STATUS", dataField: "active", class: "status"}
      ],
      isChecked: false,
      checkedAgents: [],
      sortParameter: {
        parameter: null,
        order: null
      },
      checkedRowsCount: 0,
      checkedContacts: [],
      loadingAgents: false,
      firstInfiniteLoaderCall: true
    }
  },
  mounted:function(){ 
    let that = this
    let $table = $('#agents-table')
    let $checkboxes = $table.find('td input[type="checkbox"]')
    let $headerCheckbox  = $(this.$el).find('input[type="checkbox"]#all')
    $checkboxes.on('change', that.itemChecked)
    console.info($headerCheckbox)
    $headerCheckbox.on('change', function () {
      let $this = $(this)
      let checked = $(this).is(':checked')
      if(checked){
        console.info('checked')
        $checkboxes.each(function () {
          let $row = $(this).parentsUntil('tbody')
          $(this).prop('checked', true)
          $row.css('background', '#f4f9f9')
        })
        that.checkedRowsCount = that.agents.length
      }else{
        //uncheck only checked performance
        $checkboxes.each(function () {
          let $row = $(this).parentsUntil('tbody')
          $(this).prop('checked', false)
          $row.css('background', 'white')
        })
        that.checkedRowsCount = 0
      }
    })
  }
}
</script>



<style lang="scss" scoped>
    @import '../assets/styles/variables.scss';
    @import '../assets/styles/mixins.scss';

    //@import '../assets/fonts/fonts.scss';

    #agents-table{
        table.table-header{
          width: 100%;
          th{
            height: 50px;
            &:last-child{
              button{
                margin-left: 10px;
              }
            }
          }
        }
        .table-content{
          overflow: hidden;
          overflow-y: scroll !important;
          @include scrollbar(5px, 1px);
          height: calc(100% - 51px);
          tr:first-child{
            td{
              border-top: none;
            }
          }
        }
        table{
            height: auto;
            margin-bottom: 0;
            table-layout: fixed;

            .actions{
              width: 40px!important;
            }
            .phone{
              width: 200px;
            }
            .branch{
              width: 114px;
            }
            .type{
              width: 100px;
            }
            .status{
              width: 100px;
            }
            .supplier{
              width: 160px;
            }
            .region{
                width: 180px;
            }

            th,td{
                &:nth-child(1){
                    padding-left: 17px !important;
                    width: 5%;
                }
                 &:nth-child(2){
                    width: 5%;
                }
                &:nth-child(3){
                    cursor: pointer;
                }
                // &:nth-child(4){
                //     width: 112px;

                // }
                &:last-child{

                    text-align: right;
                     cursor: pointer;
                }
            }
            th{
                padding-left: 0px !important;
                &:nth-child(3){
                    padding-left: 0px !important;
                }

                &:last-child{
                    text-align: right;
                    padding-right: 10px !important;

                    img{
                        width: 20px;
                        height: 20px;
                        display: block;

                    }
                }
            }

            tr{
               // background: white;
                &:hover{
                    background: #fafafa;
                .agent-mini-menu{
                    border: 1px solid #e5e5e5 !important;
                    .trans{
                        visibility: visible !important;
                    }
                    .contact-mask{
                        width: 0px;
                    }
                }
            }
            }
        }




        td.actions{
          button{
              width: 30px;
              height: 30px;
              border-radius: 50%;
              //background: white;
              background: transparent;
              outline: 0;

              img{
                  width: 14px;

                  &:hover{
                      filter: invert(4) saturate(100%) brightness(100%);
                  }
              }

              // &:hover{
              //     background: rgb(230, 227, 227);
              // }
          }
        }


        .dropdown-toggle::after {
            display: none;
        }


        .active-stat{
            background: green;
            
        }
        .inactive-stat{
            background: red;
        }


    }
    .divider{
        border-top: 1px solid $border-light;
        margin: 5px 0;
        margin-left: -15%;
        width: 120%;
    }

    .modal-header,.modal-footer{
        background: #fafafa;
        height: 9vh;

    }

    .modal-body{
        select{
            margin: 20px 5%;
            width: 90%;
            border: 1px solid $input-border;
        }
    }

    .form-control{
        margin: 15px 5px 15px 0;
    }



</style>


<style lang="scss">
.agents-table-tooltip{
  top: 2px;
  left: 41px;
  background:transparent;
  //background: #fafafa;
  margin-left: 10px;
  .agent-mini-menu{

      margin-right: -5px;
      border-radius: 30px;
      border: 1px solid #e5e5e5!important;
      display: flex;
      flex-direction: row;
      width: 90px;
      border-radius: 30px;
      .dropdown-menu{
          z-index: 50;
          overflow:hidden;
          li{
              a{
                  font-size: 12px;
                  padding-left: 15px;
                  width: 100%;
                  height:100%;
                  img{
                      width: 16px;
                      margin-right: 10px;
                  }

              }
              &:hover{
                  background: #e8e8e8;
                  a{
                      background: transparent;
                  }
              }
          }
      }

      button{
          width: 30px;
          height: 30px;
          border-radius: 50%;
          //background: white;
          background: transparent;
          outline: 0;

          img{
              width: 14px;

              &:hover{
                  filter: invert(4) saturate(100%) brightness(100%);
              }
          }

      }


      .agent-mask{
          //background: white;
          background: white;
          width: 61px;
          border-radius: 30px 0 0 30px;
          top: -2px;
          left: -2px;
          height: 34px;
          transition: width 0.5s ease-in;

      }

  }
}

</style>
