<template>
  <div id="agent-service" class="pr-3">
      <p class="text-center bold">Banking</p> 
      <div class="row py-2 align-items-center">
          <div class="col-5 flex-column pr-0">
              <h6 class="no-margin book pl-3">Deposit</h6>
          </div>
          <div class="col-2 no-margin">
              <switch-button></switch-button>
          </div>
          <div class="col-5 no-margin">
              <input type="text" class="form-control" placeholder="No limit set">
          </div>
      </div>
    <div class="row py-2 align-items-center">
        <div class="col-5 flex-column justify-center">
            <h6 class="pl-3 no-padding no-margin">Withdrawal</h6>
        </div>
        <div class="col-2 no-margin">
           <switch-button></switch-button>
        </div>
        <div class="col-5 no-margin">
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="row py-2 align-items-center">
        <div class="col-5 flex-column justify-center">
            <h6 class="pl-3 no-padding no-margin">Loan</h6>
        </div>
        <div class="col-2 no-margin">
           <switch-button></switch-button>
        </div>
        <div class="col-5 no-margin">
            <input type="text" class="form-control" placeholder="No limit set">
        </div>
    </div>
    <!-- .......................   mobile money section .................... -->
    <p data-form-segment="mobile" class="text-center bold mobile">Mobile Money</p> 

    <div class="row py-2 align-items-center">
        <div class="col-5 flex-column justify-center">
            <h6 class="pl-3 no-margin no-padding">Cash In - All Prov</h6>
        </div>
        <div class="col-2 no-margin">
           <switch-button></switch-button>
        </div>
        <div class="col-5 no-margin">
            <input type="text" class="form-control" placeholder="No limit set">
        </div>
    </div>
    <div class="row py-2 align-items-center">
        <div class="col-5 flex-column justify-center">
            <h6 class="pl-3 no-margin no-padding">Cash Out - All Prov</h6>
        </div>
        <div class="col-2 no-margin">
           <switch-button></switch-button>
        </div>
        <div class="col-5 no-margin">
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="row py-2 align-items-center">
        <div class="col-5 flex-column justify-center">
            <h6 class="pl-3 no-margin no-padding">Acc 2 Wallet - All Prov</h6>
        </div>
        <div class="col-2 no-margin">
           <switch-button></switch-button>
        </div>
        <div class="col-5 no-margin">
            <input type="text" class="form-control" placeholder="No limit set">
        </div>
    </div>
    <div class="row py-2 align-items-center">
        <div class="col-5 flex-column justify-center">
            <h6 class="pl-3 no-margin no-padding">Wallet 2 Acc - All Prov</h6>
        </div>
        <div class="col-2 no-margin">
          <switch-button></switch-button>
        </div>
        <div class="col-5 no-margin">
            <input type="text" class="form-control" placeholder="No limit set">
        </div>
    </div>

    <!-- .............Liquidity Service .......................... -->
    <p data-form-segment="service" class="text-center bold ">Liquidity Service</p>

    <div class="row py-2 align-items-center">
        <div class="col-5 flex-column justify-center">
            <h6 class="pl-3 no-margin no-padding">Loan Repayment</h6>
        </div>
        <div class="col-2 no-margin">
         <switch-button></switch-button>
        </div>
        <div class="col-5 no-margin">
            <input type="text" class="form-control" placeholder="No limit set">
        </div>
    </div>
    <div class="row py-2 align-items-center">
        <div class="col-5 flex-column justify-center">
            <h6 class="pl-3 no-margin no-padding">Float Loan - All Prov</h6>
        </div>
        <div class="col-2 no-margin">
        <switch-button></switch-button>
        </div>
        <div class="col-5 no-margin">
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="row py-2 align-items-center">
        <div class="col-5 flex-column justify-center">
            <h6 class="pl-3 no-margin no-padding">Cash Out - All Prov</h6>
        </div>
        <div class="col-2 no-margin" >
            <switch-button></switch-button>
        </div>
        <div class="col-5 no-margin">
            <input type="text" class="form-control" placeholder="No limit set">
        </div>
    </div>
    <div class="row py-2 align-items-center">
        <div class="col-5 flex-column justify-center"> 
            <h6 class="pl-3 no-margin no-padding">Cash In - All Prov</h6>
        </div>
        <div class="col-2 no-margin">
           <switch-button></switch-button>
        </div>
        <div class="col-5 no-margin">
            <input type="text" class="form-control" placeholder="No limit set">
        </div>
    </div>

    <!-- .............Value Added Services .......................... -->
    <p class="text-center bold ">Value Added Services</p>

    <div class="row py-2 align-items-center">
        <div class="col-5 flex-column justify-center">
            <h6 class="pl-3 no-margin no-padding">Airtime Sales-All Prov</h6>
        </div>
        <div class="col-2 no-margin">
           
            <switch-button></switch-button>
        </div>
        <div class="col-5 no-margin">
            <input type="text" class="form-control" placeholder="No limit set">
        </div>
    </div>
    <div class="row py-2 align-items-center">
        <div class="col-5 flex-column justify-center">
            <h6 class="pl-3 no-margin no-padding">Bill Payment - All Prov</h6>
        </div>
        <div class="col-2 no-margin">
           <switch-button></switch-button>
        </div>
        <div class="col-5 no-margin">
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="row py-2 align-items-center">
        <div class="col-5 flex-column justify-center">
            <h6 class="pl-3 no-margin no-padding">Prepaid Card - All Prov</h6>
        </div>
        <div class="col-2 no-margin">
          <switch-button></switch-button>
        </div>
        <div class="col-5 no-margin">
            <input type="text" class="form-control" placeholder="No limit set">
        </div>
    </div>

  </div>
</template>

<script>
export default {
  name: 'AgentService',
  data () {
    return {

    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
    @import '../assets/styles/variables';
    @import '../assets/styles/mixins';
    @import '../assets/styles/fonts';
    @import '../assets/styles/client';
    // .col-5{
    //     display: flex;
    //     align-items: center;
    // }


    #agent-service{
        height: auto;
        overflow-x: hidden;
        color: #333;
        font-size: 12px;

        .col-5{
            height: auto;
            h6{
                font-size: 9px;
            }
        }
        input{
            border: 1px solid $input-border;
        }

        p{
            font-size: 12px;
            margin: 10px 0;
            color: #333;
        }

        .row{
            //padding-right: 50px;
            .card{
                border: 0;
            }

        }
    }

</style>
