<template>
  <div id="agent-show-details" class="full-height">
    <div style="width:100%" class="full-height">
        <div class="row no-margin agent-info nf">
            <div style="border-right: 1px solid #f0f0f0; flex-direction:column;align-items: center" class="col-sm-2 d-flex justify-content-center">
                <img src="../assets/img/img.jpg" alt="" class="user-image img-fluid center-block rounded-circle personal-img">

                <div class="personal-socials center-block">
                    <a v-if="agent.facebook_url" class="social">
                        <img src="../assets/img/facebook.png" alt="" class="img-fluid">
                    </a>
                    <a v-if="agent.twitter_url" class="social">
                        <img src="../assets/img/twitter.png" alt="" class="img-fluid">
                    </a>
                    <a v-if="agent.linkedin_url" class="social">
                        <img src="../assets/img/linkedin.png" alt="" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-sm-10">
                <div class="row agent-pos book d-flex flex-row">
                    <h6><strong class="bold">{{agent.name | name}}</strong> <span v-if="agent.code">  - {{agent.code}}</span></h6>
                    <div v-if="false" class="wide-chip-div flex-row justify-center align-center">
                       <p class="baby-blue">{{agent.supplier}}</p> </div>
                    <div class="agent-btn-group" style="padding-right:35px">
                        <div class="btn-group">
                            <button disabled type="button" class="btn icon btn-outline-secondary disabled"><img src="../assets/img/link (1).svg" alt=""></button>
                            <button disabled type="button" class="btn icon btn-outline-secondary disabled"><img src="../assets/img/adaptation.svg" alt=""></button>
                            <button disabled type="button" class="btn icon btn-outline-secondary disabled"><img src="../assets/img/mail.png" alt=""></button>
                        </div>
                        <div class="btn-group">
                            <button v-if="$auth.canEditAgent()" @click="editAgent" id="edit-single-agent" type="button" class="btn icon btn-outline-secondary"><img src="../assets/img/edit (3).svg" alt=""></button>
                            <button @click="deleteAgent(agent.id)" type="button" class="btn icon btn-outline-secondary"><img src="../assets/img/garbage (1).svg" alt=""></button>
                        </div>
                        <div class="btn-group">
                            <button disabled id="agent-slider-settings" @click="ViewAgentSettings" type="button" class="btn icon btn-outline-secondary disabled"><img src="../assets/img/settings.svg" alt=""></button>
                        </div>
                    </div>
                </div>
                <div class="bottom position-relative no-padding">
                <!-- <button type="button" class="agent-edit-button position-absolute" aria-label="Close">
                    <img src="../assets/img/Asset 8.svg" alt="">
                </button> -->
                <a data-toggle="modal" data-target="#customise-agent-fields" class="agent-edit-button position-absolute">Edit fields</a>
              <div class="row no-margin agent-detailed-info align-content-center align-items-center">
                  <div v-for="col in columns.slice(0, 4)" class="col-6 no-padding row no-margin">
                    <div class="col-5"><p class="bold">{{col.header}}</p></div>
                    <div class="flex-1"><p class="text-align-left">{{agent[col.dataField] | notAvailable}}</p></div>
                  </div>
                  <!-- <div v-if="agent.phone" class="col-6 no-padding row no-margin">
                    <div class="col-5"><p class="bold">Phone</p></div>
                    <div class="flex-1"><p class="text-align-left">{{agent.phone}}</p></div>
                  </div> -->
                  <!-- <div v-if="agent.registered_phone_number" class="col-6 no-padding row no-margin">
                    <div class="col-5"><p class="bold">Primary Phone Number</p></div>
                    <div class="flex-1"><p class="text-align-left">{{agent.registered_phone_number.number}}</p></div>
                  </div> -->
                  <!-- <div v-if="agent.agent_type" class="col-6 no-padding row no-margin">
                    <div class="col-5"><p class="bold">Agent Type</p></div>
                    <div class="flex-1"><p class="text-align-left">PC</p></div>
                  </div>
                   <div v-if="agent.location" class="col-6 no-padding row no-margin">
                    <div class="col-5"><p class="bold">Location</p></div>
                    <div class="flex-1"><p class="text-align-left">{{agent.location}}</p></div>
                  </div>
                  <div v-if="agent.location" class="col-6 no-padding row no-margin">
                    <div class="col-5"><p class="bold">Status</p></div>
                    <div class="flex-1"><p class="text-align-left">{{agent.status}}</p></div>
                  </div> -->
              </div>

          </div>
            </div>
        </div>
        <div class="row no-margin agent-show-panel book nf">
            <div class="col-10 flex-column justify-center">
                <p  class="no-margin "><strong style="font-size: 9px" class="bold small">Acc. No.: </strong></p>
                <p class="no-margin big"><strong >
                  <select class="accounts-select" @change="changeSelectedAccount" v-if="selectedAccount">
                    <option :selected="account.id == selectedAccount.id" v-for="account in agent.accounts" :value="account.id">{{account.number}}</option>
                  </select>
                </strong></p>
            </div>
            <div style="padding-right: 20px;" class="col-2 text-right flex-column justify-center">
                <p style="font-family: 'GothamLight';font-weight: 200" class="no-margin no-padding big">
                  <strong v-if="selectedAccount">{{selectedAccount.balance | money}}</strong>
                  <span v-else>---</span>
                </p>
                <p class="no-margin small"><strong>Balance</strong></p>
            </div>
        </div>
        <div style="padding-right: 10px; position: relative; z-index: 5;" class="row no-margin single-agent-date book">
            <div class="inner-div">
                <div style="flex-grow: 2" class="col">
                    <h4 class="medium">Transactions</h4>
                </div>
                <div style="flex-grow: 2" class="col offset-2 offset-md-1">
                    <select class="form-control" id="">
                        <option value="transaction">All Transactions</option>
                    </select>
                </div>
                <div style="flex-grow: 2" class="col">
                    <form action="">
                        <label class="no-margin medium" for="start">Start Date</label>
                        <div>
                            <datepicker
                              calendar-button-icon="fa fa-calendar"
                              :bootstrap-styling="true"
                              @selected="transactionsStartDateSelected"
                              :calendar-button="true"  :value="transactionsStartDate">
                            </datepicker>
                            <!-- <input id="transaction-start" type="text" class="form-control" name="email"> -->
                            <!-- <span class="input-group-addon"><i class="fa fa-calendar"></i></span> -->
                        </div>
                    </form>
                </div>
                <div style="flex-grow: 2" class="col">
                    <form action="">
                        <label class="no-margin medium" for="end"> End Date</label>
                        <div>
                          <datepicker
                            calendar-button-icon="fa fa-calendar"
                            @selected="transactionsEndDateSelected"
                            :bootstrap-styling="true" :calendar-button="true"
                            :value="transactionsEndDate"></datepicker>
                            <!-- <input id="transaction-end" type="text" class="form-control" name="email">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span> -->
                        </div>
                    </form>
                </div>
                <div style="flex-grow: 1" class="col button-click">
                    <!-- <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#transaction" aria-controls="services" role="tab" data-toggle="tab"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#map" aria-controls="services" role="tab" data-toggle="tab"></a>
                        </li>
                    </ul> -->
                    <ul class="nav nav-tabs flex-row justify-right">
                        <li style="display: inline-block" class="nav-item">
                        <button class="nav-link active" aria-controls="services" role="tab" data-toggle="tab">
                            <img src="../assets/img/printer.png" alt="">
                            </button>
                            </li>
                        <div class="vert-line"></div>
                        <li style="display: inline-block" class="nav-item">
                        <button class="nav-link" @click="toggleCurrentTab($event)" aria-controls="services" role="tab" data-toggle="tab">
                            <img src="../assets/img/internet.png" alt="">
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div style="height: calc(100% - 37vh)"  class="tab-content">
          <transition name="agent-tabs">
            <keep-alive>
              <div class="full-height"  v-if="currentTab === 1" key="1" role="tabpanel" id="transaction">
                 <div class="no-margin book full-height" id="single-agent-table">
                     <table class="table-header">
                       <thead class="position-relative">
                           <th>DATE & TIME</th>
                           <th>CUSTOMER NAME</th>
                           <th>MODE</th>
                           <th>ACTIVITY MODE-ID</th>
                           <th>TRANS TYPE</th>
                           <th>CLIENT</th>
                           <!-- <th>AMOUNT</th> -->
                           <th>Cash In</th>
                           <th>Cash Out</th>
                           <th>BALANCE</th>
                           <th>STATUS</th>
                       </thead>
                     </table>
                     <div class="table-content">
                       <table v-if="transactionsViewState != 'ERROR'" class="table position-relative">
                           <!-- <thead class="position-relative">
                               <th>DATE & TIME</th>
                               <th>CUSTOMER NAME</th>
                               <th>MODE</th>
                               <th>ACTIVITY MODE-ID</th>
                               <th>TRANS TYPE</th>
                               <th>CLIENT</th>
                               <th>Cash In</th>
                               <th>Cash Out</th>
                               <th>BALANCE</th>
                               <th>STATUS</th>
                           </thead> -->
                           <tbody v-if="transactionsViewState == 'NO-DATA'">
                              <tr>
                                  <td style="text-align:center; height: 100%;" colspan="6">
                                      No Transactions Available
                                  </td>
                              </tr>
                          </tbody>
                           <tbody v-else class="normal">
                               <tr v-for="trans in transactions">

                                   <td>{{ trans.trans_date | moment("ddd, MMM Do YYYY") }}</td>
                                   <td><avatar v-if="trans.recepient" :username="trans.recepient" color="white" :size="30" ></avatar><template v-if="trans.recepient">{{trans.recepient | name}}</template></td>
                                   <!-- <td><avatar :src="trans.customer.picture" :username="trans.customer.full_name" color="white" :size="30" ></avatar>{{trans.customer.full_name}}</td> -->
                                   <td>{{'cash'}}</td>
                                   <td>{{trans.debit_account | activityModeId(trans.credit_account)}}</td>
                                   <td>{{trans.type}}</td>
                                   <td>{{trans.client || "ccml"}}</td>
                                   <!-- <td>{{agent.amount}}</td> -->
                                   <td>{{'-'}}</td>
                                   <td>{{trans.amount | money}}</td>
                                   <td>{{trans.balance}}</td>
                                   <td>
                                       <img v-if="trans.state == 'complete'" src="../assets/img/2.png" alt="">
                                       <img v-else src="../assets/img/1.png" alt="">
                                   </td>
                               </tr>
                           </tbody>
                       </table>
                       <div class="full-height d-flex flex-row justify-content-center align-items-center" v-else-if="transactionsViewState == 'LOADING'">loading</div>
                       <div class="full-height d-flex flex-column justify-content-center align-items-center" v-else>
                           <div>Failed to fetch transactions</div>
                           <button @click="fetchTransactions" class="retry-btn">Retry</button>
                       </div>
                     </div>
                  </div>
              </div>

              <!-- productsS -->
              <div  v-else-if="currentTab === 2" key="2" role="tabpanel"  id="map" class="full-height">
                  <map-display id="demo" class="full-height"></map-display>
              </div>
            </keep-alive>
          </transition>
        </div>
    </div>
    <agent-settings :agentProp="agent"></agent-settings>

    <div class="overlay display newDisplay">
    </div> 
    <add-edit-agent ref="editAgent" mode='EDIT'  display="none" :agentProp="agent"></add-edit-agent>
    <alert-box :sectorId="agent.id" message="Are you sure you want to delete this agent?" submit="Delete" cancel="Cancel" :id="agent.id"></alert-box>
    <div class="modal fade choose-columns-modal" tabindex="-1" id="customise-agent-fields" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Customise Fields</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <select @change="reArrangeColumns(index, $event)" v-for="(column, index) in columns.slice(0, 4)" class="form-control" name='' id='selectR5'>
                                <option :value="index2" :selected="index == index2"  v-for="(column2, index2) in columns">{{column2.header}}</option>
                            </select>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <!-- <button {{action "reArrange"}} type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
                </div>
            </div>
        </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import * as events from "../utils/constants/events.js";
import MapDisplay from '@/components/MapDisplay'
import Pikaday from 'pikaday'
import Moment from 'moment'
import listImg from '../assets/img/list.svg'
import mapImg from '../assets/img/internet.png'
import axios from 'axios'
import {CURRENT_URL} from '@/utils/Constants'
import store from '@/store/index'
import Utils from "../utils/Utils.js";


export default {
  name: 'AgentInfo',
  components:{
      'map-display': MapDisplay,
  },
  data () {
    return {
        agents:[],
        columns:[
          
        ],
        transactionsStartDate: Moment().subtract(3, 'days').toDate(),
        transactionsEndDate: Moment().toDate(),
        // TODO better name used to tab between recent transactions and map
        //TODO modify tabs to use keep alive component instead of v-if
        currentTab: 1,
        selectedAccountId: null,
    }
  },
  methods: {
    reArrangeColumns(oldValue, event) {
      let newValue = parseInt(event.target.value);
      Utils.swapArrayElements(this.columns, oldValue, newValue);
    },
    buildAgentDisplayFields () {
      let columns = [
        {header: "PHONE", dataField: "phone", class: "phone"},
        {header: "REGION", dataField: "region", class: "phone"},
        {header: "GENDER", dataField: "gender", class: "phone"},
        {header: "TYPE", dataField: "agent_type", class: "phone"},
        {header: "STATE", dataField: "state", class: "status"}
      ]
      if(this.agent.supplier_id != this.user.client_id){
        columns.unshift({header: "SUPPLIER", dataField: "supplier", class: "phone"})
      }
      return columns
    },
    confirmDelete(payload){
        let url = `${CURRENT_URL}agents/${payload.sectorId}`

        axios.delete(url)
        .then(data => {
            this.$notify.success("Agent Deleted")
            this.$store.dispatch('getAgents')
            window.$(`#${payload.id}`).modal('hide')
            this.$router.push({name: 'agents'})
        }, error => {
            window.$(`#${payload.id}`).modal('hide')
            this.$notify.error("Failed To Delete")
        })
    },
    cancelDelete(payload){
        window.$(`.delete-sector-modal#${payload.id}`).modal('hide')
    },
    deleteAgent(code){
        window.$(`.delete-sector-modal#${code}`).modal('show')
    },
    // change the account whose balance is currently displaying right above the transactions table
    changeSelectedAccount (event) {
      this.selectedAccountId = event.target.value
    },
    editFields () {
      window.$('#customise-agent-fields').modal({})
    },
    transactionsStartDateSelected (date) {
      this.transactionsStartDate =  date
      this.fetchTransactions()
    },
    transactionsEndDateSelected (date) {
      this.transactionsEndDate =  date
      this.fetchTransactions()
    },
    fetchTransactions () {
    let access_token = store.getters.token
      let startDate = this.transactionsStartDate || Moment().subtract(3, 'days').toDate()
      let endDate = this.transactionsEndDate || Moment().toDate()
      //hardcode dates
      startDate = new Date(2013, 1, 1)
      endDate = new Date(2018, 1, 1)

      startDate = Moment(startDate).format("DD-MM-YYYY")
      endDate = Moment(endDate).format("DD-MM-YYYY")
    },
    editAgent () {
      this.$refs.editAgent.open()
    },
    toggleCurrentTab (event) {
      let $topDivs = window.$('.nf')
      let $tabContainer = window.$(this.$el).find('.tab-content')
      let $img = window.$(event.target)
      if(this.currentTab == 1){
        $topDivs.slideUp()
        this.currentTab = 2
        $tabContainer.height('calc(100% - 9vh)')
        $img.attr('src', listImg)
      }else{
        $topDivs.slideDown()
        this.currentTab = 1
        $tabContainer.height(`calc(100% - 37vh`)
        $img.attr('src', mapImg)
      }
    },
    ViewAgentSettings(){
      this.$bus.$emit(events.SHOW_OVERLAY, true)
      window.$('.agent-slider-settings').addClass('open');
      this.$bus.$once(events.CLOSING_OVERLAY, function () {
          window.$('.agent-slider-settings.slider').removeClass('open');
      })
    }
  },
  computed: {
    ...mapGetters({
      agent: 'currentAgent',
      user: 'user',
      transactions: 'currentAgentTrans',
      transactionsViewState: 'currentAgentTransViewState'
    }),
    transactionsLoadState () {

    },
    selectedAccount () {
      if(!(this.selectedAccountId)){
        return this.agent && this.agent.accounts ? this.agent.accounts[0] : null
      }
      return this.agent.accounts.find(el => el.id == this.selectedAccountId)
    }
  },
  mounted:function(){
        window.Moment = Moment
        let endDate = Moment()
        let startDate = Moment().subtract(3, 'days')
        // this.transactionsStartDate =  new Pikaday({ field: window.$('#transaction-start')[0],
        //   maxDate: endDate.toDate()
        // });
        // this.transactionsStartDate.setMoment(startDate)
      //   this.transactionsEndDate =  new Pikaday({ field: window.$('#transaction-end')[0],
      //     maxDate: endDate.toDate()
      //  });
      //  this.transactionsEndDate.setMoment(endDate)
      this.fetchTransactions()
      this.columns = this.buildAgentDisplayFields()
  },
  created: function(){
    this.$bus.$on('alertSubmit', this.confirmDelete)
    this.$bus.$on('alertCancel', this.cancelDelete)
  },
  beforeDestroy() {
        this.$bus.$off('alertSubmit', this.confirmDelete)
        this.$bus.$off('alertCancel', this.cancelDelete)
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
    @import '../assets/styles/variables.scss';
    @import '../assets/styles/mixins.scss';
    

    $border-light: #999999;
    $border-deep: #666666;

    .disabled{
        cursor: not-allowed;
    }

    #agent-show-details{
        .nf-collapsed{
          display: none;
        }
        #single-agent-table{
            table.table-header{
              width: calc(100% - 6px);
              th{
                text-transform: uppercase;
                font-family: "GothamRoundedMedium",sans-serif;
                font-size: 10px;
                border-bottom: 1px solid #dee2e6;
                padding: 0.75rem
              }
            }
            .table-content{
              overflow: hidden;
              overflow-y: scroll !important;
              @include scrollbar(5px, 1px);
              height: calc(100% - calc(7vh + 2px));

            }
            table{
                table-layout: fixed;
                height: 100%;
                margin-bottom: 0;
                tr:first-child{
                  td{
                    border: none;
                  }
                }
                th, td{
                  &:nth-child(10){
                    width: 70px;
                  }
                  &:nth-child(9),   &:nth-child(8),   &:nth-child(7){
                    width: 100px;
                    text-align: center;
                  }
                  &:nth-child(6){
                    width: 100px;
                  }
                  &:nth-child(5), &:nth-child(4){
                    width: 150px;
                  }
                  &:nth-child(1){
                    width: 150px;
                  }
                  &:nth-child(3){
                    width: 80px;
                  }
                }

                th,td{
                    height: 7vh;
                    //font-size: 12px;
                    font-family: "GothamRoundedBook",sans-serif;
                    text-align: left;
                    //border-bottom: 1px solid $border-light;
                    vertical-align: middle !important;

                   &:nth-child(1){
                       padding-left: 15px;
                   }
                   &:last-child{
                       text-align: center;

                       img{
                           width: 16px
                       }
                   }
                }
            }
        }
        .accounts-select{
          height: 20px!important;
          background: #fafafa;
          padding: 0!important;
          height: 20px!important;
          border: none;
        }
        .single-agent-date{
            height: 9vh;
            justify-content: space-between;
            align-items: center;
            // border-bottom: 1px solid #f0f0f0;
            // border-top: 1px solid $border-deep;
            border-bottom: 1px solid $line-color;
            border-top: 1px solid $line-color;

            .inner-div{
                height: 30px;
                width: 100%;
                display: flex;
                margin-top: 1.5vh;
                //border: 1px solid;

            }

            h4{
                font-size: 16px;
                line-height: 30px
            }

            input,select{
                height: 30px;
                line-height: 30px;
                font-size: 12px
            }

            form{
                transform: translateY(-15px);


                label{
                    text-transform: uppercase;
                    font-size: 8px;
                    color: gray;

                }

                .input-group{
                    span{
                        width: 30px;
                        height: 30px;
                        //background: #fafafa;
                        background: $input-group-span;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 15px;
                        border-radius: 0;
                        //border: 1px solid $border-deep;
                        border-left: 0;
                    }
                }
            }
            //padding: 0 0px;
        }


        .button-click{
            width: 90px;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            text-align: right;
            li{
                border: 0;
                height: 30px;
                //border: 1px solid ;

                button{
                    height: 30px;
                    line-height: 30px;
                    border: 0;
                    //border: 1px solid black;
                    padding: 0 2px;
                    outline: 0;

                    img{
                        //border:1px solid black;
                    }
                }
            }

            button.nav-link.active.show{
                border: 0;

            }

            .nav-tabs{
                border: 0;

            }
            .nav-link:hover{
                border: 0;
                background: transparent;
            }
            div{
                margin: 0 5px;
            }

            ul{
                width: 400px;
                display: flex;
                flex-direction: row;

                li{

                }
            }

            button{
                background: white;

                img{
                    width: 19px;
                    height: 19px;
                }

                &:hover{
                    background: lightgray;
                }
            }
        }
    }
</style>
<style lang="scss">
    .agent-pos{
        button{
            outline: 0px;
            // img{
            //     filter: invert(0.8);
            // }


            &:hover{
            //     img{
            //         filter: none;
            //     }

                border: 1px solid #f0f0f0;
                background: #f0f0f0;
                color: white;


            }
        }

    }
  .agent-tabs{
    &-enter,
    &-leave-to {
      opacity: 0
    }

    &-leave,
    &-enter-to {
       opacity: 1
     }

    &-enter-active,
    &-leave-active {
      transition: opacity 300ms
    }
  }
  

</style>
