<template>
<div class="agent-settings-tab">
   <div class="header d-flex align-items-center">Assign A Service</div>
   <div class="content">
       <div class="section">
         <div class="sub-header">Select a Service</div>
         <div>
             <select class="service-select form-control" name="state">
                <option value="1">MobiBranch</option>
                <option value="2">Wyoming</option>
            </select>
         </div>
       </div>
       <div class="section">
         <div class="sub-header">Select a SubService</div>
         <div>
             <select class="service-select form-control" name="state">
                <option value="1">MobiBranch</option>
                <option value="2">Wyoming</option>
            </select>
         </div>
       </div>
       <div class="configuration">
            <div class="sub-header uppercase">mobi-branch : collection configuration</div>
            <div class="content">
                <div>
                    <div></div>
                </div>
            </div>
       </div>
   </div>
</div>
</template>


<script>
import Utils from '@/utils/Utils'
export default {
    name: 'AgentAssignService',
    mounted () {
        // $('.agent-settings-tab .service-select').select2()
        // $(this.$el).find('.agent-settings-tab .service-select').select2()
    },
    data () {
        return {
            
        }
    }
}
</script>


<style lang="scss">
    @import '../assets/styles/variables';
    @import '../assets/styles/mixins';

    .agent-settings-tab{
        height: 600px;
        .header{
            text-transform: uppercase;
            height: 35px;
            background: rgba(0, 0, 0, 0.15);
            font-size: 14px;
            font-weight: 500;
            padding-left: 20px;
            font-family: "GothamMedium",sans-serif;
        }
        .content{
            padding: 12px 20px 0 12px;
            overflow-y: auto;
            .section{
                margin-top: 10px;
                &:first-child{
                    margin-top: 0;
                }
            }
            .configuration{
                margin-top: 20px;
            }
        }
        .sub-header{
            font-size: 12px;
            font-family: "GothamMedium",sans-serif;
        }
    }

    
</style>

