<template>
<div>
    <slide-out>
        <div slot="top-panel" class="" id="menu">
            <h5>Agent Settings - {{agent.full_name | name}} </h5>
            <!-- <h5 v-else>Add Agent</h5> -->
        </div>
        <div slot="left-panel">
            <div class="input-group">
                <input style="height:30px; font-size:12px" type="text" class="form-control" name="email" placeholder="Search a field">
                <span class="input-group-addon white-background"><i class="glyphicon glyphicon-search"></i></span>
            </div>
            <!-- <div style="width: 100%" class="panel-group white-background" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading white-background">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#services"><span>
                                <img src="/assets/images/add (1).png" alt="">
                            </span>Services</a>
                        </h4>
                    </div>
                    <div id="services" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <a class="black-text" @click="scrollToSegment('location')">Assign Services</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a class="black-text" @click="scrollToSegment('contact-details')">Service rules and Commissons</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading white-background">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span><img src="/assets/images/add (1).png" alt="">
                            </span>Products</a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse"></div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading white-background">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span><img src="/assets/images/add (1).png" alt="">
                            </span>Agent Profiles</a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse"></div> 
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading white-background">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span><img src="/assets/images/add (1).png" alt="">
                            </span>Audit Logs</a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse"></div>
                </div>
            </div> -->
            <accordion-menu :menuItems="menuItems"></accordion-menu>
        </div>
        <div slot="right-panel" class="full-height">
            <keep-alive>
            <component :is="currentComponent" class="full-height"></component>
            </keep-alive>
        </div> 
    </slide-out>
    </div>
</template>


<script>
    import * as events from '@/utils/constants/events'
    import Utils from '@/utils/Utils'
    // components
    import AssignService from '@/components/agent-settings/AssignService'
    import AssignedServices from '@/components/agent-settings/AssignedServices'
    import AuditLog from '@/components/agent-settings/AuditLog'
    export default {
        name: 'AuditLog',
        components: {
            'assign-service': AssignService,
            'assigned-services': AssignedServices,
            'audit-log': AuditLog
        },
        props: {
            display: null,
            forApproval: null,
            agentProp: null,
            mode: {
            type: String,
            default: 'ADD'
            }
        },
        data () {
            return {
                agent: {},
                isOpen: false,
                menuItems: [{name: "Services", children: [{name: "Assign a Service", default: true}, {name: "View Assigned Services"}]},
                 {name: "Products"}, {name: "Agent Profiles"},
                {name: "Audit Logs"}],
                currentComponent: 'assign-service'
            }
        },
        created () {
            if(this.agentProp){
                this.agent = Utils.cloneObject(this.agentProp)
            }
        },
        watch: {
            agentProp (newAgent, oldAgent) {
                if(newAgent){
                    this.agent = Utils.cloneObject(newAgent)
                }
            }
        },
        methods: {
            // save () {
            //     alert("saving")
            //     this.close()
            // },
            // cancel () {
            //     this.close()
            // },
            // close () {
            //     let $this = window.$(this.$el)
            //     window.dd = $this
            //     this.$bus.$emit(events.SHOW_OVERLAY, false)
            //     this.$bus.$off(events.CLOSING_OVERLAY)
            //     $this.find('.slide-panel').removeClass('open')
            //     // window.$('.newContactDisplay.active').removeClass('active')
            //     // reset to uneditted contact before closing
            //     this.agent = Utils.cloneObject(this.agentProp)
            // },
            menuItemSelected (menuItem) {
                console.info(menuItem)
                switch (menuItem) {
                    case "Audit Logs":
                        this.currentComponent = "audit-log"
                        break;
                    case "Assign a Service":
                        this.currentComponent = 'assign-service'
                        break;
                    case "View Assigned Services":
                        this.currentComponent = 'assigned-services'
                        break;
                    default:
                        break;
                }
            },
            scrollToSegment (segment) {
                let $this = window.$(this.$el)
                if(segment == null){
                    return;
                }
                let $formSegment = $this.find(`p[data-form-segment=${segment}]`)
                let $tab = $this.find('#basic-info')
                let offset = $formSegment.offset().top - $tab.offset().top
                console.error($tab)
                console.error(offset)
                console.error($tab.offset().top)
                console.error($formSegment.offset().top)
                $tab.animate({
                    scrollTop: offset
                }, 1000)
                console.error("DONE")
            },
            toggleAccordion(){
                this.isOpen = !this.isOpen
                var $panel = window.$('.panel-collapse')
                if(!this.isOpen){
                    $panel.addClass('openSesame')
                }else{
                    $panel.removeClass('openSesame')
                }
            }
            
        },
        mounted(){
            this.$bus.$on('accordionMenuItemSelected', this.menuItemSelected)
        },
        beforeDestroy () {
            this.$bus.$off('accordionMenuItemSelected', this.menuItemSelected)
        }
    }
</script>


<style lang="scss">
    @import '../assets/styles/variables';
    @import '../assets/styles/mixins';
    
    #slider-menu{
        font-size: 12px;
        border: 0px !important;
        li{
            font-size: 12px;
            .nav-link{
                font-size: 12px;
            }
        }
        .nav-tabs .nav-link.active{
            border: 0 !important;
            font-size: 12px !important;
        }

        a.nav-link{
            font-size: 12px !important;
            color: black !important;
            border: 0;
            border-radius: 0px;

            &:active,&:focus,&:hover{
                border-left: 3px solid $orange;
                background: #f6ffbd;
            }
        }

        .panel-collapse{
            max-height: 0;
            //height: 0;
            transition: all 0.5s linear ease-out;
            transition-duration: 0.5s;
            //animation: openHeight 0.2s ease-in;

            td{
                border: 0;
                height: 20px !important;
                padding: 5px 5px;

                &:hover{
                    border-left: 3px solid $orange;
                    background: #f6ffbd;
                }
            }

            // &.open{
            //     height: auto;
            // }
        }

        
    }

    .openSesame{
        max-height: 200px !important;
        //background: black;
    }
    // .slide-enter-active{
    //     animation: openHeight 0.4s ease-in;
    // }
    // .slide.leave.active{
    //     animation: openHeight 0.4s reverse ease-in;
    // }

    // @keyframes openHeight {
    //     from{
    //         height: 0;
    //     }to{
    //         height: 100%;
    //     }
    // }

    // .slide-enter-active {
    //     transition: all .3s ease;
    // }
    // .slide-leave-active {
    //     transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    // }
    // .slide-enter, .slide-leave-to
    // /* .slide-leave-active below version 2.1.8 */ {
    //     transform: translateY(-10px);
    //     // opacity: 0;
    // }

    
</style>

