<template>
  <div id="agent-products">
    <div v-for="product in products">
    <div style="height: 6vh;" class="row pl-3">
      <div style="line-height: 6vh;" class="col-6 book">
          <!-- {{title}} -->
          {{product.name}}
      </div>
      <div class="col-6 center no-margin no-padding">
          <!-- {{checkbox-component id='daily'}} -->
          <!-- <checkbox-component :id="daily"></checkbox-component> -->
          <checkbox :id="product.name"></checkbox>
      </div>
    </div>

    </div>

  </div>
</template>

<script>
export default {
  name: 'AgentProducts',
  data () {
    return {
      products: []
    }
  },
  created: function() {
        // for (var i = 0; i < 25; i++) {
        //     this.users.push(buildFakeUser());
        // }
        for (var i = 0; i < 10; i++){

            var product={
                name: this.$faker().lorem.word(),
                email: this.$faker().internet.email(),
                company: this.$faker().company.companyName(),
                avatar: this.$faker().internet.avatar()
            };

            this.products.push(product);
        }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
  #agent-products{
    font-size: 12px !important;
    label{
      transform: scale(0.7);
      -webkit-transform: scale(0.7);
      -o-transform: scale(0.7);
      -moz-transform: scale(0.7)
    }
  }

</style>
