<template>
  <div>
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: 'AgentNotes',
  data () {
    return {

    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
