<template>
    <div :id="id" class="modal fade alert-modal delete-sector-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="d-flex flex-column align-items-center justify-content-center border-bottom my-3">
                    <img src="../assets/img/alarm.png" alt="">
                    <h1 class="font-weight-bold">Alert!</h1>
                </div>
                <div class="d-flex align-items-center justify-content-center flex-column my-3">
                    <p class="text-center px-5">{{message}}</p>
                    <div>
                        <button class="btn-danger" @click="submitButton">{{submit}}</button>
                        <button style="background: #FF931E" @click="cancelButton">{{cancel}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'AlertBox',
    props:['message','submit','cancel','id','sectorId'],
    methods:{
        submitButton(){
            this.$bus.$emit("alertSubmit",{'sectorId':this.sectorId,'id':this.id});
        },
        cancelButton(){
            this.$bus.$emit("alertCancel",{'sectorId':this.sectorId,'id':this.id});
        }
    }
}
</script>

<style lang="scss" scoped>
    
    @import '../assets/styles/variables.scss';
    @import '../assets/styles/mixins.scss'; 
    .modal{
        z-index: 4000000000;
    }
    .alert-modal{
        font-family: 'GothamBook',sans-serif;
        img{
            width: 60px;
        }
        p{
            font-size: 13px;
        }
        button{
            font-size: 11px;
            padding: 0 10px;
            line-height: 30px;
            height: 30px;
            margin-left: 10px;
            //background-color: $orange;
            border: 1px solid #f0f0f0;
            border-radius: 2px;
            color: white;

            img{
                width: 16px;
            }
        }
    }
</style>


