<template>
   <div class="full-height">
    <div id="unrecon-table">
      <reconciled-agent v-on:signOff="signOff" :agent="agent" v-for="agent in reconciledAgents" :key="agent.id"></reconciled-agent>
      <unreconciled-agent :agent="agent" v-for="agent in unreconciledAgents" :key="agent.id"></unreconciled-agent>
    </div>
  </div>

</template>

<script>
import ReconciledAgent from './transactions/batch/ReconciledAgent.vue'
import UnReconciledAgent from './transactions/batch/UnReconciledAgent.vue'
var faker = require('faker');
import nfFake from '@/utils/nfFake'
export default {
  name: 'BatchTransactions',
  components: {
    'reconciled-agent': ReconciledAgent,
    'unreconciled-agent': UnReconciledAgent
  },
  methods: {
    signOff (agent) {
      this.reconciledAgents.splice(this.reconciledAgents.indexOf(agent), 1)
    }
  },
  created: function(){
        // var type = ["deposit","withdrawal"];
        var rand = Math.floor(Math.random() * 1) + 0;
        this.picture1 = faker.image.avatar();

        for(let i = 0; i < 20; i ++){
            let agent = {
              id: i,
              name: faker.name.findName(),
              branch: nfFake.branch(),
              picture: faker.internet.avatar(),
              transactions: faker.random.number(),
              customers: faker.random.number(),
              cashAtHand: faker.finance.amount(),
              transactionNet: faker.finance.amount(),
              type: faker.random.boolean() ? "deposit" : "withdrawal"
            }
            if(i < 10){
              this.reconciledAgents.push(agent)
            }else {
              this.unreconciledAgents.push(agent)
            }
        }
  },
  data () {
    return {
      reconciledAgents: [],
      unreconciledAgents: []
    }
  }

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style  lang="scss">
    @import '../assets/styles/variables';
    @import '../assets/styles/mixins';
    .md-checkbox{
      display: inline-block;
    }
    .table{
        margin-bottom: 0;
    }
    button.small-icon{
      height: 24px;
      width: 24px;
      background: white;
      //padding: 4px;
      line-height: 16px;
      border-radius: 2px;
      margin-left: 5px; 
      img{
          width: 12px;
          vertical-align: text-top;
      }
    }


    .recon-trans{
        width: 100%;
        height: 70px;
        border-bottom: 1px solid #f0f0f0;
        padding: 0 17px;
        margin: 0;
        font-size: 12px;

        div{
            height: inherit;

            p:first-child{
                margin-bottom: 5px;

                strong:first-child{
                    font-size: 13px;
                }
            }

            p:last-child{
                font-size: 11px;
            }
        }
        button{
            height: 24px;
            width: 24px;
            border: 1px solid lightgray;
            background: white;
            //padding: 4px;
            line-height: 16px;
            border-radius: 2px;
            margin-left: 5px;
            img{
                width: 12px;
                vertical-align: text-top;
            }
            &.active{
              background: yellow;
            }
        }
        


        .trans-date{
            color: gray;
            font-size: 11px;
        }

        .last-trans{
            width: calc(85% - (40px));
        }


    }


    table{
        position: relative;
        thead{

            th{
                height: 50px;
                background: #fdfdfd;
            }
        }
    }

    #alltrans-table{
        border-bottom: 1px solid #f0f0f0;
        .chip{
            width: 25px;
            height: 25px;
            //font-size: 10px;
        }

        tr{
          button{
            &.reset, &.eye{
              visibility: hidden;
            }
          }
          &:hover{
            .eye, .reset{
              visibility: visible;
            }
          }
        }

        td,th{
            text-align: left;
            &:first-child{
                padding-left: 20px;
            }
            &:last-child{
                padding-right: 20px;
                text-align: right;
            }
        }

        td{
            height: 40px;

        }

        th{
            background: #fafafa;
        }

    }

    .avatar{
        div{
            width: 45px;
            height: 45px;
            border-radius: 50%;
            background: red;
        }
    }

    .recon-tag{
        width: 60px;
        background: $blue;
        padding: 2px;
        margin: 0;
        text-align: center;
        font-size: 10px;
        border-radius: 2px;
        color: white;
    }

    .reconcile-button{
        font-size: 12px;
        background: $blue;
        color: white;
        height: 30px;
        width: auto;
    }

  

</style>


<style lang="scss" scoped>

</style>
