<template>
    <div class="d-flex flex-row justify-content-center align-items-center" id="bottom-nav">
      <!-- <p class="no-margin">A Branchless Banking Platform by <b style="color:blue">nFortics</b> | KnowledgeBase | Privacy Policy</p> -->
      <p class="no-margin">{{$t('footer.0')}} <b style="color:blue">nFortics</b> {{$t('footer.1')}}</p>
    </div>
</template>

<script>
export default {
  name: 'BottomNav',
  data () {
    return {

    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  #bottom-nav{
    /* height: 7vh;
    font-size: 10px; */
    height: 30px;
    font-size: 9px;
    border-top: 2px solid #f0f0f0;
    background: white;
    z-index: 300000000000;
    p{
      z-index: 300000000000;
    }
  }
</style>
