<template>
    <div>
        <a :style="{visible}" href="#" class="tooltips"><span>{{title}}</span></a>
    </div>
</template>

<script>
    export default {
        name: 'triangle-box',
        props: ['title','visible']
    }
</script>
<style lang="scss" scoped>
    
</style>


