<template>
  <div class="breadcrumb d-flex flex-row align-items-center justify-content-between">
    <div class="d-flex flex-row align-center some-space">
      <div class="flex-row no-padding no-margin full-height align-center">
        <!-- <router-link class="title blue-text no-padding no-margin" tag="div" :to="titleLink">{{title}}</router-link>
        <div class="seperator"> > </div>
        <small style="font-size: 11px;" class="medium">{{subtitle}}</small>
        <name-filter-dropdown v-if="showDropDown" title='Surname' :filters="[constants.SURNAME, constants.FIRSTNAME]" >
        </name-filter-dropdown> -->
        <button @click="toggleLeftPanel" v-if="showTransFilter" :class="['filter-button', 'd-flex', 'flex-row', 'justify-center', 'align-center',{activeDrawer:isLeftPanelOpen}]"><img src="../assets/img/left-alignment.svg" alt=""></button>
        <router-link :to="titleLink" tag="b" class="deep-blue-text title no-padding no-margin">{{title}}</router-link>
        <img class="align-self-center" v-if="showSecondBread && subtitle && !!this.$slots['sortDropdown']" style="margin: 0px 10px 0;" src="../assets/img/right-arrow.svg" alt="">
        <!-- <b style="margin: 0px 10px 0;font-weight: 100" class="no-padding greater"> <img src="/home/seddie62/Desktop/vue.js/lemon_vue/src/assets/img/right-arrow.svg" alt=""> </b>   -->
        <b v-if="showSecondBread && !!this.$slots['sortDropdown']" style="font-weight: 100;font-size: 12px;margin-right: 10px" class="medium">{{subtitle}}</b>
        <img v-if="showThirdBread" style="margin: 0px 10px 0;" src="../assets/img/right-arrow.svg" alt="">
        <b v-if="showThirdBread" style="font-weight: 100;font-size: 12px;margin-right: 10px" class="medium">{{subsubtitle}}</b>
        <slot name="sortDropdown"></slot>
      </div>
      <!-- <p>Contacts > Sort contacts by</p> -->
    </div>
    <button v-if="showFullScreen" class="fullscreen-button rounded-circle bg-light btn btn-light border btn justify-center flex-row" type="button" @click="toggleFullScreen"><img src="../assets/img/expand.png" alt=""></button>
    <div v-if="showRightPanel" class="display-flex align-items-center">
        <div v-if="false">
            <p style="font-size: 12px" class="no-margin bold">Export {{title}}: &nbsp; &nbsp; &nbsp;</p>
        </div>
        <div v-if="false">
            <span class="chip orange">
                CSV
            </span>
            <span class="chip orange">
                PDF
            </span>
        </div>
        <button :class="['filterBot', {activeDrawer: filterActive}]" @click="filterClicked" v-if="showFilterButton" style="cursor:pointer;"><img src="../assets/img/funnel.png" alt=""> Filter</button>
        <button :class="['filterBot', {activeDrawer: filterActive}]" @click="filterClicked" v-if="showSettingsButton" style="cursor:pointer;"><img src="../assets/img/cogwheel-outline.png" alt="">  Settings</button>

    </div>


  </div>
</template>

<script>
import {ASCENDING, DESCENDING, SURNAME, FIRSTNAME} from '../utils/Constants.js'
import {FILTER_BUTTON_CLICKED} from '../utils/constants/events.js'
import {SETTINGS_BUTTON_CLICKED} from '../utils/constants/events.js'
//import Fullscreen from "vue-fullscreen/src/component.vue"
// console.log("bread", SURNAME)
export default {
  name: 'BreadCrumbComponent',
  //components: {Fullscreen},
  props: {
    title: null,
    subtitle: null,
    "without-form": null,
    id: null,
    titleLink: null,
    showDropDown: {
      type: Boolean,
      default: false
    },
    showFilterButton: {
      type: Boolean,
      default: false
    },
    showSettingsButton: {
      type: Boolean,
      default: false
    },
    showRightPanel:{
      type:Boolean,
      default: true
    },
    showSecondBread:{
      type: Boolean,
      default: true
    },
    showThirdBread:{
      type: Boolean,
      default: false
    },
    showTransFilter:{
      type: Boolean,
      default: false
    },
    showFullScreen:{
      type: Boolean,
      default: false
    }
  },
  methods: {
    filterClicked () {
      this.filterActive = !this.filterActive
      this.$bus.$emit(FILTER_BUTTON_CLICKED);
    },
    toggleFullScreen(){
      this.$bus.$emit("isFullScreen");
    },
    toggleLeftPanel(){
      this.isLeftPanelOpen = !this.isLeftPanelOpen
      this.$bus.$emit("isPanelOpening");
    }
  },
  data () {
    return {
      constants: {"SURNAME": SURNAME, "FIRSTNAME": FIRSTNAME},
      filterActive: false,
      isLeftPanelOpen: false
      //fullscreen: false
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
   @import '../assets/styles/variables';
  @import '../assets/styles/mixins';

  .breadcrumb{
    padding: 0 10px;
    border-radius: 0px;
    margin: 0px;
    //border-bottom: 1px solid #666666;
    height: 6vh;
    background: #fafafa;
    border-bottom: 1px solid #f0f0f0;

    span.chip{
      @include pointer;

    }
   

    img{
      width: 12px;
      height: 12px;
    
    }

    button{
      font-size: 11px;
      padding: 0 10px;
      line-height: 30px;
      height: 30px;
      margin-left: 10px;
      background: white;
      border: 1px solid #f0f0f0;
      border-radius: 2px;

      img{
        width: 16px;
      }
    }

    .filter-button{
      margin-left: 0;
      width: 24px;
      height: 24px;
      padding: 0;
      margin-right: 10px;
      border: 1px solid lightgray;
    }

    .fullscreen-button {
      margin-right: 0px;
      width: 30px;
      height: 30px;
    }

  }
  .activeDrawer{
    background: $orange!important;
    color: white;

    img{
      filter: invert(1);

    }
  }
  .title{
    cursor: pointer;
    font-weight: bold;
    font-family: "GothamRoundedBook";
    font-size: 13px;
    padding-top: 2px;
    line-height: 4vh;
  }



</style>
