<template>
  <div>
    <div class="form-group md-checkbox no-label" >
    <input style="display: none" class="checked" id="daily{{id}}" type="checkbox" data-value="">
    <label for="daily{{id}}" class="check checked"></label>
</div>
  </div>
</template>

<script>
export default {
  name: 'CheckBoxComponent',
  props: [],
  data () {
    return {

    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
