<template>
  <div class="form-group md-checkbox no-label">
    <template v-if="hasModel">
      <input :disabled="disabled" @change="checkChanged" v-model="mIsChecked" style="display: none" class="checked" :id="mId" type="checkbox" :data-value="id">
      <!-- <label v-on:click="checked" :for="id" class="check checked"></label> -->
      <label :for="mId" class="check checked" ></label>
    </template>
    <template v-else>
      <input @change="checkChanged"  style="display: none" class="checked m-0 p-0" :id="mId" type="checkbox" :data-value="id">
      <label  :for="mId" class="check checked" ></label>
    </template>
  </div>
</template>

<script>
import Utils from '@/utils/Utils'
export default {
  name: 'CheckBox',
  props: {
    id: null,
    // TODO: remove this and use jquery to deal with all checkboxes
    hasModel: {
      type: Boolean,
      default: true
    },
    disabled: {
      type: Boolean,
      default: false
    },
    value: {
      type: Boolean,
      default: false
    }
  },
  created () {
    this.mIsChecked = this.value
    this.mId = this.id ? this.id : Utils.randomString()
  },
  data () {
    return {
      mIsChecked: false,
      mId: null
    }
  },
  methods: {
    checkChanged () {
      this.$emit('checked', this.mIsChecked)
      this.$emit('input', this.mIsChecked)
    }
  },
  watch: {
    value (newValue) {
      this.mIsChecked = newValue
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
