<template>
    <div class="toggle-right back">
    <!--  <button type="button" class="close" id="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>  -->
    <img src="/images/img/cancel-music.png" id="close" alt="">
    <div class="d-flex justify-content-center head">
        <img src="/images/img/lemon logo.svg" alt="">
        <span>Lemon</span>
    </div>
    <div class="d-flex align-items-center flex-column client">
        <div class="name">
            Ravi Pimento
            {{session.CurrentUser.name}}

        </div>  
        <div class="email">
            ckpabs@gmail.com
             {{session.CurrentUser.email}}
        </div>
    </div>
    <div class="d-flex align-items-left flex-column lemon-cover">
        <div class="d-flex align-items-center head-p">
            <img src="/images/img/lemon logo.svg" alt="">
            <span>Lemon</span>
        </div>
        <ul class="d-flex flex-column align-items-center">
            <li>Kuapa Cocoa</li>
            <li>Nyankopa</li>
            <li>Olam</li>
        </ul>
    </div>
    <div class="d-flex justify-content-center logout" @click="logout">
        <span>LOGOUT</span>
        <img src="/images/img/logout.svg" alt="">
    </div>
</div>

</template>


<script>
export default {
    
}
</script>

<style lang="scss" scoped>
img#close {
        position: absolute;
        right: 2rem;
        top: 2rem;
        width: 1rem;
        height: 1rem;
        cursor: pointer;
    }

    .toggle-right.back {
        background: rgb(247, 248, 250);
        padding: 1.25rem;   
    }

    .logout {
        font-family: 'GothamRnd-Light';
        position: absolute;
        bottom: 2rem;
        left: 2rem;
        cursor: pointer;
    }

    .logout span {
        padding-right: 0.5rem;    
    }

    .logout span:hover {
        font-weight: bold;
    }

    .logout img {
        width: 1rem;
        height: 1rem;
    }

    .head {
        margin-top: 4rem;
    }

    .head img, .head-p img {
        width: 1.5rem;
        height: 1.5rem;        
    }

    .head span,.head-p span {
        padding-left: 0.5rem;
    }

    .client {
        margin-top: 3rem;
    }

    .client .name {
        font-family: 'GothamRnd-Medium';
    }

    .client .email {
        font-family: 'GothamRnd-Book';
    }

    .lemon-cover {
        margin-top: 4rem;
        border: 1px solid #dedede;
        border-radius: 5px;
    }

    .lemon-cover .head-p {
        padding-left: 2rem;
        border-bottom: 2px solid #dedede;
        height: 30px;
        background: rgb(248, 243, 232);
    }

    .lemon-cover ul {
        margin: 0;
        padding-left: 2rem;
    }

    .lemon-cover ul li {
        height: 30px;
        width: 100%;
        line-height: 30px;
    }
</style>

