<template>
  <div style="text-align:left">

    <div  class="slide-panel slider farmer-details" :id="id"> 

        <div class="d-flex flex-row justify-content-between align-items-center padding-ten">
            <div class="" id="menu">
              <h5>Farmer Details - {{contact.name | notAvailable}}</h5>
            </div>
            <div class="flex-row"> 
              <template  v-if="contact.status == 'unapproved' || contact.status == 'rejected'">
                <div v-if="contact.status == 'rejected'" 
                  style="color: red; margin-right: 10px;" 
                  class="d-flex align-items-center"
                  :data-content="contact | farmer-status-info"
                  data-toggle="popover" 
                  data-trigger="hover"
                  data-html="true"
                  data-placement="bottom"
                  >
                  <span class="">Rejected</span>
                </div>
                <button
                  @click="approveFarmer" 
                  style="margin-right: 10px;" 
                  class="btn white-background border approval-button"
                  :data-content="registrationInfo"
                  data-toggle="popover" 
                  data-trigger="hover"
                  data-placement="bottom"
                  data-html="true"
                  
                  >
                  <template v-if="approvingFarmer">
                    <div class="approval-button-img-container">
                    <img class="show loading-img" src="@/assets/img/spinner.svg">
                    </div>
                  </template>
                  <template v-else>Approve</template>
                </button>
                
                <div v-if="contact.status == 'unapproved'" id="reject-button" class="dropdown">
                    <button class="approval-button btn white-background border" type="button" id="rejection-dropdown" data-toggle="dropdown">
                        <template v-if="rejectingFarmer">
                          <div class="approval-button-img-container">
                          <img class="show loading-img" src="@/assets/img/spinner.svg">
                          </div>
                        </template>
                        <template v-else>Reject</template>
                    </button>
                    <div class="dropdown-menu p-2" aria-labelledby="rejection-dropdown">
                        <div class="h-100 w-100 d-flex flex-column justify-content-center">
                            <h4 class="text-uppercase text-secondary status">Reason for rejection</h4>
                            <textarea class="pl-2" v-model="reason" placeholder="Reason for Rejection" name="rejection" id="rejection" cols="30" rows="10"></textarea>
                            <button id="rejectButton" @click="rejectFarmer" class="text-uppercase text-light submit-button mt-2">submit</button>
                        </div>
                    </div>
                </div>
                <!-- <reject-farmer-popover @reject:farmer="rejectFarmer"></reject-farmer-popover> -->
                <!-- <button @click="rejectFarmer" class="btn white-background border">Reject</button></button> -->
              </template>
              <template v-else-if="contact.status == 'rejected'">
                Registration rejected for further review
              </template>
              <!-- <loan-approved-status name="James Ordartey" :level="1"></loan-approved-status>
              <loan-can-approve-status name="Caleb Tetteh" :level="2"></loan-can-approve-status> -->
              <!-- <loan-cant-approve-status :level="4"></loan-cant-approve-status> -->
              <!-- <loan-disbursement></loan-disbursement> -->
            </div>
            <!-- <div class="text-right" id="info" :style="{display: display}">
               <button style="font-size: 12px" class="btn white-background border">Single Contact</button>
               <button style="font-size: 12px" class="btn white-background border">Multiple Contact</button>
               <button style="font-size: 12px" class="btn white-background border">Retrieve Contact</button>
            </div>
            <div class="col-7 text-right" id="approve" :style="{display: forApproval}">
                <button class="btn white-background border">Approve</button>
            </div> -->
        </div>
        <div class="dividerL"></div>
        <div class="row" >
            <div class="col-4 no-margin no-padding flex-column" style="border-right:2px solid #f0f0f0;">
                <div class="input-group">
                    <input style="height:30px; font-size:12px" type="text" class="form-control" name="email" placeholder="Search a field">
                    <span class="input-group-addon white-background"><i class="glyphicon glyphicon-search"></i></span>
                </div>
                <accordion-menu ns="cfd" :activeItem="activeMenuItem" class="scroll" :menuItems="filteredMenuItems"></accordion-menu>
            </div>
            <div id="basic-info" class="col-8 no-margin no-padding">
                <div style="height: calc(100% - 5vh);">
                    <div v-nf-scrollspy="{ns: 'fmd'}" data-nf-tab="b_info" class="fade-in" style="height:100%">
                        <h5 class="uppercase" style="padding-left:20px;line-height: 5vh">{{currentTab}}</h5>
                        <div id="basic-scroll" class="scroll full-height">
                            <form data-form-segment="Basic Information" action="">
                                <div class="form-group black-text">
                                    <label for="first-name">First Name</label>
                                    <nf-input v-model="contact.first_name" :mode="mMode"/>
                                </div>
                                <div class="form-group black-text">
                                    <label for="last-name">Last Name</label>
                                    <nf-input v-model="contact.surname" :mode="mMode"/>
                                </div>
                                <div class="form-group black-text">
                                    <label for="middle-name">Nickname</label>
                                    <nf-input v-model="contact.other_names" :mode="mMode"/>
                                </div>

                                <div class="form-group black-text">
                                    <label for="dob">Date Of Birth</label>
                                    <datepicker
                                      :disabled="viewMode"
                                      calendar-button-icon="fa fa-calendar"
                                      :bootstrap-styling="true"
                                      placeholder="YYYY/MM/DD"
                                      v-model="contact.date_of_birth"
                                      :open-date="new Date('1980/1/1')"
                                      initial-view="year"
                                      :calendar-button="false">
                                    </datepicker>
                                    <!-- <datepicker minimum-view="year"></datepicker> -->
                                </div>
                                <div class="form-group black-text">
                                    <label for="dob">Age</label>
                                    <nf-input :value="contact.date_of_birth | age" mode="VIEW"/>
                                </div>
                                <div v-if="mMode == 'VIEW'" class="form-group black-text">
                                    <label for="dob">Unique Id</label>
                                    <nf-input v-if="viewMode" :value="contact.unique_id" :mode="mMode"/>
                                </div>
                            </form>

                           
                            <div data-form-segment="c_details" data-form-segment-parent="Basic Information" class="form-header d-flex flex-row align-items-center">
                                <h6 class="uppercase medium no-padding no-margin">CONTACT DETAILS</h6>
                                <div class="dividerS"></div>
                            
                                

                            </div>
                            <form v-if="mMode == 'VIEW' && (!contact.contacts || contact.contacts.length == 0)">
                                <div><div class="no-data-box">No Contacts Available</div></div>
                            </form>
                            <form v-else  v-for="(contact, index) in contact.contacts" action="">
                                <div class="p-0 m-0">
                                    <div class="form-group black-text">
                                        <label v-if="index == 0" for="phone">Primary Phone Number</label>
                                        <label v-else for="phone">Alternate phone number</label>
                                        <nf-input v-model="contact.number" :mode="mMode"/>
                                        
                                    </div>
                                    
                                    <div class="row">
                                        <div class="form-group col-6 d-flex align-items-center black-text">
                                            <label for="phone" class="mr-4 mb-0">Carrier</label>
                                            <nf-input v-if="viewMode" :value="contact.carrier" :mode="mMode"/>  
                                            <v-select
                                              v-else 
                                              style="width: 180px;"
                                              :disabled="mMode == 'VIEW'"
                                              :allowOtherValues="false"
                                              :taggable = false
                                              :searchable="true"
                                              label="name"
                                              :clearable="false"
                                              :orange="false" 
                                              v-model="contact.carrier"
                                              :options="providers">
                                            </v-select>
                                        </div>
                                       <div class="col-3 form-group black-text justify-content-between d-flex align-items-center">
                                          <label class="mb-0" for="phone">Active</label>
                    
                                            <switch-button :disabled="mMode == 'VIEW'" v-model="contact.active"></switch-button>                                            
                                            
                                        </div>
                                        
                                    </div>
                                    <div class="row">
                                        <!-- <div class="col-5 form-group black-text d-flex justify-content-between align-items-center">
                                          <label class="mb-0" for="phone">Verified</label>
                                          <switch-button v-if="mMode=='VIEW'" :disabled="true" v-model="contact.verified"></switch-button>
                                          <switch-button v-else v-model="contact.verified"></switch-button>
                                        </div> -->
                                        
                                         <div class="col-5  form-group black-text d-flex justify-content-between align-items-center">
                                          <label class="mb-0 p-0" for="phone">Is mobile money number</label>
                                          
                                          <switch-button  :disabled="mMode == 'VIEW'" v-model="contact.is_mobile_money"></switch-button>
                        
                                        </div>
                                        <div class="col-3 offset-1 form-group black-text d-flex justify-content-between align-items-center">
                                            <label class="mb-0" for="phone">Ported</label>
                                            <switch-button :disabled="mMode == 'VIEW'" v-model="contact.ported"></switch-button>
                                            <!-- <switch-button v-else v-model="contact.ported"></switch-button> -->
                                        </div>
                                    </div>
                                </div>
      
                                
                            </form>
                            <form v-if="mMode=='EDIT'">
                            <a @click="addPhoneNumber" class="agent-edit-button">add another number</a>
                            </form>
                            <div data-form-segment="Farmer Grouping" data-form-segment-parent="Basic Information" class="form-header d-flex flex-row align-items-center">
                                <h6 class="uppercase medium no-padding no-margin">FARMER GROUPING</h6>
                                <div class="dividerS"></div>
                            </div>
                            <form action="">
                                <div class="form-group black-text">
                                    <label for="phone">Region</label>
                                    <nf-input v-if="viewMode" :value="contact.region_id | region-name(regions)" :mode="mMode"/>
                                    <v-select v-else      
                                      :allowOtherValues="false"
                                      :taggable = false
                                      :searchable="false"
                                      label="name"
                                      :clearable="false"
                                      :orange="false" 
                                      modelPath="id"
                                      v-model="contact.region_id"
                                      :options="regions">
                                    </v-select>
                                </div>
                                 <div class="form-group black-text">
                                    <label for="phone">Society</label>
                                    <nf-input v-if="viewMode" :value="contact.society.id | society-name(soceities)" :mode="mMode"/>
                                    <v-select v-else 
                                    
                                      :allowOtherValues="false"
                                      :taggable = false

                                      label="name"
                                      :clearable="false"
                                      :orange="false" 
                                      modelPath="id"
                                      v-model="contact.society.id"
                                      :options="soceities">
                                    </v-select>
                                </div>
                            </form>
                             <div  data-form-segment="Address" data-form-segment-parent="Basic Information" class="form-header d-flex flex-row align-items-center">
                                <h6 class="uppercase medium no-padding no-margin">ADDRESS</h6>
                                <div class="dividerS"></div>
                            </div>
                            <form   action="">
                                <div class="form-group black-text">
                                    <!-- <label for="address"></label>
                                    <div v-if="mode=='VIEW'" class="input-detail border">{{contact.address.label | notAvailable}}</div> -->
                                    <!-- <input v-else v-model="contactaddress.house_number" id="address" type="text" class="form-control"> -->
                                </div>
                                <div v-if="viewMode" class="my-3" style="height:50vh;width:100%">
                                    
                                    <farmer-map :id="contact.id" :farmer="contact"  :coords="contact.geo_coordinate"></farmer-map>
                                </div>
                                <!-- <div class="form-group black-text">
                                    <label for="address">Street</label>
                                    <div v-if="mode=='VIEW'" class="input-detail border">{{contact.address.street | notAvailable}}</div>
                                    <input v-else v-model="address.street" id="address" type="text" class="form-control">
                                </div> -->
                                <div class="form-group black-text">
                                    <label for="city">Landmark description</label>
                                    <nf-input v-model="contact.additional_info.home_landmark" :mode="mMode"/>
                    
                                </div>
                            </form>
                            <div data-form-segment="ID" data-form-segment-parent="Basic Information" class="form-header d-flex flex-row align-items-center">
                                <h6 class="uppercase medium no-padding no-margin">IDs And Images</h6>
                                <div class="dividerS"></div>
                            </div>
                            <form  action="">
                                <div class="form-group black-text">
                                    <label for="address">Photo</label>
                                    <file-uploader :mode="mMode" v-model="contact.additional_info.photo"></file-uploader>
                                </div>
                                <div class="form-group black-text">
                                    <label for="address">ID Type</label>
                                    <nf-input v-if="viewMode" :value="contact.additional_info.id_type" :mode="mMode"/>
                                    <v-select v-else 
                                      :allowOtherValues="false"
                                      :taggable = false
                                      :searchable="false"
                                      :clearable="false"
                                      :orange="false" 
                                      v-model="contact.additional_info.id_type"
                                      :options="idTypes">
                                    </v-select>
                                    <!-- <input v-else v-model="address.house_number" id="address" type="text" class="form-control"> -->
                                </div>
                                <div class="form-group black-text">
                                    <label for="address">Id</label>
                                    <nf-input v-model="contact.additional_info.id_number" :mode="mMode"/>
                                </div>
                                <div class="form-group black-text">
                                    <label for="city">ID Front</label>
                                    <file-uploader :mode="mMode" v-model="contact.additional_info.front_of_id"></file-uploader>
              
                                </div>
                                <div class="form-group black-text">
                                    <label for="city">ID Back</label>
                                    <file-uploader :mode="mMode" v-model="contact.additional_info.back_of_id"></file-uploader>
                                   
                                </div>
                            </form>
                            <form data-form-segment="Family Data" action="">
                                <div class="form-group black-text">
                                    <label for="first-name">No. Of Spouses</label>
                                    <nf-input v-model="contact.additional_info.number_of_spouses" :mode="mMode"/>
                                </div>
                            </form>                           
                            <div class="form-header d-flex flex-row align-items-center">
                                <h6 class="uppercase medium no-padding no-margin">CHILDREN</h6>
                                <div class="dividerS"></div>
                            </div>
                            <form v-if="mMode == 'VIEW' && (!contact.children || contact.children.length == 0)">
                                <div><div class="no-data-box">No Children Data Available</div></div>
                            </form>
                            <form v-else action="">
                                <!-- <template v-for="(age, index) in contact.additional_info.ages_of_children"> -->
                                <!-- <div class="form-group black-text">
                                        <label for="phone">Name</label>
                                        <div v-if="mMode=='VIEW'" class="input-detail border">{{child.name | notAvailable}}</div>
                                        <input v-else v-model="contact.number" id="phone" type="text" class="form-control">
                                </div> -->
                                 <!-- <div class="form-group black-text">
                                        <label for="phone"></label>
                                        <div v-if="mMode=='VIEW'" class="input-detail border">{{contact.additional_info.ages_of_children.join(", ")}}</div>
                                        <input @change="() => console.info(contact.additional_info.ages_of_children)"  v-else v-model="contact.additional_info.ages_of_children" id="phone" type="text" class="form-control">
                                </div> -->
                                <array-input 
                                  title="Children ages (comma separated list)"
                                  :mode="mMode"
                                  v-model="contact.additional_info.ages_of_children"
                                >
                                </array-input>
                                <!-- <div class="form-group black-text">
                                        <label for="phone">No. children</label>
                                        <div v-if="mMode=='VIEW'" class="input-detail border">{{contact.additional_info.ages_of_children.length | notAvailable}}</div>
                                        <input v-else v-model="child.age" id="phone" type="text" class="form-control">
                                </div> -->
                                <!-- </template> -->
                             
                            </form>

                            <!-- neighbours -->
                            <template v-if="mMode == 'VIEW'">
                            <form data-form-segment="Neighbours"  v-if="contact.neighbours && contact.neighbours.length> 0" v-for="(farmer, index) in contact.neighbours">
                              <div v-if="contact.neighbours.length > 1  "  class="pl-0 form-header d-flex flex-row align-items-center">
                                <h6 class="uppercase medium no-padding no-margin">{{(index + 1) | ordinal}} Neighbour</h6>
                                <div class="dividerS"></div>
                              </div>
                              <div class="form-group black-text">
                                    <label for="phone">Name</label>
                                    <nf-input :value="farmer | fullname" mode="VIEW"/>
                              <!-- <input v-model="contact.firstName" id="first-name" type="text" class="form-control"> -->
                              </div>
                              <div class="form-group black-text">
                                      <label for="phone">Age</label>
                                      <nf-input :value="farmer.age" mode="VIEW"/>
                              <!-- <input v-model="contact.firstName" id="first-name" type="text" class="form-control"> -->
                              </div>
                              <div class="form-group black-text">
                                      <label for="phone">Gender</label>
                                      <nf-input :value="farmer.gender" mode="VIEW"/>
                              </div>
                              <div class="form-group black-text">
                                      <label for="phone">Town</label>
                                    <nf-input :value="farmer.town" mode="VIEW"/>
                              </div>
                               <div class="form-group black-text">
                                      <label for="phone">Phone</label>
                                    <nf-input :value="farmer.phone_number" mode="VIEW"/>
                              </div>
                              <!-- <div class="form-group black-text d-flex justify-content-between align-items-center">
                                      <label for="phone">Is Royal Communities Farmer</label>
                                      <checkbox :isChecked="farmer.isRcf" :disabled="true"></checkbox>
                              </div> -->
                            </form>
                            <div v-else class="no-data-box">
                            No Neighbouring farmers
                            </div>
                            </template>
                            <!-- end neighbours -->

                            <!-- caretakers -->
                            <template v-if="mMode == 'VIEW'">
                            <form data-form-segment="Caretakers"  v-if="contact.caretakers && contact.caretakers.length> 0" v-for="(farmer, index) in contact.caretakers">
                              <div v-if="contact.caretakers.length > 1  "  class="pl-0 form-header d-flex flex-row align-items-center">
                                <h6 class="uppercase medium no-padding no-margin">{{(index + 1) | ordinal}} Caretaker</h6>
                                <div class="dividerS"></div>
                              </div>
                              <div class="form-group black-text">
                                      <label for="phone">Name</label>
                                      <nf-input :value="farmer | fullname" mode="VIEW"/>

                              <!-- <input v-model="contact.firstName" id="first-name" type="text" class="form-control"> -->
                              </div>
                              <div class="form-group black-text">
                                      <label for="phone">Age</label>
                                      <nf-input :value="farmer.age" mode="VIEW"/>
                              </div>
                              <div class="form-group black-text">
                                      <label for="phone">Gender</label>
                                      <nf-input :value="farmer.gender" mode="VIEW"/>

                              <!-- <input v-model="contact.firstName" id="first-name" type="text" class="form-control"> -->
                              </div>
                              <div class="form-group black-text">
                                      <label for="phone">Town</label>
                                      <nf-input :value="farmer.town" mode="VIEW"/>

                              <!-- <input v-model="contact.firstName" id="first-name" type="text" class="form-control"> -->
                              </div>
                               <div class="form-group black-text">
                                      <label for="phone">Phone</label>
                                      <nf-input :value="farmer.phone_number" mode="VIEW"/>

                              <!-- <input v-model="contact.firstName" id="first-name" type="text" class="form-control"> -->
                              </div>
                               <div class="form-group black-text">
                                  <label for="phone">Photo</label>
                                  <file-uploader :mode="mMode" v-model="farmer.data.photo"></file-uploader>                                  
                              </div>
                               <div class="form-group black-text">
                                  <label for="phone">Front of ID</label>
                                  <file-uploader :mode="mMode" v-model="farmer.data.front_of_id_photo"></file-uploader>                                  
                              </div>
                               <div class="form-group black-text">
                                  <label for="phone">Back of ID</label>
                                  <file-uploader :mode="mMode" v-model="farmer.data.back_of_id"></file-uploader>                                  
                              </div>
                              <!-- <div class="form-group black-text d-flex justify-content-between align-items-center">
                                      <label for="phone">Is Royal Communities Farmer</label>
                                      <checkbox :isChecked="farmer.isRcf" :disabled="true"></checkbox>
                              </div> -->
                            </form>
                            <div data-form-segment="Caretakers" v-else class="no-data-box">
                            No Caretakers
                            </div>
                            </template>
                            <!-- end caretakers -->
                            <!-- start other info -->
                            <form data-form-segment="Other Info">
                            
                              <div class="form-group black-text">
                                      <!-- <label for="phone">Other Enterprises</label> -->
                                      
                                      <array-input 
                                        title="Other Enterprises"
                                        :mode="mMode"
                                        v-model="contact.additional_info.other_enterprises"
                                      >
                                      </array-input>
                              </div>
                              <array-input 
                                  title="Chemicals Used"
                                  :mode="mMode"
                                  v-model="contact.additional_info.chemicals_used"
                                >
                              </array-input>
                            </form>
                            <!-- end other info -->
                            
                            <!-- start sales info -->
                            <template v-if="viewMode">
                            <form data-form-segment="Sales info" v-if="!contact.additional_info.sales  || contact.additional_info.sales.length == 0">
                              <div  class="no-data-box">
                              No Sales info collected
                              </div>
                            </form>
                            <form v-else data-form-segment="Sales info">
                              <template v-for="sale in contact.additional_info.sales">
                                  <div  class="form-group black-text" >
                                      <label for="first-name">Amount sold last season</label>
                                      <input readonly :value="sale.amount_sold_current_season | amt-unit" id="first-name" type="text" class="form-control">
                                  </div>
                                  <div  class="form-group black-text" >
                                      <label for="first-name">Amount sold to Royal Commodities last season</label>
                                      <input readonly :value="sale.amount_sold_to_royal_commodities_in_current_season | amt-unit" id="first-name" type="text" class="form-control">
                                  </div>
                                  <div  class="form-group black-text" >
                                      <label for="first-name">Amount sold last two seasons</label>
                                      <input readonly :value="sale.amount_sold_in_previous_season | amt-unit" id="first-name" type="text" class="form-control">
                                  </div>
                                  <div  class="form-group black-text" >
                                      <label for="first-name">Buyer( Last two seasons)</label>
                                      <input readonly :value="sale.previous_season_buyer" id="first-name" type="text" class="form-control">
                                  </div>
                                  <div  class="form-group black-text" >
                                      <label for="first-name">Amount sold last three seasons</label>
                                      <input readonly :value="sale.amount_sold_two_seasons_prior | amt-unit" id="first-name" type="text" class="form-control">
                                  </div>
                                  <div  class="form-group black-text" >
                                      <label for="first-name">Buyer( Last three seasons)</label>
                                      <input readonly :value="sale.buyer_two_seasons_prior" id="first-name" type="text" class="form-control">
                                  </div>
                              </template>
                            </form>
                            </template>
                            <!-- end sales info -->
                            <!-- start landowners  -->
                            <form data-form-segment="Landowners" v-if="contact.landowners && mMode == 'VIEW' && contact.landowners.length> 0" v-for="(farmer, index) in contact.landowners">
                              <div v-if="contact.landowners.length > 1"  class="pl-0 form-header d-flex flex-row align-items-center">
                                <h6 class="uppercase medium no-padding no-margin">{{(index + 1) | ordinal}} Landowner</h6>
                                <div class="dividerS"></div>
                              </div>
                              <div class="form-group black-text">
                                      <label for="phone">Name</label>
                                      <nf-input :value="farmer | fullname" :mode="mMode"/>

                              <!-- <input v-model="contact.firstName" id="first-name" type="text" class="form-control"> -->
                              </div>
                              <div class="form-group black-text">
                                      <label for="phone">Age</label>
                                      <nf-input :value="farmer.age " :mode="mMode"/>

                              <!-- <input v-model="contact.firstName" id="first-name" type="text" class="form-control"> -->
                              </div>
                              <div class="form-group black-text">
                                      <label for="phone">Gender</label>
                                      <nf-input :value="farmer.gender" :mode="mMode"/>
                                      

                              <!-- <input v-model="contact.firstName" id="first-name" type="text" class="form-control"> -->
                              </div>
                              <div class="form-group black-text">
                                      <label for="phone">Town</label>
                                      <nf-input :value="farmer.town" :mode="mMode"/>
                              <!-- <input v-model="contact.firstName" id="first-name" type="text" class="form-control"> -->
                              </div>
                               <div class="form-group black-text">
                                      <label for="phone">Phone</label>
                                      <nf-input :value="farmer.phone_number" :mode="mMode"/>
                                     
                              <!-- <input v-model="contact.firstName" id="first-name" type="text" class="form-control"> -->
                              </div>
                               <div class="form-group black-text">
                                  <label for="phone">Photo</label>
                                  <file-uploader :mode="mMode" v-model="farmer.data.photo"></file-uploader>                                  
                              </div>
                               <div class="form-group black-text">
                                  <label for="phone">Front of ID</label>
                                  <file-uploader :mode="mMode" v-model="farmer.data.front_of_id_photo"></file-uploader>                                  
                              </div>
                               <div class="form-group black-text">
                                  <label for="phone">Back of ID</label>
                                  <file-uploader :mode="mMode" v-model="farmer.data.back_of_id_photo"></file-uploader>                                  
                              </div>
                              <!-- <div class="form-group black-text d-flex justify-content-between align-items-center">
                                      <label for="phone">Is Royal Communities Farmer</label>
                                      <checkbox :isChecked="farmer.isRcf" :disabled="true"></checkbox>
                              </div> -->
                            </form>
                            <!-- end landowners -->
                            <!-- start farms -->
                            <template v-if="mMode == 'VIEW'">
                                <div v-if="contact.farms.length == 0" class="p-4 scroll full-height">
                                    <div style="height: 150px; line-height: 150px; padding-left: 50px; background: #f7f7f7;">No Farm Information Available</div>
                                </div>
                                <template v-else>
                                <div :data-form-segment="contact.farms.length > 1 ? `Farm ${index + 1} Data` : 'Farm Data'" v-for="(farm, index) in contact.farms" class="p-4">
                                    <!-- <div class="form-group black-text">roll full-height">
                                    <!-- <div class="form-group black-text">
                                        <label for="first-name">Location</label>
                                        <div class="input-detail border">{{contact.additional_info.location | notAvailable}}</div>
                                        <input v-model="contact.firstName" id="first-name" type="text" class="form-control">
                                    </div> -->
                                    
                                
                                    <div class="form-group black-text">
                                        <label for="first-name">Farm Size</label>
                                        <nf-input :value="farm.size | farm-size" :mode="mMode"/>
                                        
                                        <!-- <input v-model="contact.firstName" id="first-name" type="text" class="form-control"> -->
                                    </div>
                                    <div class="form-group black-text">
                                        <!-- <label for="first-name">Crops Grown</label> -->
                                        <array-input 
                                            title="Crops Grown"
                                            :mode="mMode"
                                            v-model="farm.data.crops_grown"
                                          >
                                        </array-input>
                                       
                                    </div>

                                    <div class="my-3" style="height:50vh;width:100%">
                                        <farmer-map :id="farm.id" :farmer="contact"  :bounds="farm.farm_bounds"></farmer-map>
                                    </div>
                                    <!-- <div class="form-group black-text" v-if="farm.geo_coordinate">
                                        <label for="first-name">Coordinates</label>
                                        <div v-if="mMode=='VIEW'" class="input-detail border">{{farm.geo_coordinate.lat | notAvailable}} {{farm.geo_coordinate.lng | notAvailable}}</div>
                                        <input v-else-if="mMode=='EDIT'" v-model="farm.geo_coordinate.lat" type="text" class="form-control">
                                        <input v-else-if="mMode=='EDIT'"  v-model="farm.geo_coordinate.lng" type="text" class="form-control">
                                    </div> -->
                                    <!-- <div data-form-segment="Trade History" class="p-0 form-header d-flex flex-row align-items-center">
                                        <h6 class="uppercase medium no-padding no-margin">Trade History</h6>
                                        <div class="dividerS"></div>
                                    </div>    -->
                                    <template v-for="crop in 0"> 
                                      <!-- <div data-form-segement="trade-history"  class="form-group black-text" >
                                        <label for="first-name">Amount sold last season</label>
                                        <div v-if="mMode=='VIEW'" class="input-detail border">
                                          {{crop.amount_sold_last_season | amt-unit | notAvailable}}
                                        </div>
                                        <input v-else v-model="contact.first_name" id="first-name" type="text" class="form-control">
                                    </div> -->
                                    <!-- <div class="form-group black-text">
                                        <label for="first-name">Main Buyer</label>
                                        <div v-if="mMode=='VIEW'" class="input-detail border">{{crop.amount_sold_last_season.buyer | buyer(buyers) | notAvailable}}</div> -->
                                        <!-- <input v-else v-model="contact.first_name" id="first-name" type="text" class="form-control"> -->
                                    <!-- </div> -->
                                    <!-- <div class="form-group black-text">
                                        <label for="first-name">Amount sold to Royal Commodities</label>
                                        <div v-if="mMode=='VIEW'" class="input-detail border">{{crop.amount_sold_to_royal_commodities_last_season | amt-unit | notAvailable}}</div>
                                        <input v-else v-model="contact.first_name" id="first-name" type="text" class="form-control">
                                    </div> -->
                                    <!-- <div class="form-group black-text">
                                        <label for="first-name">Amount sold last two seasons</label>
                                        <div v-if="mMode=='VIEW'" class="input-detail border">{{crop.amount_sold_two_seasons_ago | amt-unit | notAvailable}}</div>
                                        <input v-else v-model="contact.first_name" id="first-name" type="text" class="form-control">
                                    </div> -->
                                    <!-- <div class="form-group black-text">
                                        <label for="first-name">Main Buyer</label>
                                        <div v-if="mMode=='VIEW'" class="input-detail border">{{crop.buyer_two_seasons_ago | notAvailable}}</div>
                                        <input v-else v-model="contact.first_name" id="first-name" type="text" class="form-control">
                                    </div> -->
                                    <!-- <div class="form-group black-text">
                                        <label for="first-name">Amount sold last three seasons</label>
                                        <div v-if="mMode=='VIEW'" class="input-detail border">{{crop.amount_sold_three_seasons_ago | notAvailable}}</div>
                                        <input v-else v-model="contact.first_name" id="first-name" type="text" class="form-control">
                                    </div> -->
                                    <!-- <div class="form-group black-text">
                                        <label for="first-name">Main Buyer</label>
                                        <div v-if="mMode=='VIEW'" class="input-detail border">{{crop.buyer_three_seasons_ago | notAvailable}}</div>
                                        <input v-else v-model="contact.first_name" id="first-name" type="text" class="form-control">
                                    </div> -->
                                    </template>
                                    <template v-if="false" >
                                      <div data-form-segment="Landowner"  class="p-0 form-header d-flex flex-row align-items-center">
                                        <h6 class="uppercase medium no-padding no-margin">Landowner</h6>
                                        <div class="dividerS"></div>
                                    </div>
                                    <div class="form-group black-text">
                                        <label for="first-name">Firstname</label>
                                        <nf-input :value="farm.landowner.first_name" :mode="mMode"/>
                                        
                                        <!-- <input v-model="contact.firstName" id="first-name" type="text" class="form-control"> -->
                                    </div>
                                    <div class="form-group black-text">
                                        <label for="first-name">Lastname</label>
                                        <nf-input :value="farm.landowner.surname" :mode="mMode"/>
                                        
                                        <!-- <input v-model="contact.firstName" id="first-name" type="text" class="form-control"> -->
                                    </div>
                                    <div class="form-group black-text">
                                        <label for="first-name">Phone</label>
                                        <nf-input :value="farm.landowner.number" :mode="mMode"/>
                                      
                                        <!-- <input v-model="contact.firstName" id="first-name" type="text" class="form-control"> -->
                                    </div>
                                    <div class="form-group black-text">
                                        <label for="first-name">Town</label>
                                        <nf-input :value="farm.landowner.town" :mode="mMode"/>
                                        
                                        <!-- <input v-model="contact.firstName" id="first-name" type="text" class="form-control"> -->
                                    </div>
                                    <div class="form-group black-text">
                                            <label for="city">Photo</label>
                                            <div v-if="mMode=='VIEW'" class="input-detail-img">
                                              <img v-if="farm.landowner.photo" class='id-pic' :src="farm.landowner.photo | img">
                                              <img v-else style="width: 100px;" src="@/assets/img/no_image.svg">
                                            </div>
                                            <!-- <input v-else v-model="address.description" id="city" type="text" class="form-control"> -->
                                        </div>
                                      <div class="form-group black-text">
                                            <label for="city">ID Front</label>
                                            <div v-if="mMode=='VIEW'" class="input-detail-img">
                                              <img v-if="farm.landowner.id_front" class='id-pic' :src="farm.landowner.id_front | img">
                                              <img v-else style="width: 100px;" src="@/assets/img/no_image.svg">
                                            </div>
                                            <!-- <input v-else v-model="address.description" id="city" type="text" class="form-control"> -->
                                        </div>
                                      <div class="form-group black-text">
                                            <label for="city">ID Back</label>
                                            <div v-if="mMode=='VIEW'" class="input-detail-img">
                                              <img v-if="farm.landowner.id_back" class='id-pic' :src="farm.landowner.id_back | img">
                                              <img v-else style="width: 100px;" src="@/assets/img/no_image.svg">
                                            </div>
                                            <!-- <input v-else v-model="address.description" id="city" type="text" class="form-control"> -->
                                        </div>
                                      <div class="form-group black-text">
                                            <label for="city">ID Type</label>
                                            <nf-input :value="farm.landowner.id_type" :mode="mMode"/>
                                            <!-- <input v-else v-model="address.description" id="city" type="text" class="form-control"> -->
                                        </div>
                                    </template>
                                      <!-- <div data-form-segment="Caretakers" class="p-0 form-header d-flex flex-row align-items-center">
                                        <h6 class="uppercase medium no-padding no-margin">Caretakers</h6>
                                        <div class="dividerS"></div>
                                    </div> -->
                                        
                                    <template v-if="false"  v-for="(caretaker, index_two) in farm.caretakers">
                                      <div class="form-group black-text">
                                        <label v-if="index_two > 0" for="first-name">Other Caretakers</label>
                                    </div>    
                                    <div class="form-group black-text">
                                        <label for="first-name">Firstname</label>
                                        <nf-input :value="caretaker.first_name" :mode="mMode"/>
                                        
                                        <!-- <input v-model="contact.firstName" id="first-name" type="text" class="form-control"> -->
                                    </div>
                                    <div class="form-group black-text">
                                        <label for="first-name">Lastname</label>
                                        <nf-input :value="caretaker.surname" :mode="mMode"/>
                                        
                                        <!-- <input v-model="contact.firstName" id="first-name" type="text" class="form-control"> -->
                                    </div>
                                    <div class="form-group black-text">
                                        <label for="first-name">Phone</label>
                                        <nf-input :value="caretaker.number" :mode="mMode"/>
                                        
                                        <!-- <input v-model="contact.firstName" id="first-name" type="text" class="form-control"> -->
                                    </div>
                                    <div class="form-group black-text">
                                        <label for="first-name">Town</label>
                                        <nf-input :value="caretaker.town" :mode="mMode"/>
                                       
                                        <!-- <input v-model="contact.firstName" id="first-name" type="text" class="form-control"> -->
                                    </div>
                                    <div class="form-group black-text">
                                            <label for="city">Photo</label>
                                            <div v-if="mMode=='VIEW'" class="input-detail-img">
                                              <img v-if="caretaker.photo" class='id-pic' :src="caretaker.photo | img">
                                              <img v-else style="width: 100px;" src="@/assets/img/no_image.svg">
                                            </div>
                                            <!-- <input v-else v-model="address.description" id="city" type="text" class="form-control"> -->
                                        </div>
                                      <div class="form-group black-text">
                                            <label for="city">ID Front</label>
                                            <div v-if="mMode=='VIEW'" class="input-detail-img">
                                              <img v-if="caretaker.id_front" class='id-pic' :src="caretaker.id_front | img">
                                              <img v-else style="width: 100px;" src="@/assets/img/no_image.svg">
                                            </div>
                                            <!-- <input v-else v-model="address.description" id="city" type="text" class="form-control"> -->
                                        </div>
                                      <div class="form-group black-text">
                                            <label for="city">ID Back</label>
                                            <div v-if="mMode=='VIEW'" class="input-detail-img">
                                              <img v-if="caretaker.id_back" class='id-pic' :src="caretaker.id_back | img">
                                              <img v-else style="width: 100px;" src="@/assets/img/no_image.svg">
                                            </div>
                                            <!-- <input v-else v-model="address.description" id="city" type="text" class="form-control"> -->
                                        </div>
                                      <div class="form-group black-text">
                                            <label for="city">ID Type</label>
                                            <nf-input :value="caretaker.id_type" :mode="mMode"/>
                                            <!-- <input v-else v-model="address.description" id="city" type="text" class="form-control"> -->
                                        </div>
                                    </template>
                              
                  
                                        
                                        
                                  
                                </div>
                                </template>
                            </template>
                           <!-- end farms -->
                        </div>
                    </div>

                    
  

                </div>
                
            </div>
        </div>
        <div v-if="true" class="row text-right" id="button-panel">
            <button @click="close" v-if="mMode == 'VIEW'" class="btn">Close</button>
            <button v-else  @click="cancel" class="btn">Cancel</button>
            <button :disabled="Not " v-if="mMode=='EDIT'" @click="save" class="btn orange">
              <template v-if="saving">
                <img :class="[{show: saving}, 'loading-img']" src="@/assets/img/spinner.svg">
                Saving
              </template>
              <template v-else>
                Save
              </template>
            </button>
            <button v-else  @click="edit" class="btn orange">Edit</button>
            <!-- <button tooltip="Please edit current tab information with mobile app" disabled v-else @click="edit" class="btn orange disabled">Edit</button> -->
        </div>
        <div v-else class="row text-right" id="button-panel">      
            <button @click="cancel" class="btn orange">OK</button>
        </div>
    </div>

  </div>
</template>

<script>
import LoanApprovedStatus from './originate/LoanApprovedStatus.vue';
import LoanCanApproveStatus from './originate/LoanCanApproveStatus.vue';
import LoanCantApproveStatus from './originate/LoanCantApproveStatus.vue';
import LoanDisbursement from './originate/LoanDisbursement.vue';
import * as events from '@/utils/constants/events';
import Contact from '@/models/Contact';
import axios from 'axios';
import * as types from '@/store/mutation-types';
import { CURRENT_URL, CURRENT_URLv2 } from '../utils/Constants.js';
import fakeIdImg from '@/assets/img/img.jpg';
// import {mapGetters} from 'vuex'

import Utils from '@/utils/Utils';
import RejectFarmerPopover from './farmer-approval/RejectFarmerPopover.vue';
import { mapGetters } from 'vuex';
export default {
  name: 'ContactFarmerDetails',
  components: {
    'reject-farmer-popover': RejectFarmerPopover,
    'loan-can-approve-status': LoanCanApproveStatus,
    'loan-cant-approve-status': LoanCantApproveStatus,
    'loan-disbursement': LoanDisbursement
  },
  computed: {
    viewMode () {
      return this.mMode == 'VIEW';
    },
    editMode () {
      return this.mMode == 'EDIT';
    },
    filteredMenuItems () {
      if (this.mMode == 'VIEW') {
        return this.menuItems
      } else {
        return this.menuItems.filter(el => {
          return ['Basic Information', 'Family Data', 'Other Info'].includes(
            el.name
          )
        })
      }
    },
    showEditButton () {
      if (
        ['Basic Information', 'Family Data', 'Other Info'].includes(
          this.selectedItem
        )
      ) {
        return true
      }
      return false
    },
    registrationInfo () {
      let contact = this.contact
      let date = this.$moment(contact.updated_at).format('Do MMMM, YY')
      let info = `Registered data last updated ${date}`
      if (contact.updated_by) {
        info = `${info}<br>By ${contact.updated_by}`
      }
      return info
    },
    ...mapGetters({
      regions: 'regions',
      soceities: 'soceities',
      buyers: 'buyers',
      providers: 'providers',
      idTypes: 'idTypes'
    })
  },
  props: {
    display: null,
    forApproval: null,
    contactProp: null,
    id: {
      type: String,
      default: 'farmer-details'
    },
    mode: 'ADD'
  },
  mounted () {
    $('[data-toggle="popover"]').popover()
    // this.$bus.$on('accordionParentItemSelected', this.switchItem)
    this.$bus.$on('accordionMenu:ItemSelectedcfd', this.menuItemSelected)
    this.$bus.$on(`nfScrollspy:changedfmd`, this.onScollToSegment)
  },
  beforeDestroy () {
    // this.$bus.$off('accordionParentItemSelected', this.switchItem)
    this.$bus.$off('accordionMenu:ItemSelectedcfd', this.menuItemSelected)
    this.$bus.$off(`nfScrollspy:changedfmd`, this.onScollToSegment)
  },
  data () {
    return {
      approvingFarmer: false,
      rejectingFarmer: false,
      reason: '',
      drawMap: false,
      mMode: 'VIEW',
      contact: new Contact({}),
      menuItems: [
        {
          name: 'Basic Information',
          children: [
            { name: 'Contact Details', key: 'c_details' },
            { name: 'Farmer Grouping' },
            { name: 'Address' },
            { name: 'ID' }
          ]
        },
        // {name: "Farmer Status"},
        { name: 'Family Data' },
        { name: 'Neighbours' },
        { name: 'Caretakers' },
        { name: 'Other Info' },
        { name: 'Sales info' }
      ],
      selectedItem: null,
      activeMenuItem: { key: 'Basic Information' },
      currentTab: 'BASIC INFORMATION',
      reason: null,
      saving: false
    }
  },
  created () {
    if (this.contactProp) {
      console.info('prop', this.contactProp)
      this.contact = Utils.cloneObject(this.contactProp)
      this.initContact()
    }
  },
  watch: {
    contactProp (newContact, oldContact) {
      if (newContact) {
        this.contact = Utils.cloneObject(newContact)
        this.initContact()
      }
    }
  },
  methods: {
    setChildrenAges (event) {
      this.contact.additional_info.ages_of_children = event.target.value
        .split(',')
        .map(el => el.trim())
    },
    onScollToSegment ({ key, parent }) {
      this.activeMenuItem = { key: key }
      this.currentTab = parent || key;
      // this.currentTab = this.menuItems.find(el => {
      //   let key = el.key || el.name
      //   return key == segment
      // })
      // this.currentTab = currentTab.name
    },
    initContact () {
      let contact = this.contact
      let farmMenuItems = this.menuItems.filter(
        e => e.name.startsWith('Farm ') || e.name.startsWith('Land')
      )

      farmMenuItems.forEach(f =>
        this.menuItems.splice(
          this.menuItems.findIndex(e => e.name === f.name),
          1
        )
      )
      if (Utils.present(contact.landowners)) {
        this.menuItems.push({ name: 'Landowners' })
      }
      if (Array.isArray(contact.farms)) {
        let farms = contact.farms
        for (let i = 0; i < farms.length; i++) {
          let farm = farms[i]
          let farmMenuItem = {
            name: farms.length > 1 ? `Farm ${i + 1} Data` : 'Farm Data',
            children: [
              // {name: "Trade History"},
              // {name: "Caretakers"}
            ]
          }

          // farmMenuItem.children.push({name: "Caretakers"})
          this.menuItems.push(farmMenuItem)
        }
        if (farms.length == 0) {
          this.menuItems.push({ name: 'Farm Data' })
        }
      }
    },
    addPhoneNumber () {
      this.contact.contacts.push({
        number: '',
        is_momo: '',
        verified: '',
        carrier: '',
        type: 'phone'
      })
    },
    approveFarmer () {
      if (this.approvingFarmer) {
        return
      }
      this.approvingFarmer = true
      this.$store
        .dispatch('approveFarmer', this.contact.id)
        .then(
          () => {
            this.contact.status = 'active';
            this.$notify.success('Farmer Approved')
            $('[data-toggle="popover"]').popover('hide')
          },
          error => {
            this.$notify.success('failed to approve farmer')
          }
        )
        .finally(() => {
          this.approvingFarmer = false
        })
    },
    rejectFarmer () {
      if (this.rejectingFarmer) {
        return
      }
      this.rejectingFarmer = true
      let url = `${CURRENT_URL}farmers/reject`
      axios
        .post(url, { id: this.contact.id, reason: this.reason })
        .then(
          () => {
            let contact = this.$store.getters.currentContact
            contact = Utils.cloneObject(contact)
            contact.reason = this.reason
            contact.status = 'rejected';
            contact.updated_at = Date.now()
            contact.rejected_by = this.$store.getters.user.name
            this.$store.commit(types.RECEIVE_CONTACT, contact)
            this.contact.status = 'rejected';
            this.$notify.success('Operation Successful')
          },
          error => {
            this.$notify.success('Operation Failed')
          }
        )
        .finally(() => {
          this.rejectingFarmer = false
        })
    },
    menuItemSelected (menuItem) {
      this.currentTab = menuItem.parent ? menuItem.parentName : menuItem.name
      this.scrollToSegment({ segment: menuItem.source })
    },
    switchItem ({ menuItem, isSource, wasActive }) {
      this.selectedItem = menuItem
      let $this = window.$(this.$el)
      // alert(this.selectedItem)
      // let $tab = $this.find(`#${this.selectedItem}`);
      // alert()
      let $tab = $this.find(`div[data-nf-tab='${this.selectedItem}']`)
      $tab.siblings().addClass('none')
      $tab.siblings().removeClass('block')
      $tab.removeClass('none')
      $tab.addClass('block')
    },
    save () {
      if (this.saving) {
        return
      }
      this.saving = true
      let url = `${CURRENT_URLv2}farmers/${this.contact.id}`
      // this.contact.farm_size = this.contact.farm_size.trim().split(/\s+/)[0].toLowerCase();
      // this.contact.name = `${this.contact.first_name} ${this.contact.other_names} ${this.contact.surname}`
      let params = Contact.getSaveModel(this.contact)
      axios.put(url, params).then(
        data => {
          this.saving = false
          this.$notify.success('Farmer Updated')
          this.close()
        },
        error => {
          this.saving = false
          this.mMode = 'EDIT';
          this.$notify.error(error.error)
        }
      )
    },
    edit () {
      this.mMode = 'EDIT';
      let contact = this.contact
      if (this.contact.addresses.length < 1) {
        this.contact.addresses.push({
          description: '',
          house_no: '',
          street: ''
        })
      }
      if (this.contact.contacts.length < 1) {
        this.contact.contacts.push({
          number: '',
          is_momo: '',
          verified: '',
          carrier: '',
          primary: true
        })
      }
      if (contact.contacts.findIndex(el => el.primary == true) == -1) {
        contact.contacts[0].primary = true
      }
      contact.contacts.sort((a, b) => a.primary == true)
    },
    cancel () {
      this.mMode = 'VIEW';
    },
    close () {
      this.mMode = 'VIEW';
      let $this = window.$(this.$el)
      window.dd = $this
      this.$bus.$emit(events.SHOW_OVERLAY, false)
      this.$bus.$off(events.CLOSING_OVERLAY)
      // alert()
      $this.find('.slide-panel').removeClass('open')
      window.$('.newContactDisplay.active').removeClass('active')
      // reset to uneditted contact before closing
      // this.contact = Utils.cloneObject(this.contactProp)
    },
    scrollToSegment ({ segment, animate }) {
      // alert()
      if (animate !== false) {
        animate = true
      }
      let $this = $(this.$el)
      let $tab = $this.find(`div[data-nf-tab='b_info'] > .scroll`)
      if ($tab.length == 0) {
        return
      }
      $tab.data('ignore-scroll', true)
      // if no segment scroll to top

      if (!segment) {
        if (animate) {
          // alert()
          $tab.animate(
            {
              scrollTop: 0
            },
            () => $tab.data('ignore-scroll', false)
          )
        } else {
          $tab.scrollTop(0)
          setTimeout(() => $tab.data('ignore-scroll', false), 1000)
        }
        return
      }
      // alert()
      let $formSegment = $tab.find(`[data-form-segment='${segment}']`)
      console.info('al', $formSegment, segment)
      let currentOffset = $tab.scrollTop()
      let offset = $formSegment.offset().top - $tab.offset().top
      let newOffset = offset + currentOffset
      console.info('dir', 'dd', $tab.data('ignore-scroll'))
      $tab.animate(
        {
          scrollTop: newOffset
        },
        () => {
          $tab.data('ignore-scroll', false)
        }
      )
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
.farmer-details {
  .approval-button {
    .approval-button-img-container {
      display: inline-block;
      width: 60px;
      text-align: center;
    }
    min-width: 38px;
    img {
      filter: invert(0.98);
      margin-right: 0;
      width: 20px;
      height: 20px;
    }
  }

  .slider {
    h5 {
      font-size: 14px;
      line-height: 8vh;
    }

    // #button-panel{
    //     height: 10vh;
    // }

    button {
      height: 30px;
      padding: 0 10px;
      line-height: 20px;
      font-size: 14px;
    }
  }
  input,
  .input-detail {
    font-size: 12px;
    font-family: "GothamBook", sans-serif;
    padding-left: 10px;
    line-height: 30px;
  }
  .dividerS {
    margin: 0px 20px;
  }
  .input-detail {
    height: 30px;
    width: 100%;
  }
  .input-detail-img {
    width: 50%;
    height: auto;
  }
  .fade-in {
    transition: all 0.2s ease-in;
  }
  .none {
    display: none;
  }
  .block {
    display: block;
  }
  .mapboxgl-canvas {
    width: 100% !important;
    height: 100% !important;
  }
}
.no-data-box {
  background: #f7f7f7;
  padding-left: 18px;
  height: 60px;
  line-height: 60px;
}
.id-pic {
  width: 200px;
  height: auto;
}
.loan-status {
  & > * {
    margin-right: 10px;
  }
}
.loans-tooltip {
  display: block !important;
  z-index: 10000;

  .loans-tooltip-inner {
    border-radius: 3px;
    padding: 10px;
    background: white;
    color: black;
    border: 1px solid #a9acad;
    font-size: 12px;
    top: 5px;

    button {
      padding: 5px 20px;
      border-radius: 3px;
      text-transform: uppercase;
      width: 100%;
      &.blue-button {
        color: white;
        background: #50c7ff;
      }
      &.grey-button {
        color: white;
        background: #b0b4b6;
        cursor: not-allowed;
      }
    }
    .content {
      .status {
        text-transform: uppercase;
        color: #717272;
        font-size: 10px;
      }
    }
  }

  .loans-tooltip-inner:before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -9px;
    width: 0;
    height: 0;
    border-bottom: 9px solid #6d6d6d;
    border-right: 9px solid transparent;
    border-left: 9px solid transparent;
  }
  .loans-tooltip-inner:after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -8px;
    width: 0;
    height: 0;
    border-bottom: 8px solid #ffffff;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
  }

  //   .tooltip-arrow {
  //     width: 0;
  //     height: 0;
  //     border-style: solid;
  //     position: absolute;
  //     margin: 5px;
  //     border: 1px solid #777777;
  //     border-color: #acacac;

  //   }

  &[x-placement^="top"] {
    margin-bottom: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 0 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      bottom: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="bottom"] {
    margin-top: 5px;

    .tooltip-arrow {
      border-width: 0 5px 5px 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
      top: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="right"] {
    margin-left: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 5px 0;
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      left: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[x-placement^="left"] {
    margin-right: 5px;

    .tooltip-arrow {
      border-width: 5px 0 5px 5px;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      right: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[aria-hidden="true"] {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.15s, visibility 0.15s;
  }

  &[aria-hidden="false"] {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.15s;
  }
}
#reject-button {
  h4,
  p {
    font-size: 12px;
  }

  .dropdown-menu {
    margin-top: 10px;
    &::before {
      content: "";
      position: absolute;
      top: -10px;
      right: 10%;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;

      border-bottom: 10px solid black;
    }
    &::after {
      content: "";
      position: absolute;
      top: -10px;
      right: 10%;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;

      border-bottom: 10px solid white;
    }
  }
  textarea {
    height: 100px;
  }
  #rejectButton {
    background: #50c7ff !important;
  }
}
</style>
