<template>
  <div class="full-height position-relative">
    <div v-if="contactsViewState == 'LOADING'" class="full-height row justify-content-center align-items-center">
        <div><img style="width: 30px; height: 30px;" src="@/assets/img/rolling_anim.svg"/></div>
    </div>
    <div v-else-if="contactsViewState == 'ERROR'" class="full-height d-flex flex-column justify-content-center align-items-center">
        <div>Failed to fetch contacts</div>
        <button @click="fetchContacts" class="retry-btn">Retry</button>
    </div>
    <template v-else>
    <div class="contact-table table-div">
      <table class="table-header full-width">
          <thead class="position-relative">
              <on-checked-menu v-if="showCheckedMenu"></on-checked-menu>
              <tr>
                <th class="padding-ten">
                    <checkbox @checked="allItemsChecked = true"  id="-2"></checkbox>
                 </th>
                <th></th>
                <!-- <th></th> -->
                <th class="name">farmer NAME</th>
                <th v-for="column in columns.slice(0, 4)" :class="column.class">{{column.header}}</th>
                <th class="edit-icon"><button class="button-s" data-toggle='modal' data-target="#myModal"><img style="width: 14px;height: 14px" src="../assets/img/Asset 8.svg" alt=""></button></th>
              </tr>
            </thead>
      </table>
       <div v-if="sortedContacts.length>0" class="table-content"  v-infinite-scroll="loadMore"
         infinite-scroll-disabled="loadingContacts"
      > 
        <table class="table position-relative flex-fill-parent">
            <!-- <loading-indicator style="top: 50%;left: 50%; position: absolute;"></loading-indicator> -->
            
            <tbody class="round-book">
                <!-- <tr>
                  <td colspan="8">
                    <img src="@/assets/img/facebookloading.svg" />
                  </td>
                </tr> -->
                <tr  v-for="contact in sortedContacts">
                  <td class="padding-ten"> <checkbox @checked="itemChecked" :id="contact.id"></checkbox></td>
                  <td>
                    <avatar v-if="false" :src="contact.photo | img" v-bind:username="contact.name"></avatar>
                    <avatar v-else v-bind:username="contact.name"></avatar>
                    </td>
                  <td class="primary name" @click="showDetailView(contact)">{{contact.name | name}}</td>
                  <td v-for="column in columns.slice(0, 4)" :class="column.class">
                    <template v-if="column.dataField == 'status'">
                      {{contact[column.dataField] | farmerStatus | notAvailable}}
                    </template>
                    <template v-else>
                      {{contact[column.dataField] | notAvailable}}
                    </template>
                  </td>

                  <!-- <td class="dropdown table-menu">
                      <div class="contact-mini-menu">
                          <button id="dis" class="trans" type="button" ><img src="../assets/img/mail.svg" alt=""></button>
                          <button @click="editContact(contact)" id="edit-contact" class="trans" type="button" ><img src="../assets/img/edit (2).svg" alt=""></button>
                          <button class="contact-drop dropdown-toggle" type="button" data-toggle="dropdown"><img src="../assets/img/more.svg" alt=""></button>
                          <ul class="dropdown-menu dropdown-menu-right black-text" style="z-index: 50; padding-left: 15px;overflow:hidden">
                              <li><a style="font-size: 12px;" class="black-text" href="#"><img style="width: 16px;margin-right: 10px;" src="../assets/img/two-contacts.png" alt="">Merge</a></li>
                              <li><a style="font-size: 12px;" class="black-text" href="#"><img style="width: 16px;margin-right: 10px" src="../assets/img/adaptation.png" alt="">Re-assign</a></li>
                              <li class="divider"></li>
                              <li><a style="font-size: 12px;" class="black-text" href="#"><img style="width: 16px;margin-right: 10px" src="../assets/img/garbage.png" alt="">Delete</a></li>
                          </ul>
                      </div>
                      
                  </td> -->
                  <td class="dropdown table-menu actions">
                    <v-popover  placement="left" trigger="hover"
                    popoverInnerClass="agents-table-tooltip-inner agents-table-popover-inner"
                    popoverBaseClass="agents-table-tooltip agents-table-popover"
                    offset="-80"
                    >
                    <button class="tooltip-target agent-drop dropdown-toggle" type="button">
                        <img src="../assets/img/more.svg" alt="">
                    </button>
                    <template slot="popover">

                      <!-- <div class="agent-mini-menu">
                          <button  id="dis" class="trans" type="button">
                              <img src="../assets/img/mail.svg" alt=""></button>
                          <button @click="editAgent(agent)"  class="trans agent-edit" type="button"> <img src="../assets/img/edit (2).svg" alt=""></button>
                          <button class="agent-drop" type="button" data-toggle="dropdown">
                              <img src="../assets/img/more.svg" alt="">
                          </button>
                          <ul class="dropdown-menu dropdown-menu-right">
                              <li><a class="black-text full-width full-height" href="#"><img src="../assets/img/two-contacts.png" alt="">Merge</a></li>
                              <li><a class="black-text full-width full-height" href="#"><img src="../assets/img/adaptation.png" alt="">Re-assign</a></li>
                              <li class="divider"></li>
                              <li><a class="black-text full-width full-height" href="#"><img src="../assets/img/garbage.png" alt="">Delete</a></li>
                          </ul>
                      </div> -->

                      
                      <div class="contact-mini-menu agent-mini-menu ">
                          <button @click="deleteContact(contact.id)" id="dis" class="trans" type="button" ><img src="../assets/img/garbage.svg" alt=""></button>
                          <button @click="editContact(contact)" id="edit-contact" class="trans disabled" type="button" ><img src="../assets/img/edit (2).svg" alt=""></button>
                          <button class="contact-drop" type="button" data-toggle="dropdown"><img src="../assets/img/more.svg" alt=""></button>
                          <!-- <ul class="dropdown-menu dropdown-menu-right black-text" style="z-index: 50; padding-left: 15px;overflow:hidden">
                              <li><a style="font-size: 12px;" class="black-text" href="#"><img style="width: 16px;margin-right: 10px;" src="../assets/img/two-contacts.png" alt="">Merge</a></li>
                              <li><a style="font-size: 12px;" class="black-text" href="#"><img style="width: 16px;margin-right: 10px" src="../assets/img/adaptation.png" alt="">Re-assign</a></li>
                              <li class="divider"></li>
                              <li><a style="font-size: 12px;" class="black-text" href="#"><img style="width: 16px;margin-right: 10px" src="../assets/img/garbage.png" alt="">Delete</a></li>
                          </ul> -->
                      </div>
                      </template>
                    </v-popover>
                        <!-- <contact-farmer-details :id="`farmer-details-${contact.id}`" :contactProp="contact" display="none"></contact-farmer-details>  -->
                        <alert-box :sectorId="contact.id" message="Are you sure you want to delete this contact?" 
                         submit="Delete" cancel="Cancel" :id="`contact-delete-${contact.id}`"></alert-box>
                  </td>
                </tr>
                
            </tbody>
        </table>
      </div>
      <div style="height:100%" v-else class="d-flex flex-row justify-content-center align-items-center">
        <h6>No contacts to show</h6>
        
      </div>
        
    </div>
    <div class="tfoot d-flex flex-row justify-content-between align-items-center">
            <p v-if="sortedContacts.length > 0">Showing {{sortedContacts.length}} of {{contactsMeta.TotalFilteredRecords}} Contacts</p>
            <p v-else>No Contacts</p>
            <p>Total Contacts - {{contactsMeta.TotalRecords}}</p>
    </div>
    </template>
    <div class="modal fade choose-columns-modal" tabindex="-1" id='myModal' role='dialog'>
        <div class="modal-dialog"> 
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Choose your columns</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">

                    <form class="form-horizontal">
                        <div class="form-group">
                            <select @change="reArrangeColumns(index, $event)" v-for="(column, index) in columns.slice(0, 4)" class="form-control" name='' id='selectR5'>
                                <option :value="index2" :selected="index == index2"  v-for="(column2, index2) in columns">{{column2.header}}</option>
                            </select>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <!-- <button  type='button' class="btn btn-default" data-dismiss='modal'>Close</button> -->
                </div>
            </div>
        </div>
    </div>
    <add-edit-contact mode="EDIT" :contactProp="contactToBeEditted" display="none"></add-edit-contact>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import * as events from "../utils/constants/events.js";
import { ASCENDING, DESCENDING } from "../utils/Constants.js";
import { SURNAME, FIRSTNAME,CURRENT_URL } from "../utils/Constants.js";
import Utils from "../utils/Utils.js";
import * as types from '@/store/mutation-types'
import axios from 'axios'
import { ADD_CONTACTS_FILTER, ADD_CONTACTS_FILTER_VALUE } from '../store/mutation-types.js';

export default {
  name: "ContactTable",
  mounted() {
    this.init();
    window.$("#checkAll").click(function() {
      window
        .$(".checked")
        .not(this)
        .prop("checked", this.checked);
    });
    // this.$bus.$on('contact_search_updated', this.searchText)
    // console.log("HASOWNPROP",this.sortedContacts.msisdn)
    // contact = this.contacts.find(el => el.farms.length > 0)
    // alert(contact.first_name)
  },
  filters: {
    notAvailable: function (value) {
      if (!value) return 'N/A'
      value = value.toString()
      return value.charAt(0).toUpperCase() + value.slice(1)
    },
    farmerStatus: function (status) {
      if(!status){
        return
      }
      switch (status.toLowerCase()) {
        case 'active':
          return 'Approved'
        case 'unapproved':
          return 'pending'  
        default:
          return status;
      }
    }
  },
  computed: {
    ...mapGetters({
      contactsMeta: "contactsMeta",
      contacts: 'contacts',
      contactsViewState: 'contactsViewState'
    }),
    firstRecord() {
      return this.page - 1 * this.perPage + 1;
    },
    sortedContacts() {
      if (this.sortParameter.parameter) {
        let sortAttribute = "";
        let order = this.sortParameter.order;
        switch (this.sortParameter.parameter) {
          case SURNAME:
            sortAttribute = "lastName";
            break;
          case FIRSTNAME:
            sortAttribute = "firstName";
            break;
          default:
        }

        return this.contacts.sort((a, b) => {
          return Utils.ascendingDescendingSort(a, b, sortAttribute, order);
        });
      } else {
        return this.contacts;
      }
    }
  },
  data() {
    return {
      contactToBeEditted: null,
      isChecked: false,
      showCheckedMenu: false,
      checkedContacts: [],
      count: 0,
      sortParameter: {
        parameter: null,
        order: null
      },
      checkedItemsCount: 0,
      loadingContacts: false,
      firstInfiniteLoaderCall: true,
      columns: [
        { header: "ID", dataField: "code", class: "branch" },
        { header: "SOCIETY", dataField: "society_name", class: "phone"},
        //{ header: "FARM SIZE", dataField: "farm_size", class: "branch" },
        { header: "REGION", dataField: "region", class:"branch"},
        { header: "STATUS", dataField: "status", class: "branch" },
        { header: "VILLAGE", dataField: "village", class: "branch" },
        { header: "DISTRICT", dataField: "district", class: "branch" }, 
        
      ]
    };
  },
  methods: {
    showDetailView (contact) {
        // this.$store.commit(types.SET_CONTACT, Utils.cloneObject(contact))
        this.$router.push({name: 'contact', params: {id: contact.id}})
    },
    confirmDelete(payload){
        let url = `${CURRENT_URL}farmers/${payload.sectorId}`

        axios.delete(url)
        .then(data => {
            this.$notify.success("Farmer Deleted")
            window.$(`#${payload.id}`).modal('hide')
            this.$store.dispatch('getContacts')
        }, error => {
            window.$(`#${payload.id}`).modal('hide')
            console.log("Error",error)
            this.$notify.error(error.error)
        })
    },
    cancelDelete(payload){
        window.$(`.delete-sector-modal#${payload.id}`).modal('hide')
    },
    deleteContact(code){
        window.$(`.delete-sector-modal#contact-delete-${code}`).modal('show')
    },
    fetchContacts () {
      this.$store.dispatch('getContacts')
    },
    editContact (contact) {
      this.contactToBeEditted = contact
        this.$bus.$emit(events.SHOW_OVERLAY, true)
      window.$('#edit-contact-slider.slider').addClass('open');
        this.$bus.$once(events.CLOSING_OVERLAY, function () {
        window.$('#edit-contact-slider.slider').removeClass('open');
      })
    },
    itemChecked(isChecked, checkbox) {
      let $row = window.$(checkbox).parentsUntil("tbody");
      let $mask = $row.find(".contact-mask");
      if (isChecked) {
        this.count++;
        this.showCheckedMenu = true;
        $row.css("background", "#f4f9f9");
      } else {
        this.count--;
        $row.css("background", "white");
      }

      if (this.count == 0) {
        this.showCheckedMenu = false;
      } else {
        this.showCheckedMenu = true;
      }
    },
    allItemsChecked() {
      
    },
    init() {
      //   let _this = this
      //   window.$('#checkAll').click(function () {
      //       window.$('.checked').not(this).prop('checked', this.checked)
      //   })
      //   window.$('.checked').click(function () {
      //       if (window.$(this).prop('checked') === true) {
      //       _this.count++
      //       let $row = window.$(this).parentsUntil('tbody')
      //       $row.css('background', '#f4f9f9')
      //     //   $row.find('.mask').css('background', '#f4f9f9')
      //       window.row = $row
      //       console.log($row)
      //       } else if (window.$(this).prop('checked') === false) {
      //       _this.count --
      //     //   window.$('.mask').css('background', '#fff')
      //       window.$(this).parentsUntil('tbody').css('background', 'white')
      //       }
      //       if (_this.count === 0) {
      //       _this.isChecked = false
      //       } else {
      //       _this.isChecked = true
      //       }
      //   })
    },
    clickRow() {},
    updateSortParameters(params) {
      this.sortParameter.parameter = params.sortParameter;
      this.sortParameter.order = params.order;
    },
    loadMore() {
      // console.info("pagiblah")
      // if(this.firstInfiniteLoaderCall){
      //   this.firstInfiniteLoaderCall = false
      //   return
      // }
      if(this.contactsMeta.Page >= this.contactsMeta.TotalPages ){
        // console.info('no pagiblah')
        return
      }
      this.loadingContacts = true
      let page = this.contactsMeta.Page + 1
      this.$store.dispatch('loadMoreContacts', page)
      .then(() => this.loadingContacts = false)
    },
    // searchText(payload){
    //   console.log("I got her at least")
    //   console.log("payload:",payload)
    //   this.$store.commit(ADD_CONTACTS_FILTER_VALUE, {value: payload})
    // },
    reArrangeColumns(oldValue, event) {
      let newValue = parseInt(event.target.value);
      Utils.swapArrayElements(this.columns, oldValue, newValue);
    }
  },
  created: function() {
    this.$bus.$on(events.FILTER_DROPDOWN_UPDATED, this.updateSortParameters);
    this.$bus.$on('alertSubmit', this.confirmDelete)
    this.$bus.$on('alertCancel', this.cancelDelete)
    // this.$bus.$on('contact_search_updated', this.searchText)

    //console.log("CONTACTS",this.sortedContacts.contacts[0])
  },
  beforeDestroy() {
    this.$bus.$off(events.FILTER_DROPDOWN_UPDATED, this.updateSortParameters);
    this.$bus.$off('alertSubmit', this.confirmDelete)
    this.$bus.$off('alertCancel', this.cancelDelete)
    // this.$bus.$off('CONTACT_SEARCH_UPDATED', this.searchText)
  }
};
</script>

<!-- Add 'scoped' attribute to limit CSS to this component only -->
<style lang="scss" scoped>
@import "../assets/styles/variables.scss";
@import "../assets/styles/mixins.scss";
h6{
  font-family: "GothamRoundedBook",sans-serif;
}
.choose-columns-modal{
    .modal-body{
        select{
            margin: 20px 5%;
            width: 90%;
            border: 1px solid $input-border;
        }
    }
}
.contact-table{
  td{
    font-size: 11px !important;
  }
  
  
  table{
    border: none;
  }
  .table-content{
    overflow-y: scroll;
    @include scrollbar(5px, 1px);
  }
  th:last-child{
    width: 50px;
  }
  td:last-child{
    width: 45px;
  }
    td,th{
        &:first-child{
          width: 50px;
        }
        &:nth-child(2){
          width: 50px;
        }
        &.name{
           width: 150px;
        }
        &.phone{
          width: 180px;
        }
        &.branch{
          width: 140px;
        }
        &.location{
          width: 140px;
        }
        &.state{
          width: 70px;
        }
        &:nth-child(1),&:last-child{
            text-align: center;
            cursor: pointer;
        }
        &:nth-child(1){
            padding-left: 17px;
        }
        // &:nth-child(2){
        //     //width: 7% !important;
        //     width: auto;
        //     text-align: left;
        //     cursor: pointer;
        // }
        &:last-child{
            text-align: right;
            padding: 0;
            // @media screen and (min-width: 1350px){
            //     width: 150px
            // }
        }
    }

    thead{
        th{
          //font-weight: 200;
          //height: 50px;
          border-top: 0;
          &:nth-child(2){
            padding-left: 50px !important;
          }
        }
    }
    th{
      &:last-child{
        padding-right: 17px !important;
        img{
          width: 20px;
          height: 20px;
          display: block;
        }
      }
    }
    tr{
      &:hover{
        .contact-mini-menu{
          border: 1px solid #e5e5e5;
          .trans{
              visibility: visible;
          }
          .contact-mask{
              width: 0px;
          }
        }
      }
    }

    td.actions{
      button{
          width: 30px;
          height: 30px;
          border-radius: 50%;
          //background: white;
          background: transparent;
          outline: 0;

          img{
              width: 14px;

              &:hover{
                  filter: invert(4) saturate(100%) brightness(100%);
              }
          }

          // &:hover{
          //     background: rgb(230, 227, 227);
          // }
      }
    }
  .contact-mini-menu{
      display: flex;
      flex-direction: row;
      width: 90px;
      position: relative;
      border-radius: 30px;
      float: right;
      margin-right: 8px;

      .trans{
          visibility: hidden;
      }


      // &:hover{
      //     border: 1px solid #e5e5e5;
      //     .trans{
      //         visibility: visible;
      //     }
      //     .contact-mask{
      //         width: 0px;
      //     }

      // }

      button{
          width: 30px;
          height: 30px;
          border-radius: 50%;
          //background: white;
          background: transparent;
          outline: 0;
           img{
              width: 14px;

              &:hover{
                  filter: invert(4) saturate(100%) brightness(100%);
              }
          }
          // img{
          //   width:16px;
          //   height: 16px;
          // }

          // &:hover{
          //     background: rgb(230, 227, 227);
          // }
      }

      .contact-mask{
          background: white;
          width: 61px;
          border-radius: 30px 0 0 30px;
          top: -2px;
          left: -2px;
          height: 34px;
          transition: width 0.5s ease-in;
      }


  }

  .dropdown-toggle::after {
      display: none;
  }

  .dropdown-menu{
      z-index: 50;
      overflow:hidden;
      li{
          a{
              font-size: 12px;
              padding-left: 15px;
              width: 100%;
              height:100%;
              img{
                  width: 16px;
                  margin-right: 10px;
              }

          }
          &:hover{
              background: #e8e8e8;

              a{
                  background: transparent
              }
          }
      }
  }
}

.contact-table-header{
  width: 100% !important;
  th{
    height: 50px;
  }
}

.divider {
  border-top: 1px solid $border-light;
  margin: 5px 0;
  margin-left: -15%;
  width: 120%;
}
.edit-icon {
  text-align: right;
  padding-right: 5px;
  cursor: pointer;
}

.modal-header,
.modal-footer {
  background: #fafafa;
  height: 9vh;
}

.activeSlide {
  width: 100%;
}
.inactiveSlide {
  width: 0;
}
</style>

<style lang="scss">
.agents-table-tooltip{
  top: 2px;
  left: 41px;
  background: transparent;
  //background: #fafafa;
  margin-left: 10px;
  .agent-mini-menu{

      margin-right: -5px;
      border-radius: 30px;
      border: 1px solid #e5e5e5!important;
      display: flex;
      flex-direction: row;
      width: 90px;
      border-radius: 30px;
      .dropdown-menu{
          z-index: 50;
          overflow:hidden;
          li{
              a{
                  font-size: 12px;
                  padding-left: 15px;
                  width: 100%;
                  height:100%;
                  img{
                      width: 16px;
                      margin-right: 10px;
                  }

              }
              &:hover{
                  background: #e8e8e8;
                  a{
                      background: transparent;
                  }
              }
          }
      }

      button{
          width: 30px;
          height: 30px;
          border-radius: 50%;
          //background: white;
          background: transparent;
          outline: 0;

          img{
              width: 14px;

              &:hover{
                  filter: invert(4) saturate(100%) brightness(100%);
              }
          }

      }


      .agent-mask{
          //background: white;
          background: white;
          width: 61px;
          border-radius: 30px 0 0 30px;
          top: -2px;
          left: -2px;
          height: 34px;
          transition: width 0.5s ease-in;

      }

  }
}

</style>
