<template>
<div>
    <slide-out>
        <div slot="top-panel" class="" id="menu">
            <h5>Contact Settings - Clement </h5>
            <!-- <h5 v-else>Add Agent</h5> -->
        </div>
        <div slot="left-panel">
            <div class="input-group">
                <input style="height:30px; font-size:12px" type="text" class="form-control" name="email" placeholder="Search a field">
                <span class="input-group-addon white-background"><i class="glyphicon glyphicon-search"></i></span>
            </div>
            <ul class="nav nav-tabs flex-column" id="slider-menu">
                <li class="nav-item">
                    <a @click="toggleAccordion" class="nav-link active pl-4" href="#self-service" aria-controls="services" role="tab" data-toggle="tab">Self Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pl-4" href="#conversation" aria-controls="services" role="tab" data-toggle="tab">Conversation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pl-4" href="#updates" aria-controls="services" role="tab" data-toggle="tab">Updates</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pl-4" href="#settings" aria-controls="services" role="tab" data-toggle="tab">Settings</a>
                </li>
            </ul>
        </div>
        <div slot="right-panel">
            <div class="tab-content p-0 m-0">
                 <!-- SELF SERVICE  -->
                    <div role="tabpanel" style="flex: 1; width: 100%;" class="tab-pane in active flex-column align-items-stretch p-0 m-0" id="self-service">
                        <h5 class="uppercase pl-4" style="line-height: 5vh">Self Service</h5>
                        <div class="no-padding p-0 pt-2 m-0">
                            <p class="no-margin no-padding ml-4">Filter</p>
                            <input class="ml-4" type="text">
                        </div>
                        <div style="border-top: 1px solid #f0f0f0; margin: 15px 0 0 0;"></div>
                        <div id="acti-comp" class="p-0 m-0">
                            <activity-component></activity-component>
                            <!-- <activity-component v-for="modelItem in model" :key="modelItem.id" model=modelItem></activity-component> -->
                        </div>

                    </div>

                    <!-- CONVERSATIONS  -->
                    <div role="tabpanel" class="tab-pane fade p-0 m-0" id="conversation">
                        <h5 class="uppercase pl-3" style="line-height: 5vh">Conversation</h5>
                        <conversation-component></conversation-component>
                        <!-- <conversation-component v-for="modelItem in model" :key="modelItem.id" model=modelItem></conversation-component> -->
                    </div>

                    <!-- {{!-- UPDATES  --}} -->
                    <div role="tabpanel" class="tab-pane fade p-0 m-0" id="updates">
                        <h5 class="uppercase pl-3 m-0" style="line-height: 5vh;font-size:14px">Updates</h5>
                        <update-component></update-component>
                        <!-- <update-component v-for="modelItem in model" :key="modelItem.id" model=modelItem></update-component> -->
                    </div>

                    <div style="font-size: 12px" role="tabpanel" class="tab-pane fade p-0 m-0" id="settings">
                        <h5 class="uppercase pl-3 m-0" style="line-height: 5vh">Settings</h5>
                        <div class="flex-row justify-content-between align-items-center my-4">
                            <p class="m-0">Branchless Banking Status</p>
                            <switch-button></switch-button>
                        </div>
                        <div class="flex-row justify-content-between align-items-center my-4">
                            <p class="m-0">Self Services Status</p>
                            <switch-button></switch-button>
                        </div>
                        <div class="flex-row justify-content-between align-items-center my-4">
                            <p class="m-0 ml-3">- USSD</p>
                            <switch-button></switch-button>
                        </div>
                        <div class="flex-row justify-content-between align-items-center my-4">
                            <p class="m-0 ml-3">- APP</p>
                            <switch-button></switch-button>
                        </div>
                        <div class="flex-row justify-content-between align-items-center my-4">
                            <p class="m-0 ml-3">- WEB</p>
                            <switch-button></switch-button>
                        </div>
                        <div class="flex-row justify-content-between align-items-center my-4">
                            <p class="m-0">Is contact a Group Entity?</p>
                            <switch-button></switch-button>
                        </div>
                        

                    </div>
            </div>
        </div> 
    </slide-out>
    </div>
</template>


<script>
    import * as events from '@/utils/constants/events'
    import Utils from '@/utils/Utils'
    export default {
        name: 'ContactSettings',
        props: {
            display: null,
            forApproval: null,
            agentProp: null,
            mode: {
            type: String,
            default: 'ADD'
            }
        },
        data () {
            return {
                agent: {},
                isOpen: false
            }
        },
        created () {
            if(this.agentProp){
                this.agent = Utils.cloneObject(this.agentProp)
            }
        },
        watch: {
            agentProp (newAgent, oldAgent) {
                if(newAgent){
                    this.agent = Utils.cloneObject(newAgent)
                }
            }
        },
        methods: {
            // save () {
            //     alert("saving")
            //     this.close()
            // },
            // cancel () {
            //     this.close()
            // },
            // close () {
            //     let $this = window.$(this.$el)
            //     window.dd = $this
            //     this.$bus.$emit(events.SHOW_OVERLAY, false)
            //     this.$bus.$off(events.CLOSING_OVERLAY)
            //     $this.find('.slide-panel').removeClass('open')
            //     // window.$('.newContactDisplay.active').removeClass('active')
            //     // reset to uneditted contact before closing
            //     this.agent = Utils.cloneObject(this.agentProp)
            // },
            // scrollToSegment (segment) {
            //     let $this = window.$(this.$el)
            //     if(segment == null){
            //         return;
            //     }
            //     let $formSegment = $this.find(`div[data-form-segment=${segment}]`)
            //     let $tab = $this.find('#basic-info')
            //     let offset = $formSegment.offset().top - $tab.offset().top
            //     console.error($tab)
            //     console.error(offset)
            //     console.error($tab.offset().top)
            //     console.error($formSegment.offset().top)
            //     $tab.animate({
            //     scrollTop: offset
            //     }, 1000)
            // },
            toggleAccordion(){
                this.isOpen = !this.isOpen
            }
            
        },
        mounted(){
            // if(window.$('.nav-link').hasClass('active')){

            // }
        }
    }
</script>


<style lang="scss" scoped>
    @import '../assets/styles/variables';
    @import '../assets/styles/mixins';
    #slider-menu{
        font-size: 12px;
        border: 0px !important;
        li{
            font-size: 12px;
            .nav-link{
                font-size: 12px;
            }
        }
        .nav-tabs .nav-link.active{
            border: 0 !important;
            font-size: 12px !important;
        }

        a.nav-link{
            font-size: 12px !important;
            color: black !important;
            border: 0;
            border-radius: 0px;

            &:active,&:focus,&:hover{
                border-left: 3px solid $orange;
                background: #f6ffbd;;
            }
        }

        .panel-collapse{
            height: auto;
            transition: height 0.2s ease-in;

            td{
                border: 0;
                height: 30px;
            }

            // &.open{
            //     height: auto;
            // }
        }
    }
    .slide-enter-active{
        animation: openHeight 0.4s ease-in;
    }
    .slide.leave.active{
        animation: openHeight 0.4s reverse ease-in;
    }

    @keyframes openHeight {
        from{
            height: 0;
        }to{
            height: 100%;
        }
    }

    
</style>

