<template>
  <div class="p-0 m-0">
    <div v-for="conversation in conversations" class="border-bottom py-1">
        <div class="flex-row justify-content-between">
            <div class="px-3">
                <div v-if="conversation.status" class="stat green"></div>
                <div v-if="!conversation.status" class="stat green"></div>
                <strong>SMS</strong> | {{conversation.phone}}
            </div>
            <div class="text-secondary pr-3">{{conversation.date | moment("DD MMM YYYY")}}</div>
        </div>
        <div class="px-3 py-1">
             Hola
            {{conversation.message}}
        </div>
        <div class="flex-row justify-content-between">
            <div class="pl-3">
                {{conversation.num}}
            </div>
            <div class="text-secondary pr-3">
                {{conversation.date | moment("DD MMM YYYY")}}
            </div>
        </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ConversationComponent',
  props: ['model'],
  data () {
    return {
        conversations: []
    }
  },
   created: function() {
      for (var i = 0; i < 8; i++){

          var user={
            ussd: this.$faker().random.number(),
            message: this.$faker().lorem.sentence(),
            num: this.$faker().random.number(),
            phone: this.$faker().phone.phoneNumberFormat(),
            status: this.$faker().random.boolean(),
            price: this.$faker().finance.amount(),
            date: this.$faker().date.past(),
          };

          this.conversations.push(user);
      }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
    // #convo{
    //     padding-left: 25px;
    // }

    .red{
        background: red
    }
    .green{
        background: green;
    }

</style>
