<template>
  <div class="customer-info position-relative" style="width: 100%">
    <div class="row no-margin agent-info align-items-stretch">
            <div style="border-right: 1px solid #f0f0f0; flex-direction:column;align-items: center" class="col-sm-2 d-flex justify-content-center">
                
                <img v-if="contact.additional_info.photo" :src="contact.additional_info.photo | img" alt="" class="user-image img-fluid center-block rounded-circle personal-img">
                <img v-else src="../assets/img/img.jpg" alt="" class="user-image img-fluid center-block rounded-circle personal-img">
                <div class="personal-socials center-block">
                    <a v-if="false" class="social">
                        <img src="../assets/img/facebook.png" alt="" class="img-fluid">
                    </a>
                    <a v-if="false" class="social">
                        <img src="../assets/img/twitter.png" alt="" class="img-fluid">
                    </a>
                    <a v-if="false" class="social">
                        <img src="../assets/img/linkedin.png" alt="" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-sm-10"> 
                <div class="row agent-pos book d-flex flex-row">
                    <h6><strong class="bold">{{contact.name}}</strong>  - {{contact.unique_id}} <small v-if="contact.status != 'active' && contact.status != 'rejected'">(Pending Approval)</small>
                    <small :data-content="contact | farmer-status-info" 
                    v-else-if="contact.status=='rejected'" 
                    style="color: red;"
                    data-toggle="popover" 
                    data-trigger="hover"
                    data-html="true"
                    data-placement="bottom"
                    >
                        (Registration Rejected)
                    </small>
                    </h6>
                    <div v-if="false" class="wide-chip-div flex-row align-center">
                       <p class="baby-blue">{{contact.groupAccount}}</p> </div>
                    <div class="agent-btn-group" style="padding-right: 35px">
                        <div class="btn-group">
                            <button disabled type="button" class="btn btn-outline-secondary icon disabled"><img src="../assets/img/file.svg" alt=""></button>
                        </div>
                        <div class="btn-group">
                            <button disabled type="button" class="btn btn-outline-secondary icon disabled"><img style="width:20px;height:20px" src="../assets/img/group (1).svg" alt=""></button>
                            <button disabled type="button" class="btn btn-outline-secondary icon disabled"><img src="../assets/img/adaptation.svg" alt=""></button>
                            <button disabled type="button" class="btn btn-outline-secondary icon disabled"><img src="../assets/img/mail.png" alt=""></button>
                        </div>
                        <div class="btn-group">
                            <button @click="editContact" id="edit-single-contact" type="button" class="btn btn-outline-secondary icon"><img src="../assets/img/edit (3).svg" alt=""></button>
                            <button @click="deleteFarmer(contact.unique_id)" type="button" class="btn btn-outline-secondary icon"><img src="../assets/img/garbage (1).svg" alt=""></button>
                        </div>
                        <div class="btn-group">
                            <button disabled @click="ViewContactSettings" type="button" class="btn disabled btn-outline-secondary icon"><img src="../assets/img/settings.svg" alt=""></button>
                        </div>
                    </div>
                </div>
                <div class="bottom position-relative no-padding">
                <!-- <button type="button" class="agent-edit-button position-absolute" aria-label="Close">
                    <img src="../assets/img/edit (3).svg" alt="">
                </button> -->
                <!-- <a class="agent-edit-button position-absolute" href="" >Edit fields</a> -->
                <div class="row no-margin agent-detailed-info">
                    <div class="col-5 no-padding row">
                        <div class="col-7"><p class="bold">Phone Number</p></div>
                        <div class="col-5"><p>{{contact.msisdn | notAvailable}}</p></div>
                        <div class="w-100"></div>
                        <div class="col-7"><p class="bold">Age</p></div>
                        <div class="col-5"><p>{{contact.date_of_birth | age | notAvailable}}</p></div>
                    </div>
                    <div class="col-6 no-padding row">
                        <div class="col">
                            <p class="bold">Farm Size</p>
                        </div>
                        <div class="col">
                            <p>{{contact.farm_size | notAvailable}}</p> </div>
                        <div class="w-100"></div>
                        <div class="col">
                            <p class="bold">Region</p> </div>
                        <div class="col">
                            <p>{{contact.region}}</p> </div>
                    </div>
                    <div class="col-1"></div>
                    <!-- <a class="position-absolute" style="color:blue;bottom: 0;right:1px">View and edit all fields</a> -->
                </div>

          </div>
            </div>
    </div>
    <div class="row no-margin agent-show-panel book">
        <div class="col-10 flex-column justify-center">
            <p style="font-size:9px" class="no-margin "><strong class="bold small">Acc. No.: </strong></p>
            <p class="no-margin big"><strong >Account </strong></p>
        </div>
        <div style="padding-right: 20px;" class="col-2 text-right flex-column justify-center">
            <p style="font-family: 'GothamLight';font-weight: 200" class="no-margin no-padding big"><strong> GHs0.00</strong> </p>
            <p class="no-margin small"><strong>Balance</strong></p>
        </div>
    </div>
    <div style="padding-right: 10px; z-index: 5;" class="row position-relative no-margin single-agent-date book">
        <div class="inner-div">
            <div class="col-6">
                <h4 class="medium">Recent Transactions</h4>
            </div>
            <div class="col-3">
                <form action="">
                        <label class="no-margin medium" for="start">Start Date</label>
                        <div>
                            <datepicker
                              calendar-button-icon="fa fa-calendar"
                              :bootstrap-styling="true"
                              :calendar-button="true"  :value="transactionsStartDate">
                            </datepicker>
                            <!-- <input id="transaction-start" type="text" class="form-control" name="email"> -->
                            <!-- <span class="input-group-addon"><i class="fa fa-calendar"></i></span> -->
                        </div>
                    </form>
                <!-- <form action="">
                    <label class="no-margin medium" for="start">Start Date</label>
                    <div class="input-group">
                        <input id="start-date" type="text" class="form-control" name="email" placeholder="01/07/2017 00:00">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </form> -->
            </div>
            <div class="col-3">
                <!-- <form action="">
                    <label class="no-margin medium" for="end"> End Date</label>
                    <div class="input-group">
                        <input id="end-date" type="text" class="form-control" name="email" placeholder="31/07/2017 23:59">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </form> -->
                 <form action="">
                        <label class="no-margin medium" for="end"> End Date</label>
                        <div>
                          <datepicker
                            calendar-button-icon="fa fa-calendar"
                            :bootstrap-styling="true" :calendar-button="true"
                            :value="transactionsEndDate"></datepicker>
                            <!-- <input id="transaction-end" type="text" class="form-control" name="email">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span> -->
                        </div>
                    </form>
            </div>
        </div>

    </div>
    <div class="row no-margin book single-agent-table">
        <table class="table position-relative">
            <thead class="position-relative">
                <th>DATE</th>
                <th>DESCRIPTION</th>
                <th>TYPE</th>
                <th>IN</th>
                <th>OUT</th>
                <th>BALANCE</th>
            </thead>
            <tbody v-if="transactionsCount == 0">
                <tr>
                    <td style="text-align:center" colspan="6">
                        No Transactions Available
                    </td>
                </tr>
            </tbody>
            <tbody v-else class="normal">
                <tr v-for="contact in contacts">
                    <td>{{contact.date | moment("dddd, MMMM Do YYYY")}}</td>
                    <td>{{contact.description}}</td>
                    <td>{{contact.type}}</td>
                    <td>{{contact.in}}</td>
                    <td>{{contact.out}}</td>
                    <td>{{contact.balance}}</td>
                </tr>
            </tbody>
        </table>
    </div>


    <!-- <div class="row no-margin book align-items-stretch">
        <div class="col-3 col-md-2 personal-img-socials d-flex justify-content-center">
            <div>
                <img src="../assets/img/img.jpg" alt="" class="img-fluid center-block rounded-circle personal-img">

                <div class="personal-socials center-block">
                    <a href="" class="social">
                        <img src="../assets/img/facebook.png" alt="" class="img-fluid">
                    </a>
                    <a href="" class="social">
                        <img src="../assets/img/twitter.png" alt="" class="img-fluid">
                    </a>
                    <a href="" class="social">
                        <img src="../assets/img/linkedin.png" alt="" class="img-fluid">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-9 col-md-10 information no-padding ">
          <div class="top d-flex flex-row align-items-center justify-content-between">
            <div class="d-flex flex-row align-items-center">
              <p class="no-margin title">{{currentContact.name}} &nbsp; &nbsp; - {{currentContact.primary}}</p>
              <span class="wide-chip blue white-text">
                  {{currentContact.groupAccount}}
              </span>
            </div>
            <div class="button d-flex flex-row">
                <button class="btn white-background bordered">
                    <img src="../assets/img/customer.png" alt="" class="img-fluid">
                </button>
                <button class="btn white-background bordered group-1 one">
                    <img src="../assets/img/search.png" alt="" class="img-fluid">
                </button>
                <button class="btn white-background bordered group-1 two">
                    <img src="../assets/img/dashboard.png" alt="" class="img-fluid">
                </button>
                <button class="btn white-background bordered group-1 three">
                    <img src="../assets/img/contacts.png" alt="" class="img-fluid">
                </button>
                <button class="btn white-background bordered group-2 one">
                    <img src="../assets/img/talking.png" alt="" class="img-fluid">
                </button>
                <button class="btn white-background bordered group-2 two">
                    <img src="../assets/img/settings.png" alt="" class="img-fluid">
                </button>
            </div>
          </div>
          <div class="bottom position-relative no-padding">
              <button type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <div class="row no-margin">
                  <div class="col-6 no-padding row">
                    <div class="col"><p>Branch</p></div>
                    <div class="col"><p>{{currentContact.branch}}</p></div>
                    <div class="w-100"></div>
                    <div class="col"><p>Primary Phone Number</p></div>
                    <div class="col"><p>{{currentContact.primary}}</p></div>
                  </div>
                  <div class="col-6 no-padding row">
                      <div class="col-6">
                          <p>233246884356</p>
                      </div>
                      <div class="col-6">
                         <p>20th November 1971</p> </div>
                      <div class="w-100"></div>
                      <div class="col-6">
                         <p>Relationship Officer/Agent</p> </div>
                      <div class="col-6">
                         <p>{{currentContact.relationshipOfficer}}</p> </div>
                  </div>
                  <div class="col-3 offset-9 no-padding">
                     <a  href="">View and edit all fields</a>
                  </div>
              </div>

          </div>
        </div>
    </div> -->
    <!-- <recent-transactions></recent-transactions> -->

    <!-- <add-edit-contact mode='EDIT' display="none"  :contactProp="contact" ></add-edit-contact> -->
    <contact-settings></contact-settings>
    <contact-farmer-details :contactProp="contact" display="none"></contact-farmer-details>  
    <!-- <div ref="chooseColumns" class="modal fade choose-columns-modal" tabindex="-1" id="customise-agent-fields" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Customise Fields</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <select @change="reArrangeColumns(index, $event)" v-for="(column, index) in columns.slice(0, 4)" class="form-control" name='' id='selectR5'>
                                <option :value="index2" :selected="index == index2"  v-for="(column2, index2) in columns">{{column2.header}}</option>
                            </select>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div> -->
    <alert-box :sectorId="contact.id" message="Are you sure you want to delete this farmer?" submit="Delete" cancel="Cancel" :id="contact.unique_id"></alert-box>
  </div>
</template>

<script>
    import * as events from "../utils/constants/events.js";
    import { mapGetters, mapActions } from 'vuex'
    import Pikaday from 'pikaday'
    import axios from 'axios'
    import {CURRENT_URL} from '../utils/Constants.js'
    import Moment from 'moment'
    export default {
    name: 'CustomerInfo',
    data () {
        return {
          model: {
              id: 1,
              name: 'Sandra Rita Agbesi',
              primary: '+233 (0)24 567 9081',
              branch: 'Achimota',
              locality: 'Mile 7',
              status: 'Active',
              hello: 15,
              hi: 'This grand '
          },
          contacts: [],
          transactionsStartDate: Moment().subtract(3, 'days').toDate(),
          transactionsEndDate: Moment().toDate(),
          transactionsCount: 0
        }
    },
    computed: {
      ...mapGetters({
        contact: 'currentContact'
      })
    },
    methods: {
        editFields () {
          $(this.refs.chooseColumns).modal({})
        },
        buildDisplayFields () {
          let columns = [
            {header: "PHONE", dataField: "phone", class: "phone"},
            {header: "REGION", dataField: "region", class: "phone"},
            {header: "GENDER", dataField: "gender", class: "phone"},
            {header: "TYPE", dataField: "agent_type", class: "phone"},
            {header: "STATE", dataField: "state", class: "status"}
          ]
          return columns
        },
        editContact () {
            this.$bus.$emit(events.SHOW_OVERLAY, true)
                //window.$('#edit-contact-slider.slider').addClass('open');
                window.$('#farmer-details.slider').addClass('open');
            this.$bus.$once(events.CLOSING_OVERLAY, function () {
                //window.$('#edit-contact-slider.slider').removeClass('open');
                window.$('#farmer-details.slider').removeClass('open');
            })
        },
        confirmDelete(payload){
            let url = `${CURRENT_URL}farmers/${payload.sectorId}`

            axios.delete(url)
            .then(data => {
                this.$notify.success("Farmer Deleted")
                window.$(`#${payload.id}`).modal('hide')
                this.$router.push({name: 'contacts'})
            }, error => {
                window.$(`#${payload.id}`).modal('hide')
                this.$notify.error("Failed To Delete")
            })
        },
        cancelDelete(payload){
            window.$(`.delete-sector-modal#${payload.id}`).modal('hide')
        },
        deleteFarmer(code){
            window.$(`.delete-sector-modal#${code}`).modal('show')
        },
        ViewContactSettings(){
            this.$bus.$emit(events.SHOW_OVERLAY, true)
            window.$('.agent-slider-settings').addClass('open');
            this.$bus.$once(events.CLOSING_OVERLAY, function () {
                window.$('.agent-slider-settings.slider').removeClass('open');
            })
        }
    },
    mounted:function(){
        $('[data-toggle="popover"]').popover()
        let fromPicker = new Pikaday({ field: $(this.$el).find('#start-date')[0]})
        let toPicker = new Pikaday({ field: $(this.$el).find('#end-date')[0]})
        // this.columns = this.buildDisplayFields()
    },
    created: function(){
        
        this.$bus.$on('alertSubmit', this.confirmDelete)
        this.$bus.$on('alertCancel', this.cancelDelete)
        for (var i = 0; i < 10; i++){

                var contact={
                    date: this.$faker().date.past(),
                    description: this.$faker().name.findName(),
                    type: this.$faker().random.word(),
                    //in: this.$faker().finance.amount(),
                   // out: this.$faker().finance.amount(),
                    balance: this.$faker().random.number(100,1000).toLocaleString('ja-JP', { style: 'currency', currency: 'GHc'}),
                };

                if(this.$faker().random.boolean()){
                    contact.in= this.$faker().random.number(100,1000).toLocaleString('ja-JP', { style: 'currency', currency: 'GHc'})
                }else{
                    contact.out= this.$faker().random.number(100,1000).toLocaleString('ja-JP', { style: 'currency', currency: 'GHc'})
                }

                this.contacts.push(contact);
                console.log("USERS:", this.contacts);
            }
        },
    beforeDestroy() {
        this.$bus.$off('alertSubmit', this.confirmDelete)
        this.$bus.$off('alertCancel', this.cancelDelete)
    },
}
  
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import '../assets/styles/variables';
@import '../assets/styles/mixins';
.single-agent-table{
    height: calc(100% - 37vh);
    //@include customScroll();

}

.agent-pos{
    button{
        outline: 0px;
        // img{
        //     filter: invert(0.8);
        // }


        &:hover{
        //     img{
        //         filter: none;
        //     }

            border: 1px solid #f0f0f0;
            background: #f0f0f0;
            color: white;


        }
    }

}

.agent-show-panel{
    height: 6vh;
    background: #fafafa;
    //background: #e9ecef;
    //font-family: "GothamMedium",sans-serif;
    padding: 2px 0;
    line-height: 6vh;

}

.inner-div{
    //border: 1px solid black;
    margin-top: 1.7vh;
    form{
        transform: translateY(-25px)
    }
}
.disabled{
    cursor: not-allowed;
}
</style>
