<template>
    <div style="height:50vh" class="position-relative">
        <div class="farmer-map" style="width:100%;height:50vh" :id="`map${farmer.id}${id}`">
            
        </div>
        <div class="farmer-map-button-div d-flex flex-column position-absolute">
            <!-- <button class="border rounded-circle bg-white mb-2"><img src="../assets/img/shuffle.svg" alt=""></button> -->
            <!-- <button class="refresh-map border rounded-circle bg-white"><img src="../assets/img/re.svg" alt=""></button> -->
        </div>
    </div>
</template>

<script>
import Utils from '@/utils/Utils'
export default {
    name: 'FarmerMap',
    props: ['farmer','id', 'coords', 'bounds'],
    data () {
        return {
            map: null,
            coor:null
        }
    },
    mounted () {
        mapboxgl.accessToken = 'pk.eyJ1Ijoic2VkZGllNjIiLCJhIjoiY2pmMmtyZTBpMHhrZTMzb210dHE4cmxkaSJ9.t4Q4KTOSUCh4wRO13p2HZQ';
        var map = new mapboxgl.Map({
            container: `map${this.farmer.id}${this.id}`, // container id
            style: 'mapbox://styles/seddie62/cjf2kdmqf1wdh2so7qoj54r6i', // stylesheet location
            center: [0,8], // starting position [lng, lat]
            zoom: 15 // starting zoom
        });
        var farm ;
        var coor;
        this.map = map

        
        //fullscreen and navigation controllers
        map.addControl(new mapboxgl.FullscreenControl());
        map.addControl(new mapboxgl.NavigationControl(),'top-left');
        console.log("Farm",this.farmer)

        let that = this

        // if bounds exist
        
        if(typeof this.bounds != "undefined" && Array.isArray(this.bounds)){
            farm = this.bounds.map(el =>{
                return [el.lng,el.lat]
            })
            console.log("FAARRMM bounds",this.bounds.length)
        }
        

        //if locations exist
        if(typeof this.coords != "undefined"){
          var coor = [this.coords.lng, this.coords.lat]
          console.log('Cooordinates',coor)
        }
        console.log("Outside",coor)

        map.on('load',  () => {
            // if (farm.length > 2 || typeof this.bounds != "undefined") {
            //     that.setCoordinates(map,farm)
            //     map.easeTo({center: farm[0]});
            //     console.log("completed")
            // }
            if (typeof this.bounds !='undefined') {
                if (farm.length>2 || ((farm[0].lng != farm[1].lng) && (farm[1].lng != farm[2].lng))) {
                    that.setCoordinates(map,farm)
                    map.easeTo({center: farm[0]});
                    console.log("completed 1")
                }
                //else{
                    that.addFeatureToMap(farm[0],map)
                    console.log('Farrrrm 2',farm[0])
                    map.easeTo({center: farm[0]});
                    console.log("completed 2")
                //}
            }
            // if ((farm.length<=2 || typeof this.bounds != "undefined")) {
                
            //     that.addFeatureToMap(farm[0],map)
            //     console.log('Farrrrm',farm[0])
            //     map.easeTo({center: farm[0]});

            // }
            // else{
            //     console.log("Farm 1",farm)
            //     that.addFeatureToMap(farm,map)
            //     map.easeTo({center:farm})
            // }
            if (typeof coor != "undefined") {
                console.log("coop",coor)
               that.addFeatureToMap(coor,map)
               map.easeTo({center: coor});
            }
            
        }); 


        // this.$bus.$on("accordionParentItemSelected", function(data){
        //     console.log("item selected",data.menuItem)
        //     if(data.menuItem.toLowerCase() == "farm data")
        //     {
        //         map.resize()
        //     }
        // })
        // this.$bus.$on("accordionMenuItemSelected", function(data){
        //     if(data.toLowerCase() == "farm data")
        //     {
        //         map.resize()
        //     }
        // })
        

    },
    methods:{
        setCoordinates(map,coor){
            map.addLayer({
                'id': 'maine',
                'type': 'fill',
                'source': {
                    'type': 'geojson',
                    'data': {
                        'type': 'Feature',
                        'geometry': {
                            'type': 'Polygon',
                            'coordinates': [coor]
                        }
                    }
                },
                'layout': {},
                'paint': {
                    'fill-color': '#088',
                    'fill-opacity': 1
                }
            });
            console.log("coord",coor)
            map.easeTo({center:coor[0]})
        },
        drawLine(map,coordinate){
            map.addLayer({
                "id": "route",
                "type": "line",
                "source": {
                    "type": "geojson",
                    "data": {
                        "type": "Feature",
                        "properties": {},
                        "geometry": {
                            "type": "LineString",
                            "coordinates": coordinate
                        }
                    }
                },
                "layout": {
                    "line-join": "round",
                    "line-cap": "round"
                },
                "paint": {
                    "line-color": "#888",
                    "line-width": 8
                }
            });

        },
        drawPoint(map,point){
             map.addSource('point', {
                "type": "geojson",
                "data": {
                    "type": "Point",
                    "coordinates": point
                }
            });
            console.log("POINT",point)
            map.addLayer({
                "id": "point",
                "source": "point",
                "type": "circle",
                "paint": {
                    "circle-radius": 30,
                    "circle-color": "#007cbf"
                }
            });
        },
        setLocation(map,coord){
            var framesPerSecond = 15; 
            var initialOpacity = 1
            var opacity = initialOpacity;
            var initialRadius = 8;
            var radius = initialRadius;
            var maxRadius = 18;

            // Add a source and layer displaying a point which will be animated in a circle.
            map.addSource('point', {
                "type": "geojson",
                "data": {
                    "type": "Point",
                    "coordinates": coord
                }
            });
            console.log("coordinate 0,0",[0,0]);
            console.log("Original",coord)
            map.addLayer({
                "id": "point",
                "source": "point",
                "type": "circle",
                "paint": {
                    "circle-radius": initialRadius,
                    "circle-radius-transition": {duration: 0},
                    "circle-opacity-transition": {duration: 0},
                    "circle-color": "#007cbf"
                }
            });

            map.addLayer({
                "id": "point1",
                "source": "point",
                "type": "circle",
                "paint": {
                    "circle-radius": initialRadius,
                    "circle-color": "#007cbf"
                }
            });


            function animateMarker(timestamp) {
                setTimeout(function(){
                    requestAnimationFrame(animateMarker);

                    radius += (maxRadius - radius) / framesPerSecond;
                    opacity -= ( .9 / framesPerSecond );

                    map.setPaintProperty('point', 'circle-radius', radius);
                    map.setPaintProperty('point', 'circle-opacity', opacity);

                    if (opacity <= 0) {
                        radius = initialRadius;
                        opacity = initialOpacity;
                    } 

                }, 1000 / framesPerSecond);
                
            }

            // Start the animation.
            animateMarker(0);
        },
        addFeatureToMap (feature, map) {
            console.log("Featrue",feature)
            //feature = new Array(feature)
            var el = document.createElement('div');
            el.className = 'marker';
            el.style.background = "#7AC943";

            var outer = document.createElement('div');
            outer.className = 'outerMarker';
            outer.style.background = "#088";


            let marker = new mapboxgl.Marker(outer)

            marker
            .setLngLat([feature[0],feature[1]])
            .addTo(map);

            new mapboxgl.Marker(el)
                .setLngLat([feature[0],feature[1]])
                .addTo(map);
            console.log("completed")
        }
            
    },
    beforeDestroy () {
        // this.map.resize()
        // this.$bus.$off('accordionParentItemSelected', this.menuItemSelected)
    },
}
</script>

<style lang="scss" scoped>
    .farmer-map-button-div{
        bottom: 30px;
        right: 10px;

        button{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            padding: 0;

            img{
                width: 20px;
                height: 20px;
            }
        }
    }

    .farmer-map{
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;

    }
</style>


