<template>
   <div class="full-height">
    <!-- <div id="unrecon-table">
      <reconciled-agent v-on:signOff="signOff" :agent="agent" v-for="agent in reconciledAgents" :key="agent.id"></reconciled-agent>
      <unreconciled-agent :agent="agent" v-for="agent in unreconciledAgents" :key="agent.id"></unreconciled-agent>
    </div> -->
    <div style="height:100%" class="d-flex justify-content-center align-items-center" v-if="loading">
        <p>Loading..</p>
    </div>
    <div v-else id="transactions-list" class="table-div" style="overflow: auto;">
        <table class="table position-relative">
            <thead class="table position-relative">
                <th></th>
                <th>Trans Date</th>
                <th>Trans Type</th>
                <th class="book" style="padding-left: 20px !important">Customer Name</th>
                <th></th>
                <th>Trans Service</th>
                <th>Initiator</th>
                <th>Amount</th>
                <th>Receiver No</th>
                <th>Reference</th>
                <th>State</th>
                <th></th>
                <th></th>
            </thead>
            <tbody class="book" v-if="count==0">
                <tr>
                    <td style="text-align:center" colspan="12">
                        No transactions to be displayed
                    </td>
                </tr>
            </tbody>
            
            <!-- <tbody> -->
                <reconciled-agent v-else v-on:signOff="signOff" :agent="agent" v-for="agent in tickets" :key="agent.id"></reconciled-agent>
                <!-- <reconciled-agent v-on:signOff="signOff" :agent="agent" v-for="agent in reconciledAgentsErrors" :key="agent.id"></reconciled-agent>
                <unreconciled-agent :agent="agent" v-for="agent in unreconciledAgents" :key="agent.id"></unreconciled-agent> -->
            <!-- </tbody> -->
        </table>
    </div>
    <div style="bottom:0" class="tfoot d-flex flex-row justify-content-between align-items-center position-absolute">
            <p>Showing {{count}} of {{count}} Transactions</p>
            <p>Total Transactions - {{count}}</p> 
    </div>

  </div>

</template>

<script>
import ReconciledAgent from './transactions/realtime/ReconciledAgent.vue'
import UnReconciledAgent from './transactions/realtime/UnReconciledAgent.vue'
import axios from 'axios';
var faker = require('faker');
import nfFake from '@/utils/nfFake'
import Utils from '@/utils/Utils'
import Noty from 'noty'
import {API_URL, FAKE_API_URL, BEIGE_BACKEND, LEMON_DASHBOARD_LOCAL_URL,LEMON_DASHBOARD_GEORGE_URL,CURRENT_URL} from '../utils/Constants.js'
import store from '@/store/index'

export default {
  name: 'FieldTransactions',
  components: {
    'reconciled-agent': ReconciledAgent,
    'unreconciled-agent': UnReconciledAgent
  },
  data () {
    return {
      reconciledAgents: [],
      unreconciledAgents: [],
      tickets: [],
      accessToken: '',
      count: 0,
      loading: true
    }
  },
  methods: {
    signOff (agent) {
      this.reconciledAgents.splice(this.reconciledAgents.indexOf(agent), 1)
    },
    fetchToken(){
        let login = 'https://api.flopay.io/v1/login';
        let access_token = store.getters.token
        let admin = {
            client_id: "fd59701b629954a0bbcda44a426798cde461097cd4a7b9b9a2e29781ca34a27e",
            client_secret:  "8afd077b1001ba53c0675dd01f78fe3e254038ef1641c0d0dd04156f198cee6d",
            grant_type: "client_credentials"
        }
        axios.post(login,{headers: {
      "Authorization": `Bearer ${access_token}`
    }
  }, admin).then((response) => {
            console.log("Access token: "+ response.access_token)
            return this.accessToken = response.access_token
            console.log("fjgfj:"+this.accessToken)
        });
        
        console.log("hola "+this.accessToken)
    },
    fetchItems()
    {
        axios.get(`${CURRENT_URL}/transactions`)
        .then(response => {
            this.tickets =  response.transactions
            this.count = response.transactions.length;
            this.loading=false;
        })        
    }
  },
  created: function(){
        // var type = ["deposit","withdrawal"];
        var rand = Math.floor(Math.random() * 1) + 0;
        this.picture1 = faker.image.avatar();
        //this.fetchToken();
        this.fetchItems();

        for(let i = 0; i < 20; i ++){
            let agent = {
              id: i,
              name: faker.name.findName(),
              branch: nfFake.district(),
              picture: faker.internet.avatar(),
              transactions: faker.random.number().toLocaleString('ja-JP'),
              customers: faker.random.number().toLocaleString('ja-JP'),
              cashAtHand: faker.random.number().toLocaleString('ja-JP', { style: 'currency', currency: 'GHc'}),
              transactionNet: faker.random.number().toLocaleString('ja-JP', { style: 'currency', currency: 'GHc'}),
              date: faker.date.recent(),
              error: Utils.randomBoolean(5)?"51 - Insufficient Funds | There is insufficient funds the agent account. The account number is 201 - 20129012023-10": null,
              type: faker.random.boolean() ? "deposit" : "withdrawal"
            }
            if(i < 10){
              this.reconciledAgents.push(agent)
            }else {
              this.unreconciledAgents.push(agent)
            }
        }
        
  },
  
  computed: {
    reconciledAgentsNoErrors () {
      return this.reconciledAgents.filter(el => !el.error)
    },
    reconciledAgentsErrors () {
      return this.reconciledAgents.filter(el => el.error)
    }
  }

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
    @import '../assets/styles/variables';
    @import '../assets/styles/mixins';
    #transactions-list{
        th,td{
            &:nth-child(2){
                padding-left: 20px !important;
            }
        }
    }
    
    .md-checkbox{
      display: inline-block;
    }
    .table{
        margin-bottom: 0;
    }
    button.small-icon{
      height: 24px;
      width: 24px;
      background: white;
      //padding: 4px;
      line-height: 16px;
      border-radius: 2px;
      margin-left: 5px;
      img{
          width: 12px;
          vertical-align: text-top;
      }
    }

    .trans-status{
        width: 10px;
        height: 10px !important;
        background: green;
    }


    .item-overlay{
      display: none;
    //  display: block;
      position: absolute;
      opacity: 0.9;
      top: 0;
      bottom: 0;
      // height: 60px;
      left: 0;
      background: #f7f8f8;
      //background: $blue;
      font-family: "GothamRoundedBook",sans-serif;
      //background: $blue;
      &.active{
        display: block;
      }
    }
    .recon-trans{
        width: 100%;
        height: 48px;
        // border-bottom: 1px solid #f0f0f0;
        padding: 0 17px;
        margin: 0;
        font-size: 12px;

        div{
            height: inherit;

            p:first-child{
                margin-bottom: 10px;

                strong:first-child{
                    font-size: 14px;
                }
            }

            p:last-child{
                font-size: 11px;
            }
        }
        button{
            // height: 24px;
            width: 25px !important;
            // border: 1px solid lightgray;
            background: transparent !important;
            //padding: 4px;
            //line-height: 16px;
            overflow: visible !important;
            border: 0px !important;
            border-radius: 2px;
            margin-left: 5px;
            img{
                width: 15px !important;
                background: transparent !important;
                overflow: visible !important;
                //background: transparent !important;
                //vertical-align: text-top;
            }
            &.active{
              //background: #f8ff72;
              //background: #e9ee89;

              img{
                  background: #e9ee89 !important;
              }
            }
        }

        .locator{
            height: 24px;
            width: 24px;
            border: 1px solid rgb(177, 170, 170);
            background: white;
            border-radius: 2px;
            margin-left: 5px;
            img{
                width: 16px;
            }
        }

        .trans-date{
            color: gray;
            font-size: 11px;
        }

        .last-trans{
            p.top-part{
                margin-top: 10px;
            }
            p.bottom-part{
                margin-bottom: 10px;
            }
            width: calc(85% - (40px));
            flex: 1;
        }
        .mid-trans{
            width: 15%;
        }


    }


    table{
        position: relative;
        thead{

            th{
                height: 50px;
                background: #fdfdfd;
                // font-family: "GothamRoundedBold" !important;
                // //font-weight: bold !important;
                // font-weight: 100 !important;
            }
        }
        // td{
        //     font-family: "GothamLight",sans-serif !important;
        // }
    }

    #alltrans-table{
        //border-bottom: 1px solid #f0f0f0;
        // .chip{
        //     width: px;
        //     height: 25px;
        //     //font-size: 10px;
        // }

        tr{
          button{
            &.reset, &.eye{
              visibility: hidden;
            }
          }
          &:hover{
            .eye, .reset{
              visibility: visible;
            }
          }
        }

        td,th{
            text-align: left;
            &:first-child{
                padding-left: 20px;
            }
            &:last-child{
                padding-right: 20px !important;
                text-align: right !important;
            }
        }

        td{
            height: 40px;

        }

        th{
            height: 40px;
            background: #fafafa;
        }

    }

    .avatar{
        div{
            width: 45px;
            height: 45px;
            border-radius: 50%;
            background: red;
        }
    }

    .recon-tag{
        width: 60px;
        background: $blue;
        padding: 2px;
        margin: 0;
        text-align: center;
        font-size: 10px;
        border-radius: 2px;
        color: white;
    }

    .reconcile-button{
        font-size: 12px;
        background: $blue;
        color: white;
        height: 30px;
        width: auto;
    }

    #agents-table{
        th,td{
            &:first-child{
                padding-left: 20px;
            }

        }
    }

</style>


<style lang="scss" scoped>
  .table-div{
    & > table{
      tbody{
        border: none;
        td{
          height: 55px;
        }
      }
    }
  }
</style>
