<template>
  <div class="dropbox" :class="classNames">
      <div  class="input-detail-img">
        <img v-if="src" class='id-pic' :src="src | img">
        <img v-else-if="mMode == 'VIEW'" style="width: 100px;" src="@/assets/img/no_image.svg"> 
      </div>
      <div class="upload-space" v-if="mMode == 'EDIT'">
        <input type="file" @change="filesChange($event.target.name, $event.target.files)" accept="image/*" class="input-file">
        <div v-if="!src">
          Drag your file(s) here to begin<br> or click to browse
        </div>
        <div v-else>
          Change
        </div>
        <!-- <p v-if="isSaving">
          Uploading {{ fileCount }} files...
        </p> -->
      </div>    
  </div>
</template>

<script>
export default {
    name: 'FileUploader',
    props: {
      mode: {
        default: 'VIEW',
        type: null
      },
      value: null
    },
    created () {
      this.src = this.value
      this.mMode = this.mode
    },
    data () {
        return {
           src: null,
           mMode: 'VIEW'
        }
    },
    methods: {
      filesChange(name, files){
        let that = this
        let file    = files[0];
        var reader  = new FileReader();
        reader.addEventListener("load", function () {
          let src = reader.result.replace(/data:.*base64,/, '')
          console.info(src)
          that.src = src
          that.$emit('input', that.src)
        }, false);
        if (file) {
          reader.readAsDataURL(file);
        }
      }
    },
    watch: {
      src () {
        this.src = this.value
      },
      mode () {
        this.mMode = this.mode
      }
    },
    computed: {
      classNames () {
        let mode = this.mMode 
        let classNames = []
        if(mode == 'VIEW'){
          classNames.push('view-mode')
        }else{
          classNames.push('edit-mode')
          if(!this.src){
            classNames.push('drop-mode')
          }else{
            classNames.push('change-mode')
          }
        }
        return classNames
      }
    }
}
</script>


<style lang="scss">
  .dropbox {
    max-width: 350px;
    .input-detail-img{
      width: 350px;
      height: auto;
    }
    .input-file{
      padding: 0;
      margin: 0;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }
    &.view-mode{

    }
    &.edit-mode{
      &.change-mode{
        .input-file {
          opacity: 0; /* invisible but it's there! */
          position: absolute;
          cursor: pointer;
          
        }
        .dropbox div {
          font-size: 1.2em;
          text-align: center;
          padding: 10px 0;
        }
        .upload-space{
          display: inline-block;
          color: dimgray;
          padding: 10px 10px;
          position: relative;
          cursor: pointer;
          & > div{
            color: blue;
            cursor: pointer;
          }
        }
      }
      &.drop-mode{
        .upload-space{
          outline: 2px dashed white; /* the dash box */
          outline-offset: -10px;
          background: #ffc145;
          color: white;
          padding: 10px 10px;
          min-height: 100px; /* minimum height */
          width: 280px;
          position: relative;
          cursor: pointer;
          & > div{
                      text-align: center;
            margin-top: 20px;
          }
        }
        .input-file {
          opacity: 0; /* invisible but it's there! */
          position: absolute;
          cursor: pointer;
        }
        .dropbox div {
          font-size: 1.2em;
          text-align: center;
          padding: 50px 0;
        }
      }
      
      
    }

    
  }
</style>
