<template>
  <div @mouseover="showRemoveButton = true" @mouseleave="showRemoveButton = false" class="contact-filter">
      <div class="position-relative">
      <h4 class="d-flex flex-row justify-content-space-between position relative">
        {{filter.displayName}}<a @click="remove" :style="{visibility: showRemoveButton? 'visible': 'hidden'}" class="remove">remove</a>
      </h4>
      </div>
      <div style="border: 1px solid #e5e5e5;" v-if="filterType == 'text' " class="rad position-relative acquiring-agent tags-input">
          <input v-on:keyup.enter="addFilter"
           v-model.trim="filterValue"  
           class="no-border padding-ten no-margin tags-input" type="text" 
           :placeholder="`Enter ${filter.name.toLowerCase()} to add to filter`">
          <div  @click="addFilter" class="position-absolute button d-flex justify-content-center align-items-center">+</div>
          <!-- <div style="background: white;" @click="addFilter" class="position-absolute">
            <img style="width: 16px;height: 16px;" src="@/assets/img/filter.svg">
          </div> -->
      </div>
      <div v-else-if="filterType == 'select'" >
        <v-select  
          :clearInputOnSelect="true"
          :clearSearchOnBlur="true"
          :allowOtherValues="false"
          :taggable = false
          :searchable="false"
          label="name"
          :clearable="false"
           :orange="false" 
          @itemChosen="addSelectFilter" 
          :options="options">
        </v-select>
      </div>
      <div v-if="filter.values.length > 0" class="contact-tag-div padding-five position-relative">
          <!-- <div class="closebtn main position-absolute" @click="clear"> -->
            <img style="right: 2px; top: 2px; height: 14px; width: 14px;" @click="clear" class="position-absolute pointer" src="@/assets/img/small-close-button.svg">
          <!-- </div> -->
          <div v-for="filterValue in filter.values" class="tag no-border d-flex align-items-center">
              <div v-if="filterType == 'select'">{{filterValue | filterName(options)}}</div>
              <div v-else>{{filterValue}}</div>
              <!-- <div> -->
              <img src="@/assets/img/close-black.svg" @click="removeFilterValue(filterValue)">
              <!-- <span class="closebtn" @click="removeFilterValue(filterValue)">&times;</span> -->
              <!-- </div> -->
          </div>
      </div>
  </div>
</template>

<script>
import Utils from '../utils/Utils.js'
import * as types from '../store/mutation-types'
import { mapGetters } from 'vuex';

export default {
  name: 'FilterBox',
  props: ['filter'],
  filters: {
    filterName: function (value, options) {
      if(!Array.isArray(options)){
        return value
      }
      let filterOption = options.find(el => el.value == value)
      return filterOption ? filterOption.name : value
    }
  },
  created () {
    let route = this.$route.name
    if( route == 'contacts'){
      this.addFilterValueMutation = types.ADD_CONTACTS_FILTER_VALUE
      this.removeFilterValueMutation = types.REMOVE_CONTACTS_FILTER_VALUE
      this.clearFilterMutation = types.CLEAR_CONTACTS_FILTER
      this.removeFilterMutation = types.REMOVE_CONTACTS_FILTER
      this.updateDataAction = 'getContacts'
    }else if(route == 'agents'){
      this.addFilterValueMutation = types.ADD_AGENTS_FILTER_VALUE
      this.removeFilterValueMutation = types.REMOVE_AGENTS_FILTER_VALUE
      this.clearFilterMutation = types.CLEAR_AGENTS_FILTER
      this.removeFilterMutation = types.REMOVE_AGENTS_FILTER
      this.updateDataAction = 'getAgents'
    }
    this.filterType = this.filter.type || 'text'
    this.init()
  },
  computed: {
    ...mapGetters({regions: 'regions',towns: 'towns', societies: 'soceities'})
  },
  methods: {
    init () {
      let filter = this.filter
      if(filter.type == 'select'){
        if(typeof filter.options == 'string'){
          switch (filter.options) {
            case 'towns':
              this.initTowns()
              this.$watch('towns', function (newVal) {
                this.initTowns()
              })
              break;
            case 'societies':
              this.initSocieties()
              this.$watch('soceities', function (newVal) {
                this.initSocieties()
              })
              break;
            default:
              break;
          }
        }else if(Array.isArray(filter.options)){
          this.options = Utils.cloneObject(this.filter.options)
        }
      }
    },
    initTowns () {
      if(Array.isArray(this.towns)){
        this.options = this.towns.map(el => {
          return {value: el.id, name: el.name}
        })
      }
    },
    initSocieties () {
      if(Array.isArray(this.societies)){
        this.options = this.societies.map(el => {
          return {value: el.id, name: el.name}
        })
      }
    },
    remove () {
      let updateDataAction = this.updateDataAction
      let hasValues = this.filterValues && this.filterValues.length > 0
      this.filterValues = []
      let query = Utils.cloneObject(this.$route.query)
      this.$store.commit(this.removeFilterMutation, {key: this.filter.key})
      console.info(hasValues)
      this.$store.dispatch(updateDataAction)
      
    },
    clear () {
      let updateDataAction = this.updateDataAction
      this.filterValues = []
      let query = Utils.cloneObject(this.$route.query)
      this.$store.commit(this.clearFilterMutation, {key: this.filter.key})
      this.$store.dispatch(updateDataAction)
    },
    removeFilterValue (filterValue) {
      let updateDataAction = this.updateDataAction
      let query = Utils.cloneObject(this.$route.query)
      this.$store.commit(this.removeFilterValueMutation, {key: this.filter.key, value: filterValue})
      // if(filterValues.length == 0){
      //   delete query[this.filter]
      // }
      this.$store.dispatch(updateDataAction)
    },
    addFilter () {
      let updateDataAction = this.updateDataAction
      
      let filterValue = this.filterValue
      if(filterValue && filterValue != ""){
        // query[this.filter] = this.filterValues.slice()
        this.$store.commit(this.addFilterValueMutation, {key: this.filter.key, value: filterValue})
        this.filterValue = ""
        this.$store.dispatch(updateDataAction)
      }

    },
    addSelectFilter (option) {
      this.$store.commit(this.addFilterValueMutation, {key: this.filter.key, value: option.value})
      this.$store.dispatch(this.updateDataAction)
    }
  },
  data () {
    return {
      filterValue: "",
      addFilterValueMutation: null,
      removeFilterValueMutation: null,
      clearFilterMutation: null,
      removeFilterMutation: null,
      updateDataAction:null,
      filterType: "text",
      showRemoveButton: false,
      options: null
    }
  }
}
</script>

<style scoped lang="scss">

.remove{
  right: 0;
  position: absolute;
  color: #1f97d6!important;
  font-style: normal;
  font-weight: normal;


}
</style>
