<template>
  <div class="contact-details agents-filter-panel">
    <div class="contact-filter" style="border-bottom: 1px solid #f0f0f0; height: 84px;">
          <h3 class="">{{title}}</h3>
          <v-select  v-on:itemChosen="addFilter" placeholder="add an input to filter" :clearInputOnSelect="true" 
            :clearSearchOnBlur="true" :clearable="false" 
            :showAddButton="true" :options="availableFiltersNames"> 
          </v-select>          
      </div>
      <div class="filters-list scroll" style="height: calc(100% - 84px);">
        <filter-box   v-for="filter in currentFilters" :key="filter.key" v-bind:filter="filter" ></filter-box>
      </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import * as types from '../store/mutation-types'
import Utils from '../utils/Utils';


export default {
  name: 'FilterPane',
  props: ['availableFilters', 'title', 'currentFilters'],
  created () {
    switch (this.$route.name) {
        case "agents":
          this.addFilterMutation = types.ADD_AGENTS_FILTER
          break
        case "contacts":
          this.addFilterMutation = types.ADD_CONTACTS_FILTER
    }
  },
  mounted () {
    window.$('.ac-agent.closebtn').css('display' , 'none');
    window.$('.ac-agent').css('display' , 'none');
    window.$('.ac-agent .closebtn').click(function() {
        window.$('.ac-agent #tag-con').empty();
    })
    window.$('.branch-con.closebtn').css('display', 'none');
    window.$('.branch-con').css('display', 'none');
    window.$('.branch-con .closebtn').click(function() {
    window.$('.branch-con #branch-tag-con').empty();
    })
    let $this = window.$(this.$el)
    let that = this
    // let $autoComplete = $this.find('#contact-filter-by > input')

    // this.filterInput = $autoComplete
    // $this.find('#contact-filter-by > input').autocomplete({
    //   source: that.availableFiltersNames,
    //   minLength: 0,
    //   search: function(event, ui){
    //   },
    //   select: function( event, ui ) {
    //     if(event.key){
    //       // handle it ourselves
    //       return
    //     }
    //     let selected = ui.item.label
    //     that.addFilter(selected, event)
    //   }
    // });
  },
  computed: {
    availableFiltersNames () {
      return this.availableFilters.map(el => el.displayName || el.name)
    }
  },
  methods: {
    showAutocomplete ($event) {
      this.filterInput.autocomplete( "search", "" )
      this.filterInputFocused = true
    },
    addFilter (filterDisplayName) {
      if(filterDisplayName){
        let filter = this.availableFilters.find(el => el.name == filterDisplayName || el.displayName == filterDisplayName)
        let filterName = filter.name 
        if(this.addFilterMutation){
          this.$store.commit(this.addFilterMutation, {name: filterName, displayName: filter.displayName || filter.name, type: filter.type || 'text', options: filter.options})
        }
        this.filterText = ""
        // window.$(event.target).blur()
      }
    }
  },
  data () {
    return {
      filterText: "",
      filterInputFocused: false,
      currentHighlighted: -1,
      filterInput: null,
    //used to hold the name of the vuex mutation to call depending on the route
      addFilterMutation: null
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

<style lang="scss">
@import '../assets/styles/_variables';
@import '../assets/styles/mixins';
.agents-filter-panel{
  border-left: 1px solid $border-medium-color;
  .filters-list{
    overflow: auto;
  }
}
.contact-details{

  .contact-filter{
      padding: 16px 20px;
      background: white;
      //font-family: "GothamBook";

      h3,h4{
          //color: black;
          color: #333;
          font-size: $main-header;
          letter-spacing: 0px;
          font-family: sans-serif;
          margin-bottom: 5px;
          font-family: "GothamMedium",sans-serif;


      }

      h4{
          font-size: $header;
      }

      & > div{
          widows: 100%;
      }

      .acquiring-agent{

          .button{
              @include round-button($blue,25px,0px,white,25px);
              right: 0;
              top: 0;
              height: 30px;
              width: 30px;
              border-radius: 0 2px 2px 0;
              padding: 0;
          }
          input{
              font-size: $header;
              letter-spacing: 0;
              width: 95%;
              left: 0;

          }
      }
      .contact-tag-div{
          border: 1px dashed  rgb(229, 229, 229);;
          overflow: hidden;
          min-height: 0px;
          margin-top: 10px;
          height: auto;
          //color: black;
          color: #333;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          padding: 5px 3px 5px;
          @include border-radius(4px);

          #tag-con,#branch-tag-con{
              padding: 0;
              margin: 0;
              line-height: 18px;
              height: 20px;
              width: 90%;
              border: 0;
          }


          .tag{
              width: auto;
              display: inline-block;
              padding: 0 5px;
              height: 15px;
              font-size: 10px;
              line-height: 15px;
              border-radius: 25px;
              background-color: #e2e2e2;
              border: 0;
              margin: 2px;
              img{
                margin-left: 5px;
                height: 6px;
                width: 6px;
                cursor: pointer;
              }
              
          }
          .closebtn {
              padding-left: 5px;
              // font-weight: bold;
              // float: right;
              // font-size: $subtext;
              
              cursor: pointer;
              
          }
          .main{
              right: 2px;
              top: 2px;
              // background: $blue;
              // color: white;
              // border-radius: 50%;
              width: 14px;
              height: 14px;
              padding: 0;
              text-align: center;
              // line-height: 12px;
              img{
                width: 14px;
                height: 14px;
              }
          }
      }

      #contact-filter-by{
          border: 0px;
          height: 30px;
          overflow: hidden;
          display: flex;
          font-family: "GothamRoundedBook",sans-serif;

          input{
              //border: 1px solid $border-deep;
              border: 1px solid $input-border;
              height: inherit;
              width: 90%;
              border-right: 0;
              position: relative;
              border-radius: 2px 0 0 2px;
          }

          button{
              height: 32px;
              border-radius: 0 2px 2px 0;
              width: 32px;
          }

      }
  }
}
</style>
