<template>
  <div @click="close" class="overlay">
  </div>
</template>

<script>
import * as events from '@/utils/constants/events'
export default {
  name: 'FullOverlay',
  mounted () {
    this.$bus.$on(events.SHOW_OVERLAY, this.toggleOverlay)
  },
  data () {
    return {
      showing: false
    }
  },
  methods: {
    toggleOverlay (show) {
      this.showing = show
      let $this = window.$(this.$el)
      let $overlay = $this
      console.error($this)
      if(show){
        $overlay.addClass('active')
      }else {
        $overlay.removeClass('active')
      }
    },
    close () {
      let $this = window.$(this.$el)
      let $overlay = $this
      $overlay.removeClass('active')
      this.$bus.$emit(events.CLOSING_OVERLAY)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  @import '../assets/styles/_variables';
  @import '../assets/styles/mixins';

  // overlay
  .overlay {
      visibility: hidden;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      background: #000;
      z-index: 2450;
      -webkit-transition: visibility 0 linear .4s, opacity .4s cubic-bezier(.4, 0, .2, 1);
      -moz-transition: visibility 0 linear .4s, opacity .4s cubic-bezier(.4, 0, .2, 1);
      transition: visibility 0 linear .4s, opacity .4s cubic-bezier(.4, 0, .2, 1);
      -webkit-transform: translateZ(0);
      -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
      -o-transform: translateZ(0);
      transform: translateZ(0);

      &.active {
          opacity: 0.5 !important;
          visibility: visible;
          -webkit-transition-delay: 0;
          -moz-transition-delay: 0;
          transition-delay: 0;
      }
  }

</style>
