<template>
    <div style="height:100%">
        <div   id="newGroup" class="active scroll" style="height: calc(100%);">
            <div class="new-group-name border-bottom">
            <form>
                <div class="form-group black-text">
                    <label v-if="mode == 'old'" for="first-name">Editing {{group.name}}</label>
                    <label v-else for="first-name">Enter a name for the group</label>
                    <input ref="nameInput" autocomplete="off" v-model="groupName" id="first-name" type="text" class="form-control">
                    <p v-if="groupName==''" class="error p-0 m-0">This field is required</p>
                </div>
            </form>
            </div>
            <div class="new-group-settings-panel pt-3">
            <div class="new-group-settings px-3"> 
                <div class="flex-row align-center header">
                    <h6 class="medium no-padding no-margin">Administrative</h6>
                    <div class="dividerS"></div> 
                </div>
                <div v-for="priv in localPrivilegesMap['administrative']">
                <div class="settings-group py-2">
                    <div class="d-flex flex-row align-items-center justify-content-between">
                        <div>- {{priv.name}}</div>
                        <switch-button v-model="priv.value"></switch-button>
                    </div>
                </div>
                </div>
            </div>
            </div>
                
            <div class="new-group-settings px-3 pt-3">
            <div class="flex-row align-center header">
                <h6 class="medium no-padding no-margin">Activity</h6>
                <div class="dividerS"></div>
            </div>
            <div v-for="priv in localPrivilegesMap['activity']">
                <div class="settings-group py-2">
                    <div class="d-flex flex-row align-items-center justify-content-between">
                    <div>- {{priv.name}}</div>
                    <switch-button v-model="priv.value"></switch-button>
                    </div>
                </div>
            </div>
            </div>
            <div class="new-group-settings px-3 pt-3">
            <div class="flex-row align-center header">
                <h6 class="medium no-padding no-margin">Contact</h6>
                <div class="dividerS"></div>
            </div>
            <div v-for="priv in localPrivilegesMap['contact']">
                <div class="settings-group py-2">
                    <div class="d-flex flex-row align-items-center justify-content-between">
                    <div>- {{priv.name}}</div>
                    <switch-button v-model="priv.value"></switch-button>
                    </div>
                </div>
            </div>
            </div>
            <div class="new-group-settings px-3 pt-3">
            <div class="flex-row align-center header">
                <h6 class="medium no-padding no-margin">Agent</h6>
                <div class="dividerS"></div>
            </div>
            <div v-for="priv in localPrivilegesMap['agent']">
                <div class="settings-group py-2">
                    <div class="d-flex flex-row align-items-center justify-content-between">
                    <div>- {{priv.name}}</div>
                    <switch-button v-model="priv.value"></switch-button>
                    </div>
                </div>
            </div>
            
            </div>
            <div class="new-group-settings px-3 pt-3">
            <div class="flex-row align-center header">
                <h6 class="medium no-padding no-margin">Role</h6>
                <div class="dividerS"></div>
            </div>
            <div v-for="priv in localPrivilegesMap['role']">
                <div class="settings-group py-2">
                    <div class="d-flex flex-row align-items-center justify-content-between">
                    <div>- {{priv.name}}</div>
                    <switch-button v-model="priv.value"></switch-button>
                    </div>
                </div>
            </div>
            </div>
            <button></button>
            
        </div>
        
        <!-- <div v-if="mode == 'show'" id="newGroup" class="active scroll" style="height: calc(100%);">
            <div class="new-group-name border-bottom">
                <form>
                    <div class="form-group black-text">
                        <label for="first-name">Group Name</label>
                        <h4 class="font-weight-bold text-uppercase">{{group.name}}</h4>
                    </div>
                </form>
            </div>
            <div class="new-group-settings-panel p-4">
            <div class="new-group-settings">
                <div class="flex-row align-center header">
                    <h6 class="medium no-padding no-margin">Privileges</h6>
                    <div class="dividerS"></div>
                </div>
                
                <div v-for="priv in group.privileges">
                    <div class="settings-group">
                        <div class="d-flex flex-row align-items-center justify-content-between p-2">
                            <div>- {{priv.name}}</div>
                            <switch-button :disabled="true" checked="true" :value="priv.code" v-on:onHola="priv.code" :event="priv.code"></switch-button>
                        </div>
                    </div>
                </div>
            </div>
            </div> 
                
            
        </div> -->
    </div>
</template>
<script>
import Utils from '../utils/Utils'

// set group prop to null to reset this group
export default {
name: 'GroupShow',
  props: ['group', 'privileges', 'contactprivileges','activityprivileges','administrativeprivileges','agentprivileges'],
  data () {
    return {
        messages:[],
        mes:null,
        groupName:"",
        mode: null,
        localAgentprivileges:[],
        localAdministrativeprivileges:[],
        localContactprivileges:[],
        localActivityprivileges:[],
        localPrivileges: [],
        localPrivilegesMap: {}
    }
  },
  watch: {
    privileges (newValue) {
      this.setUpPrivileges(newValue)
    }
  },
  created () {
    this.setUpPrivileges(this.privileges)
    this.setup()
  },
  mounted () {
    
  },
  methods:{
      setUpPrivileges (privileges) {
        privileges = privileges || []
        this.localPrivileges = privileges.map((priv) => {
          return {id: priv.id, name: priv.name, value: false, privilege_type: priv.privilege_type}
        })
        this.localPrivilegesMap =  this.localPrivileges.reduce((acc, priviledge) => {
          acc[priviledge.privilege_type] = acc[priviledge.privilege_type] || []
          acc[priviledge.privilege_type].push(priviledge)
          return acc
        }, {})
      },
      setUpPrivilegesValues () {

      },
      clonePriviledges (priviledges) {
        return priviledges.map((priv) => {
          return {id: priv.id, name: priv.name, value: false, privilege_type: priv.privilege_type}
        })
      },
      getLocalPriviledges (type) {
        switch (type) {
            case "contact":
              return this.localContactprivileges
            case 'activity':
              return this.localActivityprivileges
            case 'agent':
              return this.localAgentprivileges
            case 'administrative':
              return this.localAdministrativeprivileges
              
            default:
              return
          }
      },
      onHola ({id, checked}) {
        
        let i = this.messages.indexOf(id)
        // console.info(index)
        if(checked == false){
            this.messages.splice(i, 1)
        }else if(checked && i == -1){
            this.messages.push(id)
        }
        // this.$event.target.payload
        // this.messages.push(msg);
        // console.error("This is the thing I was looking for",msg)
        // this.$bus.$emit("priviledgeSet", {code: this.event, value: this.value});
    },
    setup () {
      let group = this.group
      if(group && group.id){
        this.mode = 'old'
        this.groupName = group.name
        this.localPrivileges.forEach(priv => {
          if(group.privileges.findIndex(el => priv.id == el.id) > -1){
            priv.value = true
          }else{
            priv.value = false
          }
        })
      }else{
        this.mode = 'new'
        this.groupName = ''
        this.localPrivileges.forEach(priv => {
          priv.value = false
        })
      }
      $(this.$refs.nameInput).focus()
    },
    reset () {
      this.setup(null)
    },
    getSelectedPrivilegeIds () {
      return this.localPrivileges.filter(el => el.value == true)
      .map(el => el.id)
    }
  },
  events: {
    'hola': function (msg) {
      // `this` in event callbacks are automatically bound
      // to the instance that registered it
      this.messages.push(msg)
    }
  }
  
}
</script>

<style lang="scss" scoped>
    .error{
        color: red;
        font-size: 9px;
    }
</style>


