<template>
    
    
</template>

<script>
import Utils from '@/utils/Utils'
export default {
    name: 'FarmerMap',
    props: ['farmer','id', 'coords', 'bounds'],
    data () {
        return {
            map: null,
            coor:null
        }
    },
    mounted () {
        mapboxgl.accessToken = 'pk.eyJ1Ijoic2VkZGllNjIiLCJhIjoiY2pmMmtyZTBpMHhrZTMzb210dHE4cmxkaSJ9.t4Q4KTOSUCh4wRO13p2HZQ';
        var map = new mapboxgl.Map({
            container: `map${this.farmer.id}${this.id}`, // container id
            style: 'mapbox://styles/seddie62/cjf2kdmqf1wdh2so7qoj54r6i', // stylesheet location
            center: [0,8], // starting position [lng, lat]
            zoom: 5 // starting zoom
        });
        var farm ;
        var coor;
        this.map = map

        
        //fullscreen and navigation controllers
        map.addControl(new mapboxgl.FullscreenControl());
        map.addControl(new mapboxgl.NavigationControl(),'top-left');

        let that = this

        // if bounds exist
        if(typeof this.bounds != "undefined"){
            farm = this.bounds.map(el =>{
                return [el.lng,el.lat]
            })
        }

        //if locations exist
        if(typeof this.coords != "undefined"){
          coor = [this.coords.lng, this.coords.lat]
        }

        console.log("Farm bounds 1",farm)
        console.log("Farm coors 1",coor)

        var coord = [[[-67.13734351262877, 45.137451890638886],
                        [-66.96466, 44.8097],
                        [-68.03252, 44.3252],
                        [-69.06, 43.98]]];
        map.on('load', function () {
            if (farm.length>1 || typeof this.bounds != "undefined") {
                that.setCoordinates(map,farm)
            }
            if (coor.length > 0 || typeof this.coords != "undefined") {
               that.setLocation(map,coor)
            }
            
        });

        
        
        // var coor = []
        // // for (let index = 0; index < farm.length; index++) {
        // //     var coordinates = [farm[index].lng,farm[index].lat]
        // //     coor.push(coordinates)
        // // }

        // //if locations exist
        // if(Utils.present(this.coords)){
        //   coor = [el.lng, el.lat]
        // }

        // console.log('yup', coor[0]) 
        

        // this.$bus.$on("accordionParentItemSelected", function(data){
        //     console.log("item selected",data.menuItem)
        //     if(data.menuItem.toLowerCase() == "farm data")
        //     {
        //         map.resize()
        //     }
        // })
        // this.$bus.$on("accordionMenuItemSelected", function(data){
        //     if(data.toLowerCase() == "farm data")
        //     {
        //         map.resize()
        //     }
        // })
        
        

        // console.log("coor",coor)

        

    },
    methods:{
        setCoordinates(map,coor){
            map.addLayer({
                'id': 'maine',
                'type': 'fill',
                'source': {
                    'type': 'geojson',
                    'data': {
                        'type': 'Feature',
                        'geometry': {
                            'type': 'Polygon',
                            'coordinates': coor
                        }
                    }
                },
                'layout': {},
                'paint': {
                    'fill-color': '#ff0000',
                    'fill-opacity': 0.8
                }
            });
            console.log("coord",coor)
        },
        setLocation(map,coord){
            var framesPerSecond = 15; 
            var initialOpacity = 1
            var opacity = initialOpacity;
            var initialRadius = 8;
            var radius = initialRadius;
            var maxRadius = 18;

            // Add a source and layer displaying a point which will be animated in a circle.
            map.addSource('point', {
                "type": "geojson",
                "data": {
                    "type": "Point",
                    "coordinates": coord
                }
            });
            console.log("coordinate 0,0",[0,0]);
            console.log("Original",coord)
            map.addLayer({
                "id": "point",
                "source": "point",
                "type": "circle",
                "paint": {
                    "circle-radius": initialRadius,
                    "circle-radius-transition": {duration: 0},
                    "circle-opacity-transition": {duration: 0},
                    "circle-color": "#007cbf"
                }
            });

            map.addLayer({
                "id": "point1",
                "source": "point",
                "type": "circle",
                "paint": {
                    "circle-radius": initialRadius,
                    "circle-color": "#007cbf"
                }
            });


            function animateMarker(timestamp) {
                setTimeout(function(){
                    requestAnimationFrame(animateMarker);

                    radius += (maxRadius - radius) / framesPerSecond;
                    opacity -= ( .9 / framesPerSecond );

                    map.setPaintProperty('point', 'circle-radius', radius);
                    map.setPaintProperty('point', 'circle-opacity', opacity);

                    if (opacity <= 0) {
                        radius = initialRadius;
                        opacity = initialOpacity;
                    } 

                }, 1000 / framesPerSecond);
                
            }

            // Start the animation.
            animateMarker(0);
        }
    },
    beforeDestroy () {
        // this.map.resize()
        // this.$bus.$off('accordionParentItemSelected', this.menuItemSelected)
    },
}
</script>


