<template>
  <div class="d-flex flex-row px-3">
    <div class="pane-one border-right">
      <slot name="pane-one"></slot>
    </div>
    <div class="pane-two">
      <slot name="pane-two"></slot>
    </div>
  </div>
</template>  

<script>
    export default {
        name: "LeftSlidingPanel",
        mounted() {
            //this.$bus.$on("isLeftPanel", this.openLefty)
            this.$bus.$on("isPanelOpening", this.openLefty)
        },
        methods:{
            openLefty() {
                let $lefty = $this.find('.pane-one');
                let $main = $this.find('.pane-two');
                window.$('.pane-one').addClass('open')
                window.$('.pane-two').addClass('open')
                alert("Pane one")
                $lefty.addClass('open');
                $main.addClass('close');
                // let $img = window.$(event.target) 
                // let $this = window.$(this.$el)
                // let $detailsPanel = $this.find('.pane-two')
                // let $collapseButtonDiv = $this.find('.collapse-details-button')
                // if(this.isDetailsPanelOpen){
                //     // close the panel
                //     $detailsPanel.addClass('closed')
                //     $img.attr('src', leftChevron).css('right', '10px')
                //     $collapseButtonDiv.css('right', '-4px')
                // }else {
                //     $detailsPanel.removeClass('closed')
                //     $img.attr('src', rightChevron).css('right', '-10px')
                //     $collapseButtonDiv.css('right', '-5px')
                // }
                // this.isDetailsPanelOpen = !this.isDetailsPanelOpen

            }
        }
    }
</script>

<style lang="scss" scoped>
    .pane-one{
        //background: blue;
        flex: 0;
        width: 0;
        //display: none;
        height: inherit;
        transition: all 0.4s linear;

        &.open{
            //flex: 1;
            width: 300px;
            display: flex;
        }
    }
    .pane-two{
        //background: red;
        //flex: 4;
        width: 100%;
        //width: 900px;
        height: 100%;

        &.open{
            width: calc(100% - (300px))
        }
    }
</style>

