<template>
  <div class="full-height">

    <div id="loans-table" class="table-div">
        <table
            class="table position-relative">
            <!-- <loading-indicator style="top: 50%;left: 50%;"></loading-indicator> -->
            <thead class="position-relative table">
                <tr>
                    <th v-for="column in columns">{{column.header}}</th>
                    <th>
                    <button class="button-s" data-toggle="modal" data-target="#myModal"><img style="width: 14px;height: 14px" src="../assets/img/Asset 8.svg" alt=""></button>
                    </th>
                </tr>
            </thead> 
            <tbody class="no-margin" style="overflow-y: scroll;height: auto" >
                <!-- TABLE ROW COMPONENT -->

                    <tr class="pointer" @click="showLoadDetailView(loan)" v-for="loan in loans">
                        <td v-for="column in columns">
                          <template v-if="column.header ==  'ORIGINATOR' ">
                              <avatar :src="loan.loanOfficerPicture" v-bind:username="loan.loanOfficerName" color="white" :size="35" ></avatar>{{loan.loanOfficerName}}
                          </template>
                          <template  v-else-if="column.header ==  'DATE' " >{{loan[column.dataField] | moment("DD MMM YYYY")}}</template>
                          <template  v-else-if="column.header ==  'TIME' " >{{loan[column.dataField] | moment("mm:hh:ss")}}</template>
                          <template  v-else >{{loan[column.dataField]}}</template>
                        </td>

                        <td class="dropdown loan-table-menu">
                            <div class="agent-mini-menu">
                                <div class="agent-mask position-absolute"></div>
                                <button id="dis" class="trans" type="button">
                                   <img src="../assets/img/mail.svg" alt=""></button>
                                <button class="agent-drop dropdown-toggle" type="button" data-toggle="dropdown">
                                    <img src="../assets/img/more.svg" alt="">
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a class="black-text full-width full-height" href="#"><img src="../assets/img/two-contacts.png" alt="">Merge</a></li>
                                    <li><a class="black-text full-width full-height" href="#"><img src="../assets/img/adaptation.png" alt="">Re-assign</a></li>
                                    <li class="divider"></li>
                                    <li><a class="black-text full-width full-height" href="#"><img src="../assets/img/garbage.png" alt="">Delete</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
            </tbody>
        </table>
    </div>
    <div class="tfoot d-flex flex-row justify-content-between align-items-center">
            <p>Showing 50 of 50 Agents</p>
            <p>Total Customers - 130,550</p> 
    </div>
    <!-- ----------------------------MODAL ---------------------- -->
    <div class="modal fade choose-columns-modal" tabindex="-1"  id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Choose your columns</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <select @change="reArrangeColumns(index, $event)" v-for="(column, index) in columns" class="form-control" name='' id='selectR5'>
                                <option :value="index2" :selected="index == index2"  v-for="(column2, index2) in columns">{{column2.header}}</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <!-- <button {{action "reArrange"}} type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
                </div>
            </div>
        </div>
    </div>
    <add-edit-loan mode='EDIT'  display="none" :loanProp="loanToBeEditted"></add-edit-loan>
  </div>

</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import {FILTER_DROPDOWN_UPDATED} from '../utils/constants/events.js'
import {SURNAME, FIRSTNAME} from '../utils/Constants.js'
import Utils from '../utils/Utils.js'
import * as events from '@/utils/constants/events'
var faker = require('faker');

export default {
  name: 'LoansTable',
  created: function(){
    this.$bus.$on(FILTER_DROPDOWN_UPDATED, this.updateSortParameters)
    var locale = ["Fully Approved","New","Level 1","Level 2","Disbursed"];
    var pro = ["School Fees Loan","Agro Loan", "Auto Loan"]
    for(let i = 0; i < 30; i ++){
        var rand = Math.floor(Math.random() * 5) + 0;
        var proran = Math.floor(Math.random() * 3) + 0;
        let loan = {
            id: faker.random.number(),
            date: faker.date.recent(),
            applicantName: faker.name.findName(),
            product: pro[proran],
            amount: faker.random.number(100,2000).toLocaleString('ja-JP', { style: 'currency', currency: 'GHc'}),
            riskIQ: faker.random.number().toLocaleString('ja-JP'),
            status: locale[rand],
            loanOfficerName: faker.name.findName(),
            loanOfficerPicture: faker.image.avatar(),
        }
        this.loans.push(loan)
    }
  },
  beforeDestroy() {
      this.$bus.$off(FILTER_DROPDOWN_UPDATED, this.updateSortParameters);
  },
  methods: {
    showLoadDetailView (loan) {
      this.loanToBeEditted = loan
      this.$bus.$emit(events.SHOW_OVERLAY, true)
      window.$('#edit-loan-slider.slider').addClass('open');
      this.$bus.$once(events.CLOSING_OVERLAY, function () {
        window.$('#edit-loan-slider.slider').removeClass('open');
      })
    },
    updateSortParameters (params) {
      this.sortParameter.parameter = params.sortParameter
      this.sortParameter.order = params.order
    },
    reArrangeColumns (oldValue, event) {
      let newValue = parseInt(event.target.value)
      Utils.swapArrayElements(this.columns, oldValue, newValue)
    },
    itemChecked (isChecked, checkbox) {
        let $row = window.$(checkbox).parentsUntil('tbody')
        let $mask = $row.find('.contact-mask')
        if(isChecked){
            this.count++
            this.showCheckedMenu = true
            $row.css('background', '#f4f9f9')
        }
        else{
            this.count--
            this.showCheckedMenu = false
            $row.css('background', 'white')
        }
        if(this.count==0){
            this.showCheckedMenu = false
        }else{
            this.showCheckedMenu = true
        }
    }
  },
  data () {
    return {
      loans: [],
      loanToBeEditted: null,
      columns:[
        {header: "REQ. ID", dataField: "id"},
        {header: "DATE", dataField: "date"},
        {header: "TIME", dataField: "date"},
        {header: "APPLICANT NAME", dataField: "applicantName"},
        {header: "PRODUCT", dataField: "product"},
        {header: "AMOUNT", dataField: "amount"},
        {header: "RISKIQ", dataField: "riskIQ"},
        {header: "STATUS", dataField: "status"},
        {header: "ORIGINATOR", dataField: "loanOfficerName"}
      ],
      isChecked: false,
      checkedAgents: [],
      count: 0,
      sortParameter: {
        parameter: null,
        order: null
      },

      showCheckedMenu: false,
      checkedContacts: [],
      currentPage: 1,
      loadingAgents: false,
      firstInfiniteLoaderCall: true
    }
  },
  mounted:function(){
        window.$('.newDisplay').click(function(){
            window.$('.newDisplay').removeClass('active');
            window.$('#editAgent.slider').removeClass('open');
        })
        window.$('#edit-agent').click(function(){
            window.$('.newDisplay').addClass('active');
            window.$('#editAgent.slider').addClass('open');
        })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
    @import '../assets/styles/variables.scss';
    @import '../assets/styles/mixins.scss';

    //@import '../assets/fonts/fonts.scss';


    #loans-table{
        overflow: hidden;
        //border-right: 1px solid #666666;
        border-right: 1px solid #f0f0f0;
        font-family: "GothamRoundedMedium";
        overflow-y: auto;
        overflow-x: hidden;
        @include scrollbar(5px, 1px);

        table{

            th,td{
                // height: 60px;
                // font-size: 12px;
                font-family: "GothamRoundedBook",sans-serif;
                text-align: left;

                //border-bottom: 1px solid #999999;

                &:nth-child(1){
                    cursor: pointer;
                    padding-left: 17px !important;
                }

                 &:nth-child(2){
                }
                &:nth-child(3){

                }
                // &:nth-child(4){
                //     width: 15%;
                // }



                // &:nth-child(4){
                //     width: 20% !important;
                // }

                &:last-child{
                    //border: 1px solid black;
                    text-align: right;
                     cursor: pointer;
                     width: 4%;
                }
            }
            th{
                // text-transform: uppercase;
                // font-size: 10px;
                // font-family: "GothamRoundedMedium",sans-serif;
                //font-weight: 400;
                // padding-left: 0px !important;
                // height: 50px;
                &:nth-child(1){
                    padding-left: 17px!important;
                }
                &:nth-child(3){
                    // padding-left: 55px !important;
                }

                &:last-child{
                    //border: 1px solid black;
                    text-align: right;
                    padding-right: 10px !important;

                    img{
                        //border: 1px solid black;
                        width: 20px;
                        height: 20px;
                        display: block;

                    }
                }
            }

            tbody{
                tr{
                // background: white;
                    &:hover{
                        background: #fafafa;
                    .agent-mini-menu{
                        border: 1px solid #e5e5e5 !important;
                        .trans{
                            visibility: visible !important;
                        }
                        .contact-mask{
                            width: 0px;
                        }
                    }
                }
            }

            
          }
        }





        .agent-mini-menu{
            display: flex;
            flex-direction: row;
            width: 60px;
            position: relative;
            border-radius: 30px;
            float: right;
            margin-right: 8px;

            .trans{
                visibility: hidden;
            }
            button{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                //background: white;
                background: transparent;
                outline: 0;

                img{
                    width: 14px;

                    &:hover{
                        filter: invert(4) saturate(100%) brightness(100%);
                    }
                }

                // &:hover{
                //     background: rgb(230, 227, 227);
                // }
            }
        }

        .dropdown-toggle::after {
            display: none;
        }

        .dropdown-menu{
            z-index: 50;
            overflow:hidden;
            li{
                a{
                    font-size: 12px;
                    padding-left: 15px;
                    width: 100%;
                    height:100%;
                    img{
                        width: 16px;
                        margin-right: 10px;
                    }

                }
                &:hover{
                    background: #e8e8e8;
                    a{
                        background: transparent;
                    }
                }
            }
        }
        .active-stat{
            background: green;
        }
        .inactive-stat{
            background: red;
        }

        .tfoot{
            width: 100%;
            //height: 5vh;
            //line-height: 5vh;
            height: 50px;
            line-height: 50px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-left: 35px;
            padding-right: 14px;
            font-size: 10px;
            font-family: "GothamLight",sans-serif;
            position: absolute;
            bottom: 0;
            //border-top: 1px solid #666;
            border-top: 1px solid #f0f0f0;
            background: white;
        }
    }

    .divider{
        border-top: 1px solid $border-light;
        margin: 5px 0;
        margin-left: -15%;
        width: 120%;
    }

    .modal-header,.modal-footer{
        background: #fafafa;
        height: 9vh;

    }

    .modal-body{
        select{
            margin: 20px 5%;
            width: 90%;
            border: 1px solid $input-border;
        }
    }

    .form-control{
        margin: 15px 5px 15px 0;
    }



</style>
