<template>
  <div style="margin-top: 20px" class="contact-details">
    <div class="contact-filter position-relative" style="border-bottom: 2px solid #f0f0f0">
          <h3 class="">Filter Originate Leads by</h3>

          <div class="rad border position-relative" id="contact-filter-by">
              <input @focus="showAutocomplete($event)" @blur="filterInputFocused = false"
               v-on:keyup.enter="addFilter(matchedFilters[0], $event)"
               v-model="filterText" type="text" placeholder="Add a field to filter" class="no-border padding-ten no-margin">
              <button v-if="!filterInputFocused" class="position-absolute border">+</button>
          </div>
      </div>
      <filter-box  v-for="filter in currentFilters" :key="filter.key" v-bind:filter="filter"></filter-box>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import * as types from '../store/mutation-types'

export default {
  name: 'LoansFilterPane',
  mounted () {
    window.$('.ac-agent.closebtn').css('display' , 'none');
    window.$('.ac-agent').css('display' , 'none');
    window.$('.ac-agent .closebtn').click(function() {
        window.$('.ac-agent #tag-con').empty();
    })
    window.$('.branch-con.closebtn').css('display', 'none');
    window.$('.branch-con').css('display', 'none');
    window.$('.branch-con .closebtn').click(function() {
    window.$('.branch-con #branch-tag-con').empty();
    })
    let $this = window.$(this.$el)
    let that = this
    let $autoComplete = $this.find('#contact-filter-by > input')

    this.filterInput = $autoComplete
    $this.find('#contact-filter-by > input').autocomplete({
      source: that.filters,
      minLength: 0,
      search: function(event, ui){
      },
      select: function( event, ui ) {
        if(event.key){
          // handle it ourselves
          return
        }
        let selected = ui.item.label
        that.addFilter(selected, event)
      }
    });
  },
  computed: {
    ...mapGetters({
      currentFilters: 'currentAgentsFilters'
    })
  },
  methods: {
    showAutocomplete ($event) {
      this.filterInput.autocomplete( "search", "" )
      this.filterInputFocused = true
    },
    addFilter (filter, event) {
      if(filter){
        this.$store.commit(types.ADD_AGENTS_FILTER, {name: filter})
        this.filterText = ""
        window.$(event.target).blur()
      }
    }
  },
  data () {
    return {
      filters: ["Status", "Branch",  "Location", "Locality", "First Names", "Surnames", "Acquiring Agent"],
      filterText: "",
      filterInputFocused: false,
      currentHighlighted: -1,
      filterInput: null
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
@import '../assets/styles/_variables';
@import '../assets/styles/mixins';
.contact-details{

  .contact-filter{
      padding: 16px 20px;
      background: white;
      //font-family: "GothamBook";

      h3,h4{
          //color: black;
          color: #333;
          font-size: $main-header;
          letter-spacing: 0px;
          font-family: sans-serif;
          margin-bottom: 5px;
          font-family: "GothamMedium",sans-serif;


      }

      h4{
          font-size: $header;
      }

      div{

      }

      .acquiring-agent{

          button{
              @include round-button($blue,25px,0px,white,25px);
              right: 2px;
              top: 2px;
              border-radius: 0 2px 2px 0;
              padding: 0;
          }
          input{
              font-size: $header;
              letter-spacing: 0;
              width: 95%;
              left: 0;

          }
      }
      .contact-tag-div{
          border: 1px dashed $nav-gray;
          overflow: hidden;
          min-height: 0px;
          margin-top: 10px;
          height: auto;
          //color: black;
          color: #333;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
           padding: 5px 3px 5px;
          @include border-radius(4px);

          #tag-con,#branch-tag-con{
              padding: 0;
              margin: 0;
              line-height: 18px;
              height: 20px;
              width: 90%;
              border: 0;
          }


          .tag{
              width: auto;
              display: inline-block;
              padding: 0 5px;
              height: 15px;
              font-size: $paragraph;
              line-height: 15px;
              border-radius: 25px;
              background-color: $avatar-gray;
              border: 0;
              margin: 2px;
          }
          .closebtn {
              padding-left: 5px;
              font-weight: bold;
              float: right;
              font-size: $subtext;
              cursor: pointer;
          }
          .main{
              right: 1px;
              top: 1px;
              background: $blue;
              color: white;
              border-radius: 50%;
              width: 12px;
              height: 12px;
              padding: 0;
              text-align: center;
              line-height: 12px;
          }
      }

      #contact-filter-by{
          border: 0px;
          height: 30px;
          overflow: hidden;
          display: flex;
          font-family: "GothamRoundedBook",sans-serif;

          input{
              //border: 1px solid $border-deep;
              border: 1px solid $input-border;
              height: inherit;
              width: 90%;
              border-right: 0;
              position: relative;
              border-radius: 2px 0 0 2px;
          }

          button{
              height: 32px;
              border-radius: 0 2px 2px 0;
              width: 32px;
          }

      }
  }
}
</style>
