<template>
  <div class="d-flex flex-column">
    
  </div>
</template>

<script>
export default {
  name: 'MainContent',
  data () {
    return {

    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
  @import '../assets/styles/variables';
  @import '../assets/styles/mixins';

</style>
