 <template>
   <div class="full-height position-relative" style="height: calc(85vh -(90px));">
        <div id='map-diagram' class="dash-map full-height border"></div>

        <!-- <div class="map-button-div d-flex flex-column position-absolute">
            <button class="border rounded-circle bg-white mb-2"><img src="../assets/img/shuffle.svg" alt=""></button>
            <button class="refresh-map border rounded-circle bg-white"><img src="../assets/img/re.svg" alt=""></button>
        </div> -->
        <div id='info' class='info'></div>

   </div>
 </template>


 <script>
    import pointer from '../assets/img/3.png'
    import markerIcon from '../assets/img/4.png'
    import userIcon from '../assets/img/img.jpg'
    import expandIcon from '../assets/img/expand.png'
    import close from "../assets/img/cancel-music.png"
    import markerImg from "../assets/img/4.png"
    var faker = require('faker');
    export default {
        name: 'MapboxMap',
        props: ['id'],
        data: function () {
            return {
                mapName: this.id + "-map",
                markerCoordinates: [],
                map: null,
                bounds: null,
                markers: [{
                    latitude: 45,
                    longitude: 23
                },{
                    latitude: 3,
                    longitude: 45
                }],
                users: [
                    {firstName: 'Alice',lastName: 'Nunoo',branch: 'Mile 7',
                      num: '91679469',deposit:'825.00'
                    },
                    {firstName: 'Alice',lastName: 'Nunoo',branch: 'Mile 7',num: '91679469',
                      deposit:'825.00'
                    }
                ],
            }
        },
        mounted() {
            console.error("INITIAL: ", this.markerCoordinates);

            
            mapboxgl.accessToken = 'pk.eyJ1Ijoic2VkZGllNjIiLCJhIjoiY2lzdDlxYmYwMDAxeDJ5cWxuaWJqdms3eSJ9.9hKL9FuW0IErjm4j5LBwHA';

            var map = new mapboxgl.Map({
                container: 'map-diagram',
                style: 'mapbox://styles/mapbox/light-v9',
                center: [0, 8],
                zoom: 5
            });

            map.addControl(new mapboxgl.FullscreenControl());
            map.addControl(new mapboxgl.NavigationControl(),'top-left');

            var features = [];
            var feature;
            this.markerCoordinates.forEach(function(coord){
                feature = {  type: 'Feature',
                    geometry: {
                        type: 'Point',
                        coordinates: [coord.longitude,coord.latitude],
                        "iconSize": [40, 40]
                    },
                    properties: {
                        'marker-color': coord.primaryColor,
                        'marker-size': 'large',
                        picture: coord.picture,
                        firstName: coord.firstName,
                        branch: coord.branch,
                        lastName: coord.lastName,
                        type: coord.type,
                        status: coord.status,
                        primaryColor: coord.primaryColor,
                        secondaryColor: coord.secondaryColor,
                        price: coord.price,
                        label: coord.label,
                        boxes: coord.boxes
                    }
                }
                features.push(feature);
            })
            var geojson = {
                type: 'FeatureCollection',
                features: features
            }

            console.error("DATA: ", geojson);

            
            
        

            // add markers to map
            geojson.features.forEach(function(marker) {

                // create a HTML element for each feature
                var el = document.createElement('div');
                el.className = 'agentMarker';
                // el.style.background = marker.properties.primaryColor;
                //el.style.backgroundImage = 'url(' + marker.properties.markerImage + ')';
                el.style.backgroundImage = 'url('+markerImg+')';
                
                var contentString= '<div class="dashboard-info book d-flex flex-column"><div class="d-flex px-2 pt-2 pb-0 flex-row"><img class="rounded-circle" src="'+marker.properties.picture+'" alt=""><div class="d-flex flex-column pl-2"><p style="font-size: 14px" class="no-padding no-margin">'+marker.properties.firstName+'<br><strong>'+marker.properties.lastName+'</strong></p><p class="no-padding no-margin uppercase">'+marker.properties.type+'</p><p style="font-size: 10px" class="no-padding no-margin text-secondary">'+marker.properties.branch+' Branch</p></div></div>  <div class="dropdown-divider border-bottom border-top"></div><div style="height: 30px" class="d-flex px-2 justify-content-between"><div class="d-flex flex-row"><div style="background-color:'+marker.properties.primaryColor+'" class="agent-status rounded-circle"></div><p class="pl-2 bold">'+marker.properties.status+'</p></div><p>233 (0)208 012 893</p></div></div></div>';
                var all = ''

                for(var y= 0; y<5;y++){
                    var cont = '<div class="pb-2 pt-1 border-bottom" id="mini-box">'+
                    '<div class="d-flex flex-row px-2">'+
                        '<img class="rounded-circle" src="'+ marker.properties.boxes[y].avatar+'" alt="">'+
                        '<div class="pl-2 pt-1 d-flex flex-column justify-content-between">'+
                        '<h6 class="no-margin">'+marker.properties.boxes[y].firstName+'<br> <strong class="text-secondary">'+marker.properties.boxes[y].lastName+'</strong></h6>'+
                        '<p style="font-size: 10px" class="no-padding no-margin light">'+marker.properties.boxes[y].branch +'</p>'+
                        '<p style="font-size: 8px" class="no-padding no-margin"><strong>Account</strong> -'+marker.properties.boxes[y].num+'</p>'+
                        '</div>'+
                    '</div>'+
                    '<div class="dropdown-divider"></div>'+
                    '<div class="d-flex justify-content-between px-2">'+
                        '<p class="no-margin">Deposit</p>'+
                        '<p class="light text-secondary no-margin">'+marker.properties.boxes[y].deposit+'</p>'+
                    '</div>'+
                    '</div>'
                     var all = all + cont;
                }


                var contentInfo = '<div class="border agent-popup close round-book">'+
                    '<div class="d-flex justify-content-end pr-2">'+
                    '<button id="expand-button" class="expand-button"><img id="expand-agent" src='+expandIcon+'></button>'+
                    '</div>'+all+'</div>'

                //var info = document.getElementById('expand-button');

                // var el = document.createElement('div');
                // el.className = 'marker';
                // el.style.backgroundImage = 'url(https://placekitten.com/g/' + marker.properties.iconSize.join('/') + '/)';
                // el.style.width = marker.properties.iconSize[0] + 'px';
                // el.style.height = marker.properties.iconSize[1] + 'px';

                
                

                
                
                var markerLabel = document.createElement('div');
                markerLabel.className = 'agent-label';
                markerLabel.style.backgroundImage = 'url('+pointer+')';
                var span = document.createElement('span');
                var t = document.createTextNode(marker.properties.label);     
                span.appendChild(t)
                markerLabel.appendChild(span)
                //markerLabel.setAttribute('after','15')
                markerLabel.addEventListener('click', function() {
                    if(window.$(".agent-popup").hasClass('close')){
                        window.$(".agent-popup").toggleClass('open','close')
                    }
                    else if(window.$(".agent-popup").hasClass('open')){
                        window.$(".agent-popup").toggleClass('close','open')
                    }
                });

                
                new mapboxgl.Marker(markerLabel,{
                    offset: {
                            x: 18,
                            y: -15
                        }
                    }).setLngLat(marker.geometry.coordinates)
                      .addTo(map);
               
                new mapboxgl.Marker(el)
                    .setLngLat(marker.geometry.coordinates)
                    .setPopup(new mapboxgl.Popup({offset: 15, closeButton: false, closeOnClick: false}) // add popups
                    .setHTML(contentInfo))
                    .addTo(map);
               
            });

            

            window.$('.refresh-map').click(function(){
                //alert("HOLA")
                map.setStyle('mapbox://styles/mapbox/light-v9');
            })

            window.$('.expand-button').click(function(){
                alert("I WAS CLICKED");
                console.error("CLICK ME")
                // if(window.$(".agent-popup").hasClass('close')){
                //     window.$(".agent-popup").toggleClass('open','close')
                // }
                // else if(window.$(".agent-popup").hasClass('open')){
                //     window.$(".agent-popup").toggleClass('close','open')
                // }
            })
            

            
        },
        created:function(){
            for (var i = 0; i < 5; i++){
                var long = Math.floor(Math.random() * -1) + -0.2278596;
                var lat = Math.floor(Math.random() * 5.7) + 5.6269246;
                var boxes= [];


                for (var y = 0; y < 5; y++){
                    var box={
                        firstName: this.$faker().name.firstName(),
                        lastName: this.$faker().name.lastName(),
                        image: this.$faker().image.avatar(),
                        branch: this.$faker().address.state(),
                        num: this.$faker().random.number(),
                        deposit: this.$faker().finance.amount(),
                        avatar: this.$faker().image.avatar()
                    }
                    boxes.push(box)
                }

                var user={
                    longitude: long,
                    latitude: lat,
                    title: this.$faker().company.companyName(),
                    boxes: boxes,
                    isMe: this.$faker().random.boolean(),
                    primaryColor: this.$faker().internet.color(),
                    secondaryColor: this.$faker().internet.color(),
                    picture: faker.image.avatar(),
                    firstName: this.$faker().name.firstName(),
                    lastName: this.$faker().name.lastName(),
                    type: this.$faker().random.boolean() ? "FT" : "FSO",
                    status: this.$faker().random.boolean() ? "Active" : "Inactive",
                    branch: this.$faker().random.boolean() ? "Haatso" : "Adenta",
                    phoneNumber: this.$faker().phone.phoneNumber(),
                    price :  faker.random.number().toLocaleString('ja-JP', { style: 'currency', currency: 'GHc'}),
                    label: this.$faker().random.number(13,20)
                    // firstName: this.$faker().name.firstName(),
                    // lastName: this.$faker().name.lastName(),
                    // image: this.$faker().image.avatar(),
                    // branch: this.$faker().address.state(),
                    // num: this.$faker().random.number(),
                    // deposit: this.$faker().finance.amount(),
                    // avatar: this.$faker().internet.avatar()
                };

                this.markerCoordinates.push(user);
                //console.log("USERS:", this.markerCoordinates);
            }

        },
        methods:{
            expandInfoBox:function(){
                alert("HAHA");
                if(window.$("#info-box").hasClass('on')){
                    window.$("#info-box").toggleClass('off','on')
                }
                else if(window.$("#info-box").hasClass('off')){
                    window.$("#info-box").toggleClass('on','off')
                }
                //window.$("#info-box").css("height","auto");
            }
        }
    };

</script>


<style lang="scss" scoped>
    @import '../assets/styles/_variables';
    @import '../assets/styles/app';
    @import '../assets/styles/_general';
    @import '../assets/styles/fonts';

    #map-diagram{
        width: 100%;
        height: 100%;
        height: calc(85vh -(90px));
    }

    .dash-map{
        width: inherit;
        height: calc(85vh -(90px));
        //border: 1px solid $avatar-gray;
        font-size: 8px !important;
        position: relative;

    }

    

    .map-button-div{
        bottom: 30px;
        right: 40px;
        z-index: 40;

        button{
            width: 50px;
            height: 50px;
            img{
                width: 24px;
                height: 24px;
            }
        }
    }

    .agent-marker {
        /* background-image: url('/assets/logo.png'); */
        background-color: red;
        background-size: cover;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
    }

    .mapboxgl-popup {
        max-width: 200px;
    }

    .mapboxgl-popup-content {
        text-align: center;
        //font-family: 'Open Sans', sans-serif;
    }






</style>
