<template>
    <div>
        <div class="map-diagram"  :id="mapName"></div>
    </div>
</template>




<script>
    import pointer from '../assets/img/3.png'
    import markerIcon from '../assets/img/4.png'
    import userIcon from '../assets/img/img.jpg'
    import expandIcon from '../assets/img/expand.svg'
    import close from "../assets/img/cancel-music.png"
    export default {
        name: 'map-diagram',
        props: ['id'],
        data: function () {
            return {
                mapName: this.id + "-map",
                markerCoordinates: [],
                map: null,
                bounds: null,
                markers: [{
                    latitude: 45,
                    longitude: 23
                },{
                    latitude: 3,
                    longitude: 45
                }],
                users: [
                    {firstName: 'Alice',lastName: 'Nunoo',branch: 'Mile 7',num: '91679469',deposit:'825.00'},
                    {firstName: 'Alice',lastName: 'Nunoo',branch: 'Mile 7',num: '91679469',deposit:'825.00'},
                ]
            }
        },
        mounted: function () {
            // Instantiating the map

            //static
            //const bounds = new google.maps.LatLngBounds();

            //dynamic
            this.bounds = new google.maps.LatLngBounds();

            //connecting the map to the chosen element
            const element = document.getElementById(this.mapName)
            const mapCentre = this.markerCoordinates[0]

            //setting the center of the google map
            const options = {
                center: new google.maps.LatLng(mapCentre.latitude, mapCentre.longitude),
                zoom: 8,
                //disableDefaultUI: true
            }
            //for dynamic maps where the coordinates are listed outside this component
            this.map = new google.maps.Map(element, options);

            //setting the properties for the markers
            var myIcon=markerIcon;
            var catIcon = {
                url: myIcon,
                size: new google.maps.Size(30, 30),
                scaledSize: new google.maps.Size(30, 30),
                origin: new google.maps.Point(0,0)
            }

            //tooltip
            // var contentString = '<div style="width: 160px" id="map-tooltip"><div style:"height: 60px;overflow:hidden !important;margin-left: 5px" class="row no-margin no-padding position-relative"><div style="width: 60px;height: 60px; border-radius: 30px; background: blue" class="img-div book"><img style="width: 60px;height: 60px; border-radius: 30px" src='+userIcon+' alt=""></div><div style="padding-left: 5px;right:0;bottom:0" class="position-absolute"><div style="font-size:14px;padding-top: 5px">Alice <br> <strong class="gray-text bold book">Nuonoo</strong> </div ><div style="font-size: 11px">Mile 7</div><div style="font-size:9px">Account-20383468536</div></div></div><div style="width: 100%;margin: 5px 0" class="dividerI"></div><div class="row position-relative no-margin no-padding"><div class="bold gray-text">Deposit</div><div style="bottom: 0px;right: 0px" class="gray-text position-absolute text-right">GHs2,500.00</div></div></div>'
            // var infowindow = new google.maps.InfoWindow({
            //     content: contentString
            // });

            //expandable infobox properties
            var infobox = new InfoBox({
                //content: document.getElementById("info-box"),
                disableAutoPan: false,
                maxWidth: 150,
                //alignBottom:true,
                alignBottom: false,
                pixelOffset: new google.maps.Size(-100, -136),
                zIndex: null,
                boxStyle: {
                opacity: 1,
                zIndex: 999,
                width: "200px",
                },
                //closeBoxMargin: "12px 4px 2px 2px",
                closeBoxMargin: "0px",
                //closeBoxURL: "https://i.imgur.com/e07Yvv9.png",
                closeBoxURL: close,
                infoBoxClearance: new google.maps.Size(1, 1),

            });
            infobox.addListener("domready", function() {
              let _this = this
              let $this = window.$('div.infoBox');
              let $closeButton = $this.find('#onCloseBut')
              $closeButton.on("click", function() {
                // _this.close()
                if(window.$("#info-box").hasClass('on')){
                    //window.alert("switch to off")
                    window.$("#info-box").toggleClass('off','on')
                }
                else if(window.$("#info-box").hasClass('off')){
                    //window.alert("switch to on")
                    window.$("#info-box").toggleClass('on','off')
                }
              });
            });




            //for static maps where the coordinates are listed in this component
            //const map = new google.maps.Map(element, options);
            var marker = this.markerCoordinates.forEach((coord) => {
                const position = new google.maps.LatLng(coord.latitude, coord.longitude);
                const marker = new google.maps.Marker({
                    position,
                    //static
                    //map

                    //dynamic

                    icon: catIcon,
                    // optimized: false,
                    //icon:myIcon,
                    map : this.map,
                    title: coord.title,
                    gestureHandling: 'cooperative'
                });
                var all = ''

                for(var y = 0 ; y < 5 ;y++){
                    var cont = '<div class="mini-box">'
                +   '<div class="row full-width no-margin">'
                +        '<div class="col-5 img-col no-margin no-padding">'
                +            '<img src="'+userIcon+'" alt="">'
                +        '</div>'
                +        '<div style="padding-left: 2px" class="col-7 data-col no-margin no-padding flex-column justify-center">'
                +            '<h6 class="no-margin no-padding">'+ coord.boxes[y].firstName+ '<br><b style="color:gray" class="round-book">'+coord.boxes[y].lastName+'</b></h6>'
                +            '<p style="font-size: 9px" class="no-margin no-padding">'+coord.boxes[y].branch +'</p>'
                +            '<p style="font-size: 8px" class="no-margin no-padding">Account - '+coord.boxes[y].num+'</p>'
                +        '</div>'
                +    '</div>'
                +   '<div style="font-size: 11px;margin-top: 5px" class="row full-width no-margin no-padding">'
                +        '<div class="col-6 no-margin no-padding">Deposit</div>'
                +        '<div style="color: gray" class="col-6 text-right no-margin no-padding round-book">GHc'+coord.boxes[y].deposit+'</div>'
                +    '</div>'
                +    '<div class="dividerI position-absolute"></div>'
                +'<!-- </div> -->'
                    var all = all + cont;
                }


                function expandingInfoBox(){
                    // window.alert("AHA");
                    if(window.$("#info-box").hasClass('on')){
                        window.$("#info-box").toggleClass('off','on')
                    }
                    else if(window.$("#info-box").hasClass('off')){
                            alert("switch to on")
                        window.$("#info-box").toggleClass('on','off')
                    }
                }


                var contentInfo = '<div style="background: white" id="info-box" class="position-relative on info-box">'
                +'<button id="onCloseBut"  class="position-absolute close"><img src='+expandIcon+'></button>'+
                all
                + '</div>'


                //static
                //map.fitBounds(bounds.extend(position))

                //dynamic
                this.markers.push(marker)
                this.map.fitBounds(this.bounds.extend(position))

                // var infobox = new google.maps.InfoBox();
                google.maps.event.addListener(marker, 'click', function() {
                    infobox.open(this.map, this);
                    infobox.setContent(contentInfo);
                    //infobox.style.opacity = 0;
                    //this.map.panTo(infobox.getPosition());
                });
                console.log("POSITIO: "+infobox.getPosition() )

                var expandBut = document.getElementsByClassName('close');

                google.maps.event.addListener(expandBut,'click',function(){
                    window.alert("BOOM")
                    if(window.$("#info-box").hasClass('on')){
                        window.alert("switch to off")
                        window.$("#info-box").toggleClass('off','on')
                    }
                    else if(window.$("#info-box").hasClass('off')){
                        window.alert("switch to on")
                        window.$("#info-box").toggleClass('on','off')
                    }
                })
                // google.maps.event.addDomListener(this.map, 'load', function(){
                //     alert("AHA")
                // });
                // var infowindow = new google.maps.InfoWindow();
                // infowindow.setContent(contentString);

                // marker.addListener('click', function() {
                //     infowindow.open(this.map, marker);
                // });

            });




        },
        created:function(){
            for (var i = 0; i < 5; i++){
                var long = Math.floor(Math.random() * -0.1) + -0.2278596;
                var lat = Math.floor(Math.random() * 5.7) + 5.6269246;
                var boxes= [];

                for (var y = 0; y < 5; y++){
                    var box={
                        firstName: this.$faker().name.firstName(),
                        lastName: this.$faker().name.lastName(),
                        image: this.$faker().image.avatar(),
                        branch: this.$faker().address.state(),
                        num: this.$faker().random.number(),
                        deposit: this.$faker().finance.amount(),
                        avatar: this.$faker().internet.avatar()
                    }
                    boxes.push(box)
                }
                //console.log(boxes);

                var user={
                    longitude: long,
                    latitude: lat,
                    title: this.$faker().company.companyName(),
                    boxes: boxes,
                    // firstName: this.$faker().name.firstName(),
                    // lastName: this.$faker().name.lastName(),
                    // image: this.$faker().image.avatar(),
                    // branch: this.$faker().address.state(),
                    // num: this.$faker().random.number(),
                    // deposit: this.$faker().finance.amount(),
                    // avatar: this.$faker().internet.avatar()
                };

                this.markerCoordinates.push(user);
                //console.log("USERS:", this.markerCoordinates);
            }

        },
        methods:{
            expandInfoBox:function(){
                //alert("HAHA");
                if(window.$("#info-box").hasClass('on')){
                    window.$("#info-box").toggleClass('off','on')
                }
                else if(window.$("#info-box").hasClass('off')){
                    window.$("#info-box").toggleClass('on','off') 
                }
                //window.$("#info-box").css("height","auto");
            }
        }
    };

</script>

<style lang="scss" scoped> 
    @import '../assets/styles/_variables';
    @import '../assets/styles/app';
    @import '../assets/styles/_general';
    @import '../assets/styles/fonts';


    .map-diagram{
        width: inherit;
        height: inherit;
        //width: 600px;
        // height: 400px;
        //margin-left: 50px;
        height: 72vh;
        border: 1px solid $avatar-gray;
        font-size: 8px !important;

    }


    .gm-style-iw{
        width: 160px !important;
    }

    #map-tooltip{
        width: 100%;
        height: auto;
        padding: 10px;
        border: 1px solid $avatar-gray;
        font-family: "GothamBook",sans-serif;
        font-size: 8px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;


        div.gm-style div.gm-style-iw{
            font-size: 1% !important;
            // p{
            //     font-size: $paragraph;
            // }
            // h6{
            //     font-size: $subtext;
            // }
            // h4{
            //     font-size: 14px;
            // }
        }

        img{
            width: 40px;
            height: 40px;
        }

        p{
            //font-size: $paragraph;
            padding: 0;
            margin: 0;
        }
        h6{
            //font-size: $subtext;
            padding: 0;
            margin: 0;
        }
        h4{
            //font-size: 14px;
            padding: 0;
            margin: 0
        }

        .dividerI{
            width: 100%;
            margin: 5px 0;
        }

        .row{
            display: flex;
            justify-content: space-between;
            flex-direction: row;
        }
        .row:last-child{
            font-size: 10px;
        }

        .img-div{
            background: blue;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            padding: 20px;
        }
    }




    #info-box{
        width: 150px;
        //min-height: 100px;
        //height: 100px;
        overflow: hidden;
        border: 1px solid $line-color;
        padding: 5px;
        margin: 20px 10px;
        background: white;
        border-radius: 4px;
        transition: all 0.5s ease-in;



        #mini-box{
            overflow: hidden;
            margin: 0;
            //border-bottom: 1px solid black;
            margin-bottom: 10px;

            .img-col{
                flex-grow: 1;
                //border: 1px solid;
                img{
                    width: inherit;
                    border-radius: 50%;
                }
            }
            .data-col{
                flex-grow: 3;
                padding-left: 5px;
                padding-top: 5px;
                font-family: "GothamRoundedBook",sans-serif;
                h6{
                    font-size: 13px;
                }
                b{
                    color: gray;
                }
                p:first-child{
                    font-size: 9px;
                }
                p:last-child{
                    font-size: 8px;
                }
            }

            .dividerL{
                margin-left: -15px;
                width: 100%;
                border-top-color: gray
            }
            .dividerI{
                margin-left: -5px;
                width: 100%;
                border-top:2px solid #f0f0f0;
                margin-top: 5px;
                //margin-bottom: 5px;
            }
        }
    }



</style>
