<template>
  <div id="map-display" style="height: calc(85vh -(90px));">
     <!-- <div class="row">
        <div id="mapT" style="flex-grow: 1;height: 70vh;overflow-y: scroll;margin-right:5px" class="col flex-column align-center">
            <map-transactions></map-transactions>
            <map-transactions></map-transactions>
            <map-transactions></map-transactions>
        </div>
        <div style="flex-grow: 4" class="col no-padding no-margin">
            <map-diagram ></map-diagram>
        </div>
     </div> -->
     <mapbox-map></mapbox-map>
  </div>
</template>

<script>
import MapDiagram from '@/components/MapDiagram'
import MapTransactions from '@/components/MapTransactions'
export default {
  name: 'map-display',
  components: {
    'map-transactions': MapTransactions,
    'map-diagram': MapDiagram,
  }
}
</script>

<style lang="scss" scoped>
  @import '../assets/styles/_variables';
  @import '../assets/styles/mixins';
  @import '../assets/styles/fonts';
  @import '../assets/styles/app';
  @import '../assets/styles/client';


    #map-display{
        height: auto;
        #mapT{
            flex-direction: column;
            height: 70vh !important;
            overflow-y: scroll !important;
            overflow-x: hidden;
            @include scrollbar(5px, 1px);
            // @include scrollbar(5px, 1px);
            padding-bottom: 0;
            border-bottom: 1px solid $line-color;
            padding-top: 5px;
        }

        col:last-child{
            border-bottom: 1px solid $line-color;
        }

        .row{
            width: 100%;
            margin: 0;
        }
        //overflow: hidden;
    }
</style>
