<template>
  <div id="map-transactions">
      <h6 class="bold">{{transactionType}}</h6>
      <h4>GHs{{price}}</h4>
      <div class="dividerI"></div>
      <div class="row green-text">
          <div class="col-xs-9">
              successful
          </div>
          <div class="col-xs-3 text-right">950</div>
      </div>
      <div class="row red-text">
          <div class="col-xs-9">
              pending
          </div>
          <div class="col-xs-3 text-right">90</div>
      </div>
      <div class="row gray-text">
          <div class="col-xs-9">
              failed
          </div>
          <div class="col-xs-3 text-right">5</div>
      </div>
  </div>
</template>

<script>
  export default {
    name: 'map-transactions',
    data () {
        return {
            transactionType: 'total transactions',
            price: '122,078,012.00'
        }
    }
    
  }
</script>


<style lang="scss" scoped>
   @import '../assets/styles/_variables';
   @import '../assets/styles/app';
   @import '../assets/styles/_general';
   @import '../assets/styles/fonts';

    #map-transactions{
        border: 1px solid $avatar-gray;
        width: 170px;
        height: auto;
        text-transform: uppercase;
        font-size: 12px;
        padding: 10px 15px;
        font-family: 'GothamRoundedBook',sans-serif;
        margin: 5px 0;
    }
    .row{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        //font-weight: bold;
        margin: 5px 0;
        font-size: 10px;
    }
    h6{
        color: $avatar-gray;
        font-size: $paragraph;
        font-family: 'GothamRoundedLight',sans-serif;
    }
    h4{
        color: navy;
        font-size: $main-header;
        text-transform: none;
        font-weight: bold;
    }
    .dividerI{
        margin-bottom: 5px;
        width: 100%;
    }
</style>

