<template>
  <div class="dropdown show" style="visibility: hidden;">
    <a style="font-size:12px;height: 30px"  class="display-box d-inline-flex flex-row align-items-center justify-content-between btn btn-light" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <div :style="{visibility: (mValue)? 'visible':'hidden'}"  class="d-inline-flex justify-content-start display-string">{{mValue? currentFilterName : 'ph'}}</div>
      <div class="arrow-down"></div>
    </a>

    <div  class="dropdown-menu">
      <a v-for="filter in filters" :key="filter.key"
      v-on:click="filterClicked(filter.key, $event)"  
      class="dropdown-item filter"
      :class="{active: mValue.param == filter.key}"
      >{{filter.name}}</a>
      <div class="dropdown-divider"></div>
      <a style="font-size:12px"  v-on:click="sortOrderChanged('ASC')" 
      class="dropdown-item"
      :class="{active: mValue.order == 'ASC'}">
      Ascending
    </a>
      <a style="font-size:12px"  v-on:click="sortOrderChanged('DESC')"
        class="dropdown-item"
      :class="{active: mValue.order == 'DESC'}"
      >
       Descending
     </a>
    </div>
  </div>
</template>

<script>
import Utils from '../utils/Utils.js'
import { mapGetters, mapActions } from 'vuex'
import {ASCENDING, DESCENDING} from '../utils/Constants.js'
import {FILTER_DROPDOWN_UPDATED} from '../utils/constants/events.js'
export default {
  name: 'NameFilterDropDown',
  // this is the name of the  sortParameters in  vuex
  // eg. a contacts table will use a contacts key
  props: ['dataTypeKey', 'filters', 'value', 'ns'],
  created () {
    this.init()
  },
  mounted () {
    let filterNames = this.filters.map(el => el.name)
    let longestFilter =  Utils.longestString(filterNames)
    let $this = window.$(this.$el)
    let jQueryFilterString = `a:contains('${longestFilter}')`
    let longestFilterEl = $this.find(jQueryFilterString).first()
    let longestFilterWidth = Utils.realWidth(longestFilterEl, $this)
    $this.find('div.display-string').css('min-width', longestFilterWidth)
    $this.css('visibility', 'visible')
  },
  methods: {
    filterClicked (filterKey, event) {
      this.mValue.param = filterKey
      this.sortParametersChanged()
    },
    sortOrderChanged(order){
      this.mValue.order = order
      this.sortParametersChanged()
    },
    sortParametersChanged(){
      this.$emit('input', this.mValue)
    },
    init () {
      if(this.value && this.value.param){
        this.mValue = Utils.cloneObject(this.value)
      }
    }
  },
  watch: {
    value () {
      this.init()
    }
  },
  data () {
    return {
      filterField: "",
      visibility: 'hidden',
      mValue: {param: null, order: null},
      mNs: null
    }
  },
  computed: {
    ...mapGetters({

    }),
    currentFilterName () {
      if(this.mValue && this.mValue.param){
        let el =  this.filters.find(el => el.key == this.mValue.param)
        return el.name
      }
      return ""
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
  @import '../assets/styles/variables';
  @import '../assets/styles/mixins';
  .display-box{
    background: white;
    padding: 3px 10px;
    //border: solid 1px #ababab;
    border: 1px solid $input-border;
  }
  .dropdown-item:active{
    background-color: white;
  }
  .dropdown-item.active{
    background-color: #f3f0bf;
  }
  .display-box:active{
    background-color: white!important;
  }
  .display-string{
    margin-right: 10px;
  }

  /*dropdown arrow*/
  .arrow-down {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;

    border-top: 6px solid #808080;
    }
  .dropdown-item{
    font-size: 12px;
    text-transform: initial;
  }
</style>
