<template>
  <transition name="slide-fade">
    <div style="background: white" :class="['btn position-absolute on-checkbox-select text-left',{activeSlide: active}]">
      <div style="margin:0 40px 0 8px" class="form-group md-checkbox no-label" >
        <input style="display: none" class="checked" id="onMenu" type="checkbox" data-value="">
        <label for="onMenu" class="check checked"></label>
      </div>
      <button class="disabled">Bulk email or SMS</button>
      <button class="disabled">Re-assign</button>
      <button class="disabled">Merge</button>
      <button class="disabled">Update field</button>
      <button class="disabled"><img src="static/img/garbage.png" alt=""></button>
    </div>
  </transition>
</template>

<script>
export default {
  name: '',
  props: ['active'],
  data () {
    return {

    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .disabled{
    cursor: not-allowed;
  }
   .on-checkbox-select{
    /*width: 0;
    transition: all 0.5s ease-in;
    background: white;*/
    position: absolute;
  }
  .slide-fade-enter-active {
    transition: all .3s ease;
  }
  .slide-fade-leave-active {
    transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(-100%);
    /* opacity: 0; */
  }
  /* .slide-fade-leave-to{
    transform: translate(-100%)
  } */
  .activeSlide{
    width: calc(100% - 310px);
  }
  .inactiveSlide{
    width: 0%;
  }
</style>
