<template>
  <div>
    <div class="d-flex flex-row justify-content-between contact-show-panel">
        <div class="">
            <p class="no-margin "><strong class="bold">Acc. No.:88888 </strong></p>
            <p class="no-margin "><strong>Cedi Pesewa Account </strong><i class="fa fa-chevron-down"></i></p>
        </div>
        <div>
            <p class="no-margin bold"><strong> GHs3,284.84</strong> </p>
            <p class="no-margin"><strong>Balance</strong></p>
        </div>
    </div>
    <div class="row no-margin single-contact-date">
        <div class="col-6 d-flex flex-row align-items-center">
            <h4>Recent Transactions</h4>
        </div>
        <div class="col-3">
            <form action="">
                <label class="no-margin" for="start">Start Date</label>
                <div class="input-group">
                    <input id="start" type="text" class="form-control" name="email" placeholder="01/07/2017 00:00">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
            </form>
        </div>
        <div class="col-3">
            <form action="">
                <label class="no-margin" for="end"> End Date</label>
                <div class="input-group">
                    <input id="end" type="text" class="form-control" name="email" placeholder="31/07/2017 23:59">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
            </form>
        </div>

    </div>

    <div class="row no-margin" id="single-contact-table">
        <table class="table position-relative">
            <thead class="position-relative">
                <tr>
                  <th>Date</th>
                  <th>Description</th>
                  <th>Type</th>
                  <th>In(GHs)</th>
                  <th>Out(GHs)</th>
                  <th>Balance(GHs)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>01 Dec 2017 18:24:56</th>
                    <th>Non-STG Purchase Fee CD 3117</th>
                    <th>DEB</th>
                    <th></th>
                    <th>300.00</th>
                    <th>7,891.56</th>
                </tr>
                <tr>
                    <th>01 Dec 2017 17:56:24</th>
                    <th>Ghana Electricity Bill</th>
                    <th>BP</th>
                    <th></th>
                    <th>250.00</th>
                    <th>7,051.01</th>
                </tr>
                <!-- {{table-row col1data="Date" col2data="Description" col3data="Type" col4data="In(GHs)" col5data="Out(GHs)" col6data="Balance(GHs)" display="none"}} --}} -->
            </tbody>
        </table>
    </div>
  </div>
</template>

<script>
export default {
  name: 'RecentTransactions',
  data () {
    return {

    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import '../assets/styles/variables';
@import '../assets/styles/mixins';
//-------contact show panel------------
.contact-show-panel{
    border: 1px solid black;
    border-left: 0;
    border-right: 0;
    background: #f1f1f1;
    padding: 5px 10px;

    i{
        font-size: $subtext;
        line-height: inherit;
        margin-left: 10px;
    }

    div:first-child{
        p:first-child{
            font-size: $subtext;
        }
    }
    div:last-child{
        p:last-child{
            font-size: $subtext;
        }
    }


}
.single-contact-date{
    height: 10vh;
    border-bottom: 1px solid black;
    padding: 0px 10px;

    select,input{
        height: 5vh;
    }
    select{
        margin-top: 2.5vh;
    }

    div{
        height: inherit;

        h4{
            line-height: 6vh;
            color: $black;
            font-size: 18px;
        }
    }



    label{
        font-size: $subtext;
    }
}
#single-contact-table{
    table{
        font-size: 12px;
        thead{
            letter-spacing: 0;
            text-transform: uppercase;
            font-size: 10px;
            th{
                width: auto;
                &:nth-child(3){
                    padding-left: 25px;
                }
                &:nth-child(3){
                    padding-left: 25px;
                }
                text-align: left;


            }
        }
        tbody{
            width: auto;
            th{
                font-weight: normal;
                text-align: left;
                &:nth-child(1){
                    padding-left: 25px;

                }

            }
            // td{
            //     &:nth-child(3){
            //         padding-left: 0px !important;
            //     }
            // }
        }
    }
}
</style>
