<template>
<div class="nf-scrollspy">

</div>
</template>


<script>   
    export default {
        name: 'Scrollspy',
        props: [],
        created () {
         
        },
        data () {
          return {
            currentSegment: null
          }
        },
        mounted () {
          let $el = $(el)

    let $tab = $el.find('.scroll')
    $tab.on('scroll', Utils.debounce(function(e) {
      console.info('direc', $tab.data('ignore-scroll'))
      if($tab.data('ignore-scroll')){
        return
      }
      let children = $tab.find('div[data-form-segment]') 
      let segment
      let parentTop = $tab.scrollTop()
      let parentOffset = $tab.offset().top
      for(let i = 0; i< children.length; i++){
        let child = $(children[i])
        let childOffset = child.offset().top
        let childTop = getOffset(parentTop, parentOffset, childOffset)
        if((parentTop + 60) > getOffset(parentTop, parentOffset, childOffset)){
          segment = child
        }else{
          break
        }
      }
      let oldSegmentName = segmentName 
      segmentName = segment ? segment.data('form-segment') : null
      if(oldSegmentName == segmentName){
        return
      }
      window.nf.bus.$emit(`nfScrollspy:changed${binding.value.ns}`, segmentName)
    }, 1000))
        },
        methods: {
          getOffset (parentTop, parentOffset, childOffset) {
            return (childOffset - parentOffset) + parentTop
          },
          scrollToSegment () {

          }
        },
        watch: {
         
        }
    }
</script>


<style lang="scss" scoped>
    @import '../assets/styles/variables';
    @import '../assets/styles/mixins';


    
</style>

