<template>
  <div class="admin-search-with-dropdown position-relative">
    <div class="d-flex flex-row dropdown">
      
      <a style="border:0"  class="d-flex flex-row align-items-center display-box btn btn-light dropdown-toggle" role="button" id="searchParamsDropdownLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img style="height: 12px; width: auto;" :src="searchImg" alt="" class="img-fluid center-block search-icon">
      </a>
      <input ref="search" style="border-radius: 0 !important;" 
        @keyup.esc="onEscape"
        @keydown.up.prevent="typeAheadUp"
        @keydown.down.prevent="typeAheadDown" 
        @blur="onSearchBlur"
        @keydown.enter.prevent="typeAheadSelect"
        @focus="onSearchFocus" 
        v-model="search"
        type="search" 
        autocomplete="off"
        :placeholder="placeholder"/>
         <div style="position: absolute;right: 0;bottom: 25%;" class="spinner" v-show="mutableLoading">
          <img style="height: 16px;" src="@/assets/img/rolling_anim.svg">
        </div>
       <div class="dropdown-menu params-dropdownmenu" aria-labelledby="searchParamsDropdownLink">
          <a v-for="param in availableSearchParams" v-on:click="dropDownItemClicked(param.name, $event)"
          :class="['dropdown-item', 'd-flex', 'flex-row', 'align-items-center', 'some-space', {active: searchParam == param.name}]">
          <img :src="param.img">
          {{param.name}}
        </a>
      </div>
    </div>
     
    <transition :name="transition">
      <ul ref="dropdownMenu" v-if="dropdownOpen" class="dropdown-menu scroll">
        <template v-for="(options, key, index) in filteredOptions">
            <li v-if="Array.isArray(options) && options.length > 0">
              <a style="padding: 10px 25px; background: #efefef;" class="d-flex align-items-center">
                {{key}}
              </a>
            </li>
            <li @mousedown.prevent="select(option, key)" v-for="(option, indextwo) in options" v-bind:key="indextwo" :class="{highlight: (index * Object.keys(filteredOptions).length + indextwo) === typeAheadPointer }" @mouseover="typeAheadPointer = (index * Object.keys(filteredOptions).length +indextwo)">
              <a class="d-flex align-items-center">
                <avatar v-bind:username="option.name"></avatar>
                <div>{{option.name}}</div>
              </a>
            </li>

        </template>
        <!-- <li style="padding: 30px 0;" v-if="!filteredOptions.length" class="no-options">
          <slot name="no-options">Sorry, no matching options.</slot>
        </li> -->
      </ul>
    </transition>
  </div>
</template>

<script>

import Utils from '@/utils/Utils.js'
import { mapGetters, mapActions } from 'vuex'
import * as mutationTypes from '@/store/mutation-types.js'
import pointerScroll from '@/components/vue-select/mixins/pointerScroll'
import typeAheadPointer from '@/components/vue-select/mixins/typeAheadPointer'
import ajax from './vue-select/mixins/ajax'

// images
import contactsImg from '@/assets/img/asset 3.svg'
import agentsImg from '@/assets/img/group2.svg'
import selfserviceImg from '@/assets/img/smartphone2.svg'
import transImg from '@/assets/img/asset 4.svg'
import searchImg from '@/assets/img/search_black.png'
var debounce = require('lodash.debounce');
import {CURRENT_URL} from "../utils/Constants.js";
import axios from 'axios'


function searchPersonsType (type, search) {
    let url = CURRENT_URL
    switch (type) {
      case 'Agents':
        url = `${url}agents/general_search`
        break;
      case 'Contacts':
        url = `${url}farmers/general_search`
        break 
      default:
        return
    }
    return  axios.get(url, { params: { search_term: search } })
}


export default {
  name: 'SearchWithDropdown',
  mixins: [pointerScroll, typeAheadPointer],
  props:  {
      /**
       * Contains the currently selected value. Very similar to a
       * `value` attribute on an <input>. You can listen for changes
       * using 'change' event using v-on
       * @type {Object||String||null}
       */
      value: {
        default: null
      },
      /**
       * Sets a Vue transition property on the `.dropdown-menu`. vue-select
       * does not include CSS for transitions, you'll need to add them yourself.
       * @type {String}
       */
      transition: {
        type: String,
        default: 'fade'
      },


  },
  created () {
    this.mutableValue = this.value
    this.mutableOptions = this.options.slice(0)
    this.mutableLoading = this.loading
  },
  computed: {
    searchImg () {
      switch (this.searchParam) {
        case 'Contacts':
          return contactsImg
        case 'Agents':
          return agentsImg
        default:
          return searchImg
      }
    },
    placeholder () {
      switch (this.searchParam) {
        case 'Contacts':
          return 'Search contacts'
        case 'Agents':
          return 'Search agents'
        default:
          return 'Search by Activities, Fonemessenger, Transactions...'
      }
    },
      /**
   * Return the current state of the
   * dropdown menu.
   * @return {Boolean} True if open
   */
    dropdownOpen() {
      // return true
      return this.open && !this.mutableLoading
    },
    /**
     * Classes to be output on .dropdown
     * @return {Object}
     */
    dropdownClasses() {
      return {
        open: this.dropdownOpen,
        searching: this.searching,
        loading: this.mutableLoading
      }
    },
        /**
     * The currently displayed options, filtered
     * by the search elements value. If tagging
     * true, the search text will be prepended
     * if it doesn't already exist.
     *
     * @return {array}
     */
    filteredOptions() {
      if(this.search.length < 2){
        return {}
      }
      return this.options
    },
        /**
     * Return the current state of the
     * search input
     * @return {Boolean} True if non empty value
     */
    searching() {
      
    }

  },
  watch: {
    /**
     * When the value prop changes, update
     * the internal mutableValue.
     * @param  {mixed} val
     * @return {void}
     */
    value(val) {
      this.mutableValue = val
    },
    search (newVal) {
      // this.$emit('input', this.search)
      this.filter(newVal)
    }

  },
  mounted () {

  },
  created () {

  },
  methods: {
    filter (search) {
      if(search.length < 2){
        return
      }
      this.mutableLoading = true
      this.searchPersons(search, this)
    },
    searchPersons: debounce((search, vm) => {
      let requests
      switch (vm.searchParam) {
        case 'Agents':
          requests = [vm.searchAgents]
          break;
        case 'Contacts':
          requests = [vm.searchContacts]
          break;
        default:
          requests = [vm.searchAgents, vm.searchContacts]
      }
      axios.all(requests.map(el => {
        return el(search)
      }))
      .then(data => {
        data.forEach(el => {
          if(el["farmers"]){
            vm.options["Farmers"] = el["farmers"]
          }else{
            vm.options["Farmers"] = []
          }
          if(el["agents"]){
            vm.options["Agents"] = el["agents"]
          }else{
            vm.options["Agents"] = []
          }
        })
      })
      .finally(() => {
            vm.mutableLoading = false 
        });
      // axios
      //   .get(url, { params: { search_term: search } })
      //   .then(data => {
      //     data = data["agents"] || data["farmers"]
      //     vm.options = vm.options || {}
      //     vm.options[param] = data.map(el => {
      //       el.type = type
      //       return el 
      //     })
      //   }
      //   ) 
      //   .catch(() => {})
      //   .finally(() => {
      //       vm.mutableLoading = false 
      //     // this.searchingPeople = false
      //   });
    }, 350),
    searchContacts (search) {
      return searchPersonsType("Contacts", search)
    },
    searchAgents (search) {
      return searchPersonsType("Agents", search)
    },
    dropDownItemClicked (param, event) {
      this.searchParam = param
      this.options = {}
      this.search = ""
    },
    onSearchFocus() {
        this.open = true
        this.$emit('search:focus')
    },
    select (option, key) {
      this.$emit('optionSelected', option)
      this.open = !this.open
      this.$refs.search.blur()
      switch (key) {
        case 'Agents':
          this.$router.push({name: 'agent', params: {id: option.id}})
          break
        case 'Farmers':
          this.$router.push({name: 'contact', params: {id: option.id}})
          break
      }
    },
        /**
     * Close the dropdown on blur.
     * @emits  {search:blur}
     * @return {void}
     */
    onSearchBlur() {
      this.open = false
      this.$emit('search:blur')
    },
  },
  data () {
    return {
      search: '',
      open: false,
      mutableValue: null,
      mutableLoading: false,
      mutableOptions: [],
      optionWasSelected: false,
      searchParam: null,
      options: {},
      availableSearchParams: [
        {name: 'All', img: searchImg},
        {name: "Contacts", img: contactsImg},
        {name: "Agents", img: agentsImg}
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
  @import '../assets/styles/variables';
  @import '../assets/styles/mixins';

  .admin-search-with-dropdown{
    .params-dropdownmenu{
      a.dropdown-item{
        &:hover, &.active{
            background: #f0f0f0;
        }
        padding: 5px 6px;
      }
    }
        /* Dropdown Menu */
    ul.dropdown-menu {
      font-size: 12px;
      display:block;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      z-index: 1000;
      min-width: 160px;
      padding: 0;
      margin: 0;
      width: 100%;
      border: 1px solid #ededed;
      box-shadow: 0px 3px 6px 0px rgba(0,0,0,.15);
      border-top: none;
      border-radius: 0 0 4px 4px;
      text-align: left;
      list-style: none;
      background: #fff;
        li {
          line-height: 1.42857143; /* Normalize line height */
        }
        li > a {
          font-size: 12px;
          display: block;
          padding: 3px 15px;
          clear: both;
          color: #333; /* Overrides most CSS frameworks */
          white-space: nowrap;
        }
        li:hover {
          cursor: pointer;
        }
        .highlight > a {
          /*
          * required to override bootstrap 3's
          * .dropdown-menu > li > a:hover {} styles
          */

          // background: #5897fb;
          // color: #fff;

          background-color: #dbdfe2;

        }
    }
  }

  input{
    font-size: 11px;
    border: 0 !important;
    border-bottom: 2px solid transparent !important;
    transition: all 0.2s ease-in !important;
    width: 50vh !important;

    &:focus{
      border-bottom-color: lightgray !important;
    }
  }
  .dropdown-item{
    padding: 10px 6px;
    font-size: 14px;
    text-transform: initial;
  }
  .search-icon{
    // max-width: 20px;
    // max-height: 20px;
    width: 12px;
    height: 12px;
  }
  .dropdown-item.active{
    background-color: #f3f0bf;
  }
  .display-box{
    background: white;
    border: 1px solid $input-border;
    //border: solid 1px #ababab;
  }
  .dropdown-item:active{
    background-color: white;
  }
  .dropdown-item.active{
    background-color: #f3f0bf;
  }
  .display-box:active{
    background-color: white;
  }
  .dropdown input{
    height: 30px;
    min-width: 300px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    padding: 6px;
    color: #505050;
    //border: solid 1px #ababab;
    border: 1px solid $input-border;
    border-left: none;
  }
  .dropdown  .btn {
    color: #505050;
    background: white;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    height: 30px;
  }
  .dropdown .btn.dropdown-toggle:active {
    background: white!important;
  }

  .dropdown-item img{
    //height: 20px;
    //width: 20px;
    width: 12px;
    width: 16px;
    height: 16px;
    filter: grayscale(100%) sepia(50%) brightness(0%);
  }



</style>
