<template>
  <div class="full-height">

    <div id="admin-users-table" class="table-div sector-table">
        <table  v-infinite-scroll="loadMore" infinite-scroll-distance="50"
        infinite-scroll-disabled="loadingAgents"
        class="table position-relative">
            <!-- <loading-indicator style="top: 50%;left: 50%;"></loading-indicator> -->
            <thead class="position-relative table">
                <tr>
                    <th>name</th>
                    <th v-for="column in columns.slice(0, 6)">{{column.header}}</th>
                    <th>
                    <button class="button-s" data-toggle="modal" data-target="#myModal"><img style="width: 14px;height: 14px" src="../assets/img/Asset 8.svg" alt=""></button>
                    </th>
                </tr>
            </thead>
            <tbody v-if="sectorCount == 0">
                <tr>
                    <td style="text-align:center" colspan="8">
                        No Sectors Available
                    </td>
                </tr>
            </tbody>
            <!-- <div v-if="count == 0" class="d-flex flex-row justify-content-center align-items-center">
                <p>No Users to Display</p>
            </div> -->
            <tbody v-else class="no-margin" style="overflow-y: scroll;height: auto" >
                <!-- TABLE ROW COMPONENT -->
                <tr v-for="sector in sectors">
                    <td tag="td"  class="pointer" ><avatar :src="sector.picture" v-bind:username="sector.name" color="white" :size="35" ></avatar>{{sector.name}}</td>
                    <td v-for="column in columns.slice(0, 6)">
                        <template  v-if="column.dataField ==  'created_at' " >{{sector[column.dataField] | moment("dddd, MMMM Do YYYY")}}</template>
                        <template  v-else-if="column.dataField ==  'town_count' || column.dataField  =='district_count' || column.dataField == 'society_count'" >{{sector[column.dataField]}}</template>
                        <template  v-else-if="column.dataField == 'is_active'" >active</template>
                        <template  v-else >{{sector[column.dataField] | notAvailable}}</template>

                    </td>
                    <td class="dropdown table-menu">
                        <div class="agent-mini-menu">
                            <button @click="deleteSector(sector.code)" id="dis" class="trans" type="button">
                                <img src="../assets/img/garbage.svg" alt=""></button>
                            <button @click="showEditSector(sector.name.toLowerCase())" id="edit-agent" class="trans agent-edit" type="button"> <img  src="../assets/img/edit (2).svg" alt=""></button>
                            <button class="agent-drop dropdown-toggle" type="button" data-toggle="dropdown">
                                <img src="../assets/img/more.svg" alt="">
                            </button>
                            <!-- <ul class="dropdown-menu dropdown-menu-right">
                                <li><a class="black-text full-width full-height" href="#"><img src="../assets/img/two-contacts.png" alt="">Merge</a></li>
                                <li><a class="black-text full-width full-height" href="#"><img src="../assets/img/adaptation.png" alt="">Re-assign</a></li>
                                <li class="divider"></li>
                                <li @click="deleteSector(sector.code)"><a class="black-text full-width full-height" href="#"><img src="../assets/img/garbage.png" alt="">Delete</a></li>
                            </ul> -->
                        </div>
                    </td>
                    <add-edit-sector :id='sector.name.toLowerCase()' :form="sector" mode="edit"></add-edit-sector>
                    <alert-box :sectorId="sector.id" message="Are you sure you want to delete this sector? Deleting this sector would delete all towns, societies and districts under it" submit="Delete" cancel="Cancel" :id="sector.code"></alert-box>

                </tr>
            </tbody>
        </table>
    </div>
    <div class="tfoot d-flex flex-row justify-content-between align-items-center">
            <p>Showing {{sectorCount}} of {{sectorCount}} Sectors</p>
            <p>Total Sectors - {{sectorCount}}</p>
    </div>
    <!-- ----------------------------MODAL ---------------------- -->
    <div class="modal fade choose-columns-modal" tabindex="-1" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Choose your columns</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <select @change="reArrangeColumns(index, $event)" v-for="(column, index) in columns.slice(0, 6)" class="form-control" name='' id='selectR5'>
                                <option :value="index2" :selected="index == index2"  v-for="(column2, index2) in columns">{{column2.header}}</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <!-- <button {{action "reArrange"}} type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
                </div>
            </div>
        </div>
    </div>

    <!-- ---------------------------- CREATE SECTOR ---------------------  -->
    <!-- <div class="modal fade choose-columns-modal" tabindex="-1" id="addSector" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add a Sector</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form class="px-3">
                        <div class="form-group">
                            <label for="sector-name">Name</label>
                            <input v-model="form.name" type="text" class="form-control mt-0" id="sector-name" aria-describedby="emailHelp">
                        </div>
                        <div class="form-group">
                            <label for="sector-code">Code</label>
                            <input v-model="form.code" type="text" class="form-control mt-0" id="sector-code">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button @click="addSector" type="submit" class="btn btn-primary">
                        <img :class="[{show: saving}, 'loading-img']" src="@/assets/img/spinner.svg"> Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div> -->
    <add-edit-sector id="addSector" :form="form"></add-edit-sector>

  </div>

</template>

<script>
import { mapGetters, mapActions } from 'vuex' 
import * as events from '../utils/constants/events.js'
import {SURNAME, FIRSTNAME,ngrok_url,CURRENT_URL} from '../utils/Constants.js'
import Utils from '../utils/Utils.js'
import axios from 'axios'
import Noty from 'noty'
var faker = require('faker')
import store from '@/store/index'

export default {
  name: 'SectorTable',
  created: function(){
    this.$bus.$on(events.ADD_USER, this.showSector)
    this.$bus.$on('alertSubmit', this.confirmDelete)
    this.$bus.$on('alertCancel', this.cancelDelete)
  },
  beforeDestroy() {
        this.$bus.$off(events.FILTER_DROPDOWN_UPDATED, this.updateSortParameters);
        this.$bus.$off('alertSubmit', this.confirmDelete);
        this.$bus.$off('alertCancel', this.cancelDelete);
  },
  methods: {
    showSector(){
        window.$('#addSector').modal('show')
    },
    addSector(){
        if (this.form.name==""||this.form.code=="") {
            this.$notify.error("Please make sure that all fields are correctly filled")
            
        }
        if(this.saving){
            return
        }
        let access_token = store.getters.token
        this.saving = true
        let url = `${CURRENT_URL}sectors`
        let params = this.form 

        axios.post(url, params)
        .then(data => {
            this.saving = false
            this.$notify.success("Sector Saved")
            window.$('#addSector').modal('hide')
            this.$store.dispatch('getSectors')
            this.form.name=""
            this.form.code=""
        }, error => {
            this.saving = false
            this.$notify.error("Failed To Save")
        })
    },
    showEditSector(code){
        window.$(`#${code}`).modal('show')
    },
    confirmDelete(payload){
        let url = `${CURRENT_URL}sectors/${payload.sectorId}`

        axios.delete(url)
        .then(data => {
            this.$notify.success("Sector Deleted")
            window.$(`.delete-sector-modal#${payload.id}`).modal('hide')
            this.$store.dispatch('getSectors')
        }, error => {
            window.$(`#${payload.id}`).modal('hide')
            console.log("Error",error)
            this.$notify.error(error.error)
        })
    },
    cancelDelete(payload){
        window.$(`.delete-sector-modal#${payload.id}`).modal('hide')
    },
    deleteSector(code){
        window.$(`.delete-sector-modal#${code}`).modal('show')
    },
    updateSortParameters (params) {
      this.sortParameter.parameter = params.sortParameter
      this.sortParameter.order = params.order
    },
    reArrangeColumns (oldValue, event) {
      let newValue = parseInt(event.target.value)
      Utils.swapArrayElements(this.columns, oldValue, newValue)
    },
    itemChecked (isChecked, checkbox) {
        let $row = window.$(checkbox).parentsUntil('tbody')
        let $mask = $row.find('.contact-mask')
        if(isChecked){
            this.count++
            this.showCheckedMenu = true
            $row.css('background', '#f4f9f9')
        }
        else{
            this.count--
            this.showCheckedMenu = false
            $row.css('background', 'white')
        }
        if(this.count==0){
            this.showCheckedMenu = false
        }else{
            this.showCheckedMenu = true
        }
    },
    loadMore () {
      if(this.firstInfiniteLoaderCall){
        this.firstInfiniteLoaderCall = false
        return
      }
      if(this.currentPage > 4){
        return
      }
      this.loadingAgents = true
      let query = Utils.cloneObject(this.$route.query)
      this.currentPage = this.currentPage + 1
      query.page = this.currentPage
      this.$store.dispatch('loadMoreAgents', query)
      .then(() => this.loadingAgents = false)
    },
    fetchUsers () {
        this.$store.dispatch('getUsers')
    }
  },
  computed: {
    ...mapGetters({
      sectors: 'sectors',
      sectorCount: 'sectorCount',
    }),
    sortedSectors(){

    }
  },
  data () {
    return {
      admins: [],
      columns:[
        {header: "ID", dataField: "id"},
        {header: "CODE", dataField: "code"},
        {header: "STATUS",dataField:"is_active"},
        {header: "NO. OF TOWNS", dataField: "town_count"},
        {header: "NO. OF DISTRICTS",dataField:"district_count"},
        {header: "NO. OF SOCEITIES",dataField:"society_count"},
        {header: "CREATED AT",dataField:"created_at"}
      ],
      //sectorCount: 0,
      isChecked: false,
      checkedAgents: [],
      sortParameter: {
        parameter: null,
        order: null
      },
      saving: false,
      showCheckedMenu: false,
      checkedContacts: [],
      currentPage: 1,
      loadingAgents: false,
      firstInfiniteLoaderCall: true,
      form:{
          name: "",
          code: ""
      }
    }
  },
  mounted:function(){ 
      this.$bus.$on('UserCreated',this.fetchUsers)
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
    @import '../assets/styles/variables.scss';
    @import '../assets/styles/mixins.scss';

    //@import '../assets/fonts/fonts.scss';


    #admin-users-table{
        overflow: hidden;
        //border-right: 1px solid #666666;
        border-right: 1px solid #f0f0f0;
        font-family: "GothamRoundedMedium";
        overflow-y: auto;
        overflow-x: hidden;
        @include scrollbar(5px, 1px);

        table{

            th,td{
                // height: 60px;
                // font-size: 12px;
                font-family: "GothamRoundedBook",sans-serif;
                text-align: left;
                width: calc(100%/8) !important;

                //border-bottom: 1px solid #999999;

                &:nth-child(1){
                    cursor: pointer;
                    padding-left: 17px !important;
                }

                 &:nth-child(2){
                }
                &:nth-child(3){

                }
                &:nth-child(4){
                    width: 15%;

                }



                // &:nth-child(4){
                //     width: 20% !important;
                // }

                &:last-child{
                    //border: 1px solid black;
                    text-align: right;
                     cursor: pointer;
                }
            }
            th{
                &:nth-child(1){
                    padding-left: 70px!important;
                }
                &:nth-child(3){
                    // padding-left: 55px !important;
                }

                &:last-child{
                    //border: 1px solid black;
                    text-align: right;
                    // padding-right: 10px !important;

                    img{
                        //border: 1px solid black;
                        width: 20px;
                        height: 20px;
                        display: block;

                    }
                }
            }

            tr{
               // background: white;
                &:hover{
                    //background: #fafafa;
                .agent-mini-menu{
                    border: 1px solid #e5e5e5 !important;
                    .trans{
                        visibility: visible !important;
                    }
                    .contact-mask{
                        width: 0px;
                    }
                }
            }
          }
        }





        .agent-mini-menu{
            display: flex;
            flex-direction: row;
            width: 90px;
            position: relative;
            border-radius: 30px;
            float: right;
            margin-right: 8px;

            .trans{
                visibility: hidden;
            }


            // &:hover{
            //     border: 1px solid rgb(179, 178, 178);
            //     .trans{
            //         visibility: visible;
            //     }
            //     .agent-mask{
            //         width: 0px;
            //     }

            // }

            button{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                //background: white;
                background: transparent;
                outline: 0;

                img{
                    width: 14px;

                    &:hover{
                        filter: invert(4) saturate(100%) brightness(100%);
                    }
                }

                // &:hover{
                //     background: rgb(230, 227, 227);
                // }
            }

            .agent-mask{
                //background: white;
                background: transparent;
                width: 61px;
                border-radius: 30px 0 0 30px;
                top: -2px;
                left: -2px;
                height: 34px;
                transition: width 0.5s ease-in;
            }

        }

        .dropdown-toggle::after {
            display: none;
        }

        .dropdown-menu{
            z-index: 50;
            overflow:hidden;
            li{
                a{
                    font-size: 12px;
                    padding-left: 15px;
                    width: 100%;
                    height:100%;
                    img{
                        width: 16px;
                        margin-right: 10px;
                    }

                }
                &:hover{
                    background: #e8e8e8;
                    a{
                        background: transparent;
                    }
                }
            }
        }
        .active-stat{
            background: green;
        }
        .inactive-stat{
            background: red;
        }

        .tfoot{
            width: 100%;
            //height: 5vh;
            //line-height: 5vh;
            height: 50px;
            line-height: 50px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-left: 35px;
            padding-right: 14px;
            font-size: 10px;
            font-family: "GothamLight",sans-serif;
            position: absolute;
            bottom: 0;
            //border-top: 1px solid #666;
            border-top: 1px solid #f0f0f0;
            background: white;
        }
    }
    #addSector{
        .btn{
            font-size: 11px;
            padding: 0 10px;
            line-height: 30px;
            height: 30px;
            margin-left: 10px;
            background: white;
            border: 1px solid #f0f0f0;
            border-radius: 2px;
            color: black;

            img{
                width: 16px;
            }
        }
    }

    .divider{
        border-top: 1px solid $border-light;
        margin: 5px 0;
        margin-left: -15%;
        width: 120%;
    }

    .modal-header,.modal-footer{
        background: #fafafa;
        height: 9vh;

    }

    .modal-body{
        select{
            margin: 20px 5%;
            width: 90%;
            border: 1px solid $input-border;
            
        }
    }

    .form-control{
        margin: 15px 5px 15px 0;
        
    }



</style>
