<template>
    <div class="settings-panel">
        <div style="padding-top: 20px;">
            <div class="settings-header d-flex flex-row align-items-center">
                <h6 class="uppercase medium no-padding no-margin">General Settings</h6>
                <div class="dividerS"></div>
            </div>
            <ul class="settings-body flex-row">
                <router-link tag="li" :to="general.link" v-for="general in generals" class="flex-column justify-center align-center">
                    <div class="flex-row justify-center align-center general-setting">
                        <img :src="general.img" alt="">
                    </div>
                    <p>{{general.title}}</p>
                </router-link>
            </ul>
        </div>
        <div>
            <div class="settings-header flex-row align-center">
                <h6 class="uppercase medium no-padding no-margin">Account Settings</h6>
                <div class="dividerS"></div>
            </div>
            <ul class="settings-body flex-row">
                <li v-for="account in accounts" class="flex-column justify-center align-center disabled">
                    <div class="account-setting flex-row justify-center align-center disabled">
                        <img :src="account.img" alt="">
                    </div>

                    <p class="disabled">{{account.title}}</p>
                </li>
            </ul>
        </div>
        <div>
            <div class="settings-header flex-row align-center">
                <h6 class="uppercase medium no-padding no-margin">Integration</h6>
                <div class="dividerS"></div>
            </div>
            <ul class="settings-body flex-row">
                <li v-for="integration in integrations" class="flex-column justify-center align-center disabled">
                    <div  class="integration flex-row justify-center align-center disabled">
                        <img :src="integration.img" alt="">
                    </div>

                    <p class="disabled">{{integration.title}}</p>
                </li>
            </ul>
        </div>
        <div>
            <div class="settings-header flex-row align-center">
                <h6 class="uppercase medium no-padding no-margin">automation</h6>
                <div class="dividerS"></div>
            </div>
            <ul class="settings-body flex-row">
                <li v-for="automation in automations" class="flex-column justify-center align-center disabled">
                    <div class="automation flex-row justify-center align-center disabled">
                        <img :src="automation.img" alt="">
                    </div>
                    <p class="disabled">{{automation.title}}</p>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
import handshakeImg from "../assets/img/admin_lemon_settings.svg"
import usersImg from "../assets/img/admin_users_new.svg"
import devicesImg from "../assets/img/admin_devices_new.svg"
import adminProductsImg from "../assets/img/admin_products.svg"
import adminBranchesImg from "../assets/img/admin_branches.svg"
import admin_corporate_profile_img from "../assets/img/admin_corporate_profile.svg"
import admin_service_and_billing_img from "../assets/img/admin_service_and_billing.svg"
import admin_general_ledger_img from "../assets/img/admin_general_ledger_new.svg"
import admin_crm_settings_img from "../assets/img/admin_crm_settings_new.svg"
import admin_riskiq_credit_img from "../assets/img/admin_riskiq_credit_new.svg"
import admin_riskiq_identity_img from "../assets/img/admin_riskiq_identity_new.svg"
import admin_geo_mapping_img from "../assets/img/admin_geo_mapping.svg"
import originate_img from "../assets/img/admin_originate.svg"
import checked_box_img from "../assets/img/admin_self_service.svg"
import eva_img from "../assets/img/admin_eva.svg"
import admin_mobibranch_img from "../assets/img/admin_mobibranch.svg"
import admin_fone_messenger_img from "../assets/img/admin_fone_messenger.svg"

// import devicesImg from "../assets/img/admin_devices.svg"


    export default {
        name: 'SettingsPanel',
        data () {
            return {
                generals: [
                    {title: "Users",img: usersImg, link:"/adminsettings/users"},
                    {title: "Sectors",img: devicesImg,link:"/adminsettings/sectors"},
                    {title: "Districts",img: adminProductsImg, link:"/adminsettings/districts"},
                    {title: "Towns",img: adminBranchesImg, link:"/adminsettings/towns"},
                    {title: "Societies",img: adminBranchesImg, link:"/adminsettings/soceities"},
                ],
                accounts: [
                    {title: "Corporate Profile",img: admin_corporate_profile_img, link: 'originate/loan_applications'},
                    {title: "Service and Billing",img: admin_service_and_billing_img, link: 'originate/loan_applications'},
                    {title: "General Ledger",img: admin_general_ledger_img, link: 'originate/loan_applications'},
                    {title: "EVA",img: eva_img, link: 'originate/loan_applications'}

                ],
                integrations: [
                    {title: "CBS/CRM Settings",img: admin_crm_settings_img},
                    {title: "RiskIQ Credit API",img: admin_riskiq_credit_img},
                    {title: "RiskIQ Identity API",img: admin_riskiq_identity_img},
                    {title: "MobiBranch API",img: admin_mobibranch_img},
                    {title: "Geo-Mapping API",img: admin_geo_mapping_img},
                    {title: "foneMessenger API",img: admin_fone_messenger_img},
                ],
                automations: [
                    {title: "Originate Workflow",img: originate_img, link: 'adminsettings/users_fields'},
                    {title: "Self-Service Workflow",img: checked_box_img, link: 'adminsettings/users_fields'}
                ],
            }
        },
    }
</script>

<style lang="scss" scoped>
    @import '../assets/styles/variables';
    @import '../assets/styles/mixins';
    @import '../assets/styles/fonts';
    @import '../assets/styles/app';
    @import '../assets/styles/_general';

    .settings-panel{
        margin: 5px 10px 25px 15px;
        // padding: 5px 0px;
        height: 81vh;
        overflow: hidden;
        overflow-y: scroll;
        @include scrollbar(5px, 1px);

        .settings-header{
            overflow: hidden;
            height: 30px;

            .dividerS{
                border-top: 1px solid #e5e5e5;
                flex: 1;
                margin: 0 10px;
            }
            h6{
                font-size: 12px;
                color: #333;
                width: auto;
                margin-right: 15px;
            }
        }

        .settings-body{
            margin-bottom: 0px;
            li{
               cursor: pointer;
                padding: 5px;
                width: 150px;
                height: 150px;
                p{
                    margin-top: 10px;
                    margin-bottom: 0;
                    font-size: 12px;
                }
                div{
                    &.general-setting{
                      background: limegreen;
                    }
                    &.account-setting{
                      background: darkolivegreen;
                    }
                    &.integration{
                      background: pink;
                    }
                    &.automation{
                      background: crimson;
                    }
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                    //padding: 25px;
                    img{
                        width: 30px;
                        height: 30px;
                    }

                }


                &:hover{
                    font-size: 14px;
                    // background: #f0f0f0;
                    // border-radius: 50%;
                    font-family: "GothamBold",sans-serif;
                    div{
                      background: #515251;
                      img{
                          width: 35px;
                          height: 35px;
                      }
                    }
                }
            }
        }

    }
    .disabled{
        cursor: not-allowed;
    }

</style>
