
<template>
    <div class="no-padding side-navigation">
         <nav class="side-navigation position-relative full-height d-flex flex-column">
             <!-- logo -->
             <div style="height:60px" class="logo flex-row justify-center align-center">
                 <a class="flex-row justify-center align-center" href="">
                     <img style="width: 40px; height:40px" src="../assets/img/lemon logo.svg" alt="">
                 </a>
             </div>
             <div class="d-flex flex-column justify-content-between flex-1">
               <ul class="navigation-items top-part">
                   <!-- section -->

                    <router-link tag="li" to="/dashboard">
                       <a href="" data-toggle="tooltip" data-placement="right" :title="$t('sideNav.dashboard')">
                       <!-- <a id="man" href="#"  data-toggle="tooltip" data-placement="right" title="Dashboard"> -->
                           <img src="../assets/img/pie-chart.svg" alt="" class="img-fluid center-block">
                       </a>
                    </router-link>
                    <!-- divider -->
                    <li class="divider"></li>
                    <!-- <router-link tag="li" to="/transactions">
                       <a data-toggle="tooltip" data-placement="right" :title="$t('sideNav.fieldTransactions')" href="">
                           <img src="../assets/img/asset 4.svg" alt="" class="img-fluid center-block">
                       </a>
                    </router-link> -->

                    <li id="transactions-link">
                      <v-popover :open="showTransactionsTooltip" placement="right" trigger="manual"
                        popoverInnerClass="sidenav-tooltip-inner sidenav-popover-inner"
                        popoverBaseClass="sidenav-tooltip transactions sidenav-popover">
                        <a class="position-relative">
                             <img src="../assets/img/asset 4.svg" alt="" class="img-fluid center-block">
                            <!-- <img src="../assets/img/originate.svg" alt="" class="img-fluid center-block"> -->
                            <div class="three-dots position-absolute d-flex flex-column justify-content-between">
                              <div></div>
                              <div></div>
                              <div></div>
                           </div>
                        </a>
                        <template slot="popover">
                          <div class="medium content">
                            <router-link tag="div" :to="{name: 'transactions'}">Field Transactions</router-link>
                            <router-link tag="div" :to="{name: 'stock'}">Stock</router-link>
                          </div>
                        </template>
                      </v-popover>
                 </li>

                   <!-- <li>
                       <a href="" data-toggle="tooltip" data-placement="right" :title="$t('sideNav.selfService')">
                           <img src="../assets/img/smartphone2.svg" alt="" class="img-fluid center-block">
                       </a>
                   </li> -->
                   <!-- <router-link tag="li" :to="{ name: 'loan_applications'}">
                       <a class="position-relative" href="" data-toggle="tooltip" data-placement="right" data-html="true"
                            title="<div class='tooltip-submenu'><div>Submenu Item1</div><div>Submenu Item2</div><div>Submenu Item3</div></div>">
                           <img src="../assets/img/originate.svg" alt="" class="img-fluid center-block">
                           <div class="three-dots position-absolute d-flex flex-column justify-content-between">
                             <div></div>
                             <div></div>
                             <div></div>
                          </div>
                       </a>
                  </router-link> -->
                  <!-- <router-link id="originate-link" tag="li" :to="{ name: 'loan_applications'}">
                      <v-popover :open="showOriginateTooltip" placement="right" trigger="manual"
                      popoverInnerClass="sidenav-tooltip-inner sidenav-popover-inner"
                      popoverBaseClass="sidenav-tooltip originate sidenav-popover">
                        <a class="position-relative">
                            <img src="../assets/img/originate.svg" alt="" class="img-fluid center-block">
                            <div class="three-dots position-absolute d-flex flex-column justify-content-between">
                              <div></div>
                              <div></div>
                              <div></div>
                           </div>
                        </a>
                        <template slot="popover">
                          <div class="medium content">
                            <div>Originate Item 1</div>
                            <div>Originate Item 2</div>
                            <div>Originate Item 3</div>
                          </div>
                        </template>
                      </v-popover>
                 </router-link> -->
                   <!-- end of section -->

                   <!-- divider -->
                   <li class="divider"></li>

                   <!-- section -->
                   <router-link v-if="$auth.canViewContacts()" tag="li" to="/contacts">
                       <a id="contacts-link" href="" data-toggle="tooltip" data-placement="right" title="Contacts">
                           <img src="../assets/img/asset 3.svg" alt="" class="img-fluid center-block">
                       </a>
                  </router-link>
                  <!-- <router-link tag="li" to="/agents"> -->
                    <router-link v-if="$auth.canViewAgents()" tag="li" to="/agents">
                       <a id="agents-link" href="" data-toggle="tooltip" data-placement="right" title="Agents">
                           <img src="../assets/img/group2.svg" alt="" class="img-fluid center-block">
                       </a>
                    </router-link>

                   <!-- end of section -->

                   <!-- divider -->
                   <li class="divider"></li>

                   <!-- section -->
                   <router-link v-if="false" tag="li" to="/agents/show">
                       <a href="" data-toggle="tooltip" data-placement="right" :title="`RiskIQ ${$t('sideNav.identity')}`">
                           <img src="../assets/img/selfservice.svg" alt="" class="make-bigger img-fluid center-block">
                       </a>
                    </router-link>

                   <li v-if="false">
                       <a href="" data-toggle="tooltip" data-placement="right" :title="`RiskIQ ${$t('sideNav.credit')}`">
                           <img src="../assets/img/risk_iq_credit.svg" alt="" class="make-bigger img-fluid center-block">
                       </a>
                   </li>
                   <!-- end of section -->

                   <!-- divider -->
                   <li v-if="false" class="divider"></li>

                   <!-- section -->
                   <li v-if="false">
                       <a href="" data-toggle="tooltip" data-placement="right" :title="$t('sideNav.reports')">
                           <img src="../assets/img/paper_stack.svg" alt="" class="img-fluid center-block">
                       </a>
                   </li>

                   <li v-if="false">
                       <a href="" data-toggle="tooltip" data-placement="right" title="Audit Trail">
                           <img src="../assets/img/audit trail.svg" alt="" class="img-fluid center-block">
                       </a>
                   </li>

                   <!-- end of section -->
               </ul>

               <!-- help -->
               <ul class="help bottom-part" style="padding-top: 4px;">
                 <router-link tag="li" to="/adminsettings">
                      <a id="admin-link" href="" data-toggle="tooltip" data-placement="right" :title="$t('sideNav.settings')">
                        <!-- settings2 -->
                          <img src="../assets/img/settings2.svg" alt="" class="make-bigger img-fluid center-block">
                      </a>
                 </router-link>
                   <li class="client-link disabled" style="margin: 3px 0 4px 0;">
                       <a data-toggle="tooltip" data-placement="right" title="Help">
                           <img src="../assets/img/information.svg" alt="" class="make-bigger img-fluid center-block disabled">
                       </a>
                   </li>
                   <li class="client-link" style="margin: 3px 0 4px 0;">
                       <a href="" data-toggle="tooltip" data-placement="right" title="Client domain">
                           <!-- <img src="../assets/img/beige.svg" alt="" class="img-fluid center-block"> -->
                           <img style="height:25px;width:25px" src="../assets/img/gsma_logo.png" alt="" class="img-fluid gsma-logo center-block">
                       </a>
                   </li>
               </ul>
           </div>
         </nav>
       </div>

</template>

<script>
import Utils from '@/utils/Utils'
export default {
  name: 'SideNav',
  mounted () {
    let that = this
    // Utils.imgToSvg(window.$('.bottom-part li').not('.client-link').find('img'))
    // $('[data-toggle="tooltip"]').tooltip({trigger: 'click'})
    $('[data-toggle="tooltip"]').tooltip({trigger : 'hover'})
    window.$(this.$el).find('#originate-link').hover(
      function () {
        that.originateIconHovered = true
        $('.sidenav-tooltip.originate').hover(
          () => {that.originateTooltipHovered = true},
          () => {that.originateTooltipHovered = false}
        )
      },
      function () {

        setTimeout(() => {
          that.originateIconHovered = false
        }, 200)
      }
    )

    $('[data-toggle="tooltip"]').tooltip({trigger : 'hover'})
    window.$(this.$el).find('#transactions-link').hover(
      function () {
        that.transactionsIconHovered = true
        $('.sidenav-tooltip.transactions').hover(
          () => {that.transactionsTooltipHovered = true},
          () => {that.transactionsTooltipHovered = false}
        )
      },
      function () {

        setTimeout(() => {
          that.transactionsIconHovered = false
        }, 200)
      }
    )
  },
  data () {
    return {
      originateIconHovered: false,
      originateTooltipHovered: false,
      transactionsIconHovered: false,
      transactionsTooltipHovered: false
    }
  },
  computed: {
    showOriginateTooltip () {
      return this.originateIconHovered || this.originateTooltipHovered
    },
    showTransactionsTooltip () {
      return this.transactionsIconHovered || this.transactionsTooltipHovered
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import '../assets/styles/variables';
@import '../assets/styles/mixins';
.side-navigation{
  .three-dots{
    right: -5px;
    height: 14px;
    & > div{
      height: 2px;
      width: 2px;
      border-radius: 50%;
      background: #8b8c8c;
      color: white;
      z-index: 1000;
      &:hover, &:active{
        -webkit-filter: none;
        filter: none;
      }

    }
    & > div:nth-child(2){

    }
  }
  background: linear-gradient(to bottom right, #343536, #343536);
    z-index: 1050;
    ul{
        list-style: none;
        margin: 0;
        padding: 0;

        li{
            width: 100%;
            display: flex;
            justify-content: center;
            margin: 6px 0;

            a{
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                img{
                    width: 21px;
                    height: 21px;
                    margin: 0 auto;
                    &.make-bigger{
                      width: 23px;
                      height: 23px;
                    }
                }
            }

            &.divider{
                //background: #fff;
                border: 0;
                border-top: 1px solid rgba(255,255,255,0.3);
                //height: 1px;
                width: 75%;
                margin: 0px 8px;
            }
            &.router-link-active a, & a:hover{
              background: #000;
              transition: $trans;
              -webkit-filter: hue-rotate(108deg);
              filter: sepia(100%) brightness(0.8) saturate(5.5);
              img{
                  //filter: sepia(0.4);
                  filter: contrast(0) sepia(100%) hue-rotate(116deg) brightness(1.4) saturate(0.28);
                  //background: black;
                  // -webkit-filter: grayscale(50) hue-rotate(108deg);
                  // filter: grayscale(50) hue-rotate(360deg);
              }
            }
        }
        &.bottom-part{
          background: #446a7c;
          li{
            margin: 0;
            a:hover, &.router-link-active a{
              background: transparent;
              // filter: brightness(0.4);
              filter: unset;
              img{
                filter: unset;
                // filter: sepia(100%) brightness(0.8) saturate(5.5);
                // filter: contrast(0) sepia(100%) hue-rotate(116deg) brightness(1.4) saturate(0.28);
                // background: #446a7c;
              }
            }
            a:hover{
              img{
                height: 32px;
                  width: 32px;
              }
            }
            &.client-link{
              margin: 2px 0;
              a:hover , a:active{
                -webkit-filter: none;
                filter: none;
                background: none;
                img{
                  height: 30px;
                  width: 30px;
                  -webkit-filter: none;
                  filter: none;
                }
              }
            }
          }
        }
    }

    .logo {
        height: $top-nav;
        background: $border-color;
        position: relative;
    }

    .help{
        padding: 0px;
        margin: 0px auto;
        width: 100%;
        background: rgba(0, 0, 0, 0.05);

        li{
            width: 100%;
            height: 100%;
            position: relative;

            a{
                //@include vertical-center;
                //padding: 20%;
            }
        }
    }
}
.disabled{
  cursor: not-allowed;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi) {
  .side-navigation{
    ul{
      li{
        margin: 13px 0;
      }
      &.bottom-part{
        li{
          margin: 3px 0;
          &.client-link{
            margin: 10px 0;
          }
        }
      }
    }
  }
}

.gsma-logo{
  width:25px !important;
  height: 25px !important;

  &:hover{
    width: 30px !important;
    height: 30px !important;
  }
}
</style>


<style lang="scss">

  .sidenav-tooltip {
    display: block !important;
    z-index: 10000;

    .sidenav-tooltip-inner {
      border-radius: 3px;
      background: #262627;
      color: white;
      border: 1px solid #262627;
      font-size: 12px;
      min-width: 180px;
      .content{
        & > * {
          cursor: pointer;
          padding: 7px 20px;
          &:hover{
            background: black;
          }
        }
      }
    }

    .tooltip-arrow {
      width: 0;
      height: 0;
      border-style: solid;
      position: absolute;
      margin: 5px;
      border: 1px solid #262627;
      border-color: #262627;
    }

    &[x-placement^="top"] {
      margin-bottom: 5px;

      .tooltip-arrow {
        border-width: 5px 5px 0 5px;
        border-left-color: transparent !important;
        border-right-color: transparent !important;
        border-bottom-color: transparent !important;
        bottom: -5px;
        left: calc(50% - 5px);
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    &[x-placement^="bottom"] {
      margin-top: 5px;

      .tooltip-arrow {
        border-width: 0 5px 5px 5px;
        border-left-color: transparent !important;
        border-right-color: transparent !important;
        border-top-color: transparent !important;
        top: -5px;
        left: calc(50% - 5px);
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    &[x-placement^="right"] {
      margin-left: 20px;
      .tooltip-arrow {
        border-width: 5px 5px 5px 0;
        border-left-color: transparent !important;
        border-top-color: transparent !important;
        border-bottom-color: transparent !important;
        left: -5px;
        top: calc(50% - 5px);
        margin-left: 0;
        margin-right: 0;
      }
    }

    &[x-placement^="left"] {
      margin-right: 5px;

      .tooltip-arrow {
        border-width: 5px 0 5px 5px;
        border-top-color: transparent !important;
        border-right-color: transparent !important;
        border-bottom-color: transparent !important;
        right: -5px;
        top: calc(50% - 5px);
        margin-left: 0;
        margin-right: 0;
      }
    }

    &[aria-hidden='true'] {
      visibility: hidden;
      opacity: 0;
      transition: opacity .15s, visibility .15s;
    }

    &[aria-hidden='false'] {
      visibility: visible;
      opacity: 1;
      transition: opacity .15s;
    }
  }
</style>
