<template>
  <div :class="['drawer', isOpen, {wider: wider}]">
    <slot></slot>
  </div>
</template>

<script>

import {FILTER_BUTTON_CLICKED} from '../utils/constants/events.js'
export default {
  name: 'SlidingPanel',
  props: {
    wider: {
      type: Boolean,
      default: false 
    }
  },
  created () {
    this.$bus.$on(FILTER_BUTTON_CLICKED, this.toggle)
  },
  beforeDestroy() {
      this.$bus.$off(FILTER_BUTTON_CLICKED, this.toggle);
  },
  data () {
    return {
      isOpen: '' 
    }
  },
  methods: {
    toggle () {
      if(this.isOpen == 'off' || this.isOpen == ''){
        this.isOpen = 'on'
      }else {
        this.isOpen = 'off'
      }
    }
  }
}
</script>

<style scoped lang="scss">
// vars
$slideout-width: 360px;

// ============================= /
//
// Drawer.
//
// ============================= /

.drawer {
  z-index: 50;
  // box-shadow: -1px 1px 3px 0px black;
  // box-shadow: 0 5px 12px 2px rgba(0,0,0,0.25);
  border: 1px solid #f0f0f0;
  background: snow;
  background: white;
  font-size: 1.5em;
  position: absolute;
  top: 0;
  // bottom: 0px;
  right: -360px;
  width: $slideout-width;
  height: calc(100vh - calc(6vh + 60px))!important;
  &.wider{
    width: 40vw;
    right: -40vw;
    &.on {
      animation: slideInWider .2s ease-in-out both;
    }
    &.off {
      animation: slideOutWider .2s ease-in-out both;
    }
  }
  &.on {
    animation: slideIn .2s ease-in-out both;
  }
  &.off {
    animation: slideOut .2s ease-in-out both;
  }
}


// ============================= /
//
// Keyframes.
//
// ============================= /

@keyframes slideIn {
  0%   { right: -360px; }
  100% { right: 0; }
}
@keyframes slideOut {
  0%   { right: 0; }
  100% { right: -360px; }
}
@keyframes slideInWider {
  0%   { right: -40vw; }
  100% { right: 0; }
}
@keyframes slideOutWider {
  0%   { right: 0; }
  100% { right: -40vw; }
}

</style>
