<template>
  <div class="slide-panel slider agent-slider-settings" id='agent-slider-settings'>
    <div class="d-flex flex-row justify-content-between align-items-center padding-ten">
        <slot name="top-panel"></slot>
    </div>
    <div class="dividerL"></div>
    <div class="row">
        <div class="col-4 no-margin no-padding flex-column" style="border-right:2px solid #f0f0f0;">
            <slot name="left-panel"></slot>
        </div>
        <div id="basic-info" class="col-8 no-margin no-padding full-height">
            <slot name="right-panel"></slot>
        </div>
    </div>
  </div>
</template> 

<script>
export default {
  
}
</script>

<style lang="scss" scoped>
    @import '../assets/styles/_variables';
    @import '../assets/styles/mixins';

    .slider{
        h5{
            font-size: 14px;
            line-height: 8vh;
        }

        .col-4,.col-8{
            height: calc(100vh - (60px));
        }

        .col-8{
        }

        // #button-panel{
        //     height: 10vh;
        // }

        button{
            height: 30px;
            padding: 0 10px;
            line-height: 20px;
            font-size: 14px;
        }
    }
    input{
      font-size: 14px;
      font-family: "GothamBook",sans-serif;
      padding: 2px 10px;
    }
    .dividerS{
      margin: 0px 20px;
    }

</style>

