<template>
  <div>

    <!-- <div class="slide-panel slider" :id="id">

        <div class="row padding-ten">
            <div class="col-5 " id="menu">
                <h5>{{title}} - {{contact.name}}</h5>
            </div>
            <div class="col-7 text-right" id="info" :style="{display: display}">
               <button class="btn white-background border">Single Contact</button>
               <button class="btn white-background border">Multiple Contact</button>
               <button class="btn white-background border">Retrieve Contact</button>
            </div>
            <div class="col-7 text-right" id="approve" :style="{display: forApproval}">
                <button class="btn white-background border">Approve</button>
            </div>
        </div>
        <div class="dividerL"></div>
        <div class="row" >
            <div class="col-5 no-margin no-padding flex-column" style="border-right:2px solid #f0f0f0;">
                <div class="input-group">
                    <input style="height:30px; font-size:12px" type="text" class="form-control" name="email" placeholder="Search a field">
                    <span class="input-group-addon white-background"><i class="glyphicon glyphicon-search"></i></span>
                </div>
                <div style="width: 100%" class="panel-group white-background" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading white-background">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span>
                                    <img src="/assets/images/add (1).png" alt="">
                                </span>Basic Information</a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <a class="black-text" @click="scrollToSegment('location')">Location</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a class="black-text" @click="scrollToSegment('contact-details')">Contact Details</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a class="black-text" href="http://www.jquery2dotnet.com">Social Profiles</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a class="black-text" href="http://www.jquery2dotnet.com">Identity Information</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a class="black-text" href="http://www.jquery2dotnet.com">Employee</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading white-background">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span><img src="/assets/images/add (1).png" alt="">
                                </span>Images</a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse"></div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading white-background">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span><img src="/assets/images/add (1).png" alt="">
                                </span>Third Party Services</a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse"></div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading white-background">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span><img src="/assets/images/add (1).png" alt="">
                                </span>Branch</a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse"></div>
                    </div>
                </div>
            </div>
            <div id="basic-info" class="col-7 no-margin no-padding">
                <h5 style="padding-left:20px;line-height: 5vh">BASIC INFORMATION</h5>
                <form action="">
                    <div class="form-group black-text">
                        <label for="first-name">First Name</label>
                        <input v-model="localContact" id="first-name" type="text" class="form-control">
                    </div>
                    <div class="form-group black-text">
                        <label for="last-name">Last Name</label>
                        <input id="last-name" type="text" class="form-control">
                    </div>
                    <div class="form-group black-text">
                        <label for="middle-name">Middle Name</label>
                        <input id="middle-name" type="text" class="form-control">
                    </div>
                    <div class="form-group black-text">
                        <label for="dob">Date of Birth</label>
                        <div class="input-group">

                            <input id="dob" type="text" class="form-control" name="dob">
                            <span class="input-group-addon white-background"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </div>
                </form>
                <div data-form-segment="location" class="form-header d-flex flex-row align-items-center">
                    <h6 class="uppercase medium no-padding no-margin">LOCATION</h6>
                    <div class="dividerS"></div>
                </div>
                <form  action="">
                    <div class="form-group black-text">
                        <label for="address">Address</label>
                        <input id="address" type="text" class="form-control">
                    </div>
                    <div class="form-group black-text">
                        <label for="city">City</label>
                        <input id="city" type="text" class="form-control">
                    </div>
                    <div class="form-group black-text">
                        <label for="town">Town</label>
                        <input id="town" type="text" class="form-control">
                    </div>
                    <div class="form-group black-text">
                        <label for="post-code">Post Code</label>
                        <input id="post-code" type="text" class="form-control">
                    </div>
                    <div class="form-group black-text">
                        <label for="country">Country</label>
                        <input id="country" type="text" class="form-control">
                    </div>
                </form>
                <div data-form-segment="contact-details" class="form-header d-flex flex-row align-items-center">
                    <h6 class="uppercase medium no-padding no-margin">CONTACT DETAILS</h6>
                    <div class="dividerS"></div>
                </div>
                <form action="">
                    <div class="form-group black-text">
                        <label for="phone">Primary Phone Number</label>
                        <input id="phone" type="text" class="form-control">
                    </div>
                </form>
            </div>
        </div>
        <div class="row text-right" id="button-panel">
            <button @click="cancel" class="btn">Cancel</button>
            <button @click="save" class="btn orange">Save</button>
        </div>
    </div> -->

    <div class="slide-panel slider" :id="id">

        <div class="row padding-ten">
            <div class="col-5 " id="menu">
                <h5>{{title}} - {{contact.name}}</h5>
            </div>
            <div class="col-7 text-right f-12" id="info" :style="{display: display}">
               <button class="btn white-background border f-12">Single Contact</button>
               <button class="btn white-background border f-12">Multiple Contact</button>
               <button class="btn white-background border f-12">Retrieve Contact</button>
            </div>
            <div class="col-7 text-right" id="approve" :style="{display: forApproval}">
                <button class="btn white-background border">Approve</button>
            </div>
        </div>
        <div class="dividerL"></div>
        <div class="row" >
            <div class="col-4 no-margin no-padding flex-column" style="border-right:2px solid #f0f0f0;">
                <div class="input-group">
                    <input style="height:30px; font-size:12px" type="text" class="form-control" name="email" placeholder="Search a field">
                    <span class="input-group-addon white-background"><i class="glyphicon glyphicon-search"></i></span>
                </div>
                <div ref="accordion" style="width: 100%" class="panel-group white-background" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading white-background">
                            <h4 class="panel-title">
                                <a class="d-flex flex-row align-items-center"><span>
                                    <img style="width: 20px; height: 20px;" src="../assets/img/admin_info_paper.svg" alt="">
                                </span><div>Notes</div></a>
                            </h4>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading white-background">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-target="#loanCollapseOne" data-parent="#accordion" href="#loanCollapseOne"><span>
                                    <img src="../assets/img/minus.svg" alt="">
                                </span>Basic Information</a>
                            </h4>
                        </div>
                        <div id="loanCollapseOne" class="panel-collapse collapse in show">
                            <div class="panel-body">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <a class="black-text" @click="scrollToSegment('location')">Location</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a class="black-text" @click="scrollToSegment('contact-details')">Contact Details</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a class="black-text" href="http://www.jquery2dotnet.com">Social Profiles</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a class="black-text" href="http://www.jquery2dotnet.com">Identity Information</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a class="black-text" href="http://www.jquery2dotnet.com">Employee</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading white-background">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span><img src="/assets/images/add (1).png" alt="">
                                </span>Images</a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse"></div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading white-background">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span><img src="/assets/images/add (1).png" alt="">
                                </span>Third Party Services</a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse"></div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading white-background">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span><img src="/assets/images/add (1).png" alt="">
                                </span>Branch</a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse"></div>
                    </div>
                </div>
            </div>
            <div id="basic-info" class="col-8 no-margin no-padding">
                <h5 style="padding-left:20px;line-height: 5vh">BASIC INFORMATION</h5>
                <form action="">
                    <div class="form-group black-text">
                        <label for="first-name">Originate Id</label>
                        <input   type="text" class="form-control">
                    </div>
                    <div class="form-group black-text">
                        <label for="first-name">First Name</label>
                        <input   type="text" class="form-control">
                    </div>
                    <div class="form-group black-text">
                        <label for="last-name">Last Name</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group black-text">
                        <label for="middle-name">Middle Name</label>
                        <input  id="middle-name" type="text" class="form-control">
                    </div>
                    <div class="form-group black-text">
                        <label for="dob">Date of Birth</label>
                        <div class="input-group">
                            <input id="dob" type="text" class="form-control" name="dob">
                            <span class="input-group-addon white-background"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </div>
                </form>
                <div data-form-segment="location" class="form-header d-flex flex-row align-items-center">
                    <h6 class="uppercase medium no-padding no-margin">LOCATION</h6>
                    <div class="dividerS"></div>
                </div>
                <form  action="">
                    <div class="form-group black-text">
                        <label for="address">Address</label>
                        <input id="address" type="text" class="form-control">
                    </div>
                    <div class="form-group black-text">
                        <label for="city">City</label>
                        <input id="city" type="text" class="form-control">
                    </div>
                    <div class="form-group black-text">
                        <label for="town">Town</label>
                        <input id="town" type="text" class="form-control">
                    </div>
                    <div class="form-group black-text">
                        <label for="post-code">Post Code</label>
                        <input id="post-code" type="text" class="form-control">
                    </div>
                    <div class="form-group black-text">
                        <label for="country">Country</label>
                        <input id="country" type="text" class="form-control">
                    </div>
                </form>
                <div data-form-segment="contact-details" class="form-header d-flex flex-row align-items-center">
                    <h6 class="uppercase medium no-padding no-margin">CONTACT DETAILS</h6>
                    <div class="dividerS"></div>
                </div>
                <form action="">
                    <div class="form-group black-text">
                        <label for="phone">Primary Phone Number</label>
                        <input id="phone" type="text" class="form-control">
                    </div>
                </form>
            </div>
        </div>
        <div class="row text-right" id="button-panel">
            <button @click="cancel" class="btn">Cancel</button>
            <button @click="save" class="btn orange">Save</button>
        </div> 
    </div>

  </div>
</template>

<script>
import * as events from '@/utils/constants/events'
export default {
  name: 'SliderComp',
  props: {
    title: null,
    id: null,
    display: null,
    name: null,
    forApproval: null,
    contact: {
      type: null,
      default: function (){
        return {}
      }
    }
  },
  data () {
    return {
      localContact: {}
    }
  },
  watch: {
    contact (oldContact, newContact) {
      this.localContact = Object.assign(newContact)
    }
  },
  methods: {
    save () {
      alert("saving")
      this.close()
    },
    cancel () {
      this.close()
    },
    close () {
      let $this = window.$(this.$el)
      window.dd = $this
      this.$bus.$emit(events.SHOW_OVERLAY, false)
      this.$bus.$off(events.CLOSING_OVERLAY)
      $this.find('.slide-panel').removeClass('open')
      window.$('.newContactDisplay.active').removeClass('active')
    },
    scrollToSegment (segment) {
      let $this = window.$(this.$el)
      if(segment == null){
        return;
      }
      let $formSegment = $this.find(`div[data-form-segment=${segment}]`)
      let $tab = $this.find('#basic-info')
      let offset = $formSegment.offset().top - $tab.offset().top
      console.error($tab)
      console.error(offset)
      console.error($tab.offset().top)
      console.error($formSegment.offset().top)
      $tab.animate({
       scrollTop: offset
      }, 1000)
    }
  },
    mounted () {
        window.$(this.$refs.accordion).find('.collapse').each(function (index, element) {
            window.$(element).on('show.bs.collapse', function () {
            let $img = window.$(`a[data-target='#${element.id}'] img`)
            $img.attr('src', minusButton)
            })
            window.$(element).on('hide.bs.collapse', function () {
            let $img = window.$(`a[data-target='#${element.id}'] img`)
            $img.attr('src', plusButton)
            })
        })
    },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
    .slider{
        h5{
            font-size: 14px;
            line-height: 8vh;
        }

        // #button-panel{
        //     height: 10vh;
        // }

        button{
            height: 30px;
            padding: 0 10px;
            line-height: 20px;
            font-size: 14px;
        }
    }
    input{
      font-size: 14px;
      font-family: "GothamBook",sans-serif;
      padding: 2px 10px;
    }
    .dividerS{
      margin: 0px 20px;
    }
</style>
