<template>
   <div class="full-height stock-transactions">
    <!-- <div id="unrecon-table">
      <reconciled-agent v-on:signOff="signOff" :agent="agent" v-for="agent in reconciledAgents" :key="agent.id"></reconciled-agent>
      <unreconciled-agent :agent="agent" v-for="agent in unreconciledAgents" :key="agent.id"></unreconciled-agent>
    </div> -->
    <div class="table-div" style="overflow: auto;">
        <table class="table position-relative stock-table">
            <thead class="table position-relative">
                <th class="book">CUSTOMER NAME</th>
                <th :class="column.class" v-for="column in columns.slice(0, 7)">{{column.header}}</th>
                <!-- <th></th> -->
                <th class="actions">
                  <button data-toggle="modal" data-target="#myModal" class="button-s" ><img style="width: 14px;height: 14px" src="../assets/img/Asset 8.svg" alt=""></button>
                </th>
            </thead>
            <tbody class="round-book">
                <tr  v-for="stock in stockTransactions">
                  <td class="primary name">{{stock.name | notAvailable}}</td>
                  <td  v-for="column in columns.slice(0, 7)" :class="column.class">{{stock[column.dataField]|notAvailable}}</td>
                  <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="bottom:0" class="tfoot d-flex flex-row justify-content-between align-items-center position-absolute">
            <p>Showing {{count}} of {{count}} Transactions</p>
            <p>Total Transactions - {{count}}</p>
    </div>

       <!-- ----------------------------MODAL ---------------------- -->
    <div class="modal fade" tabindex="-1" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Choose your columns</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <select @change="reArrangeColumns(index, $event)" v-for="(column, index) in columns" class="form-control" name='' id='selectR5'>
                                <option :value="index2" :selected="index == index2"  v-for="(column2, index2) in columns">{{column2.header}}</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
  </div>

</template>

<script>
import ReconciledAgent from './transactions/realtime/ReconciledAgent.vue'
import UnReconciledAgent from './transactions/realtime/UnReconciledAgent.vue'
var faker = require('faker');
import nfFake from '@/utils/nfFake'
import Utils from '@/utils/Utils'
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'StockTransactionsTable',
  components: {
    'reconciled-agent': ReconciledAgent,
    'unreconciled-agent': UnReconciledAgent
  },
  methods: {
    signOff (agent) {
      this.reconciledAgents.splice(this.reconciledAgents.indexOf(agent), 1)
    },
    reArrangeColumns (oldValue, event) {
      let newValue = parseInt(event.target.value)
      Utils.swapArrayElements(this.columns, oldValue, newValue)
    }
  },
  created: function(){
        var type = ["A","B","C"];
        var village = ["Asawase","Brekum","Elimina"]
        var district = ["Elimina East","Takoradi","Cape Coast"]
        
        this.picture1 = faker.image.avatar();
        console.log("Stock Count :"+this.stock.length)

        for(let i = 0; i < 20; i ++){
            var rand = Math.floor(Math.random() * 50) + 0;
            var random = Math.floor(Math.random() * 100) + 0;
            var randomPrice = rand*random;
            var rando = Math.floor(Math.random() * 3) + 0; 
            let stockTransaction = {
              id: i,
              name: faker.name.findName(),
              branch: nfFake.district(),
              unit_price: random.toLocaleString('ja-JP', { style: 'currency', currency: 'GHc'}),
              quality_type: type[rando],
              quantity: rand,
              description: faker.random.words(),
              village: village[rando],
              msisdn: faker.phone.phoneNumberFormat(),
              district: district[rando],
              picture: faker.internet.avatar(),
              price: randomPrice.toLocaleString('ja-JP', { style: 'currency', currency: 'GHc'}),
              transactionNet: faker.random.number().toLocaleString('ja-JP', { style: 'currency', currency: 'GHc'}),
              date: faker.date.recent(),
              error: Utils.randomBoolean(5)?"51 - Insufficient Funds | There is insufficient funds the agent account. The account number is 201 - 20129012023-10": null,
              type: faker.random.boolean() ? "deposit" : "withdrawal"
            }
            this.stockTransactions.push(stockTransaction)
            // if(i < 10){
            //   this.reconciledAgents.push(agent)
            // }else {
            //   this.unreconciledAgents.push(agent)
            // }
        }
  },
  data () {
    return {
      reconciledAgents: [],
      unreconciledAgents: [],
      columns:[
        {header: "UNIT PRICE", dataField: "unit_price", class: "phone"},
        {header: "QUANTITY", dataField: "quantity", class: "phone"},
        {header: "QUALITY TYPE", dataField: "quality_type", class: "phone"},
        {header: "PRICE", dataField: "price", class: "branch"},
        {header: "DESCRIPTION", dataField: "description", class: "region"},
        {header: "VILLAGE", dataField: "village", class: "supplier"},
        {header: "DISTRICT", dataField: "district", class: "branch"},
        {header: "PHONE", dataField: "msisdn", class: "phone"}
      ],
      stockTransactions: [],
      count: 30
    }
  },
  computed: {
    Count(){
        this.count = this.stock
    },
    ...mapGetters({
      stock: 'stock'
    }),
    reconciledAgentsNoErrors () {
      return this.reconciledAgents.filter(el => !el.error)
    },
    reconciledAgentsErrors () {
      return this.reconciledAgents.filter(el => el.error)
    }
  }

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
    @import '../assets/styles/variables';
    @import '../assets/styles/mixins';
    .stock-transactions{
        .modal-header, .modal-footer{
            background: #fafafa;
        }
        .modal{
            select{
                margin: 20px 0;
            }
        }
    }
    .stock-table{
        th:first-child, td:first-child{
            padding-left: 14px;
        }
        .actions{
            width: 23px;
        }
    }
    .md-checkbox{
      display: inline-block;
    }
    .table{
        margin-bottom: 0;
    }
    button.small-icon{
      height: 24px;
      width: 24px;
      background: white;
      //padding: 4px;
      line-height: 16px;
      border-radius: 2px;
      margin-left: 5px;
      img{
          width: 12px;
          vertical-align: text-top;
      }
    }

    .trans-status{
        width: 10px;
        height: 10px !important;
        background: green;
    }


    .item-overlay{
      display: none;
    //  display: block;
      position: absolute;
      opacity: 0.9;
      top: 0;
      bottom: 0;
      // height: 60px;
      left: 0;
      background: #f7f8f8;
      //background: $blue;
      font-family: "GothamRoundedBook",sans-serif;
      //background: $blue;
      &.active{
        display: block;
      }
    }
    .recon-trans{
        width: 100%;
        height: 48px;
        // border-bottom: 1px solid #f0f0f0;
        padding: 0 17px;
        margin: 0;
        font-size: 12px;

        div{
            height: inherit;

            p:first-child{
                margin-bottom: 10px;

                strong:first-child{
                    font-size: 14px;
                }
            }

            p:last-child{
                font-size: 11px;
            }
        }
        button{
            // height: 24px;
            width: 25px !important;
            // border: 1px solid lightgray;
            background: transparent !important;
            //padding: 4px;
            //line-height: 16px;
            overflow: visible !important;
            border: 0px !important;
            border-radius: 2px;
            margin-left: 5px;
            img{
                width: 15px !important;
                background: transparent !important;
                overflow: visible !important;
                //background: transparent !important;
                //vertical-align: text-top;
            }
            &.active{
              //background: #f8ff72;
              //background: #e9ee89;

              img{
                  background: #e9ee89 !important;
              }
            }
        }

        .locator{
            height: 24px;
            width: 24px;
            border: 1px solid rgb(177, 170, 170);
            background: white;
            border-radius: 2px;
            margin-left: 5px;
            img{
                width: 16px;
            }
        }

        .trans-date{
            color: gray;
            font-size: 11px;
        }

        .last-trans{
            p.top-part{
                margin-top: 10px;
            }
            p.bottom-part{
                margin-bottom: 10px;
            }
            width: calc(85% - (40px));
            flex: 1;
        }
        .mid-trans{
            width: 15%;
        }


    }


    table{
        position: relative;
        thead{

            th{
                height: 50px;
                background: #fdfdfd;
                // font-family: "GothamRoundedBold" !important;
                // //font-weight: bold !important;
                // font-weight: 100 !important;
            }
        }
        // td{
        //     font-family: "GothamLight",sans-serif !important;
        // }
    }

    #alltrans-table{
        //border-bottom: 1px solid #f0f0f0;
        // .chip{
        //     width: px;
        //     height: 25px;
        //     //font-size: 10px;
        // }

        tr{
          button{
            &.reset, &.eye{
              visibility: hidden;
            }
          }
          &:hover{
            .eye, .reset{
              visibility: visible;
            }
          }
        }

        td,th{
            text-align: left;
            &:first-child{
                padding-left: 20px;
            }
            &:last-child{
                padding-right: 20px !important;
                text-align: right !important;
            }
        }

        td{
            height: 40px;

        }

        th{
            height: 40px;
            background: #fafafa;
        }

    }

    .avatar{
        div{
            width: 45px;
            height: 45px;
            border-radius: 50%;
            background: red;
        }
    }

    .recon-tag{
        width: 60px;
        background: $blue;
        padding: 2px;
        margin: 0;
        text-align: center;
        font-size: 10px;
        border-radius: 2px;
        color: white;
    }

    .reconcile-button{
        font-size: 12px;
        background: $blue;
        color: white;
        height: 30px;
        width: auto;
    }

    #agents-table{
        th,td{
            &:first-child{
                padding-left: 20px;
            }

        }
    }

</style>


<style lang="scss" scoped>
  .table-div{
    & > table{
      tbody{
        border: none;
        td{
          height: 55px;
        }
      }
    }
  }
</style>
