<template>
  <label v-if="false" class="switch">
    <input type="checkbox" 
    :disabled="disabled"
      @change="onCheckedChange" v-model="checked"
      v-on:change="returnValue">
    <span class="slider round"></span>
</label>
  <div v-else class="onoffswitch">
      <input :disabled="disabled" @change="onCheckedChange" v-model="checked" type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" :id="mId">
      <label class="onoffswitch-label" :for="mId">
          <div class="onoffswitch-inner"></div>
          <div class="onoffswitch-switch"></div>
      </label>
  </div>
</template>

<script>
import Utils from '@/utils/Utils'

//$emit(event, $event.target.checked)
// console.log("bread", SURNAME)
export default {
  name: 'SwitchButton',
  // model: {
  //   prop: 'checked',
  //   event: 'change'
  // },
  props: {
    id: null,
    value: {
      default: false,
      type: Boolean 
    },
    disabled:{
      type:Boolean,
      default: false
    },
    event:null
  },
  created () {
    this.mId = this.id ? this.id : Utils.randomString()
    this.checked = this.value
  },
  mounted () {
    
  },
  watch: {
    value (newValue) {
      this.checked = newValue
    }
  },
  data:function(){
    return{
      //checked:null,
      values:[{value:this.value,checked:true}] ,
      checked: false,
      mId: null 
    }
  },
  methods:{
    returnValue(){
      console.log("new gfhjg:",this.checked)
      this.values.checked = true;
      this.$bus.$emit("hola", {id: this.value, checked: this.checked});
      // this.$emit("input", this.checked)
      if (this.checked) {
        

        // this.$dispatch('child-msg', this.value) 
        //this.value = ''

      }
     // this.$bus.$emit(this.event, this.values);
      // this.values.checked = this.$event.target.checked
    },
    onCheckedChange (event) {
      this.$emit('input', this.checked)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
  @import '../assets/styles/variables';
  @import '../assets/styles/mixins';
  $active-color: #f29122;
  .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 18px;
    margin-bottom: 0;
  }

  .switch input {display:none;}

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 3px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .2s;
  }

  input:checked + .slider {
    background-color: $active-color;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(19px);
    -ms-transform: translateX(19px);
    transform: translateX(19px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }




.onoffswitch {
    position: relative; 
    width: 58px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block; 
    overflow: hidden; 
    cursor: pointer;
    border: 2px solid #ccc; 
    border-radius: 20px;
    margin-bottom: 0;
}

.onoffswitch-inner {
    width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left; width: 50%; height: 20px; padding: 0; line-height: 24px;
    font-size: 15px; color: white;
    font-family: "GothamRoundedBold",sans-serif;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "ON";
    padding-left: 4px;
    background-color: white; color: $active-color;
}

.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 2px;
    background-color: white; color: #ccc;
    text-align: right;
}

.onoffswitch-switch {
    width: 16px; margin: 4px 5px;
    height: 16px;
    background: #FFFFFF;
    border: 2px solid #ccc; border-radius: 18px;
    position: absolute; top: 0; bottom: 0; right: 33px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 2px; 
}

</style>
