<template>
    <div class="tab d-flex-flex-column full-height">
        <!-- <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active one"><a href="#self-service" aria-controls="self-service" role="tab" data-toggle="tab">Self service</a></li>
            <li role="presentation" class="two"><a href="#conversation" aria-controls="conversation" role="tab" data-toggle="tab">Conversations</a></li>
            <li role="presentation" class="three"><a href="#updates" aria-controls="updates" role="tab" data-toggle="tab">Updates</a></li>
            <li role="presentation" class="four"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
        </ul> -->

        <ul class="nav nav-tabs"> 
            <li class="nav-item">
                <a class="nav-link active" href="#self-service" aria-controls="self-service" role="tab" data-toggle="tab">Self Services</a>
            </li> 
            <li class="nav-item">
                <a class="nav-link" href="#conversation" aria-controls="services" role="tab" data-toggle="tab">conversation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#updates" aria-controls="services" role="tab" data-toggle="tab">updates </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#settings" aria-controls="services" role="tab" data-toggle="tab">settings</a>
            </li>
        </ul>

      <!-- Tab panes -->
      <div style="flex: 1;" class="full-height tab-content d-flex flex-column align-items-stretch">
         <!-- SELF SERVICE  -->
        <div role="tabpanel" style="flex: 1; width: 100%;" class="tab-pane in active flex-column align-items-stretch" id="self-service">
            <div class="no-padding">
                <p class="no-margin no-padding">Filter</p>
                <input type="text">
            </div>
            <div style="border-top: 1px solid #f0f0f0; margin: 15px 0 0 0;"></div>
            <div id="acti-comp">
                <activity-component></activity-component>
                <!-- <activity-component v-for="modelItem in model" :key="modelItem.id" model=modelItem></activity-component> -->
            </div>

        </div>

        <!-- CONVERSATIONS  -->
        <div role="tabpanel" class="tab-pane fade" id="conversation">
            <conversation-component></conversation-component>
            <!-- <conversation-component v-for="modelItem in model" :key="modelItem.id" model=modelItem></conversation-component> -->
        </div>

        <!-- {{!-- UPDATES  --}} -->
        <div role="tabpanel" class="tab-pane fade" id="updates">
            <update-component></update-component>
            <!-- <update-component v-for="modelItem in model" :key="modelItem.id" model=modelItem></update-component> -->
        </div>
         <!-- SETTINGS  -->
        <div role="tabpanel" class="tab-pane fade" id="settings">
            <div class="container-fluid black-text">
                <div class="tog row">
                    <div class="col-7">
                        <p>Branchless Banking Status</p>
                    </div>
                    <div class="col-5 d-flex align-items-center flex-row">
                        <switch-button></switch-button>
                    </div>
                </div>
                <div class="tog1 row">
                   <div class="col-7">
                       <p>Self Services Status</p>
                   </div>
                   <div class="col-5 d-flex align-items-center flex-row">
                       <switch-button></switch-button>
                   </div>
                </div>
                <div class="tog2 row">
                   <div class="col-6 offset-1">
                       <p>- USSD</p>
                   </div>
                   <div class="col-5 d-flex align-items-center flex-row">
                       <switch-button></switch-button>
                   </div>
                </div>
                <div class="tog3 row">
                   <div class="col-6 offset-1">
                       <p> - APP</p>
                   </div>
                   <div class="col-5 d-flex align-items-center flex-row">
                       <switch-button></switch-button>
                   </div>
                </div>
                <div class="tog4 row">
                   <div class="col-6 offset-1">
                       <p> - WEB</p>
                    </div>
                    <div class="col-5">
                       <switch-button></switch-button>
                   </div>
               </div>
               <div class="tog5 row">
                   <div class="col-7">
                       <p>Is contact a Group Entity?</p>

                   </div>
                   <div class="col-5">
                       <!-- <div class="onoffswitch5">
                            <input type="checkbox" name="onoffswitch5" class="onoffswitch5-checkbox" id="myonoffswitch5" checked>
                            <label class="onoffswitch5-label" for="myonoffswitch5">
                                <span class="onoffswitch5-inner"></span>
                                <span class="onoffswitch5-switch"></span>
                            </label>
                        </div> -->
                        <switch-button></switch-button>
                   </div>
               </div>
            </div>
           <div class="tog2 container-fluid">

           </div>
           <div class="tog3 container-fluid">

           </div>

        </div>
        </div>
      </div>
</template>

<script>
export default {
  name: 'TabbedViewContacts',
  props: ['model'],
  data () {
    return {

    }
  },
  mounted: function(){
    // if(window.$('#self-service').hasClass('active')){
    //     window.$('.one').css("border-bottom","3px solid orange")
    // }else if(window.$('#conversation').hasClass('active')){
    //     window.$('.two').css("border-bottom","3px solid orange")
    // }else if(window.$('#updates').hasClass('active')){
    //    window.$('.three').css("border-bottom","3px solid orange")
    // }
    // else{
    //    window.$('.four').css("border-bottom","3px solid orange")
    // }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
@import '../assets/styles/_variables';
@import '../assets/styles/_mixins';

.tab{
    a{
        font-size: 9px;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 0px;
        padding: 10px 5px;
        color: #666;
        font-family: "GothamRoundedBook",sans-serif;

        &:active,&:focus,&:hover{
            border-bottom: 3px solid $orange;
        }
    }

    li{
        border: 0;
        width: 25%;
    }

    a.nav-link.active.show,a.nav-link.active{
        border: 0;
        border-bottom: 2px solid $orange;
        font-weight: bold;
    }
    .nav-tabs{
        border: 0;
        border-bottom: 1px solid lightgray;
    }
    .nav-link:hover{
        border: 0;
        border-bottom: 2px solid $orange;
    }
}


.tab-content{
    background: white;
    font-size: $subtext;
    color: #212529;
    padding-right: 0px;
    //height: 74vh;
    overflow-x: hidden;
    // overflow-y: scroll;
    @include scrollbar(5px, 1px);

    .tab-pane{
        &#self-service.active{
          display: flex!important;
        }
        margin: 10px 0;
      & > *{
        margin: 0 13px;
      }
    }
    #self-service{
        div:nth-child(1){
            //padding-left: 10px;
            p{
                font-size: $paragraph;
                text-transform: uppercase;

            }
            input{
                padding-left: 5px;
            }
        }
        div:nth-child(2){
            //padding-left: 10px;
            @include scrollbar(5px, 1px);
            //@include scrollbar(5px, 1px);
        }
        #acti-comp{
            // margin-top: 12px;
            // flex: 1;
            overflow-y: auto;
            @include scrollbar(5px, 1px);
        }
        #activity-item{
            height: 7vh;
            letter-spacing: 0px;
            div{
                width: 47%;
                padding: 0;
                margin: 0;

                p{
                    margin: 0.3vh 0;

                }
            }

            .activity-status{
                div{
                    right: 0;
                    top: 0;
                    border-radius: 50%;
                    width: 8px;
                    height: 8px;
                }

            }

            .activity-name,.activity-price{
                text-transform: none;
                font-size: $header;
                font-weight: bold;
                color: black;
            }
        }
    }
    #conversation{

        #convo{
            height: 15vh;
            border-bottom: 1px solid #f0f0f0;
            padding-top: 5px;
            // padding-left: 25px;


            .info{
                bottom: 0;
                width: 100%;
            }
            .message{
                height: 10vh;
                //padding: 5px 15px 0px;
                font-size: 9px;
                letter-spacing: 0px;
            }
        }


    }
    #updates{
        // h5{
        //     font-size: $subtext;
        //     font-weight: bold;
        //     margin: 5px 0 2px;
        //     padding-left: 10px;
        // }
        // h6{
        //     font-size: 9px;
        //     margin: 2px 0;
        //     width: 100%;
        //     color: $avatar-gray;
        //     font-weight: bold;
        //     font-family: "GothamRoundedBook",sans-serif;
        //     padding-left: 10px
        // }
        // p{
        //     padding: 0;
        //     margin: 2px 0 2px;
        //     padding-left: 10px
        // }
    }
    #settings{
        .row{
            height: 7vh;
            margin-top: 5px;
            margin-bottom: 5px;

            p{
                line-height: 32px;
            }
        }
        .tog{
            @include toggle-button("Active","Inactive",onoffswitch,75px,48px);
        }
        .tog1{
            @include toggle-button("Active","Inactive",onoffswitch1,75px,48px);
        }
        .tog2{
            @include toggle-button("Enable","Disable",onoffswitch2,75px,48px);
        }
        .tog3{
            @include toggle-button("Enable","Disable",onoffswitch3,75px,48px);
        }
        .tog4{
            @include toggle-button("Enable","Disable",onoffswitch4,75px,48px);
        }
        .tog5{
            @include toggle-button("Yes","No",onoffswitch5,75px,48px);
        }

    }
}




</style>
