<template>
  <div class="tab d-flex-flex-column full-height">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="#services" aria-controls="services" role="tab" data-toggle="tab">Services</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#products" aria-controls="services" role="tab" data-toggle="tab">Products</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#log" aria-controls="services" role="tab" data-toggle="tab">Log Audits</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#notes" aria-controls="services" role="tab" data-toggle="tab">Note</a>
        </li>
    </ul>

      <!-- Tab panes -->
      <div class="tab-content" style="background: white;">
        <!-- SELF SERVICE -->
        <div role="tabpanel" class="tab-pane in active" id="services">
            <p style="font-size: 12px" class="text-center bold black-text" >Banking</p>
            <agent-service></agent-service>
        </div>

        <!-- productsS -->
        <div role="tabpanel" class="tab-pane fade" id="products">
           <h6 style="font-size: 12px; line-height: 5vh" class="bold book no-padding no-margin">Product Assignments</h6>
           <div class="dropdown-divider"></div>
           <!-- <div style="border-top: 1px solid #f0f0f0;margin-top: 0"></div> -->
            <agent-products title="Daily sth"></agent-products>


        </div>

        <!-- log  -->
        <div role="tabpanel" class="tab-pane fade" id="log">
                <!-- <agent-log model=model></agent-log> -->
        </div>
        <!-- notes -->
        <div  role="tabpanel" class="tab-pane fade" id="notes">

        </div>
        </div>
    </div>

</template>

<script>
export default {
  name: 'TabbedViewAgents',
  data () {
    return {

    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
  @import '../assets/styles/variables';
  @import '../assets/styles/mixins';
  @import '../assets/styles/fonts';
  @import '../assets/styles/app';
  @import '../assets/styles/client';

.tab{
    a{
        font-size: 9px;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 0px;
        padding: 10px 5px;
        color: #666;
        font-family: "GothamRoundedBook",sans-serif;

        &:active,&:focus,&:hover{
            border-bottom: 3px solid $orange !important;
        }
    }

    li{
        border: 0;
        width: 25%;
    }

    a.nav-link.active.show,a.nav-link.active{
        border: 0;
        border-bottom: 2px solid $orange;
        font-weight: bold;
    }
    .nav-tabs{
        border: 0;
        border-bottom: 1px solid lightgray;
    }
    .nav-link:hover{
        border: 0;
        border-bottom: 2px solid $orange;
    }
}

    .tab-content{
        padding-left: 10px;
        overflow-x: hidden;
        height: 80vh;
        @include scrollbar(5px, 1px);
        .tabpanel{
            height: inherit;
            padding-left: 10px !important;
        }
        .tab-pane{

            margin: 10px 0;
          & > *{
            margin: 0 13px;
          }
        }
       #products{
            font-size: 11px;
            .dropdown-divider{
                width: 110%;
                margin-left: -5%;
            }

            label{
                transform: scale(0.7);
                -webkit-transform: scale(0.7);
                -o-transform: scale(0.7);
                -moz-transform: scale(0.7)
            }
        }

    }





</style>
