<template>
  <div>

    <th class="padding-ten"><input class="checked" type="checkbox" name="checked" id=""></th>
    <th>yeah</th>
    <th>yeah</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th><button class="button-s" data-toggle="modal" data-target="#myModal"><i class="fa fa-pencil"></i></button></th>

  </div>
</template>

<script>
export default {
  name: 'TableHeader',
  data () {
    return {

    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
