<template>
  <tr>
    <td :style="{display: display}" class="padding-ten">
        <div class="form-group md-checkbox no-label">
            <input style="display: none" class="checked" :id="model.id" type="checkbox" data-value="all">
            <label :for="model.id" class="check checked"></label>
        </div>
    </td>
    <td :style="{display: display}" class="position-relative">
      <avatar
      v-bind:username="model.name"
      class="emberI position-absolute"
      >
      </avatar>
    </td>
    <td>{{model.primary}}</td>
    <td>{{model.branch}}</td>
    <td>{{model.locality}}</td>
    <td>{{model.status}}</td>
    <td :style="{display: display}" class="dropdown table-menu">
      <div class="mini-menu">
          <div class="mask position-absolute"></div>
          <button id="dis" class="transbut transbut1" type="button"><i class="fa fa-envelope-o" aria-hidden="true"></i></button>
          <button id="aha" class="transbut transbut1 contact-edit" type="button"><i class="fa fa-pencil" aria-hidden="true"></i></button>
          <button class="transbut" type="button" data-toggle="dropdown"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
          <ul class="dropdown-menu dropdown-menu-right" style="z-index: 50">
              <li><a href="#"><img src="assets/images/two-contacts.png" alt="">Merge</a></li>
              <li><a href="#"><img src="assets/images/adaptation.png" alt="">Re-assign</a></li>
              <li class="divider"></li>
              <li><a href="#"><img src="assets/images/garbage.png" alt="">Delete</a></li>
          </ul>
      </div>
    </td>
  </tr>
</template>

<script>
export default {
  name: 'TableRow',
  props: ['model'],
  data () {
    return {
      isChecked: false,
      checkedContacts: []
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import '../assets/styles/variables';
@import '../assets/styles/mixins';


 .table-menu{
    min-width: 100px;
     ul{
         li{
             a{
                 img{
                     width: 16px;
                     height: 16px;
                     margin-right: 10px;
                 }
             }
         }
     }
 }
.transbut{
     @include round-button(transparent,4vh,50%,black,auto);

     &:hover{
         background: $placeholder-gray;
     }
 }



.mini-menu{
    position: absolute;
    right: 5px;
    border: 0px;
    border-radius: 40px;
    height: 4vh;
    margin: 0;
    width: 100px;
    padding-right: 0;
    top: 1vh;
    display: flex;
    justify-content: space-between;


    .mask{
        top: 0;
        width: 70px;
        height: 3.8vh;
        z-index: 30;
        background: white;;
        transition: width 0.5s ease-in, border 0.5s ease-in-out;
        border-radius: 40px;
    }

    &:hover{
     border: 1px solid $placeholder-gray;
        div{
            width: 0px;
        }
    }

    @media screen and (min-width: 1400px) {
        top: 0.5vh;
        height: 3vh;
        width: 120px;

        button{
            width: 3vh;
            height: 3vh;
            line-height: 3vh;
        }

        .mask{
            width: 100px;
            top: 0;
            height: 2.8vh;
        }
    }

}

</style>
