<template>
    <div class="{class}">
        <input type="checkbox" name="{class}" class="{class}-checkbox" id="my{class}" checked>
        <label class="{class}-label" for="my{class}">
            <span class="{class}-inner"></span>
            <span class="{class}-switch"></span>
        </label> 
    </div>
</template>

<script>
    
</script>

<style lang="sass">
    
</style>

