<template>
    <div>
        <a :style="{visible}" href="#" class="tooltips"><span>{{title}}</span></a>
    </div>
</template>

<script>
    export default {
        name: 'tool-tip',
        props: ['title','visible']
    }
</script>
<style lang="scss" scoped>
    a.tooltips {
        position: relative;
        display: inline;
    }
    a.tooltips span {
        opacity: 0.8;
        left: 100%;
        top: 50%;
        margin-top: -NaNpx;
        margin-left: 15px;
        position: absolute;
        width:140px;
        color: #FFFFFF;
        background: #000000;
        height: 30px;
        line-height: 30px;
        text-align: center;
        visibility: visible;
        border-radius: 6px;
        box-shadow: 0px 0px 0px #800000;
    }
    a.tooltips span:after {
    content: '';
        position: absolute;
        top: 50%;
        right: 100%;
        margin-top: -8px;
        width: 0; height: 0;
        border-right: 8px solid #000000;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
    }
    a:hover.tooltips span {
        visibility: visible;
        opacity: 0.8;
        left: 100%;
        top: 50%;
        margin-top: -NaNpx;
        margin-left: 15px;
        z-index: 999;
    }
</style>


