<template>
<div>
  <div class="top-nav d-flex flex-row justify-content-between align-items-center">
    <search-with-dropdown></search-with-dropdown>

    <div class="d-flex flex-row align-items-center">
        <button v-if="user && user.can_post_transactions" @click="post" type="button" class="btn btn-primary post-transaction mr-2 disabled">Post Transaction</button>
      <div style="padding-right: 10px" class="new-button form-group no-margin dropdown">
          <a class="new-button-button orange btn d-flex justify-content-center" data-toggle="dropdown">{{$t('misc.newText')}}</a>
          <div class="dropdown-menu">
            <div class=" d-flex flex-row ">
                <div class="col-4 column disabled">
                    <a id="new-contact" class="d-flex disabled justify-center flex-column align-items-center full-height">
                        <img src="../assets/img/3.svg" alt="" class="img-fluid disabled" style="filter: invert(1)">
                        <p class="text-center disabled">Contact</p>
                    </a>
                </div>
                <div @click="addAgent" class="col-4 column">
                    <a class="d-flex flex-column align-items-center justify-center full-height">
                        <img src="../assets/img/2.svg" alt="" class="img-fluid" style="filter: invert(1)">
                        <p class="text-center">Agent</p>
                    </a>
                </div>
                <div class="col-4 disabled column disabled">
                    <a class="d-flex disabled flex-column justify-center flex-column align-items-center full-height">
                        <img src="../assets/img/1.svg" alt="" class="img-fluid disabled">
                        <p class="text-center disabled">Email/SMS</p>
                    </a>
                </div>
          </div>
        </div>
      </div>
      <div class="eva-balance">
          <p style="font-size: 9px;" class="round-bold no-margin no-padding">EVA {{$t('misc.balance')}}</p>
          <p style="font-size: 12px;" class="light no-margin no-padding"><template v-if="user">{{0.00 | money("GHS", {symbol_type: "text"})}}</template></p>
      </div>
      <div class="vert-line"></div>

      <div class="divs notification-tray d-inline-flex disabled flex-row">
          <a v-if="false" class="flex-row justify-center align-center disabled">
              <span class="badge disabled">5</span>
              <img src="../assets/img/mail.png" alt="" class="img-fluid disabled">
          </a>
          <a v-if="false" class="flex-row justify-center align-center disabled">
              <span class="badge disabled">5</span>
              <img src="../assets/img/Asset 7.svg" alt="" class="img-fluid disabled">
          </a>
          <!-- @click="logout" -->
          <a class="dropdown" style="padding: 0; border: 0; border-radius: 0;">
            <avatar id="avatarDropButton" data-toggle="dropdown" aria-expanded="false" :username="user.name" backgroundColor="black" color="white"></avatar>
            <div class="dropdown-menu" id="avatarDrop" aria-labelledby="avatarDropButton">
                <a @click="logout" class="dropdown-item" href="#"><img src="../assets/img/exit (3).svg" alt=""> Log Out</a>
            </div>
          </a>
      </div>
    </div>



  </div>
  <full-overlay></full-overlay>
    <add-edit-contact forApproval="none" name="" display=""></add-edit-contact>
    <add-edit-agent forApproval="none" name="" display=""></add-edit-agent>
    <add-loan-application
    >
    </add-loan-application>
</div>



</template>

<script>
import * as events from '@/utils/constants/events'
import { mapGetters, mapActions } from 'vuex'
import auth from '@/services/auth'
export default {
  name: 'TopNav',
  data () {
    return {

    }
  },
  computed: {
    ...mapGetters({
      user: 'user'
    })
  },
  methods: {
    logout () {
      if (auth.logout()) {
        this.$notify.info('Logout Successful')
            // this.$router.push({name: 'login'})
        window.location = window.location
      }
    },
    fetchUser () {
      this.$store.dispatch('getUser')
    },
    post () {
      return
      this.$router.push({name: 'post-transactions'})
    },
    addLoan () {
      this.$bus.$emit(events.SHOW_OVERLAY, true)
      window.$('#add-loan-slider.slider').addClass('open')
      this.$bus.$once(events.CLOSING_OVERLAY, function () {
        window.$('#add-loan-slider.slider').removeClass('open')
      })
    },
    addContact () {
      this.$bus.$emit(events.SHOW_OVERLAY, true)
      window.$('#add-contact-slider.slider').addClass('open')
      this.$bus.$once(events.CLOSING_OVERLAY, function () {
        window.$('#add-contact-slider.slider').removeClass('open')
      })
    },
    addAgent () {
      console.error('yah')
      this.$bus.$emit(events.SHOW_OVERLAY, true)
      window.$('#add-agent-slider.slider').addClass('open')
      this.$bus.$once(events.CLOSING_OVERLAY, function () {
        window.$('#add-agent-slider.slider').removeClass('open')
      })
    }
  },
  mounted: function () {
    this.$bus.$on('UserCreated', this.fetchUser)
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  @import '../assets/styles/_variables';
  @import '../assets/styles/mixins';
    

    .top-nav{
        height: 60px;
        padding-left: 3px;
        padding-right: 5px;
        border-bottom: 1px solid #f0f0f0;
        //height: 7vh;

        .post-transaction{
            font-family: "GothamMedium";
            color: rgb(255, 255, 255);
            height: 26px;
            line-height: 26px;
            text-decoration: none solid rgb(255, 255, 255);
            text-size-adjust: 100%;
            touch-action: manipulation;
            vertical-align: middle;
            white-space: nowrap;
            column-rule-color: rgb(255, 255, 255);
            perspective-origin: 31.3125px 13px;
            transform-origin: 31.3125px 13px;
            user-select: none;
            caret-color: rgb(255, 255, 255);
            border: 1px solid rgba(0, 0, 0, 0);
            border-radius: 2px;
            font: normal normal 400 normal 12px / 12px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
            list-style: none outside none;
            outline: rgb(255, 255, 255) none 0px;
            //padding: 4px 20px;
        }

        .new-button-button{
            font-family: "GothamMedium";
            color: rgb(255, 255, 255);
            height: 26px;
            line-height: 26px;
            text-decoration: none solid rgb(255, 255, 255);
            text-size-adjust: 100%;
            touch-action: manipulation;
            vertical-align: middle;
            white-space: nowrap;
            width: 62.6406px;
            column-rule-color: rgb(255, 255, 255);
            perspective-origin: 31.3125px 13px;
            transform-origin: 31.3125px 13px;
            user-select: none;
            caret-color: rgb(255, 255, 255);
            background: rgb(255, 168, 0) none repeat scroll 0% 0% / auto padding-box border-box;
            border: 1px solid rgba(0, 0, 0, 0);
            border-radius: 2px;
            font: normal normal 400 normal 12px / 12px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
            list-style: none outside none;
            outline: rgb(255, 255, 255) none 0px;
            //padding: 4px 20px;
            transition: all 0.3s ease 0s;
            a{
              padding-top: 8px;
              height: 28px;
            }
        }

        .eva-balance{
            p{
                margin: 0px;
                white-space: nowrap;
                line-height: 1;
                text-align: left;

                &:nth-child(1){
                    font-size: 8px;
                    font-weight: bold;
                    color: darken($border-color, 15%);
                    margin-top: 3px;
                }

                &:nth-child(2){
                    margin-top: 5px;
                    color: $blue;
                    font-size: 12px;
                }
            }
        }



        .dropdown{
            .dropdown-menu{
                left: auto!important;
                right: -10px;
                width: 362px;
                border-radius: 0px;
                z-index: 1;
                padding: 0;
                .column{
                    padding: 0px;

                    &:nth-child(1),
                    &:nth-child(2) {
                        border-right: solid 1px rgba(0, 0, 0, 0.15);
                    }
                }
                a{
                    display: block;
                    width: 100%;
                    padding: 10px;
                    img{
                        margin: 0px auto;
                        //width: 40px;
                        width: 30px;
                        margin-bottom: 5px;
                    }

                    p{
                        text-align: center;
                        margin: 0px;
                        color: #222;
                        font-size: $subtext;
                    }
                }
            }
        }

        .notification-tray{
            img{
                width: 16px;
                width: 14px;
            }
            a{
                border-radius: 50%;
                border: 1px solid $input-border;
                //border: solid 1px lighten($border-color, 20%);
                width: 30px;
                height: 30px;
                text-align: center;
                // padding: 0px 4px 4px 4px;
                margin: 2px 5px;
                position: relative;
                // width: 34px;
                // height: 34px;

                .badge{
                    position: absolute;
                    margin: -5px -5px 0px 0px;
                    background: red;
                    color: white;
                    top: 0;
                    right: 0;
                    font-size: 10px;
                    border-radius: 50%;
                }

                &:nth-child(3){
                    border: solid 1px $border-color;
                    line-height: 29px;
                    text-align: center;
                    padding: 0px !important;
                    font-size: 18px;
                    margin-right: 12px;
                }
            }

        }

    }

    #avatarDrop::before{
        content: '';
        display: block;
        position: absolute;
        border: 5px solid transparent;
        width: 0;
        border-bottom-color: #fff;
        background: #fff;
        top: -5px;
        right: 14px;
        box-shadow: 1px 1px 1px rgba(0,0,0,.2);
        -webkit-transform: rotate(45deg) translate(7px,-7px);
        transform: rotate(225deg) translate(0,0);
    }

    #avatarDrop{
        transform: translate3d(-5px, 30px, 0px) !important;
        width: 20px;
        border-radius: 3px;
        font-size: 11px;
        box-shadow: 0 0 2px 1px rgba(0,0,0,.175)!important;
        background: rgba(255, 255, 255, 0.75);
        top: 10px !important;
        z-index: 50000;
        padding: 2px 0;
        a{
            line-height: 28px;
            height: 28px;
            background: white;
            &:hover, &:active, &:focus{
              color: #212529;
              background: #fafafa!important;
            }
            border: 0px;
            border-radius: 0px;
            padding: 0px;
            margin: 0;
            width: auto;

            img{
                width: 16px;
                margin-bottom: 0px;
            }
        }
    }
    .disabled{
        cursor: not-allowed;
    }
</style>
