<template>
  <div>
      <trans-detail title="CASH AT HAND (TOTAL)" price="GHs250,000.00"></trans-detail>
      <trans-detail title="NET TRANSACTION VALUE (TOTAL)" price="GHs250,000.00"></trans-detail>
      <trans-detail title="NUMBER OF TRANSACTIONS (TOTAL)" price="126"></trans-detail>
      <trans-detail title="NUMBER OF CUSTOMERS (TOTAL)" price="105"></trans-detail>
      <trans-detail title="NUMBER OF AGENTS (TOTAL)" price="35"></trans-detail>
  </div>
</template>

<script>
    export default {
        name: "transaction-details" 
    }
</script>

<style lang="scss" scoped>

</style>


