<template>
  <div class="trans-det">
      <p  class="uppercase light">{{title}}</p>
      <h1 class="uppercase">{{price}}</h1>
  </div>
</template>

<script>
    export default {
        name: "trans-detail",
        props: ["title", "price"]
    }
</script>

<style lang="scss" scoped>
    .trans-det{
        border: 1px solid #dee2e6;
        width: 90%;
        margin-left: 5%;
        padding: 10px;
        height: auto;
        margin-top: 10px;
        margin-bottom: 10px;

        p{
            font-size: 9px;
            color: #333;

        }

        h1{
            font-size: 20px;

        }
    }
</style>

