<template>
  <div class="panel panel-default">
      <div class="panel-heading white-background">
          <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span>
                  <img src="../assets/img/plus.svg" alt="">
              </span>Basic Information</a>
          </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in">
          <div class="panel-body">
              <table class="table">
                  <tr>
                      <td>
                          <a class="black-text" @click="scrollToSegment('location')">Location</a>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <a class="black-text" @click="scrollToSegment('contact-details')">Contact Details</a>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <a class="black-text" href="http://www.jquery2dotnet.com">Social Profiles</a>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <a class="black-text" href="http://www.jquery2dotnet.com">Identity Information</a>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <a class="black-text" href="http://www.jquery2dotnet.com">Employee</a>
                      </td>
                  </tr>
              </table>
          </div>
      </div>
  </div>
</template>

<script>
import * as events from '@/utils/constants/events'
import Utils from '@/utils/Utils'
export default {
  name: 'TreeNode',
  methods () {
    scrollToSegment (location) {

    }
  }
  data () {
    return {
      open: false
    }
  }
}
</script>
