<template>
  <div class="d-flex flex-row align-items-stretch">
    <div class="pane-one">
      <slot name="pane-one"></slot>
      <div v-if="collapsible" @mouseover="toggleCollapseButton(true, $event)" @mouseleave="toggleCollapseButton(false, $event)" class="collapse-details-button d-flex align-items-center justify-content-center">
        <img v-on:click="collapseDetailsPanel($event)" src="../assets/img/right_chevron.png">
      </div>
    </div>
    <div class="pane-two">
      <slot name="pane-two"></slot>
    </div>
  </div>
</template> 

<script>

import leftChevron from '../assets/img/left_chevron.png'
import rightChevron from '../assets/img/right_chevron.png'
export default {
  name: 'TwoPaneContainer',
  props: {
    collapsible: {
      type: Boolean,
      default: false
    }
  },
  created () {

  },
  mounted () {

  },
  data () {
    return {
      isDetailsPanelOpen: true
    }
  },
  methods: {
    collapseDetailsPanel (event) {
      let $img = window.$(event.target) 
      let $this = window.$(this.$el)
      let $detailsPanel = $this.find('.pane-two')
      let $collapseButtonDiv = $this.find('.collapse-details-button')
      if(this.isDetailsPanelOpen){
        // close the panel
        $detailsPanel.addClass('closed')
        $img.attr('src', leftChevron).css('right', '10px')
        $collapseButtonDiv.css('right', '-4px')
      }else {
        $detailsPanel.removeClass('closed')
        $img.attr('src', rightChevron).css('right', '-10px')
        $collapseButtonDiv.css('right', '-5px')
      }
      this.isDetailsPanelOpen = !this.isDetailsPanelOpen

    },
    toggleCollapseButton (isHovered, event) {
      if(this.isDetailsPanelOpen){return}
      let $img = window.$(event.target).find('img')
      if(isHovered){
        $img.css('visibility', 'visible')
      }
      else{
        $img.css('visibility', 'hidden')
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped  lang="scss">
@import '../assets/styles/variables';
@import '../assets/styles/mixins';
.pane-one{
  flex: 3;
  transition: all .3s;
  position: relative;
  height: 80vh;
}
.pane-two{
  //border-left: 1px solid black;
  border-left: 2px solid $line-color;
  height: 80vh;
  flex:1;
  transition: all .3s;
  &.closed {
    // TBD
    // display: none;
    flex-grow: 0;
  }
  &.closed > *{
    display: none;
  }
}
.collapse-details-button{
  position: absolute;
  z-index: 100;
  width: 10px;
  height: 80%;
  top: 10%;
  right: -5px;

  div{
    position: absolute;
    z-index: 100;
    width: 30px;
    height: 100px;
    right: -10px;
  }
  img{
    cursor: pointer;
    background: $orange;
    padding: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    right: -10px;
    &:hover{
      background: #d48f45;
    }
  }

}
</style>
