<template>
  <div class="p-0 m-0">
    <div class="px-3 border-bottom" style="height: auto" v-for="update in updates">
        <div class="flex-row justify-content-between py-1">
          <div style="font-size: 9px">{{update.email}}</div>
          <div class="text-secondary">{{update.date | moment("DD MMM YYYY")}}</div>
        </div>
        <div>
          <h4 style="font-size:12px" class="uppercase border-bottom pb-1 text-dark bold">update to the group field</h4>
          <h6 style="font-size:10px" class="uppercase text-secondary bold m-0">old data</h6>
          <p class="m-0 py-1">No</p>
          <div style="width: 100%" class="dividerD m-0"></div>
          <h6 style="font-size:10px" class="uppercase text-secondary bold m-0 py-1">New data</h6>
          <p class="m-0">Yes</p>
        </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'UpdateComponent',
  props: ['model'],
  data () {
    return {
        updates:[]
    }
  },
  created: function() {
      for (var i = 0; i < 8; i++){

          var update={
            email: this.$faker().internet.email(),
            ussd: this.$faker().random.number(),
            message: this.$faker().lorem.sentence(),
            num: this.$faker().random.number(),
            phone: this.$faker().phone.phoneNumberFormat(),
            status: this.$faker().random.boolean(),
            price: this.$faker().finance.amount(),
            date: this.$faker().date.past(),
          };

          this.updates.push(update);
          //console.log("Activities:", this.updates);
      }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
  .col-7{
    text-align: right;
    font-size: 8px;
  }
  .col-5{
    font-size: 8px;
  }
  .dividerI,.dividerD{
    margin-left: 10px;
   
  }
</style>
