<template>
  <v-popover :open="true"
    popoverWrapperClass="loans-tooltip-inner loans-popover-inner"
                        popoverBaseClass="loans-tooltip loans-popover"
                        placement="bottom"
                        boundariesElement="body"
  >
    <span class="chip approved flex-row align-center justify-center">{{level}}</span>
    <template slot="popover">
      <div class="book content">
        <div class="d-flex flex-row justify-content-between align-items-center">
          <div class="status">level {{level}} approved</div>
          <div class="date round-light">2 feb 2017 18:34</div>
        </div>
        <div class="name" >{{name}}</div>
      </div>
    </template>
  </v-popover>
</template>

<script>
import * as events from '@/utils/constants/events'
import Utils from '@/utils/Utils'
export default {
  name: 'LoanApprovedStatus',
  props: ['level', 'name', 'date']
}
</script>
<style lang="scss">
  .loans-popover-inner{
    .content{
      & > div:first-child{

      }
      .date{
        margin-left: 10px;
        font-size: 8px;
      }
      .status{
        margin-right: 10px;
      }
      .name{
        margin-top: 10px;
        font-size: 12px;
      }
    }
  }
</style>
