<template>
  <v-popover container='#app' boundariesElement='#app'   placement="bottom" ref="popover" :open="open" @update:open="popoverStateChanged">
    <button   class="btn white-background border">Reject</button>
    <template slot="popover"
      popoverWrapperClass="loans-tooltip-inner loans-popover-inner"
                        popoverBaseClass="loans-tooltip loans-popover"
                      
    >
      <div class="book content">
          <div class="status">Reason For Rejection</div>
          <div ref="commentsBox" :class="['comments-box', {showing: true}]">
            <div ref="comments" class="comments">
              <textarea v-model="reason" placeholder="Reason For Rejection" rows="6" class="book"></textarea>
            </div>
            <!-- <div class="password">
              <input type="password" placeholder="Enter Authorization Password"/>
            </div> -->
          </div>
          <div @click="rejectFarmer" class="approve"><button class="blue-button">Submit</button></div>
      </div>
    </template>
  </v-popover>
</template>

<script>
import * as events from '@/utils/constants/events'
import Utils from '@/utils/Utils'
export default {
  name: 'RejectFarmerPopover',
  
  methods: {
    popoverStateChanged(open) {
      // alert('b')
      // let $wrapper = $(this.$el).find('.wrapper .content')
      // if(open){
      //   $wrapper.slideDown()
      // }
      $(this.$refs.commentsBox)
        .find('textarea').focus()
    },
    rejectFarmer () {
      this.$emit('reject:farmer', this.reason)
      this.$refs.popover.hide()
    },
    approve () {
      if(this.commentsShowing){
        alert("saved")
      }
      else{
        this.commentsShowing = true
        window.$(this.$refs.commentsBox).slideDown()
        .find('textarea').focus()
      }
    }
  },
  data () {
    return {
      commentsShowing: false,
      open: false,
      reason: ""
    }
  }
}
</script>
<style lang="scss" scoped>
  .loans-tooltip-inner{
    .content{
      // display: none;
      min-width: 230px;
      input, textarea{
        width: 100%;
        padding: 5px 10px;
        font-size: 12px;
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          font-size: 10px;
          font-style: italic;
        }
        &::-moz-placeholder { /* Firefox 19+ */
          font-size: 10px;
          font-style: italic;
        }
        &:-ms-input-placeholder { /* IE 10+ */
          font-size: 10px;
          font-style: italic;
        }
        &:-moz-placeholder { /* Firefox 18- */
          font-size: 10px;
          font-style: italic;
        }
      }
      & > * {
        margin-top: 10px;
      }
      & > div:first-child{
        margin-top: 0;
        margin-bottom: 5px;
      }
      .comments-box{
        // display: none;
        textarea{
          min-height: 100px;
        }
      }
      .approve{
      }
      .status{
        margin-right: 10px;
      }
      .password{
        margin-top: 10px;
        & > input{

        }

      }
    }
  }
</style>
