<template>
  <div class="dash-side full-height">
    <div v-if="dashType == 'a'" class="side-1 border no-margin p-2 text-white flex-column justify-content-between">
      <div style="height: 12%;" class="d-flex flex-column justify-content-between">
        <h6 class="bold round-book text-secondary uppercase">{{$t('dashboard.totalNoAgents')}}</h6>
        <h5 class="bold round-book">{{totalAgents}}</h5>
      </div>

        <div class="dropdown-divider"></div>

        <div style="height: 45%" class="d-dlex flex-column justify-content-between uppercase">
          <div style="background: #fdcd83" class="status-panel d-flex justify-content-between align-items-center px-2 bold mb-2">
            <p>{{$t('misc.active')}}</p>
            <p>{{activeAgents}}</p>
          </div>
          <div style="background: #e1d9c9" class="status-panel d-flex justify-content-between align-items-center px-2 bold mb-2">
            <p>{{$t('misc.inactive')}}</p>
            <p>{{inactiveAgents}}</p>
          </div>
          <div style="background: #ff6b74" class="status-panel d-flex justify-content-between align-items-center px-2 bold mb-2">
            <p>{{$t('misc.offline')}}</p>
            <p>{{offlineAgents}}</p>
          </div> 
        </div>

         <h6 class="bold round-book text-secondary uppercase mt-3">{{$t('dashboard.agentType')}}</h6>
         <div style="height: 30%" class="uppercase d-flex flex-column justify-content-between">
          <div class="status-panel d-flex justify-content-between align-items-center px-2 bold mb-2">
            <p>PC</p>
            <p>{{totalAgents}}</p>
          </div>
          <div style="background: #433495" class="status-panel d-flex justify-content-between align-items-center px-2 bold mb-2">
            <p>DC</p>
            <p>{{totalUsers}}</p>
          </div>
        </div>
    </div>

    <div v-else-if="dashType == 'b'" class="side-1 border no-margin p-2 text-white flex-column justify-content-between">
      <div style="height: 12%;" class="d-flex flex-column justify-content-between">
        <h6 class="bold round-book text-secondary uppercase">Today's Transactions</h6>
        <h5 class="bold round-book">GHc3,874,576.00</h5>
      </div>
      <div class="dropdown-divider"></div>
      <div style="height: 30%" class="d-flex flex-column justify-content-between">
          <div class="status-panel d-flex justify-content-between align-items-center bg-white uppercase mb-2 text-dark">
            <p>Number of Transactions</p>
            <p>1,330</p>
          </div>
          <div class="status-panel d-flex justify-content-between align-items-center bg-white uppercase mb-2 text-dark">
            <p>Number of Customers</p>
            <p>{{totalFarmers}}</p>
          </div>
      </div>
      <div class="dropdown-divider"></div>
      <div style="height: 45%" class="uppercase d-dlex flex-column justify-content-between">
          <div @click="viewAgentDetails" style="background: #fdcd83" class="status-panel d-flex justify-content-between align-items-center px-2 bold mb-2">
            <p>{{$t('misc.successfull')}}</p>
            <p>89</p>
          </div>
          <div style="background: #e1d9c9" class="status-panel d-flex justify-content-between align-items-center px-2 bold mb-2">
            <p>{{$t('misc.pending')}}</p>
            <p>16</p>
          </div>
          <div style="background: #ff6b74" class="status-panel d-flex justify-content-between align-items-center px-2 bold mb-2">
            <p>{{$t('misc.failed')}}</p>
            <p>19</p>
          </div>
      </div>
    </div>

    <div class="side-2 border no-margin p-2 mt-2">
      <h6 v-if="dashType=='b'" style="font-size:9px" class="uppercase bold text-secondary">TODAY’S TRANSACTIONS BY BRANCH</h6>
        <!-- <div v-for="branch in branches" class="d-flex uppercase justify-content-between align-items-center my-2">
            <p>{{branch.name}}</p>
            <p>{{branch.number}}</p>
        </div> -->
        <div v-for="town in towns" class="d-flex uppercase justify-content-between align-items-center my-2">
            <p>{{town.name}}</p>
            <p>{{town.agent_count}}</p>
        </div>
    </div>

    <div>

    </div>
  </div>
</template>

<script>
import * as events from '@/utils/constants/events'
var faker = require('faker');
import { mapGetters, mapActions } from 'vuex'
    export default {
      name: "DashboardSidePanel",
      data () {
        return {
          branches: [],
          dashType: 'a',
          totalAgents:null,
          totalFarmers:null,
          totalUsers:null
        }
      },
      created: function(){
        var br = ["adenta","madina","pokuase","nsawam","Boku","Accra","Lapaz","Ho","Dzowulu","Dawhenya","legon","tema","prampram"]
        for(let i = 0; i < 10; i ++){
          var rand = Math.floor(Math.random() * 11) + 1;
          let branch = { 
            name: br[rand], 
            number: faker.random.number(),
          }
          this.branches.push(branch)
        }
        this.totalAgents = this.agentsMeta.TotalRecords
        this.totalFarmers = this.contacts.length
        this.totalUsers = this.usersData.length
      },
      mounted: function(){
        this.$store.dispatch("getTowns")
        this.$store.dispatch("getAgents")
        let that = this
        this.$bus.$on("isSelect", function(msg){
          that.dashType = msg;
          console.error(this.dashType)
        })

      },
      methods: {
        viewAgentDetails(){
            this.$bus.$emit(events.SHOW_OVERLAY, true)
            window.$('#agent-detail-slider').addClass('open');
            this.$bus.$once(events.CLOSING_OVERLAY, function () {
                window.$('#agent-detail-slider.slider').removeClass('open');
            })
        }
      },
      computed:{
        ...mapGetters([
          'mapData','contacts','usersData','towns','agents','agentsMeta'
        ]),
        activeAgents(){
          return this.mapData.filter(person => person.active == true).length
        },
        inactiveAgents(){
          return this.mapData.filter(person => person.active == false).length
        },
        offlineAgents(){
          return this.mapData.filter(person => person.state == "offline").length
        },
        totalDC () {
          return this.agents.filter(agent => agent.agent_type !== 'PC').length
        },
        totalPC () {
          return this.agents.filter(agent => agent.agent_type == 'PC').length
        }
      }
    }
</script>

<style lang="scss" scoped>
  @import '../../assets/styles/variables';
  @import '../../assets/styles/mixins';
  .dash-side{
    width: 95%;
    font-size: 12px;
    //background: lightgray;
    //padding: 20px;

    p{
      padding: 0;
      margin: 0;
    }

    .side-1{
      height: auto;
      background: white;
      height: 320px;
      //height: 52%;

      // @media screen and (min-width: 1440px) {
      //   height: 52%;
      //   height: auto;
      // }

      h6{
        font-size: 9px;
        //letter-spacing: 1px;
      }

      h5{
        color: $blue;
      }

      .status-panel{
        height: 35px;
        //height: 6vh;
        background: $blue;


        // @media screen and (min-width: 1440px) {
        //   height: 5.5vh;
        //   font-size: 1.5em;
        //   height: 4.5vh;
        //   font-size: 13px;
        //   height: 35px;
        // }
      }
    }

    .side-2{
      height: 31vh;
      height: calc(100vh - calc(430px + 6vh));
      //height: 200px;
      overflow-y: scroll;
      @include scrollbar(5px, 1px);

      // @media screen and (min-width: 1440px) {
      //   height: calc(64vh - calc(200px + 6vh));
      //   height: calc(71vh - calc(200px + 6vh));
      // }
    }
  }
</style>
