<template>
  <div class="dash-filter px-3 pt-2 border-right">
      <form class="full-width" action="">
        <div class="form-group">
            <label class="uppercase text-secondary bold" for="exampleInputEmail1">select a dashboard</label>
            <select v-model="dashboardType" class="form-control" id="exampleFormControlSelect1">
                <option disabled>Please select a dashboard</option>
                <option value='a'>Agent Network Dashboard</option>
                <option value='b'>Field Transactions</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="form-group">
            <label class="uppercase text-secondary bold" for="exampleInputEmail1">select cluster</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option>All clusters</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="form-group">
            <label class="uppercase text-secondary bold" for="exampleInputEmail1">select branch</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option>All branches</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
      </form>
  </div>
</template>

<script>
    export default {
        name: "DashboardFilter",
        mounted() {
            this.$bus.$on("isPanelOpening", this.openLeftPanel)
            window.$('.dash-filter').css({"flex":"0%","display":"none"});
            window.$('.dash-main').css({"flex":"100%"});
        },
        beforeUpdate(){
            this.$bus.$emit("isSelect",this.dashboardType);
            this.$bus.$emit("isForMap",this.dashboardType);
        },
        data () {
            return {
                isOpen: '',
                dashboardType: ''
            }
        },
        methods:{
            openLeftPanel() {
                if(this.isOpen == 'off' || this.isOpen == ''){
                    this.isOpen = 'on'
                    // window.$('.dash-filter').css({"flex":"20%","display":"flex"});
                    // window.$('.dash-main').css("flex","80%");
                    //works
                    window.$('.dash-filter').addClass('sliderLeft');
                    window.$('.dash-filter').css({"flex":"20%","display":"flex"});
                    window.$('.dash-main').css("flex","80%");
                    //end
                    // window.$('.dash-all').addClass('sliderLeft');
                    // window.$('.dash-main').css("flex","80%");
                }else {
                    this.isOpen = 'off'
                    //window.$('.dash-filter').addClass('sliderRight');
                    //window.$('.dash-main').addClass('sliderRight');
                    // window.$('.dash-filter').css({"flex":"0px","display": "none"});
                    //works
                    window.$('.dash-filter').removeClass('sliderLeft');
                    window.$('.dash-filter').css({"flex":"0%","display":"none"});
                    window.$('.dash-main').css("flex","100%");
                    //end

                }

                
            }
        }
    }
</script>

<style lang="scss" scoped>

    .dash-filter{
        width: 20%;
        //display: none;
        transition: all 0.2s linear;
    }
    label{
        font-size: 12px;
    }

    select{
        height: 30px;
    }

</style>


