 <template>
   <div style="height: calc(100vh - calc(102px + 6vh));">
        <!-- <div class="dash-map full-height border"  :id="mapName"></div> -->
        <div :id="id" class="dash-map full-height border"></div>

        <div class="map-button-div d-flex flex-column position-absolute">
            <button class="border rounded-circle bg-white mb-2"><img src="../../assets/img/shuffle.svg" alt=""></button>
            <button class="refresh-map border rounded-circle bg-white"><img src="../../assets/img/re.svg" alt=""></button>
        </div>

   </div>
 </template>


 <script>
    import pointer from '../../assets/img/3.png'
    import markerIcon from '../../assets/img/4.png'
    import userIcon from '../../assets/img/img.jpg'
    import expandIcon from '../../assets/img/expand.svg'
    import close from "../../assets/img/cancel-music.png"
    //import geojson from "../../../static/earthquakes.geojson"
    var faker = require('faker');
    import { mapGetters } from 'vuex'
    export default {
        name: 'DashboardMap',
        props: ['id','networkAgents'],
        data: function () {
            return {
                mapName: this.id + "-map",
                markerCoordinates: [],
                map: null,
                bounds: null,
                markers: [{
                    latitude: 45,
                    longitude: 23
                },{
                    latitude: 3,
                    longitude: 45
                }],
                users: [
                    {firstName: 'Alice',lastName: 'Nunoo',branch: 'Mile 7',
                      num: '91679469',deposit:'825.00'
                    },
                    {firstName: 'Alice',lastName: 'Nunoo',branch: 'Mile 7',num: '91679469',
                      deposit:'825.00'
                    }
                ],
                dashType: 'a',
            }
        },
        methods: {
          // pulseMarker (el, toggle) {
          //   // let initialOpacity = 1
          //   // let opacity = initialOpacity;
          //   let that = this
          //   let width = el.offsetWidth
          //   let height = el.offsetHeight
          //   if(height >= 50){
          //     toggle = -2
          //   }
          //   if(height <= 30){
          //     toggle = 2
          //   }
          //   el.style.height += toggle
          //   el.style.width += toggle
          //   requestAnimationFrame(() => that.pulseMarker(el, toggle))
          //   // setTimeout(function(){
          //   //     requestAnimationFrame(() => pulseMarker(el))
          //   //     radius += (maxRadius - radius) / framesPerSecond;
          //   //     opacity -= ( .9 / framesPerSecond );
          //   //
          //   //     map.setPaintProperty('point', 'circle-radius', radius);
          //   //     map.setPaintProperty('point', 'circle-opacity', opacity);
          //   //
          //   //     if (opacity <= 0) {
          //   //         radius = initialRadius;
          //   //         opacity = initialOpacity;
          //   //     }
          //   //
          //   // }, 1000 / framesPerSecond)
          // },
          addFeatureToMap (feature, map, isNew) {
            // create a HTML element for each feature
            let that = this
            var el = document.createElement('div');
            el.className = 'marker';
            el.style.background = feature.properties.primaryColor;

            // console.log("Feature",feature.geometry.coordinates)

            var outer = document.createElement('div');
            outer.className = 'outerMarker';
            outer.id = feature.properties.lastName;
            outer.style.background = feature.properties.secondaryColor;

            if(isNew){
              outer.style.animationName = "pulse";
              outer.style.animationDuration="1s";
              outer.style.animationTimingFunction= "ease-in"
              outer.style.animationIterationCount="infinite"
            }

            // if(this.dashType=='a'){ 
                var contentString= '<div class="dashboard-info book d-flex flex-column"><div class="d-flex px-2 pt-2 pb-0 flex-row"><img class="rounded-circle" src="'+feature.properties.picture+'" alt=""><div class="d-flex flex-column pl-2"><p style="font-size: 14px" class="no-padding no-margin">'+feature.properties.firstName+'<br><strong>'+feature.properties.lastName+'</strong></p><p class="no-padding no-margin uppercase">'+feature.properties.type+'</p><p style="font-size: 10px" class="no-padding no-margin text-secondary">'+feature.properties.branch+' Branch</p></div></div>  <div class="dropdown-divider border-bottom border-top"></div><div style="height: 30px" class="d-flex px-2 justify-content-between"><div class="d-flex flex-row"><div style="background-color:'+feature.properties.primaryColor+'" class="agent-status rounded-circle"></div><p class="pl-2 bold">'+feature.properties.status+'</p></div><p>233 (0)208 012 893</p></div></div></div>';
                let marker = new mapboxgl.Marker(outer)

                // window.gobe = marker
                // marker.on('add', () => {console.error("gobe added")})
                marker
                .setLngLat(feature.geometry.coordinates)
                .addTo(map);

                // window.requestAnimationFrame(() => that.pulseMarker(outer, 2))
            // }else{
            //     var contentString= '<div class="dashboard-info book d-flex flex-column"><div class="d-flex px-2 pt-2 pb-0 flex-row"><img class="rounded-circle" src="'+marker.properties.picture+'" alt=""><div class="d-flex flex-column pl-2"><p style="font-size: 14px" class="no-padding no-margin">'+marker.properties.firstName+'<br><strong>'+marker.properties.lastName+'</strong></p><p style="font-size: 10px" class="no-padding no-margin text-secondary">'+marker.properties.branch+' Branch</p></div></div>  <div class="dropdown-divider border-bottom border-top"></div><div style="height: 30px" class="d-flex px-2 justify-content-between"><div class="d-flex flex-row"><p class="pl-2 bold">'+marker.properties.phoneNumber+'</p></div><p></p>'+marker.properties.price+'</div></div></div>';
            // }


            // make a marker for each feature and add to the map
            // new mapboxgl.Marker(el)
            //   .setLngLat(marker.geometry.coordinates)
            //   .addTo(map);

            new mapboxgl.Marker(el)
                .setLngLat(feature.geometry.coordinates)
                .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
                .setHTML(contentString))
                .addTo(map);
          }
        },
        mounted() {
            let that = this
            console.error("INITIAL: ", this.markerCoordinates);
            console.error("network Agents: ", this.networkAgents)
            this.$bus.$on('NEW_TRANSACTION_RECIEVED', agent => {
              let transaction = agent.transactions[0]
              let feature = {  type: 'Feature',
                geometry: {
                    type: 'Point',
                    coordinates: [transaction.longitude,transaction.latitude]
                },
                properties: {
                    'marker-color': agent.primaryColor,
                    'marker-size': 'large',
                    picture: agent.picture,
                    firstName: agent.firstName,
                    branch: agent.branch,
                    lastName: agent.lastName,
                    type: agent.type,
                    status: agent.status,
                    primaryColor: agent.primaryColor,
                    secondaryColor: agent.secondaryColor,
                    price: agent.price
                }
              }
              this.addFeatureToMap(feature, this.map, true)
              this.map.resize();
            })
            // automatically resizes the map


            for(var i=0;i>10;i++){
                console.error("FIRST NAM: ",this.networkAgents[i].firstName) 
            }

            // this.$bus.$on("isForMap", function(msg){
            //     that.dashType = msg;
            //     console.error(this.dashType)
            // })



            mapboxgl.accessToken = 'pk.eyJ1Ijoic2VkZGllNjIiLCJhIjoiY2pmMmtyZTBpMHhrZTMzb210dHE4cmxkaSJ9.t4Q4KTOSUCh4wRO13p2HZQ';

            var map = new mapboxgl.Map({
                container: this.id,
                style: 'mapbox://styles/seddie62/cjf2kdmqf1wdh2so7qoj54r6i',
                center: [0, 8],
                zoom: 6
            });
            this.map = map

            this.$bus.$on("isMapResized", function(){
                map.resize()
            })
            map.addControl(new mapboxgl.FullscreenControl());
            map.addControl(new mapboxgl.NavigationControl(),'top-left');

            this.$bus.$on("isPanelOpening", function(){
                map.resize()
            })
            console.log("DATA:",this.mapData)
            var prim ;
            var sec;
            var features = [];
            var feature; 
            this.mapData.forEach(function(agent){
                console.log("Agent",agent)
                if(typeof agent.geo_coordinate != "undefined"){
                    if(agent.state=="active") prim = "#7AC943"
                    else if(agent.state=="inactive")prim = "#cccccc"
                    else prim = "#4f4d4a"
                    //agent.transactions.forEach(transaction => {
                    feature = {  type: 'Feature',
                        geometry: {
                            type: 'Point',
                            coordinates: [agent.geo_coordinate.lng,agent.geo_coordinate.lat]
                        },
                        properties: {
                            'marker-color': "#7AC943",
                            'marker-size': 'large',
                            picture: faker.image.avatar(),
                            firstName: agent.first_name,
                            branch: faker.random.boolean() ? "Haatso" : "Adenta",
                            lastName: agent.surname,
                            phone: agent.phone,
                            gender: agent.gender,
                            type: "PC",
                            status: agent.state,
                            primaryColor: '#7AC943',
                            secondaryColor: "#00a99d",
                            price: agent.price,
                            name: agent.name
                        }
                    }
                    features.push(feature);
                }
                //})
            })
            var geojson = {
                type: 'FeatureCollection',
                features: features,
            }
            // var geojson ={
            //     type: "FeatureCollection",
            //     crs: { type: "name", properties: { name: "urn:ogc:def:crs:OGC:1.3:CRS84" } },
            //     features: [
            //     { type: "Feature", properties: { id: "ak16994521", mag: 2.3, time: 1507425650893, felt: null, tsunami: 0 }, geometry: { type: "Point", coordinates: [ -151.5129, 63.1016, 0.0 ] } },
            //     { type: "Feature", properties: { id: "ak16994519", mag: 1.7, time: 1507425289659, felt: null, tsunami: 0 }, geometry: { type: "Point", coordinates: [ -150.4048, 63.1224, 105.5 ] } },
            //     { type: "Feature", properties: { id: "ak16994517", mag: 1.6, time: 1507424832518, felt: null, tsunami: 0 }, geometry: { type: "Point", coordinates: [ -151.3597, 63.0781, 0.0 ] } },
            //     { type: "Feature", properties: { id: "ci38021336", mag: 1.42, time: 1507423898710, felt: null, tsunami: 0 }, geometry: { type: "Point", coordinates: [ -118.497, 34.299667, 7.64 ] } },
            //     { type: "Feature", properties: { id: "us2000b2nn", mag: 4.2, time: 1507422626990, felt: null, tsunami: 0 }, geometry: { type: "Point", coordinates: [ -87.6901, 12.0623, 46.41 ] } },
            //     { type: "Feature", properties: { id: "ak16994510", mag: 1.6, time: 1507422449194, felt: null, tsunami: 0 }, geometry: { type: "Point", coordinates: [ -151.5053, 63.0719, 0.0 ] } },
            //     { type: "Feature", properties: { id: "us2000b2nb", mag: 4.6, time: 1507420784440, felt: null, tsunami: 0 }, geometry: { type: "Point", coordinates: [ -178.4576, -20.2873, 614.26 ] } }
            //     ]
            // }

            console.log("Geojson",geojson)
            // add markers to map
            geojson.features.forEach(function(marker) {
              that.addFeatureToMap(marker, map)
            });

            window.$('.refresh-map').click(function(){
                map.resize();
                map.setStyle('mapbox://styles/seddie62/cjf2kdmqf1wdh2so7qoj54r6i');
            })

            
        },
        created:function(){
            for (var i = 0; i < 5; i++){
                var long = Math.floor(Math.random() * -1) + -0.2278596;
                var lat = Math.floor(Math.random() * 5.7) + 5.6269246;
                var boxes= [];

                var user={
                    longitude: long,
                    latitude: lat,
                    title: this.$faker().company.companyName(),
                    boxes: boxes,
                    isMe: this.$faker().random.boolean(),
                    primaryColor: this.$faker().internet.color(),
                    secondaryColor: this.$faker().internet.color(),
                    picture: faker.image.avatar(),
                    firstName: this.$faker().name.firstName(),
                    lastName: this.$faker().name.lastName(),
                    type: this.$faker().random.boolean() ? "FT" : "FSO",
                    status: this.$faker().random.boolean() ? "Active" : "Inactive",
                    branch: this.$faker().random.boolean() ? "Haatso" : "Adenta",
                    phoneNumber: this.$faker().phone.phoneNumber(),
                    price :  faker.random.number().toLocaleString('ja-JP', { style: 'currency', currency: 'GHc'})
                };

                this.markerCoordinates.push(user);
            }

        },
        beforeUpdate(){
            this.id.resize()
        },
        computed:{
            ...mapGetters({
                mapData: 'mapData'
            })
        }
    };

</script>


<style lang="scss" scoped>
    @import '../../assets/styles/_variables';
    @import '../../assets/styles/app';
    @import '../../assets/styles/_general';
    @import '../../assets/styles/fonts';

    #map{
        width: 100%;
        height: 100%;
    }

    .dash-map{
        width: inherit;
        height: calc(100vh - calc(102px + 6vh));
        //border: 1px solid $avatar-gray;
        font-size: 8px !important;
        position: relative;

    }



    .map-button-div{
        bottom: 30px;
        right: 40px;
        z-index: 40;

        button{
            width: 50px;
            height: 50px;
            img{
                width: 24px;
                height: 24px;
            }
        }
    }

    .marker {
        /* background-image: url('/assets/logo.png'); */
        background-color: red;
        background-size: cover;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
    }

    .mapboxgl-popup {
        max-width: 200px;
    }

    .mapboxgl-popup-content {
        text-align: center;
        //font-family: 'Open Sans', sans-serif;
    }






</style>
