<template>
  <div>

    <div class="slide-panel slider p-0" :id="id">

        <div class="d-flex flex-column pl-3 pt-3">
            <p class="text-secondary p-0 m-0 uppercase bold"> today's transactions</p>
            <h6 class="uppercase p-0 m-0 bold">successful transactions</h6>
        </div>
        <div class="dropdown-divider"></div>
        <div class="full-width table-div">
            <table class="table position-relative">
                <thead class="uppercase bold position-relative table">
                    <tr>
                        <th class="pl-3">Customer Name</th>
                        <th>Trans Type</th>
                        <th>amount</th>
                        <th>date and time</th>
                        <th>agent name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="customer in customers">
                        <td class="pl-3"><avatar :src="customer.picture" v-bind:username="customer.name" color="white" :size="35" ></avatar>{{customer.name}}</td>
                        <td>{{customer.type}}</td>
                        <td>{{customer.amount}}</td>
                        <td>{{customer.date | moment("D MMM,YYYY")}}</td>
                        <td>{{customer.agentName}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

  </div>
</template>

<script>
import * as events from '@/utils/constants/events'
var faker = require('faker');
export default {
  name: 'DashboardSlider',
  props: {
    title: null,
    id: null,
    display: null,
    name: null,
    forApproval: null,
    contact: {
      type: null,
      default: function (){
        return {}
      }
    }
  },
  data () {
    return {
      customers: []
    }
  },
  created: function(){
    for(let i = 0; i < 30; i ++){
      let customer = {
        picture: faker.image.avatar(),
        name: faker.name.findName(),
        type: faker.random.boolean() ? "deposit" : "withdrawal",
        amount: faker.random.number().toLocaleString('ja-JP', { style: 'currency', currency: 'GHc'}),
        agentName: faker.name.findName(),
        date: faker.date.recent(),
      }
      this.customers.push(customer)
    }
  }
  
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
    .slider{
        h6{
            font-size: 14px;
            //line-height: 8vh;
        }

        // #button-panel{
        //     height: 10vh;
        // }

        p{
           font-size: 10px;
        }
    }
    input{
      font-size: 14px;
      font-family: "GothamBook",sans-serif;
      padding: 2px 10px;
    }
    .dividerS{
      margin: 0px 20px;
    }
</style>
