 <template>
   <div style="height: calc(100vh - calc(102px + 6vh));">
        <!-- <div class="dash-map full-height border"  :id="mapName"></div> -->
        <div id='map' class="dash-map full-height border"></div>

        <div class="map-button-div d-flex flex-column position-absolute">
            <button class="border rounded-circle bg-white mb-2"><img src="../../assets/img/shuffle.svg" alt=""></button>
            <button class="refresh-map border rounded-circle bg-white"><img src="../../assets/img/re.svg" alt=""></button>
        </div>

   </div>
 </template>


 <script>
    import pointer from '../../assets/img/3.png'
    import markerIcon from '../../assets/img/4.png'
    import userIcon from '../../assets/img/img.jpg'
    import expandIcon from '../../assets/img/expand.svg'
    import close from "../../assets/img/cancel-music.png"
    var faker = require('faker');
    export default {
        name: 'FieldTransactionsMap',
        props: ['id'],
        data: function () {
            return {
                mapName: this.id + "-map",
                markerCoordinates: [],
                map: null,
                bounds: null,
                markers: [{
                    latitude: 45,
                    longitude: 23
                },{
                    latitude: 3,
                    longitude: 45
                }],
                users: [
                    {firstName: 'Alice',lastName: 'Nunoo',branch: 'Mile 7',
                      num: '91679469',deposit:'825.00'
                    },
                    {firstName: 'Alice',lastName: 'Nunoo',branch: 'Mile 7',num: '91679469',
                      deposit:'825.00'
                    }
                ],
                dashType: 'a'
            }
        },
        mounted() {
            console.error("INITIAL: ", this.markerCoordinates);

            // this.$bus.$on("isForMap", function(msg){
            //     that.dashType = msg;
            //     console.error(this.dashType)
            // })
            


            
            mapboxgl.accessToken = 'pk.eyJ1Ijoic2VkZGllNjIiLCJhIjoiY2pmMmtyZTBpMHhrZTMzb210dHE4cmxkaSJ9.t4Q4KTOSUCh4wRO13p2HZQ';

            var map = new mapboxgl.Map({
                container: 'map',
                style: 'mapbox://styles/mapbox/light-v9',
                center: [0, 8],
                zoom: 5,
                pitch: 60, // pitch in degrees
                bearing: -60, // bearing in degrees
            });
            map.addControl(new mapboxgl.FullscreenControl());
            map.addControl(new mapboxgl.NavigationControl(),'top-left');

            this.$bus.$on("isPanelOpening", function(){
                map.resize()
            })

            var features = [];
            var feature;
            this.markerCoordinates.forEach(function(coord){
                feature = {  type: 'Feature',
                    geometry: {
                        type: 'Point',
                        coordinates: [coord.longitude,coord.latitude]
                    },
                    properties: {
                        'marker-color': coord.primaryColor,
                        'marker-size': 'large',
                        picture: coord.picture,
                        firstName: coord.firstName,
                        branch: coord.branch,
                        lastName: coord.lastName,
                        type: coord.type,
                        status: coord.status,
                        primaryColor: coord.primaryColor,
                        secondaryColor: coord.secondaryColor,
                        price: coord.price,
                        phoneNumber: coord.phoneNumber
                    }
                }
                features.push(feature);
            })
            var geojson = {
                type: 'FeatureCollection',
                features: features
            }

            console.error("DATA: ", geojson);
            
        

            // add markers to map
            geojson.features.forEach(function(marker) {

            // create a HTML element for each feature
                var el = document.createElement('div');
                el.className = 'marker';
                el.style.background = marker.properties.primaryColor;


                // if(this.dashType=='a'){
                    // var contentString= '<div class="dashboard-info book d-flex flex-column"><div class="d-flex px-2 pt-2 pb-0 flex-row"><img class="rounded-circle" src="'+marker.properties.picture+'" alt=""><div class="d-flex flex-column pl-2"><p style="font-size: 14px" class="no-padding no-margin">'+marker.properties.firstName+'<br><strong>'+marker.properties.lastName+'</strong></p><p class="no-padding no-margin uppercase">'+marker.properties.type+'</p><p style="font-size: 10px" class="no-padding no-margin text-secondary">'+marker.properties.branch+' Branch</p></div></div>  <div class="dropdown-divider border-bottom border-top"></div><div style="height: 30px" class="d-flex px-2 justify-content-between"><div class="d-flex flex-row"><div style="background-color:'+marker.properties.primaryColor+'" class="agent-status rounded-circle"></div><p class="pl-2 bold">'+marker.properties.status+'</p></div><p>233 (0)208 012 893</p></div></div></div>';
                    // new mapboxgl.Marker(outer)
                    // .setLngLat(marker.geometry.coordinates)
                    // .addTo(map);
                // }else{
                    var contentString= '<div class="dashboard-info book d-flex flex-column"><div class="d-flex px-2 pt-2 pb-0 flex-row"><img class="rounded-circle" src="'+marker.properties.picture+'" alt=""><div class="d-flex flex-column pl-2 pt-3"><p style="font-size: 14px" class="no-padding no-margin">'+marker.properties.firstName+'<br><strong>'+marker.properties.lastName+'</strong></p><p style="font-size: 10px" class="no-padding no-margin text-secondary">'+marker.properties.branch+' Branch</p></div></div>  <div class="dropdown-divider border-bottom border-top"></div><div style="height: 20px" class="d-flex px-2 justify-content-between"><div class="d-flex flex-row"><p class="pl-0 bold">'+marker.properties.phoneNumber+'</p></div><p></p>'+marker.properties.price+'</div><div><p style="font-size:9px" class="no-padding no-margin px-2 text-secondary">Deposit made with Brigt Odame using a phone number</p></div></div></div>';
                // }


                // make a marker for each feature and add to the map
                // new mapboxgl.Marker(el)
                //   .setLngLat(marker.geometry.coordinates)
                //   .addTo(map);
                
                new mapboxgl.Marker(el)
                    .setLngLat(marker.geometry.coordinates)
                    .setPopup(new mapboxgl.Popup({ offset: 15 }) // add popups
                    .setHTML(contentString))
                    .addTo(map);
               
            });

            window.$('.refresh-map').click(function(){
                map.resize();
            })
        },
        created:function(){
            for (var i = 0; i < 10; i++){
                var long = Math.floor(Math.random() * 5) + -3.5278596;
                var lat = Math.floor(Math.random() * 5.7) + 5.6269246;
                var boxes= [];

                var user={
                    longitude: long,
                    latitude: lat,
                    title: this.$faker().company.companyName(),
                    boxes: boxes,
                    isMe: this.$faker().random.boolean(),
                    primaryColor: this.$faker().internet.color(),
                    secondaryColor: this.$faker().internet.color(),
                    picture: faker.image.avatar(),
                    firstName: this.$faker().name.firstName(),
                    lastName: this.$faker().name.lastName(),
                    type: this.$faker().random.boolean() ? "FT" : "FSO",
                    status: this.$faker().random.boolean() ? "Active" : "Inactive",
                    branch: this.$faker().random.boolean() ? "Haatso" : "Adenta",
                    phoneNumber: this.$faker().phone.phoneNumber(),
                    price :  faker.random.number().toLocaleString('ja-JP', { style: 'currency', currency: 'GHc'})
                    // firstName: this.$faker().name.firstName(),
                    // lastName: this.$faker().name.lastName(),
                    // image: this.$faker().image.avatar(),
                    // branch: this.$faker().address.state(),
                    // num: this.$faker().random.number(),
                    // deposit: this.$faker().finance.amount(),
                    // avatar: this.$faker().internet.avatar()
                };

                this.markerCoordinates.push(user);
                //console.log("USERS:", this.markerCoordinates);
            }

        },
        methods:{
            // expandInfoBox:function(){
            //     //alert("HAHA");
            //     if(window.$("#info-box").hasClass('on')){
            //         window.$("#info-box").toggleClass('off','on')
            //     }
            //     else if(window.$("#info-box").hasClass('off')){
            //         window.$("#info-box").toggleClass('on','off')
            //     }
            //     //window.$("#info-box").css("height","auto");
            // }
        }
    };

</script>


<style lang="scss" scoped>
    @import '../../assets/styles/_variables';
    @import '../../assets/styles/app';
    @import '../../assets/styles/_general';
    @import '../../assets/styles/fonts';

    #map{
        width: 100%;
        height: 100%;
    }

    .dash-map{
        width: inherit;
        height: calc(100vh - calc(102px + 6vh));
        //border: 1px solid $avatar-gray;
        font-size: 8px !important;
        position: relative;

    }

    .map-button-div{
        bottom: 30px;
        right: 40px;
        z-index: 40;

        button{
            width: 50px;
            height: 50px;
            img{
                width: 24px;
                height: 24px;
            }
        }
    }

    .marker {
        /* background-image: url('/assets/logo.png'); */
        background-color: red;
        background-size: cover;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
    }

    .mapboxgl-popup {
        max-width: 200px;
    }

    .mapboxgl-popup-content {
        text-align: center;
        //font-family: 'Open Sans', sans-serif;
    }






</style>
