<template>
    <!-- <div style="height:100vh" class="d-flex flex-row justify-content-center align-items-center">
        <div id="login-page">
            <div class="pb-3 d-flex justify-content-center align-items-center">
                <img src="../assets/img/lemon logo.svg" alt="">
            </div>
            <div id="login" class="rounded d-flex flex-column justify-content-between align-items-center p-5">
                
                    <h5 class="orange-text">Login</h5>
                    <input class="form-control" type="email" v-model="email" id="" placeholder="Email">
                    <input class="form-control" type="password" v-model="password" placeholder="Password">  
                    <button @click="login" type="submit" class="btn btn-primary">
                        <img :class="{show: loading}" src="@/assets/img/spinner.svg">Submit
                    </button>
                
            </div>
        </div>
    </div> -->
    <div  style="height:100vh">
        <div class="row">
            <div id="login-side-1" class="col-7 pr-0">
                <div class="brown-overlay">
                    <div style="height:20vh" id="lemon-logo" class="pt-4 pl-3">
                        <img src="@/assets/img/lemon logo.svg" alt="">
                    </div>
                    <div style="height:60vh" class="d-flex text-white flex-column text-center align-items-center justify-content-center">
                        <h3 class="text-uppercase mb-4"><b style="font-weight:400" class="font-black">lemon</b><b class="book font-weight-light">switch</b></h3>
                        <!-- <p class="text-uppercase medium mb-4">lemon dashboard</p> -->
                        <h4 class="text-uppercase medium mb-4">Empowering organizations & institutions <br> to go digital</h4>
                        <!-- <p style="font-size: 14px" class="light font-italic mb-4"></p> -->
                        <!-- <button class="text-uppercase btn btn-outline-warning">learn more</button> -->
                    </div>
                    <div style="height:20vh;width:70%;margin-left:15%">
                        <!-- <p class="text-white mb-1">Trusted by:</p> -->
                        <div class="d-flex flex-column align-items-center justify-content-center">
                            <!-- <img style="width:100%;" src="@/assets/img/SVG/logos.svg" alt="">
                            <img style="width:60px" src="../assets/img/flopay.png" alt="">MoMo-logo -->
                            <!-- <img style="width:140px" src="@/assets/img/mtn.svg" alt=""> -->
                        </div>
                        <div class="d-flex flex-column align-items-center justify-content-center mt-4">
                            <!-- <p style="font-size:9px" class="text-uppercase text-white mb-1">powered by:</p>
                            <img src="@/assets/img/nfortics.png" alt=""> -->
                            <img style="width:140px" src="@/assets/img/mtn.svg" alt="">

                        </div>
                    </div>
                </div>
            </div>
            <div id="login-side-2" class="col-5">
                <div style="height:100vh" class="d-flex flex-column align-items-center justify-content-center">
                    <div style="height:40vh;width:60%" class="d-flex flex-column">
                        <h5 v-if="mode == 'login'" class="medium gray-text mb-1">Sign in to Lemon Switch.</h5>
                        <h5 v-else class="medium gray-text mb-1">Reset Password.</h5>
                        <small v-if="mode == 'login'" class="gray-text">Enter your details below</small>
                        <form v-on:submit.prevent="" class="mt-4">
                            <input style="opacity: 0;position: absolute;">
                            <input type="password" style="opacity: 0;position: absolute;">
                            <div class="form-group">
                                <label class="text-uppercase book text-black font-weight-bold" for="exampleInputEmail1">Email address</label>
                                <input type="email" :disabled="mode == 'reset'" v-model="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                            </div>
                            <div class="form-group">
                                <label class="text-uppercase book text-black font-weight-bold" for="exampleInputPassword1">Password</label>
                                <!-- <small>Forgot Your Password?</small> -->
                                <input type="password" v-model="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                            </div>
                            <div v-if="mode == 'reset'" class="form-group">
                                <label class="text-uppercase book text-black font-weight-bold" for="exampleInputPassword1">Confirm Password</label>
                                <!-- <small>Forgot Your Password?</small> -->
                                <input type="password" v-model="confirmPassword" class="form-control" id="exampleInputPassword1" placeholder="Password">
                            </div>
                            <div class="d-flex align-items-center justify-content-center">
                                <button :disabled="loading" @click="login" type="submit" class="btn btn-primary text-uppercase text-center">
                                    <img :class="[{show: loading},'loading-img']" src="@/assets/img/spinner.svg">
                                    <template v-if="mode == 'login'">Sign In</template>                               
                                    <template v-else>Reset</template> </button>
                
                            </div>
                            
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import auth from '@/services/auth'
// email: "adjei.botch@gmail.com",
// password: "password",
export default {
    name: 'Login',
    created () {
      this.loading = false
      if (this.$route.name === 'resetPassword') {
        this.mode = 'reset'
        this.password = auth.password || ''
        this.email = auth.email || ''
        this.confirmPassword = ''
        // this. email = 
      } else {
        this.email = ''
        this.password = ''
      }
    },
    data () {
        return {
            email: '',
            password: '',
            confirmPassword: '',
            loading: false,
            mode: 'login'
        }
    },
    methods: {
        login () {
            if(this.mode === 'reset'){
              this.resetPassword()
              return
            }
            if(this.loading === true){
                return
            }
            this.loading = true
            auth.login(this.email, this.password)
            .then(success => {
                if (success) {
                    this.$notify.success('Login Successful')
                    let routeName = this.$route.params.query || 'dashboard'
                    this.$router.push({name: routeName})
                } else {
                    this.loading = false
                    this.$notify.error('Failed To Login')
                    this.loading = false
                }
            })
            //this.loading=false
        },
        resetPassword () {
            if(this.loading === true){
                return
            }
            this.loading = true
            auth.resetPassword(this.password)
            .then(success => {
                if(success){
                    this.$notify.success('Password Reset Successfuly')
                    let routeName = this.$route.params.query || 'dashboard'
                    auth.first_time_login = false
                    this.$router.push({name: routeName})
                }
                else{
                    this.loading = false
                    this.$notify.error('Failed To Reser Password')
                    this.loading = false
                }
          })
        }
    }
}
</script>

<style lang="scss">
@import '../../assets/styles/_variables';
@import '../../assets/styles/mixins';
#login-side-1{
    background-image: url("../../assets/img/farmers.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

    .brown-overlay{
        width: 100%;
        height: 100vh;
        background: rgba(130, 71, 13, 0.4);
       

        #lemon-logo{
            img{
                width: 50px;
            }
        }
        .btn-outline-warning{
            border-color: $orange;
            color: $orange;
           // border-radius: 20px;
            font-size: 12px;
            &:hover{
                color: white;
                background: $orange;
            }
        }
        
        h3{
            font-size: 22px;
        }
        p{
            font-size: 13px;
        }
        h4{
            font-size: 20px;
        }
    }
}
#login-side-2{
    .btn{
        //border-radius: 20px;
        background: $orange;
        color: white;
        border: 0;
        font-size: 11px;
        width: 100px;
        padding: 7px;
        outline: 0px;
        img{
            width: 18px;
            height: 18px;
            display: none;
            margin-right: 6px;
            &.show{
                display: inline;
            }
        }
    }
    label{
        font-size: 10px;
    }
    .gray-text{
        color: #444C5D;
    }
}
// #login-page{
//     img{
//         width: 60px;
//     }
//     #login{
//         height: 45vh;
//         width: 30vw;
//         border: 2px solid $orange;
//         border-radius: 10px;
//     }
//     input{
//         height: 35px;
//         font-size: 14px;
//         @include placeholder(black,12)
//     }
//     .btn{
//         img{
//             width: 18px;
//             height: 18px;
//             display: none;
//             margin-right: 6px;
//             &.show{
//                 display: inline;
//             }
//         }
//     }
// }
</style>
