<template>
  <div>
    <div class="slide-panel slider d-flex flex-column justify-content-between" :id="mode == 'EDIT' ? 'edit-user-field-slider': 'add-user-field-slider' ">
      <div>
        <div v-if="que" class="question-box row">
          <div class="col-8 "><textarea class="full-width" v-model="que.title"></textarea></div>
          <div class="col-4">
            <select class="full-width" v-model="que.type.id" @change="fieldTypeChanged">
              <option value="-1">--</option>
              <option  v-for="type in availableTypes" :value="type.id">{{type.name}}</option>
            </select>
          </div>
        </div>
        <div class="required-field-box d-flex flex-row align-items-center">
          <div><input type="checkbox" class="checkbox"  v-model="hasRequiredField"></div>
          <div v-if="hasRequiredField">
            <select class="full-width" v-model="required_field">
              <option value="none">--</option>
              <option  v-for="fieldName in availableRequiredFields" :value="fieldName">{{fieldName}}</option>
            </select>
          </div>
        </div>
        <div v-if="que && que.type" class="que-options-box">
          <text-options class="question-options" :metaProp="currentMeta" ref="options" v-if="que.type.name == 'Text'"></text-options>
          <image-options class="question-options"  :metaProp="currentMeta" ref="options" v-if="que.type.name == 'Image'"></image-options>
          <multiselect-options class="question-options" :metaProp="currentMeta"  :queProp="que"  ref="options" v-else-if="que.type.name == 'MultiSelect'"></multiselect-options>
        </div>
      </div>
      <div class="save-close d-flex flex-row justify-content-end">
        <button @click="cancel">Cancel</button>
        <button @click="save">Save</button>
      </div>
    </div>
  </div>
</template>

<script>
import Utils from '@/utils/Utils'
import axios from 'axios'
import * as events from '@/utils/constants/events'
import TextOptions from '@/pages/client/adminsettings/add_edit_user_fields/TextOptions'
import ImageOptions from '@/pages/client/adminsettings/add_edit_user_fields/ImageOptions'
import MultiselectOptions from '@/pages/client/adminsettings/add_edit_user_fields/MultiselectOptions'
export default {
  name: 'AddEditUserField',
  components: {
    'text-options': TextOptions,
    'image-options': ImageOptions,
    'multiselect-options': MultiselectOptions
  },
  props: {
    display: null,
    questionProp: null,
    mode: {
      type: String,
      default: 'ADD'
    }
  },
  data () {
    return {
      que: {
        title: "",
        type: {
          id: "-1"
        }
      },
      // used to pass meta down to child null causes the child to initialise new
      currentMeta: null,
      required_field: "none",
      availableRequiredFields: [],
      hasRequiredField: false,
      availableTypes: []
    }
  },
  created () {
    let that = this
    if(this.questionProp){
      this.que = Utils.cloneObject(this.questionProp)
      this.currentMeta = this.que.meta
      if(this.que.required_field){
        this.required_field = this.que.required_field.field_name
        this.hasRequiredField = true
      }
    }
    axios.get("http://localhost:4000/api/input_types")
    .then(response => {
      that.availableTypes = response.data.data
    })
    axios.get("http://localhost:4000/api/required_fields")
    .then(response => {
      that.availableRequiredFields = response.data.data
    })
  },
  watch: {
    questionProp (newQue) {
      if(newQue){
        this.que = Utils.cloneObject(newQue)
        this.currentMeta = this.que.meta
        if(this.que.required_field){
          this.required_field = this.que.required_field.field_name
          this.hasRequiredField = true
        }
      }
    },
    mode (mode) {
      if(mode == "ADD"){

      }
    }
  },
  methods: {
    fieldTypeChanged (event) {
      let selectedId = event.target.value
      let inputType = this.availableTypes.find(el => el.id == selectedId)
      if(this.que.type.name != inputType.name ){
        this.currentMeta = null
      }
      this.que.type.name = inputType.name

    },
    save () {
      this.que.meta = this.$refs.options ? this.$refs.options.meta : {}
      if(this.hasRequiredField && this.required_field != "none"){
        this.que.required_field = {field_name: this.required_field}
      }
      if(this.mode == "ADD"){
        this.$emit('question-added', this.que)
      }else{
        this.$emit('question-editted', this.que)
      }
      this.close()
    },
    cancel () {
      this.close()
    },
    close () {
      let $this = window.$(this.$el)
      window.dd = $this
      this.$bus.$emit(events.SHOW_OVERLAY, false)
      this.$bus.$off(events.CLOSING_OVERLAY)
      $this.find('.slide-panel').removeClass('open')
      // reset to uneditted question before closing
      if(this.mode == "ADD"){
        this.que = {title: "",  type: { id: "-1"}}
      }else{
        this.que = Utils.cloneObject(this.questionProp)
      }
    }
  }
}
</script>



<style lang="scss" scoped>
  .slide-panel{
    padding-top: 40px;
  }
  .question-box{
    margin: 20px 0;
  }
  .question-options{
    padding: 15px;
    font-size: 12px;
    div.label{
      margin: 5px 0;
    }
  }
  .required-field-box{
    .checkbox{
      height: 20px;
      width: 20px;
    }
    & > div:first-child{
      margin-right: 20px;
    }
  }
  .save-close{
    border-top: 1px solid #f0f0f0;
    padding: 10px 0;
    button{
      border-radius: 10%;
    }
    & > button:first-child{
      margin-right: 20px;
      background: white;
      border: 1px solid #c3c3c3;
    }
    & > button:last-child{
      background: #ffc462;
      color: white;
    }
  }

</style>
