<template>
  <div class="row align-items-center">
    <div class="col-6">Required</div><div class="col-6"><checkbox></checkbox></div>
    <div class="col-6">Max File Size</div><div class="col-6"><input/></div>
  </div>
</template>

<script>
  export default {
      name:'ImageOptions',
      props: ['metaProp'],
      created () {
        if(this.metaProp){
          this.meta = this.metaProp
        }
      },
      data () {
        return {
          meta: {
            required: false,
            placeholder: ""
          }
        }
      }
  }
</script>
