<template>
  <div class="answers-list">
    <div v-for="(answer,index) in answers" class="d-flex flex-row answer align-items-center">
      <input v-model="answer.text" style="flex: 1;"/>
      <img @click="addAnswer(index)" src="@/assets/img/plus.svg"/>
      <img @click="removeAnswer(index)" src="@/assets/img/minus.svg"/>
    </div>
  </div>
</template>

<script>
  export default {
      name:'MultiselectOptions',
      props: ['queProp'],
      created () {
        if(this.metaProp){
          this.answers = this.metaProp.options
        }
      },
      data () {
        return {
          answers: [{text: ""}]
        }
      },
      methods: {
        addAnswer (index) {
          this.answers.splice(index + 1, 0, {text: ""});
        },
        removeAnswer (index) {
          this.answers.splice(index, 1)
        }
      },
      computed: {
        meta () {
          return {
            options: this.answers.filter(el => el.text).map(el => el.text)
          }
        }
      }
  }
</script>

<style lang="scss" scoped>
  .answers-list{
    .answer{
      img{
        height: 20px;
        width: 20px;
        padding: 4px;
        border: 1px solid #f0f0f0;
        border-radius: 50%;
      }
    }
  }
</style>
