<template>
  <div :class="['section-node', {current: current}]">
    <div class="d-flex flex-row align-items-center">
      <div :class="['selection-indicator', {selected: selected}]"></div>
      <img src="@/assets/img/down-arrow.svg">
      <div style="cursor: pointer;" @click="nodeClicked">{{section.name}}</div>
      <div style="margin-left: 20px;" class="row">
        <div>add sub section</div>
        <div>edit</div>
      </div>
    </div>
    <div v-if="sectionProp" class="node-children">
      <section-node v-for="child in sectionChildren" :key="child.id" :currentSection="currentSection" :selectedSection="selectedSection" :sectionProp="child" ></section-node>
    </div>
  </div>
</template>

<script>
  export default {
      name:'SectionNode',
      props: ['sectionProp', "currentSection", "selectedSection"],
      created () {
        this.section = this.sectionProp
      },
      data () {
        return {
          section: null
        }
      },
      methods: {
        nodeClicked () {
          this.$bus.$emit('sectionSelected', this.section)
        }
      },
      computed: {
        selected () {
          let section = this.section
          let selectedSection = this.selectedSection
          return selectedSection && section && selectedSection.id == section.id
        },
        sectionChildren () {
          if(this.sectionProp.sections){
            return this.sectionProp.sections
          }
          return []
        },
        current () {
          return false
          // let section = this.section
          // let currentSection = this.currentSection
          // return currentSection && section && currentSection.id == section.id
        }
      }
  }
</script>

<style scoped lang="scss">
  .section-node{
    margin: 5px 10px;
    img{
      height: 20px;
      width: 20px;
      padding: 4px;
    }
    &.current{
      background: #e2e2e2;
      color: #2b56fe;
    }
    .selection-indicator{
      opacity: 0;
      width: 8px;
      height: 8px;
      margin: 0 2px;
      &.selected{
        opacity: 1;
        background: #79afca;
        border-radius: 50%;
      }
    }

    .node-children{
      margin-left: 20px;
    }
  }

</style>
