<template>
  <div>
    <section-node :currentSection="currentSection" :selectedSection="selectedSection" :key="section.id" :sectionProp="section" v-for="section in sectionsProp"></section-node>
  </div>
</template>

<script>
  import Utils from '@/utils/Utils'
  export default {
      name:'SectionsTree',
      props: ['sectionsProp', "currentSection", "selectedSection"],
      mounted () {
        console.error(Utils.cloneObject(this.sectionsProp))
        this.sections = Utils.cloneObject(this.sectionsProp)
        this.$bus.$on('sectionSelected', this.sectionSelected)
        this.currentSectionData = this.currentSection
      },
      methods: {
        sectionSelected (section) {
          
        }
      },
      data () {
        return {
          sections: [],
          currentSectionData: null
        }
      }
  }
</script>
