<template>
  <div class="row align-items-center">
    <div class="col-6 label">Required</div><div class="col-6"><checkbox></checkbox></div>
    <div class="col-6 label">Placeholder</div><div class="col-6"><input/></div>
  </div>
</template>

<script>
  export default {
      name:'TextOptions',
      props: ['metaProp'],
      created () {
        if(this.metaProp){
          this.meta = this.metaProp
        }
      },
      data () {
        return {
          meta: {
            required: false,
            placeholder: ""
          }
        }
      }
  }
</script>

<style scoped lang="scss">
    div.label{
      margin: 5px 0;
    }
</style>
