<template>
  <div id="app">
    <transition name="fade">
      <router-view v-if="initialDataState == 'LOADED' || $route.name == 'login' || $route.name == 'resetPassword'"></router-view>
      <div style="height: 100vh;" class="full-height d-flex flex-column justify-content-center align-items-center" v-else-if="initialDataState == 'ERROR'">
        <div>Error Loading User Data</div>
        <div><button @click="retry" class="retry-btn">Retry</button></div>
      </div>
      <in-progress v-else></in-progress>
   </transition>
  </div>
</template>

<script>
import InProgress from '@/pages/InProgress'
import Moment from 'moment'
import store from '@/store'
import {i18n, loadLanguageAsync} from '@/i18n'
import { mapGetters, mapActions } from 'vuex'
import {ngrok_url,API_URL, FAKE_API_URL, BEIGE_BACKEND, LEMON_DASHBOARD_GEORGE_URL, LEMON_DASHBOARD_LOCAL_URL} from '@/utils/Constants.js'
import router from '@/router'
import auth from '@/services/auth'
import axios from 'axios'
import storey from '@/store/index'
import {db} from '@/services/LocalStorage'
export default {
  name: 'app',
  components: {
    'in-progress': InProgress
  },
  computed: {
    ...mapGetters({
      user: 'user',
      token: 'token',
      initialDataState: 'initialDataState'
    })
  },
  methods: {
    retry () {
      this.$router.go()
    },
    onWsFarmerReceived (data) {
      console.info(data)
      db.set("gobe", data)
    }
  },
  created () {
  
  },
  beforeDestroy () {
    // this.$ws.unsubscribe("FarmersChannel", this.onWsFarmerReceived)
  },
  watch: {
    initialDataState () {
      if(this.initialDataState == 'LOADED'){
        let to = this.$route
        let from = {name: null}
        let route = auth.getAuthenticatedRoute({to, from})
        // this.$ws.subscribe("FarmersChannel", this.onWsFarmerReceived)
        if(to.name == route){
          return
        }else{
          this.$notify.info('You do not have permissions to access requested page')
          this.$router.push({name: 'dashboard'})
        }
      }
    }
  }
}
</script>
<style lang="scss" scoped>
.fade-enter-active, .fade-leave-active {
  transition: opacity .20s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
