.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
// @-webkit-keyframes pulse {
//     0% {
//         -webkit-transform: scale(1, 1);
//         transform: scale(1, 1);
//     }
//     50% {
//         -webkit-transform: scale(1.05, 1.05);
//         transform: scale(1.05, 1.05);
//     }
//     100% {
//         -webkit-transform: scale(1, 1);
//         transform: scale(1, 1);
//     }
// }
// @keyframes pulse {
//     0% {
//         -webkit-transform: scale(1, 1);
//         transform: scale(1, 1);
//     }
//     50% {
//         -webkit-transform: scale(1.05, 1.05);
//         transform: scale(1.05, 1.05);
//     }
//     100% {
//         -webkit-transform: scale(1, 1);
//         transform: scale(1, 1);
//     }
// }

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4);
  }
  50% {
      -webkit-box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.8);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.6);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
  }
  80% {
      -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
      box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.4);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
  }
}
