
.loading-img{
  width: 18px;
            height: 18px;
            display: none;
            margin-right: 6px;
            &.show{
                display: inline;
  }
}
.agent-btn-group{
  .btn{
    padding: 0;
  }
}
.btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
 .btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
  .show>.btn-outline-secondary.dropdown-toggle:focus{
    box-shadow: none;
}
.button, .btn{
  cursor: pointer;
  &:hover, &:active, &:focus{
    box-shadow: none;
  }
  &.icon{
    height: 34px;
    width: 34px;
    padding: 0;
    img{
      height: 15px;
      width: 15px;
    }
  }
  
}
img.icon{
  height: 16px;
  width: 16px;
}

.indicator{
  height: 6px;
  width: 6px;
  border-radius: 50%;
  &.black{
    background: gray;
  }
  &.green{
    background: green;
  }
  &.orange{
    background: orange;
  }
  &.tiny{
    height: 4px;
    width: 4px;
  }
}
.btn-indicator{
  border-radius: 10px;
  border: 1px solid gray;
  padding: 1px 8px;
  font-size: 8px;
}
.search-indicator{
  border-radius: 50%;
  height: 20px;
  width: 20px;
  background: #716354;
  display: flex;
  align-items: center;
  justify-content: center;
  img{
    height: 9px;
    width: 9px;
  }
}
button, .button, .btn{
  &.disabled{
    cursor: not-allowed;
  }
}
button.btn{
  img{
    width: 16px;
    height: 16px;
  }
  &.blue{
    background: #3f849e;
    color: white;
  }
  &.add-more{
    font-size: 10px;
    height: 20px;
    line-height: 20px;
  }
}

