.settings-tab{
  & > .header{
    height: 35px;
    background: #d6d6d6;
    padding-left: 14px;
    // font-size: 13px;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 12px;
  }
  & > .content{
    padding: 0 14px 0 14px;
    height: calc(100% - 35px);
    overflow: auto;
    & > *:last-child{
      margin-bottom: 20px;
    }
  }
}

.form-header.form-subheader{
  padding-left: 0!important;
}