// temp
#app *{
  // box-shadow: none!important;

}
.vdp-datepicker{
  .form-control[readonly]{
    background-color: white;
  }
}

.validate{
  &.error{
    color: red;
    padding-top: 10px;
  }
}
.popover{
  z-index: 3000;
}

#app{
  

  .vert-line{
      border-left: 1px solid $input-border;
      height: 30px;
      margin-left: 25px;
      margin-right: 5px;
  }

  .nav-tabs{
    border-bottom: 1px solid #dee2e6;
  }
}


// padding
.no-padding{
    padding: 0px;
}
.retry-btn{
  margin-top: 5px;
  padding: 4px 10px;
  color: white;
  background: #4cabd0;
  &:hover{
    background: #3f849e;
  }
}

// margin
.no-margin{
    margin: 0px;
}

//border
.no-border{
    border: 0;
}

.border{
    border: 1px solid black;
}

// vertical center
.vertically-center{
    @include vertical-center;
}

//maximum height
.max-height{
    height: 100vh;
}

// flex
.flex-1{
  flex: 1;
}

.text-align-center{
  text-align: center;
}



// form
input,
select,
textarea{
    //border: solid 1px $border-color;
    border: 1px solid $input-border;
    @include border-radius(2px);
    font-size: 12px !important;
    height: 30px;
    -webkit-appearance:none;
    -moz-appearance: none;


    &:active, &:focus{
        outline: none !important;
        -webkit-appearance: none !important;
    }
    
}

select{
    padding: 0 !important;
    padding-left: 5px !important;
    height: 30px !important;
}

button{
    border: none;
}

.btn{
    &.bordered{
        border: solid 2px lighten($border-color, 50%);
    }
}

// input[type=checkbox]{
//     margin-left: 20px;
// }

// position
.position{
    &-relative{
        position: relative;
    }
    &-absolute{
        position: absolute;
    }
    &-fixed{
        position: fixed;
    }
}

.left{
    left: 0;
}

.right{
    right: 0;
}

//text-align

.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}

// height
.inherit-height{
    height: inherit;
}

// colors
.grey,
.gray{
    &{
        background: lighten($m-grey, 20%) !important;
    }

    &-text{
        color: lighten($m-grey, 20%);
    }
}

.orange{
    &{
        background: $orange  !important;
        color: white;
    }

    &-text{
        color: $orange;
    }

    &.btn{
        &:hover,
        &:focus{
            color: #fff;
        }
    }
}

.baby-blue{
    &{
        background: $baby-blue !important;
    }

    &-text{
        color: $baby-blue;
    }
}

.blue{
    &{
        background: $blue;
        color: white;
    }

    &-text{
        color: $blue;
    }
}
.deep-blue{
  &-text{
    color: #2684b3;
  }
}

.red{
    background: red !important;

}
.red-text{
    color: red;

}

.green{
    background: rgb(0, 255, 0);
}

.green-text{
    color: green;
}

.black{
    background: #000;
}
.black-text{
    color: black;
}
.yellow{
    background: rgb(255, 255, 0);
}

.white-background{
    background: #fff;
}

.gray-text{
    color: gray;
}


// anchor
a{
    &:hover{
        text-decoration: none;
    }
}

//---------------padding left of 5px----------------
.padding-five{
    padding-left: 5px
}

.padding-ten{
    padding-left: 15px
}

//---------------border radius of 4px for all browsers-----------
.rad{
    @include border-radius(2px);
}

.emberI{
    border-radius: 50%;
}

.capitalize{
  text-transform: capitalize;
}
//chip
// .chip{
//     @include round-button($orange, 38px, 50%, 11px);
//     margin:0px 2px;
// }

.wide-chip{
    border-radius: 25px;
    font-size: 10px;
    display: inline-block;
    padding: 3px 8px 3px 8px;
    line-height: 1;

    i{
        margin-left: 10px;
        font-size: 12px;
    }

    margin-bottom: 5px;
}

// display
.display{
    &-flex{
        display: flex;
    }
}

// font
.bold{
    font-weight: bold;
}

.normal{
    font-weight: normal;
}

// general
.tooltip{
    z-index: 1075;
}

//button
.button-s{
    @include round-button(transparent,auto,2px,black,10px);
    outline: 0;
}




//-------------------------------   TABLE   --------------------------
//table





.some-space > *{
    margin-left: 5px;
    margin-right: 5px;
}

// font
.bold{
    font-weight: bold;
}

div#app a{
    cursor: pointer;
  }

// anchor
a{
    &:hover{
        text-decoration: none;
    }
}
.flex-fill-parent{
  flex: 1 100%;
}

// buttons
button{
  cursor: pointer;
}

// pointer
.pointer{
  cursor: pointer;
}

// .table-div{
//   height: calc(100% - 30px);
//   font-family: "GothamRoundedMedium";
//   overflow-y: hidden;
//   overflow-x: hidden;
//   @include scrollbar(5px, 1px);
//   background: white;
//   .table{

//     th,td{
//       font-family: "GothamRoundedBook",sans-serif;
//       text-align: left;

//       // width: auto !important;
//       // vertical-align: middle;
//       padding: 0;
//     }
//     th{
//       height: 50px;
//       text-transform: uppercase;
//       font-size: 10px;
//       border-bottom: 1px solid #dee2e6;
//       border-top: none;
//     }
//     td{
//       height: 60px;
//       border-top: 1px solid #f0f0f0;
//       &.primary{
//         cursor: pointer;
//       }
//     }
//   }
// }
// table footer
// .tfoot{
//     width: 100%;
//     padding: 0px 16px;
//     height: 30px;
//     font-size: 10px;
//     font-family: "GothamLight",sans-serif;
//     border-top: 1px solid #f0f0f0;
//     background: white;
//     p{
//       //padding-top: 15px;
//       padding: 0;
//       margin-bottom: 0px;
//     }
// }



// dash
.dashed{
    border: solid 1px $border-color;
    border-width: 2px;
    border-style: dashed;
    min-height: 30px;
    padding: 5px;
    position: relative;
    border-radius: 5px;
    margin-top: 15px;
    position: relative;

    .close{
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 50%;
        width: 12px;
        display: block;
        height: 12px;
        line-height: 11px;
        background: $blue;
        font-size: 10px;
        text-align: center;
        color: #fff;
    }
}





.md-checkbox {
    position: relative;
    margin: 0;

    &.no-label{
        //margin: 0px auto;
        width: $md-checkbox-size;
        height: $md-checkbox-size;
    }

    label {
        cursor: pointer;
        width: $md-checkbox-size;
        height: $md-checkbox-size;
        margin: 0;
        font-weight: 400;
        &:before,
        &:after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            //margin-top: 2px;
        }
        &:before {
            // box
            width: $md-checkbox-size;
            height: $md-checkbox-size;
            background: #fff;
            border: 1px solid #e5e5e5;
            border-radius: 3px;
            cursor: pointer;
            transition: background .3s;
        }
        &:after {
            // checkmark
            //margin-top: 2px;
        }
    }
    input[type=checkbox] {
        outline: 0;
        margin-right: $md-checkbox-size - 10px;
        margin-top: 5px;

        &:checked {
            +label:before {
                background: $md-checkbox-checked-color;
                border: none;
            }
            +label:after {
                $md-checkmark-size: $md-checkbox-size - 2*$md-checkbox-padding;
                transform: rotate(-45deg);
                // top: ($md-checkbox-size / 2) - ($md-checkmark-size / 4) - $md-checkbox-size/10;
                // left: $md-checkbox-padding;
                // width: $md-checkmark-size;
                // height: $md-checkmark-size / 2;
                border: $md-checkmark-width solid $md-checkmark-color;
                border-top-style: none;
                border-right-style: none;
                margin-top: 4px;

                top: 0px;
                left: 3px;
                width: 10px;
                height: 6px;
            }
        }
    }
}

// slide panel
.slide-panel{
    top: 0;
    right: 0;
    position: fixed;
    width: 70vw;
    height: 100vh;
    background: #fff;
    // box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: none!important;
    z-index: 2500;
    margin-right: -70vw;
    transition: $trans;
    -webkit-transition: $trans;
    -moz-transition: $trans;
    -o-transition: $trans;
    padding: 5px 15px;

    &.open{
        margin-right: 0px;
        transition: $trans;
        -webkit-transition: $trans;
        -moz-transition: $trans;
        -o-transition: $trans;
    }
}

// overlay
.overlay {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background: #000;
    z-index: 2450;
    -webkit-transition: visibility 0 linear .4s, opacity .4s cubic-bezier(.4, 0, .2, 1);
    -moz-transition: visibility 0 linear .4s, opacity .4s cubic-bezier(.4, 0, .2, 1);
    transition: visibility 0 linear .4s, opacity .4s cubic-bezier(.4, 0, .2, 1);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);

    &.active {
        opacity: 0.5 !important;
        visibility: visible;
        -webkit-transition-delay: 0;
        -moz-transition-delay: 0;
        transition-delay: 0;
    }
}

//status indicator
.stat{
    width: 8px;
    height: 8px;
    background: $orange;
    border-radius: 50%;
    display: inline-block;
}

//inner divider{
.dividerI{
    height: 0;
    border: 0;
    border-top: 1px solid $avatar-gray;
    width: 95%;
}

//dashed divider
.dividerD{
    height: 0;
    border: 0;
    border-top: 1px dashed $avatar-gray;
    width: 95%;
}

//outer divider
.dividerL{
    width: 110%;
    border-top: 1px solid black;
    margin-top: 5px;
    margin-left: -15px;
}

//font-family{
.book{
    font-family: "GothamBook",sans-serif;
}

.light{
    font-family: "GothamLight",sans-serif;
}
.round-light{
    font-family: "GothamRoundedLight",sans-serif;
}

.round-book{
    font-family: "GothamRoundedBook",sans-serif;
}

.round-bold{
    font-family: "GothamRoundedBold",sans-serif;
}

.round-medium{
    font-family: "GothamRoundedMedium",sans-serif;
}
.font-black{
    font-family: "GothamBlack",sans-serif;
}

.medium{
    font-family: "GothamMedium",sans-serif;
}

.bold-font{
    font-family: "GothamBold",sans-serif;
}

//flex-center
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}

//uppercase
.uppercase{
    text-transform: uppercase;
}

//flex-row
.flex-row{
    display: flex;
    flex-direction: row;
}

//flex-column
.flex-column{
    display: flex;
    flex-direction: column;
}

//align-center
.align-center{
    align-items: center;
}

.align-right{
    align-items: flex-end;
}

//justify-center
.justify-center{
    justify-content: center
}

//justify-right
.justify-right{
    justify-content: flex-end;
}


.close{
    font-size: 14px;
    font-weight: bold;
    right: 1px;
    top: 1px;
}
.on{
    height: 100px;
}
.off{
    height: auto;
}

    // .gm-style {
    //     img{
    //         display: none;
    //     }

    // }


div.infoBox{
    position: absolute !important;
    right: 10px !important;
    left: 80% !important;
    top: 0px !important;
    bottom: 0px !important;
    height: 400px !important;
    overflow-y: scroll !important;
    @include scrollbar(5px, 1px);
    width: auto !important;
    img{
        background: transparent;
        width: 10px !important;
        //display: none;
    }
}
#mapT{
    flex-direction: column;
    height: 75vh !important;
    overflow-y: scroll !important;
    overflow-x: hidden;
    @include scrollbar(5px, 1px);
    // @include scrollbar(5px, 1px);
    padding-bottom: 0;
    border-bottom: 1px solid $line-color;
    padding-top: 5px;
}
.map-diagram{
    div{
        transform: matrix(1,0,0,1,0,0) !important;
    }
}



@keyframes fadeIn{
    from{opacity: 0}
    to{opacity: 1}
}

.info-box{
    width: auto;
    //min-height: 100px;
    //height: 100px;
    overflow: hidden;
    overflow-y: scroll;
    // border: 1px solid $line-color;
    padding: 5px;
    margin: 20px 10px;
    background: white;
    border-radius: 4px;
    height: auto;
    transition: all 0.5s ease-in;
    position: absolute;
    top: 0px;
    right: 0;

    .close{
        img{
            width: 12px;
            height: 12px;
        }
    }

    .mini-box{
        overflow: hidden;
        margin: 0;
        //border-bottom: 1px solid black;
        //margin-bottom: 10px;
        margin-top: 10px;
        animation: fadeIn 0.2s ease-in;

        .img-col{
            flex-grow: 1;
            //border: 1px solid;
            img{
                width: inherit !important;
                border-radius: 50%;
                display: block;
            }
        }
        .data-col{
            flex-grow: 3;
            padding-left: 5px;
            padding-top: 5px;
            font-family: "GothamRoundedBook",sans-serif;
            h6{
                font-size: 13px;
            }
            b{
                color: gray;
            }
            p:first-child{
                font-size: 9px;
            }
            p:last-child{
                font-size: 8px;
            }
        }

        .dividerL{
            margin-left: -15px;
            width: 100%;
            border-top-color: gray
        }
        .dividerI{
            margin-left: -5px;
            width: 100%;
            border-top:2px solid #f0f0f0;
            margin-top: 5px;
            //margin-bottom: 5px;
        }
    }
}

.img-col{
    flex-grow: 1;
    //border: 1px solid;
    img{
        width: inherit;
        border-radius: 50%;
    }
}


.on-checkbox-select{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: white !important;
    //height: 7vh;
    height: 50px;
    // text-align: left;
    // position: absolute;
    //border-bottom: 1px solid black;
    padding-left: 8px;
    //animation: slideIn 0.5s ease-in forwards;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "GothamRoundedBook",sans-serif;
    z-index: 1;
    //width: 0;
    transition: all 0.5s ease-in;


    input{
        margin-right: 30px;

        
    }

    button{
        @include round-button(white,auto,2px,black,11px);
        padding: 5px 10px;
        margin: auto 5px;
        border: 1px solid rgb(175, 174, 174);

        img{
            width: 16px;
            height: 16px;
        }
    }
}

button{
    outline: 0px !important;
}


//full-width
.full-width{
    width: 100%
}

//full-height{
.full-height{
    height: 100%;
}
td{

}
.tooltip-inner{
  font-size: 12px;
  font-family: "GothamMedium";
}

.dividerS{
    border-top: 1px solid #e5e5e5;
    flex: 1;
    margin-top: 0px;
    margin-bottom: 0px;
}

.modal-body{
    font-size: 12px !important;
}

.scroll{
    overflow-y: auto;
    @include scrollbar(5px, 1px);
}

// these styles help to nullify reboot on element ui


//dashboard infowindow
#hey-map{
    div.gm-style-iw{
        top: 0px !important;
        //bottom: 0px !important;
        left: 0px !important;
        //right: 0px !important;
    }
}
.dashboard-info{
    width: 300px;
    height: auto;
    font-size: 12px;
    // position: absolute;
    // top: 0;
    // left: 0;
    // right: 0;
    // bottom: 0;

    img{
        width: 80px;
        height: 80px;
    }

    .agent-status{
        width: 20px;
        height: 20px;
    }
}


.marker {
    /* background-image: url('/assets/logo.png'); */
    background-color: red;
    background-size: cover;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
}

.outerMarker{
    box-shadow: 0 0 0 rgba(204,169,44, 0.4);
    background-color: blue;
    background-size: cover;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    opacity: 0.6;
    cursor: pointer;
    //animation: pulse 0.5s infinite ease-in;
}
.outerMarker:hover {
  animation: none;
}

.mapboxgl-popup {
    width: auto;

}

.mapboxgl-popup-close-button{
    font-size: 20px;
    font-family: "GothamRoundedBook"
}

.mapboxgl-popup-content {
    padding: 0;
    border: 1px solid #dee2e6;
    //text-align: cent;
    //font-family: 'Open Sans', sans-serif;
}

//font size
.font{
    font-size: 12px;
}


//agent-map
.agentMarker{
    background-image: url('/img/4.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    //background: blue;
}

.agent-label{
    width: 20px;
    height: 20px;
    background-image: url('/img/3.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

    span{
        //content: '13';
        color: white;
        font-size: 9px;
        font-family: "GothamRoundedBook",sans-serif;

    }
}

.agent-popup{
    width: 200px;
    height: 125px;
    font-size: 12px;
    overflow: hidden;
    transition: all 0.5s ease-in;

    &.close{
        height: 125px;
    }

    &.open{
        height: auto;
    }


    button{
        //width: 16px;
        width: auto;
        height: 16px;
        // padding: 0;
        background: transparent;
        img{
            width: 13px;
            height: 13px;
            vertical-align: middle;
        }
    }

    img{
        width: 70px;
        height: 70px;
    }
    h6{
        font-size: 14px;
    }

}

.info {
    position:absolute;
    top:10px;
    right:10px;
}
.info div {
    background:#fff;
    padding:10px;
    border-radius:3px;
}

// canvas.mapboxgl-canvas{
//     width: 100% !important;
//     height: 100% !important;
// }
