input, input.form-control{
    @include placeholder(#b5b5b5, 11px);
    border: solid 2px #e6e6e6;
    padding: 2px 5px;
    border-radius: 5px;
}
.form-control[readonly]{
    background: white!important;
}
    // input, input.form-control{
    //     @include placeholder(#b5b5b5, 11px);
    //     border: solid 2px #e6e6e6!important;
    //     padding: 2px 5px!important;
    //     border-radius: 5px!important;
    //     height: 35px!important;
    //     box-sizing: border-box!important;
    // }
input.select, .tagsinput input{
    @include placeholder(#ccc, 12px);   
}


.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ced4da;
    outline: 0;
    box-shadow: none;
}

input,select{
    height: 30px;
}
// form
.form-control{
    border-radius: 0;
}
// extract tags input from filter box into component and put this there
.tags-input{
    input{
        width: 100%;
    }
}




.vdp-datepicker{
    .form-control:disabled, .form-control[readonly] {
        background-color: white;
    }
}