@import 'fonts';


@mixin scrollbar($width, 
    $height,
    $scrollbg: rgb(219, 219, 219),
    $thumbbg: white
){
    &::-webkit-scrollbar-track{
        border-radius: 0px;
        background-color: $thumbbg;
    }

    &::-webkit-scrollbar{
        width: $width;
        height: $height;
        background-color: $scrollbg;
    }

    &::-webkit-scrollbar-thumb{
        border-radius: 10px;
        background-color: $scrollbg;
    }

    &::-webkit-scrollbar-thumb:window-inactive{
        background: $scrollbg;
    }
}

@mixin customScroll(){
    ::-webkit-scrollbar-track {
        background: none;
      }
      ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
      }
      ::-webkit-scrollbar-thumb {
        background: #ccc;
        border-radius: 5px;
      }
}

@mixin vertical-center() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

@mixin round-button($color,$dim,$border-rad,$text,$size){
    background: $color;
    width: $dim;
    height: $dim;
    line-height: $dim;
    border-radius: $border-rad;
    box-shadow: none;
    border: 0;
    color: $text;
    display: inline-block;
    text-align: center;
    font-size: $size;
}

@mixin flex-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}

@mixin flex-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

@mixin border-radius($radius){
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}


@mixin placeholder($color,$font-size){
    &::-webkit-input-placeholder{
        color: $color;
        font-size: $font-size;
        font-weight:bolder;
        font-family: "GothamRoundedLight",sans-serif;
    }
    &:-moz-placeholder{
        color: $color;
        font-size: $font-size;
        font-weight:bolder;
        font-family: "GothamRoundedLight",sans-serif;
    }
    &::-moz-placeholder{
        color: $color;
        font-size: $font-size;
        font-weight:bolder;
        font-family: "GothamRoundedLight",sans-serif;
    }
    &:-ms-input-placeholder{
        color: $color;
        font-size: $font-size;
        font-weight:bolder;
        font-family: "GothamRoundedLight",sans-serif;
    }
}


@mixin precise-height($height){
    height: -moz-calc(100% - ($height));
    height: -webkit-calc(100% - ($height));
    height: calc(100% - ($height));
}

@mixin toggle-button($active,$inactive,$class,$width,$right){
    .#{$class} {
        position: relative;
        //width: 90px;
        width: $width;
        -webkit-user-select:none;
        -moz-user-select:none;
        -ms-user-select: none;
    }
    .#{$class}-checkbox {
        display: none;
    }
    .#{$class}-label {
        display: block;
        overflow: hidden;
        cursor: pointer;
        border: 1px solid #cccccc;
        border-radius: 20px;
    }
    .#{$class}-inner {
        display: block;
        width: 200%;
        margin-left: -100%;
        transition: margin 0.3s ease-in 0s;
    }
    .#{$class}-inner:before, .#{$class}-inner:after {
        display: block;
        float: left;
        width: 50%;
        height: 25px;
        padding: 0;
        line-height: 25px;
        font-size: 10px;
        color: white;
        font-family: sans-serif;
        box-sizing: border-box;
    }
    .#{$class}-inner:before {
        content: $active;
        padding-left: 10px;
        background-color: #FFFFFF;
        color: #000000;
        color: #212529;
        font-family: "GothamBook";
    }
    .#{$class}-inner:after {
        content: $inactive;
        padding-right: 10px;
        background-color: #FFFFFF;
        color: #000000;
        text-align: right;
        color: #212529;
        font-family: "GothamBook";
    }
    .#{$class}-switch {
        display: block;
        width: 16px;
        height: 16px;
        margin: 6px;
        background: #FF931E;
        position: absolute;
        top: 0;
        bottom: 0;
        //right: 56px;
        right: $right;
        border: 1px solid #cccccc;
        border-radius: 20px;
        transition: all 0.3s ease-in 0s;
    }
    .#{$class}-checkbox:checked + .#{$class}-label .#{$class}-inner {
        margin-left: 0;
    }
    .#{$class}-checkbox:checked + .#{$class}-label .#{$class}-switch {
        right: 0px;
    }

}

@mixin pointer{
  cursor: pointer;
}

@mixin background-img($url,$position,$size,$repeat) {
    background-image: url($url);
    background-position: $position;
    background-size: $size;
    background-repeat: $repeat;
}
