/***************************/
/***************************/
/* body / html / footer | page configuration*/
/***************************/
/***************************/
body{
    // set min width and height
    width: 100%;
    min-width: 768px;
    height: 100vh;
    min-height: 768px;
    overflow-y: hidden;
    overflow-x: auto;
    color: #333;
}

// footer{
//     height: 5vh;
//     position: relative;
//     width: 100%;
//     border-top: solid 1px $border-color;
// }
/***************************/
/***************************/
// end of body / html
/***************************/
/***************************/

/***************************/
/***************************/
// containers
/***************************/
/***************************/





/***************************/
/***************************/
// end of containers
/***************************/
/***************************/

/***************************/
/***************************/
// navigations
/***************************/
/***************************/

.containers{
    display: flex;
    flex-direction: row;
}





/***************************/
/***************************/
// end of navigations
/***************************/
/***************************/


/***************************/
/***************************/
// page content
/***************************/
/***************************/

#page-content{
    height: 86vh;
    background: $background;
    display: flex;
    flex-direction: column;
    height: -moz-calc(100% - (75px));
    height: -webkit-calc(100% - (75px));
    height: calc(100% - (75px));
    //overflow-y: auto;
    //@include scrollbar(5px, 1px);
}



//-------------------------------------BREADCRUMBS------------------------
.chip{
  -webkit-touch-callout: none; /* iOS Safari */
 -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
     -ms-user-select: none; /* Internet Explorer/Edge */
         user-select: none; /* Non-prefixed version, currently
                               supported by Chrome and Opera */
    @include round-button($orange,30px,50%,white,9px);
}

.transbut{
    @include round-button(transparent,auto,0,black,auto);
}








//--------------------------SHOW INDIVIDUAL CONTACT PAGE----------



//-----------------------------TABS ON THE CONTACT PAGE-------------



.breadcrumb-content-below{
    //overflow-y: auto;
    height: -moz-calc(100% - (45px));
    height: -webkit-calc(100% - (45px));
    height: calc(100% - (45px));
    display:block;
    //@include scrollbar(5px, 1px);
    // font-family: "GothamBook",sans-serif;


    .bottom{
        //padding-top: 3vh;
        //font-size: $header;

        a{

        }
    }

    .main{
        height: inherit;
        border-right: solid 1px $border-color;

        .personal{
            &-img-socials{
                border-right: solid 1px $border-color;
                // height: $personal-img;
                height: 20vh;
            }
            &-img,
            &-socials{
                //width: 60%;
                width: 12vh;
            }

            &-socials{
                white-space: nowrap;
                display: flex;
                justify-content: space-around;
                //padding-bottom: 5px;
                .social{
                    margin: 7px 3px;
                    //margin: 10px 3px 0px 3px;
                    // display: inline-block;
                    // width: 24px;
                }
            }
        }

        .information{
            //height: $personal-img;
            height: 20vh;
            font-size: $header;

            .top{
                height: 40%;
                border-bottom: solid 1px $border-color;

                .title{
                    margin-top: 12px;
                }

                .wide-chip{
                    //padding: 10px 15px;
                    margin: 5px auto;
                    //font-size: 12px;
                    height: 30px;
                    line-height: 24px;
                }

                .button{
                    white-space: normal;
                    display: flex;
                    margin: 5px auto;
                    height: 30px;
                    justify-content: center;
                    align-items: center;


                    button{
                        border: 1px solid rgba(128, 128, 128, 0.5);
                        img{
                            filter: invert(1)
                        }
                    }

                    .group-1{
                        &.one{
                            margin-left: 5px;
                            border-top-right-radius: 0px;
                            border-bottom-right-radius: 0px;
                        }

                        &.two{
                            border-radius: 0px;
                            border-left: 0px;
                            border-right: 0px;
                        }

                        &.three{
                            margin-right: 5px;
                            border-top-left-radius: 0px;
                            border-bottom-left-radius: 0px;
                        }
                    }

                    .group-2{
                        &.one{
                            border-top-right-radius: 0px;
                            border-bottom-right-radius: 0px;
                        }

                        &.two{
                            border-top-left-radius: 0px;
                            border-bottom-left-radius: 0px;
                            border-left: 0px;
                        }
                    }
                }
            }
            .bottom{
                height: 60%;
            }
        }
    }

    .settings{
        margin-top: 10px;

        hr{
            border-top: solid 2px rgba(0, 0, 0, 0.15);
        }

        .main-filter-form{
            div{
                display: flex;

                input{
                    width: 85%;
                    border-top-right-radius: 0px;
                    border-bottom-right-radius: 0px;
                }

                button{
                    width: 15%;
                    border-bottom-left-radius: 0px;
                    border-top-left-radius: 0px;
                    border:solid 1px $orange;
                    font-size: 24px;
                    font-weight: bold;
                    padding: 0px;
                    text-align: center;
                    line-height: 34px;
                }
            }
        }

        .filter-body{

        }
    }


}



//-------------slider---------------------
.slider{

    .dividerL{
        border-top: 1px solid #dee2e6;
    }
    div > h5{
        height: 4vh;
    }
    h5{
        line-height: 6vh;
        //padding-left: 10px;
        font-family: "GothamMedium",sans-serif;
    }



    & > div > .col-4{
        height: 82vh;


        .input-group{
            width: 100%;
            padding: 20px 25px;
        }

        #accordion{
            .panel{
                border: 0;
                box-shadow: none;
                font-family: "GothamRoundedBook",sans-serif;
            }

            .panel-heading{
                background: white;
                padding-left: 20px;


                h4{
                    font-size: $header;
                    height: 30px;
                    line-height: 30px;

                    a{
                        display: inline-block;
                        color: black;
                        color: #333;
                        &:hover,&:focus,&:active{
                            text-decoration: none;
                            color: black;
                            color: #333;
                        }
                    }

                    span{
                        //font-size: 9px;
                        font-weight: 100;
                        margin-right: 5px;
                        top:0;
                        //opacity: 0.7;

                        img{
                            line-height: inherit;
                            width: 10px;
                        }

                    }
                }

                &:hover,&:focus,&:active{
                    border-left: 3px solid $orange;
                    background: #f6ffbd;
                }


            }

            .panel-body{
                border: 0;
                color: #333;
                padding: 0;
                margin: 0;
                padding-left: 50px;
                font-size: 11px;
                table{
                    padding: 0;
                    margin: 0;
                    td{
                        border: 0;
                        height: 2vh;
                        padding: 5px;
                    }
                    tr{
                        height: 2vh;

                        a{
                            color: #333;
                            &:hover,&:focus,&:active{
                                text-decoration: none;
                                color: #333;
                            }
                        }
                    }
                }

            }
        }
    }

    & > div > .col-8{
        height: 82vh;
        

        .white-background{
            font-family: "GothamBook",sans-serif;
            font-size: $header;
        }

        h5{
            background: rgba(0, 0, 0, 0.15);
            margin: 0;
            line-height: 5vh;
            height: 5vh;
        }

        form{
            padding: 10px 20px ;

            label{
                font-family: "GothamBook",sans-serif;
                font-weight: normal;
                font-size: 12px;
            }
        }

        .form-header{
            display: flex;
            padding-left: 20px;
            font-family: "GothamBook",sans-serif;
            font-weight: bold;
            height: 4vh;
            align-items: center;
            margin: 0;
            h6{
                font-size: 13px;
                //color: black;
            }
            .dividerI{
                width: 80%;
            }
        }
    }

    #button-panel{
        //border-top: 1px solid black;
        border-top: 1px solid #dee2e6;
        height: 10vh;
        padding-right: 20px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        align-content: center;
        font-family: "GothamBook",sans-serif;

        button{
            margin-left: 20px;
        }
    }

    #menu,#info,#approve{
        height: 7vh;
        line-height: 7vh;
        overflow: hidden;
    }

    #info,#approve{
        padding-right: 20px;
    }
}



// -----------------------------AGENT TABLE ------------------------------
// TODO: refactor all common table styles here and leave styles
// that are unique to agents and customers tables in their components
#agents-table{
    overflow-y: scroll;
    font-size: $subtext;
    // @include scrollbar(5px, 1px);
    button{
        img{
            width: 16px;
            height: 16px
        }
    }
    tbody{
    }
    td,th{
        width: auto ;
        text-align: left;
        padding: 0 ;
        vertical-align: middle;

        &:first-child{
            padding-left: 30px;
        }

        &:nth-child(8){
            vertical-align: middle;
        }

        &:nth-child(2){
            div{
                //margin-left: 15px;
            }
        }

       &:last-child{
           width: auto !important;
       }
        //padding: 7px 0px !important;
    }
    th{
        padding: 7px 2px !important;
    }
    .mini-menu{
        top: 1.5vh;
        z-index: 1;
        background: transparent;
        // justify-content: flex-end;
        width: auto;


        .transbut1{
            display: none;
        }


        .mask{
            z-index: 2;
            display: none;
            //background: transparent;
        }

        &:hover{
            z-index: 3000;
            background: white;

            .transbut1{
                display: block;
            }

            .mask{
                z-index: 3001;
                display: block;
            }
        }
    }
}


#services{

    .row{
        margin-top: 10px;
        .col-4{
            padding: 0;
            padding-left: 5px;
        }
        h6{
            font-family: "GothamBook",sans-serif;
            font-size: 9px;

        }
        input{
            height: 30px;
            line-height: 30px;
            @include placeholder($avatar-gray, $subtext);
            font-family: "GothamBook",sans-serif;
        }
    }

    p{
        margin-top: 5px;
        font-family: "GothamBook",sans-serif;
        letter-spacing: 0px;
    }
}



/***************************/
/***************************/
// end of page content
/***************************/
/***************************/






// import general styles
@import "general";
@import 'fonts';

@keyframes slideIn{
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        visibility: visible;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
.agent-edit-button{
  //right: 0;
  border: 0;
  // border-left: 1px solid $border-deep;
  // border-bottom: 1px solid $border-deep;
  // border-left: 1px solid $line-color;
  // border-bottom: 1px solid $line-color;
  // top: 0px;
  background: white;
  // height: 30px;
  // width: 30px;
  font-size: 12px;
  bottom: 0;
  left: 0;
  color: $blue!important;
}
// -------------------------------INFO---------------------------
.agent-info{
    height: 22vh;
    border-bottom: 1px solid $line-color;

    .col-sm-10{
        padding-right: 0;
        overflow: hidden;

        .col,.col-8,.col-4{
            line-height: 2vh;
        }


        .agent-detailed-info{
            height: 14vh;
            font-size: 12px;

            display: flex;
            align-items: center;
            justify-content: space-between;

            p{
               font-family: "GothamBook",sans-serif;
            }
            .bold{
                font-family: "GothamMedium",sans-serif;
                font-weight: normal;
            }
        }
    }



    .user-image{
        width: 90px;
        height: 90px;
    }

    .agent-pos{
        height: 8vh;
        // border-bottom: 1px solid $border-deep;
        border-bottom: 1px solid $line-color;
        line-height: 8vh;
        display: flex;


        h6{
            line-height: 8vh;
            flex-grow: 1;
            padding-left: 15px;
            font-size: 14px;
        }

        .wide-chip-div{
            flex-grow: 1;


            p{
                width: auto;
                padding: 0 10px;
                background: blue;
                height: 30px;
                border-radius: 15px;
                line-height: 30px;
                color: white;
                font-size: 12px;
                text-align: center;
                margin-top: 11px;
            }

        }

        .agent-btn-group{
            flex-grow: 20;
            text-align: right;
            padding-right: 25px;
        }
    }

    button{
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        // border: 1px solid $border-deep;
        border: 1px solid $line-color;

        &:hover{
            background: transparent;
        }

        img{
            width: 16px;
            height: 16px;
        }
    }



    .personal-socials{
        margin-top: 1vh;
        width: 90px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        img{
            width: 20px;
            height: 20px;
        }
    }

    
}
.agent-show-panel{
    height: 6vh;
    //background: #e9ecef;
    background: #fafafa;
    font-family: "GothamMedium",sans-serif;
    padding: 2px 0;

    .big{
        font-size: 13px
    }
    .small{
        font-size: 10px
    }

    .col-10{
        line-height: 6vh;

        p{
            line-height: 15px;
        }
    }
    .col-2{
        padding-top: 3px;
        p{
            line-height: 16px
        }
    }
}
#app{
  .single-agent-date{
      height: 10vh;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #f0f0f0;
      border-top: 1px solid $line-color;

      .inner-div{
          height: 30px;
          width: 100%;
          display: flex;

      }

      h4{
          font-size: 16px;
          line-height: 30px
      }

      input,select{
          height: 30px;
          line-height: 30px;
          font-size: 12px
      }

      form{
          //transform: translateY(-15px);

          label{
              text-transform: uppercase;
              font-size: 8px;
              color: gray;

          }

          .input-group{
              span{
                  width: 30px;
                  height: 30px;
                  //background: lightgray;
                  background: $input-group-span;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  font-size: 15px;
                  border-radius: 0 4px 4px 0;
                  //border: 1px solid $border-deep;
                  border-left: 0;
              }
          }
      }
      //padding: 0 0px;
  }
}
.single-agent-table{
    //height: 45vh;
    overflow: hidden;
    overflow-y: scroll !important;
    font-size: 12px;
    @include scrollbar(5px, 1px);
     //@include scrollbar(5px, 1px);
    table{
        height: 100%;
        //background: gray;
        overflow-y: scroll !important;
        overflow-x: hidden;


        th,td{
            height: 7vh;
            //font-size: 12px;
            //font-family: "GothamRoundedBook",sans-serif;
            text-align: left;
            // border-bottom: 1px solid $border-light;
            vertical-align: middle !important;

           &:nth-child(1){
               padding-left: 15px;
           }
        }
        // th{
        //     text-transform: uppercase;
        //     font-size: 10px;
        //     font-family: "GothamRoundedBold",sans-serif;

        // }
    }
}

 #info-box{
        width: 150px;
        //min-height: 100px;
        //height: 100px;
        overflow: hidden;
        border: 1px solid $line-color;
        padding: 5px;
        margin: 20px 10px;
        background: white;
        border-radius: 4px;
        transition: all 0.5s ease-in;

        .close{
            font-size: 14px;
            font-weight: bold;
            right: 1px;
            top: 1px;
        }

        #mini-box{
            overflow: hidden;
            margin: 0;
            //border-bottom: 1px solid black;
            margin-bottom: 10px;

            .img-col{
                flex-grow: 1;
                //border: 1px solid;
                img{
                    width: inherit;
                    border-radius: 50%;
                }
            }
            .data-col{
                flex-grow: 3;
                padding-left: 5px;
                padding-top: 5px;
                font-family: "GothamRoundedBook",sans-serif;
                h6{
                    font-size: 13px;
                }
                b{
                    color: gray;
                }
                p:first-child{
                    font-size: 9px;
                }
                p:last-child{
                    font-size: 8px;
                }
            }

            .dividerL{
                margin-left: -15px;
                width: 100%;
                border-top-color: gray
            }
            .dividerI{
                margin-left: -5px;
                width: 100%;
                border-top:2px solid #f0f0f0;
                margin-top: 5px;
                //margin-bottom: 5px;
            }
        }
    }
