.table-content{
    overflow-y: scroll !important;
    @include scrollbar(5px, 1px);
    height: calc(100% - 51px);

    tr:first-child{
        td{
            border-top: none;
        }
    }
}
table{

    border-top: none;   
    tr{
        height: 50px;
    }
    th{
      text-transform: uppercase;
      font-family: "GothamRoundedMedium",sans-serif;
      font-size: 10px;
    }
    th,td{
      vertical-align: middle !important;
      color: #333;
      font-family: "GothamRoundedBook",sans-serif;
  }
    
}

table{

  tr{
      background: white;
  }

  thead{
      background: #fdfdfd;

      th{
          text-transform: uppercase;
          border-bottom: 1px solid #dee2e6;
          border-top: none;
      }
  }

  tbody{
      tr{
          &:hover{
              background: #fafafa;
              // cursor: pointer;
          }
          td{
              height: 60px;
              border-top: 1px solid #f0f0f0;
          }
      }
  }


}

// table
// #app{
    
//   }
.table{
    thead{
        th{
            border-bottom: 1px solid #dee2e6;
            border-top: none;
        }
    }
    td{
        border-top: 1px solid #f0f0f0;
    }
}
table{
    th,td{
      font-family: "GothamRoundedBook",sans-serif;
    }
    
    th{
      text-transform: uppercase;
      border-top: none;
    }
    td{
      border-top: 1px solid #f0f0f0;
    }
    
}

// this class represents the main table found on pages like agens list page
.table-div{
    height: calc(100% - 30px);
    font-family: "GothamRoundedMedium";
    overflow-y: hidden;
    overflow-x: hidden;
    @include scrollbar(5px, 1px);
    background: white;
    .table{
      th,td{
        font-family: "GothamRoundedBook",sans-serif;
        text-align: left;
  
        // width: auto !important;
        // vertical-align: middle;
        padding: 0;
      }
      th{
        height: 50px;
        text-transform: uppercase;
        font-size: 10px;
        border-bottom: 1px solid #dee2e6;
        border-top: none;
      }
      td{
        font-size: 12px;
        height: 60px;
        border-top: 1px solid #f0f0f0;
        &.primary{
          cursor: pointer;
        }
      }
    }
  }

  // table footer
.tfoot{
    width: 100%;
    padding: 0px 16px;
    height: 30px;
    font-size: 10px;
    font-family: "GothamLight",sans-serif;
    border-top: 1px solid #f0f0f0;
    background: white;
    p{
      //padding-top: 15px;
      padding: 0;
      margin-bottom: 0px;
    }
}

.table-div{
  &#agents-table, &.contact-table{
    table{
      table-layout: fixed;      
    }
  }
}
.choose-columns-modal{
    .modal-header{
        padding-left: 42px;
        background: #fafafa;
        height: 9vh;
        h4{
            text-transform: uppercase;
            font-size: 18px;
        }
        .close{
            padding: 18px 20px;
            font-size: 18px;
        }
    }
    select{
        margin: 20px 5%;
        width: 90%;
    }
    .modal-footer{
        background: #fafafa;
        height: 9vh;
    }
    
}
