// colors

$orange: #ff931e;

$gray: #f4f9f9;
$nav-gray: #333333;
$deep-gray-2: rgba(0, 0, 0, 0.5);
// todo
// $border-color is being used for misleading stuff such logo bg 
// once we get ride of those usages we can rename 
// $border-medium-color to $border-color and use it only for borders
$border-color: rgba(0, 0, 0, 0.5);
$blue: #29abe2;
$deep-blue: #0099e6;
$avatar-gray: #b3b3b3;
$placeholder-gray: #cccccc;
$background: #fcfcfc;
$black: #353535;
$border-light: rgba(0, 0, 0, 0.251);
$border-deep: #666666;
//$baby-blue: #00b8ff;
$baby-blue: #89CFF0;

$border-light-color: #f0f0f0;
$border-medium-color: #dee2e6;
$border-deep-color: #f0f0f0;








$trans: ease all 0.25s;

$main-header: 14px;
$header: 12px;
$subtext: 10px;
$paragraph: 8px;
$top-nav: 7vh;
$input-height: 4vh;
$row-height: 6vh;

$m-grey: #9e9e9e;

$md-checkbox-margin: 5px 0px 5px;
$md-checkbox-checked-color: $orange;
$md-checkbox-border-color: rgba(0, 0, 0, 0.25);
$md-checkbox-size: 16px;
$md-checkbox-padding: 12px;
$md-checkmark-width: 2px;
$md-checkmark-top: 20px;
$md-checkmark-color: #fff;
$md-checkbox-checked-content:"/2713";
// $md-checkmark-top: 50%;
// $md-checkmark-left: 50%;
 $md-checkmark-margin:5px;

// $md-checkmark-postion: fixed;
//$md-checkbox-checked-content:"/2713";
//n:center;
$md-checkmark-postion:absolute;
//$md-checkmark-left:5px;
//$md-checkmark-height: 1px;
$md-checkmark-height:2px;




$side-container: 55px;
$inner-container: 30px;
$breadcrumb-container: 45px;
$table-height: 30px;

$personal-img: 160px;


//-------new changes------------
$input-border: #e5e5e5;
$line-color: #f0f0f0;
$input-group-span: #ced4da;
