// bootstrap
@import 'bootstrap_overrides.scss';
@import '~bootstrap/scss/bootstrap.scss';

/*do imports*/
@import 'variables';
@import 'mixins';
@import 'client';
@import 'fonts';
@import 'general';
@import 'animations';
@import 'custom_jquery_ui';

// new components styling
@import 'inputs';
@import 'tables';
@import 'buttons';
@import 'typography';


/*import for small screens*/
@import 'sm'; 

/*import for medium screens*/
@media(min-width: 992px) {
    @import 'md';
}

/*import for large screens*/
@media screen and (min-width: 1800px) {
    @import 'lg';
    nav{
        li{
            margin: 1.5vh auto !important;
        }
    }
}

html {
  font-size: 12px;
}

body{
    font-family: "GothamRoundedBook",sans-serif;
    font-size: 12px;
    color: #333;
    overflow-x: hidden !important;
}

input{
    font-size: 12px;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.c-select{
  position: relative;
  select{
    display: none
  }
  .select-selected {
    background-color: DodgerBlue;
  }
  /*style the arrow inside the select element:*/
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  /*style the items (options), including the selected item:*/
  .select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
  }
  /*style items (options):*/
  .select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }
}


.in-progress{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    .side-prog{
      width: 67px;
      //background: blue;
      height: 100vh;
      background: linear-gradient(to bottom right, #343536, #343536);

      .logo-prog{
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(0,0,0,0.5);

        img{
          width: 40px;
          height:40px
        }
      }

      .navprog-items{
        @include precise-height(60px);
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
        //position: relative;
        li{
          //width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 6px 0;
          padding: 0;
          width: 44px;
          height: 44px;


          &:first-child{
            background: rgba(0,0,0,.5);
            border-radius: 50%;
          }

          &:last-child{
            position: absolute;
            bottom: 10px;
          }

          p{
            border-radius: 50%;
            width: 20px !important;
            height: 20px !important;
            background: #999999;
            margin: 0;
            background-image: linear-gradient( 100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 80% );
            background-position: 0 0;
            background-repeat: repeat-y;
            animation: shine 1.5s ease-in infinite;
            background-size: 100px 200px;
          }

        }

      }


    }
    .main-prog{
      width: -moz-calc(100% - (67px));
      width: -webkit-calc(100% - (67px));
      width: calc(100% - (67px));
      //display: inline-block;

      .top-prog{
        height: 60px;
        background: white;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0 20px;
      }
      .bread-prog{
        height: 6vh;
        background: #fafafa;
        border-bottom: 1px solid #f0f0f0;
        border-top: 1px solid #f0f0f0;
        padding: 0 20px;
      }

      .center-prog{
        height: -moz-calc(94vh - (90px));
        height: -webkit-calc(94vh - (90px));
        height: calc(94vh - (90px));
      }

      .foot-prog{
        height: 30px;
        background: white;
        width: 100%;
        border-top: 1px solid #f0f0f0;
      }

      .loading{
        width: 200px;
        height: 10px;
        //background: blue;
        background: #f0f0f0;
        border-radius: 25px;
        background-image: linear-gradient( 100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 80% );
        background-position: 0 0;
        background-repeat: repeat-y;
        animation: shine 1.5s ease-in infinite;
        background-size: 100px 200px;
        margin: 0 5px;
      }
    }
  }

  @keyframes fadeIn{
    from{
      opacity: 0
    }to{
      opacity: 1;
    }
  }

  @keyframes shine {
    to {
      background-position: 100% 0, /* move highlight to right */
    }

  }
