<template>
  <div style="width: 100%">
    <div class="d-flex flex-column book" style="flex: 1;width:100%">
      <bread-crumb-component :showFilterButton="false" :showDropDown="false"
        without-form="none" title="Admin Settings" titleLink="/adminsettings"
        subtitle="Sort agents by" class="bread-div" id="" :showRightPanel="false" :showSecondBread="false" >
      </bread-crumb-component>
      <div id="agent-panel">
        <div class="agent-table-panel">
            <settings-panel></settings-panel>
        </div>
        <sliding-panel>
           <filter-pane></filter-pane>
        </sliding-panel>
      </div>
    </div>

  </div>
</template>

<script>
    export default {
        name: 'AdminSettings',
        
    }
</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
  @import '../../assets/styles/variables';
  @import '../../assets/styles/mixins';
  @import '../../assets/styles/fonts';
  @import '../../assets/styles/app';
  @import '../../assets/styles/_general';

    #agent-toggle{
      img{
        background: $orange;
      }

    }

    #agent-panel{
      display: flex;
      flex-direction: row;
      font-family: "GothamBook",sans-serif;
      font-size: $subtext;
      position: relative;
      height: 81vh;



      .drawer{
        top: 0px;
      }


      .agent-table-panel{
        flex-grow: 3;
        width: 75%;
        font-family: "GothamBook",sans-serif;
        transition: all .3s;
        position: relative;


        th,td{
          height: 6vh;
          line-height: 6vh;
        }
      }
      .agent-details-panel{
        flex-grow: 1;
        width: 25%;
        transition: all .3s ease-in;
        &.closed {
          // TBD
          // display: none;
          flex-grow: 0;
          width: 0;
        }
        &.closed > *{
          display: none;
        }
      }

       .collapse-details-button{
      position: absolute;
      z-index: 100;
      width: 10px;
      height: 80%;
      top: 10%;
      right: -5px;

      div{
        position: absolute;
        z-index: 100;
        width: 30px;
        height: 100px;
        right: -10px;
      }
      img{
        cursor: pointer;
        background: $orange;
        padding: 5px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        position: absolute;
        right: -10px;
        &:hover{
          background: #d48f45;
          color: white;
        }
      }

    }
    }
</style>
