<template>
    <div class="d-flex flex-column book" style="width:100%">
      <bread-crumb-component :showFilterButton="false" :showDropDown="true"
        without-form="none" title="Agents" titleLink="/agents"
        subtitle="Sort agents by" class="bread-div" id="">
        <template slot="sortDropdown">
          <name-filter-dropdown @input="sortParamsChanged" :value="sortParams" title='Surname' :filters="availableSorts" >
          </name-filter-dropdown>
        </template>
      </bread-crumb-component>
      <div id="agent-panel" class="main-scrollable-area">
        <!-- <div v-if="agentsState == 'LOADING' && (!agents || agents.length == 0) && firstLoad" class="full-height row justify-content-center align-items-center">
          <div>Loading</div>
        </div>
        <div v-else-if="agentsState == 'ERROR'" class="full-height d-flex flex-column justify-content-center align-items-center">
          <div>Failed to fetch agents</div>
          <button @click="fetchAgents" class="retry-btn">Retry</button>
        </div> -->
        <div  class="agent-table-panel full-height d-flex flex-row">
          <agent-table></agent-table>
          <filter-pane :currentFilters="agentsFilters" title="Filter agents by" :availableFilters="availableFilters"></filter-pane>

          <!-- <div style="display:none" id="agent-toggle" @mouseover="toggleCollapseButton(true, $event)" @mouseleave="toggleCollapseButton(false, $event)" class="collapse-details-button d-flex align-items-center justify-content-center">
            <img style="display:none" v-on:click="collapseDetailsPanel($event)" src="../../assets/img/right_chevron.png">
          </div> -->
        </div>
        
        <!-- <div class="agent-details-panel">

          <agents-filter-pane></agents-filter-pane>
        </div> -->
      </div>
    </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import AgentTable from '@/components/AgentTable'
import ContactDetails from '@/components/ContactDetails'
import MapDiagram from '@/components/MapDiagram'
import * as constants from '../../utils/Constants.js'
import * as mutationTypes from '../../store/mutation-types.js'
import Utils from '../../utils/Utils.js'
import leftChevron from '../../assets/img/left_chevron.png'
import rightChevron from '../../assets/img/right_chevron.png'
// import Repository from '@/services/Repository'
export default {
    name: 'Agents',
    components: {
      'agent-table': AgentTable,
      'contact-details': ContactDetails,
      'map-diagram': MapDiagram,
    },
    created () {
      this.$store.commit(mutationTypes.INIT_AGENTS)
      // if vuex contains agents dont fetch fresh data
      let hasAgents = this.agents && this.agents.length > 0
      if(!hasAgents){
        this.fetchAgents()
      }
      // this.initRegionsFilter()
      this.$store.dispatch(mutationTypes.CHANGE_CLIENT_SEARCH_PARAMETER, constants.AGENTS)
    },
    beforeDestroy () {
      this.$store.dispatch('CHANGE_CLIENT_SEARCH_PARAMETER', 0)
    },
    computed: {
      ...mapGetters({
        agents: 'agents',
        agentsState: 'agentsState',
        agentsFilters: 'agentsFilters',
        sortParams: 'agentsSortParams',
        regions: 'regions'
      })
    },
    beforeRouteUpdate (to, from, next) {
      // send this to vuex
      this.$store.dispatch('getAgents')
      next()
    },
    data () {
      return {
        loading: true,
        error: false,
        isDetailsPanelOpen: true,
        // filters to use in the filter pane
        availableFilters:  [
       {name: "region_names", displayName: "Region Names"},
      //  {name: "society_ids", type: 'select', options: 'societies', displayName: "Societies"},
       {name: "town_ids", displayName: "Towns", type: 'select', options: "towns"},
      //  {name: "regions", type: 'select', displayName: "Regions"
      //  },
       {displayName: "First Names", name: "FirstName"},
       {displayName: "Surnames", name: "LastName"},
       {displayName: "Phone Numbers", name: "phone_numbers"}
       ],
       availableSorts: [
        //  {name: "Firstname", key: "first_name"},
        //  {name: "Surname", key: "surname"},
         {name: "Created At", key: "created_at"},
         {name: "Updated At", key: "updated_at"},
       ]
      }
    },
    methods: {
      initRegionsFilter () {
        let regionsFilter = this.availableFilters.find(el => el.name == 'regions')
        regionsFilter.options = this.regions.map(el => {
          return {value: el.id, name: el.name}
        })
      },
      sortParamsChanged (params) {
        this.$store.commit('SET_AGENT_SORT_PARAMS', params)
        this.$store.dispatch('getAgents')
      },
      fetchAgents () {
        this.$store.dispatch('getAgents')
      },
      collapseDetailsPanel (event) {
        let $img = window.$(event.target)
        let $this = window.$(this.$el)
        let $detailsPanel = $this.find('.agent-details-panel')
        let $collapseButtonDiv = $this.find('.collapse-details-button')
        if(this.isDetailsPanelOpen){
          // close the panel
          $detailsPanel.addClass('closed')
          $img.attr('src', leftChevron).css('right', '-8px')
          $collapseButtonDiv.css('right', '-4px')
        }else {
          $img.attr('src', rightChevron).css('right', '10px')
          $detailsPanel.removeClass('closed')
          $img.attr('src', rightChevron).css('right', '-10px')
          $collapseButtonDiv.css('right', '-5px')
        }
        this.isDetailsPanelOpen = !this.isDetailsPanelOpen

      },
      // toggleCollapseButton (isHovered, event) {
      //   if(this.isDetailsPanelOpen){return}
      //   let $img = window.$(event.target).find('img')
      //   if(isHovered){
      //     $img.css('visibility', 'visible')
      //   }
      //   else{
      //     $img.css('visibility', 'hidden')
      //   }
      // }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
  @import '../../assets/styles/variables';
  @import '../../assets/styles/mixins';
  @import '../../assets/styles/fonts';
  @import '../../assets/styles/app';
  @import '../../assets/styles/_general';

    #agent-toggle{
      img{
        background: $orange;
      }

    }

    #agent-panel{
      font-family: "GothamBook",sans-serif;
      font-size: $subtext;
      position: relative;
      .drawer{
        top: 0px;
      }


      .agent-table-panel{
        // flex-grow: 3;
        // width: 75%;
        font-family: "GothamBook",sans-serif;
        transition: all .3s;
        position: relative;
        & > div:first-child{
          flex: 7.5;
        }
        & > div:last-child{
          flex: 2.5;
        }
        th,td{
          height: 6vh;
          line-height: 6vh;
        }
      }
      .agent-details-panel{
        flex-grow: 1;
        width: 25%;
        transition: all .3s ease-in;
        &.closed {
          // TBD
          // display: none;
          flex-grow: 0;
          width: 0;
        }
        &.closed > *{
          display: none;
        }
      }

       .collapse-details-button{
      position: absolute;
      z-index: 100;
      width: 10px;
      height: 80%;
      top: 10%;
      right: -5px;

      div{
        position: absolute;
        z-index: 100;
        width: 30px;
        height: 100px;
        right: -10px;
      }
      img{
        cursor: pointer;
        background: $orange;
        padding: 5px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        position: absolute;
        right: -10px;
        &:hover{
          background: #d48f45;
          color: white;
        }
      }

    }
    }
    .main-scrollable-area{
      height: calc(100vh - calc(90px + 6vh));
    }
</style>
