<template>
    <div class="contacts-page d-flex flex-column full-width position-relative" style="flex: 1;">
      <bread-crumb-component :showDropDown="true" :showFilterButton="false"
        without-form="none" title="Contacts" titleLink="/contacts"
        subtitle="Sort contacts by" class="bread-div" id="">
      </bread-crumb-component>
    <div class="main-scrollable-area position-relative d-flex flex-row">
        <contact-table>
       </contact-table>
       <!-- <contact-details></contact-details> -->
       <filter-pane :currentFilters="contactsFilters" title="Filter contacts by" :availableFilters="availableFilters"></filter-pane>
       <!-- <sliding-panel>
       </sliding-panel> -->
    </div>
    <!-- needed static -->
    <div class="overlay display"></div>
    <slider-comp id="editContact" name="- CLEMENT AMPONG" title="EDIT ACCOUNT" display="none"></slider-comp>
  </div>
</template>

<script>
// import ContactTable from '@/components/ContactTable'
// import ContactDetails from '@/components/ContactDetails'
import BreadCrumbComponent from '@/components/BreadCrumbComponent'
import SliderComp from '@/components/SliderComp'
//import Repository from '@/services/Repository'
import ContactTable from '../../components/ContactTable.vue'
import ContactDetails from '../../components/ContactDetails.vue'
import contactsRepo from '../../repo/contactsRepo.js'

import leftChevron from '../../assets/img/left_chevron.png'
import rightChevron from '../../assets/img/right_chevron.png'
import { mapGetters, mapActions } from 'vuex'
import Utils from '../../utils/Utils.js'
import * as constants from '../../utils/Constants.js'
import * as mutationTypes from '../../store/mutation-types.js'
import farmersChannel from '@/channels/farmersChannel'
export default {
  name: 'Contacts',
  components: {
    'contact-table': ContactTable,
    'contact-details': ContactDetails,
    'bread-crumb-component': BreadCrumbComponent,
    'slider-comp': SliderComp
  },
  beforeRouteUpdate (to, from, next) {
    let query = Utils.cloneObject(to.query)
    this.$store.dispatch('getContacts', query)
    .then(() => {
    })
    next()
  },
  created () {
    // this.$store.dispatch('getContacts')
    let hasContacts = this.contacts && this.contacts.length > 0
    if(!hasContacts){
      this.fetchInitialData(this.$store)
    }
    
  },
  mounted () { 
    farmersChannel.subscribe(this.onWsFarmerReceived)
  },
  data () {
    return {
      loading: true, 
      error: false,
      isDetailsPanelOpen: true,
      availableFilters:  [
       {displayName: "Farmer ID", name: "farmer_codes"},
       {name: "region_names", displayName: "Regions"},
      //  {name: "region_", displayName: "Regions"},
       {name: "society_ids", displayName: "Societies", type: 'select', options: 'societies'},
       {displayName: "First Names", name: "FirstName"},
       {displayName: "Surnames", name: "LastName"},
       {displayName: "Nicknames", name: "OtherName"},
      //  {displayName: "Society", name: "societies"},
       {displayName: "Registration Status", name: "status",
          type: "select",
          options: [{value: "approved", name: "Approved"},
          {value: "rejected", name: "Rejected"},
          {value: "unapproved", name: "Pending Approval"}
        ]
       }
      ]
    }
  },
  destroyed(){
  },
  beforeDestroy() {
    farmersChannel.unsubscribe(this.onWsFarmerReceived)
  },
  computed: {
    ...mapGetters({
      contacts: 'contacts',
      contactsFilters: 'contactsFilters'
    })
  },
  methods: {
    onWsFarmerReceived (data) {

      // {farmer_id: 2808, farmer_name: "calbe Kwaku malcon",
      //  agent_id: 641, agent_name: "Edwin Nyawoli"}
      this.$notify.info('New farmer created')
      this.$store.dispatch('getContacts')
    },
    fetchInitialData (store, route) {
      return store.dispatch('getContacts')
    },
    collapseDetailsPanel (event) {
      let $img = window.$(event.target)
      let $this = window.$(this.$el)
      let $detailsPanel = $this.find('.contact-details-panel')
      let $collapseButtonDiv = $this.find('.collapse-details-button')
      if(this.isDetailsPanelOpen){
        // close the panel
        $detailsPanel.addClass('closed')
        $img.attr('src', leftChevron).css('right', '10px')
        $collapseButtonDiv.css('right', '-4px')
      }else {
        $detailsPanel.removeClass('closed')
        $img.attr('src', rightChevron).css('right', '-10px')
        $collapseButtonDiv.css('right', '-5px')
      }
      this.isDetailsPanelOpen = !this.isDetailsPanelOpen

    },
    toggleCollapseButton (isHovered, event) {
      if(this.isDetailsPanelOpen){return}
      let $img = window.$(event.target).find('img')
      if(isHovered){
        $img.css('visibility', 'visible')
      }
      else{
        $img.css('visibility', 'hidden')
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style  lang="scss">
  @import '../../assets/styles/variables';
  @import '../../assets/styles/mixins';


  .contacts-page{
    font-family: "GothamBook",sans-serif;
    font-size: 10px;
    .main-scrollable-area{
      & > div:first-child{
        flex: 7.5;
      }
      & > div:nth-child(2){
        flex: 2.5;
      }
      
    }
  }

  .contact{

      //------------------------------TABLE SWITCHING HEADERS--------------------
      .modal{
          .modal-body{
              select{
                  margin: 20px 5%;
                  width: 90%;
                  border: 1px solid #e4e4e4;
                  box-shadow: none;
              }
          }
      }
  }

</style>
