<template>
  <div class="d-flex flex-column full-width position-relative" style="flex: 1;">
      <bread-crumb-component :showFullScreen="true" :showRightPanel="false" :showSecondBread="true" :showTransFilter="false" :showDropDown="false" :showFilterButton="false"
        without-form="none" :title="$t('dashboard.dashboards')" titleLink="/dashboard"
        :subtitle="subtitle" class="bread-div" id="">
      </bread-crumb-component>
         <!-- <left-panel> -->
            <div class="d-flex flex-row dash-all">
                <dash-filter></dash-filter>
                <!-- <button @click="viewAgentDetails">bjajg</button> -->
                <div style="padding: 5px 32px;width: 80%" class="dash-main main-scrollable-area position-relative">
                <div class="row full-height">
                        <div class="full-height no-padding dash-side-col">
                            <dash-side></dash-side>
                        </div>
                        <div style="height: calc(100vh - calc(102px + 6vh));" v-if="dashType == 'a'" class="full-height no-padding dash-main-col">
                            <dash-map :networkAgents="networkAgents" id="hey"></dash-map>
                        </div>
                        <div style="height: calc(100vh - calc(102px + 6vh));" v-else-if="dashType == 'b'" class="full-height no-padding dash-main-col">
                            <trans-map></trans-map>
                            <!-- <dash-map :networkAgents="fieldAgents"></dash-map>  -->
                        </div>
                    </div>
                </div>
            </div>
        <!-- </left-panel> -->
        <dash-slider id="agent-detail-slider"></dash-slider>

        <!-- <left-panel>
            <dash-filter slot="pane-one"></dash-filter>
            <div style="padding: 5px 32px;width: 80%" class="dash-main main-scrollable-area position-relative">
                <div class="row full-height">
                    <div class="col-3 full-height no-padding">
                        <dash-side></dash-side>
                    </div>
                    <div style="height: calc(100vh - calc(102px + 6vh));" v-if="dashType == 'a'" class="col-9 full-height no-padding">
                        <dash-map id="hey"></dash-map>
                    </div>
                    <div style="height: calc(100vh - calc(102px + 6vh));" v-else-if="dashType == 'b'" class="col-9 full-height no-padding">
                        <trans-map></trans-map>
                    </div>
                </div>
            </div>
        </left-panel> -->

    <!-- <two-pane-container :collapsible="true" style="flex: 1;">
    <customer-info slot="pane-one"></customer-info>
    <tabbed-view-contacts slot="pane-two"></tabbed-view-contacts>
  </two-pane-container> -->

  </div>
</template>

<script>
    import Noty from 'noty';
    import * as events from '@/utils/constants/events'
    //import * as deepstream from 'deepstream.io-client-js';
    var faker = require('faker');
    //import Fullscreen from "vue-fullscreen/src/component.vue"
    // import fullscreen from 'vue-fullscreen'
    // import Vue from 'vue'
    // Vue.use(fullscreen)
    export default {
        name: "Dashboard",
        //components: {Fullscreen},
        methods: {
            toggle () {
                //this.$refs['fullscreen'].toggle()
                // this.$refs['fullscreen'].background("#ffffff")
                // this.fullscreen = !this.fullscreen
            },
            viewAgentDetails(){
                this.$bus.$emit(events.SHOW_OVERLAY, true)
                window.$('#agent-detail-slider').addClass('open');
                this.$bus.$once(events.CLOSING_OVERLAY, function () {
                    window.$('#agent-detail-slider.slider').removeClass('open');
                })
            },
            addNewTransaction (agent) {
              let agents = this.networkAgents
              let existingAgent = agents.find(el => el.id == agent.id)
              if(existingAgent){
                existingAgent.transactions.push(agent.transactions[0])
              }else{
                agents.push(agent)
              }
              new Noty({text: `New transaction from ${agent.firstName}`,type: 'info', timeout: 3000}).show()
              this.$bus.$emit('NEW_TRANSACTION_RECIEVED', agent)
            }
        },
        // temp methods to fake agents and their transactions
        data() {
            return {
                fullscreen: false,
                dashType: 'a',
                networkAgents: [],
                fieldAgents: [],
                subtitle: this.$t('dashboard.agentNetworkDashboard'),
                ds: null
            }
        },
        mounted(){
            let that = this
            this.$bus.$on("isSelect", function(msg){
                that.dashType = msg;
                if(msg=='a'){
                    that.subtitle = "Agent Network Dashboard"
                }else{
                    that.subtitle = "Field Transactions"
                }
                console.error(this.dashType)
            })
            this.$bus.$on("isPanelOpening", function(msg){

            })

        },
        created: function(){
          let that = this
          for(let i = 0; i < 2; i ++){
               let agent = {
                   transactions: [],
                   id: this.$faker().random.uuid(),
                   title: this.$faker().company.companyName(),
                   //boxes: boxes,
                   isMe: this.$faker().random.boolean(),
                   primaryColor: this.$faker().internet.color(),
                   secondaryColor: this.$faker().internet.color(),
                   picture: faker.image.avatar(),
                   firstName: this.$faker().name.firstName(),
                   lastName: this.$faker().name.lastName(),
                   type: this.$faker().random.boolean() ? "FT" : "FSO",
                   status: this.$faker().random.boolean() ? "Active" : "Inactive",
                   branch: this.$faker().random.boolean() ? "Haatso" : "Adenta",
                   phoneNumber: this.$faker().phone.phoneNumber(),
                   price :  faker.random.number().toLocaleString('ja-JP', { style: 'currency', currency: 'GHc'})
               }
               for(let j = 0; j < 3; j++){
                 var long = Math.floor(Math.random() * -4) + 1.2278596;
                 var lat = Math.floor(Math.random() * 5.7) + 5.6269246;
                 agent.transactions.push({longitude: long, latitude: lat})
               }
               if(i < 10){
                   this.networkAgents.push(agent)
               }else {
                   agent.secondaryColor= "transparent";
                   this.fieldAgents.push(agent)
               }
           }
          // this.ds = deepstream('0.0.0.0:6020/deepstream')
        //   this.ds = deepstream('198.72.116.101:6020')
        //     .login()
        //     this.ds.event.subscribe( 'agent-transaction', function( eventData ){
        //         that.addNewTransaction(eventData)
        //     })
        },
        beforeDestroy () {
          //this.ds.event.unsubscribe( 'agent-transaction')
        }
    }
</script>

<style lang="scss" scoped>
    .col-3{
        //border-right: 1px solid lightgray;
        height: 100%;
        //padding-left: 20px;
    }
    .dash-side-col{
        flex: 23%;
        @media screen and (min-width: 1440px){
           // width: 10%;
            flex: 20%;
            height: 100%;
        }
    }
    .dash-main-col{
        flex: 77%;
        @media screen and (min-width: 1440px){
            //width: 80%;
            flex: 80%;
            height: 100%;
        }
    }
    .dash-main{
        transition: flex-basis 0.1s linear;
    }
    .fullscreen{
        background: white !important;

        .main-scrollable-area{
            height: 100%;

            .dash-side-col{
                .side-1{
                    height: 50%;

                    .status-panel{
                        height: 7vh;
                    }
                }

                .side-2{
                    height: 48%;
                }
            }

        }

        .dash-map{
            height: 98vh;
        }
    }

    @keyframes slideInLeft {
        0% {
            -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
            visibility: visible;
        }
        100% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
    }

    @keyframes slideInRight {
        0% {
            -webkit-transform: translateX(100%);
            transform: translateX(100%);
            visibility: visible;
        }
        100% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
    }

    .sliderLeft{
        animation: slideInLeft 0.2s ease-in forwards;
    }
    .sliderRight{
        animation: slideInRight 0.2s ease-in forwards;
    }

</style>
