<template>
    <div class="d-flex flex-column full-width position-relative border" style="flex: 1;" >
        
    <div class="d-flex flex-column book" style="width:100%;overflow:auto">
      <bread-crumb-component :showFilterButton="false" :showDropDown="false"
        without-form="none" title="Help" titleLink="/help"
        subtitle="" class="bread-div" id="">
      </bread-crumb-component>
      <div id="agent-panel" class="main-scrollable-area px-5 py-3"> 
        <!-- <div v-for="farm in contddact.farms"> -->
            <help-comp></help-comp>
        <!-- </div>        -->

      </div>
    </div>
    </div>
</template>

<script>
import HelpComp from '../../components/HelpComp.vue';
export default {
    name: "Help",
    components: {
        'help-comp':HelpComp
    },
    data () {
        return {
            
        }
    }
  
}
</script>

