<template>
    <div class="d-flex flex-column book" style="width:100%">
      <bread-crumb-component :showFilterButton="false" :showDropDown="false"
        without-form="none" title="Post Transaction" titleLink="/post-transactions"
        subtitle="" class="bread-div" id="">
      </bread-crumb-component>
      <div id="agent-panel" class="main-scrollable-area px-5 py-3">
        <div class="row mx-5 my-3">
            <div class="col-8"> 
                <div class="row">
                    <div class="col">
                        <div class="form-group black-text">
                        <label for="town">Type of Posting</label>
                        <select style="width:100%" v-model="postingType">
                      
                            <option v-for="option in posting" v-bind:value="option.value">
                                {{option.text}} 
                            </option>
                        </select>
                    </div>
                    </div>
                    <div class="col">
                        <div v-if="postingType == 'A'" class="form-group black-text">
                            <label for="post-code">Transaction Type</label>
                            <select style="width:100%" v-model="singleType">
                                <option v-for="option  in singleTypes" :disabled="option.disabled" v-bind:value="option.value">
                                    {{option.text}}
                                </option>
                            </select>
                        </div>
                        <div v-else class="form-group black-text">
                            <label for="post-code">Transaction Type</label>
                            <select style="width:100%" v-model="batchType">
                                <option v-for="option in batchTypes" v-bind:value="option.value">
                                    {{option.text}}
                                </option>
                            </select>
                            
                        </div>
                    </div>
                </div>
                <div v-if="postingType=='A'" class="row">
                    <div class="col">
                        <div class="form-group black-text">
                        <label for="town">Enter Receipient Phone Number</label>
                         <v-select  
                          :getOptionLabel="getFilteredPersonLabel"
                          :clearInputOnSelect="false"
                          :clearSearchOnBlur="false"
                          :allowOtherValues="true"
                          :taggable = false
                          v-on:input="recepientChosen" :orange="false" 
                          v-on:search="searchRecepientPhone" v-model="PhoneNumber" 
                          :options="filteredPeopleNumbers">
                          <template slot="option" slot-scope="slotProps">
                            <div>
                            <div class="d-flex justify-content-between"><div>{{slotProps.option.phone}}</div>
                              <div>{{slotProps.option.type | userType}}</div>
                            </div>
                            <div style="color: #555; font-size: 10px;">{{slotProps.option.name}}</div>                            
                            </div>
                          </template>
                        </v-select>
                        <!-- <input  v-model="PhoneNumber" id="post-code" type="text" class="form-control"> -->
                    </div>
                    </div>
                    <div class="col">
                        <div class="form-group black-text">
                            <label for="post-code">Select a Provider</label>
                            <select style="width:100%" v-model="ProviderType">
                                <option v-for="option in Providers" v-bind:value="option">
                                    {{option}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div v-if="postingType=='A'" class="form-group black-text">
                            <label for="town">Enter Amount</label>
                            <input v-model="Amount" id="post-code" type="number" class="form-control">
                        </div>
                        <div v-else class="form-group black-text" >
                            <!-- <label>File
                                <input type="file" id="file" ref="file" v-on:change="handleFileUpload()"/>
                            </label> -->
                            <label for="town">File</label>
                            <div class="d-flex flex-column justify-content-center border" id="batch-file">
                                <input id="post-code" ref="file" type="file" class="form-control upload" v-on:change="handleFileUpload()">
                            </div>
                            <div class="d-flex justify-content-end">
                                <a style="font-size: 10px;" class="text-right" href="/static/Batch_file_format.csv" download>Download Sample File</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group black-text">
                            <label for="post-code">Date & Time to Process Transaction</label>
                            <div class="d-flex flex-row justify-content-between">
                                <date-picker v-model="DateType" style="width:48%" id="date-picker"></date-picker>
                                <!-- <input v-model="DateType" style="width:48%" id="post-code" type="text" class="form-control"> -->
                                <input v-model="Time" style="width:48%" id="post-code" type="text" class="form-control">  
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div v-if="postingType=='A'" class="row">
                    <div class="col">
                        <div class="form-group black-text">
                            <label for="town">Enter Receipient Name</label>
                            <!-- <v-select :clearSearchOnSelect="false" v-on:itemChosen="recepientChosen" :orange="false" :onChange="searchRecepient" v-model="Receipient" :options="filteredPeopleNames"></v-select> -->
                            <input  v-model="Receipient" id="post-code" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group black-text">
                            <label for="post-code">Enter Voucher Number</label>
                            <input v-model="Voucher" id="post-code" type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div  class="form-group black-text">
                            <label for="town">Remarks</label>
                            <textarea v-model="Remarks" style="height: auto" class="form-control" name="" id="" cols="30" rows="5"></textarea>
                        </div>
                    </div>
                </div>
                <button :disabled="isPostingTransaction" v-if="postingType=='A'" @click="postSingle" type="button" id="post-transaction" class="btn btn-primary">
                    <img :class="[{show: isPostingTransaction}, 'loading-img']" src="@/assets/img/spinner.svg">
                    Post Transaction
                </button>
                <button :disabled="isPostingTransaction" v-else @click="postBatch()" type="button" id="post-transaction" class="btn btn-primary">
                    <img :class="[{show: isPostingTransaction}, 'loading-img']" src="@/assets/img/spinner.svg">
                    Post Transaction
                    </button>
            </div>
            <div class="col-4">
                <div class="full-height d-flex flex-column justify-content-center align-items-center" v-if="personSidePanelState == 'LOADING'">
                    <img style="height: 40px;" src="@/assets/img/rolling_anim.svg">
                </div>
                <div v-else-if="personSidePanelState == 'HIDE' ">
                    
                </div>
                <div v-else id="phone" class="d-flex flex-column justify-content-center align-items-center">
                    <div class="container">
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <img v-if="currentReceipient.image" :src="picture" class="rounded-circle" alt="">
                            <img style="margin-bottom: 10px;" v-else src="@/assets/img/woman.svg" class="rounded-circle" alt="">
                            <h5 class="font-weight-bold mb-0">{{currentReceipient.name}}</h5>
                        </div>
                        <div class="dropdown-divider"></div>
                        <div class="pl-3">
                            <h6 class="font-weight-bold text-secondary">Phone Number</h6>
                            <p><template v-if="currentReceipient.phone">{{currentReceipient.phone}}</template></p>
                        </div>
                        <div class="dropdown-divider"></div>
                        <div class="pl-3">
                            <h6 class="font-weight-bold text-secondary">Contact Type</h6>
                            <p>
                              <template v-if="currentReceipient">
                               <template v-if="currentReceipient.type == 'agent'">Agent</template>
                              <template v-if="currentReceipient.type == 'backofficer'">District Manager</template>
                              <template v-if="currentReceipient.type == 'contact'">Farmer</template>
                              </template>
                            </p>
                        </div>
                        <div class="dropdown-divider"></div>
                        <div class="pl-3">
                            <h6 class="font-weight-bold text-secondary">Contact Information</h6>
                            <p>
                              <template v-if="currentReceipient">{{currentReceipient.phone}}</template>
                            </p>
                        </div>
                        <div class="dropdown-divider"></div>
                    </div>
                </div>
                
            </div>
        </div>
        
      </div>
    </div>
</template>

<script>
var faker = require('faker')
import axios from 'axios'
import { mapGetters, mapActions } from 'vuex'
import Noty from 'noty'
import aws from 'aws-sdk'
import Datepicker from 'vuejs-datepicker';
import * as constants from '@/utils/Constants.js'
import Utils from '@/utils/Utils'
import store from '@/store/index'
import { CURRENT_URL } from '../../utils/Constants';
import { ConfigurationOptions } from 'aws-sdk/lib/config';

// import Repository from '@/services/Repository'
export default {
    name: 'PostTransaction',
    components: {
       'date-picker': Datepicker
    },
    created () {
     
    },
    beforeDestroy () {
      this.$store.dispatch('CHANGE_CLIENT_SEARCH_PARAMETER', 0)
    },
    computed: {
      ...mapGetters({
        agents: 'agents',
        agentsState: 'agentsState',
        agentsFilters: 'agentsFilters',
        token: 'token'
      }),
      filteredPeopleNames () {
        return this.filteredPeople.map(el => el.name).slice(0,6)
      },
      filteredPeopleNumbers () {
        return this.filteredPeople.filter(el => el.phone).slice(0,6)
      }
    },
    data () {
        return {
            currentReceipient: null,
            filteredPeople: [],
            isPostingTransaction: false,
            personSidePanelState: "HIDE",
            searchingPeople: false,
            chosenPerson: null,
            picture: faker.image.avatar(),
            name: faker.name.findName(),
            phone: faker.phone.phoneNumberFormat(),
            postingType: 'A',
            posting:[
                { text: 'Single', value: 'A' },
                { text: 'Batch', value: 'B' },
            ],
            singleType: 'cashOut',
            singleTypes:[
                { text: 'Deposit to Mobile Wallet', value: 'cashOut',disabled:false },
                // { text: 'Deposit to Mobile Wallet (token)', value: 'cashIn' },
                { text: 'Withdraw from Mobile Wallet', value: 'cashIn', disabled: true },
                // { text: 'Airtime', value: 'D' },
                // { text: 'BillPay', value: 'E' }
            ],
            batchType: 'cashout',
            batchTypes:[
                {text:'Payout',value:'cashout'}
            ],
            PhoneNumber: "",
            ProviderType: 'Mtn',
            Providers: [
              'Mtn', 'Vodafone', 'AirtelTigo'
            ],
            Amount: "",
            DateType:null,
            Time:null,
            Receipient:'',
            Voucher:'',
            Remarks:'',
            ContactType:'',
            ContactInfo:'',
            accessToken:'',
            file: '',
            checkForData: ''
        }
    },
    methods: {
      getFilteredPersonLabel (option) { 
        if(typeof option === 'object'){
           return option.phone 
        }else{
           return option
        } 
      },
      recepientChosen (option) {
        console.info('yen', Utils.cloneObject(option))
        if(option){
          if(typeof option === 'object'){
            let name = option.name
            this.currentReceipient = this.filteredPeople.find(person => person.name == name || person.phone == name)
            this.personSidePanelState = "SHOW"
            this.Receipient = this.currentReceipient.name
          }else{
            this.currentReceipient = null
            this.PhoneNumber = option 
            this.Receipient = null
          } 
        }else{
          console.info('ney')
          this.currentReceipient = null
          this.personSidePanelState = "HIDE"
          this.Receipient = ""
        }
      },
      generateFakeAgent () {
          this.searchingForAgentState = "LOADED"
          this.Receipient  =  this.name
      },
      searchRecepientPhone (value) {
        console.info("searching", value)
        this.searchingPeople = true
        this.Receipient = ""
        this.personSidePanelState = "LOADING"
        if(!value || value.length == 0){
          return
        }
        let params = {name: this.Receipient, phone: value}
        let url = `${constants.CURRENT_URL}search_people`
        axios.get(url, {params: params}).then(data => this.filteredPeople = data.people)
        .catch(()=> {})
        .finally(()=> {
          this.searchingPeople = false
          setTimeout(()=>{
            if(!this.searchingPeople){
              this.personSidePanelState = 'HIDE'
            }
          }, 1000)
          
        })
      },
      postSingle(){
        let that = this
        if(this.isPostingTransaction == true){
            return
        }
        this.isPostingTransaction = true
        var senm = parseInt(this.Amount)  
        // let admin = {
        //     sender_amount: ,
        //     sender_currency: "GHs",
        //     recipient_amount: this.Amount,
        //     recipient_currency: "Ghs",
        //     recipient_no: this.PhoneNumber,
        //     provider: this.Provider,
        //     recipient_name: this.Receipient,
        //     country_code: "GH",
        //     service_code: this.singleType,
        //     live: "false",
        //     integration_type: "FLOPAY_WEB" 
            
        // }

        let url = `${constants.CURRENT_URL}users/post_transaction` 
        let params = {
          id: this.currentReceipient ? this.currentReceipient.id : null,
          phone: this.PhoneNumber,
          type: this.currentReceipient ? this.currentReceipient.type || "backofficer" : "backofficer",
          amount: this.Amount,
          provider: this.ProviderType,
          currency: "GHS",
          live: false,
          name: this.Receipient
        }
        if(this.DateType){
          params.process_date = this.DateType
        }
      

        // let flopay = 'https://api.flopay.io/v1/login'
        // let branchURL = 'https://api.flopay.io/v1'

        // let client = {
        //     client_id: "fd59701b629954a0bbcda44a426798cde461097cd4a7b9b9a2e29781ca34a27e",
        //     client_secret:  "8afd077b1001ba53c0675dd01f78fe3e254038ef1641c0d0dd04156f198cee6d",
        //     grant_type: "client_credentials"
        // }
            
 
        let access_token = store.getters.token
  
        axios.post(url, params).then((response) => {
          that.isPostingTransaction = false 
          that.$notify.success("Funds Successfully Allocated")
          Object.assign(that.$data, that.$options.data.apply(that))
            
        },error => {
          error = error.error || "Unsuccessful funds Allocation. Please try again"
          that.$notify.error(error)
          this.isPostingTransaction = false
        });
      },
      handleFileUpload(){
        this.file = this.$refs.file.files[0]
        
      },
      postBatch(){
        let formData = new FormData();
        formData.append('file', this.file);
        let that = this
        if(this.isPostingTransaction == true){
            return
        }
        this.isPostingTransaction = true
        const _this = this;
        var BucketName = 'flopay-batch-transactions';
        var accessKeyId = "AKIAIGIHDJ42ENYPW7UQ";
        var SecretAccessKey = "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";
        let flopay = 'https://api.flopay.io/v1/login'
        let branchURL = 'https://api.flopay.io/v1'
        let access_token = store.getters.token

        let client = {
            client_id: "fd59701b629954a0bbcda44a426798cde461097cd4a7b9b9a2e29781ca34a27e",
            client_secret:  "8afd077b1001ba53c0675dd01f78fe3e254038ef1641c0d0dd04156f198cee6d",
            grant_type: "client_credentials"
        }
        
        var fileName = this.file; 
        console.log("File:"+this.file)
        aws.config.update({
            region: 'us-east-2', 
            accessKeyId : accessKeyId,
            secretAccessKey : SecretAccessKey,
        });

        var s3 = new AWS.S3({apiVersion: '2006-03-01',params: {Bucket: BucketName}});
        
        // var file = Ember.$('#file-type').val();           
        // var fileKey = fileName;
        var albumFileKey = encodeURIComponent("flopay-file-batch") + '//';
        var fileKey = albumFileKey + fileName.name;
        var params = {Bucket: BucketName, Key: fileKey, Body: this.file};
        console.log("Params",params);
        s3.upload(params, function(err, data) {
            
            let admin = {
                upload_details: data,
                service_code: "cashout",
                is_sub_user: false,
                test: false,
                live : false,
                dummy: true 
                
            }
            
            let access_token = store.getters.token
    
            //let uri = 'https://api.flopay.io/v1/transfer.json?access_token=bf570c6bc8610b96c32d3d3202cf56c410e21b17826bac44628e5ec568155ca1';
            axios.post(`${CURRENT_URL}/transactions/batch`, admin).then((response) => {
                that.isPostingTransaction = false
                that.$notify.success("Transaction Posted")
                
            },error=>{
                that.$notify.error("Unsuccessful Transaction Posting. Please try again")
                that.isPostingTransaction = false
            });
            
        });
        
    

        // axios.post( '/single-file',
        //     formData,
        //     {
        //         headers: {
        //             'Content-Type': 'multipart/form-data'
        //         }
        //     }
        // ).then(function(){
        //     console.log('SUCCESS!!');
        // })
        // .catch(function(){
        //     console.log('FAILURE!!');
        // });
          var senm = parseInt(this.Amount)  
        
            
        
        
      }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
  @import '../../assets/styles/_variables';
  @import '../../assets/styles/mixins';
    .form-group{
        font-size: 12px;
        label{
            
        }
        transition: all 0.5s ease-in;
    }
    div.vdp-datepicker{
        width: 48%;
        
    }
    #date-picker{
            width: 100%;
            padding-left: 10px;
        }
    #post-transaction{
        font-family: "GothamRoundedBook";
        color: rgb(255, 255, 255);
        font-size: 13px;
        background: rgb(255, 168, 0);
        width: 20%;
        line-height: 25px;
        border: 2px;
        border-radius: 4px;
        outline: 0px;
    }
    #phone{
        border:1px dashed #dee2e6;
        height: 60vh;
        width: 80%;
        margin-left: 15%;
        border-radius: 4px;
        img{
            width: 130px;
        }
        h6,h5{
            font-size: 10px;
            margin-bottom: 1px;
            font-family: 'GothamMedium',sans-serif;
        }

        p,h5{
            font-size: 12px;
        }
        
    }
    #batch-file{
        height: 30px;
        padding-left: 5px;
        input {
            width: 100%;
            height: 21px!important;
            border: none;
            padding: 0;
            margin: 0;
            font-size: 12px;
            outline: 0;
            line-height: 25px;
            border-radius: 12px;
            font-weight: 500;
            color: $orange;
            width: 100%;
            background: #fff;
            display: block;
            cursor: pointer;
            -webkit-appearance: unset !important;
            padding-left: 20px;
        }
        
        .upload::before {
            content: 'CHOOSE FILE';
            font-size: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #f2f2f2;
            border-radius: inherit;
            width: 25%;
            margin-left: -20px;
            height: inherit;
            cursor: pointer;
        }
        .upload::after{
            content: ""
        }
        .upload::-webkit-file-upload-button {
            visibility: hidden;
        }
    }

    
    
</style>
