<template>
    <div class="d-flex flex-column full-width position-relative" style="flex: 1;">
      <!-- <bread-crumb-component :showDropDown="false" :showFilterButton="true"
        without-form="none" title="Transactions" titleLink="/transactions"
        subtitle="Field Transactions" class="bread-div" id="">
      </bread-crumb-component>
      <div class="main-scrollable-area position-relative">
        <div class="row">
            <div class="col-9">
                <batch-transactions></batch-transactions>
            </div>
            <div class="col-3">
               
            </div>
        </div>
      </div> -->
      <!-- <div class="dashboard-info m-5 p-2 border d-flex flex-column">
        <div class="d-flex flex-row">
          <img class="rounded-circle" src="../../assets/img/img.jpg" alt="">
          <div class="d-flex flex-column pl-2">
              <p class="no-padding no-margin">Malisa <br>
              <strong>Addo</strong></p>
              <p class="no-padding no-margin">FT</p>
              <p class="no-padding no-margin">Haatso Branch</p>
          </div>
        </div>  
        <div class="dropdown-divider"></div>
        <div style="height: 30px" class="d-flex justify-content-between">
          <div class="d-flex flex-row">
            <div class="agent-status rounded-circle bg-primary"></div>
            <p class="pl-2 bold">Active</p>
          </div>
          <p>233 (0)208 012 893</p>
        </div>
      </div> -->
      <!-- <dash-map></dash-map> -->
      <div class="p-1">
        <!-- <div class="marker"></div>
        <div class="marker"></div> -->
        <!-- <date-form></date-form>
        <image-form></image-form>
        <multi-select title="Hola"></multi-select> -->
        <!-- <h5>REGULAR USERS</h5>
        <ul>
          <li v-for="user in todos">
            {{user.name}} {{user.location}}
          </li>
        </ul>
        <h5>FULL NAME</h5>
        <ul>
          <li v-for="user in fullNamedTodos">{{user}}</li>
        </ul>

        <input type="text" v-model="newUser.name">
        <input type="text" v-model="newUser.location">
        <button class="btn primary-btn" @click="addTodo(newUser)">Add User</button> -->
        <div>
          <address class="text-center">
            Devtraco Courts <br>
            town <br>
            city <br>
          </address>
        </div>
      </div>
      
    </div>
</template>




<script>


import MapDiagram from '@/components/MapDiagram'
import Tooltip from '@/components/Tooltip'
import leftChevron from '../../assets/img/left_chevron.png'
import rightChevron from '../../assets/img/right_chevron.png'
import { mapGetters, mapActions } from 'vuex'
import Utils from '../../utils/Utils.js'
import * as constants from '../../utils/Constants.js'
import * as mutationTypes from '../../store/mutation-types.js'
import * as events from '@/utils/constants/events'

export default {
  name: 'Show',
  data(){
    return{
      rawHtml: 'hola',
      options: [],
      name: '',
      location: '',
      newUser: {}
    }
  },
  components: {
    'map-diagram': MapDiagram,
    'tool-tip': Tooltip,
  },
  methods: {
    ViewSlider(){
      this.$bus.$emit(events.SHOW_OVERLAY, true)
      window.$('#agent-slider-settings').addClass('open');
      this.$bus.$once(events.CLOSING_OVERLAY, function () {
          window.$('#agent-slider-settings.slider').removeClass('open');
      })
    },
    // addTodo (e) {
    //   e.target.value = ''
    //   this.$store.dispatch('addTodo')
    //   // this.$store.dispatch('clearNewTodo')
    // },
    ...mapActions(['addTodo'])
  },
  mounted(){
    window.$('expand-button').click(function(){
      if(window.$("#info-box").hasClass('on')){
          window.$("#info-box").toggleClass('off','on')
      }
      else if(window.$("#info-box").hasClass('off')){
          window.$("#info-box").toggleClass('on','off') 
      }
    })
    window.$('.marker').addClass('pulse')
  },
  created:function(){
      //this.$store.dispatch('loadTodos')
      for(var i =0;i<4;i++){
        var option= this.$faker().name.firstName()
        this.options.push(option)
      }
      // for (var i = 0; i < 5; i++){
      //     var long = Math.floor(Math.random() * -1) + -0.2278596;
      //     var lat = Math.floor(Math.random() * 5.7) + 5.6269246;
      //     var boxes= [];


      //     for (var y = 0; y < 5; y++){
      //         var box={
      //             firstName: this.$faker().name.firstName(),
      //             lastName: this.$faker().name.lastName(),
      //             image: this.$faker().image.avatar(),
      //             branch: this.$faker().address.state(),
      //             num: this.$faker().random.number(),
      //             deposit: this.$faker().finance.amount(),
      //             avatar: this.$faker().internet.avatar()
      //         }
      //         boxes.push(box)
      //     }

      //     var user={
      //         longitude: long,
      //         latitude: lat,
      //         title: this.$faker().company.companyName(),
      //         boxes: boxes,
      //         isMe: this.$faker().random.boolean(),
      //         primaryColor: this.$faker().internet.color(),
      //         secondaryColor: this.$faker().internet.color(),
      //         picture: faker.image.avatar(),
      //         firstName: this.$faker().name.firstName(),
      //         lastName: this.$faker().name.lastName(),
      //         type: this.$faker().random.boolean() ? "FT" : "FSO",
      //         status: this.$faker().random.boolean() ? "Active" : "Inactive",
      //         branch: this.$faker().random.boolean() ? "Haatso" : "Adenta",
      //         phoneNumber: this.$faker().phone.phoneNumber(),
      //         price :  faker.random.number().toLocaleString('ja-JP', { style: 'currency', currency: 'GHc'}),
      //         label: this.$faker().random.number(13,20)
      //         // firstName: this.$faker().name.firstName(),
      //         // lastName: this.$faker().name.lastName(),
      //         // image: this.$faker().image.avatar(),
      //         // branch: this.$faker().address.state(),
      //         // num: this.$faker().random.number(),
      //         // deposit: this.$faker().finance.amount(),
      //         // avatar: this.$faker().internet.avatar()
      //     };

      //     this.markerCoordinates.push(user);
      //     //console.log("USERS:", this.markerCoordinates);
      // }

  },
  computed: {
    users(){
      return this.$store.state.show.users
    },
    ...mapGetters(['todos','newTodo','fullNamedTodos']),
  }
}
</script>

<style lang="scss" scoped>
  .dashboard-info{
    width: 300px;
    height: auto;
    font-size: 12px;

    img{
      width: 80px;
      height: 80px;
    }

    .agent-status{
      width: 20px;
      height: 20px;
    }
  }
</style>

