 <template>
    <div class="d-flex flex-column full-width position-relative" style="flex: 1;">
      <bread-crumb-component :showTransFilter="false" :showDropDown="false" :showFilterButton="false"
        without-form="none" title="Field Transactions" titleLink="/transactions" :showRightPanel="false" :showSecondBread="false"
        subtitle="Field Transactions" class="bread-div" id="">
      </bread-crumb-component>
    <div class="main-scrollable-area position-relative">
        <!-- <div class="row">
            <div class="col-9">
                <field-transactions></field-transactions>
            </div>
            <div class="col-3">
                <transaction-details></transaction-details>
            </div> -->
        <field-transactions></field-transactions>    
       <sliding-panel>
          <transaction-details></transaction-details>
       </sliding-panel>
        <!-- </div> -->
       
       <!-- <sliding-panel>
         <contact-details></contact-details>
       </sliding-panel> -->
    </div>
    
    
  </div>
</template>

<script>
// import ContactTable from '@/components/ContactTable'
// import ContactDetails from '@/components/ContactDetails'
import BreadCrumbComponent from '@/components/BreadCrumbComponent'
import SliderComp from '@/components/SliderComp'
//import Repository from '@/services/Repository'
import ContactTable from '../../components/ContactTable.vue'
import ContactDetails from '../../components/ContactDetails.vue'
import contactsRepo from '../../repo/contactsRepo.js'

import leftChevron from '../../assets/img/left_chevron.png'
import rightChevron from '../../assets/img/right_chevron.png'
import { mapGetters, mapActions } from 'vuex'
import Utils from '../../utils/Utils.js'
import * as constants from '../../utils/Constants.js'
import * as mutationTypes from '../../store/mutation-types.js'

export default {
  name: 'Transactions',
  components: {
    'contact-table': ContactTable,
    'contact-details': ContactDetails,
    'bread-crumb-component': BreadCrumbComponent,
    'slider-comp': SliderComp
  },
  beforeRouteUpdate (to, from, next) {
    let query = Utils.cloneObject(to.query)
    this.$store.dispatch('getContacts', query)
    .then(() => {
    })
    next() 
  },
  created () {
    let query = this.$route.query.query
    this.$store.commit(mutationTypes.CHANGE_CLIENT_SEARCH_PARAMETER, constants.CONTACTS)
    this.$store.dispatch('getContacts', {query: query});
  },
  mounted () {
  },
  data () {
    return {
      loading: true,
      error: false,
      isDetailsPanelOpen: true
    }
  },
  destroyed () {
  },
  computed: {
    ...mapGetters({
      contacts: 'contacts'
    })
  },
  methods: {
    collapseDetailsPanel (event) {
      let $img = window.$(event.target)
      let $this = window.$(this.$el)
      let $detailsPanel = $this.find('.contact-details-panel')
      let $collapseButtonDiv = $this.find('.collapse-details-button')
      if (this.isDetailsPanelOpen) {
        // close the panel
        $detailsPanel.addClass('closed')
        $img.attr('src', leftChevron).css('right', '10px')
        $collapseButtonDiv.css('right', '-4px')
      } else {
        $detailsPanel.removeClass('closed')
        $img.attr('src', rightChevron).css('right', '-10px')
        $collapseButtonDiv.css('right', '-5px')
      }
      this.isDetailsPanelOpen = !this.isDetailsPanelOpen

    },
    toggleCollapseButton (isHovered, event) {
      if (this.isDetailsPanelOpen) { return }
      let $img = window.$(event.target).find('img')
      if (isHovered) {
        $img.css('visibility', 'visible')
      } else {
        $img.css('visibility', 'hidden')
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style  lang="scss">
  @import '../../assets/styles/variables';
  @import '../../assets/styles/mixins';

    .col-9{
        height: -moz-calc(94vh - (90px));
        height: -webkit-calc(94vh - (90px));
        height: calc(94vh - (90px));
        border-right: 1px solid #f0f0f0;
        overflow-y: scroll;
        @include scrollbar(5px, 1px);
        padding-right: 0;
    }

</style>
