<template>
  <tbody class="position-relative">

  <tr ref="row" :class="['recon-trans', {error: agent.error}, {opened: activitiesOpened}]">
    <td style="display: block; position: relative; width: 0;">
      <div ref="overlay" class="item-overlay">
        <circle-loader></circle-loader>
      </div>
    </td>
    <td>{{agent.trans_date | moment("D MMM,YYYY")}}</td>
    <td class="text-uppercase">{{agent.type | notAvailable}}</td>
    <td v-name ref="nameRow" style="padding-left: 20px"><avatar :src="agent.picture" username="Lorem Ipsum" color="white" :size="38" ></avatar> {{agent.recepient | name | notAvailable}}</td>
    <td style="display: block; position: relative; width: 0;">
      <div style="position: absolute;width:60vw" v-if="agent.error" ref="error" class="agent-error flex row justify-content-around align-items-center"><div>{{agent.error}}</div></div>
    </td>
    <td>{{agent.service_code}}</td>
    <td>{{agent.initiator | notAvailable}}</td>
    <td>GHc{{agent.amount | notAvailable}}</td>
    <td>{{agent.recepient_phone|notAvailable}}</td>
    <td>{{agent.reference|notAvailable}}</td>
    <td class="text-lowercase">{{agent.state}}</td>

    <td style="text-align: center">
      <div v-if="agent.state=='pending'" class="trans-status orange rounded-circle"></div>
      <div v-else-if="agent.state.toLowerCase()=='complete' || agent.state.toLowerCase()=='paid'" class="trans-status rounded-circle"></div>
      <div v-else class="trans-status red rounded-circle"></div>
    </td>
    <td ref="buttonsRow" v-if="agent.error" class="text-right pr-4">
      <button @click="toggleActivities" :class="['toggle-activities', 'no-margin', 'no-padding', {active: activitiesOpened}]"><img src="../../../assets/img/calculator_recon.svg" alt=""></button>
      <button @click="toggleErrorBar" class="no-margin no-padding"><img src="../../../assets/img/error_recon.svg" alt=""></button>
    </td>
    <td v-else class="text-right pr-4">
      <button @click="signOff" class="no-margin no-padding"><img src="../../../assets/img/file_recon.svg" alt=""></button>
      <!-- <button @click="toggleActivities" :class="['toggle-activities', 'no-margin', 'no-padding', {active: activitiesOpened}]"><img src="../../../assets/img/calculator_recon.svg" alt=""></button> -->
      <button  class="no-margin no-padding"><img style="width: 13px!important;" src="../../../assets/img/cancelled_recon.svg" alt=""></button>
    </td>
    </tr>
    <!-- <tr style="visibility: collapse;">
      <td class="tranny no-padding"  colspan="11" style="padding-left:0;border:0">
      <div class="full-width border-0" id="alltrans-table" ref="activities" style="display:none;">
        <table class="pointer full-width">
            <thead>
                <tr>
                    <th class="pl-4 border-0">Trans Mode- ID</th>
                    <th class="border-0">Customer Name</th>
                    <th class="border-0">Trans Type</th>
                    <!-- <th class="border-0">Cash In</th>
                    <th class="border-0">Cash Out</th> --
                    <th class="border-0">Amount</th>
                    <th class="border-0">Time</th>
                    <th class="border-0">Collection Center</th>
                    <th class="border-0"><span class="chip orange">CSV</span>
                        <span class="chip orange">PDF</span></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="transaction in transactions">
                    <td class="pl-4">{{transaction.id}}</td>
                    <td><avatar :src="transaction.picture" username="Lorem Ipsum" color="white" :size="30" ></avatar>{{transaction.name}}</td>
                    <td>{{transaction.type}}</td>
                    <td>{{transaction.amount}}</td>
                    <!-- <td>{{transaction.cashIn}}</td>
                    <td>{{transaction.cashOut}}</td> --
                    <td>{{transaction.date | moment("hh:mm:ss A")}}</td>
                    <td>{{transaction.branch}}</td>
                    <td>
                      <img style="width: 16px" src="../../../assets/img/2.png" alt="">
                        <!-- <span class="recon-tag" >Reconciled</span> --
                    </td>

                </tr>
            </tbody>
        </table>

      </div>
      </td>
    </tr> -->

    </tbody>



</template>
<!-- the error bar is absolutely position relative to a no content td
 with display block to accurately set the width to the middle
  rows we calculate with code just before showing it
  and watch for the rows resize while its visible -->
<script>
var faker = require('faker')
import nfFake from '@/utils/nfFake'
import Noty from 'noty'
export default {
  name: 'ReconciledAgent',
  props: ['agent'],
  data () {
    return {
      transactions: [],
      activitiesOpened: false,
      showError: false
    }
  },
  methods: {
    updateErrorBarHeight() {
      console.error("yrt")
      let $errorBar = window.$(this.$refs.error)
      let $row = window.$(this.$refs.row)
      let $nameRow = window.$(this.$refs.nameRow)
      let $buttonsRow = window.$(this.$refs.buttonsRow)
      let errorBarWidth = $row.width() - $nameRow.width() - $buttonsRow.width()
      $errorBar.width(errorBarWidth)
      $errorBar.width("60vw")
    },
    updateSignoffOverlayWidth () {
      let $overlay = window.$(this.$refs.overlay)
      let $row = $overlay.closest('tbody')
      $overlay.width($row.width())
    },
    toggleErrorBar () {
      this.showError = !this.showError
      let $error = window.$(this.$refs.error)
      let $row = window.$(this.$refs.row)
      let $buttonsRow = window.$(this.$refs.buttonsRow)
      let $errorTd = $error.parent()
      if(this.showError){
        this.updateErrorBarHeight()
        let that = this
        $error.addClass('active')
        window.$(window).resize(this.updateErrorBarHeight)
      }else{
        $error.removeClass('active')
        window.$(window).off('resize', this.updateErrorBarHeight)
      }
    },
    toggleActivities () {
      let $activities = window.$(this.$refs.activities)
      let $tr = $activities.closest('tr')
      console.error($tr)
      if(this.activitiesOpened){
        $activities.slideUp(() => {
          $tr.css('visibility', 'collapse')
        })
      }else {
        $tr.css('visibility', 'visible')
        $activities.slideDown()
      }
      this.activitiesOpened = !this.activitiesOpened
    },
    signOff () {
      console.error('signing off')
      this.updateSignoffOverlayWidth()
      let $overlay = window.$(this.$refs.overlay)
      $overlay.addClass('active')
      window.$(window).resize(this.updateSignoffOverlayWidth)
      let that = this
      setTimeout(() => {
        window.$(window).off('resize', this.updateSignoffOverlayWidth)
        window.$(that.$el).slideUp(400, function () {
          new Noty({text: 'Signoff Successfull',type: 'success', timeout: 3000}).show()
          that.$emit('signOff', that.agent)
        })
      }, 3000)
    }
  },
  created: function(){
        var locale = ["Achimota Mile 7","Okorkor","Adenta","Maa Mobi","Victor Stanclus"];

        this.picture1 = faker.image.avatar();
        this.agent.branch = nfFake.district()
        this.agent.picture= faker.internet.avatar()
        //this.agent.date= faker.date.recent()
        //this.agent.transactions= faker.random.number().toLocaleString('ja-JP')
        //this.agent.customers= faker.random.number().toLocaleString('ja-JP')
        //this.agent.cashAtHand= faker.random.number().toLocaleString('ja-JP', { style: 'currency', currency: 'GHc'})
        //this.agent.transactionNet= faker.random.number().toLocaleString('ja-JP', { style: 'currency', currency: 'GHc'})
              

        for(let i = 0; i < 5; i ++){
          var rand = Math.floor(Math.random() * 4) + 0;
            let transaction = {
                id: faker.random.number(),
                date: faker.date.recent(),
                name: faker.name.findName(),
                branch: locale[rand],
                product: "School Fees transaction",
                riskIQ: faker.random.number(),
                status: "Fully Approved",
                transactionOfficerName: faker.name.findName(),
                picture: faker.image.avatar(),
                accountNumber: faker.random.number(),
                isReconciled: faker.random.boolean(),
                type: "payment",
                amount: faker.random.number().toLocaleString('ja-JP', { style: 'currency', currency: 'GHc'})
                //type: faker.random.boolean() ? "deposit" : "withdrawal"

            }
            if(faker.random.boolean()){
              var num = faker.random.number();
              transaction.cashIn =  num.toLocaleString('ja-JP', { style: 'currency', currency: 'GHc'});
            }
            else{
              transaction.cashOut = faker.random.number().toLocaleString('ja-JP', { style: 'currency', currency: 'GHc'})
            }
            this.transactions.push(transaction)
        }
  }
}
</script>

<style scoped lang="scss">

  .agent-error{
    background: #e45252;
    color: white;
    position: absolute;
    top: 6px;
    left: -10px;
    z-index: 40;
    bottom: 6px;
    width: 300px;
    width: 60vw;
    display: none;
    height: auto;
    display: none;
    font-size: 12px;
    &.active{
      display: flex;
    }
  }


.sk-fading-circle{
  margin: 10px auto;
}

.row{
 .col{
   width: auto;
   justify-content: space-between
 }
}

.last-trans{
  div{
    height: auto;
    width: 85%;

    @media screen and (min-width: 1440px) {
      width: 70%;
      font-size: 13px;
    }
  }
}
.tranny{
  padding-left: 0 !important;
  height: initial !important;
}

table{
  // td{
  //   padding-left: 20px !important;
  // }
  tr.opened{
    background: #fafafa;
  }
}
.recon-trans{
  // background: #f0f4ff;
  // &:hover{
  //   background: #f0f4ff;
  // }
  // &.error{
  //   background: #f7f0f0;
  // }
  // &.error:hover{
  //   background: #f7f0f0;
  // }
}
</style>
