<template>
  <!-- <v-popover>
    <button :class="['small-icon','reset','flex-row','justify-center','align-center', {green: filterActive}]" @click="stayGreen" style="margin-right: 8px;background:transparent"><img style="width:16px" src="../../../assets/img/reload.svg" alt=""></button>
    <template slot="popover">
      <div class="book content reversal">
          <input type="text" placeholder="Account Number">
          <input type="text" placeholder="Amount">
          <textarea name="" id="" cols="30" rows="4" placeholder="Reason"></textarea>
          <div class="reverse-div">
              <button class="reverse-button btn">Reverse</button>
          </div>

      </div>
    </template>
  </v-popover> -->
    <div class="dropdown">
        <button :id="label" :class="['small-icon','reset','flex-row','justify-center','align-center', {green: filterActive}]" @click="stayGreen" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-right: 8px;background:transparent"><img style="width:16px" src="../../../assets/img/reload.svg" alt=""></button>
        <!-- <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown button
        </button> -->
        <div class="dropdown-menu book content border dropdown-menu-right" :aria-labelledby="label">
            <div class="reversal full-width">
                <input type="text" placeholder="Account Number">
                <input type="text" placeholder="Amount">
                <textarea name="" id="" cols="30" rows="4" placeholder="Reason"></textarea>
                <div class="reverse-div">
                    <button class="reverse-button btn">Reverse</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import * as events from '@/utils/constants/events'
import Utils from '@/utils/Utils'
export default {
    name: 'ReverseTransaction',
    props: ['id'],
    methods: {
        stayGreen(){
            this.filterActive = !this.filterActive;
            console.log("FILTER:"+this.filterActive)
        }
    },
    data () {
        return {
            filterActive: false
        }
    }
}
</script>
<style lang="scss">
    @import '../../../assets/styles/variables.scss';
    @import '../../../assets/styles/mixins.scss';

    button{
        background: transparent;
        outline: 0px;
    }
    .loans-tooltip-inner.loans-popover-inner {
        border: 0px;
        background: white;
        padding: 0;
        width: auto;
        height: auto;

        &:after,&:before{
            content: none;
        }
    }
    .reversal{
        background: white;
       // border: 1px solid #c7c4c4;
        width: 200px;
        height: auto;
        padding-top: 10px;
        //margin-top: 10px;
        border-radius: 2px;
        display: flex;
        flex-direction: column;
        justify-content: right;
        align-items: right;
        -webkit-box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.40);
        -moz-box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.40);
        box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.40);

        input,textarea{
            width: 90%;
            margin-left: 5%;
            margin-right: 5%;
            margin-bottom: 10px;
            padding-left: 5px;
        }
        input{
            height: 30px;
        }
    }

    .reverse-div{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        padding-right: 5%;
    }

    .reverse-button{
        font-size: 12px;
        width: auto !important;
        padding: 0 8px;
        height: 30px;
        // margin-left: 60%;
        margin-bottom: 10px;
        color: white;
        background: $blue;
    }

    // .reversal:before {
    //     content: '';
    //     position: absolute;
    //     bottom: 100%;
    //     left: 28%;
    //     margin-left: -9px;
    //     width: 0;
    //     height: 0;
    //     border-bottom: 9px solid #6D6D6D;
    //     border-right: 9px solid transparent;
    //     border-left: 9px solid transparent;
    // }
    // .reversal:after {
    //     content: '';
    //     position: absolute;
    //     bottom: 100%;
    //     left: 28%;
    //     margin-left: -8px;
    //     width: 0; height: 0;
    //     border-bottom: 8px solid #FFFFFF;
    //     border-right: 8px solid transparent;
    //     border-left: 8px solid transparent;
    //     z-index: 2000;
    // }

    .green{
        background: $blue !important;
        opacity: 1;
        visibility: visible !important;

        img{
            filter: invert(1)
        }
    }
</style>
