<template>
   <div class="full-height">

    <div id="unrecon-table">
        <table class="table position-relative">
            <tbody class="no-margin book" style="overflow-y: scroll;height: auto" >
                <tr>
                    <div class="recon-trans row">
                        <div style="width:60px" class="avatar flex-row align-center no-margin no-padding">
                            <!-- <avatar :src="picture1" v-bind:username="Stacy Hill" color="white" :size="45" ></avatar>  -->
                            <div></div>
                        </div>
                        <div class="last-trans flex-column justify-center">
                            <p class="no-padding"><strong>Stacy Hill</strong> - Adenta,Branch</p>
                            <p class="no-margin no-padding">GHc30.00 <strong>Cash At Hand</strong> | GHc8.29 <strong>Net Transaction</strong> |
                               GHc20.00 <strong>Transactions</strong> | GHc12.56 <strong>Customers</strong>
                            </p>
                        </div>
                        <div style="width:15%" class="flex-column justify-center align-right">
                            <p class="no-margin no-padding trans-date">4 Mar,2018</p>
                            <p class="no-margin no-padding">
                                <button class="no-margin no-padding"><img src="../assets/img/upload.svg" alt=""></button>
                                <button class="no-margin no-padding"><img src="../assets/img/calculator.svg" alt=""></button>
                                <button class="no-margin no-padding"><img src="../assets/img/cancel.svg" alt=""></button>
                            </p>
                        </div>
                    </div>
                </tr>
                <tr>
                    <div class="recon-trans row">
                        <div style="width:60px" class="avatar flex-row align-center no-margin no-padding">
                            <!-- <avatar :src="picture" v-bind:username="Stacy Hill" color="white" :size="45" ></avatar> -->
                            <div></div>
                        </div>
                        <div class="last-trans flex-column justify-center">
                            <p class="no-padding"><strong>Yaw Aziz Abdulai</strong> - Adenta,Branch</p>
                            <p class="no-margin no-padding">GHc30.00 <strong>Cash At Hand</strong> | GHc8.29 <strong>Net Transaction</strong> |
                               GHc20.00 <strong>Transactions</strong> | GHc12.56 <strong>Customers</strong>
                            </p>
                        </div>
                        <div style="width:15%" class="flex-column justify-center align-right">
                            <p class="no-margin no-padding trans-date">4 Mar,2018</p>
                            <p class="no-margin no-padding">
                                <button class="no-margin no-padding"><img src="../assets/img/upload.svg" alt=""></button>
                                <button class="no-margin no-padding"><img src="../assets/img/calculator.svg" alt=""></button>
                                <button class="no-margin no-padding"><img src="../assets/img/warning-sign.svg" alt=""></button>
                            </p>
                        </div>
                    </div>
                </tr>
                <tr>
                    <div class="recon-trans row">
                        <div style="width:60px" class="avatar flex-row align-center no-margin no-padding">
                            <!-- <avatar :src="picture" v-bind:username="Stacy Hill" color="white" :size="45" ></avatar> -->
                            <div></div>
                        </div>
                        <div class="last-trans flex-column justify-center">
                            <p class="no-padding"><strong>Yaw Aziz Abdulai</strong> - Adenta,Branch</p>
                            <p class="no-margin no-padding">GHc30.00 <strong>Cash At Hand</strong> | GHc8.29 <strong>Net Transaction</strong> |
                               GHc20.00 <strong>Transactions</strong> | GHc12.56 <strong>Customers</strong>
                            </p>
                        </div>
                        <div style="width:15%" class="flex-column justify-center align-right">
                            <p class="no-margin no-padding trans-date">4 Mar,2018</p>
                            <p class="no-margin no-padding">
                                <button class="no-margin no-padding"><img src="../assets/img/upload.svg" alt=""></button>
                                <button class="no-margin no-padding"><img src="../assets/img/calculator.svg" alt=""></button>
                                <button class="no-margin no-padding"><img src="../assets/img/warning-sign.svg" alt=""></button>
                            </p>
                        </div>
                    </div>
                </tr>
                <tr>
                    <div class="recon-trans row">
                        <div style="width:60px" class="avatar flex-row align-center no-margin no-padding">
                            <!-- <avatar :src="picture" v-bind:username="Stacy Hill" color="white" :size="45" ></avatar> -->
                            <div></div>
                        </div>
                        <div class="last-trans flex-column justify-center">
                            <p class="no-padding"><strong>Yaw Aziz Abdulai</strong> - Adenta,Branch</p>
                            <p class="no-margin no-padding">GHc30.00 <strong>Cash At Hand</strong> | GHc8.29 <strong>Net Transaction</strong> |
                               GHc20.00 <strong>Transactions</strong> | GHc12.56 <strong>Customers</strong>
                            </p>
                        </div>
                        <div style="width:15%" class="flex-column justify-center align-right">
                            <p class="no-margin no-padding trans-date">4 Mar,2018</p>
                            <p class="no-margin no-padding">
                                <button class="no-margin no-padding"><img src="../assets/img/upload.svg" alt=""></button>
                                <button class="no-margin no-padding"><img src="../assets/img/calculator.svg" alt=""></button>
                                <button class="no-margin no-padding"><img src="../assets/img/warning-sign.svg" alt=""></button>
                            </p>
                        </div>
                    </div>
                </tr>

            </tbody>
        </table>
    </div>
    <div id="alltrans-table">
        <table class="pointer full-width">
            <thead>
                <tr>
                    <th>Trans Mode- ID</th>
                    <th>Customer Name</th>
                    <th>Trans Type</th>
                    <th>Cash In</th>
                    <th>Cash Out</th>
                    <th>Time</th>
                    <th><span class="chip orange">CSV</span>
                        <span class="chip orange">PDF</span></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="transaction in transactions">
                    <td>{{transaction.id}}</td>
                    <td>{{transaction.name}}</td>
                    <td>{{transaction.type}}</td>
                    <td>{{transaction.amount}}</td>
                    <td>{{transaction.amount2}}</td>
                    <td>{{transaction.date}}</td>
                    <td>
                        <span class="recon-tag" >Reconciled</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

  </div>

</template>

<script>
import ReconciledAgent from './transactions/realtime/ReconciledAgent.vue'
var faker = require('faker');
export default {
  name: 'FieldTransactions',
  components: {
    'reconciled-agent': ReconciledAgent
  },
  created: function(){
        var type = ["deposit","withdrawal"];
        var rand = Math.floor(Math.random() * 1) + 0;
        this.picture1 = faker.image.avatar();

        for(let i = 0; i < 5; i ++){
            let transaction = {
                id: faker.random.number(),
                date: faker.date.recent(),
                name: faker.name.findName(),
                branch: "Adenta, Branch",
                product: "School Fees transaction",
                amount: faker.finance.amount(),
                amount2: faker.finance.amount(),
                riskIQ: faker.random.number(),
                status: "Fully Approved",
                transactionOfficerName: faker.name.findName(),
                picture: faker.image.avatar(),
                accountNumber: faker.random.number(),
                isReconciled: faker.random.boolean(),
                transType: type[rand],

            }
            this.transactions.push(transaction)
        }
  },
  data () {
    return {
      transactions: [],
    }
  }

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style  lang="scss">
    @import '../assets/styles/variables';
    @import '../assets/styles/mixins';

    .table{
        margin-bottom: 0;
    }

    .recon-trans{
        width: 100%;
        height: 60px;
        border-bottom: 1px solid #f0f0f0;
        padding: 0 17px;
        margin: 0;
        font-size: 12px;

        div{
            height: inherit;

            p:first-child{
                margin-bottom: 5px;
            }
        }
        button{
            height: 24px;
            width: 24px;
            border: 1px solid lightgray;
            background: white;
            //padding: 4px;
            line-height: 16px;
            border-radius: 2px;
            margin-left: 5px;
            img{
                width: 12px;
                vertical-align: text-top;
            }
        }

        .trans-date{
            color: gray;
            font-size: 11px;
        }

        .last-trans{
            width: calc(85% - (60px));
        }


    }


    table{
        position: relative;
        thead{

            th{
                height: 40px;
                background: #fdfdfd;
            }
        }
    }

    #alltrans-table{
        .chip{
            width: 25px;
            height: 25px;
            //font-size: 10px;
        }



        td,th{
            text-align: left;
            &:first-child{
                padding-left: 20px;
            }
            &:last-child{
                padding-right: 20px;
                text-align: right;
            }
        }

        td{
            height: 40px;
        }

        th{
            background: #fafafa;
        }
    }

    .avatar{
        div{
            width: 45px;
            height: 45px;
            border-radius: 50%;
            background: red;
        }
    }

    .recon-tag{
        width: 60px;
        background: $blue;
        padding: 2px;
        margin: 0;
        text-align: center;
        font-size: 10px;
        border-radius: 2px;
        color: white;
    }

</style>


<style lang="scss" scoped>

</style>
