<template>
  <!-- <div>
    <div ref="overlay" class="item-overlay">
      <circle-loader></circle-loader>
    </div>
    <div class="d-flex flex-row recon-trans justify-content-between align-items-center">
      <avatar :src="agent.picture" username="Lorem Ipsum" color="white" :size="45" ></avatar>
      <div class="last-trans flex-column justify-center">
          <p class="no-padding"><strong style="font-size: 14px">{{agent.name}}</strong> - {{agent.branch}}</p>
          <!-- <p class="no-margin no-padding">GHc{{agent.cashAtHand}} <strong>Cash At Hand</strong> | GHc{{agent.transactionNet}} <strong>Net Transaction</strong> |
             {{agent.transactions}} <strong>Transactions</strong> | {{agent.customers}} <strong>Customers</strong>
          </p>  --
          <div class="flex-row" style="justify-content: space-between" >
            <div style="width: auto; text-align: center">{{agent.cashAtHand}} <strong style="font-weight: 400" class="medium">Cash At Hand</strong>  </div> |
            <div style="width: auto; text-align: center">{{agent.transactionNet}} <strong style="font-weight: 400" class="medium">Net Transaction</strong></div> |
            <div style="width: auto; text-align: center">{{agent.transactions}} <strong style="font-weight: 400" class="medium">Transactions</strong> </div> |
            <div style="width: auto; text-align: center">{{agent.customers}} <strong style="font-weight: 400" class="medium">Customers</strong></div>
          </div>
      </div>
      <div class="mid-trans flex-column justify-center align-right">
          <p class="no-margin no-padding trans-date">4 Mar,2018</p>
          <p class="no-margin no-padding">
              <button @click="toggleActivities" :class="['toggle-activities', 'no-margin', 'no-padding', {active: activitiesOpened}]"><img src="../../../assets/img/calculator.svg" alt=""></button>
              <button class="no-margin no-padding"><img src="../../../assets/img/pin.svg" alt=""></button>
          </p>
      </div>
    </div>
    <div ref="activities" style="display: none;" id="alltrans-table">
        <table class="pointer full-width">
            <thead>
                <tr>
                    <th>Trans Mode- ID</th>
                    <th>Customer Name</th>
                    <th>Trans Type</th>
                    <th>Cash In</th>
                    <th>Cash Out</th>
                    <th>Time</th>
                    <th><span class="chip orange">CSV</span>
                        <span class="chip orange">PDF</span>
                        <checkbox v-on:checked="onAllChecked" :isChecked="allTransactionsChecked" :id="agent.id" style="display: inline-block;"></checkbox>
                    </th>
                </tr>
            </thead>
            <tbody>
                <unreconciled-agent-item
                  v-on:checked="checkTransaction"
                  :allTransactionsChecked="otherCheckboxesState"
                   :transaction="transaction"
                   v-for="transaction in transactions"
                   :key="transaction.id">
                 </unreconciled-agent-item>
            </tbody>

        </table>
        <div class="tfoot">
          <button :class="['btn', 'reconcile-button', {disabled: !allTransactionsChecked}]">Reconcile</button>
        </div>
    </div>
  </div> -->
  <tbody>
    <tr :class="['position-relative', 'recon-trans', {opened: activitiesOpened}]">
      <td style="display: block; position: relative; width: 0;">
        <div ref="overlay" class="item-overlay">
          <circle-loader></circle-loader>
        </div>
      </td>
      <td style="padding-left: 20px"><avatar :src="agent.picture" username="Lorem Ipsum" color="white" :size="38" ></avatar> {{agent.name}}</td>
      <td style="display: block; position: relative;"></td>
      <td>{{agent.branch}}</td>
      <td>{{agent.date | moment("D MMM,YYYY")}}</td>
      <td>{{agent.transactions}}</td>
      <td>{{agent.customers}}</td>
      <td>{{agent.cashAtHand}}</td>
      <td>{{agent.transactionNet}}</td>

      <td></td>
      <td class="text-right pr-4">
        <button @click="toggleActivities" :class="['toggle-activities', 'no-margin', 'no-padding', {active: activitiesOpened}]"><img src="../../../assets/img/calculator_recon.svg" alt=""></button>
        <button @click="toggleMap" :class="['no-margin', 'no-padding', {active: mapsOpened}]"><img src="../../../assets/img/location.svg" alt=""></button>
      </td>
    </tr>
    <tr style="visibility: collapse;">
      <td class="tranny no-padding"  colspan="11" style="padding-left:0">
        <div class="full-width" ref="activities" id="alltrans-table" style="display:none;">
          <table class="pointer full-width">
            <thead>
                <tr>
                    <th>Trans Mode- ID</th>
                    <th>Customer Name</th>
                    <th>Trans Type</th>
                    <th>Cash In</th>
                    <th>Cash Out</th>
                    <th>Time</th>
                    <th><span class="chip orange">CSV</span>
                        <span class="chip orange">PDF</span>
                        <checkbox v-on:checked="onAllChecked" :isChecked="allTransactionsChecked" :id="agent.id" style="display: inline-block;"></checkbox>
                    </th>
                </tr>
            </thead>
            <tbody>
                <unreconciled-agent-item
                  v-on:checked="checkTransaction"
                  :allTransactionsChecked="otherCheckboxesState"
                   :transaction="transaction"
                   v-for="transaction in transactions"
                   :key="transaction.id">
                 </unreconciled-agent-item>
            </tbody>

          </table>
          <div class="tfoot">
            <button :class="['btn', 'reconcile-button', {disabled: !allTransactionsChecked}]">Reconcile</button>
          </div>
        </div>
      </td>
    </tr>
    <tr style="visibility: collapse">
      <td class="tranny no-padding"  colspan="11" style="padding-left:0">
        <div class="full-width" ref="maps" id="alltrans-table" style="display:none;">
          <dash-map :networkAgents="transactions" :id="agent.customers"></dash-map>
        </div>
      </td>
    </tr>
  </tbody>
</template>

<script>
var faker = require('faker');
import Utils from '@/utils/Utils'
import UnReconciledAgentItem from './UnReconciledAgentItem'
export default {
  name: 'UnReconciledAgent',
  props: ['agent'],
  components: {
    'unreconciled-agent-item': UnReconciledAgentItem
  },
  data () {
    return {
      transactions: [],
      activitiesOpened: false,
      noCheckedTransactions: 0,
      allTransactionsChecked: false,
      otherCheckboxesState: false,
      mapsOpened: false,
    }
  },
  computed: {
    noCheckableTransactions () {
      return this.transactions.filter(el => !el.hasError || (el.hasError == true && el.error == 0))
    }
  },
  methods: {
    onAllChecked (checked) {
      this.allTransactionsChecked = checked
      this.otherCheckboxesState = checked
    },
    checkTransaction (checked) {
      if(checked){
        console.error('sgh', checked)
        this.noCheckedTransactions  = this.noCheckedTransactions + 1
      } else {
        this.noCheckedTransactions = this.noCheckedTransactions - 1
      }
      if(this.noCheckedTransactions == this.noCheckableTransactions.length){
        this.allTransactionsChecked = true
      }else{
        this.allTransactionsChecked = false
      }
    },
    toggleActivities () {
      let $activities = window.$(this.$refs.activities)
      let $tr = $activities.closest('tr')
      if(this.activitiesOpened){
        $activities.slideUp(() => {
          $tr.css('visibility', 'collapse')
        })
      }else {
        $tr.css('visibility', 'visible')
        $activities.slideDown()
      }
      this.activitiesOpened = !this.activitiesOpened
    },
    toggleMap(){
      let $maps = window.$(this.$refs.maps)
      let $tr = $maps.closest('tr')
      if(this.mapsOpened){
        $maps.slideUp(() => {
          $tr.css('visibility', 'collapse')
        })
      }else {
        $tr.css('visibility', 'visible')
        $maps.slideDown()
      }
      this.mapsOpened = !this.mapsOpened
      this.$bus.$emit("isMapResized");
    }
  },
  created: function(){
        var type = ["deposit","withdrawal"];
        var rand = Math.floor(Math.random() * 1) + 0;
        this.picture1 = faker.image.avatar();

        for(let i = 0; i < 5; i ++){
            var long = Math.floor(Math.random() * -1) + -0.2278596;
            var lat = Math.floor(Math.random() * 5.7) + 5.6269246;
            let transaction = {
                id: faker.random.number(),
                date: faker.date.recent(),
                name: faker.name.findName(),
                branch: "Adenta, Branch",
                product: "School Fees transaction",
                amount: faker.finance.amount(),
                amount2: faker.finance.amount(),
                riskIQ: faker.random.number(),
                status: "Fully Approved",
                transactionOfficerName: faker.name.findName(),
                picture: faker.image.avatar(),
                accountNumber: faker.random.number(),
                isReconciled: faker.random.boolean(),
                type: faker.random.boolean() ? "deposit" : "withdrawal",
                longitude: long,
                latitude: lat,
                firstName: this.$faker().name.firstName(),
                lastName: this.$faker().name.lastName(),
                status: this.$faker().random.boolean() ? "Active" : "Inactive",
                primaryColor: this.$faker().internet.color(),
                secondaryColor: this.$faker().internet.color(),
            }
            if(faker.random.boolean()){
              //transaction.cashIn = "GHc"+(faker.finance.amount(10,10000,2)).toLocaleString()
              var num = faker.random.number();
              transaction.cashIn =  num.toLocaleString('ja-JP', { style: 'currency', currency: 'GHc'});
            }
            else{
              transaction.cashOut = faker.random.number().toLocaleString('ja-JP', { style: 'currency', currency: 'GHc'})
            }
            if(Utils.randomBoolean(3)){
              transaction.isGroup = true
              transaction.groupSize = Math.floor(Math.random() * 100);
            }
            if(Utils.randomBoolean(7)){
              transaction.hasError = true
            }
            if(transaction.hasError){
              transaction.error = Math.floor(Math.random() * 3)
            }
            this.transactions.push(transaction)
        }
  }
}
</script>

<style scoped lang="scss">
  @import '../../../assets/styles/variables.scss';
  @import '../../../assets/styles/mixins.scss';
  table{
    // td{
    //   padding-left: 20px !important;
    // }
    tr.opened{
      background: #fafafa;
    }
  }
  .group-size{
    display: inline-block;
    background: $blue;
    color: white;
    padding: 0 3px;
    margin-left: 10px;
  }
  .reconcile-button{
    &.disabled{
      cursor: not-allowed;
    }
  }
  .tranny{
    height: initial !important;
  }
  .md-checkbox{
    margin-left: 5px;
  }

    .tfoot{
        display: flex;
        justify-content: flex-end;
        width: 100%;
        height: 50px;
        align-items: center;
    }

  .last-trans{
    div{
      height: auto;
      width: 90%;

      @media screen and (min-width: 1440px) {
        width: 70%;
        font-size: 13px;
      }

    }
  }
  .recon-trans{
    //background: #effcff;
    // &:hover{
    //   background: #effcff;
    // }
  }
</style>
