<template>
  <div class="form-group black-text m-0">
      <label class="mb-1" :for="id">{{title}}</label>
      <input v-if="mode == 'EDIT'" ref="input" :value="value" @input="input" :id="id" :type="mode || text" class="form-control" :placeholder="placeholder">
      <input v-else ref="input" :value="value | notAvailable" @input="input" :id="id" type="text" class="form-control" readonly>
  </div>
</template>

<script>
export default {
    name: 'ArrayInput', 
    props: {
        title: null,
        placeholder: null,
        id: null,
        mode: {
            default: 'EDIT',
            type: String
        },
        value: {
          default: '',
          type: null
        }
    },
    created () {
      this.init()
    },
    watch: {
      value () {
        this.init()
      }
    },
    methods: {
      input () {
        let value = this.$refs.input.value
        value = value.split(',')
        this.$emit('input', value)
      },
      init() {
        if(this.value){
          this.model = this.value
        }
      }
    },
    data(){
        return {
            model: null
        }
    }

}
</script>

<style lang="scss" scoped>

</style>


