<template>
  <div class="input-form">
        <label class="no-margin medium" :for="id">{{title}}</label>
        <div :id="id" class="input-group">
            <input type="text" class="form-control pickaday" v-model="inputData" :placeholder="placeholder" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append border-left-0">
                <span class="input-group-text border-left-0" id="basic-addon2"><i class="fa fa-calendar"></i></span>
            </div>
        </div>
        
  </div>
</template>

<script>
import Pikaday from 'pikaday'
import Moment from 'moment'
export default {
    name: 'DateForm', 
    props: {
        title: null,
        placeholder: null,
        id: null,
        inputData: null
    },
    data(){
        return {
            agentDate: null
        }
    },
    mounted:function(){
        // let endDate = Moment()
        // //let startDate = Moment().subtract(10, 'days')
        // this.agentDate =  new Pikaday({ field: window.$('.pickaday')[0],
        //   maxDate: endDate.toDate()
        // });
        //this.transactionsStartDate.setMoment(startDate)
    },
}
</script>

<style lang="scss" scoped>
    .input-form{
        width: inherit;
        font-size: 12px;

        input,.input-group-append{
            height: 30px;
        }
        // .input-group-append{
        //     width: 10%;
        // }
    }
</style>