<template>
  <div id="image-form" class="p-0">
      <img :src="src" alt="">
  </div>
</template>

<script>

export default {
    name: 'ImageForm',
    props: ['id','src'],
}
</script>

<style lang="scss" scoped>
    #image-form{
        height: 150px;
        display: inline-block; 

        img{
            width: 100%;
            height: 100%;
        }
    }
</style>


