<template>
  <div class="input-form m-0">
        <div class="form-group black-text m-0">
            <label class="mb-1" :for="id">{{title}}</label>
            <input ref="input" :value="value" @input="input" :id="id" :type="mode || text" class="form-control" :placeholder="placeholder">
        </div>
        <div v-if="title === 'Address' && inputData"> 
            <div id="address-map"></div>
        </div>
  </div>
</template>

<script>
export default {
    name: 'InputForm', 
    props: {
        title: null,
        placeholder: null,
        id: null,
        inputData: null,
        mode: {
            default: 'text',
            type: String
        },
        value: {
          default: '',
          type: null
        }
    },
    methods: {
      input () {
        this.$emit('input', this.$refs.input.value)
      }
    },
    data(){
        return {
            // inputData: 'blue'
            picture: this.$faker().image.avatar(),
            longitude: '',
            latitude: '',
            model: null
        }
    },
    mounted() {
        this.model = this.value
        if(this.inputData && this.title === 'Address'){
            mapboxgl.accessToken ='pk.eyJ1Ijoic2VkZGllNjIiLCJhIjoiY2pmMmtyZTBpMHhrZTMzb210dHE4cmxkaSJ9.t4Q4KTOSUCh4wRO13p2HZQ';
            var map = new mapboxgl.Map({
                container: 'address-map', // container id
                style: 'mapbox://styles/mapbox/streets-v9', // stylesheet location
                center: [0,8], // starting position [lng, lat]
                zoom: 10 // starting zoom
            });
                var url= 'https://maps.googleapis.com/maps/api/geocode/json?address='+this.inputData+'&key=AIzaSyC0EP_ZBAEW0zquREGfki1lovQ9duq7lwQ'

                let settings = { 
                    url: url,
                    method: "POST"
                }

                //var contentString= '<div class="dashboard-info book d-flex flex-column"><div class="d-flex px-2 pt-2 pb-0 flex-row"><img class="rounded-circle" src="'+this.picture+'" alt=""><div class="d-flex flex-column pl-2"><p style="font-size: 14px" class="no-padding no-margin">'+this.name+'<br><strong>'+this.name+'</strong></p><p class="no-padding no-margin uppercase">'+marker.properties.type+'</p><p style="font-size: 10px" class="no-padding no-margin text-secondary">'+marker.properties.branch+' Branch</p></div></div>  <div class="dropdown-divider border-bottom border-top"></div><div style="height: 30px" class="d-flex px-2 justify-content-between"><div class="d-flex flex-row"><div style="background-color:'+marker.properties.primaryColor+'" class="agent-status rounded-circle"></div><p class="pl-2 bold">'+marker.properties.status+'</p></div><p>233 (0)208 012 893</p></div></div></div>';
                const xhr = window.$.ajax(settings);
                xhr.done((data) => {
                    console.error("Error:",data.results);
                    var el = document.createElement('div');
                    el.className = 'marker';
                    el.style.animationName = "pulse";
                    el.style.animationDuration="0.5s";
                    el.style.animationTimingFunction= "ease-in";
                    el.style.animationIterationCount="infinite"
                    new mapboxgl.Marker(el)
                    .setLngLat(data.results[0].geometry.location)
                    .setPopup(new mapboxgl.Popup({ offset: 2 }) // add popups
                    .setHTML('<div class="p-2 m-3">'+this.inputData+'</div>'))
                    .addTo(map);
                    this.longitude = data.results[0].geometry.location.lng;
                    this.latitude = data.results[0].geometry.location.lat;
                    map.flyTo({
                        center: {
                            lng: data.results[0].geometry.location.lng,
                            lat: data.results[0].geometry.location.lat}
                    })
                });

                var framesPerSecond = 15; 
                var initialOpacity = 1
                var opacity = initialOpacity;
                var initialRadius = 8;
                var radius = initialRadius;
                var maxRadius = 18;

                map.on('load', function () {

                    // Add a source and layer displaying a point which will be animated in a circle.
                    map.addSource('point', {
                        "type": "geojson",
                        "data": {
                            "type": "Point",
                            "coordinates": [
                                1,1
                            ]
                        }
                    });

                    map.addLayer({
                        "id": "point",
                        "source": "point",
                        "type": "circle",
                        "paint": {
                            "circle-radius": initialRadius,
                            "circle-radius-transition": {duration: 0},
                            "circle-opacity-transition": {duration: 0},
                            "circle-color": "#007cbf"
                        }
                    });

                    map.addLayer({
                        "id": "point1",
                        "source": "point",
                        "type": "circle",
                        "paint": {
                            "circle-radius": initialRadius,
                            "circle-color": "#007cbf"
                        }
                    });


                    function animateMarker(timestamp) {
                        setTimeout(function(){
                            requestAnimationFrame(animateMarker);

                            radius += (maxRadius - radius) / framesPerSecond;
                            opacity -= ( .9 / framesPerSecond );

                            map.setPaintProperty('point', 'circle-radius', radius);
                            map.setPaintProperty('point', 'circle-opacity', opacity);

                            if (opacity <= 0) {
                                radius = initialRadius;
                                opacity = initialOpacity;
                            } 

                        }, 1000 / framesPerSecond);
                        
                    }

                    // Start the animation.
                    animateMarker(0);
                });

                
            }
        }
    }
</script>

<style lang="scss" scoped>
    .input-form{
        width: inherit;
        font-size: 12px;

        input{
            height: 30px;
        }
    }

    #address-map{
        width: inherit;
        height: 200px;
    }
</style>


