<template>
  <input v-if="mode=='VIEW'" :value="model | notAvailable" readonly class="form-control"/>
  <input v-else v-model="model" @input="input" id="first-name" type="text" class="form-control">
</template>

<script>
export default {
    name: 'NfInput', 
    props: {
        label: null,
        placeholder: null,
        id: null,
        mode: {
            default: 'EDIT',
            type: String
        },
        value: {
          default: '',
          type: null
        }
    },
    created () {
      this.init()
    },
    watch: {
      value () {
        this.init()
      }
    },
    methods: {
      input () {
        this.$emit('input', value)
      },
      init() {
        if(this.value){
          this.model = this.value
        }
      }
    },
    data(){
        return {
            model: null
        }
    }

}
</script>

<style lang="scss" scoped>

</style>


