<template>
  <div class="input-form m-0">
        <div class="form-group black-text m-0">
            <label class="mb-1" :for="id">{{title}}</label>
            <input :id="id" type="text" class="form-control" :placeholder="placeholder" v-model="inputData">
        </div>
  </div>
</template>

<script>
export default {
    name: 'InputForm', 
    props: {
        title: null,
        placeholder: null,
        id: null,
        inputData: null
    },
    data(){
        return {
            // inputData: 'blue'
        }
    }
}
</script>

<style lang="scss" scoped>
    .input-form{
        width: inherit;
        font-size: 12px;

        input{
            height: 30px;
        }
    }
</style>


