<template>
  <div class="form-group select-form">
    <label :for="id">{{title}}</label>
    <select v-model="inputData" class="custom-select mr-sm-2" :id="id">
        <option selected>Choose...</option>
        <option v-for="option in options" :value="option.value">{{option.option}}</option>
       
    </select>
  </div> 
</template> 

<script>
export default {
    name: 'SelectForm',
    props: ['id','title','options'],
    data(){
        return {
            inputData: ''
        }
    }
}
</script>

<style lang="scss" scoped>
    .select-form{
        width: inherit;
        font-size: 12px;
        select{
            height: 30px;
        }
    }
</style>


